<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('name') %><br>
    <%= f.text_field :name  ,  :class => 'form-control' %>
  </div>
    <p>
    <%= f.label :role, t('Role')  %><br>
    
    <%= f.select :role, Role.all.collect {|p| [ p.name, p.id ] }, {}, {:class=>'form-control'} %>
    
  </p>
  <p>
    <%= f.label :group, t('group')  %><br>
    
    <%= f.select :group, UsersGroup.all.collect {|p| [ p.name, p.id ] }, {}, {:class=>'form-control'} %>
    
  </p>
  <div class="field">
    <%= f.label :email , t('email') %><br>
    <%= f.text_field :email  ,  :class => 'form-control' %>
  </div>
   <div class="actions  text-center"> 
      <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %>  </button>
   </div> 

<% end %>
