

<script>

$(document).ready(function() {
    jQuery('select').niceSelect();

var current_currency='dollar';


    


$("#EGP").click(function() {



    $("#EGP").addClass('active');
    $("#SAR").removeClass('active');
    $("#USD").removeClass('active');

    $('#walletvalue').text('<%=
    if @egp_wallet != nil and @egp_wallet.is_deleted == 0
        sprintf("%.2f",((@egp_wallet.balance.to_f + @total_frozen_egp.to_f).round(2).to_s))

    # @egp_wallet.balance.round(2).to_s

    end

     %>');

    current_currency='egp';
   // alert(current_currency);

    return false;

});


$("#USD").click(function() {
    $("#USD").addClass('active');
    $("#EGP").removeClass('active');
    $("#SAR").removeClass('active');
        $('#walletvalue').text('<%=
        if @dollar_wallet != nil and @dollar_wallet.is_deleted == 0
            sprintf("%.2f",((@dollar_wallet.balance.to_f + @total_frozen_dollar.to_f).round(2).to_s))
         # sprintf("%.2f",(@dollar_wallet.balance.to_s)) 
         end
         %>');
        current_currency='dollar';
        //alert(current_currency);


        return false;

    });

    $("#SAR").click(function() {

        $("#SAR").addClass('active');
        $("#EGP").removeClass('active');
        $("#USD").removeClass('active');

        current_currency='sar';
            $('#walletvalue').text('<%=
            if @sar_wallet != nil and  @sar_wallet.is_deleted == 0
             sprintf("%.2f",((@sar_wallet.balance.to_f + @total_frozen_riyal.to_f).round(2).to_s))
            # sprintf("%.2f",(@sar_wallet.balance.to_s))


            end
             %>');
           // alert(current_currency);


            return false;

        });

        //@usdtoegp =    Setting.where(key:'USD TO EGP').first
        //@egptousd =    Setting.where(key:'EGP TO USD').first
         //@egptors =    Setting.where(key:'EGP TO SAR').first

         //@rstoegp =    Setting.where(key:'SAR TO EGP').first
         //@usdtors =    Setting.where(key:'USD TO SAR').first
         //@rstousd =    Setting.where(key:'SAR TO USD').first


        $("#toEGP").click(function() {
            if (current_currency == 'egp') {

                $('#walletvalue').text('<%=
                if @egp_wallet != nil and @egp_wallet.is_deleted == 0
                
                sprintf("%.2f",((@egp_wallet.balance.to_f + @total_frozen_egp.to_f).round(2).to_s))
                # sprintf("%.2f",(@egp_wallet.balance.to_s))
                end

                %>');

                                }

                if (current_currency == 'dollar') {

                var y = "<%= @dollar_wallet.balance.to_f + @total_frozen_dollar.to_f %>";
                var x = "<%= @usdtoegp.value.to_f%>";
                var result=(x*y).toFixed(2);
                $('#walletvalue').text(result.toString());

                }

                if (current_currency == 'sar') {

                                    var y = "<%=
                                    if @sar_wallet != nil and  @sar_wallet.is_deleted == 0

                                    @sar_wallet.balance.to_f + @total_frozen_riyal.to_f
                                    end
                                    %>";
                                    var x = "<%= @rstoegp.value.to_f%>";
                                    var result=(x*y).toFixed(2);
                                    $('#walletvalue').text(result.toString());

                 }


                return false;

            });

            $("#toSAR").click(function() {

                if (current_currency == 'sar') {

                    $('#walletvalue').text('<%=
                    if @sar_wallet != nil and  @sar_wallet.is_deleted == 0
                        @sar_wallet.balance.to_f + @total_frozen_riyal.to_f
                     
                    # @sar_wallet.balance.to_s
                    end
                    %>');

                                    }

                     if (current_currency == 'dollar') {

                     var y = "<%= @dollar_wallet.balance.to_f + @total_frozen_dollar.to_f %>";
                     var x = "<%= @usdtors.value.to_f%>";
                     var result=(y*x).toFixed(2);
                     $('#walletvalue').text(result.toString());

                     }

                     if (current_currency == 'egp') {

                                         var y = "<%=
                                         if @egp_wallet != nil and @egp_wallet.is_deleted == 0
                                         @egp_wallet.balance.to_f + @total_frozen_egp.to_f
                                         # @egp_wallet.balance.to_f
                                         end

                                         %>";
                                         var x = "<%= @egptors.value.to_f%>";
                                         var result=(y*x).toFixed(2);
                                         $('#walletvalue').text(result.toString());

                      }


                     return false;

                 });

                 $("#toUSD").click(function() {


                    if (current_currency == 'dollar') {

                        $('#walletvalue').text('<%= sprintf("%.2f",(@dollar_wallet.balance.to_f + @total_frozen_dollar.to_f).round(2).to_s) %>');

                                        }


                         if (current_currency == 'egp') {

                         var y="<%=
                         if @egp_wallet != nil and @egp_wallet.is_deleted == 0
                            @egp_wallet.balance.to_f + @total_frozen_egp.to_f
                         # @egp_wallet.balance.to_f
                         end
                         %>";
                        // var y = parseFloat(z);
                         var x = "<%= @egptousd.value.to_f%>";
                         var result=(y*x).toFixed(2);
                         $('#walletvalue').text(result.toString());

                         }

                         if (current_currency == 'sar') {



                                             var y="<%=
                                             if @sar_wallet != nil and  @sar_wallet.is_deleted == 0
                                                @sar_wallet.balance.to_f + @total_frozen_riyal.to_f

                                             # @sar_wallet.balance.to_f
                                             end
                                             %>";
                                            // var y = parseFloat($(z));
                                             var x = "<%= @rstousd.value.to_f%>";
                                             var result=(y*x).toFixed(2);
                                             $('#walletvalue').text(result.toString());

                          }


                         return false;

                     });
                 $("#charge-cart").click(function()
                {




              // $("#cart-balance").show();
               var id =  $("#charge-cart").attr('href');
               var re= id +" "+ "#cart-balance";
              //$( "#data" ).load(re);



              $( "#data" ).load( re , function() {



                       $.getScript("<%= format_link(request) %>/assets/js/app.js");
                     // $.getScript("<%= format_link(request) %>/assets/js/app.min.js");



                  });



               //console.log(id);
               return false;

                });

                 $(".cart_details").click(function()
                {



              // $("#cart-balance").show();
               var id =  $(this).attr('href');
               var re= id +" "+ "#cart-balance";
              //$( "#data" ).load(re);


              $( "#data2" ).load( re , function() {



                      // $.getScript("/resources/js/app.js");
                      $.getScript("<%= format_link(request) %>/assets/js/app.js");
                      $.getScript("/copytoclipboard.js");



                  });



               //console.log(id);
               return false;

                });


            });


</script>
<script>
// $(document).ready(function(){
//     $("#SAR").click(function(){
//     $("#SAR").css('color','#ffff');
//     $("#SAR").css('background-color','#000');
//     $("#EGP").css('color','#000');
//     $("#EGP").css('background-color','#fff');
//     $("#USD").css('color','#000');
//     $("#USD").css('background-color','#fff');


//     });
//     $("#EGP").click(function(){
//     $("#EGP").css('color','#ffff');
//     $("#EGP").css('background-color','#000');
//     $("#SAR").css('color','#000');
//     $("#SAR").css('background-color','#fff');
//     $("#USD").css('color','#000');
//     $("#USD").css('background-color','#fff');


//     });
//     $("#USD").click(function(){
//     $("#EGP").css('color','#000');
//     $("#EGP").css('background-color','#fff');
//     $("#SAR").css('color','#000');
//     $("#SAR").css('background-color','#fff');
//     $("#USD").css('color','#fff');
//     $("#USD").css('background-color','#000');
//     });
//     });





</script>

<% content_for :title, t('Home') %>
<% content_for :icon, 'Dashboard' %>


<%# I18n.locale = current_userd.preferred_locale if userd_signed_in? %>

<div class="row row-sm">
<div class="col-md-7 padding-hor-md hlf-btm mrg-bottom-sm col-sm-12">
    <section class="section mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-sm s-boxshadow radius-light">
        <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
            <i class="icon-wallet"></i>
        </h3>
        <div class="page-title l-height-md mrg-bottom-md">
            <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                <%= t('Account Balance') %>
            </h4>
            <% if  @dollar_wallet != nil and @dollar_wallet.is_deleted == 0 %>

            <a href="#" id="USD" class="btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding active" >

            <%= t('Dollar Wallet') %>
                        </a>
            <% end %>
            <% if @sar_wallet != nil and  @sar_wallet.is_deleted == 0 %>


            <a href="#"  id="SAR" class="btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding">
            <%= t('Riyal Wallet') %>
                        </a>
                        <% end %>
                        <% if @egp_wallet != nil and @egp_wallet.is_deleted == 0 %>


                        <a href="#" id="EGP" class="btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding">
                        <%= t('Pound Wallet') %>
                                    </a>
                                    <% end %>

        <% if  @dollar_wallet == nil or @dollar_wallet.is_deleted == 1 or @egp_wallet == nil or @egp_wallet.is_deleted == 1 or @sar_wallet == nil or @sar_wallet.is_deleted == 1 %>
            <a id="add_wallet2" href="#" class="dotted-plus"></a>
            <% end %>
        </div>
        <div class="lng-portion clearfix mrg-bottom-lg hlf-e-btm">
            <div class="lng-side pull-right mrg-left-md">
                <h6 class="sm-sm-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('Currency Convert') %> </h6>
                <ul class="sm-sm-fontsize english-font font-bold">
                    <li><a href="#" id="toUSD">USD</a>

                    </li>
                    <li><a href="#" id="toSAR">SAR</a>


                    </li>
                    <li><a href="#" id="toEGP">EGP</a>

                    </li>
                </ul>
            </div>
            <h1 id="walletvalue" class="pull-right xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
            <%# @dollar_wallet.balance.round(2).to_s  %>
            <%# sprintf("%.2f",(@dollar_wallet.balance.round(2).to_s))  %>
            <% @total_dollar = @dollar_wallet.balance.to_f + @total_frozen_dollar.to_f %>
            <%= sprintf("%.2f",(@total_dollar.round(2).to_s))  %>

            



            </h1>
        </div>
        <div class="btn-group-section mrg-bottom-md">
            <% @user_wallets = UsersWalletsBalance.where("user_id = ? and is_deleted = ?" ,current_userd.id,0).count %>
            
            <a href="/wallet_transfer" walletscount ="<%= @user_wallets %>" class="btn md-padding radius-md iconic text-blue text-hover-white hover-bg-brand bg-white border-blue wallet-count">
                <i class="ico icon-arrowup"></i> <%= t('Transfer To Another Wallet') %>
            </a>
        </div>
        <div class="bdr-md-top pad-bottom-xs bdr-solid border-color-gray pad-top-md hlf-e-btm">
            <div class="row row-default button-row">
                <div class="col-xs-4">
                    <h4 class="l-height-md sm-lg-fontsize text-blue font-bold">
                    <%= t('Account Operations') %>
                    </h4>
                </div>
                <div class="col-xs-8">
                    <div class="text-left">
                        <a id="charge-cart" href="/cartbalance" class="btn mrg-left-sm md-padding radius-md iconic border-blue hover-bg-brand text-hover-white text-blue"><i class="ico icon-dollor-icon"></i> <%= t('Charge Account') %></a>
                        <a href="/userwallet_frozen" class="btn text-hover-white text-white bg-black border-black md-padding radius-md hover-bg-brand iconic drak bgbtn"><i class="ico icon-white-logo"></i><%= t('Pay') %> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row row-sm">
        <div class="col-sm-6 col-xs-12">
            <section class="section home-bottom-detail bg-white pad-top-md pad-bottom-md hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
                <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                    <i class="icon-Support"></i>
                </h3>
                <div class="page-title l-height-md">
                    <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                    <%= t('ticket support') %>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="font-weight-normal english-font text-black md-sm-fontsize l-height-1"><%= @tickets_number %></h5>
                        <h6 class="font-weight-normal text-blue sm-md-fontsize"> <%= t('Help Request') %></h6>
                    </div>
                    <div class="col-md-4">
                        <div class="text-left">
                        <a href="/help_center" class="self-icon-crcl text-hover-white icon-Plus-white mrg-left-xs bg-blue hover-bg-brand text-white sm-lg-fontsize"></a> 
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-sm-6 col-xs-12">
            <section class="section home-bottom-detail bg-white pad-top-md pad-bottom-md hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
                <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                    <i class="icon ic-icons-88"></i>
                </h3>
                <div class="page-title l-height-md">
                    <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                    <%= t('My Accounts') %>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="font-weight-normal english-font text-black md-sm-fontsize l-height-1"><%= @userbanks2 %></h5>
                        <h6 class="font-weight-normal text-blue sm-md-fontsize"><%= t('Linked Accounts') %></h6>
                    </div>
                    <div class="col-md-4">
                        <div class="text-left">
                            <a href="/users_banks_main" class="self-icon-crcl text-hover-white icon-Plus-white mrg-left-xs bg-blue hover-bg-brand text-white sm-lg-fontsize"></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="col-md-5 padding-hor-md hlf-btm col-sm-12">
    <section class="padding-hor-lg bg-white pad-top-md pad-bottom-md hlf-btm hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
        <div class="padding-hor-lg hlf-btm mrg-bottom-md">
            <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
              <i class="icon-History"></i>
            </h3>
            <div class="page-title l-height-md">
                <div class="row row-default">
                    <div class="col-xs-6">
                        <h4 class="md-lg-fontsize text-dbrand font-weight-normal">
                        <%= t('Last Operations') %>
                        </h4>
                    </div>

                    <!-- <div class="col-xs-6">
                            <div class="text-left">
                                <a href="#" class="btn md-padding radius-md iconic text-blue text-hover-white border-blue bg-white hover-bg-brand">
                                    <i class="icon-Support"></i><%= t('All Operations') %>
                                </a>
                            </div>
                        </div> -->


                    <div class="col-xs-6">
                        <div class="text-left">
                            <a href="/transactions" class="btn md-padding radius-md iconic text-blue text-hover-white border-blue bg-white hover-bg-brand">
                            <i class="icon-History"></i>  <%= t('All Operations') %>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content demo-y height-546 btm-bg-grd">

        <div class="listing-section">
            <div class="row row-sm">


<% @watch_dogs.each do |watchdog| %>
<% @is_trans = Transaction.where("id =?",watchdog.trans_id).first %>
<input type="hidden" class = "watchdog_trans<%= watchdog.trans_id %>" id = "<%= watchdog.trans_id %>" >
<div class="col-xs-12 padding-hor-sm">
            <div class="listing-div hover-b-boxshadow">
               <% @stat = watchdog.stats.to_s.split('/') %>
               <% @split_conroller = watchdog.controller.to_s.split('/') %>
            <% if @is_trans != nil %>
            <% @username = Userd.find_by_id(@is_trans.user_id)%>
            <% @usertoname = Userd.find_by_id(@is_trans.user_id_to)%>
            <% if @is_trans.controller == "users_wallets_ballences_frozens/create" and @is_trans.user_id == current_userd.id %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-yellow"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t("balance was transferred with value of") + "  " + @is_trans.value_from.round(2).to_s + "  "+@is_trans.w_from_name+ "  " + t("to the user") + " " +  @usertoname.username %>
            <% elsif @is_trans.controller == "users_wallets_ballences_frozens/create" and @is_trans.user_id_to == current_userd.id %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-yellow"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t("you have recieved") + " " + @is_trans.value_to.round(2).to_s + " "+ @is_trans.w_from_name + " " + t("From User") + " " +  @username.username %>
            <% elsif @is_trans.controller == "users_wallets_ballences_frozens/approvedbalance" and @is_trans.user_id == current_userd.id %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-green"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t("Balance Delivered") + " " + @is_trans.value_from.round(2).to_s + " "+ @is_trans.w_from_name + "  " + t("to the user") + "  " +  @usertoname.username %>
            <% elsif @is_trans.controller == "users_wallets_ballences_frozens/approvedbalance" and @is_trans.user_id_to == current_userd.id %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-yellow"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t("Balance Delivered") + " " + @is_trans.value_to.round(2).to_s + " "+ @is_trans.w_from_name  + " " + t("From User") + " " +  @username.username %>
            <% elsif @is_trans.controller == "users_wallets_ballences_frozens/deleteOperation" and @is_trans.user_id == current_userd.id %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-yellow"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t("balance refunded") + " " + @is_trans.value_from.round(2).to_s + " "+ @is_trans.w_from_name + " " + t("to the user") + " " +  @usertoname.username %>
            <% elsif @is_trans.controller == "users_wallets_ballences_frozens/deleteOperation" and @is_trans.user_id_to == current_userd.id %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-yellow"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t("balance refunded") + " " + @is_trans.value_to.round(2).to_s + " "+ @is_trans.w_from_name  + " " + t("From User") + " " +  @username.username %>  
            <% elsif (@test3 || @is_trans.controller.to_s.split('/')[0] == "balances_withdraws") %>
            <% @withdraw = @is_trans.description.to_s.split('/') %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-yellow"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t(@withdraw[0]) + ' '+@withdraw[1]+' '+t(@withdraw[2]) + ' '+@withdraw[3].to_s %>
            <% elsif @is_trans.controller == "users_wallets_balances/walletstransferpost"  %>
            <% @testt = @is_trans.description.to_s.split('/') %>
            <h4 class="icon-section">
            <i class="icon-dollor md-lg-fontsize text-orange"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t(@testt[0]) + ' '+@testt[1]+' '+t(@testt[2]) + ' '+@testt[3].to_s+ ' '+t(@testt[4])+' '+@testt[5].to_s %>
            <% elsif @is_trans.controller.to_s.split('/')[0] == "carts" or @is_trans.controller.to_s.split('/')[0] == "onlinebanks" or @is_trans.controller == "users_wallets_balances/admin_wallet_edit_post" %>
            <% @testt = @is_trans.description.to_s.split('/') %>
            <h4 class="icon-section">
            <i class="icon-dollor md-lg-fontsize text-red"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t(@testt[0]) + ' '+ @testt[1] %> 
            <% elsif @is_trans.controller.to_s.split('/')[0] == "Onlinebanks"  %> 
            <h4 class="icon-section">
            <i class="icon-dollor md-lg-fontsize text-red"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">           
               <% if @stat[0] == "payment request" %>            
              <%= t(@stat[0]) + ' ' + t('number')+ ' ' + @stat[1] + ' ' + t(@stat[2]) + ' ' + @stat[3] + " USD"  %>
               <% else %>
               <%= t(@stat[0])+ ' ' + t('number') + ' ' + @stat[1] %>              
              <% end %>                                     
            <% else %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-brand"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= @is_trans.description %>
            <% end %>
            <% elsif watchdog.controller == "carts/disable_cart" or watchdog.controller == "users_bank" or watchdog.controller == "carts/enable_cart" or watchdog.controller == "update_suspension_period" %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-brand"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t(@stat[0]) + ' '+ @stat[1]  %>
            <% elsif watchdog.controller == "User_wallet_ballence" %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-brand"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t(@stat[0]) + ' '+ t(@stat[1]) %>
            <% elsif @stat[0]  == "exception withdraw request" or @stat[0]  == "recieved withdraw request" or @stat[0]  == "completed withdraw request" or @stat[0]  == "workon withdraw request"%>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-brand"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= t(@stat[0]) + ' '+ @stat[1] + ' '+ t(@stat[2]) + ' '+ @stat[3] %>
            <% else %>
            <h4 class="icon-section">
            <i class="icon-arrowup md-lg-fontsize text-yellow"></i>
            </h4>
            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= watchdog.stats %>
            <% end %>
            </h5>

            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
            <i class="ico icon-calendar"></i> <%= watchdog.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
            <%# local_time(watchdog.created_at) %>
            </p>
            <% @test = watchdog.controller %>
            <div class="do-small-action">
            <div class="dosm-visi text-left pointer">
            <span class="iblock bg-gray radius-crlc"></span>
            <span class="iblock bg-gray radius-crlc"></span>
            <span class="iblock bg-gray radius-crlc"></span>
            </div>
            <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
            <ul class="dosmall-action-ul">
            <% if @test != "User_wallet_ballence" and @is_trans != nil%>
                <li><a href="#" ticket_status = "<%= @is_trans.ticket_opend %>" data-tran = "<%= @is_trans.transaction_id %>" class = "report_problem" ><%= t('Report a problem')%></a>
                </li>
            <% else %>
            <li><a href="/help_center" ><%= t('Report a problem')%></a>
            </li>
            <% end %>
                                                       
            </li>

            <% if @test == "User_wallet_ballence_frozen" or @test == "update_suspension_period" %>
            <li><a  href=<%= "/users_wallets_balances_frozens/" + watchdog.foreign_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% elsif @test == "balances_withdraws" %>
            <li><a  href=<%= "/balances_withdraws/" + watchdog.foreign_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% elsif (@test.to_s.split('/')[0] == "carts" && @test != "carts/cartbalancetouser" ) %>
            <li><a  href=<%= "/cart_preview?id=" + watchdog.foreign_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% elsif @test == "chargecart" %>
            <li><a  href=<%= "/addbalance_show/" + watchdog.trans_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% elsif @test == "carts/cartbalancetouser" %>
            <li><a  href=<%= "/addbalance_show/" + watchdog.trans_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% elsif @test == "User_wallet_ballence/walletstransferpost" %>
            <li><a  href=<%= "/showtransfer/" + watchdog.trans_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% elsif @test == "User_wallet_ballence/admin_wallet_edit_post" %>
            <li><a  href=<%= "/edit_balance/" + watchdog.trans_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% elsif @test == "userd" %>
            <li><a  href=<%= "/user_profile" %>><%= t('Show details')%></a>
            </li>
            <% elsif @test == "users_bank" %>
            <% @bank = UsersBank.find_by_id(watchdog.foreign_id) %>
            <% if @bank %>
            <li><a  href=<%= "/users_banks/" + watchdog.foreign_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% end %>
            <% elsif @test == "User_wallet_ballence" %>
            <% if (@test1 || watchdog.stats.to_s.split('/')[0] != "you have deleted")%>
            <% @wallet = UsersWalletsBalance.find_by_id(watchdog.foreign_id) %>
            <% if @wallet != nil %>
            <% if @wallet.is_deleted == 0 and @wallet.currency == 'USD'%>
            <li><a  href=<%= "/dollar_wallet" %>><%= t('Show details')%></a>
            </li>
            <% elsif @wallet.is_deleted == 0 and @wallet.currency == 'SAR'%>
            <li><a  href=<%= "/sar_wallet" %>><%= t('Show details')%></a>
            </li>
            <% elsif @wallet.is_deleted == 0 and @wallet.currency == 'EGP'%>
            <li><a  href=<%= "/egp_wallet" %>><%= t('Show details')%></a>
            </li>
            <% end %>
            <% end %>
            <% end %>
            <% elsif @split_conroller[0] == "Onlinebanks" %>
            <li><a  href=<%= "/onlinebanks/" + watchdog.foreign_id.to_s %>><%= t('Show details')%></a>
            </li>
            <% else %>
            <li><a href="#"><%= t('Show details')%></a>
            </li>
            <% end %>
            </ul>
            </div>
            </div>
            </div>
</div>
<% end %>

         



                </div>

            </div>
        </div>
    </section>
</div>
</div>

<div id="data" >

        </div>


<div id="data2" >

             </div>

             <script>
             $(document).ready(function() {


                 $("#add_wallet2").click(function() {


    $( "#wallet_popup" ).load( "/users_wallets_balances/new #new-wallet", function() {
        jQuery('select').niceSelect();
        
              $.getScript("<%= format_link(request) %>/assets/js/app.js");
    });
    return false;

    });


                $(".wallet-count").click(function() {

                var status = $(this).attr('walletscount');
               
                if(status == 1){

                    var url = ("<%= t('you must create another wallet to continue')%>");
                     

                $('#success-messege').text(url);

                $('#success-popup').show();
                return false;

                }
                });

           
              $(".report_problem").click(function() {

                var status = $(this).attr('ticket_status');
               
                if(status == 1){

                    var url = $(".ticket_disabled").attr('ticket_script');
                     

                $('#success-messege').text(url);

                $('#success-popup').show();

                } else {
                      
             // alert($( this ).attr('data-tran'));

              $('#freshdesk_trans_id').val($( this ).attr('data-tran'));

              $('#user_ticket_data').show();
                return false;
                }

                    });
                })
     
             </script>