<table>
  <thead>
    <tr>
      <th>created</th>
      <th>device_name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @watchdogs.each do |watchdog| %>
      <tr>
        <td><%= watchdog.created</td>
        <td><%= watchdog.device_name %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

