<h1><%= t('user profile') %></h1>
  
<%= form_for @user , :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label t('user name') %><br />
    <%= f.text_field :name ,:class => 'form-control' %>
  </p>
  
  <p>
    <%= f.label ('currency') %><br />
	<%= f.select :currency,options_for_select([["Afghan afghani","AFN"],["Albanian lek	","ALL"],["Algerian dinar	","DZD"],["European euro	","EUR"],["Angolan kwanza	","AOA"],["East Caribbean dollar	","XCD"],["and Barbuda	East Caribbean dollar	","XCD"],["Argentine peso	","ARS"],["Armenian dram	","AMD"],["Aruban florin	","AWG"],["Australian dollar	","AUD"],["European euro	","EUR"],["Azerbaijani manat	","AZN"],["Bahamian dollar	","BSD"],["Bahraini dinar	","BHD"],["Bangladeshi taka	","BDT"],["Barbadian dollar	","BBD"],["Belarusian ruble	","BYR"],["European euro	","EUR"],["Belize dollar	","BZD"],["West African CFA franc	","XOF"],["Bhutanese ngultrum	","BTN"],["Bolivian boliviano	","BOB"],["Bosnia-Herzegovina	Bosnia and Herzegovina konvertibilna marka	","BAM"],["Botswana pula	","BWP"],["Brazilian real	","BRL"],["Brunei dollar	","BND"],["Bulgarian lev	","BGN"],["Faso	West African CFA franc	","XOF"],["Burundi franc	","BIF"],["Cambodian riel	","KHR"],["Central African CFA franc	","XAF"],["Canadian dollar	","CAD"],["Verde	Cape Verdean escudo	","CVE"],
["Islands	Cayman Islands dollar	","KYD"],["African Republic	Central African CFA franc	","XAF"],["Central African CFA franc	","XAF"],["Chilean peso	","CLP"],["Chinese renminbi	","CNY"],["Colombian peso	","COP"],["Comorian franc	","KMF"],["Central African CFA franc	","XAF"],["Congo, Democratic Republic	Congolese franc	","CDF"],["Rica	Costa Rican colon	","CRC"],["Croatian kuna	","HRK"],["Cuban peso	","CUC"],
["European euro	","EUR"],["Republic	Czech koruna	","CZK"],["Danish krone	","DKK"],["Djiboutian franc	","DJF"],["East Caribbean dollar	","XCD"],["Republic	Dominican peso	","DOP"],["Timor	uses the U.S. Dollar	","USD"],["uses the U.S. Dollar	","USD"],["Egyptian pound	","EGP"],["Salvador	uses the U.S. Dollar	","USD"],["Guinea	Central African CFA franc	","GQE"],["Eritrean nakfa	","ERN"],["Estonian kroon	","EEK"],["Ethiopian birr	","ETB"],["Islands	Falkland Islands pound	","FKP"],["Fijian dollar	","FJD"],["European euro	","EUR"],["European euro	","EUR"],["Polynesia	CFP franc	","XPF"],["Central African CFA franc	","XAF"],["Gambian dalasi	","GMD"],["Georgian lari	","GEL"],["European euro	","EUR"],["Ghanaian cedi	","GHS"],["Gibraltar pound	","GIP"],["European euro	","EUR"],["East Caribbean dollar	","XCD"],["Guatemalan quetzal	","GTQ"],["Guinean franc	","GNF"],["Guinea-Bissau	West African CFA franc	","XOF"],["Guyanese dollar	","GYD"],["Haitian gourde	","HTG"],["Honduran lempira	","HNL"],["Kong	Hong Kong dollar	","HKD"],
["Hungarian forint	","HUF"],["Icelandic króna	","ISK"],["Indian rupee	","INR"],["Indonesian rupiah	","IDR"],["Monetary Fund	Special Drawing Rights	","XDR"],["Iranian rial	","IRR"],["Iraqi dinar	","IQD"],["European euro	","EUR"],["Israeli new sheqel	","ILS"],["European euro	","EUR"],["Jamaican dollar	","JMD"],["Japanese yen	","JPY"],["Jordanian dinar	","JOD"],["Kazakhstani tenge	","KZT"],["Kenyan shilling	","KES"],["Australian dollar	","AUD"],["North	North Korean won	","KPW"],["South	South Korean won	","KRW"],["Kuwaiti dinar	","KWD"],["Kyrgyzstani som	","KGS"],["Lao kip	","LAK"],["Latvian lats	","LVL"],["Lebanese lira	","LBP"],["Lesotho loti	","LSL"],["Liberian dollar	","LRD"],["Libyan dinar	","LYD"],["uses the Swiss Franc	","CHF"],["Lithuanian litas	","LTL"],["European euro	","EUR"],["Macanese pataca	","MOP"],["(Former Yug. Rep.)	Macedonian denar	","MKD"],["Malagasy ariary	","MGA"],["Malawian kwacha	","MWK"],["Malaysian ringgit	","MYR"],["Maldivian rufiyaa	","MVR"],["West African CFA franc	","XOF"],
["European Euro	","EUR"],["Mauritanian ouguiya	","MRO"],["Mauritian rupee	","MUR"],["Mexican peso	","MXN"],["uses the U.S. Dollar	","USD"],["Moldovan leu	","MDL"],["European Euro	","EUR"],["Mongolian tugrik	","MNT"],["European Euro	","EUR"],["East Caribbean dollar	","XCD"],["Moroccan dirham	","MAD"],["Mozambican metical	","MZM"],["Myanma kyat	","MMK"],["Namibian dollar	","NAD"],["Australian dollar	","AUD"],["Nepalese rupee	","NPR"],["Antilles	Netherlands Antillean gulden	","ANG"],["European euro	","EUR"],["Caledonia	CFP franc	","XPF"],["Zealand	New Zealand dollar	","NZD"],["Nicaraguan cordoba	","NIO"],["West African CFA franc	","XOF"],["Nigerian naira	","NGN"],["Norwegian krone	","NOK"],["Omani rial	","OMR"],["Pakistani rupee	","PKR"],["uses the U.S. Dollar	","USD"],["Panamanian balboa	","PAB"],["Canal Zone	uses the U.S. Dollar	","USD"],["New Guinea	Papua New Guinean kina	","PGK"],["Paraguayan guarani	","PYG"],["Peruvian nuevo sol	","PEN"],["Philippine peso	","PHP"],["Polish zloty	","PLN"],
["European euro	","EUR"],["Rico	uses the U.S. Dollar	","USD"],["Qatari riyal	","QAR"],["Romanian leu	","RON"],["Russian ruble	","RUB"],["Rwandan franc	","RWF"],["Helena	Saint Helena pound	","SHP"],["Kitts and Nevis	East Caribbean dollar	","XCD"],["Lucia	East Caribbean dollar	","XCD"],["Vincent and the Grenadines	East Caribbean dollar	","XCD"],["(Western)	Samoan tala	","WST"],["Marino	European euro	","EUR"],["Tome and Principe	Sao Tome and Principe dobra	","STD"],["Arabia	Saudi riyal	","SAR"],["West African CFA franc	","XOF"],["Serbian dinar	","RSD"],["Seychellois rupee	","SCR"],["Leone	Sierra Leonean leone	","SLL"],["Singapore dollar	","SGD"],["Slovak koruna	","SKK"],["European euro	","EUR"],["Islands	Solomon Islands dollar	","SBD"],["Somali shilling	","SOS"],["Africa	South African rand	","ZAR"],["Sudan	Sudanese pound	","SDG"],["European euro	","EUR"],["Lanka	Sri Lankan rupee	","LKR"],["Sudanese pound	","SDG"],["Surinamese dollar	","SRD"],["Swazi lilangeni	","SZL"],["Swedish krona	","SEK"],
["Swiss franc	","CHF"],["Syrian pound	","SYP"],["New Taiwan dollar	","TWD"],["Tajikistani somoni	","TJS"],["Tanzanian shilling	","TZS"],["Thai baht	","THB"],["West African CFA franc	","XOF"],["Paanga	","TOP"],["and Tobago	Trinidad and Tobago dollar	","TTD"],["Tunisian dinar	","TND"],["Turkish new lira	","TRY"],["Turkmen manat	","TMM"],["Australian dollar	","AUD"],["Ugandan shilling	","UGX"],["Ukrainian hryvnia	","UAH"],["Arab Emirates	UAE dirham	","[AED"],["Kingdom	British pound	","GBP"],["States of America	United States dollar	","USD"],["Uruguayan peso	","UYU"],["Uzbekistani som	","UZS"],["Vanuatu vatu	","VUV"],["European euro	","EUR"],["Venezuelan bolivar	","VEB"],["Vietnamese dong	","VND"],["and Futuna Islands	CFP franc	","XPF"],["Yemeni rial	","YER"],["Zambian kwacha	","ZMK"],["Zimbabwean dollar","ZWD"]] ) ,  {}, { :class => 'form-control'} %>

  </p>
  <p>
    <%= f.label ('country') %><br />
    <%= country_select("user", "country", { priority_countries: ["EG", "SA"]}, {class: "form-control" }) %>
  </p>
  
  <p>
    <%= f.label t('avatar') %><br />
    <%= f.file_field  :avatar,:class => 'form-control' %>
  </p>
 <p>
    <%= f.label t('nationalidphoto') %><br />
    <%= f.file_field  :nationalidphoto,  :class => 'form-control'  %>

  </p>
  <p>
    <%= f.label t('attachments') %><br />
    <%= f.file_field  :attachments,  :class => 'form-control'  %>

  </p>
  
  <%= link_to "Download", @user.attachments.url %>

  
  
  <p>
    <%= f.label t('email') %><br />
    <%= f.text_field :email ,:class => 'form-control' %>
  </p>
  <% if current_userd.role_id == 1 %>
  <p>
    <%= f.label t('role') %><br>
    
    <%= f.select :role_id, Role.all.collect {|p| [ p.name, p.id ] } ,{}, {  class: 'form-control' } %>
  </p>
  <% end %>
  <% if current_userd.role_id == 1 %>
  <p>
    <%= f.label 'Group' %><br>
    
    <%= f.select :group_id, UsersGroup.all.collect {|p| [ p.name, p.id ] },{}, {  class: 'form-control' }  %>
  </p>
  <% end %>
  <% if current_userd.role_id =='2' %>

  <p>
  
    <%= f.label 'login ip range :' %><br/>
    <%= f.text_field :loginips ,:class => 'form-control'%>
    <%= show_field_error(@user, :loginips) %>
  </p>
  <% end %>

 <p>
    <%= f.label :tel %><br />
    <%= f.text_field :tel ,:class => 'form-control'%>
  </p>
  <p>
<!-- bank acounts -------->
 <p>
    <%= f.label :nationalid %><br />
    <%= f.text_field :nationalid,:class => 'form-control' %>
  </p>
  <p>
 
   
 <p>
    <%= f.label :vodafonecash %><br />
    <%= f.text_field :vodafonecash ,:class => 'form-control'%>
  </p>
   <p>
  <!-- <%= recaptcha_tags %> -->
</p>
 


    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
</div>
<% end %>

        <td>
		<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-eye'></i> </span>#{t('Bank Accounts')}</button>".html_safe, ubankaccount_path(:id => params[:id]) , { :class=>'linktop' } %>		
		</td>

<%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, @user %>
<%# link_to t('Back'), users_path %>
