 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

 
        <title><%= t("log in")%></title>

        <link href="/style/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/responsive.css" rel="stylesheet" type="text/css" />

  
        <script src="/style/js/modernizr.min.js"></script>
        
    </head>
    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
        	<div class=" card-box">
            <div class="panel-heading"> 
                <h3 class="text-center"><%= t('Forgot your password') %><strong class="text-custom">   </strong> </h3>
            </div> 


            <div class="panel-body">
 <%= form_for @user, :as => :user, :url => forgot_password_path, :method => :put , :class => 'form-login form-horizontal m-t-20' do |f| %>

			
                <div class="form-group ">
                    <div class="col-xs-12">
<%= label_tag :email , t('email') %><br />
          <%= text_field_tag :email, params[:email] , {:class => 'form-control'} %>
                    </div>
                </div>

                
          
                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit"><%= t('Send Password Reset Instructions') %></button>


                      </div>
                </div>


                 

                 
             <% end %>
            
            </div>   
            </div>                              
            
        </div>
        
        

        
    	<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/style/js/jquery.min.js"></script>
        <script src="/style/js/bootstrap.min.js"></script>
        <script src="/style/js/detect.js"></script>
        <script src="/style/js/fastclick.js"></script>
        <script src="/style/js/jquery.slimscroll.js"></script>
        <script src="/style/js/jquery.blockUI.js"></script>
        <script src="/style/js/waves.js"></script>
        <script src="/style/js/wow.min.js"></script>
        <script src="/style/js/jquery.nicescroll.js"></script>
        <script src="/style/js/jquery.scrollTo.min.js"></script>


        <script src="/style/js/jquery.core.js"></script>
        <script src="/style/js/jquery.app.js"></script>

 
	
	</body>
</html>


	







