<!doctype html>
<html dir='ltr' lang="en">

<head>
    
    <!-- SEO -->
    <title>Lost Password</title>
    
</head>
<!-- || head area end || -->
<!-- || page body start || -->
<%# bootstrap_devise_error_messages! %>
<body id="login-page">
    <div class="bannerpage bg-white min-f-height-vh pos-relative">
        <div class="logo-postion pos-absolute">
            <div class="logo-section">
                <a href="/" class="b-boxshadow">
                <img src="<%= format_link(request) %>/assets
/imgs/white-logo.png" alt="white-logo" class="f-width">
            </a>
            </div>
        </div>
        <div class="bannersection pos-absolute f-height">
            <figure>
                <img src="<%= format_link(request) %>/assets
/imgs/loginhero1.png" alt="loginhero1" class="imagecover pos-absolute">
            </figure>
            <div class="pos-absolute f-width padding-hor-lg bannersection-caption clearfix">
            </div>
        </div>
        <div class="formsection padding-hor-md box-size">
            <div class="formwrap pad-left-sm f-width pad-right-sm hlf-e-btm">


              <%= form_for(:userd , url: userds_password_forgot_path, html: { method: :post, role: "form" }) do |f| %>
                <div class="self-label">
                    <label>                       
                       <%# f.email_field :email, autofocus: true, class: 'selfinput' %>
                       <span class="placeholder-span"><%= t('email') %></span>                        
                    </label>
                </div>

                <div class="self-label">
                    <label>                       
                       <%= f.text_field :tel ,:id=>'tel_user', autofocus: true, class: 'selfinput' %>
                       <span class="placeholder-span"><%= t('phone') %></span>                        
                    </label>
                </div>

                <div class="self-label">
                    <label>                       
                       <%= f.text_field :nationalid, autofocus: true, class: 'selfinput' %>
                       <span class="placeholder-span"><%= t('nationalid') %></span>                        
                    </label>
                </div>

                <div class="row row-default l-height-md padding-ver-md">
                    <div class="col-xs-12">
                        <div class="text-left">
                          <%= f.submit t('.send_me_reset_password_instructions', default: 'عاجرتسإ ةملك رورملا'), class: 'btn-shadow radius-md btn text-white text-hover-brand bg-black hover-bg-blue md-padding' %>
                           <% end %>
                        </div>
                    </div>
                </div>
            </div>
           <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">
            <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                        <%= t('All Rights Reserved Owned by Payers')%> @ <%= Time.current.year%>
                    </p>
            <ul class="footer-ul sm-sm-fontsize font-bold">
				<li><a href="https://support.payers.net/support/solutions" target="_blank"><%= t('How To Use') %></a></li>
			<li><a href="https://www.payers.net/privacy.html" target="_blank"><%= t('Privacy Policy') %></a></li>
			<li><a href="https://www.payers.net/money-laundry.html" target="_blank"><%= t('Money Landury') %></a></li>
		    </ul>

        </footer>
        </div>
      </div>
    </div>
    <!-- || footer scripts start || -->
    <script src="resources/js/jquery.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/slick.min.js"></script>
    <!-- || footer scripts ends || -->
</body>
<!-- || page body ends || -->
<%# render 'devise/shared/links' %>
</html>