<%= javascript_include_tag "rails" %>


<h1><%= t('Listing users') %></h1>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('New User')}</button>".html_safe, new_user_path , { :class=>'linktop' } %>

<br />

<% if current_userd.role_id == 1  %>

 <div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns">
<table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('user name') %></th>
      <th><%= t('account number') %></th>

      <th><%= t('email') %></th>
      <th><%= t('role') %></th>
      <th><%= t('group') %></th>
      <th></th>
      <th><%= t('notifications')%></th>
      <th><%= t('active') %></th>
      <th colspan='4'></th>

    </tr>
  </thead>

    
<%= @users = Userd.all%>
  <tbody>
    <% @users.each do |user| %>

      <tr>
        <td><%= user.username %></td>
        <td>PZ<%= user.id %></td>

        <td><%= user.email %></td>
         <td>
         <%
         if user.role 
          @rolename = Role.find(user.role_id)

         %><%=   @rolename.name %>

         <% end %>
         </td>
		 <td>
         <%
         if user.users_group 
          @groupname = UsersGroup.find(user.group_id)

         %><%=   @groupname.name %>

         <% end %>
         </td>
        <td><%= link_to t('Bank Accounts'), ubankaccount_path(:id => user.id) %></td>

        <td><%= '' %><%= link_to t('show notifications').html_safe, { :controller => :notifications,:action=>:usernotification,:user_id => user.id}, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %></td>

        <td>

		<%= link_to image_tag('/style/images/icon_'+user.active.to_s+'.png')  , useractive_path(:id => user.id) %>


       </td>

       <td>

       <!-- <div class="visible-md visible-lg hidden-sm hidden-xs">
       <%# link_to '<i class="fa fa-eye"></i>'.html_safe, user, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
       <%# link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
       <%# link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, user, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => t('Are you sure you want to delete this')+' ?', 'data-method' => 'delete', 'data-placement' =>'top'} %>
     </div>
     <div class="visible-xs visible-sm hidden-md hidden-lg">
       <div class="btn-group dropdown ">
         <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
           <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
         </button>
         <ul class="dropdown-menu pull-right dropdown-light" role="menu">
           <li>
             <%# link_to t('Veiw').html_safe, user %>
           </li>
           <li>
             <%# link_to t('Edit').html_safe, edit_user_path(user) %>
           </li>
           <li>
             <%# link_to t('Remove').html_safe, user, method: :delete, data: { confirm: t('Are you sure you want to delete this')+' ?' } %>
           </li>
         </ul>
       </div>
     </div>	-->	
		
		
	   </td>
      </tr>
    <% end %>
    
  </tbody>
</table></div></div>
<% end %>

<%# will_paginate @users, :param_name => 'page', :prev_label => t('helpers.labels.previous'), :next_label => t('helpers.labels.next') %>

<br>

