
<% content_for :title, t('log operations') %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                    <i class="ico icon-Support"></i>
                    </h3>
                   
                    <div class="page-title l-height-md mrg-bottom-md">
                        <div class="row row-default button-row">
                            <div class="col-md-4">
                            <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                            <%= t('log operations') %>
                            </h4>
                            </div>
                        </div>
                    </div>
                    <div class="listing-section listing-section2">
                        <div class="content demo-y btm-bg-grd max-before height-490">
                        <div class="row row-sm">
                        <% @watch_dogs.each do |watch_dogs| %>

                            <% @test2 = watch_dogs.device_name.to_s.split('_') %>
                            <div class="col-md-6 col-sm-6">
                                <div class="listing-div hover-b-boxshadow">
                                    <h4 class="icon-section">
                                    <% if watch_dogs.action_page == "failed signin" %>

                                    <i class="icon-user-check md-lg-fontsize text-red"></i>
                                    <%else%>
                                    <i class="icon-user-check md-lg-fontsize text-green"></i>

                                    <% end %>
                                    </h4>
                                    <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                    <%= t('last successful attempt to sign in')%>
                                                 <%=  @test2[3] %>
                                    </h5>
                                    <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                        <i class="ico icon-calendar"></i> <%= watch_dogs.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                                    </p>
                                    <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <!-- <li><a href="/help_center"><%# t('Report a problem')%></a></li> -->
                                                <!-- </li>  -->

                                     <li><a href="#" ticket_status = "<%= watch_dogs.ticket_opend %>" data-tran = "<%= watch_dogs.id.to_s + "#" +@test2[5] %>" class = "report_log_problem" ><%= t('Report a problem')%></a>
                                                 
                                                <li>
                                                <a class="details" href="#"  data-details = "<%=  t('Success Sign In') +' ' + t('IP') +' ' + @test2[5] %>" data-details1 ="<%= t('Device Type') + ' '+ @test2[1] %>"  data-details2 = "<%=t('Operating System') + ' '+ @test2[2] + @test2[3]%>" data-details3="<%= t('Browser')+' '+ @test2[4]%>">
                                                        <%= t('Operations Details') %>
                                                    </a>
                                                </li>
        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    </div>
                </section>

                <div id="secure-form" class="selfpopup" style="display:none;">
                <div class="selfpopup-bg">
                </div>
                <div class="selfpopup-content">
                    <div class="selfpopup-inner">
                        <div class="selfpopup-middle">
                            <div class="padding-all-sm">
                                <div class="email-config cart-balance selfpopup-caption">
                                    <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                    <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                            <h4 class="icon-img-pp mrg-bottom-sm">
                                                    <img  src="<%= format_link(request) %>/assets/imgs/check.png" alt="check">
                                                </h4>
        
                                               
                                                <span id='secure-form-text' class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">

                                                    </span>
                                                    <br>

                                                 <span id='secure-form-text1' class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">

                                                   </span>
                                                      <br>

                                                 <span id='secure-form-text2' class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                                                      </span>
                                                        <br>

                                                 <span id='secure-form-text3' class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                                                     </span>


                                    </div>
                                    <div class="crcl-animation">
                                        <span class="lg-crcl"></span>
                                        <span class="md-crcl"></span>
                                        <span class="sm-crcl"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>

                <div id="data" >

        </div>





        <script>



            $(document).ready(function () {
                $(".details").click(function()
                                        {

                                            var url = $(this).attr('data-details');
                                            var url1 = $(this).attr('data-details1');
                                            var url2 = $(this).attr('data-details2');
                                            var url3 = $(this).attr('data-details3');


                                           // console.log(url);

                                           $('#secure-form-text').text(url);

                                           $('#secure-form-text1').text(url1);
                                           $('#secure-form-text2').text(url2);
                                           $('#secure-form-text3').text(url3);


                                 
                                            $('#secure-form').show();
                                            return false;
                                        

                        });


          $(".report_log_problem").click(function()

          {
            var status = $(this).attr('ticket_status');
               
                if(status == 1){

                  var url = $(".ticket_disabled").attr('ticket_script');
                    

                $('#success-messege').text(url);

                $('#success-popup').show();

            } else {
                     

          $('#freshdesk_title').val("<%= t('An unauthorized login process') %> ");

             $('#freshdesk_trans_id').val($( this ).attr('data-tran'));
           //  $('#freshdesk_title').attr('disabled',true);
             $('#freshdesk_title').hide();
             $('#ticket_title_label').hide();

             $('#user_ticket_data').show();


               return false;

                }



              

              });

                                })


            </script>


