<!doctype html>
<html dir='ltr' lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO -->
    <title>activate the account </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="" />
    <link rel="publisher" href="" />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="<%= format_link(request) %>/assets
/imgs/content-covre.png" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="<%= format_link(request) %>/assets
/imgs/content-covre.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:image:src" content="<%= format_link(request) %>/assets
/imgs/content-covre.png" />
    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://payers.net/" />
    <meta property="og:image" content="<%= format_link(request) %>/assets
/imgs/content-covre.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />
    <!-- Schema -->
    <script type="application/ld+json">
    { "@context": "http://schema.org", "@type": "webSite", "url": "http://www.crtivo.studio", "name": "12 Cups Website", "description": "for selling coffee " }
    </script>
    <!-- other SEO info -->
    <meta name="revisit-after" content="5 days">
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="general" />
    <meta name="author" content="" />
    <meta name="copyrights" content="" />
    <meta name="alexaVerifyID" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rsslink" />
    <!-- FavsIcons -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="apple-touch-startup-image" href="home.png" />
    <!-- Head Inc -->
    <!-- <script data-pace-options='{ "ajax": false, "elements": false, "restartOnRequestAfter": false, "restartOnPushState":false }' src="resources/js/pace.js"></script> -->
    <!-- <link rel="stylesheet" href="resources/css/layout.css" />
    <link rel="stylesheet" href="resources/css/rtl.css" /> -->

    <link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-rtl.css" />

    <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->
    <!-- Google Analytices Code -->
    <script>
    </script>
</head>
<!-- || head area end || -->
<!-- || page body start || -->

<body id="home-page">
    <div class="wholepage pos-relative min-f-height-vh f-width">
        <div class="page-404 min-f-height-vh">
            <div class="content-page-404 padding-hor-md text-center">
                <figure>
                    <img src="<%= format_link(request) %>/assets
/imgs/Payers.png" alt="Error">
                </figure>
                <h4 class="mrg-top-sm mrg-bottom-sm font-weight-normal md-md-fontsize text-blue">
                    <%= t("You should activate the account")%>
                </h4>
                <p class="font-weight-normal sm-md-fontsize text-blue"><%= t("TO be able to sign in to your account you must follow the link sent to your email to activate the account first")%>
                </p>
                <a href="https://dashboard.payers.net/" class="btn md-padding radius-md text-white text-hover-white bg-black hover-bg-brand mrg-top-lg hlf-e-btm"><%= t("Back to Payers") %></a>
                <a href="https://dashboard.payers.net/userds/sign_up" class="btn md-padding radius-md text-brand text-hover-white border-brand hover-bg-brand mrg-top-lg hlf-e-btm mrg-right-md"><%= t("Sign in page") %></a>
            </div>
        </div>
    </div>
    <!-- || footer scripts start || -->
    <!-- <script src="resources/js/jquery.js"></script>
    <script src="resources/js/jquery.scrollbar.js"></script>
    <script src="resources/js/jquery.nice-select.min.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/slick.min.js"></script> -->
    <!-- || footer scripts ends || -->
    <script src="<%= format_link(request) %>/assets/js/app.min.js"></script>

</body>
<!-- || page body ends || -->

</html>