<p id="notice"><%= notice %></p>

	<div class="col-md-12">
		<div class="tabbable">
			<ul id="myTab1" class="nav nav-tabs">
				<li class="active">
					<a href="#user_profile" data-toggle="tab"> الصفحة الشخصية </a>
				</li>
				<li>
					<a href="#user_profile_edit" data-toggle="tab"> تعديل الصفحة الشخصية </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="user_profile">
					<div class="row">
						<div class="col-sm-5 col-md-4">
							<div class="user-left">
								<div class="center">
									<h4><%= @user.name %></h4>
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="user-image">
										
											<div class="fileinput-new thumbnail"><%= image_tag @user.avatar.url(:thumb) %></div>
										</div>
									</div>
									<hr>
									<div class="social-icons block">
										<ul>
											<li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
												<a href="http://www.twitter.com" target="_blank"> Twitter </a>
											</li>
											<li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
												<a href="http://facebook.com" target="_blank"> Facebook </a>
											</li>
											<li data-placement="top" data-original-title="Google" class="social-google tooltips">
												<a href="http://google.com" target="_blank"> Google+ </a>
											</li>
											<li data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
												<a href="http://linkedin.com" target="_blank"> LinkedIn </a>
											</li>
											<li data-placement="top" data-original-title="Github" class="social-github tooltips">
												<a href="#" target="_blank"> Github </a>
											</li>
										</ul>
									</div>
									<hr>
								</div>
								<table class="table table-condensed">
									<thead>
										<tr>
											<th colspan="3">Contact Information</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>url</td>
											<td><a href="#"> www.example.com </a></td>
											<td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
										</tr>
										<tr>
											<td><%= t('email') %>:</td>
											<td><a href=""> <%= @user.email %> </a></td>
											<td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
										</tr>
										<tr>
											<td><%= t('tel') %>:</td>
											<td><%= @user.tel %></td>
											<td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
										</tr>
										<tr>
											<td>skye</td>
											<td><a href=""> peterclark82 </a></td>
											<td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
										</tr>
									</tbody>
								</table>
								<table class="table">
									<thead>
										<tr>
											<th colspan="3">General information</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><%= t('account number') %></td>
											<td>PZ112<%= @user.id %></td>
										</tr>
										<tr>
											<td><%= t('national id') %></td>
											<td>PZ112<%= @user.id %></td>
											<td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
										</tr>
										<tr>
										<% if (@userbalances) %>
											<td><%= t('Balance') %></td>
											<td><%=   @userbalances.balance  %> USD</td>
										</tr>


										<tr>
											<% if @user.currency %>
											<td><% cu = @user.currency %></td>
											<td><% @yahoofiance = 'http://query.yahooapis.com/v1/public/yql?q=select * from yahoo.finance.xchange where pair in ("USD'+cu+'")&format=json&env=store://datatables.org/alltableswithkeys&callback='
											url = open(@yahoofiance).read
											data = JSON.parse(url); %>
											<%= (data ["query"]["results"]["rate"]["Rate"]).to_d*@userbalances.balance %></td>
											<% end %>
																						<% end %>

										</tr>
										<tr>
											<td><%= t('country') %></td>
											<td><%= @user.country %></td>
										</tr>
										<% if @user.role_id %>
										<tr>
											<td><%= t('Role') %></td>
											<td><%= @user.role.name    %></td>
										</tr>
										<% end %>
										<tr>
											<td><%= t('vodafone cash') %></td>
											<td><%= @user.vodafonecash %></td>
										</tr>
										<tr>
											<td>Status</td>
											<td><span class="label label-sm label-info">Administrator</span></td>
										</tr>
									</tbody>
								</table>
								<table class="table">
									<thead>
										<tr>
											<th colspan="3">Additional information</th>
										</tr>
									</thead>
									<tbody>
																			<% if (@userbalances) %>

										<tr>
											<td><%= t('balance IN Egp') %></td>
											<td><%=   @userbalances.balanceEgp  %> Egp</td>
										</tr>
										<tr>
											<td><%= t('balance IN Rys') %></td>
											<td><%=   @userbalances.balanceEgp  %> Riyal</td>
										</tr>
																					<% end %>

									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-7 col-md-8">
							<div class="row space20">
								<div class="col-sm-3">
									<button class="btn btn-icon margin-bottom-5 margin-bottom-5 btn-block">
										<i class="ti-layers-alt block text-primary text-extra-large margin-bottom-10"></i>
										Projects
									</button>
								</div>
								<div class="col-sm-3">
									<button class="btn btn-icon margin-bottom-5 btn-block">
										<i class="ti-comments block text-primary text-extra-large margin-bottom-10"></i>
										Messages <span class="badge badge-danger"> 23 </span>
									</button>
								</div>
								<div class="col-sm-3">
									<button class="btn btn-icon margin-bottom-5 btn-block">
										<i class="ti-calendar block text-primary text-extra-large margin-bottom-10"></i>
										Calendar
									</button>
								</div>
								<div class="col-sm-3">
									<button class="btn btn-icon margin-bottom-5 btn-block">
										<i class="ti-flag block text-primary text-extra-large margin-bottom-10"></i>
										Notifications
									</button>
								</div>
							</div>
							<div class="panel panel-white" id="activities">
								<div class="panel-heading border-light">
									<h4 class="panel-title text-primary">Recent Activities</h4>
									<paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
								</div>
								<div collapse="activities" ng-init="activities=false" class="panel-wrapper">
									<div class="panel-body">
										<ul class="timeline-xs">
											<li class="timeline-item success">
												<div class="margin-right-15">
													<div class="text-muted text-small">
														2 minutes ago
													</div>
													<p>
														<a class="text-info" href> Steven </a>
														has completed his account.
													</p>
												</div>
											</li>
											<li class="timeline-item">
												<div class="margin-right-15">
													<div class="text-muted text-small">
														12:30
													</div>
													<p>
														Staff Meeting
													</p>
												</div>
											</li>
											<li class="timeline-item danger">
												<div class="margin-right-15">
													<div class="text-muted text-small">
														11:11
													</div>
													<p>
														Completed new layout.
													</p>
												</div>
											</li>
											<li class="timeline-item info">
												<div class="margin-right-15">
													<div class="text-muted text-small">
														Thu, 12 Jun
													</div>
													<p>
														Contacted
														<a class="text-info" href> Microsoft </a>
														for license upgrades.
													</p>
												</div>
											</li>
											<li class="timeline-item">
												<div class="margin-right-15">
													<div class="text-muted text-small">
														Tue, 10 Jun
													</div>
													<p>
														Started development new site
													</p>
												</div>
											</li>
											<li class="timeline-item">
												<div class="margin-right-15">
													<div class="text-muted text-small">
														Sun, 11 Apr
													</div>
													<p>
														Lunch with
														<a class="text-info" href> Nicole </a>
														.
													</p>
												</div>
											</li>
											<li class="timeline-item warning">
												<div class="margin-right-15">
													<div class="text-muted text-small">
														Wed, 25 Mar
													</div>
													<p>
														server Maintenance.
													</p>
												</div>
											</li>
											<li class="timeline-item">
												<div class="margin-right-15">
													<div class="text-muted text-small">
														Fri, 20 Mar
													</div>
													<p>
														New User Registration
														<a class="text-info" href> more details </a>
														.
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-white space20">
								<div class="panel-heading">
									<h4 class="panel-title">Recent Tweets</h4>
								</div>
								<div class="panel-body">
									<ul class="ltwt">
										<li class="ltwt_tweet">
											<p class="ltwt_tweet_text">
												<a href class="text-info"> @Shakespeare </a>
												Some are born great, some achieve greatness, and some have greatness thrust upon them.
											</p>
											<span class="block text-light"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h4 class="panel-title">ملفات توثيق العضوية</h4>

				  <%= link_to "Download", @user.attachments.url %>

				<div class="tab-pane fade" id="user_profile_edit">
					<form action="#" role="form" id="form">
						<fieldset>
							<legend>
								Account Info
							</legend>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label"> First Name </label>
										<input type="text" placeholder="Peter" class="form-control" id="firstname" name="firstname">
									</div>
									<div class="form-group">
										<label class="control-label"> Last Name </label>
										<input type="text" placeholder="Clark" class="form-control" id="lastname" name="lastname">
									</div>
									<div class="form-group">
										<label class="control-label"> Email Address </label>
										<input type="email" placeholder="peter@example.com" class="form-control" id="email" name="email">
									</div>
									<div class="form-group">
										<label class="control-label"> Phone </label>
										<input type="email" placeholder="(641)-734-4763" class="form-control" id="phone" name="email">
									</div>
									<div class="form-group">
										<label class="control-label"> Password </label>
										<input type="password" placeholder="password" class="form-control" name="password" id="password">
									</div>
									<div class="form-group">
										<label class="control-label"> Confirm Password </label>
										<input type="password"  placeholder="password" class="form-control" id="password_again" name="password_again">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label"> Gender </label>
										<div class="clip-radio radio-primary">
											<input type="radio" value="female" name="gender" id="us-female">
											<label for="us-female"> Female </label>
											<input type="radio" value="male" name="gender" id="us-male" checked>
											<label for="us-male"> Male </label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label"> Zip Code </label>
												<input class="form-control" placeholder="12345" type="text" name="zipcode" id="zipcode">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label"> City </label>
												<input class="form-control tooltips" placeholder="London (UK)" type="text" data-original-title="We'll display it when you write reviews" data-rel="tooltip"  title="" data-placement="top" name="city" id="city">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label> Image Upload </label>
										<div class="fileinput fileinput-new" data-provides="fileinput">
											<div class="fileinput-new thumbnail"><img src="assets/images/avatar-1-xl.jpg" alt="">
											</div>
											<div class="fileinput-preview fileinput-exists thumbnail"></div>
											<div class="user-edit-image-buttons">
												<span class="btn btn-azure btn-file"><span class="fileinput-new"><i class="fa fa-picture"></i> Select image</span><span class="fileinput-exists"><i class="fa fa-picture"></i> Change</span>
													<input type="file">
												</span>
												<a href="#" class="btn fileinput-exists btn-red" data-dismiss="fileinput"> <i class="fa fa-times"></i> Remove </a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>
								Additional Info
							</legend>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label"> Twitter </label>
										<span class="input-icon">
											<input class="form-control" type="text" placeholder="Text Field">
											<i class="fa fa-twitter"></i> </span>
									</div>
									<div class="form-group">
										<label class="control-label"> Facebook </label>
										<span class="input-icon">
											<input class="form-control" type="text" placeholder="Text Field">
											<i class="fa fa-facebook"></i> </span>
									</div>
									<div class="form-group">
										<label class="control-label"> Google Plus </label>
										<span class="input-icon">
											<input class="form-control" type="text" placeholder="Text Field">
											<i class="fa fa-google-plus"></i> </span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label"> Github </label>
										<span class="input-icon">
											<input class="form-control" type="text" placeholder="Text Field">
											<i class="fa fa-github"></i> </span>
									</div>
									<div class="form-group">
										<label class="control-label"> Linkedin </label>
										<span class="input-icon">
											<input class="form-control" type="text" placeholder="Text Field">
											<i class="fa fa-linkedin"></i> </span>
									</div>
									<div class="form-group">
										<label class="control-label"> Skype </label>
										<span class="input-icon">
											<input class="form-control" type="text" placeholder="Text Field">
											<i class="fa fa-skype"></i> </span>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="row">
							<div class="col-md-12">
								<div>
									Required Fields
									<hr>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p>
									By clicking UPDATE, you are agreeing to the Policy and Terms &amp; Conditions.
								</p>
							</div>
							<div class="col-md-4">
								<button class="btn btn-primary pull-right" type="submit">
									Update <i class="fa fa-arrow-circle-right"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="tabbable">
			<ul id="myTab1" class="nav nav-tabs">
				<li class="active">
					<a href="#example1" data-toggle="tab"> <%= t('Tickets') %> </a>
				</li>
				<li>
					<a href="#example2" data-toggle="tab"> <%= t('Bank Accounts') %></a>
				</li>
				<li>
					<a href="#example3" data-toggle="tab"> <%= t('user log') %> </a>
				</li>
				<li>
					<a href="#example4" data-toggle="tab"> <%= t('Not Approved Operations') %> </a>
				</li>
				<li>
					<a href="#example5" data-toggle="tab"> <%= t('Approved Operations') %> </a>
				</li>
				<li>
					<a href="#example6" data-toggle="tab"> <%= t('Listing Balance Actions Logs') %> </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="example1">
					<div class="table-rep-plugin">
						<div class="table-responsive" data-pattern="priority-columns">
							<table id="datatable" class="table  table-stylish">
								<thead>
									<tr>
										<th><%= t('Subject') %></th>
										<th><%= t('status') %></th>
										<th><%= t('Department') %></th>
										<th><%= t('Body') %></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% @usertickets.each do |ticket| %>
									<tr>
										<td><%= ticket.title %></td>
										<td><%= ticket.status %></td>
										<td>
											<%
											if ticket.department_id
												@department = Department.find(ticket.department_id)
												%><%=   @department.name %>
												<% end %>
											</td>
											<td><%= ticket.body %></td>

											<td>
												<div class="visible-md visible-lg hidden-sm hidden-xs">
													<%= link_to '<i class="fa fa-eye"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>
													<% if  userprivilage.ticketedit == true or current_userd.role_id == 1  %>
													<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_ticket_path(ticket), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
													<% end %>
													<%  if  userprivilage.ticketdelete == true or current_userd.role_id == 1  %>
													<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
													<% end %>
													<%  if  ticket.closed == false  %>
													<%= link_to '<i class="fa fa-lock fa fa-white"></i>'.html_safe,  { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to close this ?', 'data-method' => 'closeticket', 'data-placement' =>'top', 'title' =>'Close'} %>
													<% else %>
													<%=   t('Closed') %>
													<% end %>
												</div>
												<div class="visible-xs visible-sm hidden-md hidden-lg">
													<div class="btn-group dropdown ">
														<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
															<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
														</button>
														<ul class="dropdown-menu pull-right dropdown-light" role="menu">
															<li>
																<%= link_to 'Veiw'.html_safe, ticket %>
															</li>

															<% if  userprivilage.ticketedit == true or current_userd.role_id == 1  %>
															<li>
																<%= link_to 'Edit'.html_safe, edit_ticket_path(ticket) %>
															</li>
															<% end %>
															<%  if  userprivilage.ticketdelete == true or current_userd.role_id == 1  %>
															<li>
																<%= link_to 'Remove'.html_safe, ticket, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
															</li>
															<% end %>
															<li>
																<%= link_to 'Close ticket'.html_safe, ticket, method: :closeticket, data: { confirm: 'Are you sure you want to delete this ?' } %>
															</li>
														</ul>
													</div>
												</div>
											</td>

										</tr>
										<% end %>
									</tbody>
								</table></div></div>
								<%= will_paginate @usertickets, :param_name => 'usertickets_page', :prev_label => t('previous'), :next_label => t('next') %>
							</div>
							<div class="tab-pane fade" id="example2">
								<div class="table-rep-plugin">
									<div class="table-responsive" data-pattern="priority-columns">
										<table id="datatable" class="table  table-stylish">
											<thead>
												<tr>
													<th  ><%= t('Bank') %> </th>
													<th  ><%= t('User') %> </th>
													<th  ><%= t('account name') %> </th>
													<th colspan='3'></th>
												</tr>
											</thead>
											<tbody>
												<% @users_banks.each do |user_bank| %>
												<tr>
													<td>
														<% @bank = BanksList.find(user_bank.bank_id)  %>
														<%=   @bank.name %></td>

														<td><%= user_bank.account_name %></td>
														<td>
															<div class="visible-md visible-lg hidden-sm hidden-xs">
																<%= link_to '<i class="fa fa-eye"></i>'.html_safe, user_bank, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>
																<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_users_bank_path(user_bank), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
																<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, user_bank, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
															</div>
															<div class="visible-xs visible-sm hidden-md hidden-lg">
																<div class="btn-group dropdown ">
																	<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
																		<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
																	</button>
																	<ul class="dropdown-menu pull-right dropdown-light" role="menu">
																		<li>
																			<%= link_to 'Veiw'.html_safe, user_bank %>
																		</li>
																		<li>
																			<%= link_to 'Edit'.html_safe, edit_users_bank_path(user_bank) %>
																		</li>
																		<li>
																			<%= link_to 'Remove'.html_safe, user_bank, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
																		</li>
																	</ul>
																</div>
															</div>
														</tr>
														<% end %>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="example3">
										<div class="table-rep-plugin">
											<div class="table-responsive" data-pattern="priority-columns">
												<table id="datatable" class="table  table-stylish">
													<thead>
														<tr>
															<th><%= t('Action') %></th>
															<th><%= t('details') %></th>
															<th><%= t('created') %></th>
														</tr>
													</thead>
													<tbody>
														<% @watchdogs.each do |watchdog| %>
														<tr>
															<td><%= watchdog.action_page %></td>
															<td><%= watchdog.details %></td>
															<td><%= watchdog.created_at %></td>
														</tr>
														<% end %>
													</tbody>
												</table>
											</div>
										</div>
										<%= will_paginate @watchdogs, :param_name => 'watchdogs_page', :prev_label => t('previous'), :next_label => t('next') %>
									</div>
									<div class="tab-pane fade" id="example4">
										<div class="table-rep-plugin">
											<div class="table-responsive" data-pattern="priority-columns">
												<table id="datatable" class="table  table-stylish">
													<thead>
														<tr>
															<th><%= t('user name') %></th>
															<th><%= t('User bank account') %></th>
															<th><%= t('the sum') %></th>
															<th><%= t('net sum') %></th>
															<th><%= t('company sum') %></th>
															<th><%= t('bank sum') %></th>
															<th><%= t('sum type') %></th>
														</tr>
													</thead>

													<tbody>
														<% @balances_operations.each do |balances_operation| %>
														<tr>
															<td>
																<%=   balances_operation.userd.name   %>
															</td>
															<td>
																<%#@ubank = UsersBank.find(balances_operation.user_bank_id)  %>
																<%#   @ubank.account_name %>
															</td>
															<td>
																<%=   balances_operation.thesum %>
															</td>
															<td>
																<%=   balances_operation.netsum %>
															</td>
															<td>
																<%=   balances_operation.company_sum %>
															</td>
															<td>
																<%=   balances_operation.bank_sum %>
															</td>
															<td>
																<%=   balances_operation.sum_type %>
															</td>

														</tr>
														<% end %>
													</tbody>
												</table>
											</div>
										</div>
										<br>
										<%= will_paginate @balances_operations,:param_name => 'balanceop_page', :previous_label => t("previous"), :next_label => t("next") %>
									</div>
									<div class="tab-pane fade" id="example5">
										<div class="table-rep-plugin">
											<div class="table-responsive" data-pattern="priority-columns">
												<table id="datatable" class="table  table-stylish">
													<thead>
														<tr>
															<th><%= t('user name') %></th>
															<th><%= t('User bank account') %></th>
															<th><%= t('the sum') %></th>
															<th><%= t('net sum') %></th>
															<th><%= t('company sum') %></th>
															<th><%= t('bank sum') %></th>
															<th><%= t('sum type') %></th>
														</tr>
													</thead>

													<tbody>
														<% @balances_operationsapp.each do |balances_operation| %>
														<tr>
															<td>
																<% @usern = Userd.find(balances_operation.user_id)  %>
																<%=   @usern.name %>
															</td>
															<td>
																<% @ubank = UsersBank.find(balances_operation.user_bank_id)  %>
																<%=   @ubank.account_name %>
															</td>
															<td>
																<%=   balances_operation.thesum %>
															</td>
															<td>
																<%=   balances_operation.netsum %>
															</td>
															<td>
																<%=   balances_operation.company_sum %>
															</td>
															<td>
																<%=   balances_operation.bank_sum %>
															</td>
															<td>
																<%=   balances_operation.sum_type %>
															</td>

														</tr>
														<% end %>
													</tbody>
												</table>
											</div>
										</div>
										<br>
										<%= will_paginate @balances_operationsapp,:param_name => 'balanceopap_page', :previous_label => t("previous"), :next_label => t("next") %>

									</div>
									<div class="tab-pane fade" id="example6">
										<div class="table-rep-plugin">
											<div class="table-responsive" data-pattern="priority-columns">
												<table id="datatable" class="table  table-stylish">
													<thead>
														<tr>
															<th  ><%= t('the sum') %> </th>
															<th  ><%= t('sum type') %> </th>
															<th  ><%= t('action page') %> </th>
															<th  ><%= t('description') %> </th>
															<th  ><%= t('created') %> </th>

															<th colspan="3"></th>
														</tr>
													</thead>

													<tbody>
														<% @userbalancesaction.each do |balance_action| %>
														<tr>

															<td>  <%=   balance_action.thesum %></td>
															<td>  <%=   balance_action.sum_type %></td>
															<td>  <%=   balance_action.action_page %></td>
															<td>  <%=   balance_action.description %></td>
															<td>  <%=   balance_action.created_at %></td>

															<td><%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, balance_action %></td>
															<td><%# link_to '<button type="button" class="btn btn-success waves-effect waves-light "><i class="fa fa-pencil"></i></button>'.html_safe, edit_balance_action_path(balance_action) %></td>
															<td><%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, balance_action, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %></td>
														</tr>
														<% end %>
													</tbody>
												</table>
											</div>
										</div>
										<%= will_paginate @userbalancesaction,:param_name => 'balanceaction_page', :previous_label => t("previous"), :next_label => t("next") %>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>





				<%# debug @usertickets %>
