<h1>New user</h1>
    <div class="login">
      <h1><%= t('Sign up') %> </h1>
  
<%= form_tag( url: sign_up2_path ) do  %>

<%# debug params %>
<p> <%= t('add activation code for this email') %>  <%=  session[:uemail] %>
</p>
  <p>
    <%=  label_tag :active_code ,t('activation code') %><br />
    <%=  text_field_tag :active_code ,   "",  class: 'form-control' %>
  </p>
 
 


    <div class="actions  text-center"> 
       <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Activate') %> </button>
   </div>

<% end %>
     
      
</div>
 

