<h1>New user</h1>
    <div class="login">
      <h1><%= t('Sign up') %></h1>
     
<%# form_for user ,:html => { :multipart => true } do |f| %>

<%= form_tag( url: sign_up1_path ) do  %>

<%# debug session %>
  <p>
    <%=  label_tag :name, t('name')  %><br />
    <%=  text_field_tag :name ,   "",  class: 'form-control' %>
  </p>
  <%   if  @activetype.value == 'sms' %>

 <p>
    <%=  label_tag :tel, t('tel') %><br />
    <%=  text_field_tag :tel ,  "",  class: 'form-control'  %>
  </p>
<% else %>
 
  <p>
    <%=  label_tag :email, t('email') %><br />
    <%=  text_field_tag :email , "", class: 'form-control' %>
  </p>
  <% end %>


    <div class="actions  text-center"> 
       <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Send Verification Code') %> </button>
   </div>

<% end %>
     
      
</div>



  
 

