<p id="notice"><%= notice %></p>
<div class="col-md-4">
	<ul class="list-group">
		<li class="list-group-item">
			<span class="badge"><%= @data.d_withdraw_count.to_s + "/" + @data.users_group.day_withdraws_count.to_s %></span>
			عدد عمليات السحب هذا اليوم
		</li>
        <li class="list-group-item">
			<span class="badge"><%= @data.m_withdraw_count.to_s+ "/" + @data.users_group.month_withdraws_count.to_s %></span>
			عدد عمليات السحب هذا الشهر
		</li>
        <li class="list-group-item">
			<span class="badge"><%= @data.d_withdraw_value.to_s+ "/" + @data.users_group.day_max_withdraw.to_s %></span>
			المبلغ المسحوب هذا اليوم بالدولار
        </li>
        <li class="list-group-item">
			<span class="badge"><%= @data.m_withdraw_value.to_s+ "/" + @data.users_group.month_max_withdraw.to_s %></span>
			 المبلغ المسحوب هذا الشهر بالدولار
		</li>
        <li class="list-group-item">
			<span class="badge"><%= @data.current_family_limit.to_s + "/" + @data.users_group.family_limit.to_s %></span>
			المبلغ الذى تم ارساله هذا الشهر بالدولار
		</li>
        <li class="list-group-item">
			<span class="badge"><%= @data.current_max_family_recieve.to_s + "/" + @data.users_group.max_family_recieve.to_s %></span>
			المبلغ الذى تم استلامه هذا الشهر بالدولار
		</li>
        

   
	</ul>
</div>

