<%# debug @usercart %>
 

          
<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
  <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
      <div class="row row-default button-row">
          <div class="col-md-5">
              <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                 <%= t('Active Carts')%>
              </h4>
          </div>
          <%= form_tag  url_for(:controller => 'transactions', :action => 'searchpost'), :method => 'post' do %>
          <div class="col-md-7">
              <div class="clearfix">
                  <div class="search-div radius-md bg-white b-boxshadow">
                      <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder="<%= t('Search') %>">
                      <button type="submit" class="search-btn"><i class="icon ic-search-1"></i></button>
                  </div>
                  <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                      <%= select_tag(:searchtime, options_for_select([[t('last hour'),'last hour'],[t('last day'),'last day'], [t('last week'),'last week'], [t('last month'),'last month'],[t('last year'),'last year']]),:include_blank => ' date', class: 'selectpicker' )  %>
                  </div>
                  <div class="self-select bg-white radius-md mrg-left-xs ppicker">
                      <%= select_tag(:operationtyp, options_for_select([[t('Buy Cart'),'onlinebanks'],[t('Cart Charge'),'carts'], [t('Balance Transfer To Other Users'),'users_wallets_ballences_frozens'], [t('Balance Transfer Between Wallets'),'users_wallets_balances/walletstransferpost'],[t('Withdraw Requests'),'balances_withdraws']]),:include_blank => ' operation type',  class: 'selectpicker' )   %>
                  </div>
              </div>
          </div>
          <% end %>
      </div>
  </div>




  <div class="mak-vis-scrl">
      <div class="table-section content demo-x">
          <div class="first-row text-black">
              <table class="self-table">
                  <tr>
                     
                      
                      
                      <td><%=t('Process ID')%></td>   
                      
                      <td><%=t('cart number')%></td>   
                      <td><%= t('Serial Number')%></td>
                      <td><%=t('value')%></td>  
                      <td><%= t('Payment Method') %> </td>     
                      <td><%=t('Buy Date')%></td>                   
                      <td><%=t('expire date')%></td>                 
                      

                 
                  </tr>
              </table>
          </div>
          <div class="self-table-content english-font content demo-y btm-bg-grd height-230">
              <table class="self-table">
                  <% @usercart.each do |cart| %>
                  <% @trans_id = Transaction.where("foreign_id =? and controller =?",cart.id,"onlinebanks/paypalconfirm ").first %>

                  <tr>


                     
                      
                      <% if (@trans_id != nil) %>
                      <td><%= @trans_id.transaction_id %></td>
                      <% else %>
                      <td><%= " " %></td>
                      <% end %>
                      <td><%=  @cartnn=    AESCrypt.decrypt(cart.cart_number, 'ServHight') %></td>
                      <td><%= @pre= AESCrypt.decrypt(cart.prefix, 'ServHight') %></td>
                      <td><%= cart.value %></td>  
                      
                     <% if (@trans_id != nil) %>
                      <td><%= @trans_id.w_to_name %></td>
                      <% else %>
                      <td><%= " " %></td>
                      <% end %>
                     <td><%= cart.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                     
                     <td><%= cart.expire_date.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>




                     
                    <td>
                          <div class="upd-column">
                              <span class="three-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </span>
                          </div>
                      </td>
                  </tr>
                  <% end %>
              </table>
          </div>
      </div>
  </div>
</section>




















<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
  <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
      <div class="row row-default button-row">
          <div class="col-md-5">
              <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                  <%= t('InActive Carts') %> 
              </h4>
          </div>
          <div class="col-md-7">
              <div class="clearfix">
                  <div class="search-div radius-md bg-white b-boxshadow">
                      <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder=<%= t("Search")%>>
                      <button class="search-btn"><i class="icon ic-search-1"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="mak-vis-scrl">
      <div class="table-section content demo-x">
          <div class="first-row text-black">
              <table class="self-table">
                  <tr>
                      <td><%= t('Process ID') %></td>
                      <td><%= t('تاريخ الشراء') %> </td>
                      <td><%= t('تاريخ الشحن') %> </td>
                      <td><%= t('طريقة الدفع') %> </td>
                      <td><%= t('الرصيد قبل الشحن') %> </td>      
                      <td><%= t('value') %> </td>
                      <td><%= t('الرصيد بعد الشحن') %> </td>      
                      
                      <td></td>
                  </tr>
              </table>
          </div>
          <div class="self-table-content english-font content demo-y btm-bg-grd height-230">
              <table class="self-table">
                 
                  <% @chargedcarts.each do |cart| %>
                  <% @trans_id = Transaction.where("foreign_id =? and controller =?",cart.id ,"carts/cartbalancetouser").first %>
                  
                  <% if (@trans_id != nil) %>
                  <td><%= @trans_id.transaction_id %></td>
                  <% else %>
                  <td><%= " " %></td>
                  <% end %>
                 <td><%= cart.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                 <td><%= cart.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                 <% if (@trans_id != nil) %>
                  <td><%= @trans_id.w_to_name %></td>
                  <% else %>
                  <td><%= " " %></td>
                  <% end %> 
                  <% if (@trans_id != nil) %>
                  <td><%= @trans_id.beforecharge %></td>
                  <% else %>
                  <td><%= " " %></td>
                  <% end %>                   
                 <td><%= cart.value %></td> 
                 <% if (@trans_id != nil) %>       
                 <td><%= @trans_id.w_to_balance_after  %></td>
                 <% else %>
                  <td><%= " " %></td>
                  <% end %>


              </table>
              <% end %>
              
          </div>
      </div>
  </div>
</section>










































