<!DOCTYPE html>
                      <html lang="en">
                      
                      <head>
                      <meta charset="UTF-8" />
                      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
                      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                      <!-- SEO -->
                      <title>Login</title>
                      <meta name="description" content="" />
                      <meta name="keywords" content="" />
                      <!-- Google Authorship and Publisher Markup -->
                      <link rel="author" href="" />
                      <link rel="publisher" href="" />
                      <!-- Schema.org markup for Google+ -->
                      <meta itemprop="name" content="" />
                      <meta itemprop="description" content="" />
                      <meta itemprop="image" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />
                      <!-- Twitter Card data -->
                      <meta name="twitter:card" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />
                      <meta name="twitter:site" content="" />
                      <meta name="twitter:title" content="" />
                      <meta name="twitter:description" content="" />
                      <meta name="twitter:creator" content="" />
                      <meta name="twitter:image:src" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />
                      <!-- Open Graph data -->
                      <meta property="og:title" content="" />
                      <meta property="og:type" content="website" />
                      <meta property="og:url" content="http://payers.net/" />
                      <meta property="og:image" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />
                      <meta property="og:description" content="" />
                      <meta property="og:site_name" content="" />
                      <meta property="fb:admins" content="" />
                      <!-- Schema -->
                      <script type="application/ld+json">
                      { "@context": "http://schema.org", "@type": "webSite", "url": "http://www.crtivo.studio", "name": "12 Cups Website", "description": "for selling coffee " }
                      </script>
                      <!-- other SEO info -->
                      <meta name="revisit-after" content="5 days">
                      <meta name="robots" content="index,follow" />
                      <meta name="rating" content="general" />
                      <meta name="author" content="" />
                      <meta name="copyrights" content="" />
                      <meta name="alexaVerifyID" content="" />
                      <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rsslink" />
                      <!-- FavsIcons -->
                      <meta name="apple-mobile-web-app-capable" content="yes" />
                      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
                      <link rel="apple-touch-icon" href="icon.png" />
                      <link rel="apple-touch-startup-image" href="home.png" />
                      <link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-rtl.css" />
                      
          
                           <link rel="shortcut icon" href="../favicon.ico">
                           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                           <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
                           <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
                           <%= csrf_meta_tag %>  
                       
                       
                   
                      </head>
<!-- || head area end || -->
<!-- || page body start || -->

<body id="login-page">
    <div class="bannerpage bg-white min-f-height-vh pos-relative">
        <div class="logo-postion pos-absolute">
            <div class="logo-section">
                <a href="/" class="b-boxshadow">
                <img src="<%= format_link(request) %>/assets
/imgs/white-logo.png" alt="white-logo" class="f-width">
            </a>
            </div>
        </div>
        <div class="bannersection pos-absolute f-height">
            <figure>
                <img src= "" class="imagecover pos-absolute">
            </figure>
            <% flash.each do |name, msg| %>
            <div class="pos-absolute f-width padding-hor-lg bannersection-caption clearfix">
            <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">
                <span class="ico icon ic-right text-green"></span>
                <h5 class="sm-lg-fontsize text-dgray font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h5>
                <p class="sm-md-fontsize text-mgray"><%= notice %></p>

                <span class="alert-close icon-Plus-white"><%= alert %></span>
            </div>
        </div>
         <% end %>

         <%= yield %>

         
        </div>
        <div class="formsection padding-hor-md box-size">


        
           
          
          
            <div class="formwrap pad-left-sm f-width pad-right-sm hlf-e-btm">
               
            <%= form_for :sms_verify, url: user_sms_check_path do |form| %>
                
                    <div class="self-label">
                        <label>

                            <%= form.text_field :code, :class => 'selfinput',:id => 'code'  %>
                            
                           
                            
                            <span class="placeholder-span">رمز التاكيد</span>
                          </label>
                      </div>

                      <%# link_to "Sign out", send("destroy_#{resource_name}_session_path"), :method => :get %>
                <div id="resendcode" style="display: none;">
                <% if current_userd.sms_active == 1 %>
                <a href="/resendsms" class="mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue">إعادة الإرسال <i class="icon ic-icons-523"></i> </a>
                <% else %>
                <a href="/resendsms" class="mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue">إعادة الإرسال <i class="icon ic-icons-523"></i> </a>
                <% end %>
                </div>
               <div id="timer"></div>
                <div class="row row-default l-height-md padding-ver-md">
                    <div class="col-xs-12">
                        <div class="text-left">
                            <input type="submit" name="submit" value="تاكيد" class="btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding">
                            <a href="/userds/sign_out" class="btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding">الغاء الدخول</a>

                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>

            
            <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">
                <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                        <%= t('All Rights Reserved Owned by Payers')%> @ <%= Time.current.year%>
                    </p>
            <ul class="footer-ul sm-sm-fontsize font-bold">
				<li><a href="https://support.payers.net/support/solutions" target="_blank"><%= t('How To Use') %></a></li>
			<li><a href="https://www.payers.net/privacy.html" target="_blank"><%= t('Privacy Policy') %></a></li>
			<li><a href="https://www.payers.net/money-laundry.html" target="_blank"><%= t('Money Landury') %></a></li>
		    </ul>

            </footer>
        </div>
    </div>
    <!-- || footer scripts start || -->
  
    <!-- || footer scripts ends || -->
</body>
<!-- || page body ends || -->

</html>

 <script>
    $(document).ready(function(){

        function bannerGen() {

        function randomPicture() {
            var min=1;
            var max=13;
            var picture=Math.floor(Math.random()*(max-min+1))+min;
            return picture;
        }

                var imageSrc = "<%= format_link(request) %>/backgrounds/"+randomPicture()+".jpeg";         
                $(".imagecover").attr('src', imageSrc);
    
        }
        bannerGen();
    });

    </script>

 <script>

var timer = 120;

var interval = setInterval(function() {
    timer--;
    $('#timer').text('<%= t("Resend code link will appear after") %>'+ ' '+ timer);
    if (timer === 0) {
    	clearInterval(interval);
        $('#resendcode').show();
        $('#timer').hide()}
}, 1000);
</script>