<script>
$('#transactions-id').addClass('active');
</script>
 <script src="/assets/js/cart/morris.js"></script>
<script src="/assets/js/cart/raphael.js"></script>

<!-- <script src="resources/js/cart/Chart.min.js"></script> -->

<!-- <script src="resources/js/cart/canvasjs.min.js"></script> -->

<head>
        <head>
                <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
                <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
                <meta charset="utf-8">
                <title>Chartist | Simple line chart</title>
              </head>
    </head>



<!-- <script src="resources/js/rickshaw/rickshaw.js"></script> -->
<!-- <script src="resources/js/rickshaw/rickshaw.min.js"></script> -->

<% content_for :title, t('statistics') %>
<% content_for :icon, 'dollor' %>



                <div class="bg-white user-static-head padding-ver-lg pad-left-md pad-right-md radius-lighter">
                    <div class="clearfix">
                        <div class="clearfix user-head-detail">
                            <a href="#" class="profile-pics mrg-left-lg hlf-e-btm pull-right">

                                   <% if current_userd.avatar == nil %>



                                <img src="<%= format_link(request) %>/blank-profile-pic.png" alt="user-notification" class="imagecover">

                <% else%>
                <%= image_tag  get_attachment(request,current_userd.avatar,"img"),:class => "imagecover" ,:alt => 'user-notification'%>
                <%end %>


                            </a>
                            <div class="profile-id hlf-e-btm pull-right mrg-bottom-sm">
                                <h4 class="text-blue md-md-fontsize font-weight-normal mrg-top-sm mrg-bottom-sm hlf-e-btm"><%= current_userd.f_name  %> <%= " "%><%= current_userd.l_name%></h4>
                                <p class="font-bold sm-lg-fontsize english-font text-blue mrg-top-sm">ID : <%= current_userd.account_number %></p>
                            </div>
                        </div>


                        <div class="user-static-head-content">
                            <div class="content demo-x">
                                <div class="ushc-list clearfixfix">
                                    <div class="ushc-each-list">
                                        <h5 class="text-black"><%= t('Number Of Account Cards') %></h5>
                                        <h4 class="text-black english-font"><%= @cart.count %></h4>
                                    </div>
                                    <div class="ushc-each-list">
                                        <h5 class="text-black"><%= t('Number Of Wallets') %></h5>
                                        <h4 class="text-black english-font"><%= @wallets_number.count %></h4>
                                    </div>
                                    <div class="ushc-each-list">
                                        <h5 class="text-black"><%= t('Withdraw Requests')%></h5>
                                        <h4 class="text-black english-font"><%= @withdraw_count.count %></h4>
                                    </div>
                                    <div class="ushc-each-list">
                                        <h5 class="text-black"><%= t('Balance Transfer')%></h5>
                                        <h4 class="text-black english-font"><%= @convert_count %></h4>
                                    </div>
                                    <div class="ushc-each-list">
                                        <h5 class="text-black"><%= t('Bank Accounts') %></h5>
                                        <h4 class="text-black english-font"><%= @bank_counts %></h4>
                                    </div>
                                    <div class="ushc-each-list">
                                        <h5 class="text-black"><%= t('Tickets Number') %></h5>
                                        <h4 class="text-black english-font"><%= @tickets_count %></h4>
                                    </div>
                                     <div class="ushc-each-list">
                                        <h5 class="text-black"><%= t('Sign in Trials') %></h5>
                                        <h4 class="text-black english-font"><%= current_userd.sign_in_count %></h4>
                                    </div>
                                     <div class="ushc-each-list">
                                        <h5 class="text-black"><%= t('Failed Sign in Counts') %></h5>
                                        <h4 class="text-black english-font"><%= @failed_signin %></h4>
                                    </div>

                                    <div class="ushc-each-list">
                                            <h5 class="text-black"><%= t('Success Sign in Counts') %></h5>
                                            <h4 class="text-black english-font"><%= current_userd.sign_in_count - @failed_signin %></h4>
                                        </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white user-static-body radius-lighter">
                    <div class="google-cart clearfix">
                        <div class="google-cart-refrence">
                            <h4 class="text-black lg-sm-fontsize mrg-bottom-lg hlf-e-btm font-weight-normal"><%= t('Informations')%></h4>
                            <div class="content demo-y btm-bg-grd height-350">
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: #0a6ddf" class="smal-bg-box"></div>
                                    <%= t('Number Of Account Cards') %>
                                   </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: green;" class="smal-bg-box"></div>
                                    <%= t('Number Of Wallets') %>
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: #f4c63d;" class="smal-bg-box"></div>
                                    <%= t('Withdraw Requests')%>
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: #d17905;" class="smal-bg-box"></div>
                                    <%= t('Balance Transfer')%>
                                </div>
                                <!-- <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    <%= t('Bank Accounts') %>
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: green;" class="smal-bg-box"></div>
                                    <%= t('Tickets Number') %>
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: blue;" class="smal-bg-box"></div>
                                    <%= t('Sign in Trials') %>
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    <%= t('Failed Sign in Counts') %>
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: green;" class="smal-bg-box"></div>
                                    <%= t('Success Sign in Counts') %>
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: blue;" class="smal-bg-box"></div>
                                    تلايوحت ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: purple;" class="smal-bg-box"></div>
                                    تاباسحلا ةيكنبلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاقاطب ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: green;" class="smal-bg-box"></div>
                                    تابلط بحسلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: blue;" class="smal-bg-box"></div>
                                    تلايوحت ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: purple;" class="smal-bg-box"></div>
                                    تاباسحلا ةيكنبلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاقاطب ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: green;" class="smal-bg-box"></div>
                                    تابلط بحسلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: blue;" class="smal-bg-box"></div>
                                    تلايوحت ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: purple;" class="smal-bg-box"></div>
                                    تاباسحلا ةيكنبلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاقاطب ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: green;" class="smal-bg-box"></div>
                                    تابلط بحسلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: blue;" class="smal-bg-box"></div>
                                    تلايوحت ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: purple;" class="smal-bg-box"></div>
                                    تاباسحلا ةيكنبلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاقاطب ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تابلط بحسلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تلايوحت ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاباسحلا ةيكنبلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاقاطب ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تابلط بحسلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تلايوحت ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاباسحلا ةيكنبلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاقاطب ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تابلط بحسلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تلايوحت ديصرلا
                                </div>
                                <div class="each-color-detail sm-lg-fontsize text-black">
                                    <div style="background: orange;" class="smal-bg-box"></div>
                                    تاباسحلا ةيكنبلا
                                </div> -->
                            </div>
                        </div>





                        <div id="annual" class="canvas-view">

                            </div>




                         <!-- <div id="annual" class="canvas-view"> -->
                                <%= content_tag :div,"",id: "carts_chart",class: "canvas-view",data: {carts: @cartt.to_json   } %>
                                <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
                              <%= content_tag :div,"",id: "wallets_chart",class: "canvas-view",data: {wallets: @walletchart.to_json} %>
                                <%= content_tag :div,"",id: "withdraw_chart",class: "canvas-view",data: {withdraw: @withdraw_chart.to_json} %>
                                <%= content_tag :div,"",id: "convert_chart",class: "canvas-view",data: {converts: @convert_chart.to_json} %>




                                  <!-- <div class="ct-chart"></div> -->



                        <!-- </div>  -->

                        <!-- <div id="chart" class="canvas-view">


                        </div> -->
                    </div>
                </div>



                <style>


                        .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut{

                            stroke:green;

                        }


                        .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut{

                            stroke:#0a6ddf;

                        }
                </style>
<script>


      //   new Chartist.Line('#annual', {
//             series: [[
//               {x: 1, y: 100},
//               {x: 2, y: 50},
//               {x: 3, y: 25},
//               {x: 5, y: 12.5},
//               {x: 8, y: 6.25}
//             ],
//             [
//             {x: 12, y: 1},
//             {x: 6, y: 50},
//             {x: 4, y: 25},
//             {x: 5, y: 4.5},
//             {x: 8, y: 6.25}
//           ]]
//           }, {
//             axisX: {
//               type: Chartist.AutoScaleAxis,
//               onlyInteger: true
//             }
//           });




          new Chartist.Line('#annual', {
            labels: [],
            series: [

            $('#carts_chart').data('carts'),
            $('#wallets_chart').data('wallets'),
            $('#withdraw_chart').data('withdraw'),
            $('#convert_chart').data('converts'),

            ]
          }, {
            width: 840,
            height: 500
          });

</script>
