 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

 
        <title><%= t("log in")%></title>

        <link href="/style/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/style/css/responsive.css" rel="stylesheet" type="text/css" />

		<!-- start: MAIN CSS -->
	  <%= stylesheet_link_tag("/adminstyle/bower_components/bootstrap/dist/css/bootstrap.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/css/custom.css") %>

	  <%= stylesheet_link_tag("/adminstyle/bower_components/font-awesome/css/font-awesome.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/themify-icons/themify-icons.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/flag-icon-css/css/flag-icon.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/animate.css/animate.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/switchery/dist/switchery.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/ladda/dist/ladda-themeless.min.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/slick.js/slick/slick.css") %>
	  <%= stylesheet_link_tag("/adminstyle/bower_components/slick.js/slick/slick-theme.css") %>
	  <%= stylesheet_link_tag("/adminstyle/css/styles.css") %>
	  <%= stylesheet_link_tag("/adminstyle/css/plugins.css") %>
	  <%= stylesheet_link_tag("/adminstyle/css/rtl.css") %>
	  <%= stylesheet_link_tag("/adminstyle/css/themes/lyt1-theme-1.css?id=skin_color") %>
		<!-- end: Packet CSS -->
		
        <script src="/style/js/modernizr.min.js"></script>
        
    </head>
    <body>
		<!-- start: LOGIN -->
		<div class="row">
			<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
				<div class="logo text-center">
					<img src="<%= format_link(request) %>/assets
/imgs/logo-big.png" alt="{{app.name}}" class="img-responsive" />
				</div>
				<p class="text-center text-dark text-bold text-extra-large margin-top-15">
					Welcome to Payeerz
				</p>
				<p class="text-center">
					You can build just about any type of dashboard you want with Packet, a developer friendly admin theme.
				</p>
				<p class="text-center">
					Please enter your name and password to log in.
				</p>
				<!-- start: LOGIN BOX -->
				<div class="box-login">
					<%= form_tag sessions_path , {:class => 'form-login form-horizontal m-t-20'} do %>
						<div class="form-group">
							<%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] , {:class => 'form-control'} %>
						</div>
						<div class="form-group form-actions">

							<%= label_tag :password %><br />
                                <%= password_field_tag :password  , '' ,{:class => 'form-control'} %>

						</div>
						<div class="text-center">
							<a href="login_forgot.html"> تذكرني </a>
						</div>
						<div class="form-actions">
							<button class="btn btn-red btn-bloc" type="submit"><%= t("Log in") %></button>
							<div class="checkbox clip-check check-primary">
								<input type="checkbox" id="remember" value="1">
								<label for="remember"> حفظ تسجيل الدخول </label>
							</div>
						</div>
						<div class="new-account text-center">
							Don't have an account yet?
							<%= link_to t("Sign up"), sign_up_path %> 
						</div>
					 <% end %>
					<!-- start: COPYRIGHT -->
					<div class="copyright">
						2016 &copy; Servicehigh.net.
					</div>
					<!-- end: COPYRIGHT -->
				</div>
				<!-- end: LOGIN BOX -->
			</div>
		</div>
		<!-- end: LOGIN -->
	        
       	<script>
            var resizefunc = [];
        </script>

	<!-- start: MAIN JAVASCRIPTS -->
		<script src="/adminstyle/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/adminstyle/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/adminstyle/bower_components/components-modernizr/modernizr.js"></script>
		<script src="/adminstyle/bower_components/js-cookie/src/js.cookie.js"></script>
		<script src="/adminstyle/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
		<script src="/adminstyle/bower_components/jquery-fullscreen/jquery.fullscreen-min.js"></script>
		<script src="/adminstyle/bower_components/switchery/dist/switchery.min.js"></script>
		<script src="/adminstyle/bower_components/jquery.knobe/dist/jquery.knob.min.js"></script>
		<script src="/adminstyle/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
		<script src="/adminstyle/bower_components/slick.js/slick/slick.min.js"></script>
		<script src="/adminstyle/bower_components/jquery-numerator/jquery-numerator.js"></script>
		<script src="/adminstyle/bower_components/ladda/dist/spin.min.js"></script>
		<script src="/adminstyle/bower_components/ladda/dist/ladda.min.js"></script>
		<script src="/adminstyle/bower_components/ladda/dist/ladda.jquery.min.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="/adminstyle/bower_components/Chart-js/Chart.min.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: Packet JAVASCRIPTS -->
		<script src="/adminstyle/js/letter-icons.js"></script>
		<script src="/adminstyle/js/main.js"></script>
		<!-- end: Packet JAVASCRIPTS -->
		<!-- start: JavaScript Event Handlers for this page -->
		<script src="/adminstyle/js/index.js"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Index.init();
			});
		</script>
		<!-- end: JavaScript Event Handlers for this page -->
	
	</body>
</html>


	