<%= form_for(@user_list) do |f| %>
  <% if @user_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_list.errors.count, "error") %> prohibited this user_list from being saved:</h2>

      <ul>
      <% @user_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
