

<!doctype html>
<!-- <html dir='ltr' lang="en"> -->

<head>
    
    <!-- SEO -->
    <title>Lost Password</title>
    <link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-rtl.css" />
    <script src="<%= format_link(request) %>/assets/js/app.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script> -->

    <script src="/jquery.lazyload.js"></script>

</head>
<!-- || head area end || -->
<!-- || page body start || -->
<%# bootstrap_devise_error_messages! %>
<body id="login-page">
    <div class="bannerpage bg-white min-f-height-vh pos-relative">
        <div class="logo-postion pos-absolute">
            <div class="logo-section">
                <a href="/" class="b-boxshadow">
                <img src="<%= format_link(request) %>/assets/imgs/white-logo.png" alt="white-logo" class="f-width">
            </a>
            </div>
        </div>
        <div class="bannersection pos-absolute f-height">
            <figure>
                <img src="" class="imagecover pos-absolute">
            </figure>
            <div class="pos-absolute f-width padding-hor-lg bannersection-caption clearfix">
            </div>
        </div>
        <div class="formsection padding-hor-md box-size">
            <div class="formwrap pad-left-sm f-width pad-right-sm hlf-e-btm">
                <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>
                <div class="self-label">
                    <label>                       
                       <%= f.email_field :email, autofocus: true, :id=>'useremail', class: 'selfinput' %>
                       <span class="placeholder-span"><%= t('email') %></span>
                       <span class="mdl-textfield__error" id="notmail" style="color:red; display:none;">هذا الايميل تم تأكيده من قبل </span>
                        <span class="mdl-textfield__error" id="notaccepted" style="color:red; display:none">غير مقبول</span>                       
                    </label>
                </div>
                <div class="row row-default l-height-md padding-ver-md">
                    <div class="col-xs-12">
                        <div class="text-left">
                          <%= f.submit t('.resend_confirmation_instructions', default: 'Resend confirmation instructions'), class: 'btn-shadow radius-md btn text-white text-hover-brand bg-black hover-bg-blue md-padding subb' %>
                          
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
           <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">
            <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                        <%= t('All Rights Reserved Owned by Payers')%> @ <%= Time.current.year%>
                    </p>
            <ul class="footer-ul sm-sm-fontsize font-bold">
				<li><a href="https://support.payers.net/support/solutions" target="_blank"><%= t('How To Use') %></a></li>
			<li><a href="https://www.payers.net/privacy.html" target="_blank"><%= t('Privacy Policy') %></a></li>
			<li><a href="https://www.payers.net/money-laundry.html" target="_blank"><%= t('Money Landury') %></a></li>
		    </ul>
        </footer>

         <% flash.each do |name, msg| %>
<div class="alertmsg-10">
        <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">
    <span class="ico icon ic-right text-green"></span>
    <h5 class="sm-lg-fontsize text-dgray font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h5>
    <p class="sm-md-fontsize text-mgray"><%= notice %></p>

    <span class="alert-close icon-Plus-white"><%# alert %></span>

    <!-- <span class="alert-close icon-Plus-white"><%# devise_error_messages! %></span> -->
    

    
    
</div>
</div>
<% end %>


        </div>
      </div>
    </div>
    
    <script>
    $(document).ready(function(){

        function bannerGen() {

        function randomPicture() {
            var min=1;
            var max=13;
            var picture=Math.floor(Math.random()*(max-min+1))+min;
            return picture;
        }

                var imageSrc = "<%= format_link(request) %>/backgrounds/"+randomPicture()+".jpeg";         
                $(".imagecover").attr('src', imageSrc);
    
        }
        bannerGen();
    });

    </script>

    <script>
    $(document).ready(function() {

        $('#useremail').keyup(function(){ 
        $("#notmail").hide();
        $("#notaccepted").hide();
        var email = $('#useremail').val();
        if(email != 0)
        {
            var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (filter.test(email)) {
            $("#notaccepted").hide();
            $(".subb").removeAttr("disabled");      
            //alert("accepted");


            $.ajax({
            type:'get',
            url:'/mailconfirm',
            data:{email:email},
            contentType: "application/json",              
            dataType: "json",
            success: function(data){

            if(data.bool == "True"){
            $(".subb").attr("disabled", "disabled");
            $("#notmail").show();

            }
            else if(data.bool == "False")
            {

            $(".subb").removeAttr("disabled");
            $("#repmail").hide();
            // alert("else");

            }

            }
            });
            }
            else {
            $("#notacceped").show();
            $(".subb").attr("disabled", "disabled");
            // alert("notaccepted");
            }
            }
        }) 
    });
</script>
    
</body>
<!-- || page body ends || -->
<%# render 'devise/shared/links' %>
</html>




<script type="">
    
   $("img").lazyload();

</script>

























