
<% if @users_wallets_balances_frozen.currency == "USD" %>
<% @currency = t('balance IN Dolar')%>
<% elsif @users_wallets_balances_frozen.currency == "EGP" %>
<% @currency = t('balance IN Egp')%>
<% elsif @users_wallets_balances_frozen.currency == "SAR" %>
<% @currency = t('balance IN Rys')%>
<% end %>
<% @trans = Transaction.where("foreign_id =? and controller =?",@users_wallets_balances_frozen.id,"users_wallets_ballences_frozens/create").first%>
<% @app_trans = Transaction.where("foreign_id =? and controller =?",@users_wallets_balances_frozen.id,"users_wallets_ballences_frozens/approvedbalance").first%>
<% @refund = Transaction.where("foreign_id =? and controller =?",@users_wallets_balances_frozen.id,"users_wallets_ballences_frozens/deleteOperation").first %>

<% if @users_wallets_balances_frozen.user_id == current_userd.id and @users_wallets_balances_frozen.approve == 0 and @users_wallets_balances_frozen.deleted == 0  %>
<% content_for :title, t('Confirm Balance Transfer') %>
<% else %>
<% content_for :title, t('Balance Transfer Data') %>
<% end %>
<% content_for :icon, 'dollor' %>

<% @timeago = @users_wallets_balances_frozen.created_at.to_datetime + @users_wallets_balances_frozen.Suspension_period.to_i.days %>
<% @aprroved_after = ((@timeago - DateTime.now)/1.hour).round %>
<% @test = distance_of_time_in_words @timeago, Time.now %>
     
                <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                      <img src="<%= format_link(request) %>/assets
/imgs/trans-confirm.png" alt="trans-confirm">
                    </h3>
                    <div class="clearfix">
                        <div class="pull-right sm-f-width box-shadow-left">
                            <div class="page-title l-height-md mrg-bottom-md">
                                <div class="row row-default button-row">
                                    <div class="col-xs-12">
                                        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">

                                            <% if @users_wallets_balances_frozen.user_id == current_userd.id and @users_wallets_balances_frozen.approve == 0 and @users_wallets_balances_frozen.deleted == 0  %>
                                         <%= t('Confirm Balance Transfer') %>
                                         <% else %>
                                         <%= t('Balance Transfer Data') %>
                                         <%# elsif @users_wallets_balances_frozen.user_id_to == current_userd.id and @users_wallets_balances_frozen.approve == 0 and @users_wallets_balances_frozen.deleted == 0 %>
                                         <%# t('Balance Transfer Data') %>
                                         <%# elsif @users_wallets_balances_frozen.approve == 1 @users_wallets_balances_frozen.deleted == 0  %>
                                         <%# t('Balance Transfer Data') %>
                                         <%# elsif @users_wallets_balances_frozen.deleted != 0 %>
                                        <%# t('Balance Transfer Data') %>
                                         <% end %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            
                               
                                <% if @users_wallets_balances_frozen.user_id == current_userd.id and @users_wallets_balances_frozen.approve == 0 and @users_wallets_balances_frozen.deleted == 0 %>
                                <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
                                <span class="ico lg-md-fontsize text-yellow">!</span>
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Review Your Information Now') %></h5>
                                <p class="sm-md-fontsize text-dgray"><%= t('Please Review Transormation Data Before It Submitted') %></p>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                                <% elsif @users_wallets_balances_frozen.user_id_to == current_userd.id and @users_wallets_balances_frozen.approve == 0 and @users_wallets_balances_frozen.deleted == 0 %>
                                <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
                                <span class="ico lg-md-fontsize text-yellow">!</span>
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Payment process is still pending') %></h5>
                                <% if @timeago >= Time.now %>
                                <p class="sm-md-fontsize text-dgray"><%= t('This amount will be released in your balance during') + ' ' + @test %></p>
                                <% else %>
                                <p class="sm-md-fontsize text-dgray"><%= t('This amount will be released in your balance during') + ' ' + t('soon') %></p>
                                <% end %>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                                <% elsif @users_wallets_balances_frozen.user_id == current_userd.id and @users_wallets_balances_frozen.approve == 1  and @users_wallets_balances_frozen.deleted == 0 %>
                                <div class="msg-alert alert box-size border-color-green hlf-btm bg-white padding-ver-xs clearfix">
                                 <span class="ico icon ic-right text-green"></span>
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Balance Delivered successfully') %></h5>
                                <p class="sm-md-fontsize text-dgray"><%= t('Balance transfer proccess is successfully completed') %></p>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                            <% elsif @users_wallets_balances_frozen.user_id_to == current_userd.id and @users_wallets_balances_frozen.approve == 1 and @users_wallets_balances_frozen.deleted == 0 %>
                                <div class="msg-alert alert box-size border-color-green hlf-btm bg-white padding-ver-xs clearfix">
                                 <span class="ico icon ic-right text-green"></span>
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Completed Payment process') %></h5>
                                <p class="sm-md-fontsize text-dgray"><%= t('This amount was released in your balance') %></p>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                            <% elsif @users_wallets_balances_frozen.user_id == current_userd.id and @users_wallets_balances_frozen.deleted != 0 %>
                                <div class="msg-alert alert box-size border-color-red hlf-btm bg-white padding-ver-xs clearfix">
                                 <span class="ico lg-md-fontsize text-red"></span>
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Operation refunded') %></h5>
                                <p class="sm-md-fontsize text-dgray"><%= t('The transferred balance has been declined') %></p>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                            <% elsif @users_wallets_balances_frozen.user_id_to == current_userd.id and @users_wallets_balances_frozen.deleted != 0 %>
                            <div class="msg-alert alert box-size border-color-red hlf-btm bg-white padding-ver-xs clearfix">
                                 <span class="ico lg-md-fontsize text-red"></span>
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Operation refunded') %></h5>
                                <p class="sm-md-fontsize text-dgray"><%= t('The amount has been deducted from your balance') %></p>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                                <% end %>
                                
                     
                            <div class="btm-bg-grd">
                               <div class="content demo-y height-300 mrg-top-lg hlf-e-btm">
                                    <div class="selfscroll-section">
                                        <table class="table sm-md-fontsize">
                                            <tr>
                                                <td class="font-bold text-blue pad-left-xs"><%= t('Transaction ID') %>:</td>
                                                <% if @users_wallets_balances_frozen.deleted != 0 %>
                                                <td class="font-weight-normal text-dgray"><%= @trans_id = @refund.transaction_id %></td>
                                                <% @ticked_open = @refund.ticket_opend %>
                                                <% elsif @users_wallets_balances_frozen.approve == 0 and @users_wallets_balances_frozen.deleted == 0  %>
                                                <td class="font-weight-normal text-dgray"><%= @trans_id = @trans.transaction_id %></td>
                                                <% @ticked_open = @trans.ticket_opend %>
                                                <% elsif @users_wallets_balances_frozen.approve == 1 and @users_wallets_balances_frozen.deleted == 0  %>
                                                <td class="font-weight-normal text-dgray"><%= @trans_id = @app_trans.transaction_id %></td>
                                                <% @ticked_open = @app_trans.ticket_opend %>
                                                <% end %>
                                            </tr>
                                            <tr>
                                                <td class="font-bold text-blue pad-left-xs"><%= t('Transfer Currency') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @currency %></td>
                                            </tr>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('Conversion method') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= t('Internal transfer') %></td>
                                            </tr>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('Conversion type') %>:</td>
                                                <% @purpose = UsersWalletsFrozensPurpose.find_by_id(@users_wallets_balances_frozen.purpose_id)%>
                                                <td class="font-weight-normal text-dgray"><%= t(@purpose.name) %></td>
                                            </tr>
                                             <% @userto_iden = Userd.where("id = ?",@users_wallets_balances_frozen.user_id_to).first%>
                                             <% @user_iden = Userd.where("id = ?",@users_wallets_balances_frozen.user_id).first%>

                                            <% if @users_wallets_balances_frozen.user_id == current_userd.id %>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('Name of the addressee') %>:</td>
                                               
                                                <td class="font-weight-normal text-dgray"><%= @userto_iden.username %></td>
                                            </tr>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('User Identification') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @userto_iden.email %></td>
                                            </tr>
                                            <% elsif @users_wallets_balances_frozen.user_id_to == current_userd.id %>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('Name of sender') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @user_iden.username %></td>
                                            </tr>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('User Identification') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @user_iden.email %></td>
                                            </tr>

                                            <% end %>





                                            
                                           <% if @users_wallets_balances_frozen.Suspension_period != nil and @users_wallets_balances_frozen.approve == 0 and @users_wallets_balances_frozen.deleted == 0  %>
                                           
                                           <% if @timeago >= Time.now %>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('Balance transfer will be approved after') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @test %> </td>

                                            </tr>
                                            <% end %>
                                            <% end %>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('Transfer Date') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @users_wallets_balances_frozen.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                                            </tr>
                                            <% if @users_wallets_balances_frozen.approve == 1%>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('Approve Transfer Date') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @users_wallets_balances_frozen.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                                            </tr>
                                            <% end %>
                                            <% if @users_wallets_balances_frozen.deleted != 0 %>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('Refund Transfer Date') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @users_wallets_balances_frozen.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                                            </tr>
                                            <% end %>


                                           

                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('note') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @users_wallets_balances_frozen.note %></td>
                                            </tr>


                                            <tr>
                                                    <td class="font-bold text-blue  pad-left-xs"></td>
                                                    <td class="font-weight-normal text-dgray"></td>
                                                </tr>

                                                <tr>
                                                        <td class="font-bold text-blue  pad-left-xs"></td>
                                                        <td class="font-weight-normal text-dgray"></td>
                                                    </tr>

                                           


                                        </table>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="pull-right box-shadow-right sm-f-width">
                            <div class="iblock mrg-left-lg mrg-bottom-md">
                                <% if current_userd.id == @users_wallets_balances_frozen.user_id %>
                                <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Transfered Balance') %></h5>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= @users_wallets_balances_frozen.balance %></p>
                                 <% elsif current_userd.id == @users_wallets_balances_frozen.user_id_to %>
                                 <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('delivered balance') %></h5>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= @users_wallets_balances_frozen.netbalance %></p>
                                <% end %>
                                <p class="sm-md-fontsize text-dgray"><%= @currency %></p>
                            </div>
                            <div class="iblock mrg-bottom-md">
                                <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Administrative expenses') %></h5>
                                <% if current_userd.id == @users_wallets_balances_frozen.user_id %>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= '0.00' %></p>
                                <% elsif current_userd.id == @users_wallets_balances_frozen.user_id_to %>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= @users_wallets_balances_frozen.balance.to_f - @users_wallets_balances_frozen.netbalance.to_f %></p>
                                <% end %>
                                <p class="sm-md-fontsize text-dgray"><%= @currency %></p>
                            </div>
                            <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('The Total Amount') %></p>
                            <h1 class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
                                <%= @users_wallets_balances_frozen.balance %>
                            </h1>
                            <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= @currency %></p>
                            <div class="mrg-top-md">
                                <% if @users_wallets_balances_frozen.user_id == current_userd.id and @users_wallets_balances_frozen.deleted == 0 %>
                                <a ticket_status = "<%= @ticked_open %>" data-tran ="<%= @trans_id %>" href="#" class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding report_problem">
                                    <%= t('Report a problem') %>
                                </a>
                                <%# else %>
                                <!-- <a href= <%= users_wallets_balances_frozens_path %> class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                                    <%# t('Not Now') %>
                                </a> -->
                                <% end %>
                                <% if current_userd.id == @users_wallets_balances_frozen.user_id  and  @users_wallets_balances_frozen.approve == 0 and @users_wallets_balances_frozen.deleted == 0  %>
                                
                                <a id="approve_transform" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
                                      <i class="ico icon-white-logo"></i> <%= t('Approve Now') %>
                                </a>
                             
                                <% elsif current_userd.id == @users_wallets_balances_frozen.user_id_to  and @users_wallets_balances_frozen.deleted == 0  %>
                                <% @tranfer_date = @users_wallets_balances_frozen.created_at %>
                                <% if @users_wallets_balances_frozen.purpose_id == 1 %>
                                <% @refund_period = Time.now - 30.to_i.days %>
                                <% elsif @users_wallets_balances_frozen.purpose_id == 2 %>
                                <% @refund_period = Time.now - 45.to_i.days %>
                                <% elsif @users_wallets_balances_frozen.purpose_id == 3 %>
                                <% @refund_period = Time.now - 15.to_i.days %>
                                <% end %>
                                <% if @tranfer_date >= @refund_period %>
                                
                                <a id="refund_transform" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
                                      <i class="ico icon-white-logo"></i> <%= t('Refund Now') %>
                                </a>
                                <% end%>
                                <% end%>
                                
                                <!-- <a href=<%# "/approvedbalance?id=" + @users_wallets_balances_frozen.id.to_s %> class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
                                      <i class="ico icon-white-logo"></i> <%# t('Pay Now') %>
                                      <%# end%>
                                </a> -->
                            </div>
                        </div> 
                    </div>
                </section>
            
    <div id="failure-popup" class="selfpopup" style="display:none;">
    <div class="selfpopup-bg">
    </div>
    <div class="selfpopup-content">
        <div class="selfpopup-inner">
            <div class="selfpopup-middle">
                <div class="padding-all-sm">
                    <div class="cart-balance selfpopup-caption">
                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h4 class="icon-img-pp mrg-bottom-sm">
                                <img src="<%= format_link(request) %>/assets
/imgs/error.png" alt="error">
                            </h4>
                            <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"> <%= t('Your request will be confirmed permanently') %></h5>
                            <p id ="failure-messege" class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                               <%= t("Press confirm now to confirm the conversion or close the message but the conversion will be approved automatically after After exceeding the prescribed period") %>
                                    <%# t("Data Entered Not For This Country") %>
                            </p>

                               

                         <!--  <a href="<%# "/approvedbalance?id=" + @users_wallets_balances_frozen.id.to_s %>" class="btn md-padding radius-md border-brand text-brand text-hover-white hover-bg-brand"><i class="ico icon-white-logo"></i> <%# t('Pay Now') %></a> -->
                          <a  id = "approve_now" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
                                      <i class="ico icon-white-logo"></i> <%= t('Approve Now') %>
                                      
                                </a>
                        </div>
                        <div class="crcl-animation">
                            <span class="lg-crcl"></span>
                            <span class="md-crcl"></span>
                            <span class="sm-crcl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="refund-popup" class="selfpopup" style="display:none;">
    <div class="selfpopup-bg">
    </div>
    <div class="selfpopup-content">
        <div class="selfpopup-inner">
            <div class="selfpopup-middle">
                <div class="padding-all-sm">
                    <div class="cart-balance selfpopup-caption">
                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h4 class="icon-img-pp mrg-bottom-sm">
                                <img src="<%= format_link(request) %>/assets
/imgs/error.png" alt="error">
                            </h4>
                            <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"> <%= t('this process will be refunded permanently') %></h5>
                            <p id ="failure-messege" class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                               <%= t("Press refund Now to refund the conversion or close the message") %>
                                    <%# t("Data Entered Not For This Country") %>
                            </p>


                      

                                <a  id = "refund_now" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
                                <i class="ico icon-white-logo"></i> <%= t('Refund Now') %>
                                
                          </a>
                        </div>
                        <div class="crcl-animation">
                            <span class="lg-crcl"></span>
                            <span class="md-crcl"></span>
                            <span class="sm-crcl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
        <script>
                $(document).ready(function(){ 
                    
                    $("#approve_now").click(function()
                        {
                        $(this).attr("disabled", true);
                        this.text = "<%= t('Please Wait') %>";
                        location.replace("<%= "/approvedbalance?id=" + @users_wallets_balances_frozen.id.to_s %>");
                        });

                        $("#refund_now").click(function()
                        {
                        $(this).attr("disabled", true);
                        this.text = "<%= t('Please Wait') %>";
                        location.replace("<%= "/refund_request?id=" + @users_wallets_balances_frozen.id.to_s + "&deleted=" + "1" %>");
                        });


                $("#approve_transform").click(function()
                {
                 $('#failure-popup').show();
             });
                
                 $("#refund_transform").click(function()
                {
                 $('#refund-popup').show();
             });

             $(".report_problem").click(function() {

                var status = $(this).attr('ticket_status');
               
                if(status == 1){

                    var url = $(".ticket_disabled").attr('ticket_script');
                     

                $('#success-messege').text(url);

                $('#success-popup').show();

                } else {
                      

              $('#freshdesk_trans_id').val($( this ).attr('data-tran'));

              $('#user_ticket_data').show();
                return false;
                }

                    });

         })

     </script>
    