
<% @current_limit = Userd.find_by_id(current_userd.id)  %>

<% @usergroup_limit = UsersGroup.find_by_id(current_userd.group_id) %>

<script>

        $(document).ready(function() {


            


            var all_verified = "<%= @current_user_verification.all_verified %>";

            $(".purp").click(function() 
        {
                    $('#wrong_susp').hide();
                    $('#wrong_serv').hide();
                    $("#setdata").removeAttr("disabled");
                    var purp_id = $(this).children("input").attr("id");
                    var purp_name = $(this).attr("name");
                    clearall();
                    //alert(purp_name);
                    $('.cur').children("input").prop("checked",false);


                    $("#trans_purpose").val(purp_id);
                    $('#purposename').val(purp_name);
                    $('#transfer_info_form').hide();
                    
                    $('#currencyselect').addClass('active');
                    $('#transferdata').removeClass('active');
                    //$('#currencyselect').addClass('active');

                    $('#currency_block').show();
                    $('#rec_rem_amount').hide();
                    $('#users_wallets_balances_frozen_user_id_to').val('');
                    $('#usertoname').val('');
                    $('#userto_limit').val('');
                    $('#users_wallets_balances_frozen_balance').val('');
                    if (purp_id == 3){
                        $("#remaining_amount").show();

                    }

                    else if(purp_id != 3) {

                        $("#remaining_amount").hide();


                    }
                    $(this).children("input").prop("checked",true);
                    check_purpose();
            
             });

     $(".cur").click(function()
     
     {

    
                    var currency = $(this).attr("currency");
        
                    
                    var from = $(this).attr("from");
                    var remaining = $(this).attr("remaining");

                    $('#transferdata').addClass('active');
                    $('#users_wallets_balances_frozen_user_id_to').val('');
                    $('#usertoname').val('');
                    $('#users_wallets_balances_frozen_balance').val('');
                    $('#userto_limit').val('');
                    $('#transfer_info_form').show();
                    check_purpose();
                    $("#user_limit").val(remaining);
                    $('#user_limit').attr('readonly', true);
                    $("#from_type").val(from);
                    
                    $("#value_currency").text(currency);
                    $("#remain_currency").text(currency);
                    $("#rec_rem_currency").text(currency);
                    $(this).children("input").prop("checked",true);
     
                 
         });
     


           
            function check_purpose(){

                var trans_purpose= $("#trans_purpose").val();
                if (trans_purpose == 3)
                {
                  $('#service').val('');
                  $('#commodity').val('');
                  $("#susp_val").val('');
                    $('#suspension_commodity').hide();
                    $("#suspension_commodity").removeAttr("required");
                    $('#suspension_service').hide();
                    $("#suspension_service").removeAttr("required");
                }
                else if (trans_purpose == 2){
                  $('#commodity').val('');
                  $("#susp_val").val('');
                    $('#suspension_commodity').hide();
                    $("#suspension_commodity").removeAttr("required");
                    $('#suspension_service').show();
                }
                else if (trans_purpose == 1){
                  $('#service').val('');
                  $("#susp_val").val('');
                  $('#suspension_commodity').show();
                    $('#suspension_service').hide();
                    $("#suspension_service").removeAttr("required");
                }
            }



       $('#commodity').change(function(){
        $('#service').val('');
          var commodity = $('#commodity').val();
           $("#susp_val").val(commodity);
           //console.log(commodity);
           if ( commodity < 1 || commodity > 30){
            $('#wrong_susp').show();
            $("#setdata").attr("disabled",true);
           } else {
            $('#wrong_susp').hide();
            $("#setdata").removeAttr("disabled");  
           }
            });


       $('#service').change(function(){
        $('#commodity').val('');
          var service = $('#service').val();
           $("#susp_val").val(service);
           if ( service < 1 || service > 45){
            $('#wrong_serv').show();
            $("#setdata").attr("disabled",true);
           } else {
            $('#wrong_serv').hide();
            $("#setdata").removeAttr("disabled"); 
           }
            });









            $('#usertoname').hide();
            $('#userlabel').hide();

$('#users_wallets_balances_frozen_user_id_to').change(function()
            {
                var buid = $('#users_wallets_balances_frozen_user_id_to').val();
                var current = "<%= current_userd.id %>";

                   if(buid != 0)
                      {
                        $.ajax({
                            type:'get',
                            url:'/walletfrozen',
                            data:{id:buid},
                            contentType: "application/json",
                            dataType: "json",
                            cache:false,
                            success: function(data)
                            {
                                {
                                            //console.log(data);                                      
                                if (data.usersnamell == null || data.usersnamell.id == current )
                                    {
                                            $('#usertoname').hide();
                                            $("#usertoname").empty();
                                            $('#userlabel').hide();
                                            $('#failure-messege').text("<%= t("The User Wasn't Stored in Our Database") %>");
                                            $('#failure-popup').show();
                                            $('#users_wallets_balances_frozen_user_id_to').val('');

                                     }

                                        else {
                                                    $.each(data, function () 
                                                    {
                                                            $('#usertoname').show();
                                                            $('#userlabel').show();
                                                            //console.log(this['username']);

                                                            //$('#not-registered').hide();

                                                            $("#usertoname").empty();

                                                            $("#usertoname").val(data.usersnamell.username).html(data.username);
                                                            $("#usertoemail").val(data.usersnamell.email).html(data.email);

                                                            
                                                            jQuery('#usertoname').addClass('changestate');
                                                            jQuery('#usertoname').parent('label').addClass('filled-input');
                                                            jQuery('#usertoname').parent('label').removeClass('empty-input');

                                                            $('#usertoname').attr('readonly', true);

                                                            $("#selected_user_to").val(data.usersnamell.id);
                                                            
                                                            // if (($('#trans_purpose').val() == 3 && data.user_verification_to.all_verified == '1')|| data.user_verification_to.all_verified == '0')

                                                            if ($('#trans_purpose').val() == 3 )
                                                                $('#rec_rem_amount').show();
                                                            {
                                                            $("#userto_limit").empty();
                                                            var remain_user_to = parseFloat(data.usertogroup.max_family_recieve) - parseFloat(data.usersnamell.current_max_family_recieve);

                                                            var remain_user_to_riyal = remain_user_to * <%= @usdtors.value.to_f %>
                                                            var remain_user_to_egp = remain_user_to * <%= @usdtoegp.value.to_f %>
                                                            if ($('#from_type').val() == "USD"){
                                                            $("#userto_limit").val(remain_user_to);
                                                        }
                                                        else if ($('#from_type').val() == "SAR"){
                                                            $("#userto_limit").val(remain_user_to_riyal);
                                                        }
                                                        else if ($('#from_type').val() == "EGP"){
                                                            $("#userto_limit").val(remain_user_to_egp);
                                                        }

                                                            $('#userto_limit').attr('readonly', true);
                                                        }




                                                        });
                                         }
                            }


                     }
        });
                    }

    

                })

         
          $('#sub').click(function(){

         
          });


          $('.users_wallets_balances_frozen').change(function(){

            
             var compared_val=parseFloat($('#users_wallets_balances_frozen_balance').val());       
             var trans_purpose= $("#trans_purpose").val();
             var buid = $('#selected_user_to').val();
             var currency = $('#from_type').val();

             if(buid != 0 && trans_purpose != 0)
      
            {
              $.ajax({
                type:'get',
                url:'/check_expenses',
                data:{userto:buid , purpose_id:trans_purpose,currency:currency ,compared_val:compared_val },
                contentType: "application/json",
                dataType: "json",
                
                success: function(data)
                {
                             //console.log(data);

                             if (data.response != ''){
                             $('#users_wallets_balances_frozen_balance').val('');

                             $('#failure-messege').text(data.response);
                             $('#failure-popup').show();
                             }
                             else
                             {
                              $("#sub").attr('disabled', false);
                             }

                        
                        }
                        
                        }); 
                        
                        }; 
            //alert(currency);
             
            

             $("#sub").attr('disabled', false);
            var recieve = $('#users_wallets_balances_frozen_user_id_to').val();
            if (recieve == 0) {
              $('#users_wallets_balances_frozen_balance').val('');
                $("#sub").attr('disabled', true);
                $('#failure-messege').text("<%= t('You should enter reciever identification first') %> ");
                $('#failure-popup').show();
            }
          
            $("#sub").attr('disabled', true);
            
                   
          
            })

        })
        </script>
       

       

       <div id='before_review'>
 <% content_for :title, t('Balance Transfer User') %>
        <% content_for :icon, 'Dashboard' %>


                   <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                       <div class="pos-relative">
                           <div class="title-line sm-f-width">
                               <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                   <i class="ico icon-dollor"></i>
                               </h3>
                               <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                   <%= t('Balance Transformation Request') %>
                               </h4>
                           </div>
                           <div class="self-tabs text-center">
                               <ul class="self-tabs-list">
                                <li class="active">
                                       <a href="#">
                                           <span class="ico">
                                               <i class="icon-home-icon"></i>
                                           </span>
                                           <span class="selftbas-title"><%= t('Select Purpose') %></span>
                                       </a>
                                   </li>
                                   <li id="currencyselect" >
                                       <a href="#">
                                           <span class="ico">
                                               <i class="icon-home-icon"></i>
                                           </span>
                                           <span class="selftbas-title"><%= t('Select Currency') %></span>
                                       </a>
                                   </li>
                                   <li id="transferdata">
                                       <a href="#">
                                           <span class="ico">
                                               <i class="icon-dollor"></i>
                                           </span>
                                           <span class="selftbas-title"><%= t('Transformation Data') %></span>
                                       </a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="pad-top-lg hlf-e-btm">
                           <div class="row row-sm">

                                    <div class="col-md-6 col-lg-5 col-sm-12">

                                   <div class="row row-sm">
                                            <div class="col-md-6 col-sm-6 col-xs-12">

                                         <div class="scrollbar-inner logos-menu">

                                               <div class="logos-list-menu">
                                               
                                                <% @transfer_purpose.all.each do |purpose| %>


                                         
                                                    <label class="logo-radiobox purp" id="<%= purpose.id%><%= purpose.id%>" name='<%= t (purpose.name) %>'>
                                                       <!-- <input type="checkbox" name="checkbox" id="<%# purpose.id%>"> -->
                                                       <input style="display:none;" type="radio" name="checkbox" id="<%= purpose.id%>">

                                                       <span class="logo-list logo-list1">
                                                           <h4>
                                                           <i >
                                                           
                                                           <%# image_tag (purpose.logo.url) %>
                                                            <%= image_tag admin_attachment(request,purpose.logo,"img") %>

                                                           
                                                           </i>
                                                            

                                                           </h4>
                                                           <h5>
                                                               <%= t(purpose.name) %>
                                                           </h5>
                                                           <h6 class="sm-text"></h6>
                                                       </span>
                                                   </label>
                                               <% end %>

                                               </div>
                                           </div>
                                       </div>
                                


                               <div class="col-md-6 col-sm-6 col-xs-12" id="currency_block" style="display: none;">

                                    <div class="scrollbar-inner logos-menu">

                                               <div class="logos-list-menu">
                                               <% if @dollar_wallet.is_deleted == 0 %>

                                               
                                                   <label class="logo-radiobox cur" id="dollarfrom" currency = '<%= t('balance IN Dolar')%>' from ='USD' remaining = '<%=  @remaining %>'>
                                                       <!-- <input type="checkbox" name="checkbox" id="dollarfromch"> -->

                                                       <input style="display:none;" type="radio" name="checkbox1" id="dollarfromch">


                                                       <span class="logo-list logo-list2">
                                                           <h4>
                                                               <img src="<%= format_link(request) %>/assets/imgs/world-white.png" alt="world-white" class="act-img">
                                                               <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="world-white" class="off-img">
                                                           </h4>
                                                           <h5>
                                                               <%= t('balance IN Dolar') %>
                                                           </h5>
                                                           <h6 class="sm-text"><%= @dollar_wallet.balance.to_s + " "+ t('balance IN Dolar') %></h6>
                                                       </span>
                                                   </label>



                                                  


                                                   <% end %>
                                                   <% if @sar_wallet!= nil and @sar_wallet.is_deleted == 0   %>
                                                   <label class="logo-radiobox cur" id="rysfrom" currency = '<%= t('balance IN Rys') %>' from ='SAR' remaining = '<%=  @remaining_riyal %>'>
                                                       <!-- <input type="checkbox" name="checkbox" id="sarfromch"> -->
                                                       <input style="display:none;" type="radio" name="checkbox1" id="dollarfromch">

                                                       <span class="logo-list logo-list2">
                                                           <h4>
                                                               <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="world-white">
                                                           </h4>
                                                           <h5>
                                                               <%= t('balance IN Rys') %>
                                                           </h5>
                                                           <h6 class="sm-text"><%= @sar_wallet.balance.to_s + " "+ t('balance IN Rys') %></h6>
                                                       </span>
                                                   </label>
                                                   <% end %>

                                                <% if @egp_wallet!= nil and @egp_wallet.is_deleted == 0   %>
                                                   <label class="logo-radiobox cur" id="egpfrom" currency = '<%= t('balance IN Egp')%>' from ='EGP'  remaining = '<%=  @remaining_egp %>'   >
                                                       <!-- <input type="checkbox" name="checkbox" id="egpfromch"> -->

                                                       <input style="display:none;" type="radio" name="checkbox1" id="egpfromch">

                                                       <span class="logo-list logo-list2">
                                                           <h4>
                                                               <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="world-white">
                                                           </h4>
                                                           <h5>
                                                               <%= t('balance IN Egp') %>
                                                           </h5>
                                                           <h6 class="sm-text"><%= @egp_wallet.balance.to_s + " "+ t('balance IN Egp') %></h6>
                                                       </span>
                                                   </label>
                                                   <% end %>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div> 

                           
             
         <%= form_for @users_wallets_balances_frozen,:url => url_for(:controller => 'users_wallets_balances_frozens', :action => 'savetransfer') , :html => { :multipart => true } do |f| %>

                <div id="transfer_info_form" class="col-md-4 col-sm-12" style="display:none;" >


                     <div id="remaining_amount" class="self-label" style="display:none;">
                            <label>

                                <%= text_field_tag "user_limit" , '', class: 'selfinput'%>

                                <span class="placeholder-span"><%= t('Remaining amount') %></span>
                                <span class="text-left-word" id="remain_currency"></span>
                            </label>
                        </div>


                        <div class="self-label">
                            <label>
                                <%= text_field_tag "users_wallets_balances_frozen_user_id_to" , "", class: 'selfinput'%>

                                <span class="placeholder-span"><%= t('User Identification') %></span>
                            </label>
                        </div>





                            <div class="self-label" id="usertoname1">
                                    <!-- <%# f.label  :user_to_name,  :id=>'usertoname' ,:class=>'selfinput' %> -->

                                    <label>


                                    <input type="text"  id="usertoname" value="" class="selfinput">
                                    <span id="userlabel" class="placeholder-span"><%= t('user name') %></span>



                                    </label>
                        

                            </div>



                            <div id="rec_rem_amount" class="self-label" style="display:none;">
                                <label>

                                    <%= text_field_tag "userto_limit" , '', class: 'selfinput'%>

                                    <span class="placeholder-span"><%= t('Reciever Remaining amount') %></span>
                                    <span class="text-left-word" id="rec_rem_currency"></span>
                                </label>
                            </div>




                            <div class="self-label">
                                <label>
                                    <%= f.number_field  :balance, step: :any, :class=>'selfinput users_wallets_balances_frozen' ,:id => 'users_wallets_balances_frozen_balance',  :required => true %>
                                    <span class="placeholder-span"><%= t('Transfered Value') %></span>
                                    <span class="text-left-word" id="value_currency"></span>
                                </label>
                            </div>


                            

                            

                            <% if @susp_interval.value == '1'%>


                            <div id='suspension_commodity' class="self-label" style="display:none;">
                                <label>
                                <%= number_field_tag 'commodity', nil, in: 1...31 , :class=>'selfinput',:required => true%>
                                    <span class="placeholder-span"><%= t("Suspension Interval") %></span>
                                </label>
                            </div>
                            <span id='wrong_susp' style="color:red;font-weight:bold ;display:none"><%= t("This value must not be less than 1 day and not more than 30 days")%></span>




                            <div id='suspension_service' class="self-label" style="display:none;">
                                <label>
                                <%= number_field_tag 'service', nil, in: 1...46 , :class=>'selfinput' ,:required => true%>
                                    <span class="placeholder-span"><%= t("Suspension Interval") %></span>
                                </label>
                            </div>
                            <span id='wrong_serv' style="color:red;font-weight:bold ;display:none"><%= t("This value must not be less than 1 day and not more than 45 days")%></span>

                                
                            
                            <%= f.hidden_field :Suspension_period ,  :class=> 'form-control' ,:id => 'susp_val' %>

                            <% end %>

                            

                            <div class="self-label">
                            <label>
                                <%= f.text_field  :note, :class=>'selfinput'  %>
                                <span class="placeholder-span"><%= t('note') %></span>
                                <span class="text-left-word" id="Note"></span>
                            </label>
                        </div>



                            <%= f.hidden_field :user_id, :value => current_userd.id  %>
                            <%= f.hidden_field :user_id_to, :id => "selected_user_to"  %>
                            <%= hidden_field_tag :purposename  %>
                            <%= hidden_field_tag :usertoemail  %>


                            <%= f.hidden_field :ratio_company %>
                            <%= f.hidden_field :netbalance %>
                            <%= f.hidden_field :currency,:id => "from_type"  %>
                            <%= f.hidden_field :purpose_id,:id => "trans_purpose"  %>

                            <div class="mrg-top-md text-left">
                                <label>
                                    <span class="btn md-padding radius-md iconic bg-blue hover-bg-brand text-white text-hover-white"><i class="icon-white-logo"></i> <%= t('Pay Now') %></span>
                                    <input type="button" id="setdata" name="submit" class="sr-only" value=<%= t('Pay Now') %>>
                                    <button type="button" id='submit_r' class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" style="display:none;" >  </button>
                                    <!-- <input type="submit" id='verifycode2' name="button" value='<%#t("Activate")%>' class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm"> -->
                                    <%# f.submit %>
                                    <% end %>

                                </label>
                            </div>

                    </div>

                </div>
            </div>

                   </section>




</div>


<div id='after_review' style="display:none;">








                   <!-- #############################################review ################################# -->

                   <div id="sms-form" class="selfpopup" style="display:none;">
                        <div class="selfpopup-bg">
                        </div>
                        <div class="selfpopup-content">
                            <div class="selfpopup-inner">
                                <div class="selfpopup-middle">
                                    <div class="padding-all-sm">
                                        <div class="cart-balance selfpopup-caption">
                                            <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                            <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                                    <h4 class="icon-img-pp mrg-bottom-sm">
                                                            <img src="<%= format_link(request) %>/assets/imgs/check.png" alt="check">
                                                        </h4>
                        
                                                <%= form_for :sms_verify, url: balance_with_draw_sms_check_path do |form| %>
                                                
                                                
                                                
                        
                                                    <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"><%= t('Activation code has sent') %></h5>
                        
                                                    <p class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                                                    <%= t('To transfer balance to other users') %><%= " "%><%= t('To your Mobile phone') %> 
                                                    <span id="tel2"><%=current_userd.tel%></span>                                        
                        
                                                        </p>
                                                    <div id="resend" class="text-left" style='display: none;'>
                                                            
                                                       
                                                            <a href="#" id='resendcode' class="mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue"> <i class="icon ic-icons-523"></i> <%= t('Resend the code') %></a>
                                                            
                                                        </div>
                                                        
                                                
                                   
                        
                                                <div id="timer" style="color:#000;" style="display: none;"></div>
                        
                        
                        
                        
                        
                                                          <div class="self-label">
                                                            <label>
                        
                                                                <span id='wrong-messege' style="color:red;font-weight:bold ;display:none"><%= t("Error in code")%></span>
                        
                                                                <span id='true-messege' style="color:green;font-weight:bold ;display:none"><%= t("Correct Code")%></span>
                                                                
                                                                
                                                                <%= form.text_field :code, :class => 'selfinput',:id => 'code'  %>
                        
                                                                
                                                                <span class="placeholder-span"><%= t("The code")%> </span>
                                                            </label>
                                                        </div> 
                                                        
                                                        
                        
                                                        
                                                        <div class="text-left">
                        
                                                                
                        
                                                                <input type="button" id='verifycode' name="button" value='<%=t("Activate")%>' class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm">

                                                            </div>
                        
                        
                                               
                        
                                                <% end %>

                                                
                                            </div>
                                            <div class="crcl-animation">
                                                <span class="lg-crcl"></span>
                                                <span class="md-crcl"></span>
                                                <span class="sm-crcl"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                             
                        </div>
                        
                                              
                                        <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                                            <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                              <img src="<%= format_link(request) %>/assets/imgs/trans-confirm.png" alt="trans-confirm">
                                            </h3>
                                            <div class="clearfix">
                                                <div class="pull-right sm-f-width box-shadow-left">
                                                    <div class="page-title l-height-md mrg-bottom-md">
                                                        <div class="row row-default button-row">
                                                            <div class="col-xs-12">
                                                                <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                                                 <%= t('Review Balance Transfer') %>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
                                                        <span class="ico lg-md-fontsize text-yellow">!</span>
                                                        <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Review Your Information Now') %></h5>
                                                        <p class="sm-md-fontsize text-dgray"><%= t('Please Review Transormation Data Before Submit') %></p>
                                                        <span class="alert-close icon-Plus-white"></span>
                                                    </div>
                                                    <div class="btm-bg-grd">
                                                       <div class="content demo-y height-300 mrg-top-lg hlf-e-btm">
                                                            <div class="selfscroll-section">
                                                                <table class="table sm-md-fontsize">
                                                                 
                                                                
                                                                    <tr id='from_type_row' style="display:none;">
                                                                        <td  class="font-bold text-blue pad-left-xs"><%= t('Transfer Currency') %>:</td>
                                                                        <td  id='from_type_review' class="from_type_review font-weight-normal text-dgray"><%# @currency %></td>
                                                                    </tr>


                                                                    <tr>
                                                                        <td class="font-bold text-blue  pad-left-xs"> <%= t('Conversion method') %>:</td>
                                                                        <td class="font-weight-normal text-dgray"><%= t('Internal transfer') %></td>
                                                                    </tr>

                                                                    
                                                                    <tr>
                                                                        <td id= 'purposename_row' class="font-bold text-blue  pad-left-xs"> <%= t('Conversion type') %>:</td>
                                                                        <%# @purpose = UsersWalletsFrozensPurpose.find_by_id(params[:users_wallets_balances_frozen][:purpose_id])%>
                                                                        <td class="font-weight-normal text-dgray" id= 'purposename_review'><%# @purpose.name %></td>
                                                                    </tr>
                                                                     <%# @userto_iden = Userd.where("id = ?",params[:users_wallets_balances_frozen][:user_id_to]).first%>
                                                                    
                                                                    
                                                                    <tr id='usertoname_row'>
                                                                        <td class="font-bold text-blue  pad-left-xs"> <%= t('Name of the addressee') %>:</td>
                                                                       
                                                                        <td id='usertoname_review' class="font-weight-normal text-dgray"><%# @userto_iden.username %></td>
                                                                    </tr>
                        
                                                                    
                                                                    <tr id='usertoremail_row' style="display:none;">
                                                                        <td class="font-bold text-blue  pad-left-xs"> <%= t('User Identification') %>:</td>
                                                                        <td id='usertoremail_review' class="font-weight-normal text-dgray"><%# @userto_iden.email %></td>
                                                                    </tr>
                                                                    
                                                                    
                                                                    <%# if @susp_interval.value == '1' and params[:users_wallets_balances_frozen][:purpose_id] != '3' %>
                                                                    <tr id='commodity_row' style="display:none;">
                                                                        <td class="font-bold text-blue  pad-left-xs"> <%= t('Suspension Interval') %>:</td>
                                                                        <td  id='commodity_review' class="font-weight-normal text-dgray"><%# params[:users_wallets_balances_frozen][:Suspension_period] %><%= t('day') %></td>
                                                                    </tr>
                                                                    <%# end %>
                                                                    
                                                                    
                                                                    
                                                                    <tr id='users_wallets_balances_frozen_note_row' style="display:none;">
                                                                        <td class="font-bold text-blue  pad-left-xs"> <%= t('note') %>:</td>
                                                                        <td class="font-weight-normal text-dgray"  id='users_wallets_balances_frozen_note_review'><%# params[:users_wallets_balances_frozen][:note] %></td>
                                                                    </tr>
                        
                        
                                                                </table>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="pull-right box-shadow-right sm-f-width">
                                                   
                              <div class="iblock mrg-left-lg mrg-bottom-md">
                                <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Transfered Balance') %></h5>
                                <p  id ="users_wallets_balances_frozen_balance2_review" class="md-sm-fontsize text-black english-font font-bold"><%# @users_wallets_balances_frozen.balance %></p>
                                <p id = "from_type1_review" class="sm-md-fontsize text-dgray"><%# @currency %></p>
                            </div>

                            <div class="iblock mrg-bottom-md">
                                <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Administrative expenses') %></h5>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= '0.00' %></p>
                                <p id = "from_type2_review" class="sm-md-fontsize text-dgray"></p>
                            </div>
                                                    
                                                    <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('The Total Amount') %></p>
                                                    <h1 id='users_wallets_balances_frozen_balance_review' class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
                                                        <%# params[:users_wallets_balances_frozen][:balance] %>
                                                    </h1>
                                                    <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%# @currency %></p>
                                                    <p id = "from_type3_review" class="sm-md-fontsize text-dgray"></p>

                                                    <div class="mrg-top-md">
                        
                        
                                                        <button type="button" id='submitbutton' class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" style="float: left !important; margin-left: 50px;"> <i class="ico icon-white-logo"></i> <%= t('Pay Now') %>  </button>
                                      
                                                      
                        
                                <button type="button" id='editdata' class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding" style=" background: #fff; padding-bottom:5px;"> <%= t('edit info') %>  </button>

                                                    </div>
                                                </div> 
                                            </div>
                                            
                        
                        
                                
                                        </section>
                        
                                    </div>

                                        <style>

                                                .error {
                                                    color: red;
                                                 }
                                            </style>

                                        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
<script>
// just for the demos, avoids form submit
   // jQuery.validator.setDefaults({
   // debug: true,
   // success: "valid"
   // });


//$( "button" ).click(function() {
//});
</script>
                        
                                        <script>
                                
                                  
                                
                                
                                 
                                 
                                
                                        $(document).ready(function () {
                                  
                                  
                                            $(window).keydown(function(event){
                                                if(event.keyCode == 13) {
                                                  event.preventDefault();
                                                  return false;
                                                }
                                              });
                                                
                                  
                                          $('#submitbutton').click(function(){

                                              $(this).attr("disabled",true);

                                            submit_i = submit_i +1 ;
                                                      

                                            if (submit_i == 1){
                                             $("#submit_r").prop("type", "submit");
                                             $( "#submit_r" ).trigger( "click" );
                                            }
                                  
                                              //$('#sms-form').show();
                                              //$('#send').hide();
                                  
                                             // var intlNumber = $("#tel2").intlTelInput("getNumber");
                                              
                                  
                                                        // var intlNumber = $("#tel2").val();
                                  
                                                        //  $("#phonenumber").val(intlNumber);
                                                          
                                                       
                                              
                                                          // $.ajax({ type:'get',url:'/send2fasms',data:{phone:intlNumber},contentType: "application/json",dataType: "json", success: function(data){console.log(data.response);$('#verify_form').show();}});
                                                          
                                  
                                                           
                                  
                                             // $('#timer').show();
                                             // var timer = 60;
                                  
                                         // var interval = setInterval(function() {
                                         // timer--;
                                        //  $('#timer').text('<%= t("Resend code link will appear after") %>'+ ' '+ timer+' '+'<%= t("second") %>');
                                        //  if (timer === 0) {
                                         // clearInterval(interval);
                                         // $('#resend').show();
                                        //  $('#timer').hide();
                                        //  $('#timer').text('');
                                        
                                      //  }
                                          //}, 1000);
                                  
                                             
                                          });
                                  
                                  
                                          $('#resendcode').click(function(){
                                  
                                  
                                                           $.ajax({ type:'get',url:'/resendsms',contentType: "application/json",dataType: "json", success: function(data){
                                                               //console.log(data.response);
                                                               var timer1 = 70;
                        
                                                               $('#timer').show();
                                  
                                                               var interval1 = setInterval(function() {
                                                               timer1--;
                                                               $('#timer').text('<%= t("Resend code link will appear after") %>'+ ' '+ timer1+' '+'<%= t("second") %>');
                                                               if (timer1 === 0) {
                                                               clearInterval(interval1);
                                                               $('#resend').show();
                                                               $('#timer').hide();
                                                               $('#timer').text('');
                                                            
                                                            }
                                                               }, 1000);
                                                       
                                                              }});
                                  
                                                return false ;
                                          });
                                          
                                          
                                  
                                          
                                                                                    
                                          var submit_i = 0;

                                         
                                          $('#verifycode').click(function(){
                                              
                                  
                                              var code = $("#code").val();
                                                 // alert (code);
                                              
                                           
                                  
                                               $.ajax({ type:'get',url:'/verifysms', 
                                               data:{code:code},
                                               contentType: "application/json",
                                               dataType: "json",
                                               success: function(data){
                                  
                                                   //console.log(data.response['verified']);
                                  
                                  
                                                   if (data.response['verified'] == true){
                                                      // alert('true');
                                  

                                                      $('#wrong-messege').hide();
                                                      $('#true-messege').hide();
                                                      
                                                       submit_i = submit_i +1 ;
                                                      

                                                       if (submit_i == 1){
                                                        $("#submit_r").prop("type", "submit");
                                                        $( "#submit_r" ).trigger( "click" );
                                                       }
                                               
                                                   }
                                  
                                                   else{
                                                 
                                  
                                                      $('#wrong-messege').show();
                                                      
                                  
                                  
                                                  }
                                                   }
                                                   });
                                  
                                            })
                                     
                                  
                                      });

                                      
                                                function set(value,name){
                                              
                                                    if (value != undefined && value != '' ){
                                                                    //alert(value);

                                                                  
                                                                    if (name != 'commodity' ){
                                                            $("#" + name +'_review').text(value);
                                                            $("#" + name +'_row').show();

                                                        }
                                                            if (name == 'commodity' ){

                                                                var day = "<%= t('day') %>"
                                                                $("#" + name +'_review').prepend(value + day);
                                                             $("#" + name +'_row').show();

                                                        }

                                              
                                                        }
                                                        
                                                }
                                                function clear(name){


                                                    $("#" + name +'_review').text('');
                                                    $("#" + name +'_row').hide();
                                                
                                            }
                                            
                                            
                                                function clearall (){
                                            
                                            clear('usertoname');
                                            clear('from_type');
                                            clear('purposename');
                                            clear('usertoremail');
                                            clear('users_wallets_balances_frozen_note');
                                            clear('users_wallets_balances_frozen_balance');
                                            clear('trans_purpose');
                                            clear('commodity');
                  
                                                }



                                      
                                      $("#setdata").click(function() {

                                       
                                    
                                              var form = $("#new_users_wallets_balances_frozen");
                                            //  console.log(form);
                                    
                                              form.validate({

                                                rules: {
                                                        
                                          
                                                        accept_terms: {
                                                          required: true
                                                        }
                                          
                                          
                                                      },
                                                         //ignore: [],
                                          
                                                messages: {
                                          
                                          
                                                       'users_wallets_balances_frozen[balance]': { required: "<%= t('Please enter the amount transferred')%>"  },
                                                       'service': { required: "<%= t('This field is required')%>"  },
                                                       'commodity': { required: "<%= t('This field is required')%>"  },
                                          
                                                       
                                          
                                          
                                          
                                               }
                                          });
                                    
                                            
                                    
                                             if(form.valid() == false){
                                                    //alert('false');
                                            }
                                    
                                             if(form.valid() == true){
                                                     //alert('true');
                                       
                                        var  usertoname =  $('#usertoname').val();
                                         set(usertoname,'usertoname');

                                         var  from_type =  $('#from_type').val();
                                         set(from_type,'from_type');

                                            if (from_type == 'USD'){
                                            set("<%= t("dollar") %>",'from_type1');
                                            set("<%= t("dollar") %>",'from_type2');
                                            set("<%= t("dollar") %>",'from_type3');


                                            }else if (from_type == "SAR"){
                                                set("<%= t("saudi riyal") %>",'from_type1');
                                                set("<%= t("saudi riyal") %>",'from_type2');
                                                set("<%= t("saudi riyal") %>",'from_type3');


                                            }else if (from_type == "EGP"){
                                                set("<%= t("egyptian pound") %>",'from_type1');
                                                set("<%= t("egyptian pound") %>",'from_type2');
                                                set("<%= t("egyptian pound") %>",'from_type3');
   

                                            }
                                        

                                         

                                         var  purposename =  $('#purposename').val();
                                         set(purposename,'purposename');
                                         
                                         
                                         var  usertoremail =  $('#usertoremail').val();
                                         set(usertoremail,'usertoremail');

                                         var  users_wallets_balances_frozen_note=  $('#users_wallets_balances_frozen_note').val();
                                         set(users_wallets_balances_frozen_note,'users_wallets_balances_frozen_note');

                                         var  users_wallets_balances_frozen_balance=  $('#users_wallets_balances_frozen_balance').val();
                                         set(users_wallets_balances_frozen_balance,'users_wallets_balances_frozen_balance');
                                         set(users_wallets_balances_frozen_balance,'users_wallets_balances_frozen_balance2');


                                         
                                         
                                      var trans_purpose = $('#trans_purpose').val();
                                    //   alert(trans_purpose);

                                      
                                         if(trans_purpose == '1'){

                                            var  commodity=  $('#commodity').val();
                                            //alert(commodity);
                                            set(commodity,'commodity');
                                         }


                                         if(trans_purpose == '2'){

                                            var  commodity=  $('#service').val();
                                           // alert(commodity);
                                            set(commodity,'commodity');
                                         }



                                         
                                        
                                        
                                         $('#before_review').hide();
                                        $('#after_review').show();

                                       
                             
                                     }
                                     $('#editdata').click(function(){

                                        clearall ();
                                        $('#before_review').show();
                                        $('#after_review').hide();
                                     });
                                     
                                    
                                       }); 
                                  </script>
                                  
                                  
                        
                        
                        
<!-- ##################################################end review#####################################                         -->