<%= form_for(@withdraws_bank) do |f| %>
  <% if @withdraws_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@withdraws_bank.errors.count, "error") %> prohibited this withdraws_bank from being saved:</h2>

      <ul>
      <% @withdraws_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :currencies_withdraw_ratio_id %><br>
    <%= f.number_field :currencies_withdraw_ratio_id %>
  </div>
  <div class="field">
    <%= f.label :personal_name %><br>
    <%= f.text_field :personal_name %>
  </div>
  <div class="field">
    <%= f.label :business_name %><br>
    <%= f.text_field :business_name %>
  </div>
  <div class="field">
    <%= f.label :nationalid %><br>
    <%= f.text_field :nationalid %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date %>
  </div>
  <div class="field">
    <%= f.label :relation %><br>
    <%= f.text_field :relation %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :bank_name %><br>
    <%= f.text_field :bank_name %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :country_code %><br>
    <%= f.text_field :country_code %>
  </div>
  <div class="field">
    <%= f.label :branch %><br>
    <%= f.text_field :branch %>
  </div>
  <div class="field">
    <%= f.label :branchnumber %><br>
    <%= f.text_field :branchnumber %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :account_name %><br>
    <%= f.text_field :account_name %>
  </div>
  <div class="field">
    <%= f.label :account_email %><br>
    <%= f.text_field :account_email %>
  </div>
  <div class="field">
    <%= f.label :account_number %><br>
    <%= f.text_field :account_number %>
  </div>
  <div class="field">
    <%= f.label :visa_cvv %><br>
    <%= f.number_field :visa_cvv %>
  </div>
  <div class="field">
    <%= f.label :swiftcode %><br>
    <%= f.text_field :swiftcode %>
  </div>
  <div class="field">
    <%= f.label :valid_swift_code %><br>
    <%= f.text_field :valid_swift_code %>
  </div>
  <div class="field">
    <%= f.label :expire_date %><br>
    <%= f.date_select :expire_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br>
    <%= f.number_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :iban %><br>
    <%= f.text_field :iban %>
  </div>
  <div class="field">
    <%= f.label :bban %><br>
    <%= f.text_field :bban %>
  </div>
  <div class="field">
    <%= f.label :checksum %><br>
    <%= f.number_field :checksum %>
  </div>
  <div class="field">
    <%= f.label :bank_code %><br>
    <%= f.number_field :bank_code %>
  </div>
  <div class="field">
    <%= f.label :check_digit %><br>
    <%= f.number_field :check_digit %>
  </div>
  <div class="field">
    <%= f.label :sepa %><br>
    <%= f.number_field :sepa %>
  </div>
  <div class="field">
    <%= f.label :iban_validity %><br>
    <%= f.text_field :iban_validity %>
  </div>
  <div class="field">
    <%= f.label :iban_checksum %><br>
    <%= f.text_field :iban_checksum %>
  </div>
  <div class="field">
    <%= f.label :iban_length %><br>
    <%= f.text_field :iban_length %>
  </div>
  <div class="field">
    <%= f.label :iban_structure %><br>
    <%= f.text_field :iban_structure %>
  </div>
  <div class="field">
    <%= f.label :account_checksum %><br>
    <%= f.text_field :account_checksum %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
