<p id="notice"><%= notice %></p>

<h1>Listing Withdraws Banks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Currencies withdraw ratio</th>
      <th>Personal name</th>
      <th>Business name</th>
      <th>Nationalid</th>
      <th>Birth date</th>
      <th>Relation</th>
      <th>Nickname</th>
      <th>Bank name</th>
      <th>Country</th>
      <th>Country code</th>
      <th>Branch</th>
      <th>Branchnumber</th>
      <th>Phone</th>
      <th>Account name</th>
      <th>Account email</th>
      <th>Account number</th>
      <th>Visa cvv</th>
      <th>Swiftcode</th>
      <th>Valid swift code</th>
      <th>Expire date</th>
      <th>Status</th>
      <th>City</th>
      <th>Address</th>
      <th>Postal code</th>
      <th>Iban</th>
      <th>Bban</th>
      <th>Checksum</th>
      <th>Bank code</th>
      <th>Check digit</th>
      <th>Sepa</th>
      <th>Iban validity</th>
      <th>Iban checksum</th>
      <th>Iban length</th>
      <th>Iban structure</th>
      <th>Account checksum</th>
      <th>Currency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @withdraws_banks.each do |withdraws_bank| %>
      <tr>
        <td><%= withdraws_bank.user_id %></td>
        <td><%= withdraws_bank.currencies_withdraw_ratio_id %></td>
        <td><%= withdraws_bank.personal_name %></td>
        <td><%= withdraws_bank.business_name %></td>
        <td><%= withdraws_bank.nationalid %></td>
        <td><%= withdraws_bank.birth_date %></td>
        <td><%= withdraws_bank.relation %></td>
        <td><%= withdraws_bank.nickname %></td>
        <td><%= withdraws_bank.bank_name %></td>
        <td><%= withdraws_bank.country %></td>
        <td><%= withdraws_bank.country_code %></td>
        <td><%= withdraws_bank.branch %></td>
        <td><%= withdraws_bank.branchnumber %></td>
        <td><%= withdraws_bank.phone %></td>
        <td><%= withdraws_bank.account_name %></td>
        <td><%= withdraws_bank.account_email %></td>
        <td><%= withdraws_bank.account_number %></td>
        <td><%= withdraws_bank.visa_cvv %></td>
        <td><%= withdraws_bank.swiftcode %></td>
        <td><%= withdraws_bank.valid_swift_code %></td>
        <td><%= withdraws_bank.expire_date %></td>
        <td><%= withdraws_bank.status %></td>
        <td><%= withdraws_bank.city %></td>
        <td><%= withdraws_bank.address %></td>
        <td><%= withdraws_bank.postal_code %></td>
        <td><%= withdraws_bank.iban %></td>
        <td><%= withdraws_bank.bban %></td>
        <td><%= withdraws_bank.checksum %></td>
        <td><%= withdraws_bank.bank_code %></td>
        <td><%= withdraws_bank.check_digit %></td>
        <td><%= withdraws_bank.sepa %></td>
        <td><%= withdraws_bank.iban_validity %></td>
        <td><%= withdraws_bank.iban_checksum %></td>
        <td><%= withdraws_bank.iban_length %></td>
        <td><%= withdraws_bank.iban_structure %></td>
        <td><%= withdraws_bank.account_checksum %></td>
        <td><%= withdraws_bank.currency %></td>
        <td><%= link_to 'Show', withdraws_bank %></td>
        <td><%= link_to 'Edit', edit_withdraws_bank_path(withdraws_bank) %></td>
        <td><%= link_to 'Destroy', withdraws_bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Withdraws bank', new_withdraws_bank_path %>
