<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @withdraws_bank.user_id %>
</p>

<p>
  <strong>Currencies withdraw ratio:</strong>
  <%= @withdraws_bank.currencies_withdraw_ratio_id %>
</p>

<p>
  <strong>Personal name:</strong>
  <%= @withdraws_bank.personal_name %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @withdraws_bank.business_name %>
</p>

<p>
  <strong>Nationalid:</strong>
  <%= @withdraws_bank.nationalid %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @withdraws_bank.birth_date %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @withdraws_bank.relation %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @withdraws_bank.nickname %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @withdraws_bank.bank_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @withdraws_bank.country %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @withdraws_bank.country_code %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @withdraws_bank.branch %>
</p>

<p>
  <strong>Branchnumber:</strong>
  <%= @withdraws_bank.branchnumber %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @withdraws_bank.phone %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @withdraws_bank.account_name %>
</p>

<p>
  <strong>Account email:</strong>
  <%= @withdraws_bank.account_email %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @withdraws_bank.account_number %>
</p>

<p>
  <strong>Visa cvv:</strong>
  <%= @withdraws_bank.visa_cvv %>
</p>

<p>
  <strong>Swiftcode:</strong>
  <%= @withdraws_bank.swiftcode %>
</p>

<p>
  <strong>Valid swift code:</strong>
  <%= @withdraws_bank.valid_swift_code %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @withdraws_bank.expire_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @withdraws_bank.status %>
</p>

<p>
  <strong>City:</strong>
  <%= @withdraws_bank.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @withdraws_bank.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @withdraws_bank.postal_code %>
</p>

<p>
  <strong>Iban:</strong>
  <%= @withdraws_bank.iban %>
</p>

<p>
  <strong>Bban:</strong>
  <%= @withdraws_bank.bban %>
</p>

<p>
  <strong>Checksum:</strong>
  <%= @withdraws_bank.checksum %>
</p>

<p>
  <strong>Bank code:</strong>
  <%= @withdraws_bank.bank_code %>
</p>

<p>
  <strong>Check digit:</strong>
  <%= @withdraws_bank.check_digit %>
</p>

<p>
  <strong>Sepa:</strong>
  <%= @withdraws_bank.sepa %>
</p>

<p>
  <strong>Iban validity:</strong>
  <%= @withdraws_bank.iban_validity %>
</p>

<p>
  <strong>Iban checksum:</strong>
  <%= @withdraws_bank.iban_checksum %>
</p>

<p>
  <strong>Iban length:</strong>
  <%= @withdraws_bank.iban_length %>
</p>

<p>
  <strong>Iban structure:</strong>
  <%= @withdraws_bank.iban_structure %>
</p>

<p>
  <strong>Account checksum:</strong>
  <%= @withdraws_bank.account_checksum %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @withdraws_bank.currency %>
</p>

<%= link_to 'Edit', edit_withdraws_bank_path(@withdraws_bank) %> |
<%= link_to 'Back', withdraws_banks_path %>
