

    <script src="<%= format_link(request) %>/assets/js/app.min.js"></script>
    <script src="/jquery.lazyload.js"></script>


    <script src="<%= format_link(request) %>/assets/js/registration.js"></script>
<script>
        $("img").lazyload();
</script>

<!--              <script src='https://www.google.com/recaptcha/api.js'></script> -->
 <!--  <%= bootstrap_devise_error_messages! %> -->


<%# debug ( devise_error_messages!)%>

<!doctype html>
<html dir='ltr' lang="en">

<head>
    
    <title>Register</title>
    <link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-rtl.css" />

</head>
<body id="login-page">
        <div class="bannerpage bg-white min-f-height-vh pos-relative">
                <div class="logo-postion pos-absolute">
            <div class="logo-section">
                <a href="/" class="b-boxshadow">
                <img src="<%= format_link(request) %>/assets/imgs/white-logo.png" id='logopic' alt="white-logo" class="f-width">
            </a>
            </div>
        </div>

     

        <div class="bannersection pos-absolute f-height">
                <div class="bannersection-text padding-hor-lg bg-white pad-top-md pad-bottom-md hlf-btm hlf-e-btm s-boxshadow sr-only-sm-xs element"></div>

        <figure>
            <img src= "" class="imagecover pos-absolute">
        </figure>

    </div>

     
                    <% resource.errors.full_messages.each do |message| %>

                    <div class="alertmsg-10">
                            <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">
                            <span class="ico icon ic-right text-green"></span>
                
                            <h5 class="sm-lg-fontsize text-dgray font-bold"><%= message %></h5>
                            
                            
                            
                
                        </div>
                    </div>


                    <% end %>



                <!-- yield + flash  -->
                <% flash.each do |name, msg| %>
                <div class="alertmsg-10">
                    <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">
                    <span class="ico icon ic-right text-green"></span>
                    <h5 class="sm-lg-fontsize text-dgray font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h5>
        
                    <h5 class="sm-lg-fontsize text-dgray font-bold"><%= bootstrap_devise_error_messages! %></h5>
                    
                    
                    
                    <p class="sm-md-fontsize text-mgray"><%= notice %></p>
        
                    <span class="alert-close icon-Plus-white"><%= alert %></span>
                </div>
            </div>
             <% end %>
        
        
                
            <%= yield %>
        <div class="formsection padding-hor-md box-size">
                    <div class="formwrap pad-left-sm f-width pad-right-sm hlf-e-btm">
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
         
                    <%# f.hidden_field :is_company ,:id=>'is_company' %>


               
                     <div class="self-label">
                        <label>
                                <%= f.text_field :username ,  :class => 'selfinput',:id=>'usersname',:required => true  %>
                            <span class="placeholder-span"><%= t('user name') %></span>  
                            <span class="mdl-textfield__error" id="repname" style="color:red; display:none">إسم مُستخدم من قبل</span>
                          
    
                        </label>
                    </div>


                <div id='tel_div' class="self-label clearfix" style="">
                    <label>
                        <span class="placeholder-span"><%= t("mobile")%></span>
                        <div class="phone-number">
                            <input type="tel" id="phone" name = "thephone" required>
                            <%# f.text_field :tel,  type: 'tel',:id=>'phone' %>
                            <span id="valid-msg" class="" style= "margin-right: 265px ;display:none" tst= "">✓✓✓✓✓</span>

                        </div>
                       <span class="send-message">
                            <div class="text-left">
                    <span id='wrong-messege1' style="color:red;font-weight:bold ;display:none"></span>
                            </div>
                        </span>

                        
                    </label>


                     <%= f.hidden_field :tel ,:id=>'tel_user' %>
                         <%= f.hidden_field :pin_id ,:id=>'pinid',:current => "1"  %>

                        <%= f.hidden_field :pin_voice_id ,:id=>'pin_voice_id',:current => "0"  %>
                </div>


                <span id="code_sending" class="" style= "margin-right: 265px ;display:none" codestatus= ""></span>


                <div id= 'complete_data' style="">

                    
                    <div class="self-label">
                        <label>
                                <%= f.email_field :email,  class: 'selfinput',:id=>'usersmail',:required => true  %>
                            <span class="placeholder-span"><%= t('email') %></span>
                            <span class="mdl-textfield__error" id="repmail" style="color:red; display:none;">بريد مُستخدم بالفعل</span>
                            <span class="mdl-textfield__error" id="notacceped" style="color:red; display:none">غير مقبول</span>
                            
                        </label>
                    </div>
                    <div class="self-label">
                        <label>
                                <%= f.password_field :password, class: 'selfinput',:required => true  %>
                                <span class="placeholder-span"><%= t('password') %></span>
                                <span  class="mdl-textfield__error" id="unacceptedpass" style="color:red ; display:none;">كلمة المرور يجب أن تحتوى على حروف كبيرة وصغيرة وأرقام ولا تقل عن 8</span>

                                
                          </label>
                    </div>
                    <div class="self-label">
                            <label>
                                    <%= f.password_field :password_confirmation, class: 'selfinput',:required => true  %>
                                    <span class="placeholder-span">تأكيد كلمة المرور  </span>
                                    <span class="mdl-textfield__error" id="idenpass" style="color:green ;display:none;">كلمتا المرور متطابقتان</span>
                                    <span class="mdl-textfield__error" id="diffpass" style="color:red ; display:none;">كلمتا المرور غير متطابقتين</span>
                                </label>
                        </div>

                        <div class="self-label">
                        <label>
                       
<!--                        <div id="recaptcha" class="g-recaptcha" data-sitekey="6Le_yFcUAAAAAJQgYtQemO-s0joMtHpm-21ax1mr" name="hiddenRecaptcha"></div>
                        <span class="msg-error error"></span>
                        
                        <%# flash[:recaptcha_error] %> -->

                                
                            </label>
                    </div>


              
                <div class="row row-default l-height-md padding-ver-xs">
                    <div class="col-xs-7">
                        <div class="pos-abs-checkbox">
                                <!-- <p><input type="checkbox" required name="terms"> I accept the <u>Privacy Policy</u></p> -->


                                <!-- <p><input id='accept_terms' type="checkbox" name="accept_terms"> I accept the <u>Privacy Policy</u></p> -->

                            <label class="checkbox">
                                    <input  required type="checkbox" name="accept_terms" id="accept_terms" >

                                <span  class="checkbox-view"></span>
                            </label>
                            <span class="iblock sm-md-fontsize font-bold text-blue"><%= t('موافق على شروط الإستخدام') %><br> 
                            <span class="sm-sm-fontsize font-bold text-dgray"> 
                            <a href="https://www.payers.net/terms.html" target="_blank"><%= t('يرجى مراجعة الشروط والأحكام') %></a>
                            
                            </span>
                            </span>
                            <span id= "termserror" style="display:none;" class="error">برجاء الموافقه علي الشروط</span>

                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="text-left">
                                <%# f.button t('.sign_up'), class: 'btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding', :id=>'nonrepeatabl'%>
                    
                                <input id="nonrepeatabl" type="button" class="btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding" value="<%= t('.sign_up') %>">

                            </div>
                    </div>
                </div>

                <% end %>
            </div>


            </div>
           <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">
            <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                        <%= t('All Rights Reserved Owned by Payers')%> @ <%= Time.current.year%>
                    </p>
            <ul class="footer-ul sm-sm-fontsize font-bold">
				<li><a href="https://support.payers.net/support/solutions" target="_blank"><%= t('How To Use') %></a></li>
			<li><a href="https://www.payers.net/privacy.html" target="_blank"><%= t('Privacy Policy') %></a></li>
			<li><a href="https://www.payers.net/money-laundry.html" target="_blank"><%= t('Money Landury') %></a></li>
		    </ul>

        </footer>
    </div>



    <!-- *********************************popup *************************************** -->
    <div id="sms-form" class="selfpopup" style="display:none;">
        <div class="selfpopup-bg">
        </div>
        <div class="selfpopup-content">
            <div class="selfpopup-inner">
                <div class="selfpopup-middle">
                    <div class="padding-all-sm">
                        <div class="email-config cart-balance selfpopup-caption">
                            <span class="close-popup"><i class="icon-Plus-white"></i></span>
                            <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                    <h4 class="icon-img-pp mrg-bottom-sm">
                                            <img src="<%= format_link(request) %>/assets/imgs/check.png" alt="check">
                                        </h4>

             <%# form_for(current_userd, as: current_userd, url: sms_activate_path, html: { method: :post }) do |f| %>
                                    
                    

                     <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"><%= t("Verification Code has been sent")%></h5>

                     <p class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                     <%# t('to complete withdraw process to your number')%> 
                     <span style='direction:ltr;' id="tel2"><%#current_userd.tel%></span>                                        

                         </p>


                                  <!-- <div id="send" class="text-left">
                                    <input id='sendcode' type="button" name="button" value="إرسال الرمز" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm">
                                </div>
                                 -->

                                <div id="resend" class="text-left" style=''>
                        <input id='resendcode' disabled type="button" name="button" value="" class="btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding">
                        <input id='sendvoice'  type="button" name="button" value="<%= t("Voice Messege") %>" class="btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding">
 
                    </div>


                                <!-- <div id="resendvoice" class="text-left" style=''>
                        <input id='sendvoice'  type="button" name="button" value="ارسال صوتية" class="btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding">
                                </div> -->
                                


                                <div id="timer" style="color:#000;" style="display: none;"></div>


                                <div id="verify_form" >

                                          <div class="self-label">
                                            <label>

                                                
                                                <input class="selfinput" id="entercode" type="text" >
                                                <span class="placeholder-span">الرمز</span>
                                    <span id='wrong-messege' style="color:red;font-weight:bold ;display:none"></span>
                                     <span id='true-messege' style="color:green;font-weight:bold ;display:none"></span>

                                            </label>
                                        </div> 
                                        
                                        

                                        <div class="text-left">
                                            <input type="button" id='verifycode' name="button" value='<%=t("Activate")%>' class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm">
                                        </div>

                                        
                                        

                                        
                                </div>

                               

                                <%# end %>
                                
                            </div>
                            <div class="crcl-animation">
                                <span class="lg-crcl"></span>
                                <span class="md-crcl"></span>
                                <span class="sm-crcl"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- *********************************popup *************************************** -->


    <!-- || footer scripts start || -->
    <script src="<%= format_link(request) %>/assets/js/app.min.js"></script>
    <!-- || footer scripts ends || -->
    <script type="text/javascript">

        var slogan = "<%= t('Unleash your money!') %>"
        var typed = new Typed('.element', {
            strings: ['<h2>اطلق العنان لأموالك !</h2><p>ارسل مدفوعاتك الي اصدقائك وعائلتك في جميع انحاء العالم</p>'],
            typeSpeed: 50
        });
    </script>

    <style>

    .error {
        color: red;
     }
</style>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>



</body>
<!-- 
<body id="login-page">
    

        
                </div> 
                <div id="resend" class="text-left" style='display: none;'>
                                                                     
                  <a href="#" id='resendcode' class="mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue"> <i class="icon ic-icons-523"></i> اعادة ارسال رمز التفعيل</a>
                </div>
                      
                <div id="timer" style="color:#000;" style="display: none;"></div>
                <div id="verify" style="display: none;" >
                  <span class="placeholder-span">الرمز</span>
                  <input class="selfinput" id="entercode" type="text" >
                   <span id='wrong-messege' style="color:red;font-weight:bold ;display:none">خطأ في الرمز</span>
                   <span id='true-messege' style="color:green;font-weight:bold ;display:none">رمز صحيح</span>
                <input type="button" id='verifycode' name="button" value='تفعيل' class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm">
                 <input type="text" name="fname" id='pin_id' hidden>
               </div>
                
                
                <div id="complete_data" style="display:none">
                <div class="self-label" id="namefield">
                    <label>
                       

                        <span class="mdl-textfield__error" id="repname" style="display:none">إسم مُستخدم</span>
                    </label>
                </div>

                <div class="self-label">
                    <label>
                        <span class="placeholder-span"><%= t('email') %></span>
                        <span class="mdl-textfield__error" id="repmail" style="display:none">بريد مُستخدم من قبل</span>
                        <span class="mdl-textfield__error" id="notacceped" style="display:none">غير مقبول</span>
                    </label>
                </div>   
                <div class="self-label">
                    <label>
                        <span class="placeholder-span"><%= t('password') %></span>
                        <span class="mdl-textfield__error" id="unacceptedpass" style="display:none">كلمة المرور يجب أن تحتوى على حروف كبيرة وصغيرة وأرقام ولا تقل عن 8</span>
                    </label>
                </div>
                <div class="self-label">
                    <label>
                        <span class="placeholder-span">تأكيد كلمة المرور  </span>
                        <span class="mdl-textfield__error" id="idenpass" style="display:none">كلمتا المرور متطابقتان</span>
                        <span class="mdl-textfield__error" id="diffpass" style="display:none">كلمتا المرور غير متطابقتين</span>
                    </label>
                </div>
              </div>
                   

                <div class="row row-default l-height-md padding-ver-xs">
                    <div class="col-xs-7">
                        <div class="pos-abs-checkbox">
                            <label class="checkbox">
                                <input type="checkbox" name="">
                                <span class="checkbox-view"></span>
                            </label>
                            <span class="iblock sm-md-fontsize font-bold text-blue"><%= t('موافق على شروط الإستخدام') %><br> <span class="sm-sm-fontsize font-bold text-dgray"> <%= t('يرجى مراجعة الشروط والأحكام') %></span></span>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="text-left">
                        </div>
                    </div>
                </div>
            </div>
            <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">
            <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                Payers Copyrights appears here © 2017
            </p> 
            <ul class="footer-ul sm-sm-fontsize font-bold">
                <li><a href="#"></a><%= t('How To Use') %></li>
                <li><a href="#"><%= t('Privacy Policy') %></a></li>
                <li><a href="#"><%= t('Lisence Informations') %></a></li>
            </ul>
        </footer>
        </div>
    </div>

   
  
</body> -->
<!-- || page body ends || -->
<!-- <%= render 'devise/shared/links' %> -->
</html>
