Welcome to <%= @site_name %>, <%= @user.name %>
===============================================

You have successfully signed up to <%= @site_name %>,
your name is: <%= @user.name %>.

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!