<%= form_for(@users_group) do |f| %>
  <% if @users_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_group.errors.count, "error") %> prohibited this users_group from being saved:</h2>

      <ul>
      <% @users_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name ,t('name') %><br>
    <%= f.text_field :name  ,:class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description ,t('description')%><br>
    <%= f.text_area :description ,:class => 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :fees,t('Fees') %><br>
    <%= f.text_field :fees ,:class => 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :order_ratio,t('Order ratio') %><br>
    <%= f.text_field :order_ratio ,:class => 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :transfer_ratio,t('Transfer ratio') %><br>
    <%= f.text_field :transfer_ratio ,:class => 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :add_balance_ratio,t('Add balance ratio') %><br>
    <%= f.text_field :add_balance_ratio ,:class => 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :withdraw_sum,t('Withdraw sum') %><br>
    <%= f.text_field :withdraw_sum ,:class => 'form-control'  %>
  </div>
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
</div>
<% end %>
