<p id="notice"><%= notice %></p>

<h1><%= t('Users Groups') %></h1>

									<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th> <%= t('name') %></th>
      <th><%= t('description') %></th>
	  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_groups.each do |users_group| %>
      <tr>
        <td><%= users_group.name %></td>
        <td><%= users_group.description %></td>
		
        <td>
		<div class="visible-md visible-lg hidden-sm hidden-xs">
			<%= link_to '<i class="fa fa-eye"></i>'.html_safe, users_group, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>				
		</div>
		
		</td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>

