<p id="notice"><%= notice %></p>
<div class="col-md-4">
	<ul class="list-group">
		<li class="list-group-item">
			<span class="badge"><%= @users_group.name %></span>
			<%= t('name') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.description %></span>
			<%= t('description') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.add_balance_ratio %></span>
			<%= t('Add balance ratio') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.family_limit %></span>
			<%= t('family_limit') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.max_family_recieve %></span>
			<%= t('max_family_recieve') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.minimum_value %></span>
			<%= t('minimum_transfer_value') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.minimum_withdraw %></span>
			<%= t('minimum_withdraw_value') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.max_withdraw_each_time %></span>
			<%= t('maximum_withdraw_value') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.month_withdraws_count %></span>
			<%= t('month_withdraws_count') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.month_max_withdraw %></span>
			<%= t('month_max_withdraw') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.day_withdraws_count %></span>
			<%= t('day_withdraws_count') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @users_group.day_max_withdraw %></span>
			<%= t('day_max_withdraw') %>
		</li>
	</ul>
</div>	

<h1><%= t('نسب السحب') %></h1>

<table>
<thead>
    <tr>
	   <th> <%= t('name') %></th>
      <th> <%= t('fees') %></th>
      <th><%= t('ratio') %></th>
      <th colspan="2"></th>
    </tr>
</thead>
  <tbody>
<% BalancesWithdrawsRatio.where(users_group_id: @users_group.id)%>

    <% @users_group.balances_withdraws_ratio.each do |users_group| %>
      <tr>

		<td><%= users_group.currencies_withdraw_ratio_id %></td>
        <td><%= users_group.fees %></td>
		<td><%= users_group.ratio %></td>
    </tr>

<% end %>
</tbody></table>


<div class="col-md-12">

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-left'></i> </span>#{t('Back')}</button>".html_safe, users_groups_path , { :class=>'linktop' } %>
</div>


