<%= form_for(@company_bank) do |f| %>
  <% if @company_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_bank.errors.count, "error") %> prohibited this company_bank from being saved:</h2>

      <ul>
      <% @company_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bank_key ,t('bank key')  %><br>
    <%= f.text_field :bank_key,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :bank_name ,t('bank name')  %><br>
    <%= f.text_field :bank_name ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :country ,t('country')  %><br>
    <%= f.text_field :country ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :branch ,t('branch')  %><br>
    <%= f.text_field :branch ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :phone ,t('phone')  %><br>
    <%= f.text_field :phone ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :account_name ,t('account name')  %><br>
    <%= f.text_field :account_name ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :account_email ,t('account email')  %><br>
    <%= f.text_field :account_email ,  :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :encryptkey ,t('encryption key')  %><br>
    <%= f.text_field :encryptkey ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :currency ,t('currency')  %><br>
    <%= f.text_field :currency ,  :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :account_number ,t('account number')  %><br>
    <%= f.text_field :account_number ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :visa_cvv ,t('visa cvv')  %><br>
    <%= f.number_field :visa_cvv ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :swiftcode  ,t('swiftcode') %><br>
    <%= f.text_field :swiftcode ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :expire_date ,t('expire date')  %><br>
    <%= f.date_select :expire_date ,start_year: 2016 ,end_year: 2050 , use_month_numbers: true, prompt: { day: t('Select day'), month: t('Select month'), year: t('Select year') },  :class => 'form-control' %>

  </div>

  <div class="field">
      <%= f.label :fees ,t('fees')  %><br>
      <%= f.number_field :fees ,  :class => 'form-control' %>
    </div>

    <div class="field">
        <%= f.label :ratio ,t('ratio')  %><br>
        <%= f.number_field :ratio ,  :class => 'form-control' %>
      </div>

  <div class="field">
      <%= f.label :status %><br>
      <%= f.number_field :status %>
    </div>

  <p>
    <%= f.label t('صورة لوجو') %><br />
    <%= f.file_field  :logo,:class => 'form-control' %>
  </p>

    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>

  </div>
<% end %>
