 
<%= render 'form' %>

<%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, @company_bank %>  
<%# link_to t('Back'), company_banks_path %>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, company_banks_path , { :class=>'linktop' } %>

