<p id="notice"><%= notice %></p>

<h1><%= t('Company Banks') %></h1>

	<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns">
<table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('bank key') %></th>
      <th><%= t('bank name') %></th>
      <th><%= t('country') %></th>
      <!-- <th><%# t('branch') %></th> -->
      <!-- <th><%# t('phone') %></th> -->
      <!-- <th><%= t('account name') %></th> -->
      <!-- <th><%= t('account email') %></th> -->
      <th><%= t('fees') %></th>
      <th><%= t('ratio') %></th>

      <th><%= t('currency') %></th>

      <th><%= t('encryption key') %></th>

      <th><%= t('account number') %></th>
      <th><%= t('Visa cvv') %></th>
      <th><%= t('Swiftcode') %></th>
      <th><%= t('expire date') %></th>
      <th><%= t('Status') %></th>

      <th>Logo</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_banks.each do |company_bank| %>
      <tr>
        <td><%= company_bank.bank_key %></td>
        <td><%= company_bank.bank_name %></td>
        <td><%= company_bank.country %></td>
        <td><%= company_bank.fees %></td>
        <td><%= company_bank.ratio %></td>

        <!-- <td><%# company_bank.branch %></td> -->
        <!-- <td><%# company_bank.phone %></td> -->
        <!-- <td><%= company_bank.account_name %></td> -->
        <!-- <td><%= company_bank.account_email %></td> -->
        <td><%= company_bank.currency %></td>

        <td><%= company_bank.encryptkey %></td>

        <td><%= company_bank.account_number %></td>
        <td><%= company_bank.visa_cvv %></td>
        <td><%= company_bank.swiftcode %></td>
        <td><%= company_bank.expire_date %></td>
        <td>
          
          
              <%= image_tag('/style/images/icon_'+company_bank.status.to_s+'.png')  %>


            
        
        
        </td>

        <td><%= image_tag company_bank.logo.url %></td>

        <td>
		<div class="visible-md visible-lg hidden-sm hidden-xs">
			<%= link_to '<i class="fa fa-eye"></i>'.html_safe, company_bank, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
			<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_company_bank_path(company_bank), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
			<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, company_bank, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
		</div>
		<div class="visible-xs visible-sm hidden-md hidden-lg">
			<div class="btn-group dropdown ">
				<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right dropdown-light" role="menu">
					<li>
						<%= link_to 'Veiw'.html_safe, company_bank %>
					</li>
					<li>
						<%= link_to 'Edit'.html_safe, edit_company_bank_path(company_bank) %>
					</li>
					<li>
						<%= link_to 'Remove'.html_safe, company_bank, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
					</li>
				</ul>
			</div>
		</div>		
		</td>	
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>

 <%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('New Company Bank')}</button>".html_safe, new_company_bank_path , { :class=>'linktop' } %>

