<p id="notice"><%= notice %></p>
<div class="col-md-4">
	<ul class="list-group">
		<% if @company_bank.bank_key != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.bank_key %></span>
			<%= t('bank key') %>
		</li>
		<% end %>
		
		<% if @company_bank.bank_name != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.bank_name %></span>
			<%= t('bank name') %>
		</li>
		<% end %>
		
		<% if @company_bank.country != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.country %></span>
			<%= t('country') %>
		</li>
		<% end %>
		
		<% if @company_bank.branch != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.branch %></span>
			<%= t('branch') %>
		</li>
		<% end %>
		
		<% if @company_bank.phone != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.phone %></span>
			<%= t('phone') %>
		</li>
		<% end %>
		
		<% if @company_bank.account_name != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.account_name %></span>
			<%= t('account name') %>
		</li>
		<% end %>
		
		<% if @company_bank.account_email != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.account_email %></span>
			<%= t('account email') %>
		</li>
		<% end %>
		
		<% if @company_bank.account_number != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.account_number %></span>
			<%= t('account number') %>
		</li>
		<% end %>
		
		<% if @company_bank.encryptkey  != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.encryptkey %></span>
			<%= t('encryption key') %>
		</li>
		<% end %>
		
		<% if @company_bank.currency != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.currency %></span>
			<%= t('currency') %>
		</li>
		<% end %>
		
		<% if @company_bank.visa_cvv != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.visa_cvv %></span>
			Visa cvv
		</li>
		<% end %>
		
		<% if @company_bank.swiftcode != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.swiftcode %></span>
			Swiftcode
		</li>
		<% end %>
		
		<% if @company_bank.expire_date != '' %>
		<li class="list-group-item">
			<span class="badge"><%= @company_bank.expire_date %></span>
			<%= t('expire date') %>
		</li>
		<% end %>
	</ul>
</div>	
												
<div class="col-md-12">
	<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-pencil'></i> </span>#{t('Edit')}</button>".html_safe, edit_company_bank_path(@company_bank) , { :class=>'linktop' } %>
	<%# link_to t('Back'), carts_path %>
	<%= link_to "<button type='button' class='btn btn-wide btn-primary'> #{t('Back')} <i class='fa fa-angle-left'></i></button>".html_safe, company_banks_path , { :class=>'linktop' } %>
</div>
