<% if controller_name != 'sessions' %>
  <%= link_to t('Sign in'), new_session_path(resource_name),{:class=>'mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue'} %>
<% end %>

<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t('sign upp'), new_registration_path(resource_name),{:class=>'mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue'} %>
<% end %>

<% if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to t('forget passwordd'), new_password_path(resource_name),{:class=>'mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue'} %>
<% end %>

<% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t("recieve confirmation instructionn"), new_confirmation_path(resource_name),{:class=>'mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue'} %>
<% end %>

<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t("unlock instruction"), new_unlock_path(resource_name),{:class=>'mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue'} %>
<% end %>

<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
  <%= link_to t('.sign_in_with_provider', provider: provider.to_s.titleize, default: "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider),{:class=>'mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue'} %>
  <% end %>
<% end %>
