<%= form_for(@users_bank) do |f| %>
  <% if @users_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_bank.errors.count, "error") %> prohibited this users_banks from being saved:</h2>

      <ul>
      <% @users_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if params[:userd_id] %>
    <%= f.hidden_field :userd_id, :value=>  params[:userd_id]   %>
 <% elsif current_userd.role_id != 1 %>
    <%= f.hidden_field :userd_id, :value=>  current_userd.id   %>
<% else %>
 <div class="field">
    <%= f.label :userd_id , t('User') %><br>
       <%= f.select :userd_id, Userd.all.collect {|p| [ p.name, p.id ] },{},{:class => 'form-control' } %>

  </div>
<% end %>

    
  <div class="field">
    <%= f.label :country , t('country')%><br>
    <%# f.text_field :country %>
    <%= country_select("users_bank", "country",  { priority_countries: ["EG", "SA"]}, {:class=>'form-control'} ) %>
  </div>
  <div class="field">
    <%= f.label :branch, t('branch') %><br>
    <%= f.text_field :branch ,:class => 'form-control' %>
  </div>
  <% if @users_bank.currencies_withdraw_ratios_id == 4 %>
   <div class="field">
    <%= label_tag ('اسم المستفيد') %><br />
    <%= f.text_field :personal_name ,  :class=> 'form-control'  %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :account_email , t('account email')%><br>
    <%= f.text_field :account_email ,:class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :account_name, t('account name') %><br>
    <%= f.text_field :account_name,:class => 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :account_number, t('account number') %><br>
    <%= f.text_field :account_number ,:class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :visa_cvv %><br>
    <%= f.text_field :visa_cvv ,:class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :swiftcode %><br>
    <%= f.text_field :swiftcode ,:class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :expire_date, t('Expire date') %><br>
    <%= f.text_field :expire_date ,:class => 'form-control' %>
  </div>
  
  <div class="field checkbox clip-check check-primary">
   <%= f.check_box :status ,  :class => 'form-control' %>
   <%= f.label :status  ,t('Status')%><br>
  </div>  

    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
</div>
<% end %>
