<%# debug params %>


<%= form_for UsersBank.new,:url => url_for(:controller => 'users_banks', :action => 'save_western_gram') , :html => { :multipart => true } do |f| %>
    
        
                
    <%= f.hidden_field :currencies_withdraw_ratios_id ,  :class=> 'form-control' ,:value => params[:users_bank][:currencies_withdraw_ratios_id] %>
    <%= f.hidden_field :personal_name ,  :value=> params[:users_bank][:personal_name]%>   
    <%= f.hidden_field :relation ,  :value=> params[:users_bank][:relation] %>
    <%= f.hidden_field :nickname ,  :value=> params[:users_bank][:nickname] %>
    <%= f.hidden_field :country , :value=> params[:users_bank][:selectedcountry] %>
    <%= f.hidden_field :birth_date ,  :value=> params[:users_bank][:birth_date] %>
    <%= f.hidden_field :currency ,  :class => 'selfinput', :readonly => true ,:value=>'USD'%>
        
        


<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
    <img src="<%= format_link(request) %>/assets
/imgs/act-user.png" alt="act-user">
</h3>
<div class="clearfix">
    <div class="pull-right sm-f-width box-shadow-left">
        <div class="page-title l-height-md mrg-bottom-md">
            <div class="row row-default button-row">
                <div class="col-xs-12">
                    <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                    <%= t('Confirm Add Account') %>
                    </h4>
                </div>
            </div>
        </div>
        <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
            <span class="ico lg-md-fontsize text-yellow">!</span>
            <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Review Your Information Now') %> !</h5>
            <p class="sm-md-fontsize text-dgray"><%= t('Please Review Data Before It Submitted') %></p>
            <span class="alert-close icon-Plus-white"></span>
        </div>
        <div class="scrollbar-inner height-300 mrg-top-lg hlf-e-btm">
            <div class="selfscroll-section">
                <table class="table sm-md-fontsize">

                <% if params[:users_bank][:currencies_withdraw_ratios_id] == '4'  %>
                <tr>
                <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                        <td class="font-weight-normal text-dgray">Western Union </td>
                 </tr>

                <% end %>

                <% if params[:users_bank][:currencies_withdraw_ratios_id] == '12'  %>
                <tr>
                <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                        <td class="font-weight-normal text-dgray">Money Gram </td>
                 </tr>

                <% end %>
                
                <tr>
                <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name') %>:</td>
                        <td class="font-weight-normal text-dgray"><%= params[:users_bank][:personal_name] %> </td>
            </tr>

                <tr>
                        <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name Relation') %>:</td>
                        <td class="font-weight-normal text-dgray"><%= params[:users_bank][:relation] %> </td>
            </tr>
           
                         
                    <tr>
                                <td class="font-bold text-blue pad-left-xs"> <%= t('Birth Date') %>:</td>
                                <td class="font-weight-normal text-dgray"><%= params[:users_bank][:birth_date] %> </td>
                    </tr>


                    <tr>
                    <td class="font-bold text-blue pad-left-xs"> <%= t('country') %>:</td>
                    <td class="font-weight-normal text-dgray"><%= params[:users_bank][:country] %> </td>
        </tr>


                    
                </table>
            </div>
        </div>
    </div>
    <div class="pull-right box-shadow-right sm-f-width self-form">
        <div class="self-label">
            <label>
                <%= f.text_field :nickname ,  :value=>params[:users_bank][:nickname] ,:class =>"selfinput" %>     
                
                <span class="placeholder-span"><%= t('Nick Name') %> </span>
            </label>
        </div>
        <div class="select-box">
            <label><%= t('Account Currency') %></label>
            <select >
               
                <option><%= t('balance IN Dolar')%></option>
                

               
            </select>
        </div>
        <div class="self-btn-group mrg-top-md">
            <div class="mrg-top-md">
                <button type="submit" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" style="float: left !important; margin-left: 50px;"> <i class="ico icon-white-logo"></i> <%= t('Add Now') %>  </button>
            <% end %>
            <%= form_for UsersBank.new,:url =>users_banks_main_path , :html => { :multipart => true } do |f| %>
<%# f.hidden_field :user_id  ,:value => current_userd.id %>
<%# f.hidden_field :currencyib ,  :value=> params[:users_bank][:currencyib]  %>
<%= f.hidden_field :currencies_withdraw_ratios_id  ,:value => params[:users_bank][:currencies_withdraw_ratios_id] %>
<%= f.hidden_field :currency ,  :value=>params[:users_bank][:currency] %>          
<%= f.hidden_field :personal_name ,  :value=> params[:users_bank][:personal_name]%>       
<%= f.hidden_field :relation ,  :value=> params[:users_bank][:relation] %>   
<%= f.hidden_field :nickname ,  :value=> params[:users_bank][:nickname] %>
<%= f.hidden_field :selectedcountry , :value=> params[:users_bank][:selectedcountry] %>      
<%= f.hidden_field :birth_date ,  :value=> params[:users_bank][:birth_date] %>
            <button type="submit" class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding" style=" background: #fff; padding-bottom:5px; "> <%= t('edit info') %>  </button>
                <!-- <a href="#" class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                <%# t('edit info') %>                
                </a> -->
                <% end %>
                
                
            </div>
        </div>
        <div class="padding-ver-md"></div>
    </div>
</div>
</section>

