
<script src="resources/js/jquery.js"></script>

<script src="/edit_egypt_post.js"></script>

<div id="container">

<% content_for :title, t('Edit Bank Account') %>

<% content_for :icon, 'icon ic-icons-88' %>

<%= form_for @userbank,:url => url_for(:controller => 'users_banks', :action => 'review_egyptian_mail_post') , :html => { :multipart => true } do |f| %>
  
    <%= f.hidden_field :currencies_withdraw_ratios_id ,  :class=> 'form-control' ,:value => '6' %>
    
    <%= f.hidden_field :id ,  :class=> 'form-control' ,:value => @userbank_id %>
    
    <%= f.hidden_field :currency ,  :class => 'form-control', :readonly => true ,:value=>'EGP'%>


   <div class="field" id="new" >

      <div class="select-box" >
<select class="select-line" id="egyptian_mail_type">
    <option value="" selected disabled=""><%= t('you should choise the type of account')%></option>
   <option value="1"><%= t('transfer')%></option>
   <option value="2"><%= t('deposit')%></option>

  </select>
</div>
  <%= f.hidden_field :type ,:id => 'type', :class => 'selfinput', :readonly => true %>

    <div class="select-box" id="business_person" style="display: none;">

      <select class="select-line" id="business_person_select">
      <option value="" selected disabled><%= t('you should choise the type of account')%></option>
   <option value="1"><%= t('pepole')%></option>
   <option value="2"><%= t('companys')%></option>

      </select>
    </div>
  <%= f.hidden_field :type2 ,:id => 'type2', :class => 'selfinput', :readonly => true %>
    
  <div class="field" id="general" style="display: none;">

    <div class="self-label">
    <label class="filled-input">
    <%= f.text_field :nickname , :id =>'n_name',  :class=> 'selfinput'  %>
    
    <span class="placeholder-span"><%= t('Nick Name') %></span>
    </label>
    </div>

  </div>

  <div class="field" id="personal" style="display: none;">

 


  <div class="self-label">
  <label class="filled-input">
  <%= f.text_field :personal_name , :id =>'p_name',  :class=> 'selfinput'  %>

  <span class="placeholder-span"><%= t('Beneficiary Name') %></span>
  </label>
  </div>
</div>


      <div class="field" id="business" style="display: none;">

      
                      <div class="self-label">
                        <label class="filled-input">
                        <%= f.text_field :business_name ,:id => 'b_name',  :class=> 'selfinput' %>
                        
                        <span class="placeholder-span"><%= t('Company Name') %></span>
                        </label>
                      </div>
      </div>


  <div class="field" id="nationalid" style="display: none;">

  
                  <div class="self-label">
                    <label class="filled-input">
                    <%= f.text_field :nationalid ,:id => 'na_id',  :class=> 'selfinput' %>
                    
                    <span class="placeholder-span"><%= t('National Id') %></span>
                    </label>
                  </div>

     

      </div>

    <div class="field" id="generalinsert" style="display: none;">

    <div class="self-label">
    <label class="filled-input">
    <%= f.text_field :brancheg , :id => 'b_eg',  :class => 'selfinput' %>
    <span class="placeholder-span"><%= t('branch') %></span>
    </label>
  </div>


  <div class="self-label">
  <label class="filled-input">
  <%= f.text_field :account_numbersw ,  :class=> 'selfinput' ,:id => "account_numbersw"%>
  <span class="placeholder-span"><%= t('account number') %></span>
  </label>
</div>

      </div>

<br /><br />
      </div>

<button type="submit" class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Edit') %> </button>

 <% end %>


</div>
