<script src="/newbank_edit.js"></script>

<div class="field" id="container">




<%# image_tag @choosen.ima.url %>

<%= form_for @userbank,:url => url_for(:controller => 'users_banks', :action => 'add_bank_confirm') , :html => { :multipart => true } do |f| %>
    <%= f.hidden_field :currencies_withdraw_ratios_id ,  :id => 'curr_rat_id',  :class=> 'form-control' ,:value => @currencies_withdraw_ratios_id %>




 <div class="field" id="new" >

<div class="self-label">
    <label class="filled-input">
        <%= f.text_field :currency ,  :class => 'selfinput', :readonly => true ,:value=>'USD'%>
        
        <span class="placeholder-span"><%= t('currency')%> </span>
    </label>
</div>


<div class="self-label">
<label class="filled-input">
    <%= f.text_field :personal_name , :id => 'p_name',:required => true,  :class => 'selfinput'%>
    
    <span class="placeholder-span"><%= t('Beneficiary Name')%> </span>
</label>
</div>

<div class="self-label">
<label class="filled-input">
    <%= f.text_field :relation , :id => 'relation',:required => true,  :class => 'selfinput'%>
    
    <span class="placeholder-span"><%= t('Beneficiary Name Relation')%> </span>
</label>
</div>

<div class="self-label">
<label class="filled-input">
    <%= f.text_field :nickname , :id => 'nickname',:required => true,  :class => 'selfinput'%>
    
    <span class="placeholder-span"><%= t('Nick Name')%> </span>
</label>
</div>




<div class="select-box"> 
<span class="placeholder-span"><%= t('country')%> </span>


<%= country_select("users_bank", "country", { priority_countries: ["EG", "SA"]}, {class: "select-line" ,id:"theselect" }) %>

    </div>
    <%= f.hidden_field :selectedcountry ,  :class=> 'form-control', :id=> 'selectedcountry'  %>


<div class="self-label">
<label class="filled-input">
<%= f.date_field :birth_date , :id => 'b_date',:required => true,  :class=> 'selfinput'  %>

    <span class="placeholder-span"><%= t('Birth Date')%> </span>
</label>
</div>
      
  </div>

<button type="submit" class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Add') %> </button>


 <% end %>

 </div>
