

<script src="resources/js/jquery.js"></script>


<script>

$(document).ready(function() {
  





</script>
<% content_for :title, t('Edit Bank Account') %>

<% content_for :icon, 'icon ic-icons-88' %>
<% @balanceopdd = UsersBank.find_by(id: params[:id]) %>

<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<%# debug(@sar_wallet.wallet_name) %>
<div class="pos-relative">
    <div class="title-line sm-f-width">
        <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
            <i class="icon ic-icons-88"></i>
        </h3>
        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
         <%= t('Edit Bank Account') %>
        </h4>
    </div>
    <div class="self-tabs text-center">
        <ul class="self-tabs-list">
            <li class="active">
                <a href="#">
                    <span class="ico">
                        <i class="icon-home-icon"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Select Bank Type') %></span>
                </a>
            </li>
            <li id="currencytype" class="active">
                <a href="#">
                    <span class="ico">
                        <i class="icon-dollor"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Select Currency') %></span>
                </a>
            </li>
            <li id="destination" class="active">
            <a href="#">
                    <span class="ico">
                        <i class="icon-home"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Bank Destination') %></span>
                </a>
            </li>
            <li id="information" class="active">
            <a href="#">
                    <span class="ico">
                        <i class="icon-user-check"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Bank Information') %></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="pad-top-lg hlf-e-btm">
    <div class="row row-sm">
        <div class="col-md-8 col-sm-12">
            <div class="row row-sm">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                            <div class="logos-list-menu">
                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="inter_bank_chk" checked = "true">
                                            <span class="logo-list logo-list1"  id="inter_bank">
                                                                                 
                                    <h4>
                                        <i class="icon icon-building"></i>
                                    </h4>
                                    <h5>
                                       <%= t('Local and International Banks') %>
                                    </h5>
                                </span>
                                
                            </label>
    
                            <label class="logo-checkbox">
                                    <input type="checkbox" name="checkbox" id="elec_bank_chk" >
                                    <span class="logo-list logo-list1"  id="elec_bank">
                            
                                    <h4>
                                        <i class="icon ic-icons-598"></i>
                                    </h4>
                                    <h5>
                                    
                                    <%= t('Electronic Banks') %>
                                    </h5>
                                </span>
                                
                            </label>
                            </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="scrollbar-inner logos-menu">
                                <div class="logos-list-menu"  id="currencies">
                                <% if @dollar_wallet.status == 1 %>
                                <label class="logo-checkbox">
                                  <% if @balanceopdd.currencies_withdraw_ratios_id == 14 %>
                                        <input type="checkbox" checked = "true" name="checkbox" id="USD_chk">
                                        <% else %>
                                        <input type="checkbox" name="checkbox" id="USD_chk">
                                        <% end %>
                                        <span class="logo-list logo-list2" id="dollar">
                                                
        
                                    <h4>
                                        <img src="<%= format_link(request) %>/assets
/imgs/world-white.png" alt="world-white" class="act-img">
                                        <img src="<%= format_link(request) %>/assets
/imgs/wicon1.png" alt="world-white" class="off-img">
                                    </h4>
                                    <h5>
                                    
                                        <%= t('balance IN Dolar') %>
                                    </h5>
                                    <h6 class="sm-text"><%= @dollar_wallet.balance.to_s + " "+ t('balance IN Dolar') %></h6>
                                </span>
                            </label>
        
                                    <% end %>
                                <% if @sar_wallet!= nil and @sar_wallet.status == 1   %>
                                <label class="logo-checkbox">
                                   <% if @balanceopdd.currencies_withdraw_ratios_id == 15 %>
                                   <input type="checkbox" checked="true" name="checkbox" id="SAR_chk">
                                   <% else %>
                                    <input type="checkbox" name="checkbox" id="SAR_chk">
                                    <% end %>
                                        <span class="logo-list logo-list2" id="rys">
        
                                    <h4>
                                        <img src="<%= format_link(request) %>/assets
/imgs/wicon2.png" alt="world-white">
                                    </h4>
                                    <h5>
                                        <%= t('balance IN Rys') %>
                                    </h5>
                                   
                                    <h6 class="sm-text"><%= @sar_wallet.balance.to_s + " "+ t('balance IN Rys') %></h6>
                                    
                                </span>
                            </label>
                            
                            <% end %>
                                <% if @egp_wallet!= nil and @egp_wallet.status == 1   %>
        
                                <label class="logo-checkbox">
                                  <% if @balanceopdd.currencies_withdraw_ratios_id == 13 %>
                                        <input type="checkbox" checked="true" name="checkbox" id="EGP_chk">
                                        <% else %>
                                        <input type="checkbox" name="checkbox" id="EGP_chk">
                                        <% end %>
                                        <span class="logo-list logo-list2" id="egp">
        
        
                                    <h4>
                                        <img src="<%= format_link(request) %>/assets
/imgs/wicon3.png" alt="world-white">
                                    </h4>
                                    <h5>
                                        <%= t('balance IN Egp') %>
                                    </h5>
                                    <h6 class="sm-text"><%= @egp_wallet.balance.to_s + " "+ t('balance IN Egp') %></h6>
                                </span>
                                            </label>
                                <% end %>
        
                                </div>
                            </div>
                </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                      <% if @balanceopdd.currencies_withdraw_ratios_id == 14 %>
                        <div class="logos-list-menu"  id="withdraw_type_usd">
                        <% @balancewithdraw_usd.each do |balancewithdraw_usdd| %>
                          
                        <label class="logo-checkbox">
                          <% if balancewithdraw_usdd.id == @balanceopdd.currencies_withdraw_ratios_id %>
                                <input type="checkbox"  name="checkbox" checked="true" id="<%= balancewithdraw_usdd.id %>_chk">
                                <% else %>
                                <input type="checkbox"  name="checkbox" id="<%= balancewithdraw_usdd.id %>_chk">
                                <% end %>
                                <span class="logo-list logo-list3" id="<%= balancewithdraw_usdd.id %>">

                                <figure>
                                    
                                    <%= image_tag balancewithdraw_usdd.ima.url %>
                                    <%# balancewithdraw_usdd.id %>
                                    <%# text_field_tag :value ,  :class=> 'selfinput' ,:id => "value" ,:value => balancewithdraw_usdd.id %>
                                    
                                </figure>
                            </span>
                        </label>           
                          <% end %>
                            
                           
                        </div>
                         <% elsif @balanceopdd.currencies_withdraw_ratios_id == 13 %>
                        <div class="logos-list-menu"   id="withdraw_type_egp">
                        <% @balancewithdraw_egp.each do |balancewithdraw_egpp| %>
                          
                                    <label class="logo-checkbox">
                                      <% if balancewithdraw_egpp.id == @balanceopdd.currencies_withdraw_ratios_id %>
                                            <input type="checkbox" checked="true" name="checkbox" id="<%= balancewithdraw_egpp.id %>_chk">
                                            <% else %>
                                            <input type="checkbox" name="checkbox" id="<%= balancewithdraw_egpp.id %>_chk">
                                            <% end %>
                                            <span class="logo-list logo-list3" id="<%= balancewithdraw_egpp.id %>">

                            <figure>
                                
                                <%= image_tag balancewithdraw_egpp.ima.url %>
                                
                            </figure>
                        </span>
                    </label>       
                     <% end %>
                            
                           
                        </div>
                         <% elsif @balanceopdd.currencies_withdraw_ratios_id == 15 %>
                        <div class="logos-list-menu"   id="withdraw_type_rys">
                        <% @balancewithdraw_rys.each do |balancewithdraw_ryss| %>
                          
                                    <label class="logo-checkbox">
                                            <input type="checkbox" checked="true" name="checkbox" id="<%= balancewithdraw_ryss.id %>_chk">
                                            <span class="logo-list logo-list3" id="<%= balancewithdraw_ryss.id %>">
                            <figure>
                                
                                <%= image_tag balancewithdraw_ryss.ima.url %>
                                
                            </figure>
                        </span>
                    </label>        
                        <% end %>
                            
                           
                        </div>
                        <% end %>
                    </div>
                </div>






            </div>
        </div>
        <div class="col-md-4 col-sm-12">
      

  <%= form_for @userbank,:url => url_for(:controller => 'users_banks', :action => 'post_edit_western') , :html => { :multipart => true } do |f| %>
         <%= f.hidden_field :currencies_withdraw_ratios_id ,  :class=> 'form-control' ,:value => @currencies_withdraw_ratios_id %>

         <%= f.hidden_field :id ,  :class=> 'form-control' ,:value => @userbank_id %>

    
 <div class="field" id="new" ">

		<div class="self-label">
		<label class="filled-input">
		<%= f.text_field :currency ,  :class=> 'selfinput' ,:id => "currency",readonly: true %>
		<span class="placeholder-span"><%= t('currency') %></span>
		</label>
		</div>

    <% if ![nil,''].include?(@userbank.personal_name)%>
        <div class="self-label">
          <label class="filled-input">
          <%= f.text_field :personal_name ,:id => 'per_name',  :class=> 'selfinput'  %>

          <span class="placeholder-span"><%= t('Beneficiary Name') %></span>
          </label>
          </div>
        </div>
    <% end %>
    <% if ![nil,''].include?(@userbank.business_name)%>
        <div class="self-label">
	      <label class="filled-input">
	      <%= f.text_field :business_name ,:id => 'bus_name',  :class=> 'selfinput'  %>
	      
	      <span class="placeholder-span"><%= t('Company Name') %></span>
	      </label>
	    </div>
	<% end %>
	   <div class="self-label">
       <label class="filled-input">
        <%= f.text_field :relation ,:id => 'gen_rel',  :class=> 'selfinput'  %>
        
        <span class="placeholder-span"><%= t('Beneficiary Name Relation') %></span>
        </label>
        </div>

      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :nickname , :id => 'gen_nic', :class=> 'selfinput'  %>
      
      <span class="placeholder-span"><%= t('Nick Name') %></span>
      </label>
      </div>

<!-- <%# label_tag ('تاريخ الميلاد ') %><br /> -->
        <%# f.date_field :birth_date ,  :class=> 'form-control'  %>

         <%# f.label ('الدولة') %>
    <%# country_select("users_country", "country", { priority_countries: ["EG", "SA"]}, {class: "form-control" ,id:"theselect" }) %>

  </div>

<button type="submit" class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Edit') %> </button>

 <% end %>

                
        </div>
    </div>
</div>
</section>






  



























  





















  


   