<script>
$('#bank-account').addClass('active');
</script> 
<% content_for :title, t('Bank Accounts') %>
<% content_for :icon, 'icon ic-icons-88' %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
  <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="wicon1">
</h3>
 <%= form_tag  url_for(:controller => 'users_banks', :action => 'searchpost'), :method => 'post' do %>
<div class="page-title l-height-md mrg-bottom-md">
  <div class="row row-default button-row">
      <div class="col-md-3">
          <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
        <%= t('Bank Accounts') %>
          </h4>
      </div>
      <div class="col-md-9">
          <div class="clearfix">
            <a href="/users_banks_main" class="bg-black hover-bg-brand text-hover-white text-white btn md-padding radius-md pull-left mrg-right-xs mrg-bottom-xs"><%= t('New Bank') %></a>
              <%#link_to "<button type='button' class='btn text-hover-white text-white bg-black border-color-black md-padding radius-md'>#{t('New Bank')}</button>".html_safe, users_banks_main_path%>
                  <div class="search-div radius-md bg-white b-boxshadow">
                  <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder="<%= t('Search') %>" >
                  <button type="submit" class="search-btn"><i class="icon ic-search-1"></i></button>

                  </div>
                  <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                  <%= select_tag(:currency, options_for_select([[t('balance IN Dolar'),'USD'],[t('balance IN Rys'),'SAR'], [t('balance IN Egp'),'EGP']]),:include_blank =>  t('choose bank currency') )  %>
                  </div>
          </div>
      </div>
  </div>
</div>
 <% end %>
<div class="listing-section listing-section2">


<div class="btm-bg-grd">
<div class="height-490 content demo-y">

  <div class="selfscroll-section">

  <div class="row row-sm">

  <% @users_banks.each do |user_bank| %>

      <div class="col-sm-12 col-md-6">
          <div class="listing-div hover-b-boxshadow">
              <h4 class="icon-section">
                  <img src="<%= format_link(request) %>/assets/imgs/bank-512.png" alt="icon">
              </h4>
              <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= user_bank.nickname %>     <%= user_bank.bank_name %>
              </h5>
              <p class="listing-d pos-relative font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                  <i class="ico icon-wallet"></i>
                  <span class="mrg-right-xs">
                  <%= user_bank.created_at %>
                  </span>
              </p>
              <div class="do-small-action">
                  <div class="dosm-visi text-left pointer">
                    <span class="iblock bg-gray radius-crlc"></span>
                    <span class="iblock bg-gray radius-crlc"></span>
                    <span class="iblock bg-gray radius-crlc"></span>
                  </div>
                  <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                    <ul class="dosmall-action-ul">

                         <% if user_bank.currencies_withdraw_ratios_id == 4 or user_bank.currencies_withdraw_ratios_id == 12  %>
                        <li><%= link_to t('Edit User bank Account'), edit_western_gram_path(user_bank) %></li>
                        <% elsif user_bank.currencies_withdraw_ratios_id == 6 %>
                        <li><%= link_to t('Edit User bank Account'), edit_egyptian_mail_path(user_bank) %></li>

                        <% else %>
                        <li><%= link_to t('Edit User bank Account'), edit_bank_path(user_bank) %></li>
                        <% end %>


                        <li>
                        
                        <%# link_to t('Delete User bank Account'),users_bank_path(user_bank), method: :delete, data: { confirm: t('Are you sure you want to delete this ?') } %>
                        
            <a  href= "#" theid = '<%= user_bank.id %> ' class="deleteaccount"><%= t('Delete Account') %></a>
   
                        </li>
                       
                       
                        <li><%= link_to t('Show User bank Account'), user_bank %></li>

                      </ul>
                    </div>
              </div>
          </div>
      </div>

      <% end %>
      <%# will_paginate @users_banks, :previous_label => t("previous"), :next_label => t("next") %>





      </div>
      </div>
  </div>
  </div>

</div>
</section>





<div id="confirm_delete_popup" class="selfpopup" style="display:none;">
    <div class="selfpopup-bg">
    </div>
    <div class="selfpopup-content">
        <div class="selfpopup-inner">
            <div class="selfpopup-middle">
                <div class="padding-all-sm">
                    <div class="cart-balance selfpopup-caption">
                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h4 class="icon-img-pp mrg-bottom-sm">
                                <img src="<%= format_link(request) %>/assets/imgs/error.png" alt="error">
                            </h4>
                            <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"> <%= t('Are you sure you want to delete this ?')%></h5>
                            <p id ="failure-messege" class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">

                            </p>

                            <div class="self-btn-group mrg-top-md">
                                <div class="mrg-top-md">

                                        <a id = 'deletelink' class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" rel="nofollow" data-method="delete" href="#"><i class="ico icon-white-logo"></i><%= t('yesss')%></a>


                                        <a href="#"  class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding no_del">
                                        <%= t('nooo')%>   
                                    </a>

                                    
                                    
                                    
                    
                                   
                                </div>
                            </div>

                            <!-- <a href="#" class="btn md-padding radius-md border-brand text-brand text-hover-white hover-bg-brand">ةفاضإ ديصرلا</a> -->
                        </div>
                        <div class="crcl-animation">
                            <span class="lg-crcl"></span>
                            <span class="md-crcl"></span>
                            <span class="sm-crcl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>



<script>


    $(document).ready(function() {

            $(".deleteaccount").click(function() {
                
                    $('#confirm_delete_popup').show();
                        var id = $(this).attr("theid");
                        $('#deletelink').attr('href','/users_banks/'+id);
                        
                         });


                         $(".no_del").click(function() {
                
                $('#confirm_delete_popup').hide();

                     });


                         


    });
</script>
