
<style>

    .error {
        color: red;
     }
</style>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
<script>
// just for the demos, avoids form submit
jQuery.validator.setDefaults({
  debug: true,
  success: "valid"
});


//$( "button" ).click(function() {
//});
</script>


<script>
$('#bank-account').addClass('active');
</script> 
<!-- <script src="resources/js/jquery.js"></script> -->


<script>


    
$(document).ready(function() {


    function clear(name){


        $("#" + name +'_review').text('');
        $("#" + name +'_row').hide();
    
}




    function clearall (){

//general data
clear('users_bank_personal_name');
clear('users_bank_relation');
clear('users_bank_nickname');
clear('bus_name');
 //iban data
clear('countryib');
clear('account_numberib');
clear('bankib');
clear('bank_codeib');
clear('iban');
clear('bban');
//eg bank 
clear('br_num');
clear('eg_bank');
clear('br_num');
clear('accnu');
clear('bra_eg');
//swift
clear('banksw');
clear('countrysw');
clear('citysw');
clear('branchsw');
clear('addresssw');
clear('account_numbersw');
clear('swiftcodesw');

    }

    

    $("#edit_data_button").click(function() {
        $('#after_review').hide();
        $('#before_review').show();


    });
var from;
var to;
var currency;

var rate;

$("#inter_bank").click(function() {
      $( "#currencies" ).show();
      $('#currencytype').addClass('active');
      $("#inter_bank").addClass('active');
      $('#inter_bank_chk').prop('checked', true);
      $('#elec_bank_chk').prop('checked', false);

      $('#USD_chk').prop('checked', false);
      $('#EGP_chk').prop('checked', false);
      $('#SAR_chk').prop('checked', false);


      $("#elec_bank").removeClass('active');
      $("#inter_bank").removeClass('active');
      $("#destination").removeClass('active');
      $("#information").removeClass('active');

      $("#data").empty();
      $("#data").hide();


      $( "#withdraw_type_usd" ).hide();
      $( "#withdraw_type_rys" ).hide();
      $( "#withdraw_type_egp" ).hide();




      return false;
});


$("#elec_bank").click(function() {
  $( "#currencies" ).show();
  $('#currencytype').addClass('active');
  $("#elec_bank").addClass('active');
  $('#elec_bank_chk').prop('checked', true);
  $('#inter_bank_chk').prop('checked', false);

  $('#USD_chk').prop('checked', false);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', false);


  $("#data").empty();
  $("#data").hide();


  $("#inter_bank").removeClass('active');
  $("#destination").removeClass('active');
  $("#information").removeClass('active');

  $( "#withdraw_type_usd" ).hide();
  $( "#withdraw_type_rys" ).hide();
  $( "#withdraw_type_egp" ).hide();

  $( "#withdraw_type" ).hide();


  return false;
});

$("#dollar").click(function() {
  $( "#withdraw_type_usd" ).show();
  $( "#withdraw_type_egp" ).hide();
  $( "#withdraw_type_rys" ).hide();
  $('#USD_chk').prop('checked', true);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', false);
  $("#data").empty();
  $("#data").hide();

  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);


  $('#destination').addClass('active');
  $("#information").removeClass('active');

  return false;
});

$("#egp").click(function() {
  $( "#withdraw_type_egp" ).show();
  $( "#withdraw_type_usd" ).hide();
  $( "#withdraw_type_rys" ).hide();
    $('#destination').addClass('active');
      $("#information").removeClass('active');

    $('#USD_chk').prop('checked', false);
    $('#EGP_chk').prop('checked', true);
    $('#SAR_chk').prop('checked', false);
    $("#data").empty();
    $("#data").hide();

    $('#4_chk').prop('checked', false);
    $('#5_chk').prop('checked', false);
    $('#6_chk').prop('checked', false);
    $('#12_chk').prop('checked', false);
    $('#13_chk').prop('checked', false);
    $('#14_chk').prop('checked', false);
    $('#15_chk').prop('checked', false);


  return false;
});


$("#rys").click(function() {

  $( "#withdraw_type_rys" ).show();
  $( "#withdraw_type_egp" ).hide();
  $( "#withdraw_type_usd" ).hide();
  $("#data").empty();
  $("#data").hide();

  $('#USD_chk').prop('checked', false);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', true);

  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);


$('#destination').addClass('active');
  $("#information").removeClass('active');


  return false;
});




$("#4").click(function() {

    clearall();
  $('#information').addClass('active');
  $('#4_chk').prop('checked', true);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);


  $( "#data" ).show();

  $( "#data" ).load( "/users_banks_western_gram?id=4 #container", function() {

    jQuery('select').niceSelect();
    $.getScript("<%= format_link(request) %>/assets/js/app.js");

    // $.getScript("https://code.jquery.com/jquery-1.12.4.js");
     $.getScript("https://code.jquery.com/ui/1.12.1/jquery-ui.js");

   // jQuery( ".datepicker" ).datepicker();

   // $.getScript("<%= format_link(request) %>/assets/js/app.min.js");

   // $( ".datepicker" ).datepicker();



     $.getScript("/withdraw.js");

   

  });

 
 // alert(tt);
  return false;


  });

$("#5").click(function() {

    clearall();

  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', true);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);

    return false;
  });

$("#12").click(function() {

    clearall();

    $('#4_chk').prop('checked', false);
    $('#5_chk').prop('checked', false);
    $('#6_chk').prop('checked', false);
    $('#12_chk').prop('checked', true);
    $('#13_chk').prop('checked', false);
    $('#14_chk').prop('checked', false);
    $('#15_chk').prop('checked', false);


  $('#information').addClass('active');
  $( "#data" ).show();

  $( "#data" ).load( "/users_banks_western_gram?id=12 #container", function() {
      // $.getScript("<%= format_link(request) %>/assets/js/app.js");

  jQuery('select').niceSelect();
     $.getScript("<%= format_link(request) %>/assets/js/app.js");

     $.getScript("/withdraw.js");
    // direct();

    //jQuery('select').niceSelect();

    // $.getScript("/withdraw.js");



  });
  return false;

  });

$("#14").click(function() {

    clearall();

  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', true);
  $('#15_chk').prop('checked', false);
  $( "#data" ).show();

    $( "#data" ).load( "/users_banks/new?country=US&id=14 #container", function() {



    jQuery('select').niceSelect();
    $.getScript("<%= format_link(request) %>/assets/js/app.js");
    $.getScript("/userbank_inter.js");

       


    });

    return false;
  });

$("#6").click(function() {
    clearall();


  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', true);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);
  $( "#data" ).show();

    $( "#data" ).load( "/users_banks_egyptian_mail?id=6 #container", function() {
 $.getScript("/egyptian_mail.js");
        jQuery('select').niceSelect();
        $.getScript("<%= format_link(request) %>/assets/js/app.js");

      


    });

    return false;
  });

$("#13").click(function() {


    clearall();

  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', true);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);
  $( "#data" ).show();

    $( "#data" ).load( "/users_banks/new?country=EG&id=13 #container", function() {

        jQuery('select').niceSelect();
      $.getScript("<%= format_link(request) %>/assets/js/app.js");
       $.getScript("/userbank_inter.js");


    });

    return false;
  });

$("#15").click(function() {

    clearall();

  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', true);
  //alert("in");
  $( "#data" ).show();

    $( "#data" ).load( "/users_banks/new?country=SA&id=15 #container", function() {

        jQuery('select').niceSelect();
        $.getScript("<%= format_link(request) %>/assets/js/app.js");
       $.getScript("/userbank_inter.js");

    });

    return false;
  });



});





</script>



<div id= 'before_review' >

<% content_for :title, t('Add New Account') %>

<% content_for :icon, 'icon ic-icons-88' %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<%# debug(@sar_wallet.wallet_name) %>
<div class="pos-relative">
    <div class="title-line sm-f-width">
        <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
            <i class="icon ic-icons-88"></i>
        </h3>
        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
         <%= t('Add New Account') %>
        </h4>
    </div>
    <div class="self-tabs text-center">
        <ul class="self-tabs-list">
            <li class="active">
                <a href="#">
                    <span class="ico">
                        <i class="icon-home-icon"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Select Bank Type') %></span>
                </a>
            </li>
            <li id="currencytype">
                <a href="#">
                    <span class="ico">
                        <i class="icon-dollor"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Select Currency') %></span>
                </a>
            </li>
            <li id="destination">
            <a href="#">
                    <span class="ico">
                        <i class="icon-home"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Bank Destination') %></span>
                </a>
            </li>
            <li id="information">
            <a href="#">
                    <span class="ico">
                        <i class="icon-user-check"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Bank Information') %></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="pad-top-lg hlf-e-btm">
    <div class="row row-sm">
        <div class="col-md-8 col-sm-12">
            <div class="row row-sm">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                            <div class="logos-list-menu">
                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="inter_bank_chk">
                                            <span class="logo-list logo-list1"  id="inter_bank">

                                    <h4>
                                        <i class="icon icon-building"></i>
                                    </h4>
                                    <h5>
                                       <%= t('Local and International Banks') %>
                                    </h5>
                                </span>

                            </label>

                            <!-- <label class="logo-checkbox">
                                    <input type="checkbox" name="checkbox" id="elec_bank_chk">
                                    <span class="logo-list logo-list1"  id="elec_bank">

                                    <h4>
                                        <i class="icon ic-icons-598"></i>
                                    </h4>
                                    <h5>

                                    <%# t('Electronic Banks') %>
                                    </h5>
                                </span>

                            </label> -->
                            </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="scrollbar-inner logos-menu">
                                <div class="logos-list-menu" style="display:none;" id="currencies">
                                <% if @dollar_wallet.is_deleted == 0 %>
                                <label class="logo-checkbox">
                                        <input type="checkbox" name="checkbox" id="USD_chk">
                                        <span class="logo-list logo-list2" id="dollar">


                                    <h4>
                                        <img src="<%= format_link(request) %>/assets/imgs/world-white.png" alt="world-white" class="act-img">
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="world-white" class="off-img">
                                    </h4>
                                    <h5>

                                        <%= t('balance IN Dolar') %>
                                    </h5>
                                    <h6 class="sm-text"><%= @dollar_wallet.balance.to_s + " "+ t('balance IN Dolar') %></h6>
                                </span>
                            </label>

                                    <% end %>
                                <% if @sar_wallet!= nil and @sar_wallet.is_deleted == 0   %>
                                <label class="logo-checkbox">
                                        <input type="checkbox" name="checkbox" id="SAR_chk">
                                        <span class="logo-list logo-list2" id="rys">

                                    <h4>
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="world-white">
                                    </h4>
                                    <h5>
                                        <%= t('balance IN Rys') %>
                                    </h5>

                                    <h6 class="sm-text"><%= @sar_wallet.balance.to_s + " "+ t('balance IN Rys') %></h6>

                                </span>
                            </label>

                            <% end %>
                                <% if @egp_wallet!= nil and @egp_wallet.is_deleted == 0   %>

                                <label class="logo-checkbox">
                                        <input type="checkbox" name="checkbox" id="EGP_chk">
                                        <span class="logo-list logo-list2" id="egp">


                                    <h4>
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="world-white">
                                    </h4>
                                    <h5>
                                        <%= t('balance IN Egp') %>
                                    </h5>
                                    <h6 class="sm-text"><%= @egp_wallet.balance.to_s + " "+ t('balance IN Egp') %></h6>
                                </span>
                                            </label>
                                <% end %>

                                </div>
                            </div>
                </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                        <div class="logos-list-menu" style="display:none;" id="withdraw_type_usd">
                        <% @balancewithdraw_usd.each do |balancewithdraw_usdd| %>

                        <label class="logo-checkbox">
                                <input type="checkbox" name="checkbox" id="<%= balancewithdraw_usdd.id %>_chk">
                                <span class="logo-list logo-list3" id="<%= balancewithdraw_usdd.id %>">

                                <figure>

                                    <%# image_tag balancewithdraw_usdd.ima.url %>
                                 <img src="<%= admin_attachment(request,balancewithdraw_usdd.ima,"img") %>" alt="" target="_blank">

                                    <%# balancewithdraw_usdd.id %>
                                    <%# text_field_tag :value ,  :class=> 'selfinput' ,:id => "value" ,:value => balancewithdraw_usdd.id %>

                                </figure>
                            </span>
                        </label>
                          <% end %>


                        </div>
                        <div class="logos-list-menu" style="display:none;"  id="withdraw_type_egp">
                        <% @balancewithdraw_egp.each do |balancewithdraw_egpp| %>

                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="<%= balancewithdraw_egpp.id %>_chk">
                                            <span class="logo-list logo-list3" id="<%= balancewithdraw_egpp.id %>">

                            <figure>

                           <img src="<%= admin_attachment(request,balancewithdraw_egpp.ima,"img") %>" alt="" target="_blank">

                            </figure>
                        </span>
                    </label>
                     <% end %>


                        </div>
                        <div class="logos-list-menu" style="display:none;"  id="withdraw_type_rys">
                        <% @balancewithdraw_rys.each do |balancewithdraw_ryss| %>

                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="<%= balancewithdraw_ryss.id %>_chk">
                                            <span class="logo-list logo-list3" id="<%= balancewithdraw_ryss.id %>">
                            <figure>

                              <img src="<%= admin_attachment(request,balancewithdraw_ryss.ima,"img") %>" alt="" target="_blank">

                            </figure>
                        </span>
                    </label>
                        <% end %>


                        </div>
                    </div>
                </div>






            </div>
        </div>
        <div class="col-md-4 col-sm-12" style="display:none;" id="data">


        </div>
    </div>
</div>
</section>


</div>


<!-- ###############################################review form ################################### -->
<div id='after_review' style="display:none;"  >


<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
    <img src="<%= format_link(request) %>/assets/imgs/act-user.png" alt="act-user">
</h3>
<div class="clearfix">
    <div class="pull-right sm-f-width box-shadow-left">
        <div class="page-title l-height-md mrg-bottom-md">
            <div class="row row-default button-row">
                <div class="col-xs-12">
                    <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                    <%= t('Confirm Add Account') %>
                    </h4>
                </div>
            </div>
        </div>
        <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
            <span class="ico lg-md-fontsize text-yellow">!</span>
            <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Review Your Information Now') %> !</h5>
            <p class="sm-md-fontsize text-dgray"><%= t('Please Review Data Before It Submitted') %></p>
            <span class="alert-close icon-Plus-white"></span>
        </div>
        <div class="scrollbar-inner height-300 mrg-top-lg hlf-e-btm">
            <div class="selfscroll-section">
                <table class="table sm-md-fontsize">
                <%# if ![nil,''].include?(params[:users_bank][:personal_name])%>
                <tr id='users_bank_personal_name_row' style="display:none;">
                <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name') %>:</td>
                        <td class="font-weight-normal text-dgray" id='users_bank_personal_name_review'><%# params[:users_bank][:personal_name] %> </td>
                </tr>
                <%# end %>
                <%# if ![nil,''].include?(params[:users_bank][:business_name])%>
                <tr id='bus_name_row' style="display:none;">
                    <td class="font-bold text-blue pad-left-xs"> <%= t('Company Banks') %>:</td>
                            <td class="font-weight-normal text-dgray" id='bus_name_review'><%# params[:users_bank][:business_name] %></td>
                        </tr>
                        <%# end %>


            <tr id='users_bank_relation_row' style="display:none;">
                            <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name Relation') %>:</td>
                        <td class="font-weight-normal text-dgray" id= 'users_bank_relation_review'><%# params[:users_bank][:relation] %> </td>
            </tr>
            <!-- <tr id='users_bank_nickname_row' style="display:none;">
                <td class="font-bold text-blue pad-left-xs" > <%# t('Nick Name') %>:</td>
            <td class="font-weight-normal text-dgray" id='users_bank_nickname_review' ><%# params[:users_bank][:nickname] %> </td>
        </tr>  -->

            <!-- <%# if ![nil,''].include?(params[:users_bank][:selectedcountry]) %>   ###missing -->
            <tr id='bus_name_row11' style="display:none;">
                <td class="font-bold text-blue pad-left-xs"> <%= t('Country Name') %>:</td>
            <td class="font-weight-normal text-dgray"><%# params[:users_bank][:selectedcountry] %> </td>
            </tr>
            <%# end %>


                <%# if params[:users_bank][:iban].present?  %>
                
                                       
                                            <tr id='bankib_row' style="display:none;">
                                                    <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                                                    <td class="font-weight-normal text-dgray" id='bankib_review'><%# params[:users_bank][:bankib] %> </td>
                                            </tr>                                           
                                            <tr id='bank_codeib_row' style="display:none;">

                                                    <td class="font-bold text-blue pad-left-xs"> <%= t('bank Code') %>:</td>
                                                    <td class="font-weight-normal text-dgray" id='bank_codeib_review'><%# params[:users_bank][:bank_codeib] %> </td>
                                            </tr>               
                                            <tr id='countryib_row' style="display:none;">

                                                <td class="font-bold text-blue pad-left-xs"> <%= t('country') %>:</td>
                                                <td class="font-weight-normal text-dgray" id='countryib_review'><%# params[:users_bank][:countryib] %> </td>
                                            </tr>                                                                    
                                            <tr id='account_numberib_row' style="display:none;">

                                                            <td class="font-bold text-blue pad-left-xs"> <%= t('account number') %>:</td>
                                                            <td class="font-weight-normal text-dgray" id='account_numberib_review'><%# params[:users_bank][:account_numberib] %> </td>
                                            </tr>               
                                            <tr id='iban_row' style="display:none;">

                                                        <td class="font-bold text-blue pad-left-xs"> <%= t('iban') %>:</td>
                                                        <td class="font-weight-normal text-dgray" id='iban_review'><%# params[:users_bank][:iban] %> </td>
                                            </tr>
                                            <tr id='bban_row' style="display:none;">

                                                    <td class="font-bold text-blue pad-left-xs"> <%= t('bban') %>:</td>
                                                    <td class="font-weight-normal text-dgray" id='bban_review'><%# params[:users_bank][:bban] %> </td>
                                            </tr>
                
                
                
                                    <%# end %>
                                    <%# if (params[:users_bank][:country]== 'EG' &&  params[:users_bank][:swiftcode] == '' )   %>
                                        
                                    <tr id='eg_bank_row' style="display:none;">

                                            <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                                            <td class="font-weight-normal text-dgray" id='eg_bank_review'><%# params[:users_bank][:bankegname] %> </td>
                                        </tr>
                
                                        <tr id='bra_eg_row' style="display:none;">

                                        <td class="font-bold text-blue pad-left-xs"> <%= t('branch') %>:</td>
                                        <td class="font-weight-normal text-dgray" id='bra_eg_review'><%# params[:users_bank][:brancheg] %> </td>
                                     </tr> 
                
                                     <tr id='br_num_row' style="display:none;">

                                     <td class="font-bold text-blue pad-left-xs"> <%= t('branch number') %>:</td>
                                     <td class="font-weight-normal text-dgray" id='br_num_review'><%# params[:users_bank][:branchnumber] %> </td>
                                  </tr> 
                                  
                                  <tr id='accnu_row' style="display:none;">

                                  <td class="font-bold text-blue pad-left-xs"> <%= t('account number') %>:</td>
                                  <td class="font-weight-normal text-dgray" id='accnu_review'><%# params[:users_bank][:accountnumbereg] %> </td>
                               </tr> 


                               <tr id='per_name_row' style="display:none;">

                                <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                                <td class="font-weight-normal text-dgray" id='per_name_review'><%# params[:users_bank][:bankegname] %> </td>
                            </tr>

                            
                
                                    <tr id='banksw_row' style="display:none;">

                                            <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                                            <td class="font-weight-normal text-dgray" id='banksw_review'><%#params[:users_bank][:banksw] %> </td>
                                        </tr>
                
                                        <tr id='countrysw_row' style="display:none;">

                                        <td class="font-bold text-blue pad-left-xs"> <%= t('country') %>:</td>
                                        <td class="font-weight-normal text-dgray" id='countrysw_review'><%# params[:users_bank][:countrysw] %> </td>
                                    </tr>
                                    <tr id='citysw_row' style="display:none;">

                                    <td class="font-bold text-blue pad-left-xs"> <%= t('city') %>:</td>
                                    <td class="font-weight-normal text-dgray" id='citysw_review'><%# params[:users_bank][:citysw] %> </td>
                                        </tr>
                                        <tr id='branchsw_row' style="display:none;">

                                        <td class="font-bold text-blue pad-left-xs"> <%= t('branch') %>:</td>
                                        <td class="font-weight-normal text-dgray" id='branchsw_review'><%# params[:users_bank][:branchsw] %> </td>
                                    </tr>
                
                                    <tr id='addresssw_row' style="display:none;">

                                    <td class="font-bold text-blue pad-left-xs"> <%= t('address') %>:</td>
                                    <td class="font-weight-normal text-dgray" id='addresssw_review'><%# params[:users_bank][:addresssw] %> </td>
                                </tr>
                
                
                
                                            
                                <tr id='account_numbersw_row' style="display:none;">

                                                    <td class="font-bold text-blue pad-left-xs"> <%= t('account number') %>:</td>
                                                    <td class="font-weight-normal text-dgray" id='account_numbersw_review'><%# params[:users_bank][:account_numbersw] %> </td>
                                    </tr>
                
                                    <tr id='swiftcodesw_row' style="display:none;">

                                                <td class="font-bold text-blue pad-left-xs"> <%= t('Swift Code') %>:</td>
                                                <td class="font-weight-normal text-dgray" id='swiftcodesw_review'><%# params[:users_bank][:swiftcode] %> </td>
                                    </tr>
                           
                                                    <!-- western gram -->

                                                    <tr id='theselect_row' style="display:none;">

                                                        <td class="font-bold text-blue pad-left-xs"> <%= t('country') %>:</td>
                                                        <td class="font-weight-normal text-dgray" id='theselect_review'><%# params[:users_bank][:swiftcode] %> </td>
                                                  </tr>   

                                                  <tr id='users_bank_birth_date_row' style="display:none;">

                                                    <td class="font-bold text-blue pad-left-xs"> <%= t('Birth Date') %>:</td>
                                                    <td class="font-weight-normal text-dgray" id='users_bank_birth_date_review'><%# params[:users_bank][:swiftcode] %> </td>
                                              </tr>   
                                                  
                                                  
                                                  
                
                                    
                                    <%# end %>

                                    <!-- egyptian mail -->

                                    <tr id='p_name_row' style="display:none;">
                                        <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name') %>:</td>
                                                <td class="font-weight-normal text-dgray" id='p_name_review'><%# params[:users_bank][:personal_name] %> </td>
                                        </tr>


                                      

                                        <tr id='b_eg_row' style="display:none;">
                                            <td class="font-bold text-blue pad-left-xs"> <%= t('branch') %>:</td>
                                                    <td class="font-weight-normal text-dgray" id='b_eg_review'><%# params[:users_bank][:personal_name] %> </td>
                                            </tr>
                                           
                                       
                                            
                        
                        
                                    <!-- <tr id='n_name_row' style="display:none;">
                                        <td class="font-bold text-blue pad-left-xs" > <%# t('Nick Name') %>:</td>
                                    <td class="font-weight-normal text-dgray" id='n_name_review' ><%# params[:users_bank][:nickname] %> </td>
                                </tr>  -->


                                <tr id='na_id_row' style="display:none;">
                                    <td class="font-bold text-blue pad-left-xs" > <%= t('national id') %>:</td>
                                <td class="font-weight-normal text-dgray" id='na_id_review' ><%# params[:users_bank][:nickname] %> </td>
                            </tr> 

                   
                </table>
            </div>
        </div>
    </div>
    <div class="pull-right box-shadow-right sm-f-width self-form">
        <div class="self-label">
            <label>
                <%# f.text_field :nickname ,  :value=>params[:users_bank][:nickname] ,:class =>"selfinput" %>  
                <input class="selfinput" readonly="readonly"  id="users_bank_nickname_review_head">
   
               <!-- <span class="placeholder-span" id='users_bank_nickname_review'> </span> -->
             <span class="placeholder-span"><%= t('Nick Name') %> </span> 
            </label>
        </div>

        <div class="self-label">
            <label class="filled-input">
                <input class="selfinput" readonly="readonly"  id="users_bank_currency_review">
                    <span class="placeholder-span"><%= t('Account Currency')%> </span>
            </label>
            </div>

 
        <div class="self-btn-group mrg-top-md">
            <div class="mrg-top-md">
                <button type="button"  id= 'submit_review'  class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" style="float: left !important; margin-left: 50px;"> <i class="ico icon-white-logo"></i> <%= t('Add Now') %>  </button>
                
                <button id='edit_data_button' type="button"class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding" style=" background: #fff; padding-bottom:5px; "> <%= t('edit info') %>  </button>
 
            
            </div>
        </div>
        <div class="padding-ver-md"></div>
    </div>
</div>
</section>



</div>

<!-- ###############################################review form ################################### -->
