<script>
$('#bank-account').addClass('active');
</script> 
<!-- <script src="resources/js/jquery.js"></script> -->


<script>

$(document).ready(function() {

var from;
var to;
var currency;
var rate;

$("#inter_bank").addClass('active');
$('#currencytype').addClass('active');
$("#destination").addClass('active');
$("#information").addClass('active');
$('#inter_bank_chk').prop('checked', true);
$('#elec_bank_chk').prop('checked', false);

<% if params[:users_bank][:currencies_withdraw_ratios_id] == '4' %>
$( "#withdraw_type_usd" ).show();
$( "#withdraw_type_egp" ).hide();
$( "#withdraw_type_rys" ).hide();
$( "#currencies" ).show();
$('#USD_chk').prop('checked', true);
$('#4_chk').prop('checked', true);
$( "#data" ).load( "/edit_western_bank?id=4 #container", function() {
    jQuery('select').niceSelect();
    $.getScript("/assets/js/app.js");
$.getScript("/newbank_edit.js");
$('#curr_rat_id').val("<%= params[:users_bank][:currencies_withdraw_ratios_id] %>");
$('#p_name').val("<%= params[:users_bank][:personal_name] %>");
$('#relation').val("<%= params[:users_bank][:relation] %>");
$('#nickname').val("<%= params[:users_bank][:nickname] %>");
$('#theselect').val("<%= params[:users_bank][:selectedcountry] %>");
$('#b_date').val("<%= params[:users_bank][:birth_date] %>");
direct();  });

<% elsif params[:users_bank][:currencies_withdraw_ratios_id] == '6' %>
$( "#withdraw_type_egp" ).show();
$( "#withdraw_type_usd" ).hide();
$( "#withdraw_type_rys" ).hide();
$( "#currencies" ).show();
$('#EGP_chk').prop('checked', true);
$('#6_chk').prop('checked', true);
$( "#data" ).load( "/edit_egyptian_mail_bank #container", function() {
    jQuery('select').niceSelect();
    $.getScript("/assets/js/app.js");
$.getScript("/edit_egypt_post.js");
$('#curr_rat_id').val("<%= params[:users_bank][:currencies_withdraw_ratios_id] %>");
$('#p_name').val("<%= params[:users_bank][:personal_name] %>");
$('#n_name').val("<%= params[:users_bank][:nickname] %>");
$('#b_name').val("<%= params[:users_bank][:business_name] %>");
$('#na_id').val("<%= params[:users_bank][:nationalid] %>");
$('#b_eg').val("<%= params[:users_bank][:brancheg] %>");
$('#account_numbersw').val("<%= params[:users_bank][:account_numbersw] %>");
$('#type').val("<%= params[:users_bank][:type] %>");
$('#type2').val("<%= params[:users_bank][:type2] %>");


direct(); });

<% elsif params[:users_bank][:currencies_withdraw_ratios_id] == '14'  %>
$( "#withdraw_type_egp" ).hide();
$( "#withdraw_type_usd" ).show();
$( "#withdraw_type_rys" ).hide();
$( "#currencies" ).show();
$('#USD_chk').prop('checked', true);
$('#EGP_chk').prop('checked', false);
$('#SAR_chk').prop('checked', false);
$('#13_chk').prop('checked', false);
$('#14_chk').prop('checked', true);
$('#15_chk').prop('checked', false);
$( "#data" ).load( "/edit_bank_conversion?country=US&id=14 #container", function() {
    jQuery('select').niceSelect();
    $.getScript("/assets/js/app.js");
   
callscript();
direct(); });

<% elsif params[:users_bank][:currencies_withdraw_ratios_id] == '13'  %>
$( "#withdraw_type_egp" ).show();
$( "#withdraw_type_usd" ).hide();
$( "#withdraw_type_rys" ).hide();
$( "#currencies" ).show();
$('#USD_chk').prop('checked', false);
$('#EGP_chk').prop('checked', true);
$('#SAR_chk').prop('checked', false);
$('#13_chk').prop('checked', true);
$('#14_chk').prop('checked', false);
$('#15_chk').prop('checked', false);
$( "#data" ).load( "/edit_bank_conversion?country=EG&id=13 #container", function() {
    jQuery('select').niceSelect();
    $.getScript("/assets/js/app.js");
  callscript();
  direct(); });

<% elsif params[:users_bank][:currencies_withdraw_ratios_id] == '15'  %>
$( "#withdraw_type_egp" ).hide();
$( "#withdraw_type_usd" ).hide();
$( "#withdraw_type_rys" ).show();
$( "#currencies" ).show();
$('#USD_chk').prop('checked', false);
$('#EGP_chk').prop('checked', false);
$('#SAR_chk').prop('checked', true);
$('#13_chk').prop('checked', false);
$('#14_chk').prop('checked', false);
$('#15_chk').prop('checked', true);
$( "#data" ).load( "/edit_bank_conversion?country=SA&id=15 #container", function() {
    jQuery('select').niceSelect();
    $.getScript("/assets/js/app.js");
  callscript();
  direct(); });

<% end %>

function callscript (){

  
  $.getScript("/edit_bank_conversion.js");
  
$('#thesum').val("<%= params[:users_bank][:thesum] %>");
$('#curr_rat_id').val("<%= params[:users_bank][:currencies_withdraw_ratios_id] %>");
$('#prev_bank').val("<%= params[:users_bank][:previous_user_bank] %>");
$('#thecountry').val("<%= params[:users_bank][:country] %>");
$('#eg_bank').val("<%= params[:users_bank][:bankegname] %>");
$('#bran_num').val("<%= params[:users_bank][:brancheg] %>");
$('#branch_n').val("<%= params[:users_bank][:branchnumber] %>");
$('#acc_num').val("<%= params[:users_bank][:accountnumbereg] %>");
$('#account_numbersw').val("<%= params[:users_bank][:account_numbersw] %>");
$('#countrysw').val("<%= params[:users_bank][:countrysw] %>");
$('#countrycodesw').val("<%= params[:users_bank][:countrycodesw] %>");
$('#swiftcodesw').val("<%= params[:users_bank][:swiftcode] %>");
$('#swiftcode').val("<%= params[:users_bank][:swiftcode] %>");
$('#citysw').val("<%= params[:users_bank][:citysw] %>");
$('#addresssw').val("<%= params[:users_bank][:addresssw] %>");
$('#banksw').val("<%= params[:users_bank][:banksw] %>");
$('#branchsw').val("<%= params[:users_bank][:branchsw] %>");
$('#postalcodesw').val("<%= params[:users_bank][:postalcodesw] %>");
$('#per_name').val("<%= params[:users_bank][:personal_name] %>");
$('#bus_name').val("<%= params[:users_bank][:business_name] %>");
$('#gen_rel').val("<%= params[:users_bank][:relation] %>");
$('#gen_nic').val("<%= params[:users_bank][:nickname] %>");
$('#iban_validity').val("<%= params[:users_bank][:iban_validity] %>");
$('#iban_checksum').val("<%= params[:users_bank][:iban_checksum] %>");
$('#iban_length').val("<%= params[:users_bank][:iban_length] %>");
$('#iban_structure').val("<%= params[:users_bank][:iban_structure] %>");
$('#account_checksum').val("<%= params[:users_bank][:account_checksum] %>");
$('#countryib').val("<%= params[:users_bank][:countryib] %>");
$('#account_numberib').val("<%= params[:users_bank][:account_numberib] %>");
$('#bankib').val("<%= params[:users_bank][:bankib] %>");
$('#bank_codeib').val("<%= params[:users_bank][:bank_codeib] %>");
$('#iban').val("<%= params[:users_bank][:iban] %>");
$('#ibanncode').val("<%= params[:users_bank][:iban] %>");
$('#bban').val("<%= params[:users_bank][:bban] %>");
$('#checksum').val("<%= params[:users_bank][:checksum] %>");
$('#sepa').val("<%= params[:users_bank][:sepa] %>");
$('#countrycodeib').val("<%= params[:users_bank][:countrycodeib] %>");
$('#currencyib').val("<%= params[:users_bank][:currencyib] %>");
$('#theselect').val("<%= params[:users_bank][:selectedcountry] %>");
$('#selectedcountry').val("<%= params[:users_bank][:selectedcountry] %>");
$('#accounttypesw').val("<%= params[:users_bank][:account_type] %>");
   

  }








$("#inter_bank").click(function() {
      $( "#currencies" ).show();
      $('#currencytype').addClass('active');
      $("#inter_bank").addClass('active');
      $('#inter_bank_chk').prop('checked', true);
      $('#elec_bank_chk').prop('checked', false);

      $('#USD_chk').prop('checked', false);
      $('#EGP_chk').prop('checked', false);
      $('#SAR_chk').prop('checked', false);


      $("#elec_bank").removeClass('active');
      $("#inter_bank").removeClass('active');
      $("#destination").removeClass('active');
      $("#information").removeClass('active');

      $("#data").empty();
      $("#data").hide();


      $( "#withdraw_type_usd" ).hide();
      $( "#withdraw_type_rys" ).hide();
      $( "#withdraw_type_egp" ).hide();




      return false;
});


$("#elec_bank").click(function() {
  $( "#currencies" ).show();
  $('#currencytype').addClass('active');
  $("#elec_bank").addClass('active');
  $('#elec_bank_chk').prop('checked', true);
  $('#inter_bank_chk').prop('checked', false);

  $('#USD_chk').prop('checked', false);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', false);


  $("#data").empty();
  $("#data").hide();


  $("#inter_bank").removeClass('active');
  $("#destination").removeClass('active');
  $("#information").removeClass('active');

  $( "#withdraw_type_usd" ).hide();
  $( "#withdraw_type_rys" ).hide();
  $( "#withdraw_type_egp" ).hide();

  $( "#withdraw_type" ).hide();


  return false;
});

$("#dollar").click(function() {
  $( "#withdraw_type_usd" ).show();
  $( "#withdraw_type_egp" ).hide();
  $( "#withdraw_type_rys" ).hide();
  $('#USD_chk').prop('checked', true);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', false);
  $("#data").empty();
  $("#data").hide();

  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);


  $('#destination').addClass('active');

  return false;
});

$("#egp").click(function() {
  $( "#withdraw_type_egp" ).show();
  $( "#withdraw_type_usd" ).hide();
  $( "#withdraw_type_rys" ).hide();
    $('#destination').addClass('active');
    $('#USD_chk').prop('checked', false);
    $('#EGP_chk').prop('checked', true);
    $('#SAR_chk').prop('checked', false);
    $("#data").empty();
    $("#data").hide();

    $('#4_chk').prop('checked', false);
    $('#5_chk').prop('checked', false);
    $('#6_chk').prop('checked', false);
    $('#12_chk').prop('checked', false);
    $('#13_chk').prop('checked', false);
    $('#14_chk').prop('checked', false);
    $('#15_chk').prop('checked', false);


  return false;
});


$("#rys").click(function() {

  $( "#withdraw_type_rys" ).show();
  $( "#withdraw_type_egp" ).hide();
  $( "#withdraw_type_usd" ).hide();
  $("#data").empty();
  $("#data").hide();

  $('#USD_chk').prop('checked', false);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', true);

  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);


$('#destination').addClass('active');

  return false;
});



$("#4").click(function() {


  $('#information').addClass('active');
  $('#4_chk').prop('checked', true);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);


  $( "#data" ).show();

  $( "#data" ).load( "/users_banks_western_gram?id=4 #container", function() {

    jQuery('select').niceSelect();
    $.getScript("/assets/js/app.js");

     $.getScript("/withdraw.js");




  });
  return false;


  });

$("#5").click(function() {


  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', true);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);

    return false;
  });

$("#12").click(function() {


    $('#4_chk').prop('checked', false);
    $('#5_chk').prop('checked', false);
    $('#6_chk').prop('checked', false);
    $('#12_chk').prop('checked', true);
    $('#13_chk').prop('checked', false);
    $('#14_chk').prop('checked', false);
    $('#15_chk').prop('checked', false);


  $('#information').addClass('active');
  $( "#data" ).show();

  $( "#data" ).load( "/users_banks_western_gram?id=12 #container", function() {

    jQuery('select').niceSelect();
    $.getScript("/assets/js/app.js");
     $.getScript("/withdraw.js");



  });
  return false;

  });

$("#14").click(function() {


  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', true);
  $('#15_chk').prop('checked', false);
  $( "#data" ).show();

    $( "#data" ).load( "/users_banks/new?country=US&id=14 #container", function() {

        jQuery('select').niceSelect();
        $.getScript("/assets/js/app.js");
       $.getScript("/userbank_inter.js");


    });

    return false;
  });

$("#6").click(function() {


  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', true);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);
  $( "#data" ).show();

    $( "#data" ).load( "/users_banks_egyptian_mail?id=6 #container", function() {

        jQuery('select').niceSelect();
        $.getScript("/assets/js/app.js");
       $.getScript("/egyptian_mail.js");


    });

    return false;
  });

$("#13").click(function() {



  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', true);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);
  $( "#data" ).show();

    $( "#data" ).load( "/users_banks/new?country=EG&id=13 #container", function() {

        jQuery('select').niceSelect();
        $.getScript("/assets/js/app.js");
       $.getScript("/userbank_inter.js");


    });

    return false;
  });

$("#15").click(function() {


  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', true);
  //alert("in");
  $( "#data" ).show();

    $( "#data" ).load( "/users_banks/new?country=SA&id=15 #container", function() {

        jQuery('select').niceSelect();
        $.getScript("/assets/js/app.js");
       $.getScript("/userbank_inter.js");

    });

    return false;
  });



});





</script>
<% content_for :title, t('Add New Account') %>

<% content_for :icon, 'icon ic-icons-88' %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<%# debug(@sar_wallet.wallet_name) %>
<div class="pos-relative">
    <div class="title-line sm-f-width">
        <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
            <i class="icon ic-icons-88"></i>
        </h3>
        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
         <%= t('Add New Account') %>
        </h4>
    </div>
    <div class="self-tabs text-center">
        <ul class="self-tabs-list">
            <li class="active">
                <a href="#">
                    <span class="ico">
                        <i class="icon-home-icon"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Select Bank Type') %></span>
                </a>
            </li>
            <li id="currencytype">
                <a href="#">
                    <span class="ico">
                        <i class="icon-dollor"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Select Currency') %></span>
                </a>
            </li>
            <li id="destination">
            <a href="#">
                    <span class="ico">
                        <i class="icon-home"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Bank Destination') %></span>
                </a>
            </li>
            <li id="information">
            <a href="#">
                    <span class="ico">
                        <i class="icon-user-check"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Bank Information') %></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="pad-top-lg hlf-e-btm">
    <div class="row row-sm">
        <div class="col-md-8 col-sm-12">
            <div class="row row-sm">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                            <div class="logos-list-menu">
                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="inter_bank_chk">
                                            <span class="logo-list logo-list1"  id="inter_bank">

                                    <h4>
                                        <i class="icon icon-building"></i>
                                    </h4>
                                    <h5>
                                       <%= t('Local and International Banks') %>
                                    </h5>
                                </span>

                            </label>

                            <label class="logo-checkbox">
                                    <input type="checkbox" name="checkbox" id="elec_bank_chk">
                                    <span class="logo-list logo-list1"  id="elec_bank">

                                    <h4>
                                        <i class="icon ic-icons-598"></i>
                                    </h4>
                                    <h5>

                                    <%= t('Electronic Banks') %>
                                    </h5>
                                </span>

                            </label>
                            </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="scrollbar-inner logos-menu">
                                <div class="logos-list-menu" style="display:none;" id="currencies">
                                <% if @dollar_wallet.status == 1 %>
                                <label class="logo-checkbox">
                                        <input type="checkbox" name="checkbox" id="USD_chk">
                                        <span class="logo-list logo-list2" id="dollar">


                                    <h4>
                                        <img src="<%= format_link(request) %>/assets
/imgs/world-white.png" alt="world-white" class="act-img">
                                        <img src="<%= format_link(request) %>/assets
/imgs/wicon1.png" alt="world-white" class="off-img">
                                    </h4>
                                    <h5>

                                        <%= t('balance IN Dolar') %>
                                    </h5>
                                    <h6 class="sm-text"><%= @dollar_wallet.balance.to_s + " "+ t('balance IN Dolar') %></h6>
                                </span>
                            </label>

                                    <% end %>
                                <% if @sar_wallet!= nil and @sar_wallet.status == 1   %>
                                <label class="logo-checkbox">
                                        <input type="checkbox" name="checkbox" id="SAR_chk">
                                        <span class="logo-list logo-list2" id="rys">

                                    <h4>
                                        <img src="<%= format_link(request) %>/assets
/imgs/wicon2.png" alt="world-white">
                                    </h4>
                                    <h5>
                                        <%= t('balance IN Rys') %>
                                    </h5>

                                    <h6 class="sm-text"><%= @sar_wallet.balance.to_s + " "+ t('balance IN Rys') %></h6>

                                </span>
                            </label>

                            <% end %>
                                <% if @egp_wallet!= nil and @egp_wallet.status == 1   %>

                                <label class="logo-checkbox">
                                        <input type="checkbox" name="checkbox" id="EGP_chk">
                                        <span class="logo-list logo-list2" id="egp">


                                    <h4>
                                        <img src="<%= format_link(request) %>/assets
/imgs/wicon3.png" alt="world-white">
                                    </h4>
                                    <h5>
                                        <%= t('balance IN Egp') %>
                                    </h5>
                                    <h6 class="sm-text"><%= @egp_wallet.balance.to_s + " "+ t('balance IN Egp') %></h6>
                                </span>
                                            </label>
                                <% end %>

                                </div>
                            </div>
                </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                        <div class="logos-list-menu" style="display:none;" id="withdraw_type_usd">
                        <% @balancewithdraw_usd.each do |balancewithdraw_usdd| %>

                        <label class="logo-checkbox">
                                <input type="checkbox" name="checkbox" id="<%= balancewithdraw_usdd.id %>_chk">
                                <span class="logo-list logo-list3" id="<%= balancewithdraw_usdd.id %>">

                                <figure>

                                    <%= image_tag balancewithdraw_usdd.ima.url %>
                                    <%# balancewithdraw_usdd.id %>
                                    <%# text_field_tag :value ,  :class=> 'selfinput' ,:id => "value" ,:value => balancewithdraw_usdd.id %>

                                </figure>
                            </span>
                        </label>
                          <% end %>


                        </div>
                        <div class="logos-list-menu" style="display:none;"  id="withdraw_type_egp">
                        <% @balancewithdraw_egp.each do |balancewithdraw_egpp| %>

                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="<%= balancewithdraw_egpp.id %>_chk">
                                            <span class="logo-list logo-list3" id="<%= balancewithdraw_egpp.id %>">

                            <figure>

                                <%= image_tag balancewithdraw_egpp.ima.url %>

                            </figure>
                        </span>
                    </label>
                     <% end %>


                        </div>
                        <div class="logos-list-menu" style="display:none;"  id="withdraw_type_rys">
                        <% @balancewithdraw_rys.each do |balancewithdraw_ryss| %>

                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="<%= balancewithdraw_ryss.id %>_chk">
                                            <span class="logo-list logo-list3" id="<%= balancewithdraw_ryss.id %>">
                            <figure>

                                <%= image_tag balancewithdraw_ryss.ima.url %>

                            </figure>
                        </span>
                    </label>
                        <% end %>


                        </div>
                    </div>
                </div>






            </div>
        </div>
        <div class="col-md-4 col-sm-12"  id="data">


        </div>
    </div>
</div>
</section>
