
<style>

  .error {
      color: red;
      
   }
</style>
<script src="/userbank_inter.js"></script>

<div id="container">



  <%# form_for @users_bank,:url => url_for(:controller => 'users_banks', :action => 'new_review_post') , :html => { :multipart => true } do |f| %>

  <%= form_for @users_bank,:url => url_for(:controller => 'users_banks', :action => 'save') , :html => { :multipart => true } do |f| %>

 
         <%= f.hidden_field :currencies_withdraw_ratios_id ,  :class=> 'form-control' ,:value => @currencies_withdraw_ratios_id %>

         <%= f.hidden_field :currency ,  :class => 'selfinput', :readonly => true ,:value=>'USD'%>

        

   <div class="select-box"  id="select_country" style="display: none;">
  
  <label class="filled-input"><%= t('country') %></label>     
  <%# country_select("users_country", "country", {  priority_countries: ["EG", "SA"]},:prompt => t('Select the country')}, {class: "select-line" ,id:"theselect" }) %>

  <%= country_select("users_country", "country", { priority_countries: ["EG", "SA"],prompt: t('Select a country')}, {id:"theselect",required: true,class: 'select-line' }) %>

  

  </div>
<%= f.hidden_field :selectedcountry ,  :class=> 'form-control', :id=> 'selectedcountry' %>

<%= f.hidden_field :country ,  :class=> 'form-control', :id=> 'thecountry' ,:value => @country %>
<%= f.hidden_field :language ,  :class=> 'form-control', :id=> 'language' ,:value => current_userd.locale %>
    
  <div id="egbank" style="display: none;">

    <%= f.hidden_field :country ,  :class=> 'form-control', :id=> 'thecountry' ,:value => @country %>

                 
       <div class="select-box"> 
          <%= f.label t('banks') %>
          
        <%= f.select :bankegname, options_for_select( [["ABU DHABI ISLAMIC BANK - EGYPT"],["AFRICAN EXPORT IMPORT BANK"],["AHLI UNITED BANK (EGYPT) S.A.E."],["ALBARAKA BANK EGYPT"],["ARAB AFRICAN INTERNATIONAL BANK"],["ARAB BANK PLC"],["ARAB BANKING CORPORATION EGYPT"],["ARAB INTERNATIONAL BANK"],["ARAB INVESTMENT BANK"],["ARQAAM SECURITIES BROKERAGE, S.A.E. EGYPT"],["BANK AUDI SAE"],["BANK OF ALEXANDRIA S A E"],["BANK OF NOVA SCOTIA,THE"],["BANQUE DU CAIRE"],["BANQUE MISR"],["BARCLAYS BANK - EGYPT (S.A.E.)"],["BELTONE SECURITIES BROKERAGE S.A.E"],["BLOM BANK EGYPT S.A.E."],["CAIRO AND ALEXANDRIA STOCK EXCHANGES"],["CENTRAL BANK OF EGYPT CAIRO"],["CHASE MANHATTAN BANK, CAIRO"],["CITIBANK CAIRO"],["COMMERCIAL INTERNATIONAL BANK (EGYPT) S.A.E."],["COMMERCIAL INTERNATIONAL BROKERAGE COMPANY"],["CREDIT AGRICOLE EGYPT"],["CREDIT FONCIER EGYPTIEN"],["CREDIT SUISSE"],["DELTA RASMALA SECURITIES"],["EGYPTIAN ARAB LAND BANK"],["EGYPTIAN BANKS COMPANY FOR TECHNOLOGICAL ADVANCEMENT, SAE"],["EGYPTIAN FINANCIAL GROUP"],["EGYPTIAN GULF BANK"],["EGYPTIAN INVESTOR PROTECTION FUND"],["EGYPTIAN WORKERS BANK"],["EL SAFWA FOR SECURITIES TRADING"],["EL SALAM CO."],["EMIRATES NATIONAL BANK OF DUBAI SAE (FORMERLY BNP PARIBAS SAE,EGYPT)"],["EXPORT DEVELOPMENT BANK OF EGYPT"],["FAISAL ISLAMIC BANK OF EGYPT"],["FINANCIAL BROKERAGE GROUP"],["FINANCIAL BROKERAGE GROUP (FBG)"],["FLEMING MANSOUR SECURITIES BROKERAGE"],["FORTUNE SECURITIES CO."],["HC BROKERAGE(S.A.E)"],["HOUSING AND DEVELOPMENT BANK"],["HSBC BANK EGYPT"],["HSBC JAMES CAPEL BROKERAGE-EGYPT S.A.E."],["HSBC SECURITIES EGYPT S.A.E."],["INDUSTRIAL DEVELOPMENT AND WORKERS BANK OF EGYPT"],["LOUXOR BROKERAGE CO"],["MASHREQ BANK"],["MCSD MISR FOR CLEARING,DEPOSITORY AND REGISTRY"],["MEGA INVESTMENTS SECURITIES"],["MISR IRAN DEVELOPMENT BANK"],["MOBIS AUTO PARTS MIDDLE EAST EGYPT"],["MOHANDES BANK"],["MUBASHER SECURITIES"],["MUBASHER TRADE"],["NAEEM BROKERAGE"],["NASSER SOCIAL BANK"],["NATIONAL BANK OF ABU DHABI"],["NATIONAL BANK OF EGYPT"],["NATIONAL BANK OF GREECE, (EGYPT NETWORK)"],["NATIONAL BANK OF KUWAIT - EGYPT"],["NATIONAL BANK OF OMAN (SAOG)"],["NATIONAL INVESTMENT BANK"],["NATIONAL POST ORGANIZATION"],["PHAROS HOLDING"],["PHAROS SECURITIES"],["PIRAEUS BANK - EGYPT S.A.E."],["PRIME SECURITIES SAE"],["PRINCIPAL BANK FOR DEVELOPMENT AND AGRICULTURAL CREDIT"],["QATAR NATIONAL BANK ALAHLI S.A.E (QNB ALAHLI)"],["RAFIDAIN BANK"],["SIGMA SECURITIES BROKERAGE AND BOOK-KEEPING S.A.E"],["SOCIETE ARABE INTERNATIONALE DE BANQUE"],["STRATEGY SECURITIES GROUP"],["SUEZ CANAL BANK"],["SWISS GROUP FOR SECURITIES BROKERAG"],["THE UNITED BANK"],["TRIPLE A SECURITIES CO."],["UNION NATIONAL BANK-EGYPT S.A.E."]]),{:prompt => t('Select a bank')}, { :id => 'eg_bank', :class => 'select-line'} %>
      </div>
      
      <div class="self-label">
        <label class="filled-input">
        <%= f.text_field :brancheg ,:id => 'bra_eg',  :class => 'selfinput'  %>
        <span class="placeholder-span"><%= t('branch') %></span>
        </label>
      </div>

      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :branchnumber ,:id => 'br_num' , :class => 'selfinput' %>
      <span class="placeholder-span"><%= t('Branch Number') %></span>
      </label>
    </div>


    <div class="self-label">
    <label class="filled-input">
    <%= f.text_field :accountnumbereg ,:id => 'accnu',  :class => 'selfinput' %>
    <span class="placeholder-span"><%= t('account number') %></span>
    </label>
  </div>

    </div>

    

<div class="field" id="swift" style="display: none;">

<div class="self-label">
<label class="filled-input">
<input id="swiftcode" type="text" name="swiftcodename" class="selfinput"  name="lname">   
<span class="placeholder-span"><%= t('Swift Code') %></span>
</label>
</div>
  


  </div>


  <div class="field" id="ibann" style="display: none;">

  <div class="self-label">
  <label class="filled-input">
  <input id="ibanncode" type="text" name="lname" class="selfinput">
  
  <span class="placeholder-span"><%= t('iban') %></span>
  </label>
  </div>



  </div>

  <div class="field" id="error" style="display: none;">

     
<h2>خطأ   </h2>
 
<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= 'كود الخطأ' %></th>
      <th><%= 'رسالة الخطأ' %></th>
    </tr>
  </thead>
 <tbody>
     <tr>
            <td id="fromtd"></td>
            <td id="totd"></td>
  
     </tr>
         </tbody>
</table></div></div>

  </div>


        <div class="field" id="resultswift" style="display: none;">

        <div class="self-label">
        <label class="filled-input">
        <%= f.text_field :account_numbersw ,  :class=> 'selfinput' ,:id => "account_numbersw" %>
        <span class="placeholder-span"><%= t('account number') %></span>
        </label>
      </div>



      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :countrysw ,  :class=> 'selfinput' ,:id => "countrysw" %>
      <span class="placeholder-span"><%= t('country') %></span>
      </label>
      </div>


      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :countrycodesw ,  :class=> 'selfinput' ,:id => "countrycodesw" %>
      <span class="placeholder-span"><%= t('country code') %></span>
      </label>
      </div>


      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :swiftcode ,  :class=> 'selfinput' ,:id => "swiftcodesw" %>
      <span class="placeholder-span"><%= t('swift code') %></span>
      </label>
      </div>


      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :citysw ,  :class=> 'selfinput' ,:id => "citysw" ,readonly: true %>
      <span class="placeholder-span"><%= t('City') %></span>
      </label>
      </div>

      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :addresssw ,  :class=> 'selfinput' ,:id => "addresssw" ,readonly: true %>
      <span class="placeholder-span"><%= t('Address') %></span>
      </label>
      </div>

      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :banksw ,  :class=> 'selfinput' ,:id => "banksw",readonly: true  %>
      <span class="placeholder-span"><%= t('bank name') %></span>
      </label>
      </div>

      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :branchsw ,  :class=> 'selfinput' ,:id => "branchsw",readonly: true %>
      <span class="placeholder-span"><%= t('branch') %></span>
      </label>
      </div>

      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :postalcodesw ,  :class=> 'selfinput' ,:id => "postalcodesw",readonly: true %>
      <span class="placeholder-span"><%= t('Postal Code') %></span>
      </label>
      </div>


       
  </div>

 

  


  <div class="field" id="accounttype" style="display: none;">

  <div class="select-box"> 
    
    <label><%= t('you should choose the type of account') %></label> 
    

    <%= f.select :account_type, options_for_select( [[t('Personal Checking'),"1"],[t('Personal Savings'),"2"],[t('Business Checking'),"3"],[t('Business Savings'),"4"]]),{:prompt => t('select type of account')}, {  :class => 'select-line',:id => "accounttypesw" } %>

  </div>
  
      </div><br>


      <div class="field" id="personal" style="display: none;">


        <div class="self-label">
          <label class="filled-input">
          <%= f.text_field :personal_name ,:id => 'per_name',  :class=> 'selfinput'  %>

          <span class="placeholder-span"><%= t('Beneficiary Name') %></span>
          </label>
          </div>
        </div>


       <div class="field" id="business" style="display: none;">

                <div class="self-label">
                  <label class="filled-input">
                  <%= f.text_field :business_name ,:id => 'bus_name',  :class=> 'selfinput'  %>
                  
                  <span class="placeholder-span"><%= t('Company Name') %></span>
                  </label>
                </div>
                  
       </div>

                    
  
      <div class="field" id="general" style="display: none;">

      <div class="self-label">
        <label class="filled-input">
        <%= f.text_field :relation ,  :class=> 'selfinput',:required => true  %>
        
        <span class="placeholder-span"><%= t('Beneficiary Name Relation') %></span>
        </label>
      </div>

      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :nickname ,  :class=> 'selfinput' , :required => true%>
      
      <span class="placeholder-span"><%= t('Nick Name') %></span>
      </label>
    </div>

      </div><br>

      
  

  <div class="field" id="resultibann" style="display: none;">
               
        <%= f.hidden_field :iban_validity ,  :class=> 'form-control' ,:id => "iban_validity"  %>
        <%= f.hidden_field :iban_checksum ,  :class=> 'form-control' ,:id => "iban_checksum"  %>
        <%= f.hidden_field :iban_length ,  :class=> 'form-control' ,:id => "iban_length"  %>
        <%= f.hidden_field :iban_structure ,  :class=> 'form-control' ,:id => "iban_structure"  %>
        <%= f.hidden_field :account_checksum ,  :class=> 'form-control' ,:id => "account_checksum"  %>

        <div class="self-label">
        <label class="filled-input">
        <%= f.text_field :countryib ,  :class=> 'selfinput' ,:id => "countryib",readonly: true %>
        
        <span class="placeholder-span"><%= t('country') %></span>
        </label>
      </div>

      <div class="self-label">
      <label class="filled-input">
      <%= f.text_field :account_numberib ,  :class=> 'selfinput' ,:id => "account_numberib" ,readonly: true %>
      
      <span class="placeholder-span"><%= t('account number') %></span>
      </label>
    </div>

    <div class="self-label">
    <label class="filled-input">
    <%= f.text_field :bankib ,  :class=> 'selfinput' ,:id => "bankib",readonly: true %>
    
    <span class="placeholder-span"><%= t('bank name') %></span>
    </label>
  </div>

  <div class="self-label">
  <label class="filled-input">
  <%= f.text_field :bank_codeib ,  :class=> 'selfinput' ,:id => "bank_codeib",readonly: true %>
  
  <span class="placeholder-span"><%= t('bank code') %></span>
  </label>
</div>

<div class="self-label">
<label class="filled-input">
<%= f.text_field :iban ,  :class=> 'selfinput' ,:id => "iban",readonly: true %>

<span class="placeholder-span"><%= t('iban') %></span>
</label>
</div>

<div class="self-label">
<label class="filled-input">
<%= f.text_field :bban ,  :class=> 'selfinput' ,:id => "bban",readonly: true %>

<span class="placeholder-span"><%= t('bban') %></span>
</label>
</div>


<div class="self-label">
<label class="filled-input">
<%= f.text_field :checksum ,  :class=> 'selfinput' ,:id => "checksum",readonly: true %>

<span class="placeholder-span"><%= t('check sum') %></span>
</label>
</div>


<div class="self-label">
<label class="filled-input">
<%= f.text_field :check_digit ,  :class=> 'selfinput' ,:id => "check_digit",readonly: true %>

<span class="placeholder-span"><%= t('check digit') %></span>
</label>
</div>


<div class="self-label">
<label class="filled-input">
<%= f.text_field :sepa ,  :class=> 'selfinput' ,:id => "sepa",readonly: true %>

<span class="placeholder-span"><%= t('sepa') %></span>
</label>
</div>


<div class="self-label">
<label class="filled-input">
<%= f.text_field :countrycodeib ,  :class=> 'selfinput' ,:id => "countrycodeib",readonly: true %>

<span class="placeholder-span"><%= t('country code') %></span>
</label>
</div>


<div class="self-label">
<label class="filled-input">
<%= f.text_field :currencyib ,  :class=> 'selfinput' ,:id => "currencyib",readonly: true %>

<span class="placeholder-span"><%= t('currency') %></span>
</label>
</div>




  </div>
<!-- <button id="submitbutton" type="submit" class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md" ><%# t('Add') %> </button> -->

<button type="button" style="display:none;" id='setdata' class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Add') %> </button><br><br>
















    
  </div>

<% end %>




<br> <br>  <br> <br> 
<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, balances_withdraws_path , { :class=>'linktop' } %>

<p id="demo"></p>
</div>


<script>

 



</script>