<script>
$('#bank-account').addClass('active');
</script> 
<% content_for :title, t('Bank Accounts') %>
<% content_for :icon, 'icon ic-icons-88' %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
  <img src="<%= format_link(request) %>/assets
/imgs/wicon1.png" alt="wicon1">
</h3>
 <%= form_tag  url_for(:controller => 'users_banks', :action => 'searchpost'), :method => 'post' do %>
<div class="page-title l-height-md mrg-bottom-md">
  <div class="row row-default button-row">
      <div class="col-md-3">
          <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
        <%= t('Bank Accounts') %>
          </h4>
      </div>
      <div class="col-md-9">
          <div class="clearfix">
            <a href="/users_banks_main" class="bg-black hover-bg-brand text-hover-white text-white btn md-padding radius-md pull-left mrg-right-xs mrg-bottom-xs"><%= t('New Bank') %></a>
              <%#link_to "<button type='button' class='btn text-hover-white text-white bg-black border-color-black md-padding radius-md'>#{t('New Bank')}</button>".html_safe, users_banks_main_path%>
                  <div class="search-div radius-md bg-white b-boxshadow">
                  <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder="<%= t('Search') %>" >
                  <button type="submit" class="search-btn"><i class="icon ic-search-1"></i></button>

                  </div>
                  <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                  <%= select_tag(:currency, options_for_select([[t('balance IN Dolar'),'USD'],[t('balance IN Rys'),'SAR'], [t('balance IN Egp'),'EGP']]),:include_blank =>  t('choose bank currency') )  %>
                  </div>
          </div>
      </div>
  </div>
</div>
 <% end %>
<div class="listing-section listing-section2">


<div class="btm-bg-grd">
<div class="height-490 content demo-y">

  <div class="selfscroll-section">

  <div class="row row-sm">

  <% @userbank.each do |user_bank| %>

      <div class="col-sm-12 col-md-6">
          <div class="listing-div hover-b-boxshadow">
              <h4 class="icon-section">
                  <img src="<%= format_link(request) %>/assets
/imgs/icon.png" alt="icon">
              </h4>
              <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            <%= user_bank.nickname %>     <%= user_bank.bank_name %>
              </h5>
              <p class="listing-d pos-relative font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                  <i class="ico icon-wallet"></i>
                  <span class="mrg-right-xs">
                  <%= user_bank.created_at %>
                  </span>
              </p>
              <div class="do-small-action">
                  <div class="dosm-visi text-left pointer">
                    <span class="iblock bg-gray radius-crlc"></span>
                    <span class="iblock bg-gray radius-crlc"></span>
                    <span class="iblock bg-gray radius-crlc"></span>
                  </div>
                  <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                    <ul class="dosmall-action-ul">

                         <% if user_bank.currencies_withdraw_ratios_id == 4 or user_bank.currencies_withdraw_ratios_id == 12  %>
                        <li><%= link_to t('Edit User bank Account'), edit_western_gram_path(user_bank) %></li>
                        <% elsif user_bank.currencies_withdraw_ratios_id == 6 %>
                        <li><%= link_to t('Edit User bank Account'), edit_egyptian_mail_path(user_bank) %></li>

                        <% else %>
                        <li><%= link_to t('Edit User bank Account'), edit_bank_path(user_bank) %></li>
                        <% end %>


                        <li><%= link_to t('Delete User bank Account'),users_bank_path(user_bank), method: :delete, data: { confirm: t('Are you sure you want to delete this') +' ?' } %></li>
                        <li><%= link_to t('Show User bank Account'), user_bank %></li>

                      </ul>
                    </div>
              </div>
          </div>
      </div>

      <% end %>
      <%# will_paginate @users_banks, :previous_label => t("previous"), :next_label => t("next") %>





      </div>
      </div>
  </div>
  </div>

</div>
</section>
