
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
    <img src="<%= format_link(request) %>/assets/imgs/act-user.png" alt="act-user">
</h3>
<div class="clearfix">
    <div class="pull-right sm-f-width box-shadow-left">
        <div class="page-title l-height-md mrg-bottom-md">
            <div class="row row-default button-row">
                <div class="col-xs-12">
                    <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                      <%= t('Account Details') %>
                    </h4>
                </div>
            </div>
        </div>
        <div class="btm-bg-grd">
            <div class="scrollbar-inner height-300 mrg-top-lg hlf-e-btm"">
                <div class="selfscroll-section">
                    <table class="table sm-md-fontsize">
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.bank_name %></td>
                        </tr>
                        <% if ![nil,''].include?(@users_bank.nickname)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('Nick Name') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.nickname %></td>
                        </tr> 
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.business_name)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('Company Banks') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.business_name %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.personal_name)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.personal_name %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.relation)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('علاقة المستفيد بالتحويل') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.relation %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.country)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('country') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.country %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.city)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('City') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.city %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.branch)%>                                   
                        <tr>
                            <td class="font-bold text-blue  pad-left-xs"><%= t('Branch Name') %> :</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.branch %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.swiftcode)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('swift code') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.swiftcode %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.account_number)%>                                   
                        <tr>
                            <td class="font-bold text-blue  pad-left-xs"><%= t('Account Number') %> :</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.account_number %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.branchnumber)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('Branch Number') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.branchnumber %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.bank_code)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('Bank Code') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.bank_code %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.iban)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('iban code') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.iban %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.bban)%> 
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('bban') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.bban %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.nationalid)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('National ID') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.nationalid %></td>
                        </tr>
                        <% end %>
                        <% if ![nil,''].include?(@users_bank.birth_date)%>
                        <tr>
                            <td class="font-bold text-blue pad-left-xs"> <%= t('Birth Date') %>:</td>
                            <td class="font-weight-normal text-dgray"><%= @users_bank.birth_date %></td>
                        </tr>
                        <% end %>

                         <tr>
                                                    <td class="font-bold text-blue  pad-left-xs"></td>
                                                    <td class="font-weight-normal text-dgray"></td>
                                                </tr>

                                                <tr>
                                                        <td class="font-bold text-blue  pad-left-xs"></td>
                                                        <td class="font-weight-normal text-dgray"></td>
                                                    </tr>

                    </table>
                </div>
            </div>
        </div>
            
    </div>
    <div class="pull-right box-shadow-right s-width sm-f-width self-form">
        <div class="self-label">
            <label>
                <input type="text" name="" value=<%= @users_bank.nickname %> class="selfinput">
                <span class="placeholder-span"><%= t('Nick Name') %></span>
            </label>
        </div>
        <div class="select-box">
            <label><%= t('currency') %></label>
            <select class="wide selfinput">
                <option data-display=<%= @users_bank.currency %>><%= @users_bank.currency %></option>
            </select>
        </div>
        <div class="self-btn-group mrg-top-md">
            <div class="mrg-top-md">
            <% if @users_bank.currencies_withdraw_ratios_id == 4 or @users_bank.currencies_withdraw_ratios_id == 12  %>
                <a href= <%= @users_bank.id.to_s + "/edit_western_gram"%> class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                    <%= t('Edit Data') %>
                </a>
                <% elsif @users_bank.currencies_withdraw_ratios_id == 6 %>
                <a href= <%= @users_bank.id.to_s + "/edit_egyptian_mail"%> class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                    <%= t('Edit Data') %>
                </a>
                <% else %>
                <a href= <%= @users_bank.id.to_s + "/edit_bank"%> class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                    <%= t('Edit Data') %>
                </a>
                <% end %>
                
                <%= link_to  "<i class='ico icon-white-logo'></i>#{t('Pay Now')}".html_safe  , balances_withdraws_main_path(:isdirect => @users_bank.id , :currency => @users_bank.currency,:bank => @users_bank.currencies_withdraw_ratios_id  ), {:class => 'mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding'} %>
                
                

               
            </div>
        </div>
        <div class="padding-ver-md"></div>
        <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
            <span class="ico lg-md-fontsize text-yellow">!</span>
            <div class="row row-0">
                    <div class="pull-right">
                        <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Do You Want To Delete This Bank ?') %></h5>
                        <p class="sm-md-fontsize text-dgray"><%= t('Are You Sure,You Can Not Retrieve The Account') %></p>
                    </div>
                      <%# link_to t('Delete Account'),users_bank_path(@users_bank), method: :delete, class:"bg-yellow radius-md text-blue hover-bg-brand pull-left text-hover-white btn md-padding", data: { confirm: t('Are you sure you want to delete this') +' ?' } %>
                         <button id = 'deleteaccount' class="bg-yellow radius-md text-blue hover-bg-brand pull-left text-hover-white btn md-padding"><%= t('Delete Account') %></button>
                   <%# link_to t('Delete Account'),users_bank_path(@users_bank), method: :delete, class:"bg-yellow radius-md text-blue hover-bg-brand pull-left text-hover-white btn md-padding", data: { confirm: t('Are you sure you want to delete this') +' ?' } %>
                    <!-- <a href="#" class="bg-yellow radius-md text-blue hover-bg-brand pull-left text-hover-white btn md-padding">
                        <%= t('Delete Account') %>
                    </a> -->
            </div>
        </div>
    </div>
</div>
</section>


<div id="confirm_delete_popup" class="selfpopup" style="display:none;">
    <div class="selfpopup-bg">
    </div>
    <div class="selfpopup-content">
        <div class="selfpopup-inner">
            <div class="selfpopup-middle">
                <div class="padding-all-sm">
                    <div class="cart-balance selfpopup-caption">
                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h4 class="icon-img-pp mrg-bottom-sm">
                                <img src="<%= format_link(request) %>/assets/imgs/error.png" alt="error">
                            </h4>
                            <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"> <%= t('Are you sure you want to delete this')%>؟</h5>
                            <p id ="failure-messege" class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">

                            </p>

                            <div class="self-btn-group mrg-top-md">
                                <div class="mrg-top-md">

                                        <!-- <a class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" ><i class="ico icon-white-logo"></i>نعم</a> -->

                                        <%# link_to t('Delete Account'),users_bank_path(@users_bank), method: :delete, class:"mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" %>

                                        <a class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" rel="nofollow" data-method="delete" href="/users_banks/<%= @users_bank.id %>"><i class="ico icon-white-logo"></i>نعم</a>
                                   
                                        <a href="#"  id = 'no_del' class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                                        لا    
                                    </a>

                                    
                                    
                                    
                    
                                   
                                </div>
                            </div>

                            <!-- <a href="#" class="btn md-padding radius-md border-brand text-brand text-hover-white hover-bg-brand">ةفاضإ ديصرلا</a> -->
                        </div>
                        <div class="crcl-animation">
                            <span class="lg-crcl"></span>
                            <span class="md-crcl"></span>
                            <span class="sm-crcl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>



<script>


    $(document).ready(function() {

            $("#deleteaccount").click(function() {
                
                    $('#confirm_delete_popup').show();

                         });


                         $("#no_del").click(function() {
                
                $('#confirm_delete_popup').hide();

                     });


                         


    });
</script>