
<p id="notice"><%= notice %></p>

<h1>Listing banks</h1>

									<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th  ><%= t('User name') %> </th>
      <th  ><%= t('Bank Name') %> </th>
      <th  ><%= t('account number') %> </th>
      <th  ><%= t('country') %> </th>
      <th  >  </th>

    </tr>
  </thead>

  <tbody>
    <% @users_banks.each do |user_bank| %>
      <tr>

        <td>
<% @usern = Userd.find(user_bank.userd_id)  %>
<%=   @usern.name %>
 </td>

        <td><%= user_bank.bank_name %></td>

        <td><%= user_bank.account_number %></td>
        <td><%= user_bank.country %></td>



        <td><%= link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, user_bank %></td>
        <td><%= link_to '<button type="button" class="btn btn-success waves-effect waves-light "><i class="fa fa-pencil"></i></button>'.html_safe, edit_users_bank_path(user_bank) %></td>
        <td><%= link_to '<button type="button" class="btn btn-danger waves-effect waves-light "><i class="fa fa-trash-o"></i></button>'.html_safe, user_bank, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>

<%= link_to t('New User bank Account'), new_users_bank_path(:userd_id =>  params[:id]) %>
