


<style>

    .error {
        color: red;

     }
     #theselect{
       border:none !important;
       border-bottom-style: solid 2px #3d4565 !important;
     }
     .form-control{
       border:none !important;
       border-bottom-style: solid 2px #3d4565 !important;
     }
</style>
<div class="field" id="container">


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
  

<h1><%# @choosen.name%> </h1>


<%# image_tag @choosen.ima.url %>

<%# form_for @userbank,:url => url_for(:controller => 'users_banks', :action => 'add_bank_confirm') , :html => { :multipart => true } do |f| %>

<%= form_for @userbank,:url => url_for(:controller => 'users_banks', :action => 'save_western_gram') , :html => { :multipart => true } do |f| %>



    <%= f.hidden_field :currencies_withdraw_ratios_id ,  :class=> 'form-control' ,:value => @currencies_withdraw_ratios_id %>




 <div class="field" id="new" >

<div class="self-label">
    <label class="filled-input">
        <%= f.text_field :currency ,  :class => 'selfinput', :readonly => true ,:value=>'USD'%>

        <span class="placeholder-span"><%= t('currency')%> </span>
    </label>
</div>


<div class="self-label">
<label class="filled-input">
    <%= f.text_field :personal_name ,:required => true,  :class => 'selfinput' %>

    <span class="placeholder-span"><%= t('Beneficiary Name')%> </span>
</label>
</div>

<div class="self-label">
<label class="filled-input">
    <%= f.text_field :relation ,:required => true,  :class => 'selfinput'%>

    <span class="placeholder-span"><%= t('Beneficiary Name Relation')%> </span>
</label>
</div>

<div class="self-label">
<label class="filled-input">
    <%= f.text_field :nickname ,:required => true,  :class => 'selfinput'%>

    <span class="placeholder-span"><%= t('Nick Name')%> </span>
</label>
</div>




<div class="select-box" >
<span class="placeholder-span"><%= t('country')%> </span>


<%= country_select("users_bank", "country", { priority_countries: ["EG", "SA"],prompt: t('Select a country')}, {id:"theselect",:required => true }) %>



    </div>
    <%= f.hidden_field :selectedcountry ,  :class=> 'form-control', :id=> 'selectedcountry'  %>


<div class="self-label">
<label class="filled-input">
<%= f.date_field :birth_date ,:required => true,  :class=> 'selfinput'  %>

<%# f.text_field :birth_date, "data-provide" => 'datepicker',:class=> 'datepicker selfinput' %>



    <span class="placeholder-span"><%= t('Birth Date')%> </span>
</label>
</div>

  </div>

<!-- <button type="submit" class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Add') %> </button> -->
<button type="button" id='setdata' class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Add') %> </button>


 <% end %>

 </div>
