<script>
$(document).ready(function(){
	$('#balances_withdraw_user_id').change(function(){
		var buid = $('#balances_withdraw_user_id').val();
		if(buid != 0)
		{
			$.ajax({
				type:'get',
				url:'/userbankdids',
				data:{id:buid},
                                contentType: "application/json",              
                                dataType: "json",
				cache:false,
				success: function(data){
                                      {
                                         $("#user_bank_select").empty();

				            $.each(data, function () {
				                $("#user_bank_select").append($("<option></option>").val(this['id']).html(this['account_name']));
				            });
					}

 				}
			});
		}
	})
 

})
</script>



<%= form_for(@balances_withdraw) do |f| %>
  <% if @balances_withdraw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@balances_withdraw.errors.count, "error") %> prohibited this balances_withdraw from being saved:</h2>

      <ul>
      <% @balances_withdraw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.role_id == 1 %>
    <div class="field">
       <%= f.label :user_id , t('User') %><br>
        <%= f.select :user_id, Userd.all.collect {|p| [ "#{p.username} / #{p.email}", p.id ] },{ :prompt => t('Select a User')}, {  :class => 'form-control' } %>
        

   </div>
 <% else %>
     <%= f.hidden_field :user_id, :value=>  current_userd.id   %>
 <% end %>
 <%= link_to t('New User bank Account'), new_users_bank_path %>

  <div class="field">

    <%= f.label :user_bank_id , t('User bank account') %><br />       

        <%= f.select :user_bank_id, UsersBank.where(user_id: current_user.id).collect {|p| [ "#{p.account_name} / #{p.account_number}", p.bank_id ] },{ :prompt => t('Select a bank')}, {  :class => 'form-control' } %>


  </div>

  <div class="field">
    <%= f.label :thesum , t('the sum') %><br>
    <%= f.text_field :thesum ,  :class => 'form-control', :required => true %>
  </div>


 
   
  
  <div class="field">
    <%= f.label :hint, t('Hint') %><br>
    <%= f.text_area :hint , :class => 'form-control'  %>
  </div>
<% if current_userd.role_id == 1  %>

  <div class="field">
    <%= f.label :expect_date, t('Expect date') %><br>
    <%= f.date_select :expect_date ,start_year: 2016 ,end_year: 2050 , use_month_numbers: true, prompt: { day: t('Select day'), month: t('Select month'), year: t('Select year') },  :class => 'form-control' %>

  </div>
<% end %>

 
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Search') %> </button>

  </div>
<% end %>
