
    <%= form_for @balanceopd,:url => changstatus_path(:id => @balanceopd.id,:type =>params[:type])  , :html => { :multipart => true } do |f| %>

   <%= f.hidden_field :id ,:value => params[:id] %>
 <%= f.hidden_field :id ,:value => params[:type] %>

<% if params[:type].to_i == 1 %>
<p>
  <strong>t('create balance withdraw note')</strong>
   <%= text_area_tag :order_created_hint %>
</p>

<% end %>

<% if params[:type].to_i == 2 %>

<p>
  <strong>ملاحظة حالة وصول الطلب</strong>
   <%= text_area_tag :order_delivered_hint %>
</p>

<% end %>

<% if params[:type].to_i == 3 %>

<p>
  <strong>ملاحظة حالة العمل علي الطلب</strong>
   <%= text_area_tag :order_workon_hint %>
</p>

<% end %>

<% if params[:type].to_i == 4 %>

<p>
  <strong>ملاحظة حالة استثناء الطلب</strong>
   <%= text_area_tag :order_exception_hint %>
</p>

<% end %>

<% if params[:type].to_i == 5 %>

<p>
  <strong>ملاحظة حالة تم الطلب</strong>
   <%= text_area_tag :order_done_hint %>
</p>


<p>
    <%= file_field_tag  :attachments,:class => 'form-control' %>
  </p>


<p>
  <strong>ايصال سحب</strong>
<%= image_tag @balanceopd.attachments.url %>
</p>





<% end %>

   <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>

  </div>


<% end %>





