<%# debug   @params %> <br />

<%= form_for :balancediswithdraw do |f| %>
   <%= f.hidden_field :id ,:value => params[:id] %>
   <%= t('reason') %> : <%= f.text_area :hint  %>
 
   <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>

  </div>


<% end %>

