<h1><%= t('Editing Balances Withdraw') %></h1>

<%# render 'form' %>


<%= form_for(@balances_withdraw) do |f| %>
  <% if @balances_withdraw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@balances_withdraw.errors.count, "error") %> prohibited this balances_withdraw from being saved:</h2>

      <ul>
      <% @balances_withdraw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 

  <div class="field">
    <%= f.label :thesum ,t('the sum') %><br>
    <%=  @balances_withdraw.thesum   %>
  </div>


 
   
  <div class="field">
    <%= f.label :status,t('Status')  %><br>
    <%# f.text_field :status %>
<% if  userprivilage.withdrawapprove == true or current_userd.role_id == 1  %>
       <%= f.select :status, options_for_select( [["جديد","new"],["تم استلامه","receipt"],["جاري العمل عليه","hold"],["في الانتظار","wait"],["رفض الطلب","refused"]])  ,{}, {  :class => 'form-control' } %>
 
<% end %>
  </div>
 
<% if  userprivilage.withdrawapprove == true or current_userd.role_id == 1  %>

  <div class="field">
    <%= f.label :expect_date,t('Expect date')  %><br>
    <%= f.date_select :expect_date  ,start_year: 2016 ,end_year: 2050 , use_month_numbers: true, prompt: { day: t('Select day'), month: t('Select month'), year: t('Select year') },  :class => 'form-control' %>

  </div>
<% end %>

 
   <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>

  </div>

<% end %>

<%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, @balances_withdraw %>  
<%# link_to t('Back'), balances_withdraws_path %>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, balances_withdraws_path , { :class=>'linktop' } %>

