<script src="/egyptian_mail.js"></script>

<div id="container">






  <%# form_for @balances_withdraw,:url => url_for(:controller => 'balances_withdraws', :action => 'review_egyptian_mail') , :html => { :multipart => true } do |f| %>

  <%= form_for @balances_withdraw,:url => url_for(:controller => 'balances_withdraws', :action => 'save_egyptian_mail') , :html => { :multipart => true } do |f| %>

    <%= f.hidden_field :currencies_withdraw_ratios_id ,  :class=> 'form-control' ,:value => 6 %>

    <div class="self-label">
    <label class="filled-input">
    <%= f.number_field :thesum ,  :class => 'selfinput', :required => true %>
    <span class="placeholder-span"><%= t('the sum') %></span>
    </label>
  </div>


<div class="select-box">
  <label class="filled-input"><%=t("account type")%></label>
  <select required class="select-line" id="new_old">
    <option value=""><%= t("Please choose whether the account is already registered or not") %></option>
    <option value="1"><%=t("Pre-registered")%></option>
    <option value="2"><%= t("new account")%></option>
  </select>
</div>




 <div class="field" id="previous_user_banks" style="display: none;">
<div class="select-box">
    <%= f.label (t("User bank account")) %><br />
        <%= f.select :previous_user_bank, @userbanks.collect {|p| [ "#{p.nickname}/#{p.bank_name} / #{p.account_number}", p.id ] },{ :prompt => t('Users bank accounts')}, { :id => 'p_bank' } %>
</div>
  </div>

   <div class="field" id="new" style="display: none;">

   <div class="self-label">
    <label class="filled-input">
        <%= f.text_field :currency , :class => 'selfinput', :readonly => true ,:value=>'EGP'%>

        <span class="placeholder-span"><%= t('currency')%> </span>
    </label>
</div>
<div class="select-box">
<select class="select-line" id="egyptian_mail_type">
    <option value=""><%= t('you should choose the type of account')%></option>
    <option value="1"><%= t('transfer')%></option>
    <option value="2"><%= t('deposit')%></option>

  </select>
  </div>
<%= f.hidden_field :type ,:id => 'type', :class => 'selfinput', :readonly => true %>

    <div class="select-box" id="business_person" style="display: none;">

      <select class="select-line" id="business_person_select">
    <option value="" ><%= t('you should choose the type of account')%></option>
    <option value="1"><%= t('pepole')%></option>
    <option value="2"><%= t('companys')%></option>
<%= f.hidden_field :type2 ,:id => 'type2', :class => 'selfinput', :readonly => true %>

  </select>
      </div>

  <div class="field" id="general" style="display: none;">
<!-- 
<div class="self-label">
<label class="filled-input">
    <%= f.text_field :relation , :id => 'relation',  :class => 'selfinput'%>

    <span class="placeholder-span"><%= t('Beneficiary Name Relation')%> </span>
</label>
</div> -->

  <div class="self-label">
  <label class="filled-input">
  <%= f.text_field :nickname , :id =>'n_name' , :class=> 'selfinput'  %>

  <span class="placeholder-span"><%= t('Nick Name') %></span>
  </label>
</div>




      </div>

  <div class="field" id="personal" style="display: none;">




  <div class="self-label">
  <label class="filled-input">
  <%= f.text_field :personal_name , :id =>'p_name',  :class=> 'selfinput'  %>

  <span class="placeholder-span"><%= t('Beneficiary Name') %></span>
  </label>
  </div>
</div>


      <div class="field" id="business" style="display: none;">


                      <div class="self-label">
                        <label class="filled-input">
                        <%= f.text_field :business_name ,:id => 'b_name' ,  :class=> 'selfinput'  %>

                        <span class="placeholder-span"><%= t('Company Name') %></span>
                        </label>
                      </div>
      </div>


  <div class="field" id="nationalid" style="display: none;">


                  <div class="self-label">
                    <label class="filled-input">
                    <%= f.text_field :nationalid ,:id => 'na_id' , :class=> 'selfinput'  %>

                    <span class="placeholder-span"><%= t('National ID') %></span>
                    </label>
                  </div>



      </div>

    <div class="field" id="generalinsert" style="display: none;">

    <div class="self-label">
    <label class="filled-input">
    <%= f.text_field :brancheg , :id => 'b_eg', :class => 'selfinput'  %>
    <span class="placeholder-span"><%= t('branch') %></span>
    </label>
  </div>


  <div class="self-label">
  <label class="filled-input">
  <%= f.text_field :account_numbersw  , :class=> 'selfinput' ,:id => "account_numbersw" %>
  <span class="placeholder-span"><%= t('account number') %></span>
  </label>
</div>

      </div>


      </div>

<button type="button" id='setdata_w' class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Add') %> </button>

 <% end %>
</div>

<script>

</script>
