<p id="notice"><%= notice %></p>


<h1><%= t('Balances Withdraws') %></h1>
<% unless @balances_withdraws.blank? %>


	<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
			<th><%= t('User') %></th>
			      <th><%= t('the sum') %> </th>

		 <th> Transaction ID</th>

      <th><%= t('net sum') %></th>
       <th><%= t('withdraw sum') %></th>
      <th><%= t('Status') %></th>
      <th><%= t('Hint') %></th>

      <th><%= t('Expect date') %></th>
			<th><%= t('User bank account') %></th>

      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @balances_withdraws.each do |balances_withdraw| %>
               

      <tr>
		<td> 
		

<% @usern = Userd.find(balances_withdraw.user_id)  %>
<% if @usern != nil %>

<%=   @usern.username %>

<% end %>

</td>
        <td><%= balances_withdraw.thesum %></td>

<% @userstatus = BalancesWithdrawsStatus.find_by_balances_withdraws_id(balances_withdraw.id)%>
     <% @state=@userstatus.status %>
      <% @state=@userstatus.status %>
		  	<% if @state ==0  %>
		<%	@state=t('balancewithdraw canceled')%>	
		<%	end%>
		<% if @state ==1  %>
		<%	@state=t('balancewithdraw created')%>	
		<%	end%>

		<% if @state ==2 %>
		<%	@state=t('balancewithdraw recieved')%>	
		<%	end%>

		<% if @state ==3 %>
		<%	@state=t('balancewithdraw workon')%>	
		<%	end%>

		<% if @state ==4  %>
		<%	@state=t('balancewithdraw exception')%>	
		<%	end%>

		<% if @state ==5  %>
		<%	@state=t('balancewithdraw done')%>	
		<%	end%>
    
        <td><%= balances_withdraw.transaction_id %></td>

        <td><%= balances_withdraw.netsum %></td>
        <td><%= balances_withdraw.withdraw_sum %></td>
         <td><%= @state %></td>
        <td><%= balances_withdraw.hint %></td>
        <td><%= balances_withdraw.expect_date %></td>
        <td>

		<% if balances_withdraw.user_bank_id != nil %>
		

<% @ubank = UsersBank.where("id = ? " ,balances_withdraw.user_bank_id).first %>

<% if (@ubank) %>

<%=   @ubank.bank_name %>
	<% else %>

		<%=  "تم حذف البنك  الذي تمت عليه عملية السحب" %>
		

<% end %>

<% end %>

</td>


	<td>

	<div class="visible-md visible-lg hidden-sm hidden-xs">
		<%= link_to '<i class="fa fa-eye"></i>'.html_safe, balances_withdraw, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
		<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_balances_withdraw_path(balances_withdraw), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
		<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, balances_withdraw, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
	</div>
	<div class="visible-xs visible-sm hidden-md hidden-lg">
		<div class="btn-group dropdown ">
			<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right dropdown-light" role="menu">
				<li>
					<%= link_to 'Veiw'.html_safe, balances_withdraw %>
				</li>
				<li>
					<%= link_to 'Edit'.html_safe, edit_balances_withdraw_path(balances_withdraw) %>
					
				</li>
				<li>
					<%= link_to 'Remove'.html_safe, balances_withdraw, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
				</li>
			</ul>
		</div>
	</div>
	</td>

	</tr>

    <% end %>
  </tbody>
</table></div></div>

<br>
<div class="pagination">

<%= will_paginate @balances_withdraws,:param_name => 'wait_page', :previous_label => t("previous"), :next_label => t("next") %>
</div>
<% end %>
<br>
<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t(' طلب سحب جديد')}</button>".html_safe, balances_withdraws_methods_path , { :class=>'linktop' } %>



