<style>

    .error {
        color: red;
     }
</style>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
<script>
// just for the demos, avoids form submit
//jQuery.validator.setDefaults({
 // debug: true,
  //success: "valid"
//});

</script>
<script>
$('#home-id').addClass('active');
</script>
<!-- <script src="resources/js/jquery.js"></script> -->

<script>

$(document).ready(function() {

    $('#withdraw_note').show();


    function clear(name){


        $("#" + name +'_review').text('');
        $("#" + name +'_row').hide();

}




    function clearall (){

//general data
clear('p_name');
clear('relation');
clear('nickname');
clear('bus_name');
 //iban data
clear('countryib');
clear('account_numberib');
clear('bankib');
clear('bank_codeib');
clear('iban');
clear('bban');
//eg bank
clear('br_num');
clear('eg_bank');
clear('br_num');
clear('accnu');
clear('bra_eg');
//swift
clear('banksw');
clear('countrysw');
clear('citysw');
clear('branchsw');
clear('addresssw');
clear('account_numbersw');
clear('swiftcodesw');
//previous
clear('previous_personalname');
clear('previous_relation');
clear('previous_nickname');
clear('previous_iban');
clear('previous_bban');
clear('previous_swift');
clear('previous_bankname');
clear('previous_country');
clear('previous_city');
clear('previous_branch');
clear('previous_address');
clear('previous_account');
clear('previous_nationalid');
    }

    $("#edit_data_button").click(function() {
        clearall();
       $('#after_review').hide();
        $('#before_review').show();
    });

var isdirect = "<%= params[:isdirect] %>";
var currency = "<%= params[:currency] %>";
var bank = "<%= params[:bank] %>";

var from;
var to;
var currency;
var rate;

$("#inter_bank").click(function() {
      $( "#currencies" ).show();
      $('#currencytype').addClass('active');
      $("#inter_bank").addClass('active');

      $('#inter_bank_chk').prop('checked', true);
      $('#elec_bank_chk').prop('checked', false);

      $('#USD_chk').prop('checked', false);
      $('#EGP_chk').prop('checked', false);
      $('#SAR_chk').prop('checked', false);


      $("#elec_bank").removeClass('active');
      $("#inter_bank").removeClass('active');
      $("#destination").removeClass('active');
      $("#information").removeClass('active');

      $("#data").empty();
      $("#data").hide();


      $( "#withdraw_type_usd" ).hide();
      $( "#withdraw_type_rys" ).hide();
      $( "#withdraw_type_egp" ).hide();

      return false;
});


$("#elec_bank").click(function() {
  $( "#currencies" ).show();
  $('#currencytype').addClass('active');
  $("#elec_bank").addClass('active');
  $("#data").empty();
  $("#data").hide();

  $('#elec_bank_chk').prop('checked', true);
  $('#inter_bank_chk').prop('checked', false);

  $('#USD_chk').prop('checked', false);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', false);

  $("#inter_bank").removeClass('active');
  $("#destination").removeClass('active');
  $("#information").removeClass('active');

  $( "#withdraw_type_usd" ).hide();
  $( "#withdraw_type_rys" ).hide();
  $( "#withdraw_type_egp" ).hide();

  $( "#withdraw_type" ).hide();


  return false;
});

$("#USD").click(function() {
  $( "#withdraw_type_usd" ).show();
  $( "#withdraw_type_egp" ).hide();
  $( "#withdraw_type_rys" ).hide();

  $("#data").empty();
  $("#data").hide();

  $('#USD_chk').prop('checked', true);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', false);

  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);


  $('#destination').addClass('active');
  $("#information").removeClass('active');

  return false;
});

$("#EGP").click(function() {
  $( "#withdraw_type_egp" ).show();
  $( "#withdraw_type_usd" ).hide();
  $( "#withdraw_type_rys" ).hide();
    $('#destination').addClass('active');
  $("#information").removeClass('active');

    $("#data").empty();
    $("#data").hide();

    $('#USD_chk').prop('checked', false);
    $('#EGP_chk').prop('checked', true);
    $('#SAR_chk').prop('checked', false);

    $('#4_chk').prop('checked', false);
    $('#5_chk').prop('checked', false);
    $('#6_chk').prop('checked', false);
    $('#12_chk').prop('checked', false);
    $('#13_chk').prop('checked', false);
    $('#14_chk').prop('checked', false);
    $('#15_chk').prop('checked', false);


  return false;
});


$("#SAR").click(function() {

  $( "#withdraw_type_rys" ).show();
  $( "#withdraw_type_egp" ).hide();
  $( "#withdraw_type_usd" ).hide();

  $("#data").empty();
  $("#data").hide();

  $('#USD_chk').prop('checked', false);
  $('#EGP_chk').prop('checked', false);
  $('#SAR_chk').prop('checked', true);

  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);

$('#destination').addClass('active');
  $("#information").removeClass('active');

  return false;
});



$("#4").click(function() {


  $('#information').addClass('active');

  $('#4_chk').prop('checked', true);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);


  $( "#data" ).show();

  $( "#data" ).load( "/western_gram?id=4 #container", function() {
   jQuery('select').niceSelect();
     $.getScript("<%= format_link(request) %>/assets/js/app.js");

     $.getScript("/withdraw.js");
     direct();

   
  });
  return false;


  });

$("#5").click(function() {


  $('#information').addClass('active');

  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', true);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);

    return false;
  });

$("#12").click(function() {


  $('#information').addClass('active');

  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', true);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);

  $('#information').addClass('active');
  $( "#data" ).show();

  $( "#data" ).load( "/western_gram?id=12 #container", function() {
    jQuery('select').niceSelect();
     $.getScript("<%= format_link(request) %>/assets/js/app.js");

     $.getScript("/withdraw.js");
     direct();


  });
  return false;

  });

  function direct (){
    if (isdirect != ''){
        $('#previous_user_banks').show();
        $('#new_old').val(1);
        $('#neww_old').val(1);
       // $("#new_old").prop("readonly", true);
       // $("#neww_old").prop("readonly", true);


        $ ('#balances_withdraw_previous_user_bank').val(isdirect);
        //$("#balances_withdraw_previous_user_bank").prop("readonly", true);

 }

  }
$("#14").click(function() {


  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', true);
  $('#15_chk').prop('checked', false);
  $( "#data" ).show();

    $( "#data" ).load( "/balances_withdraws/new?country=US&id=14 #container", function() {

        jQuery('select').niceSelect();
     $.getScript("<%= format_link(request) %>/assets/js/app.js");

       $.getScript("/withdraw_inter.js");

       direct();


    });

    return false;
  });

$("#6").click(function() {


  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', true);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);

  $( "#data" ).show();

    $( "#data" ).load( "/egyptian_mail #container", function() {

        jQuery('select').niceSelect();
     $.getScript("<%= format_link(request) %>/assets/js/app.js");
       $.getScript("/egyptian_mail.js");
       direct();


    });

    return false;
  });

$("#13").click(function() {



  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', true);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', false);

  $( "#data" ).show();

    $( "#data" ).load( "/balances_withdraws/new?country=EG&id=13 #container", function() {

        jQuery('select').niceSelect();
     $.getScript("<%= format_link(request) %>/assets/js/app.js");
       $.getScript("/withdraw_inter.js");
       direct();


    });

    return false;
  });

$("#15").click(function() {


  $('#information').addClass('active');
  $('#4_chk').prop('checked', false);
  $('#5_chk').prop('checked', false);
  $('#6_chk').prop('checked', false);
  $('#12_chk').prop('checked', false);
  $('#13_chk').prop('checked', false);
  $('#14_chk').prop('checked', false);
  $('#15_chk').prop('checked', true);

  //alert("in");
  $( "#data" ).show();

    $( "#data" ).load( "/balances_withdraws/new?country=SA&id=15 #container", function() {

        jQuery('select').niceSelect();
     $.getScript("<%= format_link(request) %>/assets/js/app.js");
       $.getScript("/withdraw_inter.js");
       direct();

    });

    return false;
  });

  if (isdirect != ''){

        if (currency)
            {

                $("#inter_bank").trigger('click');
                var thecurrency = '#' + currency ;
                $(thecurrency).trigger('click');

                    if (bank)
                        {
                            var thebank = '#' + bank ;
                            $(thebank).trigger('click');
                            //$('#previous_user_banks').show();
                           // $('#new_old').trigger('change');


                        }
            }
      }
});

</script>
<% content_for :title, t('Balances Withdraws') %>
<% content_for :icon, 'home' %>

<!-- before_review -->

<div id='before_review'>

<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<%# debug(@sar_wallet.wallet_name) %>
<div class="pos-relative">
    <div class="title-line sm-f-width">
        <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
            <i class="ico icon-dollor"></i>
        </h3>
        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
         <%= t('Balances Withdraws') %>
        </h4>
    </div>
    <div class="self-tabs text-center">
        <ul class="self-tabs-list">
            <li class="active">
                <a href="#">
                    <span class="ico">
                        <i class="icon-home-icon"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Select Bank Type') %></span>
                </a>
            </li>
            <li id="currencytype">
                <a href="#">
                    <span class="ico">
                        <i class="icon-dollor"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Select Currency') %></span>
                </a>
            </li>
            <li id="destination">
            <a href="#">
                    <span class="ico">
                        <i class="icon-home"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Balance Withdraw Destination') %></span>
                </a>
            </li>
            <li id="information">
            <a href="#">
                    <span class="ico">
                        <i class="icon-user-check"></i>
                    </span>
                    <span class="selftbas-title"><%= t('Balance Withdraw Information') %></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="pad-top-lg hlf-e-btm">
    <div class="row row-sm">
        <div class="col-md-8 col-sm-12">
            <div class="row row-sm">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                        <div class="logos-list-menu">
                                <label class="logo-checkbox">
                                        <input type="checkbox" name="checkbox" id="inter_bank_chk">
                                        <span class="logo-list logo-list1"  id="inter_bank">

                                <h4>
                                    <i class="icon icon-building"></i>
                                </h4>
                                <h5>
                                   <%= t('Local and International Banks') %>
                                </h5>
                            </span>

                        </label>

                        <!-- <label class="logo-checkbox">
                                <input type="checkbox" name="checkbox" id="elec_bank_chk">
                                <span class="logo-list logo-list1"  id="elec_bank">

                                <h4>
                                    <i class="icon ic-icons-598"></i>
                                </h4>
                                <h5>

                                <%# t('Electronic Banks') %>
                                </h5>
                            </span>

                        </label> -->


                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                        <div class="logos-list-menu" style="display:none;" id="currencies">
                        <% if @dollar_wallet.is_deleted == 0 %>
                        <label class="logo-checkbox">
                                <input type="checkbox" name="checkbox" id="USD_chk">
                                <span class="logo-list logo-list2" id="USD">


                            <h4>
                                <img src="<%= format_link(request) %>/assets/imgs/world-white.png" alt="world-white" class="act-img">
                                <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="world-white" class="off-img">
                            </h4>
                            <h5>

                                <%= t('balance IN Dolar') %>
                            </h5>
                            <h6 class="sm-text"><%= @dollar_wallet.balance.to_s + " "+ t('balance IN Dolar') %></h6>
                        </span>
                    </label>

                            <% end %>
                        <% if @sar_wallet!= nil and @sar_wallet.is_deleted == 0   %>
                        <label class="logo-checkbox">
                                <input type="checkbox" name="checkbox" id="SAR_chk">
                                <span class="logo-list logo-list2" id="SAR">

                            <h4>
                                <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="world-white">
                            </h4>
                            <h5>
                                <%= t('balance IN Rys') %>
                            </h5>

                            <h6 class="sm-text"><%= @sar_wallet.balance.to_s + " "+ t('balance IN Rys') %></h6>

                        </span>
                    </label>

                    <% end %>
                        <% if @egp_wallet!= nil and @egp_wallet.is_deleted == 0   %>

                        <label class="logo-checkbox">
                                <input type="checkbox" name="checkbox" id="EGP_chk">
                                <span class="logo-list logo-list2" id="EGP">


                            <h4>
                                <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="world-white">
                            </h4>
                            <h5>
                                <%= t('balance IN Egp') %>
                            </h5>
                            <h6 class="sm-text"><%= @egp_wallet.balance.to_s + " "+ t('balance IN Egp') %></h6>
                        </span>
                                    </label>
                        <% end %>

                        </div>
                    </div>
                </div>



                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="scrollbar-inner logos-menu">
                        <div class="logos-list-menu" style="display:none;" id="withdraw_type_usd">
                        <% @balancewithdraw_usd.each do |balancewithdraw_usdd| %>

                        <label class="logo-checkbox">
                                <input type="checkbox" name="checkbox" id="<%= balancewithdraw_usdd.id %>_chk">
                                <span class="logo-list logo-list3" id="<%= balancewithdraw_usdd.id %>">

                                <figure>

                    <img src="<%= admin_attachment(request,balancewithdraw_usdd.ima,"img") %>" alt="" target="_blank">
                               
                                </figure>
                            </span>
                        </label>
                          <% end %>
                        </div>
                        <div class="logos-list-menu" style="display:none;"  id="withdraw_type_egp">
                        <% @balancewithdraw_egp.each do |balancewithdraw_egpp| %>

                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="<%= balancewithdraw_egpp.id %>_chk">
                                            <span class="logo-list logo-list3" id="<%= balancewithdraw_egpp.id %>">

                            <figure>

                           <img src="<%= admin_attachment(request,balancewithdraw_egpp.ima,"img") %>" alt="" target="_blank">

                            </figure>
                        </span>
                    </label>
                     <% end %>
                        </div>

                        <div class="logos-list-menu" style="display:none;"  id="withdraw_type_rys">
                        <% @balancewithdraw_rys.each do |balancewithdraw_ryss| %>

                                    <label class="logo-checkbox">
                                            <input type="checkbox" name="checkbox" id="<%= balancewithdraw_ryss.id %>_chk">
                                            <span class="logo-list logo-list3" id="<%= balancewithdraw_ryss.id %>">
                            <figure>
                              <img src="<%= admin_attachment(request,balancewithdraw_ryss.ima,"img") %>" alt="" target="_blank">

                            </figure>
                        </span>
                    </label>
                        <% end %>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="col-md-4 col-sm-12" style="display:none;" id="data">


        </div>
    </div>
</div>
</section>

</div>

<div id='after_review' style="display:none;">

<!-- ################################ review ########################################################## -->
<div id="sms-form" class="selfpopup" style="display:none;">
    <div class="selfpopup-bg">
    </div>
    <div class="selfpopup-content">
        <div class="selfpopup-inner">
            <div class="selfpopup-middle">
                <div class="padding-all-sm">
                    <div class="cart-balance selfpopup-caption">
                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                <h4 class="icon-img-pp mrg-bottom-sm">
                                        <img src="<%= format_link(request) %>/assets/imgs/check.png" alt="check">
                                    </h4>

                            <%= form_for :sms_verify, url: balance_with_draw_sms_check_path do |form| %>

                                <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"><%= t('Activation code has sent')%></h5>


                                <p class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                                <%= t('to complete withdraw process to your number')%>
                                <span id="tel2"><%=current_userd.tel%></span>

                                    </p>
                                <div id="resend" class="text-left" style='display: none;'>
                                        <!-- <input id='resendcode' type="button" name="button" value="اعادة ارسال الكود" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm"> -->

                                        <a href="#" id='resendcode' class="mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue"> <i class="icon ic-icons-523"></i> <%= t('Resend the code')%></a>

                                    </div>

                            <div id="timer" style="color:#000;" style="display: none;"></div>

                                      <div class="self-label">
                                        <label>

                                            <span id='wrong-messege' style="color:red;font-weight:bold ;display:none"><%= t('Error in code')%></span>

                                            <span id='true-messege' style="color:green;font-weight:bold ;display:none"><%= t('Correct Code')%></span>


                                            <%= form.text_field :code, :class => 'selfinput',:id => 'code'  %>


                                            <span class="placeholder-span"><%= t('The code')%></span>
                                        </label>
                                    </div>

                                    <div class="text-left">
                                            <input type="button" id='verifycode' name="button" value='<%=t("Activate")%>' class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm">
                                        </div>
                            <% end %>
                        </div>
                        <div class="crcl-animation">
                            <span class="lg-crcl"></span>
                            <span class="md-crcl"></span>
                            <span class="sm-crcl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
<img src="<%= format_link(request) %>/assets/imgs/trans-confirm.png" alt="trans-confirm">
</h3>
<div class="clearfix">
<div class="pull-right sm-f-width box-shadow-left">
    <div class="page-title l-height-md mrg-bottom-md">
        <div class="row row-default button-row">
            <div class="col-xs-12">
                <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                <%= t('Balancw Withdraw Confirmation') %>


                </h4>
            </div>
        </div>
    </div>
    <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
        <span class="ico lg-md-fontsize text-yellow">!</span>
        <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Review Your Information Now') %> !</h5>
        <p class="sm-md-fontsize text-dgray"><%=t('Review Your Information Now') %></p>
        <span class="alert-close icon-Plus-white"></span>
    </div>
    <div class="scrollbar-inner height-300 mrg-top-lg hlf-e-btm">
        <div class="selfscroll-section">
            <table class="table sm-md-fontsize">

           <%#  if params[:balances_withdraw][:previous_user_bank] == '' %>

                        <tr id='p_name_row' style="display:none;">
                        <td  class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name') %>:</td>
                                <td id='p_name_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:personal_name] %> </td>
                    </tr>

                    <tr id='relation_row' style="display:none;">
                        <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name Relation') %>:</td>
                                <td id='relation_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:relation] %> </td>
                    </tr>
                    <tr id='nickname_row' style="display:none;">
                    <td class="font-bold text-blue pad-left-xs"> <%=t('Nick Name') %>:</td>
                    <td  id='nickname_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:nickname] %> </td>
                </tr>

                <tr id='bus_name_row' style="display:none;">
                    <td class="font-bold text-blue pad-left-xs"> <%= t('Company Banks') %>:</td>
                            <td class="font-weight-normal text-dgray" id='bus_name_review'><%# params[:users_bank][:business_name] %></td>
                        </tr>


                        <tr id= 'nationalid_row' style="display:none;">
                            <td class="font-bold text-blue pad-left-xs"> <%= t('nationalid') %>:</td>
                            <td id= 'nationalid_review' class="font-weight-normal text-dgray"><%# @previous.account_number %> </td>
            </tr>

                <%# end %>




                <!-- #####################start previous banks ########################### -->

                <%#  if params[:balances_withdraw][:previous_user_bank] != '' %>
                       <%# @previous = UsersBank.where(id: params[:balances_withdraw][:previous_user_bank]).first %>
                        <tr id='previous_personalname_row' style="display:none;">
                        <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name') %>:</td>
                                <td id='previous_personalname_review'  class="font-weight-normal text-dgray"><%# @previous.personal_name %> </td>
                    </tr>

                        <tr id='previous_relation_row'  style="display:none;">
                                <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name Relation') %>:</td>
                                <td id='previous_relation_review'  class="font-weight-normal text-dgray"><%# @previous.relation %> </td>
                    </tr>
                    <tr id='previous_nickname_row'  style="display:none;">
                    <td class="font-bold text-blue pad-left-xs"> <%= t('Nick Name') %>:</td>
                    <td id='previous_nickname_review'  class="font-weight-normal text-dgray"><%# @previous.nickname %> </td>
                </tr>
                                    <%# if @previous.iban.present?  %>

                                            <tr id= 'previous_iban_row' style="display:none;">
                                                        <td class="font-bold text-blue pad-left-xs"> <%= t('iban') %>:</td>
                                                        <td id= 'previous_iban_review' class="font-weight-normal text-dgray"><%# @previous.iban %> </td>
                                            </tr>
                                            <tr id= 'previous_bban_row' style="display:none;">
                                                    <td class="font-bold text-blue pad-left-xs"> <%= t('bban') %>:</td>
                                                    <td id= 'previous_bban_review' class="font-weight-normal text-dgray"><%# @previous.bban %> </td>
                                            </tr>



                                    <%# end %>

                                    <%# if @previous.swiftcode.present?  %>

                                            <tr id= 'previous_swift_row' style="display:none;">
                                          <td class="font-bold text-blue pad-left-xs"> <%= t('Swift Code') %>:</td>
                                          <td id= 'previous_swift_review' class="font-weight-normal text-dgray"><%# @previous.swiftcode %> </td>
                                            </tr>

                                    <%# end %>


                                            <tr id= 'previous_bankname_row' style="display:none;">
                                            <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                                            <td id= 'previous_bankname_review' class="font-weight-normal text-dgray"><%# @previous.bank_name %> </td>
                                        </tr>

                                        <tr id= 'previous_country_row' style="display:none;">
                                        <td class="font-bold text-blue pad-left-xs"> <%= t('country') %>:</td>
                                        <td  id= 'previous_country_review' class="font-weight-normal text-dgray"><%# @previous.country %> </td>
                                    </tr>
                                    <tr id= 'previous_city_row' style="display:none;">
                                    <td class="font-bold text-blue pad-left-xs"> <%= t('city') %>:</td>
                                    <td id= 'previous_city_review' class="font-weight-normal text-dgray"><%# @previous.city %> </td>
                                        </tr>
                                        <tr id= 'previous_branch_row' style="display:none;">
                                        <td class="font-bold text-blue pad-left-xs"> <%= t('branch') %>:</td>
                                        <td  id= 'previous_branch_review' class="font-weight-normal text-dgray"><%# @previous.branch %> </td>
                                    </tr>

                                    <tr id= 'previous_address_row' style="display:none;">
                                    <td class="font-bold text-blue pad-left-xs"> <%= t('address') %>:</td>
                                    <td id= 'previous_address_review' class="font-weight-normal text-dgray"><%# @previous.address %> </td>
                                </tr>


                                    <tr id= 'previous_account_row' style="display:none;">
                                                    <td class="font-bold text-blue pad-left-xs"> <%= t('account number') %>:</td>
                                                    <td id= 'previous_account_review' class="font-weight-normal text-dgray"><%# @previous.account_number %> </td>
                                    </tr>

                                    <tr id= 'previous_nationalid_row' style="display:none;">
                                        <td class="font-bold text-blue pad-left-xs"> <%= t('nationalid') %>:</td>
                                        <td id= 'previous_nationalid_review' class="font-weight-normal text-dgray"><%# @previous.account_number %> </td>
                        </tr>


                <%# end %>




                <!-- #####################end previous banks ########################### -->


                <%#  if params[:balances_withdraw][:previous_user_bank] == '' %>

            <%# if params[:balances_withdraw][:iban].present?  %>


                        <tr id='bankib_row' style="display:none;">
                                <td  class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                                <td id='bankib_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:bankib] %> </td>
                    </tr>

                    <tr id='countryib_row' style="display:none;">
                        <td class="font-bold text-blue pad-left-xs"> <%= t('country') %>:</td>
                            <td id='countryib_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:countryib] %> </td>
                        </tr>


                        <tr id='account_numberib_row' style="display:none;">
                            <td class="font-bold text-blue pad-left-xs"> <%= t('account number') %>:</td>
                                        <td id='account_numberib_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:account_numberib] %> </td>
                        </tr>

                        <tr id='iban_row' style="display:none;">
                            <td class="font-bold text-blue pad-left-xs"> <%= t('iban') %>:</td>
                                    <td id='iban_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:iban] %> </td>
                        </tr>
                        <tr id='bban_row' style="display:none;">
                            <td class="font-bold text-blue pad-left-xs"> <%= t('bban') %>:</td>
                                <td id='bban_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:bban] %> </td>
                        </tr>



                <%# end %>
                <%# if (params[:balances_withdraw][:country]== 'EG' &&  params[:balances_withdraw][:swiftcode] == '' )   %>

                <tr id='eg_bank_row' style="display:none;" >
                    <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                        <td id='eg_bank_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:bankegname] %> </td>
                    </tr>

                    <tr id='bran_num_row' style="display:none;" >
                        <td class="font-bold text-blue pad-left-xs"> <%=t('branch') %>:</td>
                    <td id='bran_num_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:brancheg] %> </td>
                 </tr>

                 <tr id='branch_n_row' style="display:none;" >
                    <td class="font-bold text-blue pad-left-xs"> <%= t('branch number') %>:</td>
                 <td id='branch_n_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:branchnumber] %> </td>
              </tr>

              <tr id='acc_num_row' style="display:none;">
                <td class="font-bold text-blue pad-left-xs"> <%= t('account number') %>:</td>
              <td id='acc_num_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:accountnumbereg] %> </td>
           </tr>

           <tr id='per_name_row' style="display:none;">
            <td  class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name') %>:</td>
                    <td id='per_name_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:personal_name] %> </td>
        </tr>

        <tr id='gen_rel_row' style="display:none;">
            <td class="font-bold text-blue pad-left-xs"> <%= t('Beneficiary Name Relation') %>:</td>
                    <td id='gen_rel_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:relation] %> </td>
        </tr>
        <tr id='gen_nic_row' style="display:none;">
        <td class="font-bold text-blue pad-left-xs"> <%=t('Nick Name') %>:</td>
        <td  id='gen_nic_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:nickname] %> </td>
    </tr>


                <%# end %>



                <%# if params[:balances_withdraw][:swiftcode].present?  %>


                <tr id='banksw_row'  style="display:none;" >
                    <td class="font-bold text-blue pad-left-xs"> <%= t('bank name') %>:</td>
                        <td id='banksw_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:banksw] %> </td>
                    </tr>

                    <tr id='countrysw_row'   style="display:none;">
                        <td class="font-bold text-blue pad-left-xs"> <%= t('country') %>:</td>
                    <td id='countrysw_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:countrysw] %> </td>
                </tr>
                <tr  id='citysw_row' style="display:none;">
                <td class="font-bold text-blue pad-left-xs"> <%= t('city') %>:</td>
                <td  id='citysw_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:citysw] %> </td>
                    </tr>
                    <tr id='branchsw_row'  style="display:none;" >
                        <td class="font-bold text-blue pad-left-xs"> <%= t('branch') %>:</td>
                    <td  id='branchsw_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:branchsw] %> </td>
                </tr>

                <tr id='addresssw_row'  style="display:none;" >
                    <td class="font-bold text-blue pad-left-xs"> <%= t('address') %>:</td>
                <td  id='addresssw_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:addresssw] %> </td>
            </tr>




            <tr id='account_numbersw_row'  style="display:none;" >
                <td class="font-bold text-blue pad-left-xs"> <%= t('account number') %>:</td>
                  <td id='account_numbersw_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:account_numbersw] %> </td>
                </tr>

                <tr id='swiftcode_row'  style="display:none;" >
                    <td class="font-bold text-blue pad-left-xs"> <%= t('Swift Code') %>:</td>
                  <td id='swiftcode_review' class="font-weight-normal text-dgray"><%# params[:balances_withdraw][:swiftcode] %> </td>
                </tr>

                 <tr>
                    <td class="font-bold text-blue  pad-left-xs"></td>
                    <td class="font-weight-normal text-dgray"></td>
                 </tr>

                <tr>
                        <td class="font-bold text-blue  pad-left-xs"></td>
                        <td class="font-weight-normal text-dgray"></td>
                    </tr>







                <%# end %>
                <%# end %>


            </table>

        </div>
    </div>
</div>
<div class="pull-right box-shadow-right sm-f-width">
    <div class="iblock mrg-left-lg mrg-bottom-md">
        <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Withdraw sum') %> </h5>
        <p id='balances_withdraw_thesum_review' class="md-sm-fontsize text-black english-font font-bold"><%# params[:balances_withdraw][:thesum] %> </p>
        <%# if params[:balances_withdraw][:country] == "SA" %>
        <p id='' style="display:none;" class="rys_row sm-md-fontsize text-dgray"><%= t('balance IN Rys')%></p>
        <%# end %>

        <%# if params[:balances_withdraw][:country] == "EG" %>
        <p id='' style="display:none;" class="egp_row sm-md-fontsize text-dgray"><%= t('balance IN Egp')%></p>
        <%# end %>

        <%#  if params[:balances_withdraw][:country] == "US" %>
        <p id='' style="display:none;" class="usd_row sm-md-fontsize text-dgray"><%= t('balance IN Dolar')%></p>
        <%# end %>

    </div>
    <div class="iblock mrg-bottom-md">






        <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Administrative expenses') %></h5>


        <p  id='expenses_value_review' class="md-sm-fontsize text-black english-font font-bold"><%# @expenses %></p>


        <%# if params[:balances_withdraw][:country] == "SA" %>

        <p id='' style="display:none;" class="rys_row sm-md-fontsize text-dgray"><%= t('balance IN Rys')%></p>
        <%# end %>

        <%# if params[:balances_withdraw][:country] == "EG" %>

        <p id='' style="display:none;" class="egp_row sm-md-fontsize text-dgray"><%= t('balance IN Egp')%></p>
        <%# end %>

        <%# if params[:balances_withdraw][:country] == "US" %>

        <p id='' style="display:none;" class="usd_row sm-md-fontsize text-dgray"><%= t('balance IN Dolar')%></p>
        <%# end %>

    </div>


    <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('net sum') %></p>

    <h1 id='netsum_review'  class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
        <%# params[:balances_withdraw][:thesum].to_f - @expenses %>
        </h1>


    <%# if params[:balances_withdraw][:country] == "SA" %>

    <p id='' style="display:none;" class="rys_row sm-md-fontsize text-dgray"><%= t('balance IN Rys')%></p>
    <%# end %>

    <%# if params[:balances_withdraw][:country] == "EG" %>

    <p id='' style="display:none;" class="egp_row sm-md-fontsize text-dgray"><%= t('balance IN Egp')%></p>
    <%# end %>

    <%# if params[:balances_withdraw][:country] == "US" %>
    <p id='' style="display:none;" class="usd_row sm-md-fontsize text-dgray"><%= t('balance IN Dolar')%></p>
    <%# end %>

    <button type="button" id='submitbutton2' class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" style="display:none;">  </button>

    <div class="mrg-top-md">
        <button type="button" id='submitbutton' class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" style="float: left !important; margin-left: 50px;"> <i class="ico icon-white-logo"></i> <%= t('Confirm Balance Withdraw') %>  </button>

   <button type="button" id='edit_data_button' class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding" style=" background: #fff; padding-bottom:5px; "> <%= t('edit info') %>  </button>
      <%# end %>
    </div>
</div>
</div>
</section>

</div>



<script>
          $(document).ready(function () {
            $('#submitbutton').click(function(){

                submit_i = submit_i +1 ;
                
                if (submit_i == 1){
                  $('#new_balances_withdraw').submit();
                }

               // $('#sms-form').show();
                //$('#send').hide();

                          // var intlNumber = $("#tel2").val();

                         //   $("#phonenumber").val(intlNumber);



                             $.ajax({ type:'get',url:'/send2fasms',data:{phone:intlNumber},contentType: "application/json",dataType: "json", success: function(data){
                               //  console.log(data.response);
                                 $('#verify_form').show();}});


                //$('#timer').show();
               // var timer = 120;

            //var interval = setInterval(function() {
           // timer--;
           // $('#timer').text('<%# t("Resend code link will appear after") %>'+ ' '+ timer+'<%# t("second") %> ');
          //  if (timer === 0) {
           // clearInterval(interval);
          //  $('#resend').show();
          //  $('#timer').hide()}
           // }, 1000);


            });


            $('#resendcode').click(function(){


                             $.ajax({ type:'get',url:'/resendsms',contentType: "application/json",dataType: "json", success: function(data){
                                 //console.log(data.response);
                                 //$('#verify_form').show();
                                }});

                  return false ;
            });

            var submit_i = 0;



            $('#verifycode').click(function(){


                var code = $("#code").val();

                   // alert (code);



                 $.ajax({ type:'get',url:'/verifysms',
                 data:{code:code},
                 contentType: "application/json",
                 dataType: "json",
                 success: function(data){

                    // console.log(data.response['verified']);


                     if (data.response['verified'] == true){
                        // alert('true');

                       // submit_i = submit_i +1 ;

                        $('#wrong-messege').hide();
                        $('#true-messege').hide();
                       //  alert(submit_i);
                        // $("#submitbutton2").prop("type", "submit");

                        // $( "#submitbutton2" ).trigger( "click" );


                      //  jQuery(function() {
                          //  $("#new_balances_withdraw").submit(function() {
                               // alert('true');

                                  // submit more than once return false
                                //  $(this).submit(function() {
                                  //    alert('false');
                                  //    return false;
                               //   });
                                  // submit once return true
                                 // return true;
                            //  });
                         // });

                          /* or */

                         // jQuery('#new_balances_withdraw').submit(function(){
                         // $(this).find(':submit').attr( 'disabled','disabled' );
                        //  });

                       // $('#new_balances_withdraw').unbind('submit');
                      //  $('#new_balances_withdraw')[0].submit(); // call native submit
                     // $('#verifycode').attr( 'disabled','disabled' );

                    // if (submit_i == 1){
                     //   $('#new_balances_withdraw').submit();


                   //  }


                         //$('#new_balances_withdraw').unbind('submit').submit();

                           // return false;

                     }

                     if (data.response['verified'] == false){
                        //alert('Wrong Code');


                        $('#wrong-messege').show();



                    }
                     }
                     });

              })


        });


    </script>

    <!-- ######################################end review ############################## -->
