



<%= debug (@oldbalance) %>

<%= debug (@newbalance) %>


<%= debug (@balances_withdraw.thesum) %>

<%= debug(@expenses) %>

<%= debug (@balances_withdraw.netsum) %>


<%= debug(@wallet.id) %>

<%= debug(@balances_withdraw.wallet_id) %>







