<% @create_date = Date.parse(@balances_withdraw.created_at.strftime("%_m/%d"))%>
<% @cancel_date =  Date.parse(@balances_withdraw.updated_at.strftime("%_m/%d"))%>
<% (@cancel_date - @create_date).to_i %>
<% content_for :title, t('Balances Withdraws') %>
<% content_for :icon, 'dollor' %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
		<div class="pos-relative">
			<div class="title-line sm-f-width">
				<h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
					<i class="ico icon-dollor"></i>
				</h3>
				<h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
					<%= t('Balances Withdraws') %>
				</h4>
			</div>
			<div class="self-tabs text-center">
					<ul class="self-tabs-list">
							<li class="active">
								<a href="#">
									<span class="ico">
										<i class="icon-home-icon"></i>
									</span>
									<span class="selftbas-title"><%= t('was created') %></span>
								</a>

							</li> 
							<% if @balances_withdraw.status == "created" %>
							<li>
							<% else %>
								<li class="active">
							<% end %>
								<a href="#">
									<span class="ico">
										<i class="icon-dollor"></i>
									</span>
									<span class="selftbas-title"><%= t('was delivered') %></span>
								</a>
							</li>
							<% if @balances_withdraw.status != "created" and @balances_withdraw.status != "recieved" %>
							<li class="active">
							<% else %>
								<li>
							<% end %>
							
							<a href="#">
									<span class="ico">
										<i class="icon-user-check"></i>
									</span>
									<span class="selftbas-title"><%= t('working on') %></span>
								</a>
							</li>
							 
							<% if @balances_withdraw.status == "exception" or @balances_withdraw.status == "refunded" or @balances_withdraw.status == "canceled" or @balances_withdraw.status == "rejected" or @balances_withdraw.status == "completed"  %>
							<li class="active">
								<a href="#">
								<% if @balances_withdraw.status == "completed" %>
									  <span class="ico">
									  <i class="icon-home-icon"></i>
									</span>
									<span class="selftbas-title" ><%= t(@balances_withdraw.status) %></span>
								<% else %>
									  <span class="ico" style="background: #c50e0e;">
									  <i class="icon-home-icon"></i>
									</span>
									<span class="selftbas-title" style="color:#c50e0e"><%= t(@balances_withdraw.status) %></span>
								<% end %>
										
								</a>
							</li>
							<% end %> 
						</ul>
			</div>
		</div>
		<% if  @balances_withdraw.id !=  0  %>
		
		<% @laststatus = BalancesWithdrawsStatus.where(:balances_withdraws_id => @balances_withdraw.id,:status => 'exception').order("created_at").last%>
		<% @usersbank = WithdrawsBank.where("withdraw_id =? ",@balances_withdraw.id).first%>
				
						   <% end %>

		<div class="self-table-row">
			<div class="iblock mrg-left-lg">
				<table class="table">
					<tr>
						<td><%= t('the sum')%></td>
						<td><%= @balances_withdraw.thesum %></td>
					</tr>


					<% if @balances_withdraw.status == "refunded" %>
					<% @with_trans = Transaction.where("foreign_id =? and controller =? ",@balances_withdraw.id,"balances_withdraws/refunded" ).first %>
					<tr>
							<td><%= t('refunded value')%></td>
							<td><%= @with_trans.value_from -  @with_trans.beforecharge %><%= " " + @with_trans.w_from_name.to_s %></td>
					</tr>
					<tr>
							<td><%= t('Administrative expenses')%></td>
							<td><%= @with_trans.beforecharge.to_s + " " + @with_trans.w_from_name.to_s %></td>
					</tr>
					<% else %>
					<tr>
							<td><%= t('net sum')%></td>
							<td><%= @balances_withdraw.netsum %></td>
					</tr>
					<% end %>

					<tr>
							<td><%= t('bank name')%></td>
							<td><%= @usersbank.nickname %> - <%= @usersbank.bank_name %> </td>
					</tr>
					
					<% unless (@balances_withdraw.status == 'canceled') or (@balances_withdraw.status ==  'completed') or (@balances_withdraw.status == 'rejected') or (@balances_withdraw.status == 'refunded')  %>
					
					<tr>
							<td><%= t('expected withdraw completion')%></td>
							<td><%= @balances_withdraw.expect_date %>  </td>
					</tr>
					<% end %>

					
				
					
				</table>
			</div>
			<div class="iblock">
				<table class="table">
						<tr>
								<td><%= t('Created At')%></td>
								<td><%= @balances_withdraw.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
						</tr>
					<tr>
							<td><%= t('user name')%></td>
							<td><span class="english-font"><%= current_userd.email %></span></td>
					</tr>
					<tr>



							<td><%= t('balance withdraw status')%></td>

							<td><%=  t('balancewithdraw'+' '+@balances_withdraw.status)  %>	</td>				

					
				</tr>
				</table>


				<%= form_for  url_for(:controller => 'balances_withdraws', :action => 'update_hint'), :method => 'post' do|f| %>
				
				 <% if @balances_withdraw.status == 'exception'  %>
				 
				 <% if @laststatus != nil && @laststatus.user_hint == nil %>
				 <% @id = @balances_withdraw.id %>
				 <div class="field">
				 <%= f.label :user_hint, t('add comment')  %>
				 <%= f.text_field  :user_hint , { :class => 'selfinput', :name=> "user_hint"} %>
				 <%= f.hidden_field :balances_withdraws_id, :value => @id, :name=> "balances_withdraws_id" %>
                </div>
				 <br>
				 <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
				 <% end %>

				<% end %>
				

				<% if   @balances_withdraw.status == 'created'  %>
				<div id="stop_submit">
				<%= link_to t('الغاء الطلب'), :controller => :balances_withdraws,:action=>:canceloperation,:id => @balances_withdraw.id %> 
				</div> 
				 <% end %>
				 <% end %>

			</div>
		</div>

		<div class="row row-sm">


									<!--  بداية الملفات المرفقة سابقا -->

			<div class="col-md-5 col-sm-12 col-xs-12">
				<h4 class="md-md-fontsize text-dbrand font-weight-normal l-height-md"><%= t('Previous Attachments') %></h4>
				<div class="content demo-x up-div">
		
					 
					<% if @balanceopd != nil %>

					<div class="up-singl-row">	

					<% @balanceopd.each do |balance_status| %>


					
					<% if balance_status.attachments != nil %>

					
				<div class="up-singl-img">


   				<a href="<%= get_attachment(request,balance_status.attachments,"link") %>" target="_blank">


                 <img src="<%= get_attachment(request,balance_status.attachments,"img") %>" width="250" height="250" alt="" target="_blank" >

                </a>

				
				
				</div>
				<% end %>


				

				<% end %>
			</div>

				<% end %>



				</div>

			</div>
									<!-- الملفات المرفقة سابقا نهاية-->




				<!-- تحديثات الطلب  -->
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="md-lg-fontsize text-dbrand mrg-bottom-lg hlf-e-btm line-throughd-div">
					<span><%= t('Order Updates') %></span>
				</div>
				<div class="content demo-y listing-scroll btm-bg-grd max-before">


					<% @balanceopd.each do |balance_status| %>
                         <% if balance_status.status == 'exception' and balance_status.user_hint != nil %>
                           <div class="listing-div hover-b-boxshadow">
						     <h4 class="icon-section">
                                 <img src="<%= format_link(request) %>/assets/imgs/request_updates.png" alt="user-notification" class="crlc-img">
                             </h4>
						
						<h5 class="list-title text-blue font-bold sm-md-fontsize mrg-bottom-xs">
						
							<%=  t('Customer Replay')  %>					

							<br>
							<%= balance_status.user_hint %>
						</h5>
						<p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
							<i class="ico icon-calendar mrg-left-xs iblock"></i> <%= balance_status.updated_at %>
						</p>
						
					</div>
					<% end %>

					<div class="listing-div hover-b-boxshadow">
						<h4 class="icon-section">
                           <img src="<%= format_link(request) %>/assets/imgs/request_updates.png" alt="user-notification" class="crlc-img">
                         </h4>
						<h5 class="list-title text-blue font-bold sm-md-fontsize mrg-bottom-xs">
							
							<%=  t('balancewithdraw'+' '+balance_status.status)  %>					

							<br>
							<%= balance_status.hint %>
						</h5>
						<p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
							<i class="ico icon-calendar mrg-left-xs iblock"></i> <%= balance_status.updated_at %>
						</p>
						
					</div>



					
					<% end %>

				</div>
			</div>
			<!-- تحديثات الطلب  -->
		</div>
	</section>

	<script>
		$( "#stop_submit" ).click(function() {
			$( "#stop_submit" ).hide();
		})

	</script>