


<script src="/withdraw.js"></script>



<div class="field" id="container">

  <%= form_for @balances_withdraw,:url => url_for(:controller => 'balances_withdraws', :action => 'save_western_gram') , :html => { :multipart => true } do |f| %>

         <%= f.hidden_field :currencies_withdraw_ratios_id ,  :class=> 'form-control' ,:value => @currencies_withdraw_ratios_id %>

<div class="self-label">
    <label class="filled-input">
    <%= f.number_field  :thesum ,  :class => 'selfinput', :required => true %>
    <span class="placeholder-span"><%= t('the sum') %></span>
    </label>
</div>


 <div class="select-box">
<label class="filled-input"><%=t("account type")%></label>
<select required class="select-line"  id="neww_old" name='neww_old'>
    <option value=""><%= t("Please choose whether the account is already registered or not") %></option>
    <option value="1"><%=t("Pre-registered")%></option>
    <option value="2"><%= t("new account")%></option>
</select>

</div>


    <div class="field" id="previous_user_banks" style="display: none;">

    <div class="select-box">
    
    <%= f.label (t("User bank account")) %><br />
        <%= f.select :previous_user_bank, @userbanks.collect {|p| [ "#{p.nickname}/#{p.bank_name} / #{p.account_number}", p.id ] },{ :prompt => t('Select a bank')}, {  :id => 'old_bank' ,:class => 'select-line' } %>
        </div>
        
  </div>

 <div class="field" id="new" style="display: none;">

<div class="self-label">
    <label class="filled-input">
        <%= f.text_field :currency , :class => 'selfinput', :readonly => true ,:value=>'USD'%>
        
        <span class="placeholder-span"><%= t('currency')%> </span>
    </label>
</div>


<div class="self-label">
<label class="filled-input">
    <%= f.text_field :personal_name , :id => 'p_name' , :class => 'selfinput'%>
    
    <span class="placeholder-span"><%= t('Beneficiary Name')%> </span>
</label>
</div>

<div class="self-label">
<label class="filled-input">
    <%= f.text_field :relation , :id => 'relation',  :class => 'selfinput'%>
    
    <span class="placeholder-span"><%= t('Beneficiary Name Relation')%> </span>
</label>
</div>

<div class="self-label">
<label class="filled-input">
    <%= f.text_field :nickname , :id => 'nickname',  :class => 'selfinput'%>
    
    <span class="placeholder-span"><%= t('Nick Name')%> </span>
</label>
</div>


<div class="select-box">
<span class="placeholder-span"><%= t('country')%> </span>


<%= country_select("users_country", "country", { priority_countries: ["EG", "SA"]}, {class: "select-line" ,id:"theselect" }) %> 

    </div>
    <%= f.hidden_field :selectedcountry ,  :class=> 'form-control', :id=> 'selectedcountry'  %>
    


<div class="self-label">
<label class="filled-input">
<%= f.date_field :birth_date , :id => 'b_date',  :class=> 'selfinput'  %>

    <span class="placeholder-span"><%= t('Birth Date')%> </span>
</label>
</div>
      
  </div>


<button type="button" id='setdata_w' class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Add') %> </button>


 <% end %>

 </div>

 <script>
      $('#balances_withdraw_thesum').change(function(){
        var val=parseFloat($('#balances_withdraw_thesum').val());   
        var currency = "USD" ;
        $("#setdata_w").attr('disabled', true);
        if(val != 0 )
            {
              $.ajax({
                type:'get',
                url:'/check_limit',
                data:{value:val , currency:currency},
                contentType: "application/json",dataType: "json",
                cache:false,
                success: function(data)
                {
                             console.log(data);

                             if (data.response != ''){
                             $('#balances_withdraw_thesum').val('');
                             $('#failure-messege').text(data.response);
                             $('#failure-popup').show();
                             }
                             else
                             {
                              $("#setdata_w").attr('disabled', false);
                             }                        
                        }
                        
                        });                         
                        } 
                        });

 </script>


 

