<div class="row row-sm">
	<div class="col-md-7 padding-hor-md hlf-btm mrg-bottom-sm col-sm-12">
		<section class="section mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-sm s-boxshadow radius-light">
			<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
				<i class="icon-wallet"></i>
			</h3>
			<div class="page-title l-height-md mrg-bottom-md">
				<h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
					<%= t('Account Balance') %>
				</h4>
				<% if @dollar_wallet.is_deleted == 0 %>
				
				<a href="#" id="USD" class="btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding">
				<%= t('Dollar Wallet') %>
							</a>
				<% end %>
				<% if @sar_wallet != nil and  @sar_wallet.is_deleted == 0 %>
				
				
				<a href="#"  id="SAR" class="btn radius-md border-black hover-bg-brand bg-black mrg-left-xs text-white text-hover-white sm-padding">
				<%= t('Riyal Wallet') %>
							</a>
							<% end %>
							<% if @egp_wallet != nil and @egp_wallet.is_deleted == 0 %>
							
							
							<a href="#" id="EGP" class="btn radius-md border-black hover-bg-brand bg-black mrg-left-xs text-white text-hover-white sm-padding">
							<%= t('Pound Wallet') %>
										</a>
										<% end %>
							
				<a href="#" class="dotted-plus"></a>
			</div>
			<div class="lng-portion clearfix mrg-bottom-lg hlf-e-btm">
				<div class="lng-side pull-right mrg-left-md">
					<h6 class="sm-sm-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('Show Operation') %> </h6>
					<ul class="sm-sm-fontsize english-font font-bold">
						<li><a href="#" id="toUSD">USD</a>
						
						</li>
						<li><a href="#" id="toSAR">SAR</a> 
						
						
						</li>
						<li><a href="#" id="toEGP">EGP</a>
						
						</li>
					</ul>
				</div>
				<h1 id="walletvalue" class="pull-right xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
				<%= @dollar_wallet.balance.to_s  %>
				</h1>
			</div>
			<div class="btn-group-section mrg-bottom-md">
				<a href="/walletstransfer" class="btn md-padding radius-md iconic text-blue text-hover-white hover-bg-brand bg-white border-blue">
					<i class="ico icon-arrowup"></i> <%= t('Transfer To Another Wallet') %>
				</a>
			</div>
			<div class="bdr-md-top pad-bottom-xs bdr-solid border-color-gray pad-top-md hlf-e-btm">
				<div class="row row-default button-row">
					<div class="col-xs-4">
						<h4 class="l-height-md sm-lg-fontsize text-blue font-bold">
						<%= t('Last Operations') %>
						</h4>
					</div>
					<div class="col-xs-8">
						<div class="text-left">
							<a href="/buycart" class="btn mrg-left-sm md-padding radius-md iconic border-blue hover-bg-brand text-hover-white text-blue"><i class="ico icon-dollor-icon"></i> <%= t('Charge Account') %></a>
							<a href="#" class="btn text-hover-white text-white bg-black border-black md-padding radius-md hover-bg-brand iconic drak bgbtn"><i class="ico icon-white-logo"></i><%= t('Pay') %> </a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="row row-sm">
			<div class="col-sm-6 col-xs-12">
				<section class="section home-bottom-detail bg-white pad-top-md pad-bottom-md hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
					<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
						<i class="icon-Support"></i>
					</h3>
					<div class="page-title l-height-md">
						<h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
						<%= t('ticket support') %>
						</h4>
					</div>
					<div class="row">
						<div class="col-md-8">
							<h5 class="font-weight-normal english-font text-black md-sm-fontsize l-height-1">34</h5>
							<h6 class="font-weight-normal text-blue sm-md-fontsize"> <%= t('Ticket') %></h6>
						</div>
						<div class="col-md-4">
							<div class="text-left">
								<a href="#" class="self-icon-crcl text-hover-white mrg-left-xs bg-dgray hover-bg-brand text-white sm-lg-fontsize">0</a> 
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="col-sm-6 col-xs-12">
				<section class="section home-bottom-detail bg-white pad-top-md pad-bottom-md hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
					<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
						<i class="icon ic-icons-88"></i>
					</h3>
					<div class="page-title l-height-md">
						<h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
						<%= t('Bank Accounts') %>
						</h4>
					</div>
					<div class="row">
						<div class="col-md-8">
							<h5 class="font-weight-normal english-font text-black md-sm-fontsize l-height-1">3</h5>
							<h6 class="font-weight-normal text-blue sm-md-fontsize"><%= t('Charge Account') %></h6>
						</div>
						<div class="col-md-4">
							<div class="text-left">
								<a href="#" class="self-icon-crcl text-hover-white icon-Plus-white mrg-left-xs bg-blue hover-bg-brand text-white sm-lg-fontsize"></a> 
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="col-md-5 padding-hor-md hlf-btm col-sm-12">
		<section class="padding-hor-lg bg-white pad-top-md pad-bottom-md hlf-btm hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
			<div class="padding-hor-lg hlf-btm mrg-bottom-md">
				<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
				  <i class="icon-History"></i>
				</h3>
				<div class="page-title l-height-md">
					<div class="row row-default">
						<div class="col-xs-6">
							<h4 class="md-lg-fontsize text-dbrand font-weight-normal">
							<%= t('Last Operations') %>
							</h4>
						</div>
						<div class="col-xs-6">
							<div class="text-left">
								<a href="" class="btn md-padding radius-md iconic text-blue text-hover-white border-blue bg-white hover-bg-brand">
								<i class="icon-Support"></i>  <%= t('customer service') %>
									
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="listing-section">
				<div class="row row-sm">
					
					
					
					
					
					
					
				</div>
			</div>
		</section>
	</div>
	</div>




	<div id="display-qr" class="selfpopup">
		<div class="selfpopup-bg">
		</div>
		<div class="selfpopup-content">
			<div class="selfpopup-inner">
				<div class="selfpopup-middle">
					<div class="padding-all-sm">
						<div class="cart-balance selfpopup-caption">
							<span class="close-popup"><i class="icon-Plus-white"></i></span>
							<div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter cart-info qr-model">
								<div class="row row-sm">
									<% @fail_signin = Watchdog.where("user_id =? and action_page =?" ,current_userd.id, ' Sign in ').order("created_at").last%>
   									<%  @test_login = @fail_signin.device_name.to_s.split('_') %>
									<% if current_userd.gauth_enabled == '0' || current_userd.gauth_enabled == 'f'  %>

									<div class="col-sm-4 col-xs-12">
											<% if @test_login[1] == "smartphone" || @test_login[1] == "tablet" %>
											<h6 id='copytarget2' class="sm-md-fontsize font-bold mrg-bottom-xs hlf-e-btm text-dbrand"><%= current_userd.gauth_secret %> <i id="copyButton2" class="icon ic-icons-329 ic-crl border-black hover-bg-brand text-hover-white text-black"></i></h6>
											
											<% else %>
											<figure class="mrg-bottom-sm">

											<%= google_authenticator_qrcode(resource) %>
											</figure>

											<% end %>

										<div class="text-left">
												<%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :displayqr], :html => {:method => :post , :id => :QRform}) do |f|%>
												<%= f.submit I18n.t('newtoken', {:scope => 'devise.registration'}) , :class => 'btn sm-padding border-black hover-bg-brand text-black text-hover-white radius-sm'%>
													
												<% end %>
								</div>
									</div>

									<% end %>

									<%= form_for(resource, :as => resource_name, :url => [resource_name, :displayqr], :html => { :method => :put }) do |f| %>
									<%= devise_error_messages! %>
										<%= f.hidden_field :tmpid, value: @tmpid %>

									<div class="col-sm-7 col-sm-push-1 col-xs-12">
										<div class="qa-form pad-top-xs">
											<div class="self-label">
												<label>
														<%= f.number_field :gauth_token, :autocomplete => :off ,:class =>'selfinput' %>
													
														<%= f.label :gauth_token, I18n.t('enter_token', {:scope => 'devise.registration'}),:class=>'placeholder-span' %>
												</label>
											</div>
											<div class="pos-abs-checkbox">
												<!-- <label class="checkbox">
													<input type="checkbox" name="">
													<span class="checkbox-view"></span>
												</label> -->

												<label class="checkbox">
														<%= f.check_box :gauth_enabled ,:style => 'display:none;', :id => 'google_enabled1' %>
														
														<!-- <span class="checkbox-view"></span> -->
													</label>

												<!-- <span class="iblock sm-md-fontsize font-bold text-blue"> ليعفت ةمدخ ققحتلا ةطساوب Google</span> -->
												<%= f.label :gauth_enabled, I18n.t('qrstatus', {:scope => 'devise.registration'}),:class=>'iblock sm-md-fontsize font-bold text-blue',:style => 'display:none;', :id => 'google_enabled2' %>

											</div>
											<!-- <input type="submit" name="submit" value="ةفاضإ ديصرلا" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm"> -->
											<%= f.submit I18n.t('submit', {:scope => 'devise.registration'}), :class => 'btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm' %>

										
										</div>
									</div>
									<% end %>

								</div>
							</div>
							<div class="crcl-animation">
								<span class="lg-crcl"></span>
								<span class="md-crcl"></span>
								<span class="sm-crcl"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>


                    function copyToClipboard(element) {
                        var $temp = $("<input>");
                        $("body").append($temp);
                        $temp.val($(element).text()).select();
                        document.execCommand("copy");
                        $temp.remove();
                      }
	document.getElementById("copyButton2").addEventListener("click", function() {

		var v1 = document.getElementById('copytarget2');
		console.log(v1);


	copyToClipboard(v1);
	

});
</script>

	<script src="<%= format_link(request) %>/assets/js/app.min.js"></script>
