Add balance from cart
<%= @greeting %>
payerz Address
Welcome
---------------------------------------------

Balance Has Been Added

---------------------------------------------

(rest of file omitted)
Next we’ll write our HTML ve








