<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Payerz</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode img { border:solid 1px #777777; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
<h1>اضافة رصيد</h1>

<p>
  <%= @greeting %> <%= @username %>
</p>

  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
          <td id="header" colspan="2">
            <a href="http://payerz.com/"><img src="http://payerz.com/imgs/logo.jpg" width="423" height="56" alt="RailsCasts"></a>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr class="episode">
          <td>
            <a href="#"><img src="http://67.222.151.205/adminstyle/images/logo.png" width="auto" height="125" alt="#310 Getting Started with Rails"></a>
          </td>
          <td valign="top">
            <h2>تم شحن الرصيد بقيمة </h2>
            <%= @balance %>
            
              <span class="duration"></span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p><a href="#">Unsubscribe</a> if you do not wish to receive these emails in the future.</p>
            <p>&copy;2017 Payerz</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>