


<% @number = "3530111333300000" %>
<% @detector = CreditCardValidations::Detector.new(@number) %>
<%# debug(@detector.brand) %>
<script>
    $('#bank-account').addClass('active');
    </script> 
    <% content_for :title, t('Credit Cards') %>
    <% content_for :icon, 'icon ic-icons-88' %>
    <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
      <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="wicon1">
    </h3>
    <div class="page-title l-height-md mrg-bottom-md">
      <div class="row row-default button-row">
          <div class="col-xs-6">
              <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
            <%= t('Credit Cards') %>
              </h4>
          </div>
          <div class="col-xs-6">
              <div class="text-left">
                  <%= link_to "<button type='button' class='btn text-hover-white text-white bg-black border-color-black md-padding radius-md'>#{t('New Credit Card')}</button>".html_safe, new_credit_card_path%>
              </div>
          </div>
      </div>
    </div>
    <div class="listing-section listing-section2">
    
    
    <div class="btm-bg-grd">
    <div class="height-490 content demo-y">
    
      <div class="selfscroll-section">
    
      <div class="row row-sm">
    
      <% @credit_cards.each do |credit_card| %>
    
          <div class="col-sm-12 col-md-6">
              <div class="listing-div hover-b-boxshadow">
                  <h4 class="icon-section">
                      <!-- <img src="credit-card-3.png" alt="icon"> -->

                      <%#  image_tag('/style/images/icon_'+credit_card.status.to_s+'.png')  %>

                     <img src="<%= format_link(request) %>/credit_card_banks/<%= credit_card.card_type.to_s %>.png" >

                     
                  </h4>
                  <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                <%= credit_card.name %>   <%# credit_card.card_no %>  <%=  credit_card.card_no[0,4] %> <%= 'XXXXXXXX' %> <%= credit_card.card_no[12,16] %>
                    
                  </h5>
                  <p class="listing-d pos-relative font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                      <i class="ico icon-wallet"></i>
                      <span class="mrg-right-xs">
                      <%= credit_card.created_at %>
                      
                      </span>
                  </p>
                  <div class="do-small-action">
                      <div class="dosm-visi text-left pointer">
                        <span class="iblock bg-gray radius-crlc"></span>
                        <span class="iblock bg-gray radius-crlc"></span>
                        <span class="iblock bg-gray radius-crlc"></span>
                      </div>
                      <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                        <ul class="dosmall-action-ul">
    
                            <li><%# link_to 'Edit', edit_credit_card_path(credit_card) %></li>
                            <li><a  href= "#" theid = '<%= credit_card.id %> ' class="deleteaccount"><%= t('Delete Account') %></a></li>
                            <%# link_to '<i class="fa fa-trash fa fa-white"></i>'.html_safe, credit_card, {  'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>

                            <li><%= link_to t('Show Credit Card Details'), credit_card %></li>
    
                          </ul>
                        </div>
                  </div>
              </div>
          </div>
    
          <% end %>
          <%# will_paginate @users_banks, :previous_label => t("previous"), :next_label => t("next") %>
    
    
    
    
    
          </div>
          </div>
      </div>
      </div>
    
    </div>
    </section>



<div id="confirm_delete_popup" class="selfpopup" style="display:none;">
<div class="selfpopup-bg">
</div>
<div class="selfpopup-content">
    <div class="selfpopup-inner">
        <div class="selfpopup-middle">
            <div class="padding-all-sm">
                <div class="cart-balance selfpopup-caption">
                    <span class="close-popup"><i class="icon-Plus-white"></i></span>
                    <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                        <h4 class="icon-img-pp mrg-bottom-sm">
                            <img src="<%= format_link(request) %>/assets/imgs/error.png" alt="error">
                        </h4>
                        <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"> <%= t('Are you sure you want to delete this ?')%></h5>
                        <p id ="failure-messege" class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">

                        </p>

                        <div class="self-btn-group mrg-top-md">
                            <div class="mrg-top-md">

                                    <a id = 'deletelink' class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" rel="nofollow" data-method="delete" href="#"><i class="ico icon-white-logo"></i><%= t('yesss')%></a>


                                    <a href="#"  class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding no_del">
                                    <%= t('nooo')%>   
                                </a>

                                
                                
                                
                
                               
                            </div>
                        </div>

                        <!-- <a href="#" class="btn md-padding radius-md border-brand text-brand text-hover-white hover-bg-brand">ةفاضإ ديصرلا</a> -->
                    </div>
                    <div class="crcl-animation">
                        <span class="lg-crcl"></span>
                        <span class="md-crcl"></span>
                        <span class="sm-crcl"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<script>


$(document).ready(function() {

        $(".deleteaccount").click(function() {
            
                $('#confirm_delete_popup').show();
                    var id = $(this).attr("theid");
                    $('#deletelink').attr('href','/credit_cards/'+id);
                    
                     });


                     $(".no_del").click(function() {
            
            $('#confirm_delete_popup').hide();

                 });


                     


});
</script>
    