<p id="notice"><%= notice %></p>





<!-- ************************************verified*************************** -->
<!-- <div class="row">
<div class="col-md-8">
    <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
        <div class="id-verify id-verify--verified">
            <div class="id-verify__icon">
                <img src="assets/imgs/id-icon.png" alt="">
                <span>بطاقة الهوية</span>
            </div>
            <div class="id-verify__desc">
                <p>لإثبات الهوية الشخصية. يجب عليك تقديم صورة واضحة للمستند الذى قد يكون هويه الشخصيه او جواز السفر او رخصه القياده.</p>
            </div>
            <div class="id-verify__button">
                <a href="#" class="btn md-padding radius-md bg-green text-white hover-bg-brand text-hover-white">تم الإثبات بنجاح</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
        <div class="id-verify-status id-verify-status--verified">
            <div class="id-verify-status__icon"><i class="icon-Valid-Doc"></i></div>
            <div class="id-verify-status__title">
                <h2>تم الإثبات بنجاح</h2>
            </div>
            <div class="id-verify-status__desc">
                <p>يمكنك معاينة المستند المقدم <a href="#">من هنا</a></p>
            </div>
        </div>
    </div>
</div>
</div> -->
<!-- ************************************not verified*************************** -->

<%= form_for(@credit_card) do |f| %>


<% if @credit_card.errors.any? %>
<% @credit_card.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
<% end %>

<div class="row">
<div class="col-md-8">
<div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<div class="id-verify id-verify--verified">
<div class="id-verify__icon">
<img src="<%= format_link(request) %>/assets/imgs/card-icon.png" alt="">
<span><%= t('Credit Cards')%></span>
</div>
<div class="id-verify__desc">
<p><%= t('Proof of identity')%></p>
</div>
<div class="id-verify__button">
<a href="/help_center" target = "_blank" class="btn md-padding radius-md bg-black text-white hover-bg-brand text-hover-white"><%= t('Help Center')%></a>
</div>
</div>
</div>
</div>

<div class="col-md-4">
<div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<div class="self-label">
<label class="filled-input">
<!-- <input id="name" type="text" name="" class="selfinput changestate"> -->
<%= f.text_field :name ,:class => 'selfinput changestate',:readonly => true , :value => @credit_card.name %>

<span class="placeholder-span"><%= t('name as in card')%></span>
</label>
</div>
<div class="row">
<div class="col-xs-8">
<div class="self-label">
    <label class="filled-input">
        <!-- <input id="number" type="text" name="" class="selfinput changestate"> -->
        <%= f.text_field :card_no,:class => 'selfinput changestate',:readonly => true , :value => @credit_card.card_no %>

        <span class="placeholder-span"><%= t('cart number')%></span>
        <!-- <span style = 'color:red; display:none;' id='cardtype' >نوع الكارت</span> -->

    </label>
</div>
</div>
<div class="col-xs-4">
<div class="self-label">
    <label class="filled-input">
        <!-- <input id="ccv" type="text" name="" class="selfinput changestate"> -->
        <img src="" id= "bankpic" alt="">
        <!-- <span class="placeholder-span">CCV</span> -->
    </label>
</div>
</div>
</div>







<div class="row mrg-bottom-sm">


<div class="col-md-6">
<div class="select-box">
    <label><%= t('month')%></label>

    
<%# f.date_select :expire_date, { :order => [:day, :month, :year] ,:discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10),:date_separator => '</div></div><div class="col-md-6"><div class="select-box"><label></label>'} %>
<label> <%= t('year')%></label>
<%# f.date_select :expire_date, {:discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10),:date_separator => '</div></div><div class="col-md-6"><div class="select-box"><label>السنة</label>'} %>


   

</div>
</div>
</div>
<%= f.hidden_field :card_type %>


<div class="image-media-section image-media-section--padding-sm mrg-bottom-sm">
<div class="media-scroll-inner">
        <div action="file-upload">
                <div class="self-img-upload text-center">
                    <h5 class="sm-lg-fontsize font-weight-normal text-blue"><%= t('Credit Card Photo') %></h5><br>
                        
                        <%# f.file_field :photo ,:class => 'sr-only',:id => 'pictureInput', :value => @credit_card.photo %>

                    </label>
                </div>
            </div>


                    <div class="up-singl-img" id="target">
                    <%=  image_tag(@credit_card.photo)  %>
                </div><br>

      </div>

<div class="media-scroll-inner">
    <div action="file-upload">
            <div class="self-img-upload text-center">
                <h5 class="sm-lg-fontsize font-weight-normal text-blue"><%= t('Selfie Photo') %></h5><br>
                    
                    <%# f.file_field :selfie ,:class => 'sr-only',:id => 'pictureInput2' , :value => @credit_card.selfie %>

                </label>
            </div>
        </div>


                <div class="up-singl-img" id="target2">
                <%=  image_tag(@credit_card.selfie)  %>
            </div>

</div>


</div>
<br>
<!-- <a href="#" class="btn md-padding radius-md bg-brand text-white hover-bg-black text-hover-white">تقديم الإثبات</a> -->
<div class="text-right">


  <a href=<%= "/credit_cards/" + @credit_card.id.to_s + "/edit" %> class="details-btn btn sm-padding bg-white border-blue hover-bg-brand radius-sm text-blue text-hover-white mrg-left-xs">
  <%= t('Edit') %>
  </a>


<a href="/credit_cards" id="unsecure-btn" class="btn sm-padding bg-black border-black hover-bg-brand text-white radius-sm text-hover-white">
<%= t('Back') %>
</a>
</div>
</div>
</div>
</div>
<!-- ************************************not verified*************************** -->
<!-- <div class="row">
<div class="col-md-8">
<div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<div class="id-verify id-verify--verified">
<div class="id-verify__icon">
<img src="assets/imgs/card-icon.png" alt="">
<span>البطاقة الإئتمانية</span>
</div>
<div class="id-verify__desc">
<p>لإثبات ملكية بطاقة الإئتما , عليك إضافة معلومات البطاقة و إرفاق صورة أمامية و أخرى خلفية للكارت نفسه.</p>
</div>
<div class="id-verify__button">
<a href="#" class="btn md-padding radius-md bg-black text-white hover-bg-brand text-hover-white">تحتاج إلى مساعدة</a>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<div class="self-label">
<label class="filled-input">
<input id="name" type="text" name="" class="selfinput changestate">
<span class="placeholder-span">الإسم كما موجود على البطاقة</span>
</label>
</div>
<div class="row">
<div class="col-xs-8">
<div class="self-label">
    <label class="filled-input">
        <input id="number" type="text" name="" class="selfinput changestate">
        <span class="placeholder-span">رقم البطاقة</span>
    </label>
</div>
</div>
<div class="col-xs-4">
<div class="self-label">
    <label class="filled-input">
        <input id="ccv" type="text" name="" class="selfinput changestate">
        <span class="placeholder-span">CCV</span>
    </label>
</div>
</div>
</div>
<div class="row mrg-bottom-sm">
<div class="col-md-6">
<div class="select-box">
    <label>الشهر</label>
    <select>
        <option data-display="الشهر">الشهر</option>
        <option value="1">ةلمع باسحلا</option>
        <option value="2">ةلمع باسحلا</option>
        <option value="4">ةلمع باسحلا</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
    </select>
</div>
</div>
<div class="col-md-6">
<div class="select-box">
    <label>السنة</label>
    <select>
        <option data-display="السنة">السنة</option>
        <option value="1">ةلمع باسحلا</option>
        <option value="2">ةلمع باسحلا</option>
        <option value="4">ةلمع باسحلا</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
        <option value="4">ةلمع</option>
    </select>
</div>
</div>
</div>
<div class="image-media-section image-media-section--padding-sm mrg-bottom-sm">
<div class="media-scroll-inner">
<form action="#">
    <div class="self-img-upload text-center">
        <h5 class="sm-lg-fontsize font-weight-normal text-blue">قم برفع الملفات هنا</h5>
        <label class="ext-btn-padding btn border-dgray text-dgray text-hover-white mrg-top-xs mrg-bottom-xs hover-bg-brand sm-padding radius-md">
            <i class="icon ic-icons-329"></i>
            <input type="file" name="submit" class="sr-only">
        </label>
        <h6 class="text-dgray sm-md-fontsize font-weight-normal ">يمكنك سحب و إدراج الملفات هنا إذا رغبت</h6>
    </div>
</form>
</div>
</div>
<br>
<a href="#" class="btn md-padding radius-md bg-brand text-white hover-bg-black text-hover-white">تقديم الإثبات</a>
</div>
</div>
</div> -->

<% end %>



<script src="<%= format_link(request) %>/assets/js/app.js"></script>


<!-- DropZone -->

<!-- <script type="text/javascript" src="/assets/js/dropzone.js"></script>
<script type="text/javascript" src="/assets/js/dropzone-amd-module.js"></script> -->


<script>


//  $('input[type="text"]').setCustomValidity("This is a custom message"); 


document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("برجاء ملء هذا الحقل الفارغ");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
})



//  $(function() { $('textarea').froalaEditor() });

$( "#kk" ).click(function() {

    var fo =  $('.fr-element').froalaEditor('html.get');

              alert(fo);
           alert("fdg");


});







$(function() {
        $('#pictureInput').on('change', function(event) {
          var files = event.target.files;
          var image = files[0]
          var reader = new FileReader();
          reader.onload = function(file) {
            var img = new Image();
            console.log(file);
            img.src = file.target.result;
            $('#target').html(img);
          }
          reader.readAsDataURL(image);
          console.log(files);
        });

        $('#pictureInput2').on('change', function(event) {
            var files = event.target.files;
            var image = files[0]
            var reader = new FileReader();
            reader.onload = function(file) {
              var img = new Image();
              console.log(file);
              img.src = file.target.result;
              $('#target2').html(img);
            }
            reader.readAsDataURL(image);
            console.log(files);
          });

      });



      






// var a= $('#12').attr("alt");
// console.log(file.upload.filename);




$( "#getvalue" ).click(function() {
    var i=  $('#ii').val();
    alert (i);
    var ii=  $('#fileimage').val();
    alert (ii);
  });
</script>

<!-- || footer scripts ends || -->


<script>

$(document).ready(function() {


$("#credit_card_card_no").change(function(){

var cc =$("#credit_card_card_no").val();
//  alert(cc);
$.ajax({
    type:'get',
    url:'/getcardtype',
    contentType: "application/json",
    data:{number:cc },
    dataType: "json",
    cache:false,
    success: function(data)
    {
       // {
                    console.log(data.type);  
                    $('#cardtype').show();
                    $('#credit_card_card_type').val(data.type);
                    var picname = '/credit_card_banks/'+data.type+'.png'
                    $('#bankpic').attr("src",picname);

                  //  $('#cardtype').text('نوع الكارت  ' + data.type );


   // }
 
}
});


});

});
$('#support-id').addClass('active');

</script>

