<%= form_for(@onlinebank) do |f| %>
  <% if @onlinebank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@onlinebank.errors.count, "error") %> prohibited this onlinebank from being saved:</h2>

      <ul>
      <% @onlinebank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
  <%= f.label :amount, t('Amount'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :amount, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardNumber, t('card number'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :cardNumber, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardCVV,'CVV', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :cardCVV, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardExpiryMonth,t('Expiry Month'), :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:cardExpiryMonth, options_for_select(cc_months)) %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardExpiryYear,t('Expiry Year'), :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:cardExpiryYear, options_for_select(cc_years)) %>
  </div>
</div>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              visa_path, :class => 'btn' %>
</div>



  
  
  <div class="field">
    <%= f.label :user_id ,t('User') %><br>
    <%= f.number_field :user_id ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :service_id, t('service') %><br>
    <%= f.number_field :service_id ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :tansaction , t('tansaction') %><br>
    <%= f.text_field :tansaction ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :currency ,t('currency') %><br>
    <%= f.text_field :currency ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :value ,t('value') %><br>
    <%= f.text_field :value,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :refund ,t('refund') %><br>
    <%= f.text_field :refund ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :approved ,t('approved') %><br>
    <%= f.check_box :approved ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :created_at ,t('created') %><br>
    <%= f.date_select :created_at,  :class => 'form-control' %>
  </div>
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
</div>
<% end %>
