 <form action = cashu method="post">
	<%= t('Amount') %>:<br>
	<input type="text" name="Money" value=<%= @id %> class="form-control" readonly>
	<input type="hidden" name="user_id" value=<%= current_userd.id%>>
    <div class="actions  text-center"> 

	<button type="submit" name="but"  class="btn btn-primary waves-effect waves-light m-t-15 text-center"> <%= t('Add') %> </button>
</div>
</form>
	