<form action="https://sandbox.cashu.com/cgi-bin/payment/pcashu.cgi" method="post">
 <input type="hidden" name="Transaction_Code" value=<%= $Transaction_Code %> > 
 <input type="submit" name="but" value="<%= t('Pay with cashU')%>!">
</form>