<%# debug (@address) %>
<%# debug (@trans.status_url) %>


<%# debug (@balances) %>


<%# debug (@tx) %>

<%# debug (@call) %>


<%= debug (@test) %>


<%# debug (local_time(Time.now)) %>




<!-- <form action="https://www.coinpayments.net/index.php" method="post">
	<input type="hidden" name="cmd" value="_pay_simple">
	<input type="hidden" name="reset" value="1">
	<input type="hidden" name="merchant" value="aaed181d86de6caf372b47eb8fbf4b68">
	<input type="hidden" name="item_name" value="Bitcoin">
	<input type="hidden" name="currency" value="USD">
	<input type="hidden" name="amountf" value="10.00000000">
	<input type="hidden" name="want_shipping" value="0">
	<input type="image" src="https://www.coinpayments.net/images/pub/buynow-small-white.png" alt="Buy Now with CoinPayments.net">
</form>
 -->

 <%= form_for( call_coinmoney_path ,:url => call_coinmoney_path ) do |f| %> %>
 
  <%= f.submit %>
 <% end %>

<script>


   // var rates = "<%= @address %>";
//console.log(rates);
</script>