<h1>Editing Onlinebank</h1>

<%= render 'form' %>

<%= link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, @onlinebank %> |
<%= link_to 'Back', onlinebanks_path %>
