<p id="notice"><%= notice %></p>

<h1>Listing Onlinebanks</h1>

									<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th>User</th>
      <th>Service</th>
      <th>Tansaction</th>
      <th>Currency</th>
      <th>Value</th>
      <th>Refund</th>
      <th>Approved</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onlinebanks.each do |onlinebank| %>
      <tr>
        <td><%= onlinebank.user_id %></td>
        <td><%= onlinebank.service_id %></td>
        <td><%= onlinebank.tansaction %></td>
        <td><%= onlinebank.currency %></td>
        <td><%= onlinebank.value %></td>
        <td><%= onlinebank.refund %></td>
        <td><%= onlinebank.approved %></td>
        <td><%= onlinebank.created_at %></td>
        <td><%= link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, onlinebank %></td>
        <td><%= link_to '<button type="button" class="btn btn-success waves-effect waves-light "><i class="fa fa-pencil"></i></button>'.html_safe, edit_onlinebank_path(onlinebank) %></td>
        <td><%= link_to '<button type="button" class="btn btn-danger waves-effect waves-light "><i class="fa fa-trash-o"></i></button>'.html_safe, onlinebank, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>

<%= link_to 'New Onlinebank', new_onlinebank_path %>
