
<%= form_for :visapay, :html => { :class => 'form-horizontal' } do |f| %>

<div class="control-group">
  <%= f.label :amount,   t('Amount'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :amount, :value => params[:id] , :readonly => true, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardNumber,  t('card number') , :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :cardNumber, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardCVV,'CVV', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :cardCVV, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardExpiryMonth,t('Expiry Month'), :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:cardExpiryMonth, options_for_select(cc_months)) %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardExpiryYear,t('Expiry Year') , :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:cardExpiryYear, options_for_select(cc_years)) %>
  </div>
</div>

 
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
 
  <%# link_to t('.cancel', :default => t("helpers.links.cancel")),
              visa_path, :class => 'btn btn-primary waves-effect waves-light m-t-15 text-center' %>
</div>
<% end %>