<%= debug @onecardcompany %>

<form name="onecard" action="http://onecard.n2vsb.com/customer/integratedPayment.html" method="post" />


  <input type="hidden" id="OneCard_MerchID" name="OneCard_MerchID" value="<%# @onecardcompany.account_name %>" />
  <input type="hidden" id="OneCard_TransID" name="OneCard_TransID" value="JXC12340249" />
  <input type="text" id="OneCard_Amount" name="OneCard_Amount" value='<%= params[:id] %>' class =  'form-control' readonly />
  <input type="hidden" id="OneCard_Currency" name="OneCard_Currency" value="USD" />
  <input type="hidden" id="OneCard_Timein" name="OneCard_Timein" value="1290932238757" />
  <input type="hidden" id="OneCard_MProd" name="OneCard_MProd" value="Product Description" />
  <input type="hidden" id="OneCard_ReturnURL" name="OneCard_ReturnURL" value = "http://merchantSite.co" />
  <input type="hidden" id="OneCard_Field1" name="OneCard_Field1" value="Value1" />
  <input type="hidden" id="OneCard_Field2" name="OneCard_Field2" value="Value2" />
  <input type="hidden" id="OneCard_HashKey" name="OneCard_HashKey" value="4047de9628e6ddf676f694159bff81c7" />

    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Add') %> </button>
</div>

</form>