 
<%= form_for :paypalnow , :url => paypal_path do |f| %>

<div class="field">
    <%= f.label :value, t('value') %><br>
     <%= f.text_field 'value' ,:value => @id ,:readonly => true ,  :class => 'form-control'  %>
  </div>
  
   
        <div class="actions  text-center"> 
 
                <button type="submit" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding"><i class="ico icon-white-logo"></i> <%= t('Pay Now') %> </button>
            </div>
  
<% end %>

 