<form action="/perfect_money" method="post">
               
    

	<!-- <%      @pmcompany= CompanyBank.where("bank_key = 'perfectmoney'").first %>                                                
   <input type="hidden" name="PAYEE_ACCOUNT" value="<%= @pmcompany.account_name %>">
   <input  type="hidden" name="PAYMENT_ID" value="<%= 15 %>">

   <input type="hidden" name="PAYEE_NAME" value="payers">
   <input type="hidden" name="STATUS_URL" value="<%= format_link(request) %>/perfectmoney">

   <input type="hidden" name="PAYMENT_URL" value="<%= format_link(request) %>/perfectmoney">
   <input type="hidden" name="NOPAYMENT_URL" value="<%= format_link(request) %>/perfectmoneyerror">
	   <input id='pm_amount' type="hidden" name="PAYMENT_AMOUNT" value='17' class =  'form-control' readonly >
   <input type="hidden" name="user_id" value=<%= current_userd.id %>>
	   <input type="hidden" name="PAYMENT_UNITS" value="USD" > -->
	
<button type="submit" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding"><i class="ico icon-white-logo"></i> <%= t('Pay Now') %> </button>                                     
	 
	   </form>






       