<%# debug (@balances_withdraw) %>
<% if current_userd.id == @onlinebank.user_id %>
<% content_for :title, t('Add Balance Request') %>
<% content_for :icon, 'dollor' %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
    <div class="pos-relative">
      <div class="title-line sm-f-width">
        <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
          <i class="ico icon-dollor"></i>
        </h3>
        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
          <%= t('Add Balance Request') %>
        </h4>
      </div>
      <div class="self-tabs text-center">
          <ul class="self-tabs-list">
              <li class="active">
                <a href="#">
                  <span class="ico">
                    <i class="icon-home-icon"></i>
                  </span>
                  <span class="selftbas-title"><%= t('waiting') %></span>
                </a>
              </li>
              <% if @onlinebank.status != "Pending" %>
                   <li class="active">
              <% else %>
                   <li>
              <% end %>
                <a href="#">
                  <span class="ico">
                    <i class="icon-dollor"></i>
                  </span>
                  <span class="selftbas-title"><%= t('processing') %></span>
                </a>
                   </li>

              <% if  @onlinebank.status == "Refunded" or  @onlinebank.status == "Cancelled / Timed Out" or  @onlinebank.status == "Exception" or  @onlinebank.status == "Rejected" or @onlinebank.status == "Canceled" %>
                <li class="active">
                <a href="#">                
                    <span class="ico" style="background: #c50e0e;">            
                    <i class="icon-home-icon"></i>
                  </span>
                  <span class="selftbas-title" style="color:#c50e0e"><%= t(@onlinebank.status) %></span>
                </a>
              </li>
               <% end %>

               <% if  @onlinebank.status != "Refunded" and  @onlinebank.status != "Cancelled / Timed Out" and  @onlinebank.status != "Exception" and  @onlinebank.status != "Rejected" and @onlinebank.status != "Canceled" %>
              <% if @onlinebank.status == "Completed" %>
                  <li class="active">
              <% else %>
                   <li>
              <% end %>
              <a href="#">
                  <span class="ico">
                    <i class="icon-user-check"></i>
                  </span>
                  <span class="selftbas-title"><%= t('completed') %></span>
                </a>
              </li>
              <% end %>
            </ul>
      </div>
    </div>
    <% if  @onlinebank.id !=  0  %>

               <% end %>
     <% @order_details = @bank_data.company_bank_data.to_s.split('/') %>

    <div class="self-table-row">
      <div class="iblock mrg-left-lg">
        <table class="table">


          <tr>
            <td><%= t('bank name')%></td>
            <td><%= @order_details[2] %></td>
          </tr>
          
          <tr>
              <td><%= t('Currency')%></td>
              <td><%= @order_details[4] %></td>
          </tr>
          <tr>
              <td><%= t('the sum')%></td>
              <td><%= @onlinebank.value.to_s + " USD" %> </td>
          </tr>
          <tr>
                <td><%= t('net sum')%></td>
                <td><%= @onlinebank.netsum.to_s + " USD"%></td>
            </tr>
          <% if @bank_data.w_to_balance_before != 0 %>
          <tr>
              <td><%= t('Amount to be paid')%></td>
              <td><%= @bank_data.w_to_balance_before.to_s + ' ' + @bank_data.w_from_name   %></td>
          </tr>
          <% end %>
          
            <tr>
              <td><%= t('status')%></td>
              <td><%= t(@onlinebank.status) %>  </td>
          </tr>

          <tr>
              <td><%= t('Created At')%></td>
              <td><%= @onlinebank.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>  </td>
          </tr>
        </table>
      </div>
      <div class="iblock">
				<table class="table" style="margin-bottom: 100px !important;">
          <% if @onlinebank.status != "Pending" and @onlinebank.user_bank_id != nil%>
          <% @bankdata = UsersBank.find_by_id(@onlinebank.user_bank_id)%>
          <%# @user_details = @bank_data.user_bank_data.to_s.split('/') %>


          <tr>
              <td><%= t('paid value')%></td>
              <td><%= @bank_data.w_to_balance_after.to_s + ' ' + @bank_data.w_from_name %>  </td>
          </tr>
          <tr>
              <td><%= t('phone')%></td>
            
              <td><%= @bankdata.phone %>  </td>
          </tr>
          <% if @bankdata.from_mobile != nil%>
           <tr>
              <td><%= "from mobile" %></td>
             
              <td><%= @bankdata.from_mobile %>  </td>
          </tr>
          <% end %>
          <% if @bankdata.to_mobile != nil%>
          <tr>
              <td><%= "to mobile" %></td>
              <td><%= @bankdata.to_mobile %>  </td>
          </tr>
          <% end %>
          <% if @bank_data.w_to_name != nil%>
          <tr>
              <td><%= "operation_id" %></td>
              <td><%= @bank_data.w_to_name %>  </td>
          </tr>
          <% end %>
          <% if @bankdata.account_name != nil%>
          <tr>
              <td><%= t("Name of Applicant") %></td>
              <td><%= @bankdata.account_name %>  </td>
          </tr>
          <% end %>
          <% if @bankdata.nationalid != nil%>
          <tr>
              <td><%= "nationalid" %></td>
              <td><%= @bankdata.nationalid %>  </td>
          </tr>
          <% end %>
           <% if @bankdata.account_number != nil%>
          <tr>
              <td><%= t("account number") %></td>
              <td><%= @bankdata.account_number %>  </td>
          </tr>
          <% end %>
          <% if @bankdata.bank_name != nil%>
          <tr>
              <td><%= t("bank name") %></td>
              <td><%= @bankdata.bank_name %>  </td>
          </tr>
           <% end %>
            <% if @bankdata.country != nil%>
          <tr>
              <td><%= t("country") %></td>
              <td><%= @bankdata.country %>  </td>
          </tr>


           <% end %>
          
          <% end %>
        </table>
      </div>
    </div>

    <% @last_pay_excep = Ticket.where(foreign_id: @onlinebank.id ,ticket_id: 0).last %>
<% if @last_pay_excep != nil %>
<% @pay_excep_reply = Ticket.where(foreign_id: @onlinebank.id ,ticket_id: @last_pay_excep.id).first%>
<% if @onlinebank.status.to_s == 'Exception' and @pay_excep_reply == nil %>
<%= form_for :user_reply ,:url => user_reply_path,:html => { :multipart => true } do |f| %>

<%= f.hidden_field :id, :value => @onlinebank.id.to_i %>
<%= f.hidden_field :excep_id, :value => @last_pay_excep.id %>
       <div class="col-sm-6 col-xs-12">
            <div class="self-label">
                <label>
                   <%= f.text_field  :reply , { :class => 'selfinput'} %>
                    <span class="placeholder-span"><%= t('add comment') %></span>
                </label>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="self-label">
                <label>
                   <%= f.file_field :reply_attachment ,:id => 'pictureInput1' %>
                    <span class="placeholder-span"><%= t('upload file') %></span>
                </label>
            </div>
        </div>
         <br>
				 <button type="submit" class="btn md-padding radius-md border-brand hover-bg-brand text-hover-white text-brand bg-white"><%= t('Send reply Now') %>  </button>
<% end %>
<% end %><% end %>

    <% if @onlinebank.status != "Completed" and @onlinebank.status != "Canceled"  and @onlinebank.status != "Rejected"  and @onlinebank.status != "Cancelled / Timed Out" and @onlinebank.user_bank_id == nil  %>
<div id="pay_data" style="float:right !important;">
<a href="#" id="userdata_form" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
<i class="ico icon-white-logo"></i> <%= t('approve pay') %>
</a>
</div>
<%= link_to t('cancel request') , cancel_payment_path(:id => @onlinebank.id) , class: "mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding"  %>
<% end %>
 <div id="userdata" class="selfpopup" style= "display:none;">
            <div class="selfpopup-bg">
            </div>
            <div class="selfpopup-content">
                <div class="selfpopup-inner">
                    <div class="selfpopup-middle">
                        <div class="padding-all-sm">
                            <div class="cart-balance selfpopup-caption">
                                <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                   <%= form_for :uploadefile ,:url => uploadefile_path,:html => { :multipart => true } do |f| %>
                                    <h5 class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal"><%= t('Payment Details') %></h5>
                                    <div class="row">
                                       <%=  f.hidden_field :id, :value => @onlinebank.id %>
                                       <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.number_field :value , :required => true , step: :any, class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('paid value') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                                <div class="self-label">
                                                    <label>
                                                        <%=  f.text_field :phone , class: 'selfinput' %>
                                                        <span class="placeholder-span"><%= t('tel') %></span>
                                                    </label>
                                                </div>
                                        </div>
                                        <% if @order_details[0] == "localeg_vodafonecash" %>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :from_mobile , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('mobile') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :to_mobile , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('mobile') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <% end %>
                                        <% if @order_details[0] != "localeg_vodafonecash" %>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :name , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('Name of Applicant') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <% end %>
                                        <% if @order_details[0] == "localeg_bank" or @order_details[0] == "localsar" %>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :account_number , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('account number') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <% end %>
                                        <% if @order_details[0] == "localeg_vodafonecash" or @order_details[0] == "interusd_money" or @order_details[0] == "interusd_western" %>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :operation_id , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('Process ID') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <% end %>
                                        <% if @order_details[0] == "localeg_post" or @order_details[0] == "localeg_bank" %>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :nationalid , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('nationalid') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <% end %>
                                        <% if @order_details[0] == "interusd_swift" or @order_details[0] == "interusd_money" or @order_details[0] == "interusd_western" %>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :country , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('country') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <% end %>
                                        <% if @order_details[0] == "localsar" %>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :bank_name , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('bank name') %></span>
                                                </label>
                                            </div>
                                        </div>
                                        <% end %>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="self-label">
                                                    <label>
                                                       <%= f.file_field :attachments ,:id => 'pictureInput' %>
                                                        <span class="placeholder-span"><%= t('Uploade Files Here') %></span>
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                                       <button type="submit" class="btn md-padding radius-md border-brand hover-bg-brand text-hover-white text-brand bg-white"><%= t('Send Order Now') %>  </button>
                                    <% end %>
                                    
                                </div>
                                <div class="crcl-animation">
                                    <span class="lg-crcl"></span>
                                    <span class="md-crcl"></span>
                                    <span class="sm-crcl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row row-sm">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <h4 class="md-md-fontsize text-dbrand font-weight-normal l-height-md"><%= t('Previous Attachments') %></h4>
        <div class="content demo-x up-div">
            <div class="up-singl-row">
            <% if @onlinebank.attachments != nil %>
            <div class="up-singl-img">


                <a href="<%= get_attachment(request,@onlinebank.attachments,"link") %>" target="_blank">

               <%= image_tag  get_attachment(request,@onlinebank.attachments,"img"),:class => "imagecover" ,:alt => 'user-notification'%>

                </a>
            
              
</div>
<%end%>
<% if @payment_replies != nil %>
<% @payment_replies.all.each do |payment_replies| %>
<% if payment_replies.reply_attachment != nil %>
<div class="up-singl-img">
   


   

 <a href="<%= get_attachment(request,payment_replies.reply_attachment,"link") %>" target="_blank">

               <%= image_tag  get_attachment(request,payment_replies.reply_attachment,"img"),:class => "imagecover" ,:alt => 'user-notification'%>

                </a>
   
            

</div>
<%end%>
<%end%>
<%end%>
</div>
</div>

      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="md-lg-fontsize text-dbrand mrg-bottom-lg hlf-e-btm line-throughd-div">
          <span><%= t('Order Updates') %></span>
        </div>
        <div class="content demo-y listing-scroll btm-bg-grd max-before">
          <% @request_updaes.all.each do |updaes| %>
          <% @op_details = updaes.stats.to_s.split('/') %>
          <% @op_type = updaes.controller.to_s.split('/') %>
          <% @description = @bank_data.description.to_s.split('/') %>
          
           <div class="listing-div hover-b-boxshadow">          
            
            <h4 class="icon-section">
              <img src="<%= format_link(request) %>/assets
/imgs/request_updates.png" alt="user-notification" class="crlc-img">
            </h4>
            <h5 class="list-title text-blue font-bold sm-md-fontsize mrg-bottom-xs">
              
           
              
              <% if @op_details[0] == "payment request" %>
              <%= t(@op_details[0]) + ' ' + @op_details[1] + ' ' + t(@op_details[2]) + ' ' + @op_details[3]  %>
               <% else %>
               <%= t(@op_details[0])%>
              <% end %>

              <% if @op_type[1] == "exception_payment" or @op_type[1] == "exception_reply" or @op_type[1] == "reject_payment" or @op_type[1] == "complete_payment" %>
              <br>
              <% @reply = Ticket.where(foreign_id: updaes.foreign_id, predefined_reply_id: updaes.id).first %>
               <% if @reply != nil %>
              <%= @reply.body%>
               <% end %>
              <% end %>

            </h5>
            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
              <i class="ico icon-calendar mrg-left-xs iblock"></i> <%= updaes.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
            </p>
            
          </div>
          <% end %>          
          </div>
   
      </div>
    </div>
  </section>
  <% end %>
  <script>
     $(document).ready(function() {
      var status = "<%= "Processing" %>";
      console.log(status);
      
      $("#pay_data").click(function() {
      $('#userdata').show();
        return false;

        });

                    $('#pictureInput').on('change', function(event) {
                      var files = event.target.files;
                      var image = files[0]
                      var reader = new FileReader();
                      reader.onload = function(file) {
                        var img = new Image();
                        console.log(file);
                        img.src = file.target.result;
                        $('#target').html(img);
                      }
                      reader.readAsDataURL(image);
                      console.log(files);
                    });
                    $('#pictureInput1').on('change', function(event) {
                      var files = event.target.files;
                      var image = files[0]
                      var reader = new FileReader();
                      reader.onload = function(file) {
                        var img = new Image();
                        console.log(file);
                        img.src = file.target.result;
                        $('#target1').html(img);
                      }
                      reader.readAsDataURL(image);
                      console.log(files);
                    });

                  });
  </script>
