<form method="POST" action="https://merchant.wmtransfer.com/lmi/payment_utf.asp" accept-charset="utf-8"> 
  <input type="text" name="LMI_PAYMENT_AMOUNT" value='700' >
  <input type="hidden" name="LMI_PAYMENT_DESC" value="payment under the bill">
  <input type="hidden" name="LMI_PAYMENT_NO" value="1234">
  
   <!-- <input type="hidden" name="LMI_PAYEE_PURSE" value="Z145179295679"> -->
   <input type="hidden" name="LMI_PAYEE_PURSE" value="Z648555082359">
  <input type="hidden" name="LMI_SIM_MODE" value="0">

  <!-- <input type="hidden" name="LMI_SUCCESS_URL" value="http://test2.servicehigh.net/webmoneydone"> -->
  <input type="hidden" name="LMI_RESULT_URL" value="mailto:amira.elfayome@servicehigh.com">
  <input type="hidden" name="LMI_SUCCESS_URL" value="<%= format_link(request) %>/success">
  <input type="hidden" name="LMI_SUCCESS_METHOD" value="2">
  <input type="hidden" name="LMI_FAIL_URL" value="<%= format_link(request) %>/fail">
  <input type="hidden" name="LMI_FAIL_METHOD" value="2">
  <input type="hidden" name="FIELD_1" value="VALUE_1">
  <input type="hidden" name="FIELD_2" value="VALUE_2">
  
         <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Add') %> </button>
</div>
  

</form>
    