<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id , t('User') %><br>
    <%= f.text_field :user_id %>
  </div>
   
  <div class="field">
    <%= f.label :addeduser_id, t('From User')  %><br>
    <%= f.text_field :addeduser_id %>
  </div>
   
  <div class="field">
    <%= f.label :foreign_id , t('foreign_id')  %><br>
    <%= f.text_field :foreign_id %>
  </div>
   
  <div class="field">
    <%= f.label :controller, t('controller')  %><br>
    <%= f.text_field :controller %>
  </div>
  
  <div class="field">
    <%= f.label :stats ,  t('statistics')  %><br>
    <%= f.text_field :stats %>
  </div>
   
  <div class="field">
    <%= f.label :notetype, t('note type')  %><br>
    <%= f.text_field :notetype %>
  </div>
   
    <div class="actions  text-center"> 
      <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
  </div>

<% end %>
