<script>
$('#notification-id').addClass('active');
</script>
           
           <% content_for :title, t('Notifications Log') %>
            <% content_for :icon, 'ico icon-bell' %>
            <% if @notificationsetting.value == '1'   %>
                <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                        <i class="ico icon-bell"></i>
                    </h3>
                    <%= form_tag  url_for(:controller => 'notifications', :action => 'searchpost'), :method => 'post' do %>
                    <div class="page-title l-height-md mrg-bottom-md">
                        <div class="row row-default button-row">
                            <div class="col-md-3">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                   <%= t('Notifications Log') %>
                                </h4>
                            </div>
                            <div class="col-md-9">
                                <div class="clearfix">
                                    <a href="/help_center" class="bg-black hover-bg-brand text-hover-white text-white btn md-padding radius-md pull-left mrg-right-xs mrg-bottom-xs"><%= t('New Help Request') %></a>
                                    <div class="search-div radius-md bg-white b-boxshadow">
                                    <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder="<%= t('Search') %>" >
                                        <button type="submit" class="search-btn"><i class="icon ic-search-1"></i></button>

                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                                        <%= select_tag(:searchtime, options_for_select([[t('last hour'),'last hour'],[t('last day'),'last day'], [t('last week'),'last week'], [t('last month'),'last month'],[t('last year'),'last year']]),:include_blank =>  t('Define the period') )  %>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% if @notificationss == ""  %>
                    <%= 'No Notifications' %>
                    <% else %>
                    <div class="listing-section listing-section2">
                        <div class="btm-bg-grd max-before">
                            <div class="height-516 content demo-y">
                                <div class="row row-sm">
                                <% @notificationss.each do |notification| %> 
                                  <% @op_type = notification.controller %>                     
                                  <% @controller = notification.controller.to_s.split('/')%>
                                  <% @status = notification.stats.to_s.split('/')%>
                                  <% @op_details = notification.controller.to_s.split('/')[0] %>
                                    <div class="col-md-6 col-sm-6 padding-hor-sm">
                                        <div class="listing-div hover-b-boxshadow tck-name">
                                            <h4 class="icon-section">
                                                    <% if current_userd.avatar_file_name == nil %>
                                                    <img src="/blank-profile-pic.png" alt="user-notification" class="radiu-crlc imagecover">
                                    
                                                    <%else%>
                                                    <%= image_tag current_userd.avatar.url,:class => "radiu-crlc imagecover" %>
                                                    <%end %>

                                                
                                            </h4>
                                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
            
        <% if @op_type == "User_wallet_ballence/walletstransferpost" or @op_type == "User_wallet_ballence_frozen" %>
        <%= t(@status[0]) + ' '+@status[1]+' '+t(@status[2]) + ' '+@status[3].to_s+ ' '+t(@status[4])+' '+@status[5].to_s %>
        <% elsif @op_type ==  "Onlinebanks/cancel_payment"%>
        <%= t(@status[0]) + " " + t('number') + " " + @status[1] %>
        <% elsif @controller[0] == "Onlinebanks"%>
        <%= t(@status[0]) + ' ' + t('number') + ' ' + @status[1]+' '+t(@status[2]) + ' '+@status[3].to_s + " USD" %>
        <% elsif @op_type == "balances_withdraws" or @op_type == "carts/cartbalancetouser"  %>
        <%= t(@status[0]) + ' '+@status[1]+' '+t(@status[2]) + ' '+@status[3].to_s %>
        <% elsif @op_type == "users_bank" or @op_details == "carts" or @op_type == "User_wallet_ballence/admin_wallet_edit_post" or @op_type == "update_suspension_period" %>
        <%= t(@status[0]) + ' ' + @status[1]  %> 
        <% elsif @op_type == "User_wallet_ballence"  %>
        <%= t(@status[0]) + ' ' + t(@status[1])  %>
        <% elsif notification.controller == "userd"  %>
        <%= t(@status[0]) + ' ' + @status[1]  %>
        <% elsif @op_type == "admin/edit_profile"  %>
        <%= t(notification.stats.to_s)  %>          
        <% elsif @op_type == "failed signin" %>
        <%= @shown_msg = t(@status[0])+' ' + 'IP'+' ' + @status[1] +' '+ t('Device Type') + ' '+ @status[2]+' ' + t('Operating System') + ' '+ @status[3]+' '+ @status[4]+' ' +t('Browser')+' '+ @status[5]%>  
        <% elsif @op_type == "edit_not_activate_account" %>
           <% @shown_msg = "" %>
          <% if @status[1] != nil and @status[1] != "" %>
                <% @shown_msg +=  t(@status[1]) + " : " + @status[2] + " - " %>
          <% end %>
          <% if @status[4] != nil and @status[4] != "" %>
                <% @shown_msg +=  t(@status[3]) + " : " + @status[4] + " - " %>
          <% end %>
          <% if @status[6] != nil and @status[6] != "" %>
                <% @shown_msg +=  t(@status[5]) + " : " + @status[6] + " - " %>
          <% end %>
          <%= @shown_msg%>
                                                       
        <% else %>
        <%= t(notification.stats) %>
        <% end %>
        </h5>
                                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                <i class="ico icon-calendar"></i> <%= notification.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                                            </p>
                                          
                                            
                                            <div class="do-small-action">
                                                <div class="dosm-visi text-left pointer">
                                                    <span class="iblock bg-gray radius-crlc"></span>
                                                    <span class="iblock bg-gray radius-crlc"></span>
                                                    <span class="iblock bg-gray radius-crlc"></span>
                                                </div>
                                                <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                    <ul class="dosmall-action-ul">
                                                        <% if @op_type != "Ticket" %>
                                                        <% if notification.trans_id != nil %>
                                                        <% @transactions = Transaction.where("id =?",notification.trans_id).first %>
                                                        <li><a ticket_status = "<%= @transactions.ticket_opend %>" data-tran = "<%= @transactions.transaction_id %>" class="report_problem" href="#"><%= t('Report a problem')%></a></li>
                                                        <% else %>
                                                        <li><a href="/help_center"><%= t('Report a problem')%></a></li>
                                                        <% end %>
                                                        <% end %>
                                               
                                                </li>
                                                        
                                                <% if (@op_details == "carts")  %>
                                                <li><a  href=<%= "/cart_preview?id=" + notification.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @op_type == "chargecart" %>
                                                <li><a href=<%= "/addbalance_show/" + notification.trans_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @op_type == "admin/edit_profile"  %>
                                                <li><a  href=<%= "/user_profile"%>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@op_type == "User_wallet_ballence_frozen" or @op_type == "update_suspension_period")  %>
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + notification.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@op_details == "balances_withdraws")  %>
                                                <li><a  href=<%= "/balances_withdraws/" + notification.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>  
                                                <% elsif (@op_details == "Onlinebanks")  %>
                                                <li><a  href=<%= "/onlinebanks/" + notification.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>                               
                                                <% elsif @op_type == "User_wallet_ballence/walletstransferpost" %>
                                                <li><a  href=<%= "/showtransfer/" + notification.trans_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @op_type == "User_wallet_ballence/admin_wallet_edit_post" %>
                                                <li><a  href=<%= "/edit_balance/" + notification.trans_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @op_type == "userd" or @op_type == "edit_activate_account" %>
                                                <li><a  href=<%= "/user_profile" %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @op_type == "edit_not_activate_account" %>
                                                <li><a  href=<%= "/all_verifications" %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @op_type == "users_bank" %>
                                                <% @bank = UsersBank.find_by_id(notification.foreign_id) %>
                                                <% if @bank %>
                                                <li><a  href=<%= "/users_banks/" + notification.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% end %>
                                                <% elsif @op_type == "User_wallet_ballence" %>
                                                <% if (@top_details != "you have deleted")%>
                                                <% @wallet = UsersWalletsBalance.find_by_id(notification.foreign_id) %>
                                                <% if @wallet != nil %>
                                                <% if @wallet.is_deleted == 0 and @wallet.currency == 'USD'%>
                                                <li><a  href=<%= "/dollar_wallet" %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @wallet.is_deleted == 0 and @wallet.currency == 'SAR'%>
                                                <li><a  href=<%= "/sar_wallet" %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @wallet.is_deleted == 0 and @wallet.currency == 'EGP'%>
                                                <li><a  href=<%= "/egp_wallet" %>><%= t('Show details')%></a>
                                                </li>
                                                <% end %>
                                                <% end %>
                                                <% end %>
                                                <% else %>
                                                <li><a href="#"><%= t('Show details')%></a>
                                                </li>
                                                <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>


                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </section>
                <% else %>
                <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                    <i class="ico icon-bell"></i>
                </h3>
                <div class="page-title l-height-md mrg-bottom-md">
                        <div class="row row-default button-row">
                            <div class="col-md-3">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                   <%= t('Notifications Log') %>
                                </h4>
                            </div>
                        </div>
                </div>
                <div class="listing-section listing-section2">
                    <div class="btm-bg-grd max-before">
                        <div class="height-516 content demo-y">
                            <div class="row row-sm">
                                <div class="col-md-6 col-sm-6 padding-hor-sm">
                                    <div class="listing-div hover-b-boxshadow tck-name">
                                        <h4 class="icon-section">
                                                <% if current_userd.avatar_file_name == nil %>
                                                <img src="/blank-profile-pic.png" alt="user-notification" class="radiu-crlc imagecover">
                                
                                                <%else%>
                                                <%= image_tag current_userd.avatar.url,:class => "radiu-crlc imagecover" %>
                                                <%end %>
                                        </h4>
                                        <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                        <%= t("Sorry notifications are closed") %> </h5>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         
                </section>
                <% end %>
                <div id= "datta"></div>
                <script>
                $(document).ready(function() {
              
                $(".report_problem").click(function() {

                var status = $(this).attr('ticket_status');
               
                if(status == 1){

                    var url = $(".ticket_disabled").attr('ticket_script');

                $('#success-messege').text(url);

                $('#success-popup').show();

                } else {
                      
              $('#freshdesk_trans_id').val($( this ).attr('data-tran'));

              $('#user_ticket_data').show();
                return false;
                }

                    });
                                        })
        
                </script>