

<div class="row row-sm">
    <div class="col-md-7 padding-hor-md hlf-btm mrg-bottom-sm col-sm-12">
        <section class="section mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-sm s-boxshadow radius-light">
            <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                <i class="icon-wallet"></i>
            </h3>
            <div class="page-title l-height-md mrg-bottom-md">
                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                    <%= t('Account Balance') %>
                </h4>
                <% if @dollar_wallet.is_deleted == 0 %>
                
                <a href="#" id="USD" class="btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding">
                <%= t('Dollar Wallet') %>
                            </a>
                <% end %>
                <% if @sar_wallet != nil and  @sar_wallet.is_deleted == 0 %>
                
                
                <a href="#"  id="SAR" class="btn radius-md border-black hover-bg-brand bg-black mrg-left-xs text-white text-hover-white sm-padding">
                <%= t('Riyal Wallet') %>
                            </a>
                            <% end %>
                            <% if @egp_wallet != nil and @egp_wallet.is_deleted == 0 %>
                            
                            
                            <a href="#" id="EGP" class="btn radius-md border-black hover-bg-brand bg-black mrg-left-xs text-white text-hover-white sm-padding">
                            <%= t('Pound Wallet') %>
                                        </a>
                                        <% end %>
                            
                <a href="#" class="dotted-plus"></a>
            </div>
            <div class="lng-portion clearfix mrg-bottom-lg hlf-e-btm">
                <div class="lng-side pull-right mrg-left-md">
                    <h6 class="sm-sm-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('Show Operation') %> </h6>
                    <ul class="sm-sm-fontsize english-font font-bold">
                        <li><a href="#" id="toUSD">USD</a>
                        
                        </li>
                        <li><a href="#" id="toSAR">SAR</a> 
                        
                        
                        </li>
                        <li><a href="#" id="toEGP">EGP</a>
                        
                        </li>
                    </ul>
                </div>
                <h1 id="walletvalue" class="pull-right xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
                <%= @dollar_wallet.balance.to_s  %>
                </h1>
            </div>
            <div class="btn-group-section mrg-bottom-md">
                <a href="/walletstransfer" class="btn md-padding radius-md iconic text-blue text-hover-white hover-bg-brand bg-white border-blue">
                    <i class="ico icon-arrowup"></i> <%= t('Transfer To Another Wallet') %>
                </a>
            </div>
            <div class="bdr-md-top pad-bottom-xs bdr-solid border-color-gray pad-top-md hlf-e-btm">
                <div class="row row-default button-row">
                    <div class="col-xs-4">
                        <h4 class="l-height-md sm-lg-fontsize text-blue font-bold">
                        <%= t('Last Operations') %>
                        </h4>
                    </div>
                    <div class="col-xs-8">
                        <div class="text-left">
                            <a href="/buycart" class="btn mrg-left-sm md-padding radius-md iconic border-blue hover-bg-brand text-hover-white text-blue"><i class="ico icon-dollor-icon"></i> <%= t('Charge Account') %></a>
                            <a href="#" class="btn text-hover-white text-white bg-black border-black md-padding radius-md hover-bg-brand iconic drak bgbtn"><i class="ico icon-white-logo"></i><%= t('Pay') %> </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row row-sm">
            <div class="col-sm-6 col-xs-12">
                <section class="section home-bottom-detail bg-white pad-top-md pad-bottom-md hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                        <i class="icon-Support"></i>
                    </h3>
                    <div class="page-title l-height-md">
                        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                        <%= t('ticket support') %>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="font-weight-normal english-font text-black md-sm-fontsize l-height-1">34</h5>
                            <h6 class="font-weight-normal text-blue sm-md-fontsize"> <%= t('Ticket') %></h6>
                        </div>
                        <div class="col-md-4">
                            <div class="text-left">
                                <a href="#" class="self-icon-crcl text-hover-white mrg-left-xs bg-dgray hover-bg-brand text-white sm-lg-fontsize">0</a> 
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-6 col-xs-12">
                <section class="section home-bottom-detail bg-white pad-top-md pad-bottom-md hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                        <i class="icon ic-icons-88"></i>
                    </h3>
                    <div class="page-title l-height-md">
                        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                        <%= t('Bank Accounts') %>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="font-weight-normal english-font text-black md-sm-fontsize l-height-1">3</h5>
                            <h6 class="font-weight-normal text-blue sm-md-fontsize"><%= t('Charge Account') %></h6>
                        </div>
                        <div class="col-md-4">
                            <div class="text-left">
                                <a href="#" class="self-icon-crcl text-hover-white icon-Plus-white mrg-left-xs bg-blue hover-bg-brand text-white sm-lg-fontsize"></a> 
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-5 padding-hor-md hlf-btm col-sm-12">
        <section class="padding-hor-lg bg-white pad-top-md pad-bottom-md hlf-btm hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
            <div class="padding-hor-lg hlf-btm mrg-bottom-md">
                <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                  <i class="icon-History"></i>
                </h3>
                <div class="page-title l-height-md">
                    <div class="row row-default">
                        <div class="col-xs-6">
                            <h4 class="md-lg-fontsize text-dbrand font-weight-normal">
                            <%= t('Last Operations') %>
                            </h4>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-left">
                                <a href="" class="btn md-padding radius-md iconic text-blue text-hover-white border-blue bg-white hover-bg-brand">
                                <i class="icon-Support"></i>  <%= t('customer service') %>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listing-section">
                <div class="row row-sm">
                    
                    
                   
                    
                    
                    
                    
                </div>
            </div>
        </section>
    </div>
    </div>
    

    <div id="cart-balanc" class="selfpopup">
            <div class="selfpopup-bg">
            </div>
            <div class="selfpopup-content">
                <div class="selfpopup-inner">
                    <div class="selfpopup-middle">
                        <div class="padding-all-sm">
                            <div class="cart-balance selfpopup-caption">
                                <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                    <h4 class="icon-img-pp mrg-bottom-sm">
                                        <img src="<%= format_link(request) %>/assets
/imgs/check.png" alt="check">
                                    </h4>
                                    <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm">
        <% if @notification.controller == "User_wallet_ballence/walletstransferpost" or @notification.controller == "User_wallet_ballence_frozen"  %>
        <% @testt = @notification.stats.to_s.split('/') %>
        <% @shown_msg = t(@testt[0]) + ' '+@testt[1]+' '+t(@testt[2]) + ' '+@testt[3].to_s+ ' '+t(@testt[4])+' '+@testt[5].to_s %>
        <% elsif @notification.controller == "balances_withdraws" or @notification.controller == "chargecart" %>
        <% @withdraw = @notification.stats.to_s.split('/') %>
        <% @shown_msg = t(@withdraw[0]) + ' '+@withdraw[1]+' '+t(@withdraw[2]) + ' '+@withdraw[3].to_s %>
        <% elsif @notification.controller == "User_wallet_ballence"  %>
        <% @testt1 = @notification.stats.to_s.split('/') %>
        <% @shown_msg = t(@testt1[0]) + ' '+t(@testt1[1])  %>
        <% elsif @notification.controller == "users_bank" or @notification.controller == "buycart" or @notification.controller == "Ticket"  %>
        <% @test2 = @notification.stats.to_s.split('/') %>
        <% @shown_msg = t(@test2[0]) + ' '+ @test2[1]  %>  
        <% elsif @notification.controller == "failed signin" %>
        <% @test2 = @notification.stats.to_s.split('/') %>
        <%# @shown_msg = t(@test2[0])+' ' + 'IP' + t(@test2[1]) + t('Device Type') + ' '+ t(@test2[2])+' ' + t('Operating System') + ' '+ t(@test2[3])+' '+t(@test2[4])+t('Browser')+' '+t(@test2[5])%>  


        <% @shown_msg = t(@test2[0])+' ' + 'IP'+' ' + @test2[1] +' '+ t('Device Type') + ' '+ @test2[2]+' ' + t('Operating System') + ' '+ @test2[3]+' '+ @test2[4]+' ' +t('Browser')+' '+ @test2[5]%>  

        
        <% else %>
        <% @shown_msg = @notification.stats %>
        <% end %>
                                     <%= @shown_msg %></h5>
                                    <p class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                                            <%= @notification.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>                                       
                                    </p>
                                </div>
                                <div class="crcl-animation">
                                    <span class="lg-crcl"></span>
                                    <span class="md-crcl"></span>
                                    <span class="sm-crcl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    











































