<% if current_userd.role_id == 1 %>
<p id="notice"><%= notice %></p>

<h1><%= t('Notifications') %></h1>

<% if @notifications1 == nil  %>
<%= 'No Notifications' %>
<% else %>
 <div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
     <!-- <th><%= t('User') %></th>
       <th><%= t('From User') %></th>
       <th><%= t('Foreign') %></th>
       <th><%= t('Controller') %></th> -->
       <th><%= t('statistics') %></th>
       <th><%= t('note type') %></th>
       <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications1.each do |notification| %>
      <tr>
       <!-- <td><%= notification.user_id %></td>
         <td><%= notification.addeduser_id %></td>
         <td><%= notification.foreign_id %></td>
         <td><%= notification.controller %></td> -->
         <td><%= notification.stats %></td>
         <td><%= notification.notetype %></td>
         <td><%# link_to 'Show', notification %></td>
        <td><%# link_to t('Edit'), edit_notification_path(notification) %></td>
		<td><%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, notification, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' => t('Destroy')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>
<br>
<%= will_paginate @notifications1,:param_name => 'active_page', :previous_label => t("previous"), :next_label => t("next") %>
<% end %>
<%# link_to 'New Notification', new_notification_path %>
<% else %>
<%= 'Not allowed'%>
<% end %>