<script src="<%= format_link(request) %>/assets/js/app.min.js"></script>
    <!-- <script src="/jquery.lazyload.js"></script> -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

<!doctype html>
<!-- <html dir='ltr' lang="en"> -->

<head>
<!-- <script src="assets/js/jquery.js"></script> -->
   <script type="text/javascript">
       $(document).ready(function(){
        $("#submit_review").attr("disabled", true);
        $('input[id="tel"]').click(function(){
            $("#tel_hidden").show();
            $("#nationalid_hidden").hide();
            $("#tel_check").attr("telstatus", "done");
            $("#id_check").attr("idstatus", "");
            $("#submit_review").attr("disabled", false);

        })

        $('input[id="nationalid"]').click(function(){
            $("#nationalid_hidden").show();
            $("#nationalid_hidden").attr("required", "true");
            $("#id_check").attr("idstatus", "done");
            $("#tel_check").attr("telstatus", "");
            $("#submit_review").attr("disabled", false);


            $("#tel_hidden").hide();
        })


        $('#submit_review').click(function(){
        
         var intlNumber = $("#phone").intlTelInput("getNumber");
         $('#tel_user').val(intlNumber);
        // alert(intlNumber);
         $("#new_userd").submit();

           // $("#nationalid_hidden").hide();
        })


       })

        

       
   </script> 
    <!-- SEO -->
    <title>Lost Password</title>
    <link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-rtl.css" />
    
</head>
<!-- || head area end || -->
<!-- || page body start || -->
<%# bootstrap_devise_error_messages! %>
<body id="login-page">
    <div class="bannerpage bg-white min-f-height-vh pos-relative">
        <div class="logo-postion pos-absolute">
            <div class="logo-section">
                <a href="/" class="b-boxshadow">
                <img src="<%= format_link(request) %>/assets/imgs/white-logo.png" alt="white-logo" class="f-width">
            </a>
            </div>
        </div>
        <div class="bannersection pos-absolute f-height">
            <figure>
                <img src="<%= format_link(request) %>/backgrounds/16.jpeg"  class="imagecover pos-absolute">
            </figure>
            <div class="pos-absolute f-width padding-hor-lg bannersection-caption clearfix">
            </div>
        </div>
        <div class="formsection padding-hor-md box-size">
            <div class="formwrap pad-left-sm f-width pad-right-sm hlf-e-btm">



              <%# form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>

              <%# form_for(:userd , url: userds_password_forgot_path, html: { id: "theform" ,method: :post, role: "form" }) do |f| %>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

                
                <%= devise_error_messages! %>
                <%# debug(devise_error_messages!) %>

                
                <div class="self-label">
                    <label>                       
                       <%= f.email_field :email, autofocus: true, class: 'selfinput', :required => true %>
                       <span class="placeholder-span"><%= t('email') %></span>                      
                    </label>
                </div><br>
                <span id="" style="color:black;">يرجى إدخال إحدى المعلومات التالية لتأكيد الطلب</span><br><br>
                <input type="radio" name="forget_pass" id="tel" class="placeholder-span">
                <span class="placeholder-span"><%= t('phone') %></span>
                <span id="tel_check" style= "display:none" telstatus= ""></span>


                        <div class="phone-number" id="tel_hidden" style="display: none">
                            
                             <input type="tel" id="phone">
                             <%= f.hidden_field :tel ,:id=>'tel_user' %>
                             <%# f.text_field :tel ,:id=>'phone',:type => "tel"  %>
                            <span id='wrong-messege1' style="color:red;font-weight:bold ;display:none"></span>
                            <span id='true-messege1' style="color:green;font-weight:bold ;display:none"></span>

                            <span id="valid-msg" class="hide">✓</span>
                            <span id="error-msg" class="hide">✗</span>
                        </div>

                  <!-- <div class="self-label" id="tel_hidden" style="display: none">
                    <label>                       
                       <%# f.text_field :tel ,:id=>'tel_user', autofocus: true, class: 'selfinput' %>
                    </label>
                </div> -->

                <input type="radio" name="forget_pass" id="nationalid" class="placeholder-span">
                <span class="placeholder-span"><%= t('nationalid') %></span>
                <span id="id_check" style= "display:none" idstatus= ""></span> 

                <div class="self-label" id="nationalid_hidden" style="display: none">
                    <label>                       
                       <%= f.text_field :nationalid, autofocus: true, class: 'selfinput' %>
                    </label>
                </div><br><br>

                                        <div class="g-recaptcha" data-sitekey="6Le_yFcUAAAAAJQgYtQemO-s0joMtHpm-21ax1mr"></div>


                <div class="row row-default l-height-md padding-ver-md">
                    <div class="col-xs-12">
                        <div class="text-left">
                          <%# f.submit t('.send_me_reset_password_instructions', default: 'عاجرتسإ ةملك رورملا'),id: 'thesubmit', class: 'btn-shadow radius-md btn text-white text-hover-brand bg-black hover-bg-blue md-padding' %>
                       <button type="button" id='submit_review' class="btn-shadow radius-md btn text-white text-hover-brand bg-black hover-bg-blue md-padding"> <%= t('.send_me_reset_password_instructions', default: 'عاجرتسإ ةملك رورملا') %>  </button>

                         
                           <% end %>
                        </div>
                    </div>
                </div>
            </div>
           <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">

            <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                        <%= t('All Rights Reserved Owned by Payers')%> @ <%= Time.current.year%>
                    </p>
            <ul class="footer-ul sm-sm-fontsize font-bold">
				<li><a href="https://support.payers.net/support/solutions" target="_blank"><%= t('How To Use') %></a></li>
			<li><a href="https://www.payers.net/privacy.html" target="_blank"><%= t('Privacy Policy') %></a></li>
			<li><a href="https://www.payers.net/money-laundry.html" target="_blank"><%= t('Money Landury') %></a></li>
		    </ul>


        </footer>

        <% flash.each do |name, msg| %>
<div class="alertmsg-10">
        <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">
    <span class="ico icon ic-right text-green"></span>
    <h5 class="sm-lg-fontsize text-dgray font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h5>
    <p class="sm-md-fontsize text-mgray"><%= notice %></p>

    <span class="alert-close icon-Plus-white"><%# alert %></span>

    <!-- <span class="alert-close icon-Plus-white"><%# devise_error_messages! %></span> -->
    

    
    
</div>
</div>
<% end %>


        </div>
      </div>
    </div>
    <!-- || footer scripts start || -->
   <!--  <script src="resources/js/jquery.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/slick.min.js"></script> -->
    <!-- || footer scripts ends || -->
</body>
<!-- || page body ends || -->
<%# render 'devise/shared/links' %>
</html>