
<!doctype html>
<html dir='rtl' lang="ar">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>Homepage | Dashboard</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="" />
    <link rel="publisher" href="" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:image:src" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />

    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://payers.net/" />
    <meta property="og:image" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />

    <!-- Schema -->
    <script type="application/ld+json">
        { "@context": "http://schema.org", "@type": "webSite", "url": "http://www.crtivo.studio", "name": "12 Cups Website", "description": "for selling coffee " }
    </script>

    <!-- other SEO info -->
    <meta name="revisit-after" content="5 days">
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="general" />
    <meta name="author" content="" />
    <meta name="copyrights" content="" />
    <meta name="alexaVerifyID" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rsslink" />

    <!-- FavsIcons -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="<%= format_link(request) %>/assets/imgs/icon.png" />
    <link rel="apple-touch-startup-image" href="<%= format_link(request) %>/assets/imgs/home.png" />

    <!-- Head Inc -->
    <!-- <script data-pace-options='{ "ajax": false, "elements": false, "restartOnRequestAfter": false, "restartOnPushState":false }' src="resources/js/pace.js"></script> -->
	<link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-rtl.css" />
	<script src="<%= format_link(request) %>/assets/js/app.min.js"></script>

    <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->

    <!-- Google Analytices Code -->
    <script>
    </script>

</head>
<!-- || head area end || -->

<!-- || page body start || -->

<body class="home-page">
    <div class="intro-page">
        <header>
            <div class="container">
                <div class="logo">
                    <img src="<%= format_link(request) %>/assets/imgs/logo.svg" alt="Payerz">
                </div>
                <div class="menu">
                    <a href="#" title="Menu Toggle">
                        <span></span>
                    </a>
                    <ul>
                        <li><a href="#" title="اللنك الأول">اللنك الأول</a></li>
                        <li><a href="#" title="اللنك الأول">اللنك الأول</a></li>
                        <li><a href="#" title="اللنك الأول">اللنك الأول</a></li>
                        <li><a href="#" title="اللنك الأول">اللنك الأول</a></li>
                        <li><a href="#" title="اللنك الأول">اللنك الأول</a></li>
                    </ul>
                </div>
                <div class="merchants-features">
                    <a href="#" class="btn text-hover-white text-white bg-black border-black md-padding radius-md hover-bg-brand drak bgbtn">مميزات التجار</a>
                </div>
                <div class="my-account">
                    <a href="#" class="text-black md-sm-fontsize"><img src="<%= format_link(request) %>/assets/imgs/my-account.svg" alt="Payerz"> حسابي</a>
                </div>
            </div>
        </header>

        <div class="intro-page__intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <div class="intro-section">
                            <div class="section">
                                <div class="section__title">
                                    <h2>نظام الدفع الأكثر سهولة و فاعلية</h2>
                                </div>
                                <div class="section__text">
                                    <p>عبر بايرز يمكنك سداد اى مبالغ مادية عبر اكثر من مئة طريقة دفع نوفرها ناهيك عن القيام بذلك فى لحظات بسيطة.</p>
                                </div>
                                <div class="section__buttons">
                                    <a href="#" class="btn text-brand text-hover-black subscribe-btn btn-panel"><i></i> تجربة لوحة التحكم</a>
                                    <a href="#" class="btn border-black text-black bg-white padding-hor-lg radius-md hover-bg-brand text-hover-white btn-subscribe">إشترك الأن</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        <div class="intro-art"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-page__panel">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-features animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
                            <div class="vertical-dots"></div>
                            <div class="intro-section">
                                <div class="section">
                                    <div class="section__title">
                                        <h2>اكثر من ٣٠ طريقة دفع 1</h2>
                                    </div>
                                    <div class="section__text">
                                        <p>عبر بايرز يمكنك سداد اى مبالغ مادية عبر اكثر من مئة طريقة دفع نوفرها ناهيك عن القيام بذلك فى لحظات بسيطة.</p>
                                    </div>
                                    <div class="section__buttons">
                                        <a href="#" class="btn border-black text-white bg-black padding-hor-lg radius-md hover-bg-brand text-hover-white">نظم الدفع المتاحة</a>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-section">
                                <div class="section">
                                    <div class="section__title">
                                        <h2>اكثر من ٣٠ طريقة دفع 2</h2>
                                    </div>
                                    <div class="section__text">
                                        <p>عبر بايرز يمكنك سداد اى مبالغ مادية عبر اكثر من مئة طريقة دفع نوفرها ناهيك عن القيام بذلك فى لحظات بسيطة.</p>
                                    </div>
                                    <div class="section__buttons">
                                        <a href="#" class="btn border-black text-white bg-black padding-hor-lg radius-md hover-bg-brand text-hover-white">نظم الدفع المتاحة</a>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-section">
                                <div class="section">
                                    <div class="section__title">
                                        <h2>اكثر من ٣٠ طريقة دفع 3</h2>
                                    </div>
                                    <div class="section__text">
                                        <p>عبر بايرز يمكنك سداد اى مبالغ مادية عبر اكثر من مئة طريقة دفع نوفرها ناهيك عن القيام بذلك فى لحظات بسيطة.</p>
                                    </div>
                                    <div class="section__buttons">
                                        <a href="#" class="btn border-black text-white bg-black padding-hor-lg radius-md hover-bg-brand text-hover-white">نظم الدفع المتاحة</a>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-section">
                                <div class="section">
                                    <div class="section__title">
                                        <h2>اكثر من ٣٠ طريقة دفع 4</h2>
                                    </div>
                                    <div class="section__text">
                                        <p>عبر بايرز يمكنك سداد اى مبالغ مادية عبر اكثر من مئة طريقة دفع نوفرها ناهيك عن القيام بذلك فى لحظات بسيطة.</p>
                                    </div>
                                    <div class="section__buttons">
                                        <a href="#" class="btn border-black text-white bg-black padding-hor-lg radius-md hover-bg-brand text-hover-white">نظم الدفع المتاحة</a>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-section">
                                <div class="section">
                                    <div class="section__title">
                                        <h2>اكثر من ٣٠ طريقة دفع 5</h2>
                                    </div>
                                    <div class="section__text">
                                        <p>عبر بايرز يمكنك سداد اى مبالغ مادية عبر اكثر من مئة طريقة دفع نوفرها ناهيك عن القيام بذلك فى لحظات بسيطة.</p>
                                    </div>
                                    <div class="section__buttons">
                                        <a href="#" class="btn border-black text-white bg-black padding-hor-lg radius-md hover-bg-brand text-hover-white">نظم الدفع المتاحة</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="control-panel animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
                            <div class="control-panel__images clearfix">
                                <ul>
                                    <li>
                                        <div class="card-data">
                                            <img src="<%= format_link(request) %>/assets/imgs/panel.png" alt="Panel">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card-data">
                                            <img src="<%= format_link(request) %>/assets/imgs/panel.png" alt="Panel">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card-data">
                                            <img src="<%= format_link(request) %>/assets/imgs/panel.png" alt="Panel">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card-data">
                                            <img src="<%= format_link(request) %>/assets/imgs/panel.png" alt="Panel">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card-data">
                                            <img src="<%= format_link(request) %>/assets/imgs/panel.png" alt="Panel">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-page__steps">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="intro-section animated" data-animate-in="slideInRight" data-animate-out="slideOutRight">
                            <div class="section">
                                <div class="section__title">
                                    <h2>خطوات بسيطه تحافظ على وقتك</h2>
                                </div>
                                <div class="section__text">
                                    <p>يمكنك إستخدام بايرز فى من خلال إتباع خطوات بسيطه جدا تبدأ بالتسجيل و تنتهى بتحويل أول مبلغ مالى من حسابك !</p>
                                </div>
                            </div>
                        </div>
                        <div class="steps">
                            <ul>
                                <li class="animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
                                    <div class="steps__content">
                                        <div class="content">
                                            <div class="icon"><img src="<%= format_link(request) %>/assets/imgs/register-icon.svg" alt="Panel"></div>
                                            <div class="desc">الإشتراك فى الموقع</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
                                    <div class="steps__content">
                                        <div class="content">
                                            <div class="icon"><img src="<%= format_link(request) %>/assets/imgs/charge.svg" alt="Panel"></div>
                                            <div class="desc">تعبئة رصيدك</div>
                                        </div>
                                        <div class="fill-button">
                                            <a href="#" title="Balance refill">+</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
                                    <div class="steps__content">
                                        <div class="content">
                                            <div class="icon"><img src="<%= format_link(request) %>/assets/imgs/add-users.svg" alt="Panel"></div>
                                            <div class="desc">أضف مستفيد</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
                                    <div class="steps__content">
                                        <div class="content">
                                            <div class="icon"><img src="<%= format_link(request) %>/assets/imgs/paynow.svg" alt="Panel"></div>
                                            <div class="desc">إدفع اموالك الأن!</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-page__gateways">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gateways">
                            <div class="intro-section">
                                <div class="section">
                                    <div class="section__title text-center">
                                        <h2>! هذا ليس كل شئ بعد</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="canvas-container animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
                                <canvas width="1140" height="900" style="width: 100%" id="gateways-canvas">
                                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                                    <ul id="gateWaysList" style="display: none;">
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/2checkout-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/AliPay-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Amazon-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/AmericanExpress-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/ApplePay-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Bancontact-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Bitcoin-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Bitpay-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Cirrus-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Coinkite-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/DinersClub-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/DirectDebit-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Discover-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Ebay-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Eway-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/GiroPay-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/GoogleWallet-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Ingenico-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/JCB-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Klarna-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Laser-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Maestro-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/MasterCard-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Ogone-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Neteller-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/OkPay-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Paybox-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Paymill-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Payoneer-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Paypal-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/PayU-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Payza-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Ripple-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Sage-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Sepa-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Shopify-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Skrill-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Solo-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Square-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Stripe-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Switch-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Ukash-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/UnionPay-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Verifone-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/VeriSign-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/Visa-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/WebMoney-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/WesternUnion-light.svg"></a></li>
                                        <li><a href="#"><img src="<%= format_link(request) %>/assets/imgs/gateways/WorldPay-light.svg"></a></li>
                                    </ul>
                                </canvas>
                            </div>
                            <div class="gateways__content animated" data-animate-in="fadeIn" data-animate-out="fadeOut">
                                <div class="intro-section text-center">
                                    <div class="section">
                                        <div class="section__text">
                                            <p>وفرنا فى بايرز العديد و العديد من طرق الدفع , و مازلنا نعمل على توفير المزيد</p>
                                        </div>
                                        <div class="section__buttons">
                                            <a href="#" class="btn text-brand text-hover-black subscribe-btn btn-panel"><i></i> تجربة لوحة التحكم</a>
                                            <a href="#" class="btn border-black text-black bg-white padding-hor-lg radius-md hover-bg-brand text-hover-white btn-subscribe">إشترك الأن</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-links">
                            <div class="footer-links__title">
                                <h2>تعرف على بايرز</h2>
                            </div>
                            <div class="footer-links__list">
                                <ul>
                                    <li><a href="#" title="طرق شراء كروت الشحن">طرق شراء كروت الشحن</a></li>
                                    <li><a href="#" title="طرق الدفع و التحويل المتاحة">طرق الدفع و التحويل المتاحة</a></li>
                                    <li><a href="#" title="طرق التحويلات">طرق التحويلات</a></li>
                                    <li><a href="#" title="قائمة المصاريف الإدارية">قائمة المصاريف الإدارية</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-links">
                            <div class="footer-links__title">
                                <h2>تسجيل التجار</h2>
                            </div>
                            <div class="footer-links__list">
                                <ul>
                                    <li><a href="#" title="الإشتراك فى عضوية التاجر">الإشتراك فى عضوية التاجر</a></li>
                                    <li><a href="#" title="مميزات إشتراك التجار">مميزات إشتراك التجار</a></li>
                                    <li><a href="#" title="العروض الخاصة بالتاجر">العروض الخاصة بالتاجر</a></li>
                                    <li><a href="#" title="معلومات المطورين و APIs">معلومات المطورين و APIs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-links">
                            <div class="footer-links__title">
                                <h2>الدعم و المساعدة</h2>
                            </div>
                            <div class="footer-links__list">
                                <ul>
                                    <li><a href="#" title="الأسئلة الشائعة">الأسئلة الشائعة</a></li>
                                    <li><a href="#" title="طلبات الدعم الفنى">طلبات الدعم الفنى</a></li>
                                    <li><a href="#" title="تواصل معنا">تواصل معنا</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyrights__links">
                                <ul>
                                    <li><a href="#" title="إتفاقية الإستخدام">إتفاقية الإستخدام</a></li>
                                    <li><a href="#" title="سياسة الخصوصية">سياسة الخصوصية</a></li>
                                    <li><a href="#" title="من نحن">من نحن</a></li>
                                    <li><a href="#" title="تواصل معنا">تواصل معنا</a></li>
                                    <li><a href="#" title="استثمر فى بايرز">استثمر فى بايرز</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="copyrights__info">
                                <p><img src="<%= format_link(request) %>/assets/imgs/logo-black.svg" alt=""> © 2017 Payers.net Ltd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

<!-- || footer scripts start || -->
<script src="<%= format_link(request) %>/assets/js/app.min.js"></script>
<!-- || footer scripts ends || -->

</body>
<!-- || page body ends || -->

</html>