<%= form_for(@user_verification) do |f| %>
  <% if @user_verification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_verification.errors.count, "error") %> prohibited this user_verification from being saved:</h2>

      <ul>
      <% @user_verification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :nationalid_type %><br>
    <%= f.number_field :nationalid_type %>
  </div>
  <div class="field">
    <%= f.label :nationalid_no %><br>
    <%= f.number_field :nationalid_no %>
  </div>
  <div class="field">
    <%= f.label :nationalid_country %><br>
    <%= f.text_field :nationalid_country %>
  </div>
  <div class="field">
    <%= f.label :nationalid_issued_by %><br>
    <%= f.text_field :nationalid_issued_by %>
  </div>
  <div class="field">
    <%= f.label :nationalid_start_date %><br>
    <%= f.date_select :nationalid_start_date %>
  </div>
  <div class="field">
    <%= f.label :nationalid_expire_date %><br>
    <%= f.date_select :nationalid_expire_date %>
  </div>
  <div class="field">
    <%= f.label :nationalid_birth_date %><br>
    <%= f.date_select :nationalid_birth_date %>
  </div>
  <div class="field">
    <%= f.label :address_document_type %><br>
    <%= f.number_field :address_document_type %>
  </div>
  <div class="field">
    <%= f.label :address_line1 %><br>
    <%= f.text_field :address_line1 %>
  </div>
  <div class="field">
    <%= f.label :address_line2 %><br>
    <%= f.text_field :address_line2 %>
  </div>
  <div class="field">
    <%= f.label :address_document_city %><br>
    <%= f.text_field :address_document_city %>
  </div>
  <div class="field">
    <%= f.label :address_document_country %><br>
    <%= f.text_field :address_document_country %>
  </div>
  <div class="field">
    <%= f.label :address_document_postal_code %><br>
    <%= f.number_field :address_document_postal_code %>
  </div>
  <div class="field">
    <%= f.label :credit_card_type %><br>
    <%= f.number_field :credit_card_type %>
  </div>
  <div class="field">
    <%= f.label :credit_card_name %><br>
    <%= f.text_field :credit_card_name %>
  </div>
  <div class="field">
    <%= f.label :credit_card_last4nos %><br>
    <%= f.number_field :credit_card_last4nos %>
  </div>
  <div class="field">
    <%= f.label :credit_card_expire_date %><br>
    <%= f.date_select :credit_card_expire_date %>
  </div>
  <div class="field">
    <%= f.label :nationalid_verified %><br>
    <%= f.number_field :nationalid_verified %>
  </div>
  <div class="field">
    <%= f.label :address_document_verified %><br>
    <%= f.number_field :address_document_verified %>
  </div>
  <div class="field">
    <%= f.label :credit_card_verified %><br>
    <%= f.number_field :credit_card_verified %>
  </div>
  <div class="field">
    <%= f.label :selfie_verified %><br>
    <%= f.number_field :selfie_verified %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
