 


<h1> تفعيل العنوان</h1>



  <%= form_for @user_verifications, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>




  <p>
    <%= f.label t('صورة اثبات العنوان') %><br />
    <%= f.file_field  :address_document,:class => 'form-control' %>
  </p>






<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>



<% end %>


