  <%= javascript_include_tag "rails" %>


<h1><%= t('حسابات الاعضاء غير المفعلة') %></h1>


<br />

 <div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns">
<table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('اسم المستخدم') %></th>
      <th><%= t('تفعيل بطاقة الهوية') %></th>

      <th><%= t('تفعيل العنوان') %></th>
      <th><%= t('تفعيل بطاقة الدفع') %></th>
      <th><%= t('تفعيل صورة سيلفي') %></th>
      <th><%= t('مراجعة') %></th>

    </tr>
  </thead>

  <tbody>
    <% @user_verifications.each do |user_verification| %>

      <tr>
        <td><%
          @user = Userd.find(user_verification.user_id)
          
         %><%=   @user.name %>

        </td>

        
        <td>

		<%= link_to image_tag('/style/images/icon_'+user_verification.nationalid_verified.to_s+'.png')  %>

       </td>

       <td>

		<%= link_to image_tag('/style/images/icon_'+user_verification.address_document_verified.to_s+'.png')  %>

       </td>

       <td>

		<%= link_to image_tag('/style/images/icon_'+user_verification.credit_card_verified.to_s+'.png')   %>

       </td>

       <td>

		<%= link_to image_tag('/style/images/icon_'+user_verification.selfie_verified.to_s+'.png')  %>

       </td>

       <td>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe, user_verification, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					



       </td>




       
      </tr>
    <% end %>
  </tbody>
</table></div></div>
<%# will_paginate @users, :param_name => 'page', :prev_label => t('helpers.labels.previous'), :next_label => t('helpers.labels.next') %>

<br>

