  
  <% content_for :title, t('User Verification') %>
        <% content_for :icon, 'Dashboard' %>

                <section class="section mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <div class="pos-relative">
                        <div class="title-line sm-f-width">
                            <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                <i class="ico icon-wallet"></i>
                            </h3>
                            <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal"> <%= t('account verification') %></h4>
                        </div>
                        <div class="self-tabs self-tabs--no-top text-center">
                            <ul class="self-tabs-list">

                                <li id= "national_verify">
                                    <a href="#">
                                        <span class="ico">
                                            <i class="icon-credit-card"></i>

                                        </span>
                                        <span class="selftbas-title"><%= t('Identity verification') %></span>
                                    </a>
                                </li>

                                <li  id= "address_verify">
                                    <a href="#">
                                        <span class="ico">
                                                <i class="icon-user-cert"></i>
                                            </span>
                                        <span class="selftbas-title"><%= t('Address proof') %></span>
                                    </a>
                                </li>

                                <li id= "selfie_verify">
                                    <a href="#">
                                        <span class="ico">
                                            <i class="icon-home"></i>
                                        </span>
                                        <span class="selftbas-title"><%= t('Selfie Photo') %></span>
                                    </a>
                                </li>
                                <li id= "all_verify">
                                    <a href="#">
                                        <span class="ico">
                                            <i class="icon-user-check"></i>
                                        </span>
                                        <span class="selftbas-title"><%= t("all verified")%></span>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </section>



                                <!-- *************************************selfie section******************************** -->
                                <div class="row" id = "selfie_section">
                                        <div class="col-md-8">
                                            <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                                                <div class="id-verify id-verify--verified">
                                                    
                                                        <% if @user_verifications.selfie_verified == 1  %>
                    
                                                        <div class="id-verify__icon">
                                                            <img src="<%= format_link(request) %>/assets/imgs/id-icon.png" alt="">
                                                            <span><%= t('Selfie Photo') %> <%# t('Front Image') %></span>
                                                        </div>
                                                        <div class="id-verify__desc">
                                                            <p><%= t('Please provide a photo of yourself holding the passport with A full-face with nothing covering your face and no make-up and ID number and name must be clearly visible') %> </p>
                        
                                                        </div>
                                                        <div class="id-verify__button">
                                                            <a href="#" class="btn md-padding radius-md bg-green text-white hover-bg-brand text-hover-white"><%= t('The review has been completed') %></a>
                                                        </div>
                        
                                                        <% end %>
                        
                    
                    
                                                        <% if @user_verifications.selfie_verified == 2   %>
                    
                                                        <div class="id-verify__icon">
                                                            <img src="<%= format_link(request) %>/assets/imgs/id-icon.png" alt="">
                                                            <span><%= t('Selfie Photo') %> <%# t('Front Image') %></span>
                                                        </div>
                                                        <div class="id-verify__desc">
                                                            <p><%= t('Please provide a photo of yourself holding the passport with A full-face with nothing covering your face and no make-up and ID number and name must be clearly visible') %> </p>
                        
                                                        </div>
                                                        <div class="id-verify__button">
                                                            <a href="#" class="btn md-padding radius-md bg-green text-white hover-bg-brand text-hover-white"><%= t('Your request is currently in review') %></a>
                                                        </div>
                        
                                                        <% end %>
                        
                        
                        
                                                        <% if @user_verifications.selfie_verified == 0 %>
                        
                                                        <div class="id-verify__icon">
                                                                <img src="<%= format_link(request) %>/assets/imgs/card-icon.png" alt="">
                                                                <span><%= t('Selfie Photo') %> <%# t('Back Image') %> </span>
                                                            </div>
                            
                            
                                                            <div class="id-verify__desc">
                                                            <p><%= t('Please provide a photo of yourself holding the passport with A full-face with nothing covering your face and no make-up and ID number and name must be clearly visible') %> </p>
                                                            </div>
                                                            
                                                            <div class="id-verify__button">
                                                                <a href="/help_center" class="btn md-padding radius-md bg-black text-white hover-bg-brand text-hover-white"><%= t('Need Help') %></a>
                                                            </div>
                            
                                                            <% end %>
                                             
                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                    
                                                <% if @user_verifications.selfie_verified == 1 %>
                     
                                                <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
                                               <div class="id-verify-status id-verify-status--verified">
                                                    <div class="id-verify-status__icon"><i class="icon-Valid-Doc"></i></div>
                                                    <div class="id-verify-status__title">
                                                        <h2><%= t('The review has been completed') %></h2>
                                                    </div>
                                                    <div class="id-verify-status__desc">

                                                         <p><%= t("You Can Review Document Presented") %> <a  href="<%= get_attachment(request,@user_verifications.selfie,"link") %>" target="_blank"  id= "open_selfie1" ><%= t("From Here") %></a></p>

                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                    
                    
                                            <% if @user_verifications.selfie_verified == 2  %>
                     
                                                <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
                                               <div class="id-verify-status id-verify-status--verified">
                                                    <div class="id-verify-status__icon"><i class="icon-Valid-Doc"></i></div>
                                                    <div class="id-verify-status__title">
                                                        <h2><%= t('Your request is currently in review') %></h2>
                                                    </div>
                                                    <div class="id-verify-status__desc">
                                                         <p><%= t("You Can Review Document Presented") %> <a  href="<%= get_attachment(request,@user_verifications.selfie,"link") %>" target="_blank" id= "open_selfie2" ><%= t("From Here") %></a></p>

                                      <%# image_tag user_profile(current_userd.id) , :class => "radiu-crlc imagecover" ,:alt => 'user-notification'%>

                                                        
                                                        </div>
                                                </div>
                                            </div>
                                            <% end %>
                    
                    
                                                <% if @user_verifications.selfie_verified == 0 %>
                    
                                            <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                                                    <%= form_for @user_verifications, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
                    
                                                
                                                    <%= f.hidden_field :selfie_verified, :value => "2"%>               

                                                <div class="image-media-section image-media-section--padding-sm mrg-bottom-sm">
                                                        <div class="media-scroll-inner">
                        
                        
                                                        <div class="self-img-upload text-center">
                                                                <h5 class="sm-lg-fontsize font-weight-normal text-blue"><%= t('Uploade Files Here') %></h5>
                        
                                                                <label class="ext-btn-padding btn border-dgray text-dgray text-hover-white mrg-top-xs mrg-bottom-xs hover-bg-brand sm-padding radius-md">
                                                                <i class="icon ic-icons-329"></i>
                                                                <!-- <input type="file" name="submit" class="sr-only"> -->
                                                                <%= f.file_field  :selfie,:class => 'sr-only',:id => 'pictureInput3',:required => true %>
                                                                
                                                            </label>
                                                            <!-- <h6 class="text-dgray sm-md-fontsize font-weight-normal ">كنكمي بحس و جاردإ تافلملا انه اذإ تبغر</h6> -->
                                                        </div>
                        

                                                        <div class="up-singl-img" id="target3">
                                                            </div>
                        
                        
                                                            <!-- </form> -->
                                                        </div>
                                                    </div>
                        
                                                                       <button type="submit" class="btn md-padding radius-md bg-brand text-white hover-bg-black text-hover-white"><%= t('Proof Identity Now') %> </button>
                    
                    
                    
                                                    <% end %>
                    
                                           
                                            </div>
                                            <%end %>
                                        </div>
                    
                                    </div>
                    
                                    <!-- *************************************end selfie section******************************** -->
                                    
                    
               
                <!-- ************************************* address section******************************** -->

             
                <div class="row" id = "address_section">



                    <div class="col-md-8">
                        <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                            <div class="id-verify id-verify--verified">


                                    <% if  @user_verifications.address_document_verified == 1  %>

                                    <div class="id-verify__icon">
                                        <img src="<%= format_link(request) %>/assets/imgs/id-icon.png" alt="">
                                        <span><%= t('Address proof') %> <%# t('Front Image') %></span>
                                    </div>
                                    <div class="id-verify__desc">
                                        <p><%= t('Please provide Electric Utility Bill, Gas Utility Bill, Phone Bill, or Bank Statement issued within 3 months that has your current residential address') %></p>
    
                                    </div>
                                    <div class="id-verify__button">
                                        <a href="#" class="btn md-padding radius-md bg-green text-white hover-bg-brand text-hover-white"><%= t('The review has been completed') %></a>
                                    </div>
    
                                    <% end %>
    

                                 <% if @user_verifications.address_document_verified == 2   %>

                                    <div class="id-verify__icon">
                                        <img src="<%= format_link(request) %>/assets/imgs/id-icon.png" alt="">
                                        <span><%= t('Address proof') %> <%# t('Front Image') %></span>
                                    </div>
                                    <div class="id-verify__desc">
                                        <p><%= t('Please provide Electric Utility Bill, Gas Utility Bill, Phone Bill, or Bank Statement issued within 3 months that has your current residential address') %></p>
    
                                    </div>
                                    <div class="id-verify__button">
                                        <a href="#" class="btn md-padding radius-md bg-green text-white hover-bg-brand text-hover-white"><%= t('Your request is currently in review') %></a>
                                    </div>
    
                                    <% end %>
    
    
    
                                    <% if @user_verifications.address_document_verified == 0 %>
    
                         
                                    <div class="id-verify__icon">
                                            <img src="<%= format_link(request) %>/assets/imgs/card-icon.png" alt="">
                                            <span><%= t('Address proof') %> <%# t('Back Image') %> </span>
                                        </div>
        
        
                                        <div class="id-verify__desc">
                                        <p><%= t('Please provide Electric Utility Bill, Gas Utility Bill, Phone Bill, or Bank Statement issued within 3 months that has your current residential address') %></p>
                                        </div>
                                        
                                        <div class="id-verify__button">
                                            <a href="/help_center" class="btn md-padding radius-md bg-black text-white hover-bg-brand text-hover-white"><%= t('Need Help') %></a>
                                        </div>
        
                                        <% end %>
                         

                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">


                            <% if @user_verifications.address_document_verified == 1 %>
 
                            <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
                           <div class="id-verify-status id-verify-status--verified">
                                <div class="id-verify-status__icon"><i class="icon-Valid-Doc"></i></div>
                                <div class="id-verify-status__title">
                                    <h2><%= t('The review has been completed') %></h2>
                                </div>
                                <div class="id-verify-status__desc">
                                    <!-- <p><%# t("You Can Review Document Presented") %> <a target="_blank" href="<%# @user_verifications.address_document.url  %>" ><%# t("From Here") %></a></p> -->
                                     <p><%= t("You Can Review Document Presented") %> <a  href="<%= get_attachment(request,@user_verifications.address_document,"link") %>" target="_blank" id= "open_address1" ><%= t("From Here") %></a></p>

                                </div>
                            </div>
                        </div>
                        <% end %>


                        <% if @user_verifications.address_document_verified == 2  %>
 
                            <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
                           <div class="id-verify-status id-verify-status--verified">
                                <div class="id-verify-status__icon"><i class="icon-Valid-Doc"></i></div>
                                <div class="id-verify-status__title">
                                    <h2><%= t('Your request is currently in review') %></h2>
                                </div>
                                <div class="id-verify-status__desc">
                                        <p><%= t("You Can Review Document Presented") %> <a  href="<%= get_attachment(request,@user_verifications.address_document,"link") %>" target="_blank" id= "open_address2" ><%= t("From Here") %></a></p>
                                    </div>
                            </div>
                        </div>
                        <% end %>


                        <% if @user_verifications.address_document_verified == 0 %>
                        
                           <%= form_for @user_verifications, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>

                             <%# f.hidden_field :address_document_verified, :value => "2"%>               


                                                             <!-- Form Of address -->

                        <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                            <div class="self-label">
                                <label class="filled-input">
                                    <%= f.text_field :address_document_type,:class => 'selfinput changestate',:required => true %>
                                    
                                    <span class="placeholder-span"><%= t('Address Proof Type') %></span>
                                </label>
                            </div>

                            <div class="self-label">
                                <label class="filled-input">
                                    <%= f.text_area :address_line1,:class => 'selfinput changestate',:required => true %>
                                    
                                    <span class="placeholder-span"><%= t('First Address') %></span>
                                </label>
                            </div>


                            <div class="self-label">
                                <label class="filled-input">
                                    <%= f.text_area :address_line2,:class => 'selfinput changestate',:required => true %>
                                    
                                    <span class="placeholder-span"><%= t('Second Address') %></span>
                                </label>
                            </div>

                            <div class="select-box">
                                <label><%= t('country') %></label>
                        <%= country_select("user_verification", "address_document_country", {:prompt => t('Select a country')}) %>

                            </div>
                            <div class="self-label">
                                <label class="filled-input">
                                    <%= f.text_field :address_document_city,:class => 'selfinput changestate',:required => true %>
                                    
                                    <span class="placeholder-span"><%= t('city') %></span>
                                </label>
                            </div>






                            <div class="image-media-section image-media-section--padding-sm mrg-bottom-sm">



                                    <div class="media-scroll-inner">
                                            <div action="file-upload">
                                                    <div class="self-img-upload text-center">
                                                        <h5 class="sm-lg-fontsize font-weight-normal text-blue"><%= t('Address Document') %></h5>
                                                        <label class="ext-btn-padding btn border-dgray text-dgray text-hover-white mrg-top-xs mrg-bottom-xs hover-bg-brand sm-padding radius-md">
                                                            <i class="icon ic-icons-329"></i>
                                                            <%= f.file_field  :address_document,:class => 'sr-only',:id => 'pictureInput4',:required => true %>
                
                                                        </label>
                                                    </div>
                                                </div>
                
                
                                                <div class="up-singl-img" id="target4">
                                                    </div>
                
                                          </div>


                               
                            </div>
                            <br>
                            <!-- <a href="#" class="btn md-padding radius-md bg-brand text-white hover-bg-black text-hover-white">تقديم الإثبات</a> -->
                            <button type="submit" class="btn md-padding radius-md bg-brand text-white hover-bg-black text-hover-white"><%= t('Proof Identity Now') %> </button>

                        </div>
                                              <!-- End Form Of address -->

                        <% end %>
                        
                        <% end %>
                        
                    </div>


                </div>

                <!-- *************************************end address section******************************** -->







                 <!-- ************************************* national section******************************** -->


                 <div class="row" id = "national_section">


                        <div class="col-md-8">
                            <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
                                <div class="id-verify id-verify--verified">
    
                                        <% if @user_verifications.nationalid_verified == 1  %>
    
                                    <div class="id-verify__icon">
                                        <img src="<%= format_link(request) %>/assets/imgs/id-icon.png" alt="">
                                        <span><%= t('Identity verification') %> <%# t('Front Image') %></span>
                                    </div>
                                    <div class="id-verify__desc">
                                        <p><%= t('Please provide valid international passport with a clear view of the validity') %> </p>
    
                                    </div>
                                    <div class="id-verify__button">
                                        <a href="#" class="btn md-padding radius-md bg-green text-white hover-bg-brand text-hover-white"><%= t('The review has been completed') %></a>
                                    </div>
    
                                    <% end %>
    
    
                                    <% if @user_verifications.nationalid_verified == 2   %>
    
                                    <div class="id-verify__icon">
                                        <img src="<%= format_link(request) %>/assets/imgs/id-icon.png" alt="">
                                        <span><%= t('Identity verification') %> <%# t('Front Image') %></span>
                                    </div>
                                    <div class="id-verify__desc">
                                        <p><%= t('Please provide valid international passport with a clear view of the validity') %> </p>
    
                                    </div>
                                    <div class="id-verify__button">
                                        
                                        <a href="#" class="btn md-padding radius-md bg-green text-white hover-bg-brand text-hover-white"><%= t('Your request is currently in review') %></a>
                                    </div>
    
                                    <% end %>
    
    
    
                                    <% if @user_verifications.nationalid_verified == 0 %>
    
                                    <div class="id-verify__icon">
                                            <img src="<%= format_link(request) %>/assets/imgs/card-icon.png" alt="">
                                            <span><%= t('Identity verification') %> <%# t('Back Image') %> </span>
                                        </div>
        
        
                                        <div class="id-verify__desc">
                                        <p><%= t('Please provide valid international passport with a clear view of the validity') %> </p>
                                        </div>
                                        
                                        <div class="id-verify__button">
                                            <a href="/help_center" class="btn md-padding radius-md bg-black text-white hover-bg-brand text-hover-white"><%= t('Need Help') %></a>
                                        </div>
        
                                        <% end %>
    
    
                                </div>
                            </div>
                        </div>
    
    
    
                                    <!-- Form Of National Id -->
    
                        <div class="col-md-4">
    
                                <% if @user_verifications.nationalid_verified == 2  %>
                                <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
                                <div class="id-verify-status id-verify-status--verified">
                                    <div class="id-verify-status__icon"><i class="icon-Valid-Doc"></i></div>
                                    <div class="id-verify-status__title">
                                        <h2><%= t('Your request is currently in review') %></h2>
                                    </div>
                                    <div class="id-verify-status__desc">



                                        <p><%= t("You Can Review Document Presented") %>
                                         <a  href="<%= get_attachment(request,@user_verifications.nationalid_front,"link") %>" target="_blank" id= "open_nationalf2" ><%= t("From Here") %>

                                         </a>
                                         </p>
                                        <p><%= t("You Can Review Document Presented") %> 
                                      <a  href="<%= get_attachment(request,@user_verifications.nationalid_back,"link") %>" target="_blank" id= "open_nationalb2" ><%= t("From Here") %>

                                        </a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <% end %>
    
    
                             <% if  @user_verifications.nationalid_verified == 1  %>
                                <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light" data-mh="matchCards">
                                <div class="id-verify-status id-verify-status--verified">
                                    <div class="id-verify-status__icon"><i class="icon-Valid-Doc"></i></div>
                                    <div class="id-verify-status__title">
                                        <h2><%= t('The review has been completed') %></h2>
                                    </div>
                                    <div class="id-verify-status__desc">

                                            <p><%= t("You Can Review Document Presented") %>
                                         <a  href="<%= get_attachment(request,@user_verifications.nationalid_front,"link") %>" target="_blank" id= "open_nationalf1" ><%= t("From Here") %>

                                         </a>
                                         </p>
                                        <p><%= t("You Can Review Document Presented") %> 
                                      <a  href="<%= get_attachment(request,@user_verifications.nationalid_back,"link") %>" target="_blank" id= "open_nationalb1" ><%= t("From Here") %>

                                        </a>
                                        </p>
                                        </div>
                                </div>
                            </div>
                            <% end %>
    
    
    
    
                            <% if @user_verifications.nationalid_verified == 0 %>
                            <%= form_for @user_verifications, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
                            <%# f.hidden_field :nationalid_verified, :value => "2"%>               
    
                            <div class="mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                                <div class="self-label">
                                    <label class="filled-input">
                                        <%= f.text_field :nationalid_no ,:class => 'selfinput changestate',:required => true %>
                                        <!-- <span class="placeholder-span"><%# t('Name as in id') %> </span> -->
                                        <span class="placeholder-span"><%= t('national id') %></span>
    
                                    </label>
                                </div>
    
                                <div class="self-label">
                                        <label class="filled-input">
                                            <%= f.text_field :nationalid_issued_by	 ,:class => 'selfinput changestate',:required => true %>
                                            <!-- <span class="placeholder-span"><%# t('Name as in id') %> </span> -->
                                            <span class="placeholder-span"><%= t('issued by') %></span>
        
                                        </label>
                                    </div>
                                    
                                    <div class="self-label">
                                        <div class="select-box">
                                                <label><%= t('Created At') %></label>
                                        <%= f.date_field :nationalid_start_date , :id => 'b_date',  :class=> 'selfinput',:required => true   %>

                                            </div>
                                </div>
                                <div class="self-label">
                                           
                                    <div class="select-box">
                                            <label><%= t('expire date') %></label>
                                    <%= f.date_field :nationalid_expire_date , :id => 'b_date',  :class=> 'selfinput',:required => true   %>

                                        </div>
                            </div>
                                
                                <!-- <div class="row">
                                    <div class="col-xs-8">
                                       
                                    </div>
                                    <div class="col-xs-4">
                                        
                                    </div>
                                </div>  -->
    
                                <div class="self-label">
                                           
                                        <div class="select-box">
                                                <label><%= t('Birth Date') %></label>
                                        <%= f.date_field :nationalid_birth_date , :id => 'b_date',  :class=> 'selfinput',:required => true   %>
    
                                            </div>
                                </div>
    
    
    
                                   <div class="select-box">
                                        <label><%= t('country') %></label>
                                <%= country_select("user_verification", "nationalid_country", {:prompt => t('Select a country')}) %>
    
                                    </div>
    
    
    
                                <div class="image-media-section image-media-section--padding-sm mrg-bottom-sm">
                                    <div class="media-scroll-inner">
    
    
                                    <div class="self-img-upload text-center">
                                            <h5 class="sm-lg-fontsize font-weight-normal text-blue"><%= t('Front National Id') %></h5>
    
                                            <label class="ext-btn-padding btn border-dgray text-dgray text-hover-white mrg-top-xs mrg-bottom-xs hover-bg-brand sm-padding radius-md">
                                            <i class="icon ic-icons-329"></i>
                                            <%= f.file_field  :nationalid_front,:class => 'sr-only',:id => 'pictureInput1',:required => true %>

                                        </label>
                                        <!-- <h6 class="text-dgray sm-md-fontsize font-weight-normal ">كنكمي بحس و جاردإ تافلملا انه اذإ تبغر</h6> -->
                                    </div>
    
                                    <div class="up-singl-img" id="target1">
                                        </div>
    
    
                                    </div>

                                    <div class="media-scroll-inner">
                                            <div action="file-upload">
                                                    <div class="self-img-upload text-center">
                                                        <h5 class="sm-lg-fontsize font-weight-normal text-blue"><%= t('Back National Id') %></h5>
                                                        <label class="ext-btn-padding btn border-dgray text-dgray text-hover-white mrg-top-xs mrg-bottom-xs hover-bg-brand sm-padding radius-md">
                                                            <i class="icon ic-icons-329"></i>
                                                            <%= f.file_field  :nationalid_back,:class => 'sr-only',:id => 'pictureInput2',:required => true %>
                
                                                        </label>
                                                    </div>
                                                </div>
                
                
                                                <div class="up-singl-img" id="target2">
                                                    </div>
                
                                          </div>


                                </div>
    
    
                                <br>
                                <button type="submit" class="btn md-padding radius-md bg-brand text-white hover-bg-black text-hover-white"><%= t('Proof Identity Now') %> </button>
    
                           
                            </div>
                            <% end %>
                            <% end %>
    
    
                        </div>
    
                                            <!-- End Form Of National Id -->
    
    
    
                    </div>
    
    
                                    <!-- *************************************end national section******************************** -->
    
    


               
                <script>
                

                function show_pop(x){

                    var img =  $(x).attr("href");
              //  alert(img);
                var all = img + " #img_div"


                    $( "#img_div_load" ).load( all, function() {

                                $('#profile-popup').show();

                            });

                    }


                        $("#open_nationalf2").click(function()
                            {
                                show_pop(this);

                            return false;
                                
                            });

                             $("#open_nationalb2").click(function()
                            {
                                show_pop(this);

                            return false;
                                
                            });


                             $("#open_nationalf1").click(function()
                            {
                                show_pop(this);

                            return false;
                                
                            });

                             $("#open_nationalb1").click(function()
                            {
                                show_pop(this);

                            return false;
                                
                            });


                             $("#open_address1").click(function()
                            {
                                show_pop(this);

                            return false;
                                
                            });


                             $("#open_address2").click(function()
                            {
                                show_pop(this);

                            return false;
                                
                            });


                             $("#open_selfie1").click(function()
                            {
                                show_pop(this);

                            return false;
                                
                            });

                             $("#open_selfie2").click(function()
                            {
                                show_pop(this);

                            return false;
                                
                            });



                $(function() {
                        $('#pictureInput4').on('change', function(event) {
                          var files = event.target.files;
                          var image = files[0]
                           var imagesize = image.size/1024/1024 ;                         

                         var comp = image.type.substr(0, 5);
                          $('#target4').html('');

                           if (imagesize > 4){
                            
                            var $el = $(this);
                            $el.wrap('<form>').closest('form').get(0).reset();
                            $el.unwrap();
                            $('#failure-messege').text("<%= t('Your file exceed the allowed size 4Mb') %>");
                            $('#failure-popup').show();

                                     return false;
                          }

                          if (comp != "image"){
                               var $el = $(this);
                                $el.wrap('<form>').closest('form').get(0).reset();
                                     $el.unwrap();
                            $('#failure-messege').text("<%= t('UnSupported File Extension') %>");
      
                            $('#failure-popup').show();

                                     return false;
                          }

                          var reader = new FileReader();
                          reader.onload = function(file) {
                            var img = new Image();
                            console.log(image);
                            img.src = file.target.result;
                            $('#target4').html(img);
                          }
                          reader.readAsDataURL(image);
                          console.log(files);
                        });


                        $('#pictureInput1').on('change', function(event) {
                            
                            var val = $(this).val();
                          var files = event.target.files;
                          var image = files[0]
                           var imagesize = image.size/1024/1024 ;                         
                          //console.log(image.type);
                          var comp = image.type.substr(0, 5);
                          $('#target1').html('');


                             if (imagesize > 4){
                            
                            var $el = $(this);
                            $el.wrap('<form>').closest('form').get(0).reset();
                            $el.unwrap();
                            $('#failure-messege').text("<%= t('Your file exceed the allowed size 4Mb') %>");
                            $('#failure-popup').show();

                                     return false;
                          }


                          if (comp != "image"){
                               var $el = $(this);
                                $el.wrap('<form>').closest('form').get(0).reset();
                                     $el.unwrap();
                            $('#failure-messege').text("<%= t('UnSupported File Extension') %>");
      
                            $('#failure-popup').show();

                                     return false;
                          }
                          var reader = new FileReader();
                          reader.onload = function(file) {
                            var img = new Image();
                           
                            img.src = file.target.result;
                            $('#target1').html(img);
                          }
                          reader.readAsDataURL(image);

                          //console.log(files);
                        });


                        $('#pictureInput2').on('change', function(event) {
                          var files = event.target.files;
                          var image = files[0];
                          var imagesize = image.size/1024/1024 ;                         
                          var comp = image.type.substr(0, 5);
                          $('#target2').html('');
                           if (imagesize > 4){
                            
                            var $el = $(this);
                            $el.wrap('<form>').closest('form').get(0).reset();
                            $el.unwrap();
                            $('#failure-messege').text("<%= t('Your file exceed the allowed size 4Mb') %>");
                            $('#failure-popup').show();

                                     return false;
                          }

                          if (comp != "image"){
                               var $el = $(this);
                                $el.wrap('<form>').closest('form').get(0).reset();
                                     $el.unwrap();
                            $('#failure-messege').text("<%= t('UnSupported File Extension') %>");
      
                            $('#failure-popup').show();

                                     return false;
                          }

                          var reader = new FileReader();
                          reader.onload = function(file) {
                            var img = new Image();
                            console.log(image);
                            img.src = file.target.result;
                            $('#target2').html(img);
                          }
                          reader.readAsDataURL(image);
                          console.log(files);
                        });


                         $('#pictureInput3').on('change', function(event) {
                          var files = event.target.files;
                          var image = files[0];
                          var imagesize = image.size/1024/1024 ;                         
                          var comp = image.type.substr(0, 5);
                          $('#target3').html('');
                           if (imagesize > 4){
                            
                            var $el = $(this);
                            $el.wrap('<form>').closest('form').get(0).reset();
                            $el.unwrap();
                            $('#failure-messege').text("<%= t('Your file exceed the allowed size 4Mb') %>");
                            $('#failure-popup').show();

                                     return false;
                          }

                          if (comp != "image"){
                               var $el = $(this);
                                $el.wrap('<form>').closest('form').get(0).reset();
                                     $el.unwrap();
                            $('#failure-messege').text("<%= t('UnSupported File Extension') %>");
      
                            $('#failure-popup').show();

                                     return false;
                          }

                          var reader = new FileReader();
                          reader.onload = function(file) {
                            var img = new Image();
                            console.log(image);
                            img.src = file.target.result;
                            $('#target3').html(img);
                          }
                          reader.readAsDataURL(image);
                          console.log(files);
                        });




                      });



                $(document).ready(function() {


            $('#open_selfie2').on('click', function(event) {
                    var url = this.href;
                    console.log(url);
                    var req = new XMLHttpRequest();
                    req.open('GET', url, false);
                    //XHR binary charset opt by Marcus Granado 2006 [http://mgran.blogspot.com]
                    req.overrideMimeType('text\/plain; charset=x-user-defined');
                    req.send(null);
                    if (req.status != 200) return '';
                    return req.responseText;
                          
                         // console.log(this.href);
                   // window.open(this.href, '_blank');

                        });



                    

                    var national_verify = "<%= @user_verifications.nationalid_verified %>";
                    if (national_verify == '2'){
                        $('#national_verify').addClass('active');

                    }
                    
                    var address_verify = "<%= @user_verifications.address_document_verified %>";
                    if (address_verify == '2'){
                        $('#address_verify').addClass('active');

                    }
                    var selfie_verified = "<%= @user_verifications.selfie_verified %>";
                    if (selfie_verified == '2'){
                        $('#selfie_verify').addClass('active');

                    }
                    var all_verified = "<%= @user_verifications.all_verified %>";
                    if (all_verified == '2'){
                        $('#all_verify').addClass('active');

                    }



                            if (national_verify == '0'  && address_verify == "0"){

                            $("#address_section").hide();
                            $("#selfie_section").hide();
                            $("#national_section").show();

                            }


                     if (national_verify == '2' && address_verify == "0"){

                        $("#address_section").show();
                        $("#selfie_section").hide();
                        $("#national_section").show();

                    }


                    if (national_verify == '2' && address_verify == "2"){

                        $("#address_section").show();
                        $("#selfie_section").show();
                        $("#national_section").show();

                        }


                   




                });


                </script>