 


<h1> تفعيل الاكونت</h1>


<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('ما يتم تفعيله') %></th>
	<th><%= t('تفاصيل التفعيل ') %></th>
      <th><%= t('حالة التفعيل') %></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td> بطاقة الهوية </td>
        <td>يجب التفعيل بنظام الهويه الشخصيه او جواز السفر او رخصه القياده وغيرها يبرفع الجزء الامامي و الخلفي </td>
       
	   <td>
         <%
         if @user_verifications.nationalid_verified ==0  

         %><%= link_to image_tag('/style/images/icon_'+@user_verifications.nationalid_verified.to_s+'.png') , id_activate_path(:id => @user_verifications.id) %>
 <% else%>   <%= link_to image_tag('/style/images/icon_'+@user_verifications.nationalid_verified.to_s+'.png') 
 %>
         <% end %>

	 
         </td>


		<div class="visible-md visible-lg hidden-sm hidden-xs">
			

			</div>
		<div class="visible-xs visible-sm hidden-md hidden-lg">
			<div class="btn-group dropdown ">
				<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right dropdown-light" role="menu">
					
					
				</ul>
			</div>
		</div>	   
	   </td>
      </tr>
	  
	  
	  <tr>

	          <td>فيزا</td>
	          <td>يجب التفعيل بآستخدام نظام الفيزا  يجيب عليه ارسال صوره الفيزا من الامام والخلف الذي سيتم استخدامها في عمليات الشراء</td>
           
			<td>
         
       <%  if @user_verifications.credit_card_verified ==0    %>

      <%= link_to image_tag('/style/images/icon_'+@user_verifications.credit_card_verified.to_s+'.png') , visa_activate_path(:id => @user_verifications.id) %>
      <% else%>   <%= link_to image_tag('/style/images/icon_'+@user_verifications.credit_card_verified.to_s+'.png')  %>

         <% end %> 
         </td>

	  
	   </tr>
	   
	   <tr>
	          <td>اثبات العنوان</td>
            <td>يجب التفعيل بنظام اثبات العنوان وهو عن طريق كشف حساب بنكي ايصال كهرباء ايصال تليفون الخ الخ</td>
            

         <td>
         
       <%  if @user_verifications.address_document_verified ==0     %>

      <%= link_to image_tag('/style/images/icon_'+@user_verifications.address_document_verified.to_s+'.png') , address_activate_path(:id => @user_verifications.id) %>
      <% else%>   <%= link_to image_tag('/style/images/icon_'+@user_verifications.address_document_verified.to_s+'.png')  %>

         <% end %> 
         </td>

	  
	   </tr>
	   
	   <tr>
	          <td>Selfie</td>
						<td>في حاله استخدام الفيزا يجيب عليه رفع صوره سلفي مع الفيزا بشكل مباشر 
وفي حاله عدم استخدام الفيزا يجيب عليه رفع صوره سلفي مع الهويه او جواز السفر 

         <td>
       <%  if @user_verifications.selfie_verified ==0    %>

      <%= link_to image_tag('/style/images/icon_'+@user_verifications.selfie_verified.to_s+'.png') , selfie_activate_path(:id => @user_verifications.id) %>
      <% else%>   <%= link_to image_tag('/style/images/icon_'+@user_verifications.selfie_verified.to_s+'.png')  %>

         <% end %> 
         </td>

	  
	   </tr>

  </tbody>
</table></div></div>


 