 


<h1> تفعيل بطاقة الهوية</h1>



  <%= form_for @user_verifications, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>




  <p>
    <%= f.label t('صورة بطاقة رقم القومي امامي ي') %><br />
    <%= f.file_field  :nationalid_front,:class => 'form-control' %>
  </p>


  <p>
    <%= f.label t('صورة بطاقة رقم القومي  خلفي') %><br />
    <%= f.file_field  :nationalid_back,:class => 'form-control' %>
  </p>


  






<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>



<% end %>


