 


<h3> البيانات المطلوبة قبل رفع ملفات التفعيل</h3>


  <%= form_for @user_verifications, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>




<p>بطاقة الهوية</p>
  <p>

    <%= f.label ('نوع الهوية') %><br />

  <%= f.select :nationalid_type,options_for_select([["هويه وطنيه","1"],["جواز سفر","2"],["رخصه قياده","3"],["تصريح اقامه ","4"]]) ,  {}, { :class => 'form-control'} %>

  </p>


  <p>
    <%= f.label :nationalid_no , t('رقم الوثيقة') %><br />
    <%= f.number_field :nationalid_no ,  :class => 'form-control' %>
    
  </p>


  <p>
    <%= f.label :nationalid_country , t('دولة الاصدار') %><br />
    <%= f.text_field  :nationalid_country ,  :class => 'form-control' %>
  </p>


  <p>
    <%= f.label :nationalid_issued_by , t('اصدرت من قبل') %><br />
    <%= f.text_field :nationalid_issued_by ,  :class => 'form-control' %>
  </p>


  <p>
    <%= f.label :nationalid_start_date	 , t('تاريخ البداية') %><br />
    <%= f.date_field :nationalid_start_date	 ,  :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :nationalid_expire_date	 , t('تاريخ الانتهاء') %><br />
    <%= f.date_field :nationalid_start_date	 ,  :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :nationalid_birth_date	 , t('تاريخ الميلاد') %><br />
    <%= f.date_field :nationalid_start_date	 ,  :class => 'form-control' %>
  </p>

  <p>بيانات العنوان</p>
  <p>

<%= f.label :address_document_type , t('نوع الوثيقة') %><br />
<%= f.text_field  :address_document_type ,  :class => 'form-control' %>
</p>


<p>
<%= f.label :address_line1	 , t('سطر العنوان الاول') %><br />
<%= f.text_field :address_line1	 ,  :class => 'form-control' %>
</p>
<p>
<%= f.label :address_line2	 , t('سطر العنوان الثاني') %><br />
<%= f.text_field :address_line2	 ,  :class => 'form-control' %>
</p>

<p>
<%= f.label :address_document_city	 , t('مدينة العنوان') %><br />
<%= f.text_field :address_document_city	 ,  :class => 'form-control' %>
</p>

<p>
<%= f.label :address_document_country	 , t('دولة العنوان') %><br />
<%= f.text_field :address_document_country	 ,  :class => 'form-control' %>
</p>

<p>
<%= f.label :address_document_postal_code	 , t('الرقم البريدي') %><br />
<%= f.text_field :address_document_postal_code	 ,  :class => 'form-control' %>
</p>


<p>بيانات الفيزا</p>

<p>

<%= f.label ('نوع بطاقة الدفع') %><br />

<%= f.select :credit_card_type,options_for_select([["فيزا","1"],["ماستر كارد","2"],["Paypal","3"],["american express","4"]]) ,  {}, { :class => 'form-control'} %>

</p>


<p>
<%= f.label :credit_card_last4nos , t('اخر اربع ارقام من الفيزا') %><br />
<%= f.number_field :credit_card_last4nos ,  :class => 'form-control' %>
</p>


<p>
<%= f.label :credit_card_name , t('الاسم علي الفيزا') %><br />
<%= f.text_field  :credit_card_name ,  :class => 'form-control' %>
</p>



<p>
<%= f.label :credit_card_expire_date	 , t('تاريخ الانتهاء') %><br />
<%= f.date_field :credit_card_expire_date	 ,  :class => 'form-control' %>
</p>










<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>

</br>
<%= link_to t("رفع ملفات التفعيل"), all_verifications_path  %> 


<% end %>


