 


<h1> تفعيل صورة سيلفي</h1>



  <%= form_for @user_verifications, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>


    


  <p>
    <%= f.label t('صورة سيلفي') %><br />
    <%= f.file_field  :selfie,:class => 'form-control' %>
  </p>

  <%= f.hidden_field :selfie_verified, :value => "71212"%>


<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>



<% end %>


