<%# debug(@res) %>
<%= form_for :sendsms	 , :url => sendsms_path,html: { method: :post ,id:  'voiceform'}	 do |f| %>

<div class="field">
    <%# f.label :thesum, t('value') %><br>
 <%= f.text_field :tel ,id: 'phone',type: 'tel' %>

 <%# f.hidden_field :phone ,id: 'phonereal',type: 'tel' %>

 <%= f.hidden_field :phonereal ,  :class=> 'form-control', :id=> 'phonereal'  %>


  </div>
  
   
   <%# debug(    @bank= CompanyBank.where("bank_key = 'perfectmoney'").first) %>
      <%# debug(    @bank= CompanyBank.where("bank_key = 'perfectmoney'").first) %>

        <div class="actions  text-center"> 
 
                <!-- <button type="submitbutton" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding"><i class="ico icon-white-logo"></i> ارسل </button> -->
              <input id='submitbutton' class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" type="button" value="ارسال">

            
            </div>
  
<% end %>

 

<script>


     $('#submitbutton').click(function(){



     var intlNumber = $("#phone").intlTelInput("getNumber");
     //alert(intlNumber);
     $("#phonereal").val(intlNumber);

  $('#voiceform').submit();



});




</script>