<p id="notice"><%= notice %></p>
<%= form_for @user_verification,:url => userregactive_path(:id => @user_verification.id,:type =>5)  , :html => { :multipart => true } do |f| %>

<h1>جزء البطاقة 
<% if  current_userd.role_id ==  1%>
  		<%= link_to image_tag('/style/images/icon_'+@user_verification.nationalid_verified.to_s+'.png') , userregactive_path(:id => @user_verification.id,:type =>1)  %>
<br />
        		<%= link_to "صور البطاقة الامامية السابقة" , previousattachments_path(:id => @user_verification.id,:type =>"nationalid_fronts")  %>
            <br />
        		<%= link_to "صور البطاقة الخلفية السابقة" , previousattachments_path(:id => @user_verification.id,:type =>"nationalid_backs")  %>


      </h1>

      <p>
    <%= label_tag :'رسالة الرفض'  %><br />
    <%= text_field_tag :nationalid_refuse_messege %>


  </p>

                 <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('رفض الطلب') %> </button>

               <% end %>

        
    <% end -%>
   

	 
         
         


<p>


  <strong>صورة البطاقة الامامية</strong>
<%= image_tag (@user_verification.nationalid_front.url) %>
</p>

<p>
  <strong>صورة البطاقة الخلفية</strong>
<%= image_tag @user_verification.nationalid_back.url %>
</p>



<p>
  <strong>Nationalid type:</strong>
  <%= @user_verification.nationalid_type %>
</p>

<p>
  <strong>رقم بطاقة الهوية:</strong>

  <%= @user_verification.nationalid_no %>
</p>

<p>
  <strong>دولة بطاقة الهوية</strong>
  <%= @user_verification.nationalid_country %>
</p>

<p>
  <strong>تم الاصدار من قبل :</strong>
  <%= @user_verification.nationalid_issued_by %>
</p>

<p>
  <strong>تاريخ البداية</strong>
  <%= @user_verification.nationalid_start_date %>
</p>

<p>
  <strong>تاريخ الانتهاء</strong>
  <%= @user_verification.nationalid_expire_date %>
</p>

<p>
  <strong>تاريخ الميلاد</strong>
  <%= @user_verification.nationalid_birth_date %>
</p>

<%= form_for @user_verification,:url => userregactive_path(:id => @user_verification.id,:type =>6)  , :html => { :multipart => true } do |f| %>

<h1>جزء اثبات العنوان 
<% if  current_userd.role_id ==  1%>

		<%= link_to image_tag('/style/images/icon_'+@user_verification.address_document_verified.to_s+'.png'), userregactive_path(:id => @user_verification.id,:type =>2)  %>
    <br />
    <%= link_to "صور وثائق اثبات العنوان السابقة" , previousattachments_path(:id => @user_verification.id,:type =>"address_documents")  %>

</h1>
<p>
    <%= label_tag :'رسالة الرفض'  %><br />
    <%= text_field_tag :address_document_refuse_messege %>


  </p>

                 <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('رفض الطلب') %> </button>

               <% end %>
<% end -%>


<p>
  <strong>صورة اثبات العنوان</strong>
<%= image_tag @user_verification.address_document.url %>
</p>


<p>
  <strong>نوع وثيقة اثبات العنوان</strong>
  <%= @user_verification.address_document_type %>
</p>

<p>
  <strong>السطرالاول من العنوان</strong>
  <%= @user_verification.address_line1 %>
</p>

<p>
  <strong>السطر الثاني من العنوان</strong>
  <%= @user_verification.address_line2 %>
</p>

<p>
  <strong>مدينة العنوان</strong>
  <%= @user_verification.address_document_city %>
</p>

<p>
  <strong>دولة العنوان</strong>
  <%= @user_verification.address_document_country %>
</p>

<p>
  <strong>الرقم البريدي للعنوان</strong>
  <%= @user_verification.address_document_postal_code %>
</p>
<%= form_for @user_verification,:url => userregactive_path(:id => @user_verification.id,:type =>7)  , :html => { :multipart => true } do |f| %>



<h1>جزء بطاقة الدفع 
<% if  current_userd.role_id ==  1%>
 

		<%= link_to image_tag('/style/images/icon_'+@user_verification.credit_card_verified.to_s+'.png') , userregactive_path(:id => @user_verification.id,:type =>3,:refuse =>:credit_card_refuse_messege)  %>
          <br />
        		<%= link_to "صور بطاقة الدفع الخلفية السابقة" , previousattachments_path(:id => @user_verification.id,:type =>"creditcard_fronts")  %>
            <br />
            <%= link_to "صور بطاقة الدفع الخلفية السابقة" , previousattachments_path(:id => @user_verification.id,:type =>"creditcard_backs")  %>


</h1>

<p>
    <%= label_tag :'رسالة الرفض'  %><br />
    <%= text_field_tag :credit_card_refuse_messege %>


  </p>

                 <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('رفض الطلب') %> </button>

               <% end %>



<% end -%>


<p>
  <strong>صورة بطاقة الدفع الامامية</strong>
<%= image_tag @user_verification.creditcard_front.url %>
</p>

<p>
  <strong>صورة بطاقة الدفع الخلفية</strong>
<%= image_tag @user_verification.creditcard_back.url %>
</p>


<p>
  <strong>نوع بطاقة الدفع</strong>
  <%= @user_verification.credit_card_type %>
</p>

<p>
  <strong>الاسم علي بطاقة الدفع</strong>
  <%= @user_verification.credit_card_name %>
</p>

<p>
  <strong>اخر اربع ارقام علي بطاقة الدفع</strong>
  <%= @user_verification.credit_card_last4nos %>
</p>

<p>
  <strong>تاريخ انتهاء بطاقة الدفع</strong>
  <%= @user_verification.credit_card_expire_date %>
</p>

<p>
<%= form_for @user_verification,:url => userregactive_path(:id => @user_verification.id,:type =>8)  , :html => { :multipart => true } do |f| %>

<h1>جزء السيلفي
<% if  current_userd.role_id ==  1%>

		<%= link_to image_tag('/style/images/icon_'+@user_verification.selfie_verified.to_s+'.png'), userregactive_path(:id => @user_verification.id,:type =>4)  %>
    <br />
                <%= link_to "صور السيلفي السابقة" , previousattachments_path(:id => @user_verification.id,:type =>"selfies")  %>

 </h1>

<p>
    <%= label_tag :'رسالة الرفض'  %><br />
    <%= text_field_tag :selfie_refuse_messege %>


  </p>

                 <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('رفض الطلب') %> </button>

               <% end %>
<% end -%>

<p>
  <strong>صورة السيلفي</strong>
<%= image_tag @user_verification.creditcard_back.url %>
</p>

  <strong>تفعيل بطاقة الهوية</strong>
  <%= @user_verification.nationalid_verified %>
</p>

<p>
  <strong>تفعيل العنوان</strong>
  <%= @user_verification.address_document_verified %>
</p>

<p>
  <strong>تفعيل بطاقة الدفع</strong>
  <%= @user_verification.credit_card_verified %>
</p>

<p>
  <strong>تفعيل السيلفي</strong>
  <%= @user_verification.selfie_verified %>
</p>



