 


<h1> تفعيل بطاقة الفيزا</h1>



  <%= form_for @user_verifications, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>




  <p>
    <%= f.label t('صورة  الفيزا من الامام') %><br />
    <%= f.file_field  :creditcard_front,:class => 'form-control' %>
  </p>


  <p>
    <%= f.label t('صورة الفيزا من الخلف') %><br />
    <%= f.file_field  :creditcard_back,:class => 'form-control' %>
  </p>





<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>



<% end %>


