<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name ,t('name') %><br>
    <%= f.text_field :name ,  :class => 'form-control'%>
  </div>
    <div class="field">
    <%= f.label :key ,t('key')%><br>
    <%= f.text_field :key ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :value,t('value') %><br>
    <%= f.text_field :value ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :description,t('description') %><br>
    <%= f.text_field :description ,  :class => 'form-control'%>
  </div>
     <div class="actions  text-center"> 
  
 <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
 </div>
<% end %>

<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('key') %></th>
      <th><%= t('value') %></th>
      <th><%= t('description') %></th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

        