<h1><%= t('Edit') %></h1>

<%# render 'form' %>


<%= form_for(@setting) do |f| %>

<% puts @setting%>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name ,t('name')%><br>
    <%= f.text_field :name ,  :class => 'form-control'%>
  </div>
    
  <div class="field">
    <%= f.label :value,t('value') %><br>
    <%= f.text_field :value ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :description ,t('description')%><br>
    <%= f.text_field :description ,  :class => 'form-control'%>
  </div>
     <div class="actions  text-center"> 
  
 <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
 </div>
    <% end %>



<%#  link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-eye'></i> </span>#{t('Show')}</button>".html_safe, @settings , { :class=>'linktop' } %>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, settings_path , { :class=>'linktop' } %>

<% @childs = Setting.where("parent_id = ?",@setting.id) %>

  <%if @childs.present? %>

 <div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('key') %></th>
      <th><%= t('value') %></th>
      <th><%= t('description') %></th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @childs.each do |ss| %>
      <tr>
         <td>
       <%=   ss.name %>
         </td>
        <td><%= ss.key %></td>

        <td><%= ss.value %></td>
        <td><%= ss.description %></td>

      <!--  <td><%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, ss %></td> -->
		<td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_setting_path(ss), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %></td>
      <!--  <td><%# link_to '<button type="button" class="btn btn-danger waves-effect waves-light "><i class="fa fa-trash-o"></i></button>'.html_safe, ss, method: :delete, data: { confirm: t('Are you sure') } %></td> -->
      </tr>
   <% end %>
  </tbody>
</table></div></div>
   <% end %>

<br>
