
<h1><%= t('settings') %></h1>
 <%   if  current_userd.role == '1'  %>

<%= link_to t('New'), new_setting_path , { :class=>'linktop' } %>

    <% end %>

<br />
<br />

									<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('key') %></th>
      <th><%= t('value') %></th>
      <th><%= t('description') %></th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
  <%if setting.parent_id == nil %>
      <tr>
         <td>
       <%=   setting.name %>
         </td>
        <td><%= setting.key %></td>

        <td><%= setting.value %></td>
        <td><%= setting.description %></td>

      <!--  <td><%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, setting %></td> -->
		<td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_setting_path(setting), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %></td>
      <!--  <td><%# link_to '<button type="button" class="btn btn-danger waves-effect waves-light "><i class="fa fa-trash-o"></i></button>'.html_safe, setting, method: :delete, data: { confirm: t('Are you sure') } %></td> -->
      </tr>
    <% end %>
   <% end %>
  </tbody>
</table></div></div>

<br>

