<h1><%= t('New settings') %></h1>

<%= render 'form' %>

<%= link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, @settings %> |
<%= link_to t('Back'), settings_path %>