0<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @setting.name %>
</p>

<p>
  <strong>key :</strong>
  <%= @setting.key %>
</p>
<p>
  <strong>value:</strong>

 <%=   @setting.value %>

         </p>
         <p>
  <strong>description:</strong>

 <%=   @setting.description %>

         </p>

<%= link_to 'Back', settings_path %>
