<%= form_for(@company_balance) do |f| %>
  <% if @company_balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_balance.errors.count, "error") %> prohibited this company_balance from being saved:</h2>

      <ul>
      <% @company_balance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id ,t('User') %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :balance_operation_id ,t('balance operation id')  %><br>
    <%= f.number_field :balance_operation_id %>
  </div>
  <div class="field">
    <%= f.label :balance_withdraw_id ,t('balance withdraw id')  %><br>
    <%= f.number_field :balance_withdraw_id %>
  </div>
  <div class="field">
    <%= f.label :balance ,t('Balance')  %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :status ,t('Status')  %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :hint ,t('Hint')  %><br>
    <%= f.text_area :hint %>
  </div>
  
  <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
 
  </div>    
<% end %>
