<h1>Editing Company Balance</h1>

<%= render 'form' %>

<%= link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, @company_balance %> |
<%= link_to 'Back', company_balances_path %>
