<p id="notice"><%= notice %></p>

<%= form_tag  url_for(:controller => 'company_balances', :action => 'searchpost'), :method => 'post' do %>
<div class="field">
    <%= label_tag :start  , t('start') %><br>
    <%= text_field_tag :start %>
  </div>
  
  <div class="field">
    <%= label_tag :end , t('end') %><br>
    <%= text_field_tag :end %>
  </div>
	
  
  <div class="field checkbox clip-check check-primary">
	
	<%= check_box_tag :balance_operation_id %> 
	<%= label_tag :balance_operation_id , t('Transfer') %>
  </div>
  
  <div class="field checkbox clip-check check-primary">
	
	<%= check_box_tag :balance_withdraw_id %>
	<%= label_tag :balance_withdraw_id , t('Withdraw') %>
  </div>
  
    <div class="actions  field text-center"> 
	<button type='submit' class='btn btn-wide btn-primary'><%= t('Search') %></button>
	</div> 
  
<% end %>

<h1> <%= t('Company Balances') %></h1>

<% unless @company_balances.blank? %>

 <div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('User') %> </th>

      <th><%= t('Operation id') %> </th>

      <th><%= t('Balance') %> </th>
      <th><%= t('Currency') %> </th>

       <th><%= t('Hint') %> </th>
       <th><%= t('created') %> </th>

        <th></th>
    </tr>
  </thead>

  <tbody>
    <%  @company_balancessumusd = 0 
	@company_balancessumrys = 0 
	@company_balancessumegp = 0 
 %>
     <% @company_balances.each do |company_balance| %>
    <% 
case company_balance.currency  
when 'usd'    #compare to 1
 @company_balancessumusd += company_balance.balance.to_f


when 'rys'    #compare to 2
   @company_balancessumrys += company_balance.balance.to_f


when 'egp'    #compare to 2
   @company_balancessumeyp += company_balance.balance.to_f


end



 %>

      <tr>
        <td> 
           <% @usern = Userd.find(company_balance.user_id)  %>
           <%=   @usern.name %>
       </td>
<% if company_balance.balance_operation_id %>
        <td><%= company_balance.balance_operation_id %></td>
<% else %>
        <td><%= company_balance.balance_withdraw_id %></td>
<% end %>
        <td><%= company_balance.balance %></td>
        <td><%= company_balance.currency %></td>

         <td><%= company_balance.hint %></td>
        <td><%= company_balance.created_at %></td>
<!--
          <td><%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, company_balance %></td>
        <td><%# link_to '<button type="button" class="btn btn-success waves-effect waves-light "><i class="fa fa-pencil"></i></button>'.html_safe, edit_company_balance_path(company_balance) %></td>
-->
			<td><%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, company_balance, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %></td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<%= will_paginate @company_balances,  :previous_label => t("previous"), :next_label => t("next") %>


 <%= t('Total USD') %> : <%= @company_balancessumusd  %>
 <%= t('Total Riyals') %> : <%= @company_balancessumrys  %>
 <%= t('Total Egypt Pound') %> : <%= @company_balancessumegp  %>

<% end %>
<br>
</br>
<%# link_to 'New Company balance', new_company_balance_path %>

	<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('Add Balance')}</button>".html_safe, new_company_balance_path , { :class=>'linktop' } %>
	
	<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-search'></i> </span>#{t('Search')}</button>".html_safe, search_path , { :class=>'linktop' } %>


 