<%= form_for :search do |f| %>

<div class="field">
   <%= label_tag :start  , t('start') %><br>
    <%= text_field_tag :start %>
  </div>
  
  <div class="field">
    <%= label_tag :end , t('end') %><br>
    <%= text_field_tag :end %>
	</div>
	
  <div class="field">
	<%= label_tag :AddTransfer , t('Add Transfer') %>
	<%= check_box_tag :balance_operation_id %> 
  </div>
  
  <div class="field">
	<br>
	<%= label_tag :Withdraw , t('Withdraw') %>
	<%= check_box_tag :balance_withdraw_id %> <br />
  </div>
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Search') %> </button>
 
  </div> 

<% end %>
  <h1>Listing Company Balances</h1>

 	<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('User') %> </th>

      <th><%= t('Operation id') %> </th>

      <th><%= t('Balance') %> </th>
   <!--   <th><%= t('Currency') %> </th> -->

       <th><%= t('Hint') %> </th>
       <th><%= t('created') %> </th>

        <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_balancessum=0  %>
     <% @company_balances.each do |company_balance| %>
    <% @company_balancessum = @company_balancessum+company_balance.balance %>

      <tr>
        <td> 
           <% @usern = Userd.find(company_balance.user_id)  %>
           <%=   @usern.name %>
       </td>
<% if company_balance.balance_operation_id %>
        <td><%= company_balance.balance_operation_id %></td>
<% else %>
        <td><%= company_balance.balance_withdraw_id %></td>
<% end %>
        <td><%= company_balance.balance %></td>
         <td><%= company_balance.hint %></td>
        <td><%= company_balance.created_at %></td>
<!--
          <td><%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, company_balance %></td>
        <td><%# link_to '<button type="button" class="btn btn-success waves-effect waves-light "><i class="fa fa-pencil"></i></button>'.html_safe, edit_company_balance_path(company_balance) %></td>
-->
        <td><%= link_to '<button type="button" class="btn btn-danger waves-effect waves-light "><i class="fa fa-trash-o"></i></button>'.html_safe, company_balance, method: :delete, data: { confirm: t('Are you sure you want to delete this') + ' ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>
 Total : <%= @company_balancessum  %>
<br>

