<%= form_for :search do |f| %>

<div class="field">
     <%= label_tag :start  , t('start') %><br>
    <%= text_field_tag :start %>
  </div>
  
  <div class="field">
    <%= label_tag :end , t('end') %><br>
    <%= text_field_tag :end %>
	</div>
	
  <div class="field">
	<%= label_tag :AddTransfer , t('Add Transfer') %>
	<%= check_box_tag :balance_operation_id %> 
  </div>
  
  <div class="field">
	<br>
	<%= label_tag :Withdraw , t('Withdraw') %>
	<%= check_box_tag :balance_withdraw_id %> <br />
  </div>
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Search') %> </button>
 
  </div> 
  
  
  
<% end %>
 
