<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @company_balance.user_id %>
</p>

<p>
  <strong>Balance operation:</strong>
  <%= @company_balance.balance_operation_id %>
</p>

<p>
  <strong>Balance withdraw:</strong>
  <%= @company_balance.balance_withdraw_id %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @company_balance.balance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company_balance.status %>
</p>

<p>
  <strong>Hint:</strong>
  <%= @company_balance.hint %>
</p>

<p>
  <strong>Balances operation:</strong>
  <%= @company_balance.balances_operation %>
</p>

<p>
  <strong>Balances withdraw:</strong>
  <%= @company_balance.balances_withdraw %>
</p>

<%= link_to '<button type="button" class="btn btn-success waves-effect waves-light "><i class="fa fa-pencil"></i></button>'.html_safe, edit_company_balance_path(@company_balance) %> |
<%= link_to 'Back', company_balances_path %>
