<%= form_for(@homepage) do |f| %>
  <% if @homepage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homepage.errors.count, "error") %> prohibited this homepage from being saved:</h2>

      <ul>
      <% @homepage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :blockname , t('block name') %><br>
    <%= f.text_field :blockname,  :class => 'form-control' %>
  </div>
 <div class="field">
    <%= f.label :blockcontents  , t('block content')%><br>
    <%= f.text_area :blockcontents,  :class => 'form-control' %>
  </div>
 

  <div class="actions  text-center"> 
      <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>
  </div>

<% end %>
