<h1><%= t('Edit') %></h1>

<%= render 'form' %>


<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-eye'></i> </span>#{t('Show')}</button>".html_safe, @homepage , { :class=>'linktop' } %>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, homepages_path , { :class=>'linktop' } %>
