
 
                        <div class="widget recent_entry">
                        <span class="h5 widTitle"><%= t('User Panel') %></span>

                           <nav>
            <ul>
              <li class="has_sub tab-current">
                <a  class="waves-effect waves-light" href="/">
                  <i class="md md-home"></i> <span><%= t('home') %></span>
                </a>
              </li>
                    

   


              <li class="has_sub">
                <a class="waves-effect waves-light " href="javascript:;" >
                </a>
                <ul class="list-unstyled">
                  <h4><%= t('security verifications') %></h4>
                  
                  <li><%= link_to t('qr verification') , userd_displayqr_path %></li>
                  <span>طلب كود يرسل للايميل عند الدخول</span>
                  <%= link_to image_tag('/style/images/icon_'+current_userd.active_otp_secret.to_s+'.png')  , active_otp_secret_path(:id => current_userd.id) %>
                  <li><%# link_to t('تفعيل authy') , userd_enable_authy_path %></li>
                  <li><%# link_to t('وقف authy') , userd_disable_authy_path, method: :post %></li>
                  <li >
                   <%# link_to t("account verification"), user_verifications_path  %>
                   <%= link_to t("account verification"), pre_verification_path  %> 
                  </li>
                                          </br>
                  <h4><%= t('financial') %></h4>
                  
              
                  <li><%= link_to t('users wallets') , users_wallets_balances_path %></li>
                  <li><%= link_to t('wallet transfer') , walletstransfer_path %></li>
                  <li > <%= link_to t("Users Banks List"),users_banks_path  %> </li>
                  <li  ><%= link_to t("user balance transfer"), users_wallets_balances_frozens_path %> </li>
                  <li> <%= link_to t("Balances Withdraws"),balances_withdraws_path %></li>										
                  <li><%= link_to t("Carts Details"), usercarts_path %></li>
                  <li><%= link_to t("Buy Cart"), buycart_path %></li>
                    <li><%= link_to t("Add Balance From Cart"), cartbalance_path %></li>
                
                   <li> <%# link_to t("Users Balance"), users_balances_path %></li>
                   <li> <%# link_to t("Balance Operations"), balances_operations_path %> </li>


                </ul>
              </li>
              </br>
              
              <li class="has_sub">
                <ul class="list-unstyled">
                <h4><%= t('others') %></h4>
                <li> <%= link_to t("سجل عمليات لتحويل من محفظه لمحفظه"), user_wallets_transactions_path %> </li>
                
                  <li> <%= link_to t("All Tickets"), tickets_path %> </li>
                  <li ><%= link_to t("Help Center"), helpfaqs_path %></li>
                  <li ><%= link_to t("Notifications"), notifications_path %></li>											
                  <li><%= link_to t("Service Operations"), service_operations_path %> </li>
                  <li><%= link_to t("Service"), services_path %></li>
                  
                  
                  </ul>
              </li>


                      


                   


                      

              
             
            </ul>
     </nav>

                     </div>
