<h1><% t('New block') %></h1>

<%= render 'form' %>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-left'></i> </span>#{t('Back')}</button>".html_safe, homepages_path , { :class=>'linktop' } %>
