<p id="notice"><%= notice %></p>
<div class="col-md-4">
	<ul class="list-group">
		<li class="list-group-item">
			<span class="badge"><%= @homepage.blockname %></span>
			<%= t('block name') %>
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @homepage.blockcontents %></span>
			<%= t('block content') %>
		</li>
	</ul>
</div>	
												
<div class="col-md-12">
<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-pencil'></i> </span>#{t('Edit')}</button>".html_safe, edit_homepage_path(@homepage) , { :class=>'linktop' } %>
<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-left'></i> </span>#{t('Back')}</button>".html_safe, homepages_path , { :class=>'linktop' } %>
</div>