
<style>

    .error {
        color: red;
     }
</style>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

<!-- <script src="/withdraw.js"></script> -->

<script>
    // just for the demos, avoids form submit
    jQuery.validator.setDefaults({
      debug: true,
      success: "valid"
    });
    
    
    //$( "button" ).click(function() {
    //});
    </script>



<script>
$(document).ready(function() {

$("#setdata_w").click(function() {


    //alert('dsd');
    var form = $( "#new_balances_withdraw" );
   
                form.validate({

                       rules: {
                               // no quoting necessary
                               // quoting necessary!
                               // dots need quoting, too!
                              // "users_bank[personal_name]": "required"

                            


                             },
                                //ignore: [],
         
                       messages: {


                        //'neww_old': { required: "برجاء ادخال اسم 4"  },

                              'balances_withdraw[thesum]': { required: "برحاء ادخال المبلغ"  },
                            
                      }
               });





});

});
</script>

<div class="field" id="container">




<%# image_tag @choosen.ima.url %>

  <%# form_for @balances_withdraw,:url => url_for(:controller => 'balances_withdraws', :action => 'review_western_gram') , :html => { :multipart => true } do |f| %>

  <%= form_for BalancesWithdraw.new,:url => url_for(:controller => 'balances_withdraws', :action => 'save_western_gram') , :html => { :multipart => true } do |f| %>

         

<div class="self-label">
    <label class="filled-input">
    <%= f.number_field  :thesum ,  :class => 'selfinput', :required => true %>
    <span class="placeholder-span"><%= t('the sum') %></span>
    </label>
</div>


 <div class="select-box">
<label class="filled-input"><%=t("account type")%></label>
<select required class="select-line"  id="neww_old" name='neww_old'>
    <option value=""><%= t("Please choose whether the account is already registered or not") %></option>
    <option value="1"><%=t("Pre-registered")%></option>
    <option value="2"><%= t("new account")%></option>
</select>

</div>





<!-- <label class="filled-input">عملية السحب</label>
<select class="selectpicker" id="newyw_old">

<option value="1">مسجل مسبقا</option>
<option value="2">حساب جديد</option>
</select> -->


    


 
<div class="select-box">
<span class="placeholder-span"><%= t('country')%> </span>


<%= country_select("users_country", "country", { priority_countries: ["EG", "SA"]}, {class: "select-line" ,id:"theselect" }) %> 
<%# country_select("users_country", "country", {:prompt => t('Select a country')}, {class: "select-line" ,id:"theselect" }) %>

    </div>
    



<!-- <button type="button" id='submitbutton2' class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md" style="display:none;"><%= t('Add') %> </button> -->
<button type="button" id='setdata_w'  class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Add') %> </button>


 <% end %>

 </div>


 

