<%= form_for @ticket  ,:html => { :multipart => true } do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  
  <div class="field">
    <%= f.label :name, t('title') %><br>
    <%= f.text_field :title ,:class => 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :name, t('department') %><br>
	<%= f.select :department_id, Department.all.collect {|p| [ p.name, p.id ] },{} ,{:class => 'form-control'} %>
  </div>
  
  <div class="field">
    <%= f.label :name, t('body') %><br>
    <%= f.text_area :body ,:class => 'form-control' %>
  </div>
  
  <% if userprivilage.setuserticket == 1 or current_userd.role_id == 1  %>
  <div class="field">
    <%= f.label :name, t('User') %><br>
    <%= f.select :userd_id, Userd.all.collect {|p| [ p.name, p.id ] },{} ,{:class => 'form-control'} %>
  </div>
  <% else %>
  <% if params[:action] != "edit"  %>
  <div class="field">
    <%= f.hidden_field  :userd_id, :value => current_userd.id %>
  </div>
  <% end %>
  <% end %>
  
  <div class="field">
    <%= f.label :name, t('attachment') %><br>
    <%= f.file_field :attachment ,:class => 'form-control' %>
  </div>
  
  <% if current_userd.role_id == 1  %>
  <div class="field checkbox clip-check check-primary">
   <%= f.check_box :approved ,  :class => 'form-control' %>
   <%= f.label :approved  ,t('Approved')%><br>
  </div>  
  
  <div class="field">
    <%= f.label :name, t('status') %><br>
    <%= f.select :status, [['Pending', 'pending'],['In Progress' , 'inprogress'],['Hold' , 'hold'],['Solved','solved']]  ,{} ,{:class => 'form-control'}  %>
  </div>

  <div class="field">
    <%= f.label :name, t('priority') %><br>
    <%= f.select :priority, [['Urgent', 'urgent'],['Very Hight' , 'veryhigh'],['high' , 'high'],['Low','low']],{} ,{:class => 'form-control'}  %>
  </div>
  
  <div class="field checkbox clip-check check-primary">
   <%= f.check_box :closed ,  :class => 'form-control' %>
   <%= f.label :closed  ,t('Closed')%><br>
  </div>
 
  <% end %>
  
  <div class="actions  text-center"> 
  <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %>  </button>
</div> 

<% end %>
