<h1><%= t("Listing tickets") %></h1>

<%= form_tag  url_for(:controller => 'tickets', :action => 'searchpost'), :method => 'post' do %>


<div class="ticket-controller row">
	<div class="field col-md-6">
		<%= label_tag :start %><br>
		<%= text_field_tag :start , "", class: 'form-control' %>
	</div>
	<div class="field col-md-6">
		<%= label_tag :end %><br>
		<%= text_field_tag :end   , "", class: 'form-control' %>
	</div>
	<div class="field col-md-12">
	  <%= select_tag(:statustyp, options_for_select([['all'],['pending'], ['inprogress'], ['hold'],['solved']],:selected => params[:option]),:multiple => true,  class: 'form-control')   %>
	</div>
	<div class="actions col-md-12 text-right"> 
		<button type="submit" class="btn btn-wide btn-primary"><%= t('Search') %> </button>
	</div>
</div>
  <br /> <br />
<% end %>

 <%= link_to "<button type='button' class='btn btn-wide btn-warning'>#{t('Closed Ticket')}<span class='btn-label'>  </span></button>".html_safe, uticketclosed_path , { :class=>'linktop' } %>

 <%= link_to "<button type='button' class='btn btn-wide btn-dark-azure'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('New ticket')}</button>".html_safe, new_ticket_path , { :class=>'linktop' } %>


<br /> <br />
<!-- <h2> <%= t("Pending") %> </h2> -->
<br /> <br />

<div class="tabbable">
	<ul id="myTab1" class="nav nav-tabs">
		<li class="active">
			<a href="#myTab1_example1" data-toggle="tab"> <%= t("Pending") %> </a>
		</li>
		<li>
			<a href="#myTab1_example2" data-toggle="tab"> <%= t('In Progress tickets') %></a>
		</li>
		<li>
			<a href="#myTab1_example3" data-toggle="tab"> <%= t('Solved  and Closed Ticket') %> </a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="myTab1_example1">
			<div class="table-rep-plugin">
				<div class="table-responsive" data-pattern="priority-columns">
					<table id="datatable" class="table table-stylish">
					  <thead>
						<tr>
						   <th><%= t('title') %></th>
						  <th><%= t('department') %></th>
						  <th><%= t('Body') %></th>
						  <th><%= t('status') %></th>
						  <th colspan="4"></th>

						</tr>
					  </thead>

					  <tbody>
						<% @ticketspeinding.each do |ticket| %>
						  <tr>
						  <td><%= ticket.title %></td>

							<td><%
							 if ticket.department_id 
							  @department = Department.find(ticket.department_id)
							  %>
							   <%=   @department.name %>
							<% end %>
					                </td>
       							  <td><%= truncate(ticket.body, :length => 150) %></td>
							 <td><%= ticket.status %></td>

							<td>
							<div class="visible-md visible-lg hidden-sm hidden-xs">
								<%= link_to '<i class="fa fa-eye"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
								<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_ticket_path(ticket), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
								<%# link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
							</div>
						  </tr>
						<% end %>
					  </tbody>
					</table>
				</div>
			</div>
<%= will_paginate @ticketspeinding, :param_name => 'tickets_page', :previous_label => t('previous'), :next_label => t('next') %>

		</div>
		<div class="tab-pane fade" id="myTab1_example2">
												<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
     <th><%= t('title') %></th>
       <th><%= t('department') %></th>
      <th><%= t('Body') %></th>
 	  <th><%= t('status') %></th>
      <th colspan="4"></th>
    

    </tr>
  </thead>

  <tbody>
    <% @ticketsonact.each do |ticket| %>
      <tr>
                 <td><%= ticket.title %></td>

<td><%
         if ticket.department_id 
          @department = Department.find(ticket.department_id)

         %><%=   @department.name %>
<% end %>
</td>         <td><%= ticket.body %></td>
         <td><%= ticket.status %></td>

        <td>
		<div class="visible-md visible-lg hidden-sm hidden-xs">
			<%= link_to '<i class="fa fa-eye"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
			<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_ticket_path(ticket), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
			<%= link_to '<i class="fa fa-trash fa fa-white"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
			<%= link_to('<i class="fa fa-times fa fa-white"></i>'.html_safe, { :controller => :tickets,:action=>:closeticket,:id => ticket.id } , {class: "btn btn-transparent btn-xs", 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>t('close ticket'), 'data-confirm' => 'Are you sure you want to delete this ?' }) %>
		</div>		
		</td>
         <td>






                 </td>
            

      </tr>
    <% end %>
  </tbody>
</table></div></div>
<%= will_paginate @ticketsonact, :param_name => 'ticketsact_page', :previous_label => t('previous'), :next_label => t('next') %>

		</div>
		<div class="tab-pane fade" id="myTab1_example3">
												<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('title') %></th>
      
       <th><%= t('department') %></th>
      <th><%= t('Body') %></th>
 	  <th><%= t('status') %></th>
 
        <th colspan="4"></th>

    </tr>
  </thead>

  <tbody>
    <% @ticketsolved.each do |ticket| %>
     
      <tr>
                 <td><%= ticket.title %></td>

        <td><%
         if ticket.department_id 
          @department = Department.find(ticket.department_id)

         %><%=   @department.name %>
<% end %></td>
         <td><%= ticket.body %></td>
         <td><%= ticket.status %></td>

	  <td>
		<div class="visible-md visible-lg hidden-sm hidden-xs">
			<%= link_to '<i class="fa fa-eye"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
			<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_ticket_path(ticket), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
			<%= link_to '<i class="fa fa-trash fa fa-white"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
			<%# link_to('<i class="fa fa-times fa fa-white"></i>'.html_safe, { :controller => :tickets,:action=>:closeticket,:id => ticket.id } , {class: "btn btn-transparent btn-xs", 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>t('close ticket'), 'data-confirm' => 'Are you sure you want to delete this ?' }) %>
		</div>		
		</td>
                 

      </tr>
    <% end %>
  </tbody>
</table></div></div>
 <%= will_paginate @ticketsolved,:remote=>true, :param_name => 'ticketssolv_page', :previous_label => t('previous'), :next_label => t('next') %>
		</div>
	</div>
</div>
											
											



											
<br>
<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-search'></i> </span>#{t('Search')}</button>".html_safe, ticketsearch_path , { :class=>'linktop' } %>
