<h1><%= t('Edit') %></h1>

<%# debug @ticket %>
<%= render 'form' %>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, listticket_path , { :class=>'linktop' } %>

