<h1><%= t("Closed Ticket") %></h1>
<br/>
									<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
       <th><%= t(' title') %></th>
      <th><%= t('department') %></th>
      <th><%= t('body') %></th>

      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
     
      <tr>
        <td><%= ticket.title %></td>
        <td> <%
         if ticket.department_id 
          @department = Department.find(ticket.department_id)
         %><%=   @department.name %>
    <% end %></td>
         <td><%= ticket.body %></td>

        <td>
			<div class="visible-md visible-lg visible-sm visible-xs">
					<%= link_to '<i class="fa fa-eye"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>		
				<% if  userprivilage.ticketedit == true or current_userd.role_id == 1  %>
					<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_ticket_path(ticket), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
				<% end %>
				<%  if  userprivilage.ticketdelete == true or current_userd.role_id == 1  %>
					<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, ticket, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
				<% end %>
			</div>
		</td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, listticket_path , { :class=>'linktop' } %>
