<script>
$('#support-id').addClass('active');
</script>
<%# render 'form' %>


<%# link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, adminticket_path , { :class=>'linktop' } %>

<%# stylesheet_link_tag("/assets/css/text-editor.min.css") %>

<%= form_for @ticket  ,:html => { :multipart => true } do |f| %>


<% if @ticket.errors.any? %>

<div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">
    <span class="ico icon text-red">X</span>
    <% @ticket.errors.full_messages.each do |message| %>

    <h5 class="sm-lg-fontsize text-dgray font-bold"><%= message %></h5>
    <p class="sm-md-fontsize text-mgray"><%= message %></p>
    <% end %>

    <span class="alert-close icon-Plus-white"></span>
</div>

<% end %>


<% content_for :title, t('add ticket') %>

<% content_for :icon, 'Support' %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
<h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
    <i class="ico icon-Support"></i>
</h3>
<h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
<%= t('add ticket') %>
</h4>
<div class="pad-top-md">
    <div class="row row-sm">
        <div class="col-sm-5 col-xs-12">
            <div class="select-box">
                <label><%= t('department') %> </label>
                <%= f.select :department_id, Department.all.collect {|p| [ p.name, p.id ] },{} ,{:required => true} %>


            </div>
        </div>
        <div class="col-sm-7 col-xs-12">
            <div class="self-label">
                <label>
                <%= f.text_field :title ,:class => 'selfinput',:required => true %>
                    <span class="placeholder-span"><%= t('Ticket Address') %></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="pad-top-md">
    <div class="row-sm row">
        <div class="col-sm-12 col-md-6 col-lg-7">
            <div class="custom-editor bg-white radius-lighter">
                <div id="foo"></div>
                <div class="content demo-y height-270">
                        <section id="editor">
                        <div id="edit1">
                                <%= f.text_area :body %>

                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="image-media-section">
                        <div class="media-scroll-inner">
                                <div action="file-upload">
                                        <div class="self-img-upload text-center">
                                            <h5 class="sm-lg-fontsize font-weight-normal text-blue"><%= t('attachment') %></h5>
                                            <label class="ext-btn-padding btn border-dgray text-dgray text-hover-white mrg-top-xs mrg-bottom-xs hover-bg-brand sm-padding radius-md">
                                                <i class="icon ic-icons-329"></i>
                                                <!-- <input type="file" name="submit" class="sr-only"> -->
                                                <%= f.file_field :attachment ,:class => 'sr-only',:id => 'pictureInput' %>

                                            </label>
                                            <!-- <h6 class="text-dgray sm-md-fontsize font-weight-normal ">كنكمي بحس و جاردإ تافلملا انه اذإ تبغر</h6> -->
                                        </div>
                                    </div>

                                    <!-- <div class="up-singl-row"> -->

                                            <div class="up-singl-img" id="target">
                                        </div>
                                    <!-- </div> -->

              <!--  <div class="dz-default dz-message">
                <div class="self-img-upload">
                <h5 class="sm-lg-fontsize font-weight-normal text-blue">تافلملا ةقفرملا</h5>
                <span class="ext-btn-padding btn border-dgray text-dgray text-hover-white mrg-top-xs mrg-bottom-xs hover-bg-brand sm-padding radius-md">
                <i class="icon ic-icons-329"></i>
                </span>
                <h6 class="text-dgray sm-md-fontsize font-weight-normal ">كنكمي بحس و جاردإ تافلملا انه اذإ تبغر</h6>
                </div>
                </div> -->

                <%# f.file_field :attachment , :id =>"fileimage" ,:value=>"", :style =>"display:none;" %>
                <!-- <input style="display:none;" type="text" name="" id="ii"> -->


               <!-- <div action="/file-upload" class="dropzone dz-clickable" id="my-awesome-dropzone">
                        <h2 class="pos-top md-lg-fontsize text-blue giv-pos-h2"><%= t('Attachment') %></h2>
                        <input type="button" id="getvalue" name="submit" value="<%= t('Attachment') %>" class="bg-dgray text-white hover-bg-brand text-hover-white btn md-padding radius-md giv-pos-upload">
                    </div> -->
                </div>
            </div>
            <div class="mrg-top-md text-left">


                    <!-- <button type="button" id="kk">Click Me!</button> -->


                <!-- <button type="submit" class="btn md-padding radius-md border-brand hover-bg-brand text-hover-white text-brand bg-white"><%# t('Send Order Now') %>  </button> -->
             
                <input type="submit" class="btn md-padding radius-md border-brand hover-bg-brand text-hover-white text-brand bg-white" name="btnADD" id="btnADD" value="<%= t('Send Order Now') %>" onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" />

                
            </div>
        </div>
    </div>
</div>
            </section>


<!-- TextEditor -->

    <!-- <script type="text/javascript" src="/assets/js/text-editor/froala_editor.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/align.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/code_beautifier.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/code_view.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/colors.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/draggable.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/emoticons.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/file.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/font_size.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/font_family.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/image.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/image_manager.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/line_breaker.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/link.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/lists.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/paragraph_format.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/paragraph_style.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/video.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/table.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/url.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/entities.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/quick_insert.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/inline_style.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/save.min.js"></script>
    <script type="text/javascript" src="/assets/js/text-editor/fullscreen.min.js"></script> -->

    <!-- DropZone -->

    <!-- <script type="text/javascript" src="/assets/js/dropzone.js"></script>
    <script type="text/javascript" src="/assets/js/dropzone-amd-module.js"></script> -->

    <script>


          //  $('input[type="text"]').setCustomValidity("This is a custom message"); 
            
            
            document.addEventListener("DOMContentLoaded", function() {
                var elements = document.getElementsByTagName("INPUT");
                for (var i = 0; i < elements.length; i++) {
                    elements[i].oninvalid = function(e) {
                        e.target.setCustomValidity("");
                        if (!e.target.validity.valid) {
                            e.target.setCustomValidity("برجاء ملء هذا الحقل الفارغ");
                        }
                    };
                    elements[i].oninput = function(e) {
                        e.target.setCustomValidity("");
                    };
                }
            })



          //  $(function() { $('textarea').froalaEditor() });

            $( "#kk" ).click(function() {

                var fo =  $('.fr-element').froalaEditor('html.get');

                          alert(fo);
                       alert("fdg");


});







    $(function() {
                    $('#pictureInput').on('change', function(event) {
                      var files = event.target.files;
                      var image = files[0]
                      var reader = new FileReader();
                      reader.onload = function(file) {
                        var img = new Image();
                        console.log(file);
                        img.src = file.target.result;
                        $('#target').html(img);
                      }
                      reader.readAsDataURL(image);
                      console.log(files);
                    });
                  });




    $(function(){
      $('textarea').froalaEditor({
        toolbarContainer: '#foo',
        toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'color', 'emoticons', '|', 'paragraphFormat', 'paragraphStyle', 'quote', 'align', 'formatOL', 'formatUL']

    })

    });

   // var a= $('#12').attr("alt");
// console.log(file.upload.filename);




            $( "#getvalue" ).click(function() {
                var i=  $('#ii').val();
                alert (i);
                var ii=  $('#fileimage').val();
                alert (ii);
              });
  </script>

    <!-- || footer scripts ends || -->


    <% end %>
