
<%= debug @ticketdt %>
<%# params['id'] %>
<div id='ticketrep'>
<%  @ticketreplys.each do |t| %>
<%= t.title %> <br />
<%= t.body %>
 
<% end %>
</div>
  <%= form_for(@ticket, remote: true) do |f| %>
  
   <div class="field">

      <%= label_tag(:body, t("body")) %> <br>
    <%= f.text_area :body, :cols=>30, :rows=>10 , :required => true %>

  </div>
    <%= f.hidden_field  :ticket_id,:value =>  params['id'] %>
    <%= f.hidden_field  :userd_id, :value => current_userd.id %>
    <%# f.hidden_field  :title, :value =>" Replay : "+ @ticketdt[0]['title']  %>

       <div class="actions  text-center"> 
  
 <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Send Reply') %> </button>
 </div>

 
<% end %>


<%= link_to t('Back'), tickets_path %>