<%= form_tag  url_for(:controller => 'tickets', :action => 'searchpost'), :method => 'post' do %>

<div class="field">
    <%= label_tag :search, t('topic')%><br>
    <%= text_field_tag :search , "", :required => true, class: 'form-control' %>
  </div>
<div class="field">
    <%= label_tag :start , t('start') %><br>
    <%= text_field_tag :start , "", class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= label_tag :end , t('end')%><br>
    <%= text_field_tag :end   , "", class: 'form-control' %>
	</div>
	
	
  <div class="field">
  <%= select_tag(:statustyp, options_for_select([['all'],['pending'], ['inprogress'], ['hold'],['solved']],:selected => params[:option]),:multiple => true, :required => true,  class: 'form-control')  %>
  </div>
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Search') %> </button>
</div>
  
<% end %>
 