
            <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
            <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                <i class="ico icon-Support"></i>
            </h3>
            <%# debug(params) %>
            <div class="page-title l-height-md mrg-bottom-md">
                <div class="row row-default button-row">
                    <div class="col-md-3">
                        <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">

                       <%= t('ticket support') %>
                      
                        </h4>
                    </div>
                    <%= form_tag  url_for(:controller => 'tickets', :action => 'searchpost'), :method => 'post' do %>
                        
                    <div class="col-md-9">
                        <div class="clearfix">
                            <%= link_to "<button type='button' class='bg-black hover-bg-blue text-hover-brand text-white btn md-padding radius-md pull-left mrg-right-xs mrg-bottom-xs'>#{t('add ticket')}</button>".html_safe, new_ticket_path , { :class=>'linktop' } %>
                            
                            <div class="search-div radius-md bg-white b-boxshadow">
                                <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder=<%= t('Search') %>>

                                <button type="submit" class="search-btn"><i class="icon ic-search-1"></i></button>
                                
                            </div>
                            <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                            <%= select_tag(:searchtime, options_for_select([[t('last hour'),'last hour'],[t('last day'),'last day'], [t('last week'),'last week'], [t('last month'),'last month'],[t('last year'),'last year']],:selected => params[:option]) ,:required => true)   %>
                            
                        
                        </div>

                            
                        <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                        <%= select_tag(:statustyp, options_for_select([[t('All Tickets'),'all'],[t('Pending'),'pending'], [t('Inprogress'),'inprogress'], [t('hold'),'hold'],[t('Solved'),'solved']],:selected => params[:option]))   %>
                            
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <%# debug (@tickets) %>
            
            <div class="listing-section listing-section2">
              
                <div class="row row-sm">
                <% @tickets.each do |ticket| %>
                  
                    <div class="col-md-6 col-sm-6 padding-hor-sm">
                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                            <%= ticket.title %>
                            </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= ticket.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                            </p>
                            <div class="tck-detail text-red">
                                <i class="icon ic-right"></i>
                                <br>
                                <span class="sm-sm-fontsize">لحلا مت</span>
                                
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <%# will_paginate @tickets, :previous_label => t("previous"), :next_label => t("next") %>
                    
                   
                </div>
            </div>
        </section>
        