<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
    <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
        <i class="ico icon-Support"></i>
    </h3>

    <%# link_to 'Download attachment', [:attachment, @ticket] %>

    <div class="row row-sm">
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
            <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal mrg-bottom-md">
                    <%= @ticket.title  %>  <%= @ticket.ticket_number  %>
                    
                </h4>
                <br>
                <h5 class="iblock md-lg-fontsize text-dbrand font-weight-normal mrg-bottom-md">
                    <%= "ملاحظة: " %><%= @ticket.hints %>
                    
                </h5>
            <div class="sm-lg-fontsize text-dbrand font-weight-normal mrg-bottom-md">

                        <div class="fr-view">
                                <%= raw @ticket.body%>
                                
                               
                            </div>
                           
            </div>
            <div class="md-lg-fontsize text-dbrand font-weight-normal mrg-bottom-md line-throughd-div">
                <span><%= t('Order Updates') %></span>
            </div>
            <%# debug (@ticketreplys) %>
            <div class="content demo-y listing-scroll btm-bg-grd max-before">

                    <% @ticketreplys.each do |ticketreply| %>
                    <% if ticketreply.body != "" %>
                <div class="listing-div hover-b-boxshadow">
                    <% if ticketreply.status == "admin reply" and  ticketreply.body != "" %>
                    <%= " Support Team" %>
                    <% end %>

                    
                    <h4 class="icon-section">
                        <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="user-notification" class="crlc-img">
                    </h4>
                    <h5 class="list-title text-blue font-bold sm-md-fontsize mrg-bottom-xs">
                          <%=  ticketreply.title %>
                        <br>

                        <div class="fr-view">
                                
                                <%= raw ticketreply.body %>
                            </div>
                            
                        
                      
                    </h5>
                    
                    <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                        <i class="ico icon-calendar mrg-left-xs iblock"></i>  <%=  ticketreply.created_at %>
                    </p>

                    <!-- <div class="do-small-action">
                        <div class="dosm-visi text-left pointer">
                          <span class="iblock bg-gray radius-crlc"></span>
                          <span class="iblock bg-gray radius-crlc"></span>
                          <span class="iblock bg-gray radius-crlc"></span>
                        </div> -->
                        <!-- <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                          <ul class="dosmall-action-ul">
                                <li><%# link_to t('Show Ticket'), ticketreply %></li>
                            </ul>
                          </div> -->
                    <!-- </div> -->
                </div>
                    <%end%>
                    <% end %>

               
            </div>


        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="image-media-section next-style-layer">
                <div class="media-scroll-inner">
                    <h4 class="md-md-fontsize text-dbrand font-weight-normal l-height-md"><%= t('Previous Attachments') %></h4>
                    <div class="content demo-x up-div">
                        <div class="up-singl-row">
                            
                               

                                <% if @ticket.attachment_file_name != nil %>
                                <div class="up-singl-img">
                                        
                                    <%# image_tag @ticket.attachment.url(:thumb) %>
                                    <%# image_tag ("<%= format_link(request) %>:83/#{@ticket.attachment.url}") %>
                                    <%# image_tag ("<%= format_link(request) %>/#{@ticket.attachment.url}") %>

                                    <%= image_tag ticket_image_ticket_path(@ticket) %>


                                        </div>
                                      <%end%>
                            
                    <% @ticketreplys.each do |ticketreply| %>
                    <% if ticketreply.attachment_file_name != nil %>
                    
                    <div class="up-singl-img">

                         <%# image_tag ticketreply.attachment.url(:thumb) %>

                         <%= image_tag ("<%= format_link(request) %>:83/#{ticketreply.attachment.url}") %>
                         <%= image_tag ("<%= format_link(request) %>/#{ticketreply.attachment.url}") %>

                         <!-- <span class="icon-Plus-white remove-img"></span> -->
                         
                         
                        </div>
                         <%end%>

                        <%end%>

                                            <%# debug(@ticketre) %>
                                     
                                        <%# f.hidden_field  :title, :value =>" Replay : "+ @ticketdt[0]['title']  %>
                
                
                                       

                                    
                                
                            
                        </div>
                    </div>

                    <% @ticketre = Ticket.new(:ticket_id => params['id'])  %>
                    <%= form_for Ticket.new  ,:html => { :multipart => true } do |f| %>


                        <%= f.hidden_field  :id,:value =>  params[:id] %>

                      <%= f.hidden_field  :ticket_id,:value =>  params['id'] %>
                      <%= f.hidden_field  :userd_id, :value => current_userd.id %>
                      <%= f.hidden_field  :status, :value => 'customer reply' %>

                                          <%# f.hidden_field  :body, :value => 'grfddfy' %>

                    <label for="ticket_attachment" class="btn md-padding radius-md bg-dgray text-white text-hover-white hover-bg-brand mrg-top-md mrg-bottom-md hlf-e-btm"><%= t('Attach Another File') %></label>
                    <span id='filename'></span>
                    
                    <%= f.file_field  :attachment,:style => 'display:none;' %>
                    
                    
                    
                </div>
            </div>

                                <%# f.text_area :body %>


            <div class="custom-editor bg-white radius-lighter">
                <div id="foo1"></div>
                                     <%= f.text_area :body ,:required => true%>

               <!--  <div class="content demo-y height-270">
                        <section id="editor">
                        <div id="edit1">

                        </div>

                    </section>

                </div> -->

            </div>



               
                <div class="text-left mrg-top-sm">
                    <!-- <button type="submit" class="btn md-padding radius-md border-brand hover-bg-brand text-hover-white text-brand bg-white"><%= t('Send Order Now') %>  </button> -->
                    <input type="submit" class="btn md-padding radius-md border-brand hover-bg-brand text-hover-white text-brand bg-white" name="btnADD" id="btnADD" value="<%= t('Send Order Now') %>" onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" />

                    
                </div>
        </div>
    </div>
</section>
                    <% end %>




<!-- TextEditor -->

<!-- <script type="text/javascript" src="/assets/js/text-editor/froala_editor.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/align.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/code_beautifier.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/code_view.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/colors.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/draggable.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/emoticons.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/file.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/font_size.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/font_family.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/image.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/image_manager.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/line_breaker.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/link.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/lists.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/paragraph_format.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/paragraph_style.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/video.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/table.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/url.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/entities.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/quick_insert.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/inline_style.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/save.min.js"></script>
<script type="text/javascript" src="/assets/js/text-editor/fullscreen.min.js"></script>
 -->
<!-- DropZone -->

<!-- <script type="text/javascript" src="/assets/js/dropzone.js"></script>
<script type="text/javascript" src="/assets/js/dropzone-amd-module.js"></script> -->


<script>


 $( "#kk" ).change(function() {

                //var fo =  $('.fr-element').froalaEditor('html.get');
                    var h = $('#kk').val();
                          alert(h);


});

$('input[type="file"]').change(function(e){
    var fileName = e.target.files[0].name;


    $('#filename').text(e.target.files[0].name);
    //alert('The file "' + fileName +  '" has been selected.');
});

// var a= $('#12').attr("alt");
// console.log(file.upload.filename);

        


        $( "#getvalue" ).click(function() {
            var i=  $('#ii').val();
            alert (i);
            var ii=  $('#fileimage').val();
            alert (ii);
          });


        $(function(){
  $('textarea').froalaEditor({
    toolbarContainer: '#foo1',
    toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'color', 'emoticons', '|', 'paragraphFormat', 'paragraphStyle', 'quote', 'align', 'formatOL', 'formatUL']
    
})

});

</script>