<%= form_for(@currencies_withdraw_type) do |f| %>
  <% if @currencies_withdraw_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currencies_withdraw_type.errors.count, "error") %> prohibited this currencies_withdraw_type from being saved:</h2>

      <ul>
      <% @currencies_withdraw_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :currency_code %><br>
    <%= f.text_field :currency_code %>
  </div>
  <p>
    <%= f.label t('صورة لوجو') %><br />
    <%= f.file_field  :logo,:class => 'form-control' %>
  </p>

  <div class="field">
    <%= f.label :country_code %><br>
    <%= f.text_field :country_code %>
  </div>
  
  <div class="field">
    <%= f.label :currencies_withdraw_ratios_id %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
