<h2>العملات المتاح السحب منها علي اساس المحافظ المنشأة</h2>

<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns">

<table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th>اسم العملة</th>
      <th>اسم المحفظة المسحوب منها</th>
      <th>Currencies Code</th>
      <th>Logo</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @wallets.each do |wallet| %>

      <tr>
            <%  @thecurrency = CurrenciesWithdrawType.where(currency_code: wallet.currency).first %>

        <td><%= @thecurrency.name %></td>
        <td><%= wallet.wallet_name %></td>
        <td><%= wallet.currency %></td>
    <td><%= image_tag @thecurrency.logo.url %></td>

<td><%= link_to 'استخدم هذه العملة', types_path(:id =>@thecurrency.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h6>اذا كنت تريد عملات اخري للسحب برجاء</h6>
<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('انشاء محفظة جديدة')}</button>".html_safe, new_users_wallets_balance_path , { :class=>'linktop' } %>

</div></div>