<p id="notice"><%= notice %></p>

<h1>Listing Currencies Withdraw Types</h1>

<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns">

<table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th>Name</th>
      <th>Currencies Code</th>
      <th>Logo</th>
            <th>Country Code</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies_withdraw_types.each do |currencies_withdraw_type| %>
      <tr>
        <td><%= currencies_withdraw_type.name %></td>
        <td><%= currencies_withdraw_type.currency_code %></td>
    <td><%= image_tag currencies_withdraw_type.logo.url %></td>
        <td><%= currencies_withdraw_type.country_code %></td>

        <td><%= link_to 'Show', currencies_withdraw_type %></td>
        <td><%= link_to 'Edit', edit_currencies_withdraw_type_path(currencies_withdraw_type) %></td>
        <td><%= link_to 'Destroy', currencies_withdraw_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>
<br>

<%= link_to 'New Currencies withdraw type', new_currencies_withdraw_type_path %>
