<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currencies_withdraw_type.name %>
</p>

<p>
  <strong>Currencies withdraw ratios:</strong>
</p>

<%= link_to 'Edit', edit_currencies_withdraw_type_path(@currencies_withdraw_type) %> |
<%= link_to 'Back', currencies_withdraw_types_path %>
