<%= form_for(@balances_withdraws_status) do |f| %>
  <% if @balances_withdraws_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@balances_withdraws_status.errors.count, "error") %> prohibited this balances_withdraws_status from being saved:</h2>

      <ul>
      <% @balances_withdraws_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :balances_withdraws_id %><br>
    <%= f.number_field :balances_withdraws_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_bank_id %><br>
    <%= f.number_field :user_bank_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
