<p id="notice"><%= notice %></p>

<h1>Listing Balances Withdraws Statuses</h1>
  	<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">

  <thead>
    <tr>
      <th>Balances withdraws</th>
      <th>Status</th>
      <th>User</th>
      <th>User bank</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balances_withdraws_statuses.each do |balances_withdraws_status| %>
      <tr>
        <td><%= balances_withdraws_status.balances_withdraws_id %></td>
        <td><%= balances_withdraws_status.status %></td>
        <td><%= balances_withdraws_status.user_id %></td>
        <td><%= balances_withdraws_status.user_bank_id %></td>
        <td><%= balances_withdraws_status.description %></td>
        <td><%= link_to 'Show', balances_withdraws_status %></td>
        <td><%= link_to 'Edit', edit_balances_withdraws_status_path(balances_withdraws_status) %></td>
        <td><%= link_to 'Destroy', balances_withdraws_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>
<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('New Balances withdraw')}</button>".html_safe, new_balances_withdraws_status_path , { :class=>'linktop' } %>

