<p id="notice"><%= notice %></p>

<p>
  <strong>Balances withdraws:</strong>
  <%= @balances_withdraws_status.balances_withdraws_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @balances_withdraws_status.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @balances_withdraws_status.user_id %>
</p>

<p>
  <strong>User bank:</strong>
  <%= @balances_withdraws_status.user_bank_id %>
</p>


<%= link_to 'Edit', edit_balances_withdraws_status_path(@balances_withdraws_status) %> |
<%= link_to 'Back', balances_withdraws_statuses_path %>



