


<!DOCTYPE html>
<html>
<head>
	<title>Email template</title>
	<style type="text/css">
		@font-face{
			font-family: "Arabic-font";
			src: url('https://dashboard.payers.net/other/med.ttf') format("truetype");
			font-weight: 400;
			font-style: normal;
		}
		@font-face{
			font-family: "English-font";
			src: url('https://dashboard.payers.net/other/Gotham-Medium.otf') format("opentype");
			font-weight: 400;
			font-style: normal;
		}
	</style>
</head>
<body style="margin:0px;padding: 0px;">
	<div style="background: -webkit-linear-gradient(left, #f2f4f7, #f7f8fa);background: -o-linear-gradient(right, #f2f4f7, #f7f8fa);background: -moz-linear-gradient(right, #f2f4f7, #f7f8fa);background: linear-gradient(to right, #f2f4f7, #f7f8fa);padding: 125px 15px 80px;font-family: 'Arabic-font', sans-serif;">
		<div class="div-wrapper" style="max-width: 790px;margin: auto;direction: rtl;">
			<table class="whole-cotent" style="border-collapse: collapse;background: #ffffff;border-radius: 5px;width: 100%;box-shadow: 0 5px 20px 0 rgba(12, 16, 26, 0.05);">
				<tr>
					<td>
						<table class="table-100" style="border-collapse: collapse;width: 100%;margin-bottom: 60px;">
							<tr>
								<td class="text-right logo-td" style="text-align: right;vertical-align: top;padding-right: 60px;">
									<a href="#" class="logo-a" style="width: 115px;background: #08c4ff;border-radius: 100px;display: inline-block;text-align: center;padding: 55px 0 40px;margin-top: -70px;box-shadow: 0 0px 60px 0 rgba(12, 16, 26, 0.05);">
							
										<img src="<%= Rails.application.secrets.app_host %>/other/logo.png" alt="logo" class="logo-img" style="width: 75px;">
									</a>
								</td>
								<td class="number-table text-left" style="text-align: left;vertical-align: top;font-family: 'English-font', sans-serif;padding: 25px;font-size: 10px;font-weight: 400;color: #99a3b1;line-height: 18px;">
								<%= Time.now %><br>Payers System Automatic Email
								<%= Rails.application.secrets.app_host %>

								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="text-right text-block" style="text-align: right;padding-right: 60px;padding-left: 15px;">
							<h4 style="color: #3d4565;font-size: 30px;font-weight: 400;margin-top: 0px;margin-bottom: 20px;">  <%= @greeting  %> <%= @username %> </h4>

						<h4 style="color: #3d4565;font-size: 20px;font-weight: 400;margin-top: 0px;margin-bottom: 15px;"><%= @content %></h4>
						<p style="font-size: 14px;font-weight: 400;color: #6c757f;line-height: 26px;margin-top: 0px;margin-bottom: 0px;">
						 <%= t('Charging Your Account Done With Balance')%> <%= @value  %> <%= t('balance IN Dolar')%> <br>
							<%= t('Your Balance Now Is') %> <%= @currentbalance %>
						</p>
						<!-- <p style="font-size: 16px;font-weight: 400;color: #99a3b1;line-height: 36px;margin-top: 0px;margin-bottom: 20px;">
								<%# @content %> 
							 </p> -->
						<table background="<%= Rails.application.secrets.app_host %>/other/circle.png" style="border-collapse: collapse; width: 100%;min-height: 300px;background-size: auto 235px;background-repeat: no-repeat;background-position: left top;">
							<tr>
								<td style="padding-top: 42px;padding-left: 57px;">
									<table background="<%= Rails.application.secrets.app_host %>/other/animation.png" style="border-collapse: collapse;width: 100%;background-size: auto 160px;background-repeat: no-repeat;background-position: left top;box-shadow: 0 5px 20px 0 rgba(12, 16, 26, 0.05);border-radius: 6px;">
										<tr>

                       

											<td style="width: 205px;padding-right: 35px;padding-left: 30px;">
												<span style="font-size: 10px;font-weight: 400;color: #99a3b1;display: inline-block;"><%= t('Card Owner')%></span>
												<p style="font-size: 14px;color: #252831;margin-top: 0px;margin-bottom: 8px;"><%= @username %></p>
												<span style="font-size: 10px;font-weight: 400;color: #99a3b1;display: inline-block;"><%= t('Expire Date')%></span>
												<p style="font-size: 14px;color: #252831;margin-top: 0px;margin-bottom: 8px;"><%= @expiredate %></p>
												<span style="font-size: 10px;font-weight: 400;color: #99a3b1;display: inline-block;"><%= t('Card Value')%></span>
												<p style="font-size: 14px;color: #252831;margin-top: 0px;margin-bottom: 8px;"><%= @value %></p>
												<div style="text-align: left;">
													<a href="#" style="padding: 0 20px;box-shadow: inset 0 0 0 2px #252831;font-size: 10px;font-weight: 700;border-radius: 30px;height: 30px;display: inline-block;line-height: 30px;color: #252831;text-decoration: none;">
														<%= t('Card Print')%>
													</a>
												</div>
											</td>
											<td style="width: 30px;">
												<div style="width: 30px;background: -webkit-linear-gradient(left, #ffffff, #fafafa);background: -o-linear-gradient(right, #ffffff, #fafafa);background: -moz-linear-gradient(right, #ffffff, #fafafa);background: linear-gradient(to right, #ffffff, #fafafa);height: 305px">
													
												</div>
											</td>
											<td style="padding-right: 20px;">
												<h4 style="font-size: 16px;font-weight:700;color: #252831;margin: 0 0 5px;line-height: 1;"><%= t('Cart Number')%></h4>
												<h3 style="font-size: 25px;font-weight:700;color: #252831;margin: 0;line-height: 60px;font-family: 'English-font', sans-serif;"><span style="display: inline-block;line-height: 25px;vertical-align: top;padding-top: 12px;"><%= @cartnn %></span> 	<img src="<%= Rails.application.secrets.app_host %>/other/icon.png" style="height: 60px;width: auto;display: inline-block;"></h3>
												<h4 style="font-size: 16px;font-weight:700;color: #252831;margin: 0 0 5px;line-height: 1;"><%= t('Serial Number')%></h4>
												<h3 style="font-size: 25px;font-weight:700;color: #252831;margin: 0;line-height: 60px;font-family: 'English-font', sans-serif;"><span style="display: inline-block;line-height: 25px;vertical-align: top;padding-top: 12px;"><%= @pre %></span> 	<img src="<%= Rails.application.secrets.app_host %>/other/icon1.png" style="height: 60px;width: auto;display: inline-block;"></h3>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<img src="<%= Rails.application.secrets.app_host %>/other/three-line.png" alt="three-line" style="width: 70px;height: auto;display: inline-block;margin-top: -35px;margin-bottom: 20px;">
						<p style="font-size: 14px;font-weight: 400;color: #6c757f;line-height: 24px;margin-top: 0px;margin-bottom: 30px;">
							<!-- ف ةلاح دوجو ىا طباور وا رارزا فوس رهظت سفنب رهظم عقوملا و انه لاثم ىلع لكشلا نكمملا روهظلا ه -->
						</p>
						<!-- <a href="#" style="padding: 0 30px;height: 40px;text-decoration: none;margin-left: 15px;margin-bottom:20px;border-radius: 40px;line-height: 40px;font-size: 12px;font-weight: 400;display: inline-block;background: #99a3b1;color: #ffffff;">عفدإ نلأا</a>
						<a href="#" style="padding: 0 30px;height: 40px;text-decoration: none;margin-left: 15px;margin-bottom:20px;border-radius: 40px;line-height: 40px;font-size: 12px;font-weight: 400;display: inline-block;background: #08c4ff;color: #ffffff;">عفدإ نلأا</a>
						<a href="#" style="padding: 0 30px;height: 40px;text-decoration: none;margin-left: 15px;margin-bottom:20px;border-radius: 40px;line-height: 40px;font-size: 12px;font-weight: 400;display: inline-block;background: #000000;color: #ffffff;">عفدإ نلأا</a> -->
						<p style="font-size: 10px;font-weight: 400;color: #6c757f;line-height: 36px;margin-top: 0px;margin-bottom: 120px;">
							<!-- ح ةبغرلا ىف راهظا تامولعم نكل طخب رهظا , نوكي رهظملا صاخلا اهب لثم ام وه حضوم اذهب رطسلا نم تامولعمل -->
						</p>
					</td>
				</tr>
				<tr>
					<td class="custome-footer" style="width: 100%;border-top: 2px solid #efefef;">
						<table class="cutome-table" style="border-collapse: collapse;width: 100%;">
							<tr>
								<td class="social-td" style="padding-right: 60px;">
                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social1.png" alt="social"></a>
                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social2.png" alt="social"></a>
                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social3.png" alt="social"></a>
                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social4.png" alt="social"></a>
                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social5.png" alt="social"></a>
                    <a href="https://www.facebook.com/PayersLTD" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social6.png" alt="social"></a>
                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social7.png" alt="social"></a>
                    <a href="#" style="display: inline-block;"><img src="<%= Rails.application.secrets.app_host %>/other/social8.png" alt="social"></a>
								</td>
								<td>
									<table class="footer-logo" style="border-collapse: collapse;width: 100%;margin: 30px 0;">
										<tr>
											<td class="footer-img-detail text-left" style="text-align: left;vertical-align: middle;padding-left: 10px;">
												<h5 style="font-size:18px;font-family:'English-font', sans-serif;color: #232323;margin: 0px;line-height: 28px;font-weight: 400;">Payers.net</h5>
												<p style="margin: 0px;font-size: 12px;color: #999999;font-family:'English-font', sans-serif;">Official name should appears here</p>
											</td>
											<td class="footer-img" style="vertical-align: middle;width: 60px;padding-left: 20px;">
												<img src="<%= Rails.application.secrets.app_host %>/other/logo-color.png" alt="logo-color" style="margin-top: 5px;">
											</td>
										</tr>
									</table>
								</td>	
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<p style="font-size: 10px;margin: 0px;padding: 15px 0;color: #6c757f;font-weight: 700;"><%= t('If You Recieve This Email By Mistake Please Inform Us From') %></p>
		</div>
	</div>
</body>
</html>
































