@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7e0ky2');
  src:  url('fonts/icomoon.eot?7e0ky2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7e0ky2') format('truetype'),
    url('fonts/icomoon.woff?7e0ky2') format('woff'),
    url('fonts/icomoon.svg?7e0ky2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Valid-Doc:before {
  content: "\e915";
  color: #20cf75;
}
.icon-credit-card:before {
  content: "\e916";
}
.icon-user-cert:before {
  content: "\e907";
  color: #fff;
}
.icon-arrowup:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e901";
}
.icon-building:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-Dashboard:before {
  content: "\e904";
}
.icon-dollor:before {
  content: "\e905";
}
.icon-dollor-icon:before {
  content: "\e906";
}
.icon-History:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-home-icon:before {
  content: "\e90a";
}
.icon-Notifications:before {
  content: "\e90b";
}
.icon-Plus-white:before {
  content: "\e90c";
  color: #fff;
}
.icon-rocket:before {
  content: "\e90d";
}
.icon-Support:before {
  content: "\e90e";
}
.icon-Transfer-Confirmation .path1:before {
  content: "\e90f";
  color: rgb(8, 196, 255);
}
.icon-Transfer-Confirmation .path2:before {
  content: "\e910";
  margin-left: -0.9521484375em;
  color: rgb(61, 69, 101);
}
.icon-Transfer-Confirmation .path3:before {
  content: "\e911";
  margin-left: -0.9521484375em;
  color: rgb(61, 69, 101);
}
.icon-user-check:before {
  content: "\e912";
}
.icon-wallet:before {
  content: "\e913";
}
.icon-white-logo:before {
  content: "\e914";
}
