<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :user_id, t('User') %><br>
    <%= f.number_field :user_id ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :prefix, t('prefix')  %><br>
    <%= f.text_field :prefix ,  :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :cart_number , t('cart number') %><br>
    <%= f.text_field :cart_number ,  :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :value, t('value')  %><br>
    <%= f.text_field :value ,  :class => 'form-control' %>
  </div>
  <div class="field checkbox clip-check check-primary">
   <%= f.check_box :status ,  :class => 'form-control' %>
   <%= f.label :status  ,t('Status')%><br>
  </div>  
  <div class="field">
    <%= f.label :expire_date , t('expire date') %><br>
    <%= f.date_select :expire_date  ,start_year: 2016 ,end_year: 2050 , use_month_numbers: true, prompt: { day: t('Select day'), month: t('Select month'), year: t('Select year') },  :class => 'form-control' %>
  </div>
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>

  </div>
<% end %>
