           <% content_for :title, t('New Balance Card') %>
            <% content_for :icon, 'dollor' %>
                <div class="row row-sm">
                    <div class="col-md-12 col-lg-5 col-sm-12">
                        <div class="clearfix">
                            <a href="#" class="l-height-md pull-right mrg-bottom-lg mrg-left-xs hlf-e-btm">
                                <i class="self-icon-crcl icon-Plus-white mrg-left-xs bg-brand text-white sm-lg-fontsize"></i> <span class="iblock text-black font-bold"><%= t('New Balance Card') %> </span>
                            </a>
                            <div class="search-div search-length radius-md bg-white b-boxshadow pull-left  mrg-bottom-lg hlf-e-btm">
                                <input id="search_text" type="text" name="search" class="text-dgray sm-md-fontsize" placeholder=<%= t('Search') %>>
                                <button class="search-btn"><i id = "span_search" class="icon ic-search-1"></i></button>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-12" id="500USD">
                                <div class="self-animation-bg big-box mrg-bottom-lg hlf-e-btm">
                                    <div class="inner-box">
                                        <div class="inner-box-content">
                                            <div class="crcl-animation">
                                                <span class="lg-crcl"></span>
                                                <span class="md-crcl"></span>
                                                <span class="sm-crcl"></span>
                                            </div>
                                            <h4 class="text-black font-bold sm-lg-fontsize"><%= t('Card Value') %></h4>
                                            <h2 class="xlg-lg-fontsize l-height-1 text-black english-font font-weight-normal mrg-bottom-xs mrg-top-xs hlf-e-btm"><%= @cards[4]%></h2>
                                            <h4 class="text-black font-bold sm-lg-fontsize"><%= t('balance IN Dolar') %></h4>
                                        </div>
                                        <a href="/payment_method?id=<%= @cards[4]%>"  class="btn md-padding radius-md text-white bg-black text-hover-white hover-bg-brand"><%= t('Buy Card') %></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-7">
                        <div class="row row-sm">

                            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" id="50USD">
                                <div class="self-animation-bg small-box mrg-bottom-lg hlf-e-btm">
                                    <div class="inner-box">
                                        <div class="inner-box-content">
                                            <div class="crcl-animation">
                                                <span class="lg-crcl"></span>
                                                <span class="md-crcl"></span>
                                                <span class="sm-crcl"></span>
                                            </div>
                                            <h4 class="text-black font-bold sm-lg-fontsize"><%= t('Card Value') %></h4>
                                            <h2 class="xlg-lg-fontsize l-height-1 text-black english-font font-weight-normal mrg-bottom-xs mrg-top-xs hlf-e-btm"><%= @cards[3]%></h2>
                                            <h4 class="text-black font-bold sm-lg-fontsize"><%= t('balance IN Dolar') %></h4>
                                        </div>
                                        <a href="/payment_method?id=<%= @cards[3]%>" id="myBtn50" class="btn md-padding radius-md text-white bg-black text-hover-white hover-bg-brand"><%= t('Buy Card') %></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6  col-lg-6 col-xs-12" id="100USD">
                                <div class="self-animation-bg small-box mrg-bottom-lg hlf-e-btm">
                                    <div class="inner-box">
                                        <div class="inner-box-content">
                                            <div class="crcl-animation">
                                                <span class="lg-crcl"></span>
                                                <span class="md-crcl"></span>
                                                <span class="sm-crcl"></span>
                                            </div>
                                            <h4 class="text-black font-bold sm-lg-fontsize"><%= t('Card Value')%></h4>
                                            <h2 class="xlg-lg-fontsize l-height-1 text-black english-font font-weight-normal mrg-bottom-xs mrg-top-xs hlf-e-btm"><%= @cards[2]%></h2>
                                            <h4 class="text-black font-bold sm-lg-fontsize"><%= t('balance IN Dolar') %></h4>
                                        </div>
                                        <a href="/payment_method?id=<%= @cards[2]%>" id="myBtn100" class="btn md-padding radius-md text-white bg-black text-hover-white hover-bg-brand"><%= t('Buy Card') %></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="unique_card" class="col-md-12 col-lg-5 col-sm-12 pull-left">
                        <div class="self-animation-bg big-box mrg-bottom-lg hlf-e-btm ext-content">
                            <div class="inner-box">
                                <h5 class="md-sm-fontsize font-weight-normal text-black mrg-bottom-sm mrg-top-sm hlf-e-btm"><%= t('Make Your Card') %>..</h5>
                                <p class="sm-sm-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm"> <%= t('You Can Enter Your Card Value And It Will Be created For You') %>..</p>
                                <div class="inner-box-content">
                                    <div class="crcl-animation">
                                        <span class="lg-crcl"></span>
                                        <span class="md-crcl"></span>
                                        <span class="sm-crcl"></span>
                                    </div>
                                    <h4 class="text-black font-weight-normal sm-md-fontsize mrg-bottom-sm hlf-e-btm"><%= t('Card Value') %></h4>
                                    <input type="text" id='userInput' class="xlg-lg-fontsize l-height-1 text-mgray english-font font-weight-normal mrg-bottom-xs mrg-top-xs hlf-e-btm inp-same" value="00">
                                    <h4 class="text-black font-weight-normal sm-md-fontsize"><%= t('balance IN Dolar')%></h4>
                                </div>
                                <a href="" id="myBtn" class="btn md-padding radius-md text-white bg-black text-hover-white hover-bg-brand"><%= t('Buy Card') %></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-7">
                        <div class="row row-sm">
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" id="80USD">
                                <div class="self-animation-bg small-box mrg-bottom-lg hlf-e-btm">
                                    <div class="inner-box">
                                        <div class="inner-box-content">
                                            <div class="crcl-animation">
                                                <span class="lg-crcl"></span>
                                                <span class="md-crcl"></span>
                                                <span class="sm-crcl"></span>
                                            </div>
                                            <h4 class="text-black font-bold sm-lg-fontsize"><%= t('Card Value')%></h4>
                                            <h2 class="xlg-lg-fontsize l-height-1 text-black english-font font-weight-normal mrg-bottom-xs mrg-top-xs hlf-e-btm"><%= @cards[1]%></h2>
                                            <h4 class="text-black font-bold sm-lg-fontsize"> <%= t('balance IN Dolar')%></h4>
                                        </div>
                                        <a href="/payment_method?id=<%= @cards[1]%>" id="myBtn80" class="btn md-padding radius-md text-white bg-black text-hover-white hover-bg-brand"><%= t('Buy Card')%></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6  col-lg-6 col-xs-12" id="10USD">
                                <div class="self-animation-bg small-box mrg-bottom-lg hlf-e-btm">
                                    <div class="inner-box">
                                        <div class="inner-box-content">
                                            <div class="crcl-animation">
                                                <span class="lg-crcl"></span>
                                                <span class="md-crcl"></span>
                                                <span class="sm-crcl"></span>
                                            </div>
                                            <h4 class="text-black font-bold sm-lg-fontsize"><%= t('Card Value')%></h4>
                                            <h2 class="xlg-lg-fontsize l-height-1 text-black english-font font-weight-normal mrg-bottom-xs mrg-top-xs hlf-e-btm"><%= @cards[0]%></h2>
                                            <h4 class="text-black font-bold sm-lg-fontsize"> <%= t('balance IN Dolar')%></h4>
                                        </div>
                                        <a href="/payment_method?id=<%= @cards[0]%>" id="myBtn10" class="btn md-padding radius-md text-white bg-black text-hover-white hover-bg-brand"><%= t('Buy Card') %></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            
      

<script>



$('#search_text').keypress(function (e) {
 var key = e.which;
 if(key == 13)  // the enter key code
  {
    $('#span_search').click();
    return false;  
  }
});   



          $("#span_search").click(function(){

            var searchcard = $('#search_text').val();
            
            if (searchcard == "50")
            
            {
                $("#50USD").show();

                $("#500USD").hide();
                $("#80USD").hide();
                $("#100USD").hide();
                $("#10USD").hide();
                $("#unique_card").hide();


            }


      else  if (searchcard == "100")
            
            {
                $("#50USD").hide();

                $("#500USD").hide();
                $("#80USD").hide();
                $("#100USD").show();
                $("#10USD").hide();
                $("#unique_card").hide();


            }

    else if (searchcard == "80")
            
            {
                $("#50USD").hide();

                $("#500USD").hide();
                $("#80USD").show();
                $("#100USD").hide();
                $("#10USD").hide();
                $("#unique_card").hide();


            }


    else if (searchcard == "10")
            
            {
                $("#50USD").hide();

                $("#500USD").hide();
                $("#80USD").hide();
                $("#100USD").hide();
                $("#10USD").show();
                $("#unique_card").hide();


            }
            else if (searchcard == "500")
            
            {
                $("#50USD").hide();

                $("#500USD").show();
                $("#80USD").hide();
                $("#100USD").hide();
                $("#10USD").hide();
                $("#unique_card").hide();


            }


            else {

                $("#50USD").hide();

                $("#500USD").hide();
                $("#80USD").hide();
                $("#100USD").hide();
                $("#10USD").hide();

                $("#unique_card").show();
            }
            //alert(searchcard);

});

              




var btn = document.getElementById("myBtn");
btn.onclick = function() {
userInput = document.getElementById('userInput').value;
var check = $.isNumeric( userInput);
if (check == true)
 {

btn.href = "/payment_method?id=" + userInput;



}
else {

    $('#failure-messege').text("<%= t("invalid") %>");                      
$('#failure-popup').show();    
return false;

    }
    }

</script>

        
    