<script>
  
  $(document).ready(function() {



    var cart = "<%= @findcart %>";
    console.log(cart);
    if (cart == '') {

      $('#failure-messege').text("Card is not valid");
      
      $('#failure-popup').show();


    }


    if (cart != '') {
      
        var success = "<%= @success_msg %>"
        var fail = "<%= @fail_messege %>"

        
        if (success != ''){

            $('#success-messege-p').text("<%=  @success_msg  %>");
            $('#success-popup').show();
            $('#failure-popup').hide();

        }

        if (fail != ''){

            $('#failure-messege').text("<%=  @fail_messege  %>");
            $('#failure-popup').show();
            $('#success-popup').hide();

        }
           
      
      
          }
  
  var current_currency='dollar';
  
  $("#add_wallet").click(function() {
      
    
     
      
      
      $( "#wallet" ).load( "/users_wallets_balances/new #new-wallet", function() {
    
          //$.selectpicker('refresh');
          
          $.getScript("/assets/js/jquery.js");
          
          $.getScript("/assets/js/bootstrap.min.js");
  
          $.getScript("/assets/js/bootstrap-select.min.js");
  
          //$.getScript("/select.js");
         // $.getStyle("/select.css");
          
         //$('head').append('<link rel="stylesheet" type="text/css" href="/select.css">');
         
          
         // $.getScript("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js");
         // $.getStyle("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css");
                //  $.getStyle("/assets/css/layout.css");
  
          
         
  
  
          $.getScript("/assets/js/app.js");
  
          //$.getScript("/assets/js/slick.min.js");
         // $.getScript("/assets/js/jquery.mCustomScrollbar.js");
          
  
          
  
          
          
      });
      return false;
      
      });
      
  
  $("#EGP").click(function() {
  
  
      
      $('#walletvalue').text('<%=
      if @egp_wallet != nil and @egp_wallet.is_deleted == 0
      
      @egp_wallet.balance.round(2).to_s
     
      end
       
       %>');
      
      current_currency='egp';
     // alert(current_currency);
      
      return false;
       
  });
  
  
  $("#USD").click(function() {
      
          $('#walletvalue').text('<%= sprintf("%.2f",(@dollar_wallet.balance.to_s)) %>');
          current_currency='dollar';
          //alert(current_currency);
          
         
          return false;
           
      });
  
      $("#SAR").click(function() {
          
          current_currency='sar';
              $('#walletvalue').text('<%= 
              if @sar_wallet != nil and  @sar_wallet.is_deleted == 0 
              
              sprintf("%.2f",(@sar_wallet.balance.to_s))
              
             
              end
               %>');
             // alert(current_currency);
              
             
              return false;
               
          });
  
          //@usdtoegp =    Setting.where(key:'USD TO EGP').first
          //@egptousd =    Setting.where(key:'EGP TO USD').first
           //@egptors =    Setting.where(key:'EGP TO SAR').first
                       
           //@rstoegp =    Setting.where(key:'SAR TO EGP').first
           //@usdtors =    Setting.where(key:'USD TO SAR').first
           //@rstousd =    Setting.where(key:'SAR TO USD').first
            
  
          $("#toEGP").click(function() {
              if (current_currency == 'egp') {
                  
                  $('#walletvalue').text('<%= 
                  if @egp_wallet != nil and @egp_wallet.is_deleted == 0
                 
                  sprintf("%.2f",(@egp_wallet.balance.to_s))
                  end
                  
                  %>');
                                      
                                  }
             
                  if (current_currency == 'dollar') {
  
                  var y = "<%= @dollar_wallet.balance.to_f %>";
                  var x = "<%= @usdtoegp.value.to_f%>";
                  var result=(x*y).toFixed(2);
                  $('#walletvalue').text(result.toString());
                      
                  }
  
                  if (current_currency == 'sar') {
                      
                                      var y = "<%=
                                      if @sar_wallet != nil and  @sar_wallet.is_deleted == 0
                                      
                                      @sar_wallet.balance.to_f
                                      end
                                      %>";
                                      var x = "<%= @rstoegp.value.to_f%>";
                                      var result=(x*y).toFixed(2);
                                      $('#walletvalue').text(result.toString());
                                          
                   }
  
                 
                  return false;
                   
              });
  
              $("#toSAR").click(function() {
  
                  if (current_currency == 'sar') {
                      
                      $('#walletvalue').text('<%= 
                      if @sar_wallet != nil and  @sar_wallet.is_deleted == 0
                      
                      @sar_wallet.balance.to_s 
                      end
                      %>');
                                          
                                      }
                  
                       if (current_currency == 'dollar') {
       
                       var y = "<%= @dollar_wallet.balance.to_f %>";
                       var x = "<%= @usdtors.value.to_f%>";
                       var result=(y*x).toFixed(2);
                       $('#walletvalue').text(result.toString());
                           
                       }
       
                       if (current_currency == 'egp') {
                           
                                           var y = "<%= 
                                           if @egp_wallet != nil and @egp_wallet.is_deleted == 0
                                           @egp_wallet.balance.to_f
                                           end
                                           
                                           %>";
                                           var x = "<%= @egptors.value.to_f%>";
                                           var result=(y/x).toFixed(2);
                                           $('#walletvalue').text(result.toString());
                                               
                        }
       
                      
                       return false;
                        
                   });
  
                   $("#toUSD").click(function() {
                      
  
                      if (current_currency == 'dollar') {
                          
                          $('#walletvalue').text('<%= sprintf("%.2f",(@dollar_wallet.balance.round(2).to_s)) %>');
                                              
                                          }
           
                                          
                           if (current_currency == 'egp') {
           
                           var y="<%= 
                           if @egp_wallet != nil and @egp_wallet.is_deleted == 0
                           @egp_wallet.balance.to_f 
                           end
                           %>";
                          // var y = parseFloat(z);
                           var x = "<%= @egptousd.value.to_f%>";
                           var result=(y/x).toFixed(2);
                           $('#walletvalue').text(result.toString());
                               
                           }
           
                           if (current_currency == 'sar') {
  
  
  
                                               var y="<%= 
                                               if @sar_wallet != nil and  @sar_wallet.is_deleted == 0
                                               
                                               @sar_wallet.balance.to_f 
                                               end
                                               %>";
                                              // var y = parseFloat($(z));
                                               var x = "<%= @rstousd.value.to_f%>";
                                               var result=(y/x).toFixed(2);
                                               $('#walletvalue').text(result.toString());
                                                   
                            }
           
                          
                           return false;
                            
                       });
                   $("#charge-cart").click(function()
                  {
                                      
                                     
  
                 
                // $("#cart-balance").show();
                 var id =  $("#charge-cart").attr('href');
                 var re= id +" "+ "#cart-balance";
                //$( "#data" ).load(re);
                
                  
  
                $( "#data" ).load( re , function() {
                  
                       
                     
                        $.getScript("/assets/js/app.js");
                      
                   
                    
                    });
                  
                    
                  
                 //console.log(id);
                 return false;
                 
                  });
                   
                             
              });
  
   
  </script>
  
  <%= render :template => 'userds/account_settings'%>

  
  <div id="data" >
             
          </div>
  
  
  
          <div id="wallet" >
                  
               </div>
  
  
  

       


 

 
