

<% content_for :title, t('Show Cart') %>
<% content_for :icon, 'Dashboard' %>

<script>
	// $(document).ready(function(){
	// 	$("#copyButton").click(function(){
  //        $("#btn-default").show();
	// 			$("#btn-default").fadeTo(1000, 0);
	//
	//
	// 		});
	// 			 $("#copyButton2").click(function(){
	// 	          $("#btn-default1").show();
	// 	 				$("#btn-default1").fadeTo(1000, 0);
	//
	//
	// 	          })
	//
  //   	 });
       </script>

			 <style>
			 .modal-header{
				 border-bottom: 0px !important;
			 }
			 </style>


                <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                      <img src="<%= format_link(request) %>/assets
/imgs/trans-confirm.png" alt="trans-confirm">
                    </h3>
                    <div class="clearfix">
                       <div class="row">
                        <!-- <div class="col-lg-6 col-md-6"> -->
                        <div class="pull-right sm-f-width box-shadow-left">
                            <div class="page-title l-height-md mrg-bottom-md">
                                <div class="row row-default button-row">
                                    <div class="col-xs-12">
                                        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                          <%= t('Card Details') %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
                                <span class="ico lg-md-fontsize text-yellow">!</span>
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Dont Tell Any One About Your Cart Details') %> !</h5>
                                <p class="sm-md-fontsize text-dgray"><%= t('To Avoid Random Charge Operations, Dont Tell Any One About This Data') %>.</p>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                            <div class="padding-ver-md mrg-bottom-sm">
                                <h3 class="text-black md-sm-fontsize font-bold mrg-bottom-sm hlf-e-btm"><%= t('Cart Number') %></h3>
                                <h2 id="copyTarget" class="text-black mrg-bottom-lg hlf-e-btm lg-md-fontsize font-weight-normal english-font"><%= @cartnn %> <i id="copyButton" class="icon ic-icons-329 ic-crl border-black hover-bg-brand text-hover-white text-black"></i></h2>
                                <!-- <div  id='id1' class="alert alert-warning alert-dismissible" style="text-align:left !important; display:none;">
                                  <a href="#" class="close" data-dismiss="alert" aria-label="close" style="float:right;">&times;</a>
                                  <strong>Info!</strong> you can copy this code
                                </div> -->
																<div id="btn-default" class="btn btn-default" style="background:#000; color:#fff; margin-right:325px; margin-top:-130px; display:none;">نسخ</div>










                                <input style ="display:none;" type="text" value=<%= @cartnn %> id="myInput">

                                <h3 class="text-black md-sm-fontsize font-bold mrg-bottom-sm hlf-e-btm"><%= t('Serial Number') %></h3>
                                <h2 id="copyTarget2" class="text-black lg-md-fontsize font-weight-normal english-font"><%= @pre %> <i  id="copyButton2" class="icon ic-icons-329 ic-crl bg-black hover-bg-brand text-hover-white text-white"></i></h2>

				<div id="btn-default1" class="btn btn-default" style="background:#000; color:#fff; margin-right:200px; margin-top:-70px; display:none;">نسخ</div>



                                <input style ="display:none;" type="text" value=<%= @pre %> id="myInput2">

                            </div>
                            <a href="#" class="btn sm-padding radius-md text-black text-hover-white border-black hover-bg-brand" onclick = "window.print();return false;">
                               <%= t('Card Print') %>
                            </a>
                        </div>
                      <!-- </div> -->
                        <!-- <div class="col-lg-6 col-md-6"> -->
                        <div class="pull-right box-shadow-right sm-f-width">
                            <div class="iblock mrg-left-lg mrg-bottom-md">
                                <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Card Value') %></h5>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= @cart.real_value.round(2) %></p>

                                <p class="sm-md-fontsize text-dgray"><%= t('balance IN Dolar') %></p>
                            </div>
                            <div class="iblock mrg-bottom-md">

                                <!-- <p id='123'> khalid</p> -->
                                <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Administrative expenses') %></h5>

                                <% @v = (@cart.real_value.round(2) - @cart.value.round(2))  %>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= @v.round(2)  %></p>
                                <p class="sm-md-fontsize text-dgray"><%= t('balance IN Dolar') %></p>
                            </div>
                            <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('Total Sum') %></p>
                            <h1 class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
                                <%= @cart.value.round(2) %>
                            </h1>
                            <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('balance IN Dolar') %></p>


                            

                            <div class="mrg-top-md">

                             <!-- <a href="/cartbalance" target="_blank" class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding"><i class="ico icon-dollor-icon"></i> <%# t('Charge Account') %></a> -->
                                <% if @cart.status == 1 %> 
                             <a href="#"  id="chargeaccount" class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding"><i class="ico icon-dollor-icon"></i> <%= t('Charge Account') %></a>
                                <% end %>
                                <a id='report_prop' ticket_status = "<%= @trans.ticket_opend %>" href="#"  class= "mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" data-tran = "<%= @trans.transaction_id %>" >
                                    <i class="ico icon-white-logo"></i>
                                    <%= t('Report a problem') %>
                                </a>
                                <!-- <a href="#" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" onclick = 'window.print();return false;'> -->
                                      <!-- <i class="ico icon-white-logo"></i> <%# t('Print a process receipt') %> -->
                                <!-- </a> -->



                            </div>


                        </div>
                    <!-- </div> -->
                  </div>
                </div>
                </section>




                <div id="confirm_charge_popup" class="selfpopup" style="display:none;">
                    <div class="selfpopup-bg">
                    </div>
                    <div class="selfpopup-content">
                        <div class="selfpopup-inner">
                            <div class="selfpopup-middle">
                                <div class="padding-all-sm">
                                    <div class="cart-balance selfpopup-caption">
                                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                            <h4 class="icon-img-pp mrg-bottom-sm">
                                                <img src="<%= format_link(request) %>/assets/imgs/error.png" alt="error">
                                            </h4>

                                            <%= form_for :cartbalance , url: cartbalance_path do |f| %>

                                            <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"> <%= t('are you sure charging this card')%></h5>
                                            <p id ="failure-messege" class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                
                                            </p>
                
                                            <div class="self-btn-group mrg-top-md">
                                                <div class="mrg-top-md">
                                                    <%=  f.hidden_field :cartnum , class: 'selfinput',:value =>   @cartnn%>
                                                    <%=  f.hidden_field :prefix , class: 'selfinput' , :value => @pre %>

                                                        <!-- <a class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" ><i class="ico icon-white-logo"></i>نعم</a> -->
                
                                                        <%# link_to t('Delete Account'),users_bank_path(@users_bank), method: :delete, class:"mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" %>
                
                                                        <!-- <a class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" rel="nofollow" data-method="delete" href="/users_banks/<%# @users_bank.id %>"><i class="ico icon-white-logo"></i><%# t( 'yesss') %></a> -->
                                                   

                                       <%# f.submit t('yesss', default: t('yesss')), class: 'mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding',onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" %>
                                                
                                       <input type="submit" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" name="btnADD" id="btnADD" value="<%= t('yesss') %>" onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" />

                                                        <a href="#"  id = 'no_del' class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                                                            <%= t('nooo') %>

                                                        </a>
                                    <% end %>
                                                        
                                                    
                                                    
                                                    
                                    
                                                   
                                                </div>
                                            </div>
                
                                            <!-- <a href="#" class="btn md-padding radius-md border-brand text-brand text-hover-white hover-bg-brand">ةفاضإ ديصرلا</a> -->
                                        </div>
                                        <div class="crcl-animation">
                                            <span class="lg-crcl"></span>
                                            <span class="md-crcl"></span>
                                            <span class="sm-crcl"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  


                <script>



 $(document).ready(function() {

        $("#chargeaccount").click(function() {
    
          $('#confirm_charge_popup').show();

                         });


             $("#no_del").click(function() {
    
                $('#confirm_charge_popup').hide();

         });


             


});




           

              $("#report_prop").click(function() {

                var status = $(this).attr('ticket_status');
               
                if(status == 1){

                    var url = $(".ticket_disabled").attr('ticket_script');
                     

                $('#success-messege').text(url);

                $('#success-popup').show();

                } else {
                      

              $('#freshdesk_trans_id').val($( this ).attr('data-tran'));

              $('#user_ticket_data').show();
                return false;
                }

                    });





                            function copyToClipboard(element) {
                                var $temp = $("<input>");
                                $("body").append($temp);
                                $temp.val($(element).text()).select();
                                document.execCommand("copy");
                                $temp.remove();
                              }




                        document.getElementById("copyButton").addEventListener("click", function() {

                                var v1 = document.getElementById('copyTarget');
                                console.log(v1);


                            copyToClipboard(v1);
														$("#btn-default").show();
													 $( "#btn-default" ).fadeOut(400);
													// $("#btn-default").hide();



                        });




                        document.getElementById("copyButton2").addEventListener("click", function()
                             {

                            var v1 = document.getElementById('copyTarget2');
                            copyToClipboard(v1);
														$("#btn-default1").show();
													 $( "#btn-default1" ).fadeOut(400);
													// $("#btn-default1").hide();



                                     });








                </script>
