
<%= render :template => 'userds/account_settings'%>



<div id="cart-balance" class="selfpopup">
            <div class="selfpopup-bg">
            </div>
            <div class="selfpopup-content">
                <div class="selfpopup-inner">
                    <div class="selfpopup-middle">
                        <div class="padding-all-sm">
                            <div class="cart-balance selfpopup-caption">
                                <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                   <%= form_for :cartbalance  do |f| %>
                                    <h5 class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal"><%= t('Add Balance Card') %></h5>


                                   

                                    
                                    <div class="row">
                                       
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="self-label">
                                                <label>
                                                    <%=  f.text_field :cartnum , class: 'selfinput'%>
                                                    <span class="placeholder-span"><%= t('Cart Number') %></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xs-12">
                                                <div class="self-label">
                                                    <label>
                                                        <%=  f.number_field :prefix , class: 'selfinput' %>
                                                        <span class="placeholder-span"><%= t('Serial Number') %></span>
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                                       <%= f.submit t('.Add Balance', default: t('Add Card')), class: 'btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm' %>
                                    
                                        
                                      
                                    <% end %>

                                    <!-- <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix" style="margin-right:140px; ">
                                        <span class="ico lg-md-fontsize text-yellow">!</span>
                                        <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%# t("Don't Have Balance Card Get it Now") %>  <a href="/buycart" class=""><%= t('Buy Now') %></a>
                                        </h5> -->
                                        <!-- <p class="sm-md-fontsize text-dgray">يرجي مراجعة بيانات الصرف قبل </p> -->
                                        <!-- <span class="alert-close icon-Plus-white"></span> -->

                                    <!-- </div> -->
                                    <!-- <div class="text-left">

                                    </div> -->

                                </div>
                                <div class="crcl-animation">
                                    <span class="lg-crcl"></span>
                                    <span class="md-crcl"></span>
                                    <span class="sm-crcl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        

<script>

  $("#deleteaccount").click(function() {
                
                    $('#confirm_delete_popup').show();

                         });


                         $("#no_del").click(function() {
                
                $('#confirm_delete_popup').hide();

                     });


          
</script>