 <% if current_userd.id == @balance.user_id %> 
<% content_for :title, t('edit balance') %>
<% content_for :icon, 'wallet' %>
      

<% if @balance.w_from_name == "USD" %>
<% @currency = t('balance IN Dolar')%>
<% elsif @balance.w_from_name == "EGP" %>
<% @currency = t('balance IN Egp')%>
<% elsif @balance.w_from_name == "SAR" %>
<% @currency = t('balance IN Rys')%>
<% end %>
                <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                      <img src="<%= format_link(request) %>/assets
/imgs/trans-confirm.png" alt="trans-confirm">
                    </h3>
                    <div class="clearfix">
                        <div class="pull-right sm-f-width box-shadow-left">
                            <div class="page-title l-height-md mrg-bottom-md">
                                <div class="row row-default button-row">
                                    <div class="col-xs-12">
                                        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                         <%= t('edit balance details') %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <% if @status == "add" %>
                            <div class="msg-alert alert box-size border-color-green hlf-btm bg-white padding-ver-xs clearfix">
                            <span class="ico icon ic-right text-green"></span>
                            <% elsif @status == "subtract" %>
                                <div class="msg-alert alert box-size border-color-red hlf-btm bg-white padding-ver-xs clearfix">
                                <span class="ico icon ic-right text-red"></span>
                                <% end %>
                                
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('editing balance operation') %></h5>
                                <p class="sm-md-fontsize text-dgray">
                                <% if @status == "add" %>
                                <%= t('balance added to your balance') %></p>
                                <% elsif @status == "subtract" %>
                                <%= t('balance subtracted from your balance') %></p>
                                <% end %>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                            <div class="btm-bg-grd">
                               <div class="content demo-y height-300 mrg-top-lg hlf-e-btm">
                                    <div class="selfscroll-section">
                                        <table class="table sm-md-fontsize">
                                            <tr><% if @status == "add" %>
                                                      <td class="font-bold text-blue pad-left-xs"><%= t('To Wallet') %>:</td>
                                                <% elsif @status == "subtract" %>
                                                      <td class="font-bold text-blue pad-left-xs"><%= t('From Wallet') %>:</td>
                                                <% end %>
                                                
                                                <td class="font-weight-normal text-dgray"><%= @currency %></td>
                                            </tr>
                                                <td class="font-bold text-blue pad-left-xs"><%= t('Transaction ID') %>:</td>                                             
                                                <td class="font-weight-normal text-dgray"><%= @balance.transaction_id %></td>
                                            </tr>
                        
                                            <tr>
                                                <% if @status == "add" %>
                                                      <td class="font-bold text-blue  pad-left-xs"> <%= t('date of charging') %>:</td>
                                                <% elsif @status == "subtract" %>
                                                      <td class="font-bold text-blue  pad-left-xs"> <%= t('date of subtracting') %>:</td>
                                                <% end %>
                                                
                                                <td class="font-weight-normal text-dgray"><%= @balance.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                                            </tr>   

                                             <tr>
                                                    <td class="font-bold text-blue  pad-left-xs"></td>
                                                    <td class="font-weight-normal text-dgray"></td>
                                                </tr>

                                                <tr>
                                                        <td class="font-bold text-blue  pad-left-xs"></td>
                                                        <td class="font-weight-normal text-dgray"></td>
                                                    </tr>

                                        
                                            
                                        </table>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="pull-right box-shadow-right sm-f-width">
                            <div class="iblock mrg-left-lg mrg-bottom-md">
                                <% if @status == "add" %>
                                        <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Balance before add') %></h5>
                               <% elsif @status == "subtract" %>
                                        <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Balance before subtract') %></h5>
                                <% end %></p>
                                
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= @balance.w_from_balance_before %></p>
                                <p class="sm-md-fontsize text-dgray"><%= @currency %></p>
                            </div>
                            <div class="iblock mrg-bottom-md">
                                <% if @status == "add" %>
                                        <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Balance after add') %></h5>
                               <% elsif @status == "subtract" %>
                                        <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Balance after subtract') %></h5>
                                <% end %></p>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= @balance.w_from_balance_after%></p>
                                <p class="sm-md-fontsize text-dgray"><%= @currency %></p>
                            </div>
                            
                            
                            <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm">
                                <% if @status == "add" %>
                                        <%= t('added balance') %>
                               <% elsif @status == "subtract" %>
                                        <%= t('subtracted balance') %>
                                <% end %></p>
                            <h1 class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
                                <%= @balance.value_from.round(2) %>
                            </h1>
                            <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= @currency %></p>
                            <div class="mrg-top-md">
                                <a  id = 'report_prop' ticket_status = "<%= @balance.ticket_opend %>" href="#"  data-tran = "<%= @balance.transaction_id %>"  class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                                    <%= t('Report a problem') %>
                                </a>
                            </div>
                        </div> 
                    </div>
                </section>
                <% end %>
<%# end %>


<script>

$("#report_prop").click(function() {

                var status = $(this).attr('ticket_status');
               
                if(status == 1){

                    var url = $(".ticket_disabled").attr('ticket_script');
                     

                $('#success-messege').text(url);

                $('#success-popup').show();

                } else {
                      

              $('#freshdesk_trans_id').val($( this ).attr('data-tran'));

              $('#user_ticket_data').show();
                return false;
                }

                    });

</script>