
<%= form_for :generatecarts  do |f| %>
 
  <div class="field">
    <%= f.label :cartnum ,  "carts numbers  for generation"  %><br>
    <%=  f.number_field :cartnum ,  :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :value %><br>
    <%=  f.text_field :value ,  :class => 'form-control'  %>
  </div>
  
  <div class="field">
    <%= f.label :expire_date %><br>
    <%= f.text_field :expire_date ,:value =>DateTime.now.strftime('%Y-%m-%d')  ,  :class => 'form-control' %>
  </div>
 
 
    <div class="actions  text-center"> 
 
       <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Generate') %> </button>

  </div>
<% end %>

