<p id="notice"><%= notice %></p>

<h1><%= t('Active Carts') %> </h1>

<h1><%= @y %> </h1>
 
 									<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('User') %> </th>
      <th><%= t('Prefix') %> </th>
      <th><%= t('cart number') %> </th>
      <th><%= t('value') %> </th>
      <th><%= t('Status') %> </th>
      <th><%= t('expire date') %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activecarts.each do |cart| %>
      <tr>
        <td><%= cart.user_id %></td>
        <td><%= cart.prefix %></td>
        <td><%= cart.cart_number %></td>
        <td><%= cart.value %></td>
        <td><%= cart.status %></td>
        <td><%= cart.expire_date %></td>
        <td>
		<div class="visible-md visible-lg hidden-sm hidden-xs">
			<%= link_to '<i class="fa fa-eye"></i>'.html_safe, cart, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
			<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_cart_path(cart), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
			<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, cart, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
		</div>
		<div class="visible-xs visible-sm hidden-md hidden-lg">
			<div class="btn-group dropdown ">
				<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right dropdown-light" role="menu">
					<li>
						<%= link_to 'Veiw'.html_safe, cart %>
					</li>
					<li>
						<%= link_to 'Edit'.html_safe, edit_cart_path(cart) %>
					</li>
					<li>
						<%= link_to 'Remove'.html_safe, cart, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
					</li>
				</ul>
			</div>
		</div>
		</td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>
<%= will_paginate @activecarts,:param_name => 'active_page', :previous_label => t("previous"), :next_label => t("next") %>

<h1><%= t('InActive Carts') %> </h1>

	 	<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('User') %> </th>
      <th><%= t('Prefix') %> </th>
      <th><%= t('cart number') %> </th>
      <th><%= t('value') %> </th>
      <th><%= t('Status') %> </th>
      <th><%= t('expire date') %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inactivecarts.each do |cart| %>
      <tr>
        <td><%= cart.user_id %></td>
        <td><%= cart.prefix %></td>
        <td><%= cart.cart_number %></td>
        <td><%= cart.value %></td>
        <td><%= cart.status %></td>
        <td><%= cart.expire_date %></td>
        <td>
		<div class="visible-md visible-lg hidden-sm hidden-xs">
			<%= link_to '<i class="fa fa-eye"></i>'.html_safe, cart, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
			<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_cart_path(cart), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
			<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, cart, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
		</div>
		<div class="visible-xs visible-sm hidden-md hidden-lg">
			<div class="btn-group dropdown ">
				<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right dropdown-light" role="menu">
					<li>
						<%= link_to 'Veiw'.html_safe, cart %>
					</li>
					<li>
						<%= link_to 'Edit'.html_safe, edit_cart_path(cart) %>
					</li>
					<li>
						<%= link_to 'Remove'.html_safe, cart, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
					</li>
				</ul>
			</div>
		</div>
		</td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>
<div class="pagination">
<%= will_paginate @inactivecarts,:param_name => 'inactive_page', :previous_label => t("previous"), :next_label => t("next") %>
</div>
<%# link_to 'New Cart', new_cart_path %>


<h1><%= t('Charged Carts') %> </h1>

<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('User') %> </th>
      <th><%= t('Prefix') %> </th>
      <th><%= t('cart number') %> </th>
      <th><%= t('value') %> </th>
      <th><%= t('Status') %> </th>
      <th><%= t('charge date') %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chargedcarts.each do |cart| %>
      <tr>
        <td><%= cart.user_id %></td>
        <td><%= cart.prefix %></td>
        <td><%= cart.cart_number %></td>
        <td><%= cart.value %></td>
        <td><%= cart.status %></td>
        <td><%= cart.updated_at %></td>
        <td>
		<div class="visible-md visible-lg hidden-sm hidden-xs">
			<%= link_to '<i class="fa fa-eye"></i>'.html_safe, cart, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Veiw' } %>					
			<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_cart_path(cart), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
			<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, cart, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Delete'} %>
		</div>
		<div class="visible-xs visible-sm hidden-md hidden-lg">
			<div class="btn-group dropdown ">
				<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right dropdown-light" role="menu">
					<li>
						<%= link_to 'Veiw'.html_safe, cart %>
					</li>
					<li>
						<%= link_to 'Edit'.html_safe, edit_cart_path(cart) %>
					</li>
					<li>
						<%= link_to 'Remove'.html_safe, cart, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
					</li>
				</ul>
			</div>
		</div>
		</td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>
<div class="pagination">
<%= will_paginate @chargedcarts,:param_name => 'charged_page', :previous_label => t("previous"), :next_label => t("next") %>
</div>



<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('New Cart')}</button>".html_safe, new_cart_path , { :class=>'linktop' } %>

