<h1>New Cart</h1>

<%= render 'form' %>


<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-angle-right'></i> </span>#{t('Back')}</button>".html_safe, carts_path , { :class=>'linktop' } %>
