

<script>

        $(document).ready(function() {



            var idd="<%= params[:id] %>";

            function getratio(id){
                var value = "<%= params[:id] %>";
                var id = id;
                           // alert (id);
                   $.ajax({ type:'get',url:'/payment_method_ratios',
                         data:{value:value,id:id},
                         contentType: "application/json",
                         dataType: "json",
                         success: function(data){

                             //console.log(data.value);
                             //console.log(data.bankdata)
                             $('#dollar_total').show();
                             $('#expenses').text(data.value);
                             $('#bankname').text('<%= t("bank name")%>'+' : '+ data.bankdata.bank_name);
                             $('#account_name').text('<%= t("account name")%>'+' : '+ data.bankdata.account_name);
                             $('#account_number').text('<%= t("account number")%>'+' : '+ data.bankdata.account_number);
                             $('#branch').text('<%= t("branch")%>'+' : '+ data.bankdata.branch);
                             $('#name').text('<%= t("name")%>'+' : '+ data.bankdata.name);
                             $('#nationalid').text('<%= t("National ID")%>'+' : '+ data.bankdata.nationalid);
                             $('#branch_code').text('<%= t("branch code")%>'+' : '+ data.bankdata.branch_code);
                             $('#country').text('<%= t("country")%>'+' : '+ data.bankdata.country);
                             $('#city').text('<%= t("city")%>'+' : '+ data.bankdata.city);
                             $('#swiftcode').text('swift code' +' : '+ data.bankdata.swiftcode);
                             $('#ibancode').text('iban code' + ' : '+ data.bankdata.ibancode);
                             $('#phone_num').text('<%= t("phone")%>'+' : '+ data.bankdata.phone);
                             $('#currency').text('<%= t("currency")%>'+' : '+ data.bankdata.currency);
                             $('#bank_name').text('<%= t("bank name")%>'+' : '+ data.bankdata.bank_name);
                             if (data.bankdata.currency == 'EGP')
                             {
                                $('#pound_total').show();
                                $('#riyal_total').hide();

                             }
                             else if (data.bankdata.currency == 'SAR')
                             {
                                $('#pound_total').hide();
                                $('#riyal_total').show();

                             }
                             else if (data.bankdata.currency == 'USD')
                             {
                                $('#pound_total').hide();
                                $('#riyal_total').hide();

                             }
                             if (data.bankdata.bank_subcategory == "localeg/post")
                             {
                                $('#account_name_div').show();
                                $('#account_number_div').show();
                                $('#branch_div').show();
                                $('#branch_code_div').hide();
                                $('#currency_div').show();
                                $('#name_div').show();
                                $('#nationalid_div').show();
                                $('#country_div').hide();
                                $('#city_div').hide();
                                $('#swiftcode_div').hide();
                                $('#ibancode_div').hide();
                                $('#phone_div').hide();
                                $('#bank_name_div').hide();
                                // $('#transfer').show();
                                $('#deposit').show();

                             }
                             else if (data.bankdata.bank_subcategory == "localeg/bank")
                             {
                                $('#account_name_div').show();
                                $('#account_number_div').show();
                                $('#branch_div').show();
                                $('#branch_code_div').show();
                                $('#currency_div').show();
                                $('#name_div').hide();
                                $('#nationalid_div').hide();
                                $('#country_div').hide();
                                $('#city_div').hide();
                                $('#swiftcode_div').hide();
                                $('#ibancode_div').hide();
                                $('#phone_div').hide();
                                $('#bank_name_div').hide();
                                // $('#transfer').hide();
                                $('#deposit').hide();
                             }
                             else if (data.bankdata.bank_subcategory == "localeg/vodafonecash")
                             {
                                $('#account_name_div').hide();
                                $('#account_number_div').hide();
                                $('#branch_div').hide();
                                $('#branch_code_div').hide();
                                $('#currency_div').show();
                                $('#name_div').hide();
                                $('#nationalid_div').hide();
                                $('#country_div').hide();
                                $('#city_div').hide();
                                $('#swiftcode_div').hide();
                                $('#ibancode_div').hide();
                                $('#phone_div').show();
                                $('#bank_name_div').hide();
                                // $('#transfer').hide();
                                $('#deposit').hide();
                             }
                             else if (data.bankdata.bank_subcategory == "localsar")
                             {
                                $('#account_name_div').hide();
                                $('#account_number_div').hide();
                                $('#branch_div').hide();
                                $('#branch_code_div').hide();
                                $('#currency_div').show();
                                $('#name_div').show();
                                $('#nationalid_div').hide();
                                $('#country_div').hide();
                                $('#city_div').hide();
                                $('#swiftcode_div').hide();
                                $('#ibancode_div').show();
                                $('#phone_div').hide();
                                $('#bank_name_div').hide();
                                // $('#transfer').hide();
                                $('#deposit').hide();
                             }
                             else if (data.bankdata.bank_subcategory == "interusd/swift")
                             {
                                $('#account_name_div').show();
                                $('#account_number_div').show();
                                $('#branch_div').show();
                                $('#branch_code_div').show();
                                $('#currency_div').show();
                                $('#name_div').hide();
                                $('#nationalid_div').hide();
                                $('#country_div').show();
                                $('#city_div').hide();
                                $('#swiftcode_div').show();
                                $('#ibancode_div').hide();
                                $('#phone_div').hide();
                                $('#bank_name_div').show();
                                // $('#transfer').hide();
                                $('#deposit').hide();
                             }
                             else if (data.bankdata.bank_subcategory == "interusd/western" || data.bankdata.bank_subcategory == "interusd/money")
                             {
                                $('#account_name_div').hide();
                                $('#account_number_div').hide();
                                $('#branch_div').hide();
                                $('#branch_code_div').hide();
                                $('#currency_div').show();
                                $('#name_div').show();
                                $('#nationalid_div').hide();
                                $('#country_div').show();
                                $('#city_div').show();
                                $('#swiftcode_div').hide();
                                $('#ibancode_div').hide();
                                $('#phone_div').show();
                                $('#bank_name_div').hide();
                                // $('#transfer').hide();
                                $('#deposit').hide();
                             }

                             var datavalue = parseFloat(data.value);
                             var valuef = parseFloat(value);





                             var result = (valuef + datavalue);
                             var pound_result = (result * '<%= @cart_usdtoegp.value.to_f%>');
                             var riyal_result = (result * '<%= @cart_usdtors.value.to_f%>');
                             //console.log(result);
                             // console.log(pound_result);
                              // console.log(riyal_result);
                             $('#total').text(result);
                             $('#pm_amount').val(result);
                             $('#total_val').val(result);
                             $('#dollar_total').text('<%= t("Amount in USD")%>'+' : ' + result);
                             $('#riyal_total').text('<%= t("Amount in SAR")%>' +' : ' + riyal_result);
                             $('#pound_total').text('<%= t("Amount in EGP")%>' +' : ' + pound_result);
                             $("#confirm_pay").attr("disabled",false);

                             }
                             });


            }

        

        $("#1").click(function() {

            getratio(1);




            $('#paypal_form').show();
            $('#perfectmoney_form').hide();
            $('#egyptianpost_form').hide();
            $('#webmoney_form').hide();
            $('#banktransfer_form').hide();
            $('#bitcoin_form').hide();

            $('#1chk').prop('checked', true);
            $('#3chk').prop('checked', false);
            $('#4chk').prop('checked', false);
            $('#cashuck').prop('checked', false);
            $('#7chk').prop('checked', false);
            $('#8chk').prop('checked', false);
            $('#9chk').prop('checked', false);
            $('#10chk').prop('checked', false);
            $('#11chk').prop('checked', false);
            $('#12chk').prop('checked', false);
            $('#13chk').prop('checked', false);
            $('#14chk').prop('checked', false);
            $('#15chk').prop('checked', false);
            $('#16chk').prop('checked', false);
            $('#17chk').prop('checked', false);
            $('#18chk').prop('checked', false);
            $('#19chk').prop('checked', false);
            $('#20chk').prop('checked', false);
            $('#21chk').prop('checked', false);
            $('#payment_data').addClass('active');
            $('#paydetails').show();
            return false;

    });
        $("#3").click(function() {

            getratio(3);

            $('#perfectmoney_form').show();
            $('#paypal_form').hide();
            $('#egyptianpost_form').hide();
            $('#webmoney_form').hide();
            $('#banktransfer_form').hide();
            $('#bitcoin_form').hide();

            $('#1chk').prop('checked', false);
            $('#3chk').prop('checked', true);
            $('#4chk').prop('checked', false);
            $('#cashuck').prop('checked', false);
            $('#7chk').prop('checked', false);
            $('#8chk').prop('checked', false);
            $('#9chk').prop('checked', false);
            $('#10chk').prop('checked', false);
            $('#11chk').prop('checked', false);
            $('#12chk').prop('checked', false);
            $('#13chk').prop('checked', false);
            $('#14chk').prop('checked', false);
            $('#15chk').prop('checked', false);
            $('#16chk').prop('checked', false);
            $('#17chk').prop('checked', false);
            $('#18chk').prop('checked', false);
            $('#19chk').prop('checked', false);
            $('#20chk').prop('checked', false);
            $('#21chk').prop('checked', false);
            $('#payment_data').addClass('active');
            $('#paydetails').show();
            return false;

    });


    $("#7").click(function() {

        getratio(7);


                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').show();
                    $('#webmoney_form').hide();
                    $('#bitcoin_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#cashuck').prop('checked', false);
                    $('#7chk').prop('checked', true);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);

                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });





    $("#pay_egyptian").click(function() {

      $('#egyptian_post').show();

        return false;

        });


        $("#pay_banktransfer").click(function() {

                  $('#banktransfer_post').show();
                 $('#egyptian_post').hide();

                 $('#paydetails').show();

                    return false;

                    });




        $("#8").click(function() {

            getratio(8);

            $('#perfectmoney_form').hide();
            $('#webmoney_form').hide();
            $('#banktransfer_form').hide();
            $('#bitcoin_form').hide();
            $('#paypal_form').hide();
            $('#egyptianpost_form').show();

            $('#1chk').prop('checked', false);
            $('#3chk').prop('checked', false);
            $('#4chk').prop('checked', false);
            $('#7chk').prop('checked', false);
            $('#8chk').prop('checked', true);
            $('#9chk').prop('checked', false);
            $('#10chk').prop('checked', false);
            $('#11chk').prop('checked', false);
            $('#12chk').prop('checked', false);
            $('#13chk').prop('checked', false);
            $('#14chk').prop('checked', false);
            $('#15chk').prop('checked', false);
            $('#16chk').prop('checked', false);
            $('#17chk').prop('checked', false);
            $('#18chk').prop('checked', false);
            $('#19chk').prop('checked', false);
            $('#20chk').prop('checked', false);
            $('#21chk').prop('checked', false);

            $('#payment_data').addClass('active');
            $('#paydetails').show();

            return false;

    });
        $("#4").click(function() {

            getratio(4);

            $('#webmoney_form').show();
            $('#perfectmoney_form').hide();
            $('#paypal_form').hide();
            $('#egyptianpost_form').hide();
            $('#banktransfer_form').hide();
            $('#bitcoin_form').hide();

            $('#1chk').prop('checked', false);
            $('#3chk').prop('checked', false);
            $('#4chk').prop('checked', true);
            $('#7chk').prop('checked', false);
            $('#8chk').prop('checked', false);
            $('#9chk').prop('checked', false);
            $('#10chk').prop('checked', false);
            $('#11chk').prop('checked', false);
            $('#12chk').prop('checked', false);
            $('#13chk').prop('checked', false);
            $('#14chk').prop('checked', false);
            $('#15chk').prop('checked', false);
            $('#16chk').prop('checked', false);
            $('#17chk').prop('checked', false);
            $('#18chk').prop('checked', false);
            $('#19chk').prop('checked', false);
            $('#20chk').prop('checked', false);
            $('#21chk').prop('checked', false);

            $('#payment_data').addClass('active');
            $('#paydetails').show();

            return false;

    });
        $("#onecard").click(function() {
            // $('#payment_data').addClass('active');
            // $('#paypalck').prop('checked', false);
            // $('#3chk').prop('checked', false);
            // $('#cashuck').prop('checked', false);
            // $('#webmoneyck').prop('checked', false);
            // $('#onecardck').prop('checked', true);
            // $('#7chk').prop('checked', false);
            // var lnk = document.getElementById('pay');
            // lnk.href = "onecard?id=" + idd;


            return false;

    });
        $("#9").click(function() {

            getratio(9);

            $('#bitcoin_form').show();
            $('#cryptocurrency').val('BTC');
            $('#webmoney_form').hide();
            $('#perfectmoney_form').hide();
            $('#paypal_form').hide();
            $('#egyptianpost_form').hide();
            $('#banktransfer_form').hide();

            $('#1chk').prop('checked', false);
            $('#3chk').prop('checked', false);
            $('#4chk').prop('checked', false);
            $('#7chk').prop('checked', false);
            $('#8chk').prop('checked', false);
            $('#9chk').prop('checked', true);
            $('#10chk').prop('checked', false);
            $('#11chk').prop('checked', false);
            $('#12chk').prop('checked', false);
            $('#13chk').prop('checked', false);
            $('#14chk').prop('checked', false);
            $('#15chk').prop('checked', false);
            $('#16chk').prop('checked', false);
            $('#17chk').prop('checked', false);
            $('#18chk').prop('checked', false);
            $('#19chk').prop('checked', false);
            $('#20chk').prop('checked', false);
            $('#21chk').prop('checked', false);

            $('#payment_data').addClass('active');
            $('#paydetails').show();

            return false;

    });



    $("#10").click(function() {

        getratio(10);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('LTC');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', true);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);

                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });

     $("#11").click(function() {

        getratio(11);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('DASH');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', true);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);

                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
     $("#12").click(function() {

        getratio(12);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('DGB');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', true);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);


                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
     $("#13").click(function() {

        getratio(13);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('ETH');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', true);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);

                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
     $("#20").click(function() {

        getratio(20);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('XRP');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#20chk').prop('checked', true);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#21chk').prop('checked', false);

                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
$("#21").click(function() {

        getratio(21);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('BCH');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', true);


                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });


      $("#15").click(function() {

        getratio(15);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('USDT');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', true);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);


                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
      $("#16").click(function() {

        getratio(16);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('XMR');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', true);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);


                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
      $("#17").click(function() {

        getratio(17);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('XVG');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', true);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);


                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
      $("#18").click(function() {

        getratio(18);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('ZEC');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', true);
                    $('#19chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);


                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
      $("#19").click(function() {

        getratio(19);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('XEM');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#14chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', true);
                    $('#20chk').prop('checked', false);
                    $('#21chk').prop('checked', false);

                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });
      $("#14").click(function() {

        getratio(14);

                    $('#bitcoin_form').show();
                    $('#cryptocurrency').val('ETC');
                    $('#webmoney_form').hide();
                    $('#perfectmoney_form').hide();
                    $('#paypal_form').hide();
                    $('#egyptianpost_form').hide();
                    $('#banktransfer_form').hide();

                    $('#1chk').prop('checked', false);
                    $('#3chk').prop('checked', false);
                    $('#4chk').prop('checked', false);
                    $('#7chk').prop('checked', false);
                    $('#8chk').prop('checked', false);
                    $('#9chk').prop('checked', false);
                    $('#10chk').prop('checked', false);
                    $('#11chk').prop('checked', false);
                    $('#12chk').prop('checked', false);
                    $('#13chk').prop('checked', false);
                    $('#20chk').prop('checked', false);
                    $('#15chk').prop('checked', false);
                    $('#16chk').prop('checked', false);
                    $('#17chk').prop('checked', false);
                    $('#18chk').prop('checked', false);
                    $('#19chk').prop('checked', false);
                    $('#14chk').prop('checked', true);
                    $('#21chk').prop('checked', false);


                    $('#payment_data').addClass('active');
                    $('#paydetails').show();

                    return false;

            });

        $("#online").click(function() {
  $( "#bank_type_online" ).show();
  $( "#bank_type_offline" ).hide();
  $( "#bank_type_crypto" ).hide();
  $('#online_banks').prop('checked', true);
  $('#offline_banks').prop('checked', false);
  $('#cryptocurrency_banks').prop('checked', false);
  $('#paydetails').hide();
  $('#payment_type').addClass('active');
  $('#payment_data').removeClass('active');
  return false;
});
         $("#offline").click(function() {
  $( "#bank_type_online" ).hide();
  $( "#bank_type_offline" ).show();
  $( "#bank_type_crypto" ).hide();
  $('#online_banks').prop('checked', false);
  $('#offline_banks').prop('checked', true);
  $('#cryptocurrency_banks').prop('checked', false);
  $('#paydetails').hide();
  $('#payment_type').addClass('active');
  $('#payment_data').removeClass('active');

  // $('#7').prop('checked', true);
  return false;
});


$("#EGP").click(function() {
    $("#confirm_pay").attr("disabled",true);
    return false;
    });

         $("#cryptocurrencies").click(function() {
  $( "#bank_type_online" ).hide();
  $( "#bank_type_offline" ).hide();
  $( "#bank_type_crypto" ).show();
  $('#online_banks').prop('checked', false);
  $('#offline_banks').prop('checked', false);
  $('#cryptocurrency_banks').prop('checked', true);
  $('#paydetails').hide();
  $('#payment_type').addClass('active');
  $('#payment_data').removeClass('active');

  // $('#7').prop('checked', true);
  return false;
});
         $("#USD").click(function() {
  $("#confirm_pay").attr("disabled",true);
  $('#SAR_chk').prop('checked', false);
  $('#EGP_chk').prop('checked', false);
  $('#USD_chk').prop('checked', true);
  $('#paydetails').hide();
  $('#payment_type').addClass('active');
  $('#payment_data').addClass('active');
  $( "#banktransfer_post" ).show();
  $( "#usd_bank" ).show();
  $( "#egypt_bank" ).val('');
  $( "#saudi_bank" ).val('');
  $( "#sar_bank" ).hide();
  $( "#eg_bank" ).hide();
  $('#transfer').hide();
  // $('#egypt_bank option:selected').remove();
  // $('#saudi_bank option:selected').remove();

$('#account_name_div').hide();
$('#account_number_div').hide();
$('#branch_div').hide();
$('#branch_code_div').hide();
$('#currency_div').hide();
$('#name_div').hide();
$('#nationalid_div').hide();
$('#country_div').hide();
$('#city_div').hide();
$('#swiftcode_div').hide();
$('#ibancode_div').hide();
$('#phone_div').hide();
$('#bank_name_div').hide();

$('#deposit').hide();
$('#dollar_total').hide();
$('#pound_total').hide();
$('#riyal_total').hide();
});
          $("#SAR").click(function() {
    $("#confirm_pay").attr("disabled",true);
  $('#SAR_chk').prop('checked', true);
  $('#EGP_chk').prop('checked', false);
  $('#USD_chk').prop('checked', false);
  $('#paydetails').hide();
  $('#payment_type').addClass('active');
  $('#payment_data').addClass('active');
  $( "#banktransfer_post" ).show();
  $( "#egypt_bank" ).val('');
  $( "#intern_bank" ).val('');
  $( "#usd_bank" ).hide();
  $( "#sar_bank" ).show();
  $( "#eg_bank" ).hide();
  $('#transfer').hide();

  $('#account_name_div').hide();
$('#account_number_div').hide();
$('#branch_div').hide();
$('#branch_code_div').hide();
$('#currency_div').hide();
$('#name_div').hide();
$('#nationalid_div').hide();
$('#country_div').hide();
$('#city_div').hide();
$('#swiftcode_div').hide();
$('#ibancode_div').hide();
$('#phone_div').hide();
$('#bank_name_div').hide();

$('#deposit').hide();
$('#dollar_total').hide();
$('#pound_total').hide();
$('#riyal_total').hide();
  return false;
});
           $("#EGP").click(function() {
  $('#SAR_chk').prop('checked', false);
  $('#EGP_chk').prop('checked', true);
  $('#USD_chk').prop('checked', false);
  $('#paydetails').hide();
  $('#payment_type').addClass('active');
  $('#payment_data').addClass('active');
  $( "#banktransfer_post" ).show();
  $( "#saudi_bank" ).val('');
  $( "#intern_bank" ).val('');
  $( "#usd_bank" ).hide();
  $( "#sar_bank" ).hide();
  $( "#eg_bank" ).show();
  $('#transfer').hide();

  $('#account_name_div').hide();
$('#account_number_div').hide();
$('#branch_div').hide();
$('#branch_code_div').hide();
$('#currency_div').hide();
$('#name_div').hide();
$('#nationalid_div').hide();
$('#country_div').hide();
$('#city_div').hide();
$('#swiftcode_div').hide();
$('#ibancode_div').hide();
$('#phone_div').hide();
$('#bank_name_div').hide();

$('#deposit').hide();
$('#dollar_total').hide();
$('#pound_total').hide();
$('#riyal_total').hide();
  return false;
});
           $("#egypt_bank").change(function() {
           	var b_id =   $('#egypt_bank').val();
            $('#transfer').show();
           	getratio(b_id);

  return false;
});
           $("#saudi_bank").change(function() {
           	var b_id =   $('#saudi_bank').val();
            $('#transfer').show();
           	getratio(b_id);

  return false;
});
           $("#intern_bank").change(function() {
           	var b_id =   $('#intern_bank').val();
            $('#transfer').show();
           	getratio(b_id);

  return false;
});
            $("#close_offline_form").click(function() {
                $('#banktransfer_post').hide();
                $('#transfer').hide();
                });


        });

     

</script>

<%# debug( @payment_methods) %>
                <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <div class="pos-relative">
                        <div class="title-line sm-f-width">
                            <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                <i class="ico icon-dollor"></i>
                            </h3>
                            <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                <%= t('Buy Cart') %>
                            </h4>
                        </div>
                        <div class="self-tabs text-center max-width-700">
                            <ul class="self-tabs-list">
                            	<li class="active">
                                    <a href="#">
                                        <span class="ico">
                                            <i class="icon-home-icon"></i>
                                        </span>
                                        <span class="selftbas-title"><%= t('Choose Payment Type') %></span>
                                    </a>
                                </li>
                                <li id="payment_type">
                                    <a href="#">
                                        <span class="ico">
                                            <i class="icon-home-icon"></i>
                                        </span>
                                        <span class="selftbas-title"><%= t('Choose Payment Method') %></span>
                                    </a>
                                </li>
                                <li id="payment_data">
                                    <a href="#">
                                        <span class="ico">
                                            <i class="icon-dollor"></i>
                                        </span>
                                        <span class="selftbas-title"><%= t('Payment Data') %></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pad-top-lg hlf-e-btm">
                        <div class="row row-sm">
                          <div class="col-lg-6">
                            <div class="col-md-12 col-sm-12">
                                <div class="row row-sm">

                                	<div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="scrollbar-inner logos-menu">
                        <div class="logos-list-menu" style="margin-top:-20px;">
                                <label class="logo-checkbox" style="max-width:120% !important;">
                                        <input type="checkbox" name="checkbox" id="online_banks">
                                        <span class="logo-list logo-list1"  id="online">

                                <h4>
                                    <i class="icon ic-icons-598"></i>

                                </h4>
                                <h5>
                                   <%= t('Electronic Banks') %>
                                </h5>
                            </span>

                        </label>

                        <label class="logo-checkbox">
                                <input type="checkbox" name="checkbox" id="offline_banks">
                                <span class="logo-list logo-list1"  id="offline">

                                <h4>
                                    <i class="icon icon-building"></i>

                                </h4>
                                <h5>

                                <%= t('offline banks') %>
                                </h5>
                            </span>

                        </label>
                        <label class="logo-checkbox">
                                        <input type="checkbox" name="checkbox" id="cryptocurrency_banks">
                                        <span class="logo-list logo-list1"  id="cryptocurrencies">

                                <h4>
                                    <i class="icon icon-building"></i>
                                </h4>
                                <h5>
                                   <%= t('cryptocurrencies') %>
                                </h5>
                            </span>

                        </label>
                        </div>
                    </div>
                </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                      <div class="content demo-y logos-menu" style="margin-top:-20px !important;">
                                            <div class="logos-list-menu" style="display:none;" id="bank_type_online">

                                                    <% @online_payment_methods.each do |payment_methods| %>
                                                    <label class="logo-checkbox" id="<%= payment_methods.id %>">

                                                            <input type="checkbox" name="checkbox" id="<%= payment_methods.id %>chk">

                                                            <span class="logo-list logo-list3" style="min-height: 130px !important; width: 200px !important;">
                                                                <figure>
                                                                <img src="<%= admin_attachment(request,payment_methods.logo,"img") %>" alt="" target="_blank">

                                                                </figure>
                                                            </span>
                                                        </label>
                                                  <% end %>
                                            </div>

                                           <div class="logos-list-menu" style="display:none;" id="bank_type_offline">

                                                        <label class="logo-checkbox">
                                                                <input type="checkbox" name="checkbox" id="USD_chk">
                                                                <span class="logo-list logo-list2" id="USD" style="height: 130px !important; width: 110%;">


                                                            <h4>
                                                                <img src="<%= format_link(request) %>/assets/imgs/world-white.png" alt="world-white" class="act-img">
                                                                <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="world-white" class="off-img">
                                                            </h4>
                                                            <h5>

                                                                <%= t('International Banks') %>
                                                            </h5>
                                                            <h6 class="sm-text"><%= t('currency') + " :"+ t('balance IN Dolar') %></h6>
                                                        </span>
                                                    </label>


                                                        <label class="logo-checkbox">
                                                                <input type="checkbox" name="checkbox" id="SAR_chk">
                                                                <span class="logo-list logo-list2" id="SAR" style="height: 130px !important; width: 110%;">

                                                            <h4>
                                                                <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="world-white">
                                                            </h4>
                                                            <h5>
                                                                <%= t('Local Saudi Banks') %>
                                                            </h5>

                                                            <h6 class="sm-text"><%= t('currency') + " :"+ t('balance IN Rys') %></h6>

                                                        </span>
                                                    </label>


                                                        <label class="logo-checkbox">
                                                                <input type="checkbox" name="checkbox" id="EGP_chk">
                                                                <span class="logo-list logo-list2" id="EGP" style="height: 130px !important; width: 110%;">


                                                            <h4>
                                                                <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="world-white">
                                                            </h4>
                                                            <h5>
                                                                <%= t('Local Egyptian Banks') %>
                                                            </h5>
                                                            <h6 class="sm-text"><%= t('currency') + " :"+ t('balance IN Egp') %></h6>
                                                        </span>
                                                         </label>
                                                        </div>



                                            <!-- <div class="logos-list-menu"  id="bank_type_offline1">

                                                    <%# @offline_payment_methods.each do |payment_methods| %>
                                                    <label class="logo-checkbox" id="<%# payment_methods.id %>">

                                                            <input type="checkbox" name="checkbox" id="<%# payment_methods.id %>chk">

                                                            <span class="logo-list logo-list3">
                                                                <figure>
                                                                        <%# image_tag ("https://manage.payers.net/#{payment_methods.logo.url}") %>
                                                                </figure>
                                                            </span>
                                                        </label>
                                                  <%# end %>
                                            </div> -->
                                            <div class="logos-list-menu" style="display:none;" id="bank_type_crypto">

                                                    <% @crypto_payment_methods.each do |payment_methods| %>
                                                    <label class="logo-checkbox" id="<%= payment_methods.id %>">

                                                            <input type="checkbox" name="checkbox" id="<%= payment_methods.id %>chk">

                                                            <span class="logo-list logo-list3">
                                                                <figure>
                                                                <img src="<%= admin_attachment(request,payment_methods.logo,"img") %>" alt="" target="_blank">
                                                                </figure>
                                                            </span>
                                                        </label>
                                                  <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>

                            <div  class="col-lg-6">
                            <div id='paydetails' class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-shadow-right" style="display:none; margin-top:-30px !important; margin-right: -30px;">
                                <div class="iblock mrg-left-lg mrg-bottom-md">
                                    <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Requested Payment') %></h5>
                                    <p class="md-sm-fontsize text-black english-font font-bold"><%= params[:id] %></p>
                                    <p class="sm-md-fontsize text-dgray"><%= t('balance IN Dolar') %></p>
                                </div>
                                <div class="iblock mrg-bottom-md">
                                    <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Administrative expenses') %></h5>
                                    <p id="expenses" class="md-sm-fontsize text-black english-font font-bold"></p>
                                    <p class="sm-md-fontsize text-dgray"><%= t('balance IN Dolar') %></p>
                                </div>
                                <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('Total Sum') %></p>
                                <h1 id='total' class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">

                                </h1>
                                <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('balance IN Dolar') %></p>
                                <div class="mrg-top-md">
                                    <!-- <a href="#" class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
                                        عفدإ عفدإ
                                    </a> -->


                                    <div id="paypal_form" style="display:none;">
                                    <%= form_for :paypalnow , :url => paypal_path do |f| %>

                                            <%= f.hidden_field 'value' ,:value => params[:id] ,:readonly => true ,  :class => 'form-control'  %>
                                        <button type="button" onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding"><i class="ico icon-white-logo"></i> <%= t('Pay Now') %> </button>
                                        <% end %>
                                    </div>


                                    <div id="bitcoin_form" style="display:none;">
                                        <%= form_for :coinmoney , :url => coinmoney_path do |f| %>

                                                <%= f.hidden_field :currency,:id => 'cryptocurrency', :class => 'form-control'  %>


                                                <%= f.hidden_field 'value' ,:value => params[:id] ,:readonly => true ,  :class => 'form-control'  %>

                                        <button type="button" onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding"><i class="ico icon-white-logo"></i> <%= t('Pay Now') %> </button>
                                            <% end %>
                                        </div>















                                      


                                    <div id="perfectmoney_form" style="display:none;">
                                        <%# form_for :perfectmoney , :url => perfectmoney_toapi_path do |f| %>

                                            <form action="https://perfectmoney.is/api/step1.asp" method="post">

                                                <%      @pmcompany= CompanyBank.where("bank_key = 'perfectmoney'").first %>
                                               <input type="hidden" name="PAYEE_ACCOUNT" value="<%= @pmcompany.account_name %>">
                                               <!-- <input  type="hidden" name="PAYMENT_ID" value="<%# ActiveSupport::JSON.encode({ real: params[:id].to_s, user: current_userd.id }) %>"> -->

                                               <!-- #send the real value of cart  first then the current userid  and split them with ; -->

                                               <input type="hidden" name="PAYMENT_ID" value="<%=  params[:id].to_s + "p"+ current_userd.id.to_s %>" >
                                                    
                                               <input type="hidden" name="PAYEE_NAME" value="payers">
                                               <input type="hidden" name="STATUS_URL" value="<%= format_link(request) %>/perfectmoney">

                                               <input type="hidden" name="PAYMENT_URL" value="<%= format_link(request) %>/perfectmoney">
                                               <input type="hidden" name="NOPAYMENT_URL" value="<%= format_link(request) %>/perfectmoneyerror">
                                                   <input id='pm_amount' type="hidden" name="PAYMENT_AMOUNT" class =  'form-control'  >

                                               <!-- <input type="hidden" name="SUGGESTED_MEMO" value="<%# ActiveSupport::JSON.encode({ real: params[:id].to_s, user: current_userd.id }) %>" > -->

                                               <input type="hidden" name="SUGGESTED_MEMO" value="" >
                                              
                                               <input type="hidden" name="user_id" value=<%= current_userd.id %>>

                                                   <input type="hidden" name="PAYMENT_UNITS" value="USD" >


                                                   
                                        <button type="button" onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding"><i class="ico icon-white-logo"></i> <%= t('Pay Now') %> </button>

                                                   </form>
                                                 <%# end %>

                                    </div>


                                    <!-- <div id="egyptianpost_form" style="display:none;">

                                        <a href="#" id="pay_egyptian" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
                                            <i class="ico icon-white-logo"></i> <%= t('Pay Now') %>
                                       </a>

                                    </div> -->


                                    <div id="banktransfer_form" style="display:none;">

                                        <a href="#" id="pay_banktransfer" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
                                            <i class="ico icon-white-logo"></i> <%= t('Pay Now') %>
                                        </a>

                                    </div>



                                        <div id="webmoney_form" style="display:none;">

                                                <!-- <form action="https://merchant.wmtransfer.com/lmi/payment_utf.asp" method="post" >  -->
                                                    <form method="POST" action="https://merchant.wmtransfer.com/lmi/payment_utf.asp" accept-charset="utf-8">
                                                    <input type="hidden" name="LMI_PAYMENT_AMOUNT" value='<%= params[:id] %>' class =  'form-control' readonly>
                                                    <input type="hidden" name="LMI_PAYMENT_DESC" value="payment under the bill">
                                                    <input type="hidden" name="LMI_PAYMENT_NO" value="1234">
                                                    <!-- <input type="hidden" name="LMI_PAYEE_PURSE" value="Z145179295679"> -->
                                                    <input type="hidden" name="LMI_PAYEE_PURSE" value="Z648555082359">
                                                    <input type="hidden" name="LMI_SIM_MODE" value="0">
                                                    <input type="hidden" name="LMI_RESULT_URL" value="mailto:amira.elfayome@servicehigh.com">
                                                    <input type="hidden" name="LMI_SUCCESS_URL" value="<%= format_link(request) %>/success">
                                                    <input type="hidden" name="LMI_SUCCESS_METHOD" value="2">
                                                    <input type="hidden" name="LMI_FAIL_URL" value="<%= format_link(request) %>/fail">
                                                    <input type="hidden" name="LMI_FAIL_METHOD" value="2">
                                        <button type="button" onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding"><i class="ico icon-white-logo"></i> <%= t('Pay Now') %> </button>

                                                  </form>
                                        </div>



                                    <!-- <a href="#" id="pay" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
                                          <i class="ico icon-white-logo"></i> <%= t('Pay Now') %>
                                    </a> -->

                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </section>


<!-- Egyptian Post Form -->
 <!--    <div id="egyptian_post" class="selfpopup" style= "display:none;">
        <%# @egy_post_account = CompanyBank.where(:bank_name => "Egypt Post" ).first%>
        <%# @bank= CompanyBank.where("bank_key = 'EgyptPost'").first %>
        <%# @ratio = params[:id].to_f * (@bank.ratio / 100) + @bank.fees %>
        <%# @result =   params[:id].to_f + @ratio %>
         <%# form_for :egyptian_post , :url => egyptian_post_path do |f| %>
            <div class="selfpopup-bg">
                </div>
                <div class="selfpopup-content">
                    <div class="selfpopup-inner">
                        <div class="selfpopup-middle">
                            <div class="padding-all-sm">
                                <div class="cart-balance selfpopup-caption">
                                    <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                    <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                        <h5 id="bankname" class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal"></h5>





                                                   <%# f.hidden_field :value ,  :class => 'selfinput' ,:value => params[:id] %>

                                        <input type="submit" name="submit" value="<%# t('Pay Now')%>" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm">
                                    </div>
                                    <div class="crcl-animation">
                                        <span class="lg-crcl"></span>
                                        <span class="md-crcl"></span>
                                        <span class="sm-crcl"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%# end %>
            </div> -->
            <!-- End Egyptian Post Form -->




            <!-- Bank Transfer Post Form -->
    <div id="banktransfer_post" class="selfpopup" style= "display:none;">
            <%= form_for :banktransfer_post , :html =>{ class: 'formsub'} , :url => banktransfer_post_path do |f|%>
               <div class="selfpopup-bg">
                   </div>
                   <div class="selfpopup-content">
                       <div class="selfpopup-inner">
                           <div class="selfpopup-middle">
                               <div class="padding-all-sm">
                                   <div class="cart-balance selfpopup-caption">
                                       <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                       <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                                           <h5 class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal"><%= t('company banks')%></h5>

                                           <div class="field" id="eg_bank" style= "display:none;">
                                                <div class="select-box">
                                                <%= f.label (t("egyptian accounts")) %><br />
                                                <%= f.select :id_egp, @offline_pound_methods.collect {|p| [ "#{p.bank_name}", p.id ] },{ :prompt => t('Select a bank')}, {  :id => 'egypt_bank' ,:class => 'select-line' } %>
                                                 </div>
                                            </div>
                                            <div class="field" id="sar_bank" style= "display:none;">
                                                <div class="select-box">
                                                <%= f.label (t("Saudia Arabia accounts")) %><br />
                                                <%= f.select :id_sar, @offline_riyal_methods.collect {|p| [ "#{p.bank_name}", p.id ] },{ :prompt => t('Select a bank')}, {  :id => 'saudi_bank' ,:class => 'select-line' } %>
                                                 </div>
                                            </div>
                                            <div class="field" id="usd_bank" style= "display:none;">
                                                <div class="select-box">
                                                <%= f.label (t("International accounts")) %><br />
                                                <%= f.select :id_usd, @offline_dolar_methods.collect {|p| [ "#{p.bank_name}", p.id ] },{ :prompt => t('Select a bank')}, {  :id => 'intern_bank' ,:class => 'select-line' } %>
                                                 </div>
                                            </div>
                                           <%= f.hidden_field :value ,:id => 'total_val' %>
                                           <%= f.hidden_field :netsum ,:value => params[:id] %>
                                             <div class="self-label">
                                                    <label>

                                                    <span id="dollar_total" style="display:none;" class="placeholder-span"></span>
                                                    </label>
                                                  </div>
                                                  <div class="self-label">
                                                    <label>

                                                    <span id="pound_total" style="display:none;" class="placeholder-span"></span>

                                                    <span id="riyal_total" style="display:none;" class="placeholder-span"></span>
                                                    </label>
                                                  </div>
                                                  <!-- <div id="currency_div" class="self-label">
                                                    <label>
                                                     <span id="currency" class="placeholder-span"><%# t('currency')+" " %>:</span>
                                                    </label>
                                                  </div>
                                         -->

                                        <h5 id="transfer" class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal" style="display:none;" ><%= t('Conversion data')%></h5>
                                        <div id="name_div" class="self-label" style="display:none;">
                                                    <label>
                                                    <span id="name" class="placeholder-span" ><%= t('name')+" " %>:</span>
                                                    </label>
                                                  </div>

                                              <div id="nationalid_div" class="self-label" style="display:none;">
                                                    <label>
                                                    <span id="nationalid" class="placeholder-span" ><%= t('nationalid')+" " %>:</span>
                                                    </label>
                                                  </div>
                                        <h5 id="deposit" class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal" style="display:none;"><%= t('بيانات الايداع')%></h5>
                                        <div id="account_name_div" class="self-label" style="display:none;">
                                                    <label>

                                                <span id="account_name" class="placeholder-span" ><%= t('account name')+" " %>:</span>

                                                    </label>
                                                  </div>
                                                  <div id="account_number_div" class="self-label" style="display:none;">
                                                    <label>

                                                    <span id="account_number" class="placeholder-span" ><%= t('account number')+" " %>:</span>
                                                    </label>
                                                  </div>
                                                  <div id="bank_name_div"class="self-label" style="display:none;">
                                                    <label>

                                                    <span id="bank_name" class="placeholder-span" ><%= t('bank name')+" " %>:</span>
                                                    </label>
                                                  </div>
                                                  <div id="country_div" class="self-label" style="display:none;">
                                                    <label>

                                                    <span id="country" class="placeholder-span" ><%= t('country')+" " %>:</span>
                                                    </label>
                                                  </div>
                                                  <div id="city_div" class="self-label" style="display:none;">
                                                    <label>

                                                    <span id="city" class="placeholder-span" ><%= t('city')+" " %>:</span>
                                                    </label>
                                                  </div>
                                                  <div id="phone_div" class="self-label" style="display:none;">
                                                    <label>

                                                    <span id="phone_num" class="placeholder-span" ><%= t('phone')+" " %>:</span>
                                                    </label>
                                                  </div>
                                        <div id="branch_div" class="self-label" style="display:none;">
                                                <label>
                                                <%# f.text_field :branch , :value => @egy_post_account.branch,:readonly => true, :class => 'selfinput'  %>
                                                <span id="branch" class="placeholder-span" ><%= t('branch')+" " %>:</span>
                                                </label>
                                              </div>
                                              <div id="branch_code_div" class="self-label" style="display:none;">
                                                <label>
                                                <span id="branch_code" class="placeholder-span" ><%= t('branch code')+" " %>:</span>
                                                </label>
                                              </div>
                                              <div id="ibancode_div" class="self-label" style="display:none;">
                                                <label>
                                                <span id="ibancode" class="placeholder-span" ><%= t('iban code')+" " %>:</span>
                                                </label>
                                              </div>
                                              <div id="swiftcode_div" class="self-label" style="display:none;">
                                                <label>
                                                <span id="swiftcode" class="placeholder-span" ><%= t('swiftcode code')+" " %>:</span>
                                                </label>
                                              </div>



                                           <!-- <button name="submit" id="confirm_pay" value="<%# t('add request')%>" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm"></button> -->
                                           <button type="button" id="confirm_pay" onclick="this.disabled=true;this.value='<%= t('Please Wait') %>';this.form.submit();" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm"><%= t('add request') %> </button>
                                           <span id="bankadded" added = "non" style="display:none;"></span>

                                           
                                           <a href="#" id="close_offline_form" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm">
                                            <%= t('cancel request') %>
                                           </a>
                                       </div>
                                       <div class="crcl-animation">
                                           <span class="lg-crcl"></span>
                                           <span class="md-crcl"></span>
                                           <span class="sm-crcl"></span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <% end %>
               </div>
               <!-- End Bank Transfer Post Form -->
