


                                   <%= render :template => 'userds/account_settings'%>

<div id="cart-balance" class="selfpopup">
            <div class="selfpopup-bg">
            </div>
            <div class="selfpopup-content">
                <div class="selfpopup-inner">
                    <div class="selfpopup-middle">
                        <div class="padding-all-sm">
                            <div class="cart-balance selfpopup-caption">
                                <span class="close-popup"><i class="icon-Plus-white"></i></span>
                                <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter cart-info">
                                    <div class="row row-sm">
                                        <div class="col-sm-4 col-xs-12">
                                            <h6 class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Card Owner') %></h6>
                                            <h5 class="sm-md-fontsize text-black font-weight-normal mrg-bottom-sm"><%= @username.username %></h5>
                                            <h6 class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Expire Date') %></h6>
                                            <h5 class="sm-md-fontsize text-black font-weight-normal mrg-bottom-sm"><%= @cart.expire_date %></h5>
                                            <h6 class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Card Value') %></h6>
                                            <h5 class="sm-md-fontsize text-black font-weight-normal mrg-bottom-sm"><%= @cart.value %></h5>
                                            <div class="text-left">
                                                <a href="#" class="btn sm-padding border-black hover-bg-brand text-black text-hover-white radius-sm" onclick = "window.print();return false;"><%= t('Card Print') %></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-7 col-sm-pull-1 col-xs-12">
                                            <h3 class="text-black md-sm-fontsize font-bold mrg-bottom-sm hlf-e-btm"><%= t('Serial Number') %></h3>
                                            <h2 id='copytarget' class="text-black mrg-bottom-lg hlf-e-btm lg-md-fontsize font-weight-normal english-font"><%= @pre %> <i id="copyButton" class="icon ic-icons-329 ic-crl border-black hover-bg-brand text-hover-white text-black"></i></h2>
                                            <h3 class="text-black md-sm-fontsize font-bold mrg-bottom-sm hlf-e-btm"><%= t('Cart Number') %></h3>
                                            <h3  id='copytarget1' class="text-black lg-md-fontsize font-weight-normal english-font"><%= @cartnn  %> <i id="copyButton2" class="icon ic-icons-329 ic-crl bg-black hover-bg-brand text-hover-white text-white"></i></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="crcl-animation">
                                    <span class="lg-crcl"></span>
                                    <span class="md-crcl"></span>
                                    <span class="sm-crcl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>

            function copyToClipboard(element) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).text()).select();
                document.execCommand("copy");
                $temp.remove();
              }

        document.getElementById("copyButton").addEventListener("click", function() {

                var v1 = document.getElementById('copytarget');
                console.log(v1);


            copyToClipboard(v1);
            

        });      

        document.getElementById("copyButton2").addEventListener("click", function()
             {
            
            var v2 = document.getElementById('copytarget1');
            console.log(v2);

            copyToClipboard(v2);
            
           
            
                     });
 
</script>