









<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
	<h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
	  <img src="<%= format_link(request) %>/assets
/imgs/trans-confirm.png" alt="trans-confirm">
	</h3>
	<div class="clearfix">
		<div class="pull-right sm-f-width box-shadow-left">
			<div class="page-title l-height-md mrg-bottom-md">
				<div class="row row-default button-row">
					<div class="col-xs-12">
						<h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
						  <%= t('Card Details') %>
						</h4>
					</div>
				</div>
			</div>
			<div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
				<span class="ico lg-md-fontsize text-yellow">!</span>
				<h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Dont Tell Any One About Your Cart Details') %> !</h5>
				<p class="sm-md-fontsize text-dgray"><%= t('To Avoid Random Charge Operations, Dont Tell Any One About This Data') %>.</p>
				<span class="alert-close icon-Plus-white"></span>
			</div>
			<div class="padding-ver-md mrg-bottom-sm">
				<h3 class="text-black md-sm-fontsize font-bold mrg-bottom-sm hlf-e-btm"><%= t('Cart Number') %></h3>
				<h2 id="copyTarget" class="text-black mrg-bottom-lg hlf-e-btm lg-md-fontsize font-weight-normal english-font"><%= @cartnn %> <i id="copyButton" class="icon ic-icons-329 ic-crl border-black hover-bg-brand text-hover-white text-black"></i></h2>
				<input style ="display:none;" type="text" value=<%= @cartnn %> id="myInput">
				
				<h3 class="text-black md-sm-fontsize font-bold mrg-bottom-sm hlf-e-btm"><%= t('Serial Number') %></h3>
				<h2 id="copyTarget2" class="text-black lg-md-fontsize font-weight-normal english-font"><%= @pre %> <i  id="copyButton2" class="icon ic-icons-329 ic-crl bg-black hover-bg-brand text-hover-white text-white"></i></h2>
				<!-- <button id="button1" onclick="CopyToClipboard('copyTarget')">Click to copy</button>
				<button id="button2" onclick="CopyToClipboard('copyTarget2')">Click to copy</button> -->
				
				
				<input style ="display:none;" type="text" value=<%= @pre %> id="myInput2">
				
			</div>
			<a href="#" class="btn sm-padding radius-md text-black text-hover-white border-black hover-bg-brand">
			   <%= t('Card Print') %>
			</a>  
		</div>
		<div class="pull-right box-shadow-right sm-f-width">
			<div class="iblock mrg-left-lg mrg-bottom-md">
				<h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Card Value') %></h5>
				<p class="md-sm-fontsize text-black english-font font-bold"><%= @cart.value %></p>
				
				<p class="sm-md-fontsize text-dgray"><%= t('balance IN Dolar') %></p>
			</div>
			<div class="iblock mrg-bottom-md">
				<h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Administrative expenses') %></h5>
				<p class="md-sm-fontsize text-black english-font font-bold">00.00</p>
				<p class="sm-md-fontsize text-dgray"><%= t('balance IN Dolar') %></p>
			</div>
			<p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('Total Sum') %></p>
			<h1 class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
				<%= @cart.value %>
			</h1>
			<p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('balance IN Dolar') %></p>
			
			<div class="mrg-top-md">

					<!-- <a href="/cartbalance" target="_blank" class="btn mrg-left-sm md-padding radius-md iconic border-blue hover-bg-brand text-hover-white text-blue"><i class="ico icon-dollor-icon"></i> <%= t('Charge Account') %></a> -->
					
				<a href="/help_center" class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding">
					<%= t('Report a problem') %>
				</a>
				<!-- <a href="#" class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding">
					  <i class="ico icon-white-logo"></i> <%= t('Print a process receipt') %>
				</a> -->
			</div>
		</div> 
	</div>
</section>



<script>


		function CopyToClipboard(containerid) {
			if (document.selection) { 
				var range = document.body.createTextRange();
				range.moveToElementText(document.getElementById(containerid));
				range.select().createTextRange();
				document.execCommand("Copy"); 
			
			} else if (window.getSelection) {
				var range = document.createRange();
					range.selectNode(document.getElementById(containerid));
					window.getSelection().addRange(range);
					document.execCommand("Copy");
					alert("text copied") 
			}}




		document.getElementById("copyButton").addEventListener("click", function() {



			CopyToClipboard('copyTarget1');
			

		});


	   

		document.getElementById("copyButton2").addEventListener("click", function() {
			
			//new Clipboard('#copyTarget2');
			
			
			CopyToClipboard('copyTarget2');
										//copyText2.select();
									  //  document.execCommand("Copy");
										//alert("Copied the text: " + copyText2.value);
			
			
									});



	   
		

		
  
</script>