<!-- <%# form_tag  url_for(:action => 'searchpost'), :method => 'post' do %>

<div class="field">
    <%# label_tag :start, t('start') %><br>
    <%# text_field_tag :start , "", class: 'form-control' %>
  </div>
  
  <div class="field">
    <%# label_tag :end, t('end') %><br>
    <%# text_field_tag :end , "", class: 'form-control' %>
	</div>
	
  <div class="field">
  <%# select_tag(:contrtyp, options_for_select([['all'],['tickets'], ['Balances_operations'], ['Balances_withdraws']],:selected => params[:option]),:multiple => true,  class: 'form-control') %>
  </div>
  
  <div class="field">
    <%# label_tag :user_id,t('User') %><br>
       <%# select_tag(:user_id,  options_for_select(Userd.all.collect {|p| [ p.username, p.id ] } ) ,  :class => 'form-control' ) %>
	</div>
	
    <div class="actions field text-center"> 
		<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Search') %> </button>
	</div>
  
<%# end %> -->



<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
  <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
      <div class="row row-default button-row">
          <div class="col-md-5">
              <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                <%= t('Listing whatchdogs') %>
                            </h4>
          </div>
          <div class="col-md-7">
              <div class="clearfix">
                  <div class="search-div radius-md bg-white b-boxshadow">
                      <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder="ثحبإ نع ئش ام">
                      <button class="search-btn"><i class="icon ic-search-1"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="mak-vis-scrl">
      <div class="table-section content demo-x">
          <div class="first-row text-black">

              <table class="self-table">

                  



                  <tr>
                      <td><%= t('user name') %></td>
                      <td><%= t('Action') %></td>
                      <td><%= t('details') %></td>
                      <td><%= t('created') %></td>
                     
                  </tr>
              </table>
          </div>
          <div class="self-table-content english-font content demo-y btm-bg-grd height-230">
              <table class="self-table">
                  <% @watchdogs.each do |watchdog| %>

                  <tr>
                      <td>
                          <%
                          if watchdog.user_id 
                           @User = Userd.find(watchdog.user_id)
                 
                          %><%=   @User.username %>
                 
                          <% end %>
                          </td>
                         <td><%= watchdog.action_page %></td>
                         <td><%= watchdog.details %></td>
                  
                         <td><%= watchdog.created_at %></td>

                      
                      <td>
                          <div class="upd-column">
                              <span class="three-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </span>
                          </div>
                      </td>
                  </tr>
                  <% end %>


                 
              </table>
          </div>
      </div>
  </div>
</section>