<%= form_tag  url_for(:action => 'searchpost'), :method => 'post' do %>

<div class="field">
    <%= label_tag :start ,t('start') %><br>
    <%= text_field_tag :start , "", class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= label_tag :end ,t('end')  %><br>
    <%= text_field_tag :end , "", class: 'form-control' %>
	</div>
	
  <div class="field">
  <%= select_tag(:contrtyp, options_for_select([['all'],['tickets'], ['Balances_operations'], ['Balances_withdraws']],:selected => params[:option]),:multiple => true,  class: 'form-control') %>
  </div>
  
  <div class="field">
    <%= label_tag :user_id ,t('User')  %><br>
       <%= select_tag(:user_id,  options_for_select(Userd.all.collect {|p| [ p.name, p.id ] } ) ,  :class => 'form-control' ) %>
	</div>
	
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Search') %> </button>
</div>
<% end %>