<%= debug params %>
<%= form_tag  url_for( :action => 'searchpost'), :method => 'post' do %>
<div class="field">
    <%= label_tag :start ,t('start') %><br>
    <%= text_field_tag :start %>
  </div>
  
  <div class="field">
    <%= label_tag :end ,t('start') %><br>
    <%= text_field_tag :end , "", class: 'form-control' %>
	</div>
	
  <div class="field">
  <%= select_tag(:contrtyp, options_for_select([['all'],['tickets'], ['Balances_operations'], ['Balances_withdraws']],:selected => params[:option]),:multiple => true,  class: 'form-control') %>
  </div>
  
  <div class="field">
    <%= label_tag :user_id %><br>
       <%= select_tag(:user_id,  options_for_select(Userd.all.collect {|p| [ p.name, p.id ] } ) ,  :class => 'form-control' ) %>
	</div>
	
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Search') %> </button>
</div>
  
<% end %>

<h1><%= t('Listing whatchdogs') %></h1>

									<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th><%= t('user name') %></th>
      <th><%= t('Action') %></th>
      <th><%= t('details') %></th>
	  <th><%= t('user_id') %></th>
	  <th><%= t('controller') %></th>
      <th><%= t('created') %></th>

      <th colspan='2'> </th>

    </tr>
  </thead>

  <tbody>
    <% @watchdogs.each do |watchdog| %>
      <tr>
         <td>
         <%
         if watchdog.user_id 
          @User = Userd.find(watchdog.user_id)

         %><%=   @User.name %>

         <% end %>
         </td>
        <td><%= watchdog.action_page %></td>
        <td><%= watchdog.details %></td>
		<td><%= watchdog.user_id %></td>
		<td><%= watchdog.controller %></td>
        <td><%= watchdog.created_at %></td>

        <td><%# link_to '<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe, watchdog %></td>
        <td><%= link_to '<button type="button" class="btn btn-danger waves-effect waves-light "><i class="fa fa-trash-o"></i></button>'.html_safe, watchdog, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>
<br>

