<p id="notice"><%= notice %></p>
<%# debug (@watchdog) %>
<p>
  <strong><%= t('action') %> :</strong>
  <%= @watchdog.action_page %>
</p>

<p>
  <strong><%= t('created') %> :</strong>
  <%= @watchdog.created_at %>
</p>
<p>
  <strong><%= t('User') %> :</strong>

 <%
         if @watchdog.user_id 
          @User = Userd.find(@watchdog.user_id)

         %><%=   @User.username %>

         <% end %>
         </p>

<%= link_to t('Back'), watchdogs_path %>


