

<!doctype html>
<html dir='ltr' lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO -->
    <title><%= t 'devise.invitations.edit.header' %></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="" />
    <link rel="publisher" href="" />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="resources/imgs/content-covre.png" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="resources/imgs/content-covre.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:image:src" content="resources/imgs/content-covre.png" />
    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://payers.net/" />
    <meta property="og:image" content="resources/imgs/content-covre.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />
    <!-- Schema -->
    <script type="application/ld+json">
    { "@context": "http://schema.org", "@type": "webSite", "url": "http://www.crtivo.studio", "name": "12 Cups Website", "description": "for selling coffee " }
    </script>
    <!-- other SEO info -->
    <meta name="revisit-after" content="5 days">
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="general" />
    <meta name="author" content="" />
    <meta name="copyrights" content="" />
    <meta name="alexaVerifyID" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rsslink" />
    <!-- FavsIcons -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="apple-touch-startup-image" href="home.png" />
    <!-- Head Inc -->
    <!-- <script data-pace-options='{ "ajax": false, "elements": false, "restartOnRequestAfter": false, "restartOnPushState":false }' src="resources/js/pace.js"></script> -->
    <link rel="stylesheet" href="/assets/css/layout.css" />
    <link rel="stylesheet" href="/assets/css/rtl.css" />
    <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->
    <!-- Google Analytices Code -->
    <script>
    </script>
</head>
<!-- || head area end || -->
<!-- || page body start || -->

<body id="login-page">
    <div class="bannerpage bg-white min-f-height-vh pos-relative">
        <div class="logo-postion pos-absolute">
            <div class="logo-section">
                <a href="/" class="b-boxshadow">
                <img src="/assets/imgs/white-logo.png" alt="white-logo" class="f-width">
            </a>
            </div>
        </div>
        <div class="bannersection pos-absolute f-height">
            <figure>
                <img src="/assets/imgs/loginhero1.png" alt="loginhero1" class="imagecover pos-absolute">
            </figure>
            <div class="pos-absolute f-width padding-hor-lg bannersection-caption clearfix">
            </div>
        </div>
        <div class="formsection padding-hor-md box-size">
            
            <div class="formwrap pad-left-sm f-width pad-right-sm hlf-e-btm">
                <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
                <%= devise_error_messages! %>
                <%= f.hidden_field :invitation_token %>
                    <div class="self-label" id="namefield">
                    <label>
                        <%= f.text_field :username ,  :class => 'selfinput' %>
                        <span class="placeholder-span"><%= t('user name') %></span>
                        <span class="mdl-textfield__error" id="repname" style="display:none">هذا الاسم مستخدم من قبل</span>
                    </label>
                </div>
            
             
            
            <% if f.object.class.require_password_on_accepting %>
            
                <div class="self-label">
                    <label>
                        <%= f.password_field :password, class: 'selfinput' %>
                        <span class="placeholder-span"><%= t('password') %></span>
                    </label>
                </div>
                <div class="self-label">
                    <label>
                        <%= f.password_field :password_confirmation, class: 'selfinput' %>
                        <span class="placeholder-span">تأكيد كلمة المرور  </span>
                    </label>
                </div>
                <% end %>
                <div class="row row-default l-height-md padding-ver-xs">
                    <div class="col-xs-7">
                        <div class="pos-abs-checkbox">
                            <label class="checkbox">
                                <input type="checkbox" name="">
                                <span class="checkbox-view"></span>
                            </label>
                            <span class="iblock sm-md-fontsize font-bold text-blue"><%= t('موافق على شروط الاستخدام') %><br> <span class="sm-sm-fontsize font-bold text-dgray"> <%= t('يرجى مراجعة الشروط والأحكام') %></span></span>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="text-left">
                            <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn-shadow radius-md btn text-white text-hover-brand bg-black hover-bg-blue md-padding', :id=>'nonrepeatabl' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            
            
              
            
            <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">
                <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                        <%= t('All Rights Reserved Owned by Payers')%> @ <%= Time.current.year%>
                    </p>
            <ul class="footer-ul sm-sm-fontsize font-bold">
				<li><a href="https://support.payers.net/support/solutions" target="_blank"><%= t('How To Use') %></a></li>
			<li><a href="https://www.payers.net/privacy.html" target="_blank"><%= t('Privacy Policy') %></a></li>
			<li><a href="https://www.payers.net/money-laundry.html" target="_blank"><%= t('Money Landury') %></a></li>
		    </ul>

            </footer>
        </div>
    </div>
    <!-- || footer scripts start || -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <!-- || footer scripts ends || -->
</body>
<!-- || page body ends || -->

</html>
