
<%# render :layout => false %>

<!doctype html>
<html dir='ltr' lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO -->
    <title>><%= t "devise.invitations.new.header" %></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="" />
    <link rel="publisher" href="" />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="/assets/imgs/content-covre.png" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="/assets/imgs/content-covre.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:image:src" content="/assets/imgs/content-covre.png" />
    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://payers.net/" />
    <meta property="og:image" content="/assets/imgs/content-covre.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />
    <!-- Schema -->
    <script type="application/ld+json">
    { "@context": "http://schema.org", "@type": "webSite", "url": "http://www.crtivo.studio", "name": "12 Cups Website", "description": "for selling coffee " }
    </script>
    <!-- other SEO info -->
    <meta name="revisit-after" content="5 days">
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="general" />
    <meta name="author" content="" />
    <meta name="copyrights" content="" />
    <meta name="alexaVerifyID" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rsslink" />
    <!-- FavsIcons -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="apple-touch-startup-image" href="home.png" />
    <!-- Head Inc -->
    <!-- <script data-pace-options='{ "ajax": false, "elements": false, "restartOnRequestAfter": false, "restartOnPushState":false }' src="resources/js/pace.js"></script> -->
    <link rel="stylesheet" href="/assets/css/layout.css" />
    <link rel="stylesheet" href="/assets/css/rtl.css" />
    <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->
    <!-- Google Analytices Code -->
    <script>
    </script>
</head>
<!-- || head area end || -->
<!-- || page body start || -->

<body id="login-page">
    <div class="bannerpage bg-white min-f-height-vh pos-relative">
        <!-- <div class="logo-postion pos-absolute">
            <div class="logo-section">
                <a href="/" class="b-boxshadow">
                <img src="/assets/imgs/white-logo.png" alt="white-logo" class="f-width">
            </a>
            </div>
        </div> -->
        <div class="bannersection pos-absolute f-height">
            <figure>
                <img src="/assets/imgs/loginhero2.png" alt="loginhero2" class="imagecover pos-absolute">
            </figure>
            <div class="pos-absolute f-width padding-hor-lg bannersection-caption clearfix">
            </div>
        </div>
        <div class="formsection padding-hor-md box-size">

            <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
            <%= devise_error_messages! %>
            
            <% resource.class.invite_key_fields.each do |field| -%>
            
            
            
            <div class="formwrap pad-left-sm f-width pad-right-sm hlf-e-btm">
                <div class="self-label">
                    <label>
                        <%= f.text_field field, class: 'selfinput' %>
                        
                        <span class="placeholder-span"><%= t('email')%></span>
                    </label>
                </div>
                <a href="#" class="mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue">ارسال دعوة لشخص اخر لتسجيل خلال موقعنا <i class="icon ic-icons-523"></i> </a>
                <div class="row row-default l-height-md padding-ver-md">
                    <div class="col-xs-12">
                        <div class="text-left">
                          <%= f.submit t("devise.invitations.new.submit_button"),class:"btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding" %>
                            
                        </div>
                    </div>
                </div>
            </div>
            <% end -%>
            
            <% end %>
            

<!-- 
            <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">
                <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                    Payers Copyrights appears here © 2017
                </p>
                <ul class="footer-ul sm-sm-fontsize font-bold">
                    <li><a href="#">تامولعم صيخرتلا .</a></li>
                    <li><a href="#">طورشلا و fاكحلا .</a></li>
                    <li><a href="#">ةيفيك fادختسلا .</a></li>
                </ul>
            </footer> -->
        </div>
    </div>
    <!-- || footer scripts start || -->
    <script src="resources/js/jquery.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/slick.min.js"></script>
    <!-- || footer scripts ends || -->
</body>
<!-- || page body ends || -->

</html>