<%= form_for(@users_wallets_balance) do |f| %>
  <% if @users_wallets_balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_wallets_balance.errors.count, "error") %> prohibited this users_wallets_balance from being saved:</h2>

      <ul>
      <% @users_wallets_balance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.hidden_field :user_id, :value => current_userd.id  %>
     <%= f.label :user_id , :value => current_userd.username , :class=> 'form-control' %><br>
  </div>
  
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.select :currency, options_for_select( [["USD","USD"],["SAR","SAR"],["EGP","EGP"]]),{:prompt => 'Select Currency '}, {  :class => 'form-control' } %><br>
  </div>
  <div class="field" id="wallet_name">
    <%= f.label :wallet_name %><br>
    <%= f.text_field :wallet_name, :readonly => true , :class=> 'form-control' %>
  </div>
  <!-- <div class="field">
    <%= f.label :status %><br>
    <%= f.select( :status , UsersWalletsBalance.all.map {|p| [p.status]}.uniq!)%>
    
  </div> -->
  <br>
  <div class="actions">
    <%= f.submit "Save", :class => "button" %>
  </div>
<% end %>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"> 
$("#wallet_name").hide()                         //to show hide textbox acording to selected value
 $(document).ready(function() {
  $("#users_wallets_balance_currency").on('change',function(){
    // console.log($("#users_wallets_balance_wallet_name").val());
        if($(this).val()==="USD"){
          $("#wallet_name").show();
          $("#users_wallets_balance_wallet_name").val("US Dollar");
          // $('#users_wallets_balance_wallet_name').html('US Dollar');
        
        }
         if ($(this).val()==="EGP"){
          $("#wallet_name").show();
          $("#users_wallets_balance_wallet_name").val("Egyptian Pound");
          // console.log($("#users_wallets_balance_wallet_name").val());
        }
         if ($(this).val()==="SAR"){
           $("#wallet_name").show();
          $("#users_wallets_balance_wallet_name").val("Saudi Riyal");
        }
    });
 });
  </script>
