
<script>
$('#transactions-id').addClass('active');
</script>

                <% content_for :title, t('Wallet Conversion Reports') %>
                <% content_for :icon, 'wallet' %>

                <section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
                    
                        <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
                                <div class="row row-default button-row">
                                    <div class="col-md-5">
                                        <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                                <%= t("Wallet Conversion Reports")%>
                                            </h4>
                                    </div>
                                  
                                </div>
                            </div>

                    
           <div class="mak-vis-scrl">
                    <div class="table-section content">
                        <div class="self-table-content english-font content">
                            <table class="self-table" id="testTable" style="width:100%">
                                <thead>
                                    <tr>
                                    <th><%= t("Process ID")%></th>
                                    <th><%= t("From Wallet")%></th>
                                    <th><%= t("Balance Before")%></th>
                                    <th><%= t("Balance After")%></th>
                                    <th><%= t("converted Value")%></th>
                                    <th><%= t("To Wallet")%></th>
                                    <th><%= t("Balance Before")%></th>
                                    <th><%= t("Balance After")%></th>
                                    <th><%= t("Process Value")%></th>
                                    <th><%= t("Process Time")%></th>
                                </tr>
                            </thead>
                            <tbody>

                                    <% @wallet_report.each do |report1| %>

                                    <tr>
                                            <td><%= report1.transaction_id %></td>
                                        <td><%=report1.w_from_name %></td>
                                        <td><%=report1.w_from_balance_before %></td>
                                        <td><%=report1.w_from_balance_after %></td>
                                        <td><%=report1.value_from %></td>
                                        <td><%=report1.w_to_name %></td>
                                        <td><%=report1.w_to_balance_before %></td>
                                        <td><%=report1.w_to_balance_after %></td>
                                        <td><%=report1.value_to %></td>
                                        <td><%=report1.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>

                                        </tr>
                                        <% end %>

                            <tbody>
                                        </table>
                                    </div>
                                </div>
            </div>

        </section>



 <section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
                    
                <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
                        <div class="row row-default button-row">
                            <div class="col-md-5">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                        <%= t("Balance Transfer")%>
                                    </h4>
                            </div>
                           
                        </div>
                    </div>


    <div class="mak-vis-scrl">
            <div class="table-section content">
                <div class="self-table-content english-font content">
                    <table class="self-table" id="testTable1" style="width:100%">
                        <thead>
                            <tr>

                                    <th><%= t("Process ID")%></th>
                                    <th><%= t("From Wallet")%></th>
                                    <th><%= t("Balance Before")%></th>
                                    <th><%= t("Balance After")%></th>
                                    <th><%= t("converted Value")%></th>
                                    <th><%= t("from user")%></th>
                                    <th><%= t("to user")%></th>
                                    <th><%= t("Administrative expenses")%></th>
                                    <th><%= t("Deliverd Balance")%></th>
                                    <th><%= t("Transfer Status")%></th>
                                    <th><%= t("Process Time")%></th>

                           
                        </tr>
                        </thead>
                    <tbody>

                            <% @confirmed_transfer1.each do |report2| %>
                                    
                                    <% @controller_names1 = "users_wallets_ballences_frozens" %>


                                    <% @conf_trans = Transaction.where("foreign_id = :foreign_id AND (controller LIKE :search)",{  :foreign_id => report2.id   ,:search => "%#{@controller_names1}%"}).first %>

                                    <% @name = Userd.where("id = ?",report2.user_id).first%>
                                    <% @uname = Userd.where("id = ?",report2.user_id_to).first%>
                                    <% if @conf_trans != nil%>
                                    <tr>

                                        <td><%=@conf_trans.transaction_id%></td>
                                        <td><%=report2.currency%></td>
                                        <% if report2.user_id == current_userd.id %>
                                        <td><%=@conf_trans.w_from_balance_before%></td>
                                        <td><%=@conf_trans.w_from_balance_after%></td>
                                        <% elsif  report2.user_id_to == current_userd.id%>
                                        <td><%=@conf_trans.w_to_balance_before%></td>
                                        <td><%=@conf_trans.w_to_balance_after%></td>
                                        <% end %>
                                        <td><%=report2.balance%></td>
                                        <td><%=@name.username%></td>
                                        <td><%=@uname.username%></td>
                                        <% if  report2.user_id == current_userd.id%>
                                        <td><%="-"%></td>
                                        <td><%=report2.balance%></td>
                                        <% else %>
                                        <td><%=report2.balance - report2.netbalance%></td>
                                        <td><%=report2.netbalance%></td>
                                        <% end %>
                                        
                                        <% if report2.approve == 1 and report2.deleted == 0 %>
                                        <td><%= "Approved" %></td>
                                        <% elsif report2.approve == 0 and report2.deleted == 0 %>
                                        <td><%= "Not Approved" %></td>
                                        <% elsif report2.deleted == 1 %>
                                        <td><%= "refunded by admin" %></td>
                                        <% elsif report2.deleted == 2 %>
                                        <td><%= "refunded by reciever" %></td>
                                        <% end %>
                                        <td><%=@conf_trans.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>

                                        <!-- <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td> -->
                                    </tr>
                                    <% else %>
                                    <tr>

                                        <td></td>
                                        <td><%=report2.currency%></td>
                                        <td></td>
                                        <td></td>
                                        <td><%=report2.balance%></td>
                                        <td><%=@name.username%></td>
                                        <td><%=@uname.username%></td>
                                        <td><%=report2.ratio_company%></td>
                                        <td><%=report2.netbalance%></td>
                                        <% if report2.approve == 1 %>
                                        <td><%= t("Balance After") %></td>
                                        <% else %>
                                        <td><%=" Not Approved "%></td>
                                        <% end %>
                                        <td><%=report2.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>

                                        <!-- <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td> -->
                                    </tr>
                                    <% end %>
                                    <% end %>


                    <tbody>
                                </table>
                            </div>
                        </div>
    </div>

</section>






<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
                    
        <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
                <div class="row row-default button-row">
                    <div class="col-md-5">
                        <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                <%= t("Cart Charge")%>
                            </h4>
                    </div>
                  
                </div>
            </div>



<div class="mak-vis-scrl">
    <div class="table-section content">
        <div class="self-table-content english-font content">
            <table class="self-table" id="testTable2" style="width:100%">
                <thead>
                    <tr>

                    <th><%= t("Process ID")%></th>
                    <th><%= t("To Wallet")%></th>
                    <th><%= t("Payment Method")%></th>
                    <th><%= t("Card Value")%></th>
                    <th><%= t("Balance Before")%></th>
                    <th><%= t("Balance After")%></th>
                    <th><%= t("Process Time")%></th>
                </tr>
            </thead>
            <tbody>

                    
                    <% @charged_carts.each do |report6| %>
                    <% @charge_cart = Transaction.where("foreign_id = ? and controller = ?",report6.id,"carts/cartbalancetouser").first %>
                    <% if @charge_cart != nil%>
                    <tr>

                        <td><%=@charge_cart.transaction_id%></td>
                        <td><%="USD"%></td>
                        <td><%=@charge_cart.w_to_name%></td>
                        <td><%=@charge_cart.value_from%></td>
                        <td><%=@charge_cart.beforecharge%></td>
                        <td><%=@charge_cart.w_to_balance_after%></td>
                        <td><%=@charge_cart.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>

                     
                    </tr>
                    <% else %>
                    <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                     
                    </tr>
                    <% end %>
                    <% end %>


            <tbody>
                        </table>
                    </div>
                </div>
</div>

</section>



<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
                    
        <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
                <div class="row row-default button-row">
                    <div class="col-md-5">
                        <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                <%= t("Withdraw Requests")%>
                            </h4>
                    </div>
                   
                </div>
            </div>

            <div class="mak-vis-scrl">
                <div class="table-section content">
                    <div class="self-table-content english-font content">
                        <table class="self-table" id="testTable3" style="width:100%">
                            <thead>
                                <tr>
                                
                                <th><%= t("Process ID")%></th>
                                <th><%= t("From Wallet")%></th>
                                <th><%= t("Payment Method")%></th>
                                <th><%= t("net sum")%></th>
                                <th><%= t("withdraw sum")%></th>
                                <th><%= t("Balance Before")%></th>
                                <th><%= t("Balance After")%></th>
                                <th><%= t("Order Status")%></th>
                                <th><%= t("Process Time")%></th>
                            </tr>
                        </thead>
                        <tbody>

                                <% @withdraw.each do |report7| %>
                                <%# @controller_name = "balances_withdraws" %>
                                <%# @comp_withdraw = Transaction.where("foreign_id = :foreign_id AND (controller LIKE :search)",{  :foreign_id => report7.id   ,:search => "%#{@controller_name}%"}).first %>
                                <%# @with_data = BalancesWithdraw.where("id = ? ",report7.foreign_id).first%>
                                <% @controller_namess = "balances_withdraws" %>
                                <% @with_data = Transaction.where("foreign_id = :foreign_id AND (controller LIKE :search)",{  :foreign_id => report7.id   ,:search => "%#{@controller_namess}%"}).first %>
                            
                                <tr>

                                    <td><%=@with_data.transaction_id%></td>
                                    <td><%=@with_data.w_from_name%></td>
                                    <td><%=@with_data.w_to_name%></td>
                                    <td><%=@with_data.value_from%></td>
                                    <td><%=@with_data.value_to%></td>

                                    <td><%=@with_data.w_from_balance_before%></td>
                                    <td><%=@with_data.w_from_balance_after%></td>
                                    <td><%=report7.status%></td>
                                    <td><%=report7.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>

                                    
                                </tr>


                                <% end %>

                        <tbody>


                                    </table>
                                </div>
                            </div>
            </div>

</section>




                
              
                

    <script src="<%= format_link(request) %>/assets/js/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#testTable').DataTable({
                language: {
                    //processing:     "Traitement en cours...",
                    search:         "<%= t('Search for a process') %>",
                    lengthMenu:     "<%= t('Display')%> _MENU_ <%= t('Process')%>",
                    info:           "<%= t('Display Processes from')%> _START_ <%= t('To')%> _END_ <%= t('Of total')%>_TOTAL_ <%= t('Process')%>",
                    infoEmpty:      "<%= t('Processes are displayed from 0 to 0 of a total of 0 processes') %>",
                    infoFiltered:   "<%= t('Filtering') %> _MAX_ <%= t('from all processes') %>",
                    infoPostFix:    "<%= t('There are no processes to display') %>",
                    loadingRecords: "<%= t('Loading processes') %>",
                    zeroRecords:    "",
                    emptyTable:     "<%= t('There are no processes available yet') %>",
                    paginate: {
                        first:      "<%= t('First page') %>",
                        previous:   "<%= t('previous') %>",
                        next:       "<%= t('next') %>",
                        last:       "<%= t('Last page') %>"
                    },
                    aria: {
                        sortAscending:  "<%= t('Activate the column sorting in ascending order') %>",
                        sortDescending: "<%= t('Activate the column sorting in descending order') %>"
                    }
                },
                responsive: true,
                ordering:  false
            });


            $('#testTable1').DataTable({
                language: {
                    //processing:     "Traitement en cours...",
                    search:         "<%= t('Search for a process') %>",
                    lengthMenu:     "<%= t('Display')%> _MENU_ <%= t('Process')%>",
                    info:           "<%= t('Display Processes from')%> _START_ <%= t('To')%> _END_ <%= t('Of total')%>_TOTAL_ <%= t('Process')%>",
                    infoEmpty:      "<%= t('Processes are displayed from 0 to 0 of a total of 0 processes') %>",
                    infoFiltered:   "<%= t('Filtering') %> _MAX_ <%= t('from all processes') %>",
                    infoPostFix:    "<%= t('There are no processes to display') %>",
                    loadingRecords: "<%= t('Loading processes') %>",
                    zeroRecords:    "",
                    emptyTable:     "<%= t('There are no processes available yet') %>",
                    paginate: {
                        first:      "<%= t('First page') %>",
                        previous:   "<%= t('previous') %>",
                        next:       "<%= t('next') %>",
                        last:       "<%= t('Last page') %>"
                    },
                    aria: {
                        sortAscending:  "<%= t('Activate the column sorting in ascending order') %>",
                        sortDescending: "<%= t('Activate the column sorting in descending order') %>"
                    }
                },
                responsive: true,
                ordering:  false
            });


                $('#testTable2').DataTable({
                language: {
                    //processing:     "Traitement en cours...",
                    search:         "<%= t('Search for a process') %>",
                    lengthMenu:     "<%= t('Display')%> _MENU_ <%= t('Process')%>",
                    info:           "<%= t('Display Processes from')%> _START_ <%= t('To')%> _END_ <%= t('Of total')%>_TOTAL_ <%= t('Process')%>",
                    infoEmpty:      "<%= t('Processes are displayed from 0 to 0 of a total of 0 processes') %>",
                    infoFiltered:   "<%= t('Filtering') %> _MAX_ <%= t('from all processes') %>",
                    infoPostFix:    "<%= t('There are no processes to display') %>",
                    loadingRecords: "<%= t('Loading processes') %>",
                    zeroRecords:    "",
                    emptyTable:     "<%= t('There are no processes available yet') %>",
                    paginate: {
                        first:      "<%= t('First page') %>",
                        previous:   "<%= t('previous') %>",
                        next:       "<%= t('next') %>",
                        last:       "<%= t('Last page') %>"
                    },
                    aria: {
                        sortAscending:  "<%= t('Activate the column sorting in ascending order') %>",
                        sortDescending: "<%= t('Activate the column sorting in descending order') %>"
                    }
                },
                responsive: true,
                ordering:  false
            });


               $('#testTable3').DataTable({
                language: {
                    //processing:     "Traitement en cours...",
                    search:         "<%= t('Search for a process') %>",
                    lengthMenu:     "<%= t('Display')%> _MENU_ <%= t('Process')%>",
                    info:           "<%= t('Display Processes from')%> _START_ <%= t('To')%> _END_ <%= t('Of total')%>_TOTAL_ <%= t('Process')%>",
                    infoEmpty:      "<%= t('Processes are displayed from 0 to 0 of a total of 0 processes') %>",
                    infoFiltered:   "<%= t('Filtering') %> _MAX_ <%= t('from all processes') %>",
                    infoPostFix:    "<%= t('There are no processes to display') %>",
                    loadingRecords: "<%= t('Loading processes') %>",
                    zeroRecords:    "",
                    emptyTable:     "<%= t('There are no processes available yet') %>",
                    paginate: {
                        first:      "<%= t('First page') %>",
                        previous:   "<%= t('previous') %>",
                        next:       "<%= t('next') %>",
                        last:       "<%= t('Last page') %>"
                    },
                    aria: {
                        sortAscending:  "<%= t('Activate the column sorting in ascending order') %>",
                        sortDescending: "<%= t('Activate the column sorting in descending order') %>"
                    }
                },
                responsive: true,
                ordering:  false
            });

        });
    </script>



                