           <% @balancefrozen = UsersWalletsBalancesFrozen.where("user_id_to = ? and approve = ? and deleted = ? and currency = ?",current_userd.id,0,0,"USD").all %>
            <% @total_frozen = number_with_precision(@balancefrozen.sum(:netbalance), :precision => 2) %>

            <script>

      $('#wallet-icon').addClass('active');

$(document).ready(function() {

    var current_balance='available';
    var current = <%= @users_wallets_balances.balance.to_f  %>;
    var froz = <%= @total_frozen.to_f %> ;
    var tot = +current + +froz;

    $("#frozen_balance").click(function() {

        $("#frozen_balance").addClass('active');
        $("#available_balance").removeClass('active');
        $("#total_balance").removeClass('active');

    $('#walletvalue').text('<%= @total_frozen.to_s %>');
    current_balance='frozen';
    return false;
     });

    $("#available_balance").click(function() {

        $("#frozen_balance").removeClass('active');
        $("#available_balance").addClass('active');
        $("#total_balance").removeClass('active');

    $('#walletvalue').text('<%= sprintf("%.2f",(@users_wallets_balances.balance.round(2).to_s))  %>');
    current_balance='available';
    return false;
     });
    $("#total_balance").click(function() {

        $("#frozen_balance").removeClass('active');
        $("#available_balance").removeClass('active');
        $("#total_balance").addClass('active');

    $('#walletvalue').text(tot.toFixed(2));
    current_balance='total';
    return false;
     });

    $("#toUSD").click(function() {
        if (current_balance == 'available') {
        $('#walletvalue').text('<%= sprintf("%.2f",(@dollar_wallet.balance.round(2).to_s))  %>');

                                       }
        if (current_balance == 'frozen') {
        $('#walletvalue').text(' <%= @total_frozen  %>');
    }
     if (current_balance == 'total') {
                $('#walletvalue').text(tot);
                                             }
                return false;
            });

    $("#toEGP").click(function() {

        if (current_balance == 'available') {
            var y = "<%= @users_wallets_balances.balance.to_f %>";
            var x = "<%= @usdtoegp.value.to_f%>";
            var result=(x*y).toFixed(2);
            $('#walletvalue').text(result.toString());
                                             }
        if (current_balance == 'frozen') {
            var y = "<%= @total_frozen.to_f %>";
            var x = "<%= @usdtoegp.value.to_f%>";
            var result=(x*y).toFixed(2);
            $('#walletvalue').text(result.toString());

                                          }
         if (current_balance == 'total') {
                var y=tot;
                var x = "<%= @usdtoegp.value.to_f%>";
                var result=(y*x).toFixed(2);
                $('#walletvalue').text(result.toString());
                                             }
                return false;

            });

    $("#toSAR").click(function() {
        if (current_balance == 'available') {
                 var y = "<%= @dollar_wallet.balance.to_f %>";
                 var x = "<%= @usdtors.value.to_f%>";
                 var result=(y*x).toFixed(2);
                 $('#walletvalue').text(result.toString());
                                             }
        if (current_balance == 'frozen') {
                 var y = "<%= @total_frozen.to_f %>";
                 var x = "<%= @usdtors.value.to_f%>";
                 var result=(y*x).toFixed(2);
                 $('#walletvalue').text(result.toString());

        }
         if (current_balance == 'total') {
                var y=tot;
                var x = "<%= @usdtors.value.to_f%>";
                var result=(y*x).toFixed(2);
                $('#walletvalue').text(result.toString());
                                             }
                return false;

                 });

 });

</script>


<% content_for :title, t('Dollar Wallet') %>
<% content_for :icon, 'wallet' %>



                <div class="row row-sm">
                    <div class="col-md-7 padding-hor-md hlf-btm mrg-bottom-sm col-sm-12">
                        <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-sm s-boxshadow radius-light">
                            <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="wicon1">
                            </h3>
                            <div class="page-title l-height-md mrg-bottom-md">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                    <%= t("Dollar Wallet")%>
                                </h4>
                                <a id="available_balance" href="#" class="btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding active">
                                    <%= t("Available Balance")%>
                                </a>
                                <a id="frozen_balance" href="#" class="btn text-blue  text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding">
                                    <%= t("Frozen Balance")%>
                                </a>
                                <a id="total_balance" href="#" class="btn text-blue  text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding">
                                    <%= t("The Total Amount")%>
                                </a>
                            </div>
                            <div class="lng-portion clearfix mrg-bottom-lg hlf-e-btm">
                                <div class="lng-side pull-right mrg-left-md">
                                    <h6 class="sm-sm-fontsize text-blue mrg-bottom-sm hlf-e-btm"><%= t("Show Currency")%> </h6>
                                    <ul class="sm-sm-fontsize english-font font-bold">
                                        <li>
                                            <a href="#" id="toUSD">USD</a>
                                        </li>
                                        <li>
                                            <a href="#" id="toSAR">SAR</a>
                                        </li>
                                        <li>
                                            <a href="#" id="toEGP">EGP</a>
                                        </li>
                                    </ul>
                                </div>
                                <h1 id="walletvalue" class="pull-right xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">

                                  <%= sprintf("%.2f",(@users_wallets_balances.balance.to_s))  %>

                                </h1>
                            </div>
                            <div class="btn-group-section mrg-bottom-sm">
                                <div class="row">
                                    <% if @dollar_wallet.is_deleted == 0 %>
                                    <div class="col-md-8">
                                    <% @user_wallets = UsersWalletsBalance.where("user_id = ? and is_deleted = ?" ,current_userd.id,0).count %>
                                <a href="/wallet_transfer/?currency=USD" walletscount ="<%= @user_wallets %>" class="btn md-padding radius-md iconic text-blue text-hover-white hover-bg-brand bg-white border-blue mrg-left-xs wallet-count">
                                    <i class="ico icon-arrowup"></i> <%= t("Transfer To Another Wallet")%>
                                </a>
                                <a href="/operations_details/?currency=USD" class="btn md-padding radius-md text-blue text-hover-white hover-bg-brand bg-white border-blue">
                                     <%= t("Operations Details") %>
                                </a>
                                </div>
                                <% else %>
                                <div class="col-md-8">
                                <a href="/dollar_wallet" class="btn md-padding radius-md iconic text-blue text-hover-white hover-bg-brand bg-white border-blue mrg-left-xs">
                                    <i class="ico icon-arrowup"></i> <%= t("Transfer To Another Wallet")%>
                                </a>
                                <a href="/operations_details/?currency=USD" class="btn md-padding radius-md text-blue text-hover-white hover-bg-brand bg-white border-blue">
                                     <%= t("Operations Details") %>
                                </a>
                                </div>
                                <% end %>
                                <div class="col-md-4">
                                        <div class="iconic-action">
                                            <div class="text-left text-line l-height-md text-blue sm-md-fontsize font-bold pointer">
                                               <%= t("Edit Wallet") %> <i class="icon ic-icons-175 md-md-fontsize mrg-right-xs hlf-e-btm"></i>
                                            </div>
                                            <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                <ul class="dosmall-action-ul">
                                                    
                                                    <li><a href=<%= "/deletewallet?id=" + @users_wallets_balances.id.to_s %>><%= t("Delete Wallet") %></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="section mrg-top-md hlf-e-btm padding-hor-lg bg-white pad-top-lg pad-bottom-md s-boxshadow radius-light">
                            <div class="page-title l-height-md mrg-bottom-md hlf-e-btm">
                                <div class="row row-default">
                                    <div class="col-xs-6">
                                        <h4 class="md-lg-fontsize text-dbrand font-weight-normal l-height-md">
                                            <%= t("Frozen Balances") %>
                                        </h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="text-left">
                                            <a href="/searchpost?time=&type=users_wallets_ballences_frozens/create&search=" class="btn sm-padding radius-md iconic text-blue text-hover-white border-blue bg-white hover-bg-brand">
                                                <%= t("All Frozen Balances") %>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content demo-y height-160 btm-bg-grd">
                                <div class="listing-section">
                                    <div class="row row-sm">
                                        <% @frozen_balances.each do |frozen| %>
                                        <% @f_balance = Transaction.where("foreign_id= ? and controller = ?",frozen.id,"users_wallets_ballences_frozens/create").first%>
                                        <% if @f_balance!= nil %>
                                        <% @sendername = Userd.find_by_id(@f_balance.user_id)%>
                                        <% end %>
                                        <div class="col-xs-12 padding-hor-sm">
                                            <div class="listing-div hover-b-boxshadow">
                                                <h4 class="icon-section">
                                                    <i class="icon-user-check md-lg-fontsize text-blue"></i>
                                                </h4>
                                                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                                    <% if @f_balance != nil %>
                                                    <%= t("you have recieved") + " " + @f_balance.value_to.to_s + " "+ @f_balance.w_from_name + " " + t("From User") + " " +  @sendername.username %>
                                                     <% else %>
                                                     <%= " No description"%>
                                                     <% end %>
                                                </h5>
                                                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                    <i class="ico icon-calendar"></i>
                                                    <% if @f_balance != nil %>
                                                     <%= @f_balance.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>.
                                                     <% else %>
                                                     <%= " No description"%>
                                                     <% end %>
                                                </p>
                                                <div class="do-small-action">
                                                    <div class="dosm-visi text-left pointer">
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                    </div>
                                                    <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                        <ul class="dosmall-action-ul">
                                                            <li><a href="/help_center"><%= t('Report a problem')%></a>
                                                            </li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                            </li>
                                                            <li>
                                                            <% if @f_balance!= nil %>
                                                            <a  href=<%= "/users_wallets_balances_frozens/" + @f_balance.foreign_id.to_s %>><%= t('Show details')%></a>
                                                            <% end %>
                                                           </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% end %>



                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-5 padding-hor-md hlf-btm col-sm-12">
                        <section class="padding-hor-lg bg-white pad-top-md pad-bottom-sm hlf-btm hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
                            <div class="padding-hor-lg hlf-btm mrg-bottom-md">
                                <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                  <i class="icon-History"></i>
                                </h3>
                                <div class="page-title l-height-md">
                                    <div class="row row-default">
                                        <div class="col-xs-6">
                                            <h4 class="md-lg-fontsize text-dbrand font-weight-normal l-height-md">
                                                <%= t("Latest Wallet Operations") %>
                                            </h4>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="text-left">
                                                <a href="#" class="btn md-padding radius-md iconic text-blue text-hover-white border-blue bg-white hover-bg-brand">
                                                    <i class="icon-Support"></i><%= t("customer service") %>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content demo-y height-546 btm-bg-grd">
                                <div class="listing-section">
                                    <div class="row row-sm">
                                        <% @wallet_operations.each do |operations| %>
                                        <% @op_type = operations.controller.to_s.split('/')%>
                                        <% @op_data = operations.description.to_s.split('/')%>
                                        <% @username = Userd.find_by_id(operations.user_id)%>
                                        <% @usertoname = Userd.find_by_id(operations.user_id_to)%>
                                        <div class="col-xs-12 padding-hor-sm">
                                            <div class="listing-div hover-b-boxshadow">
                                                <h4 class="icon-section">
                                                    <i class="icon-user-check md-lg-fontsize text-red"></i>
                                                </h4>
                                                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                        <% if operations.controller == "users_wallets_ballences_frozens/create" and operations.user_id == current_userd.id %>
                                        <%= t("balance was transferred with value of")+ " " + operations.value_from.to_s + " "+operations.w_from_name + " " + t("to the user") + " "+  @usertoname.username %>
                                        <% elsif operations.controller == "users_wallets_ballences_frozens/create" and operations.user_id_to == current_userd.id %>
                                        <%= t("you have recieved") + " " + operations.value_to.to_s + " "+ operations.w_from_name + " " + t("From User") + " "  +  @username.username %>
                                        <% elsif operations.controller == "users_wallets_ballences_frozens/approvedbalance" and operations.user_id == current_userd.id %>
                                        <%= t("Balance Delivered") + " " + operations.value_from.to_s + " "+ operations.w_from_name + " " + t("to the user") + " "  +  @usertoname.username %>
                                        <% elsif operations.controller == "users_wallets_ballences_frozens/approvedbalance" and operations.user_id_to == current_userd.id %>
                                        <%= t("Balance Delivered") + " " + operations.value_to.to_s + " "+ operations.w_from_name  + " " + t("From User") + " " +  @username.username %>
                                        <% elsif operations.controller == "users_wallets_ballences_frozens/deleteOperation" and operations.user_id == current_userd.id %>
                                        <%= t("balance refunded") + " " + operations.value_from.to_s + " "+ operations.w_from_name + " " + t("to the user") + " " +  @usertoname.username %>
                                        <% elsif operations.controller == "users_wallets_ballences_frozens/deleteOperation" and operations.user_id_to == current_userd.id %>
                                        <%= t("balance refunded") + " " + operations.value_to.to_s + " "+ operations.w_from_name  + " " + t("From User") + " " +  @username.username %>
                                        <% elsif (@op_type[0] == "balances_withdraws" or @op_type[0] == "Onlinebanks") %>
                                        <%= t(@op_data[0]) + ' ' + t('number') + ' ' + @op_data[1] + ' ' + t(@op_data[2]) + ' ' + @op_data[3].to_s %>
                                        <% elsif operations.controller == "users_wallets_balances/walletstransferpost"  %>
                                        <%= t(@op_data[0]) + " " + (@op_data[1]) + " " + (t(@op_data[2])) + " " + (@op_data[3]) + " , " + (t(@op_data[4])) + " " + (@op_data[5]) %>
                                        <% elsif (@op_type[0] == "carts" or operations.controller == "users_wallets_balances/admin_wallet_edit_post") %>
                                        <% @add_bal = operations.description.to_s.split('/') %>
                                        <%= t(@add_bal[0]) + ' '+@add_bal[1] %>
                                        
                                        <% else %>
                                        <%= operations.description %>
                                        <% end %>

                                                </h5>
                                                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                    <i class="ico icon-calendar"></i> <%= operations.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>.
                                                </p>
                                                <% @operation = operations.controller.to_s.split('/')[0] %>
                                                <div class="do-small-action">
                                                    <div class="dosm-visi text-left pointer">
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                    </div>
                                                    <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                        <ul class="dosmall-action-ul">
                                                            <% if operations.transaction_id != nil %>
                                                            <li><a ticket_status = "<%= operations.ticket_opend %>" data-tran = "<%= operations.transaction_id %>" class = "report_problem" href="#"><%= t('Report a problem')%></a>
                                                            </li>
                                                            <% end %>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                            </li>
                                                            <% if @operation == "users_wallets_ballences_frozens" %>
                                                            <li><a  href=<%= "/users_wallets_balances_frozens/" + operations.foreign_id.to_s %>><%= t('Show details')%></a>
                                                           </li>

                                                           <!-- this one must be beforethe  next to avoid conflict -->
                                                           <% elsif operations.controller == "users_wallets_balances/admin_wallet_edit_post" %>
                                                            <li><a  href=<%= "/edit_balance/" + operations.id.to_s %>><%= t('Show details')%></a>
                                                           </li>
                                                           <% elsif @operation == "users_wallets_balances" %>
                                                            <li><a  href=<%= "/showtransfer/" + operations.id.to_s %>><%= t('Show details')%></a>
                                                           </li>
                                                           <% elsif @operation == "balances_withdraws" %>
                                                            <li><a  href=<%= "/balances_withdraws/" + operations.foreign_id.to_s %>><%= t('Show details')%></a>
                                                           </li>
                                                           <% elsif @operation == "carts" %>
                                                            <li><a  href=<%= "/addbalance_show/" + operations.foreign_id.to_s %>><%= t('Show details')%></a>
                                                           </li>
                                                           <% elsif (@operation == "Onlinebanks")  %>
                                                            <li><a  href=<%= "/onlinebanks/" + operations.foreign_id.to_s %>><%= t('Show details')%></a>
                                                           </li>
                                                 
                                                           <% else %>
                                                            <li><a href="#"><%= t('Show details')%></a>
                                                            </li>
                                                            <% end %>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <% end %>




                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <script>
                $(document).ready(function() {
                    
                    $(".wallet-count").click(function() {

                        var status = $(this).attr('walletscount');
                       
                        if(status == 1){
        
                            var url = ("<%= t('you must create another wallet to continue')%>");
                             
        
                        $('#success-messege').text(url);
        
                        $('#success-popup').show();
                        return false;
        
                        }
                        });

              
                    $(".report_problem").click(function() {

                        var status = $(this).attr('ticket_status');
                        
                        if(status == 1){
        
                            var url = $(".ticket_disabled").attr('ticket_script');
        
                        $('#success-messege').text(url);
        
                        $('#success-popup').show();
        
                        } else {
                                
                        $('#freshdesk_trans_id').val($( this ).attr('data-tran'));
        
                        $('#user_ticket_data').show();
                        return false;
                        }
        
                            });
                                        })
        
                </script>