<p id="notice"><%= notice %></p>

<% unless @balancefrozen.blank? %>

<h1>List Of Users Frozen Balances for  <%= params[:currency] %> Wallet </h1>


<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th>id</th>
      <th>المرسل</th>
      <th>Currency</th>
      <th>Wallet name</th>
      <th>Net Balance</th>
      <th>Created_at</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @balancefrozen.each do |balancefrozen| %>
      <tr>
        <td><%= balancefrozen.id %></td>
        <td><% @usern = Userd.find(balancefrozen.user_id)  %>
        <%= @usern.username %>        
        <td><%= balancefrozen.currency %></td>
        <td><%= balancefrozen.wallet_name %></td>
        <td><%= balancefrozen.netbalance %></td>
        <td><%= balancefrozen.created_at %></td>
        
      </tr>
      
    <% end %>


  </tbody>
</table>

<div class="pagination">
      <%= will_paginate @balancefrozen,:param_name => 'frozen_page', :previous_label => t("previous"), :next_label => t("next") %>
      </div>

      <% else %>

     <h1> No Frozen Balances </h1>

     
      <% end %>

<br>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('Back')}</button>".html_safe, users_wallets_balances_path , { :class=>'linktop' } %>

