<style>

    .error {
        color: red;
     }
</style>
<script src="<%= format_link(request) %>/assets/js/app.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
<script src="/jquery.lazyload.js"></script>

<script>

    // just for the demos, avoids form submit


  
$(document).ready(function() {
    var currency = "<%= params[:currency] %>";
    if (currency != ''){
        if (currency == "USD")
        {
            fromusd();
        }
        else if (currency == "SAR")
        {
        	fromsar();
         }
         else if (currency == "EGP")
        {
            fromegp();
        }
        }
  

    function set(value,name){
        //alert(value);
        //alert(name);
        if (value != undefined && value != '' ){
                        //alert(value);
                $("#" + name +'_review').text(value);
                $("#" + name +'_row').show();

            }
            
}



$("#edit_data").click(function() {

    $('#after_review').hide();
    $('#before_review').show();


});
submit_i = 0;


$("#submit_review").click(function() {

    submit_i = submit_i +1 ;

    if (submit_i == 1){

    var form = $( "#new_users_wallets_balance");
form.submit();
    }

});


$("#sub").click(function() {


                

    //general data

    var form = $( "#new_users_wallets_balance");

    // console.log(form);
    form.validate({
         
           rules: {
                   // no quoting necessary
                   // quoting necessary!
                   // dots need quoting, too!
                  // "users_bank[personal_name]": "required"
                 },
                   //  ignore: [],


           messages: {

                  'users_wallets_balance[value]': { required: "برجاء ادخال المبلغ"  },
                  

                  
                 
          }
   });


   //alert( "Valid: " + form.valid() );

                if(form.valid() == false){
                         // alert('false');
                }

                if(form.valid() == true){



                
                var  value_currency =  $('#value_currency').text();
                //alert(value_currency);
                set(value_currency,'value_currency');

                var  tocurrency =  $('#tocurrency').text();
                $('#cu1').text(value_currency);
                var tt = tocurrency + ' / ' + value_currency ;
                $('#cu2').text(tt);
                $('#cu3').text(tocurrency);

                $('#thevalue').text($('#value').val());
                $('#rate_review').text($('#rateonly').text());
                //alert(tocurrency);
                set(tocurrency,'tocurrency');
                
               var all = $('#rateonly').text() *  $('#value').val() ;
               $('#all_review').text(all.toFixed(2));
              // alert(all);

              $('#after_review').show();
              $('#before_review').hide();
                }

});



    
var from;
var to;
var currency;
var rate;
function fromusd (){
        $( "#rysto" ).show();
        $('#content_div').hide();

        $( "#egpto" ).show();
        $( "#dollarto" ).hide();
        $('#currencytype').addClass('active');
        $('#destination').removeClass('active');

        from ='USD';
        to ='';

        currency = "<%=t('balance IN Dolar')%>";
        $("#value_currency").text(currency);

        $("#from_type").val(from);
        $("#to_type").val(to);
        $("#rate").text('');

        $('#dollarfromch').prop('checked', true);
        $('#sarfromch').prop('checked', false);
        $('#egpfromch').prop('checked', false);
        $('#dollartoch').prop('checked', false);
        $('#sartoch').prop('checked', false);
        $('#egptoch').prop('checked', false);
}
function fromsar() {
	$( "#dollarto" ).show();
        $('#content_div').hide();

        $( "#egpto" ).show();
        $( "#rysto" ).hide();
             
        $('#currencytype').addClass('active');
        $('#destination').removeClass('active');
        
        from ='SAR';
        to ='';
        currency = "<%=t('balance IN Rys')%>";
        $("#value_currency").text(currency);

        $("#from_type").val(from);
        $("#to_type").val(to);
        $("#rate").text('');        
              
        $('#dollarfromch').prop('checked', false);
        $('#sarfromch').prop('checked', true);
        $('#egpfromch').prop('checked', false);
        $('#dollartoch').prop('checked', false);
        $('#sartoch').prop('checked', false);
        $('#egptoch').prop('checked', false);

}
function fromegp() {
	$( "#dollarto" ).show();
        $('#content_div').hide();

    $( "#rysto" ).show();
        $( "#egpto" ).hide();
        
        
        from ='EGP';
        to ='';
        
        $("#from_type").val(from);
        $("#to_type").val(to);
        $("#rate").text('');
        
        currency = "<%=t('balance IN Egp')%>";
        $("#value_currency").text(currency);
        
        $('#currencytype').addClass('active');
        $('#destination').removeClass('active');  

      $('#dollarfromch').prop('checked', false);
        $('#sarfromch').prop('checked', false);
        $('#egpfromch').prop('checked', true);
        $('#dollartoch').prop('checked', false);
        $('#sartoch').prop('checked', false);
        $('#egptoch').prop('checked', false);

	}
$("#dollarfrom").click(function() {
        fromusd();
        return false;
});

$("#rysfrom").click(function() {
      fromsar();
        return false;
         
    });

$("#egpfrom").click(function() {
      fromegp();
         return false;            
        
        });


       

        //to part **********************
        
$("#dollarto").click(function() {
       
        $('#destination').addClass('active');
        
        to ='USD';
        $("#to_type").val(to);
        
        $('#dollartoch').prop('checked', true);
        $('#sartoch').prop('checked', false);
        $('#egptoch').prop('checked', false);
        
        tocurrency = "<%= t('balance IN Dolar') %>" ;
        $('#tocurrency').text(tocurrency);

        if (from == 'SAR')
            {
                rate = "<%= @rstousd.value.to_s + " " + t('balance IN Dolar') %>";
                
                $("#rateonly").text("<%= @rstousd.value.to_s %>");

                $("#rate").text(rate);

            }

        if (from == 'EGP')
            {
                rate = "<%= @egptousd.value.to_s + " " +  t('balance IN Dolar') %>";
                $("#rate").text(rate);
                $("#rateonly").text("<%= @egptousd.value.to_s %>");

                
            }
            $('#content_div').show();
          
        return false;      
        
        });
        
 $("#rysto").click(function() {
           
            $('#destination').addClass('active');
            
            to ='SAR';
            $("#to_type").val(to);
            
            $('#dollartoch').prop('checked', false);
            $('#sartoch').prop('checked', true);
            $('#egptoch').prop('checked', false);

            tocurrency = "<%= t('balance IN Rys') %>" ;
            $('#tocurrency').text(tocurrency);

        if (from == 'USD')
            {
                rate = "<%= @usdtors.value.to_s + " " +  t('balance IN Rys') %>";
                 $("#rate").text(rate);
                 $("#rateonly").text("<%= @usdtors.value.to_s %>");


             }

        if (from == 'EGP')
             {
                 rate = "<%= @egptors.value.to_s + " " +  t('balance IN Rys') %>";
                 $("#rate").text(rate);
                 $("#rateonly").text("<%= @egptors.value.to_s %>");

                        
             }
             $('#content_div').show();

        
        return false;
            
            
            });
        
$("#egpto").click(function() {
               
         to ='EGP';
        $("#to_type").val(to);

        
        $('#destination').addClass('active');
        $('#dollartoch').prop('checked', false);
        $('#sartoch').prop('checked', false);
        $('#egptoch').prop('checked', true);

        tocurrency = "<%= t('balance IN Egp') %>" ;
        $('#tocurrency').text(tocurrency);

        if (from == 'USD')
            {
                rate = "<%= @usdtoegp.value.to_s + " " +  t('balance IN Egp') %>";
                $("#rate").text(rate);
                $("#rateonly").text("<%= @usdtoegp.value.to_s %>");


            }

            if (from == 'SAR')
                {
                    rate = "<%= @rstoegp.value.to_s + " " +  t('balance IN Egp') %>";
                    $("#rate").text(rate);
                    
                    $("#rateonly").text("<%= @rstoegp.value.to_s %>");

                }

                
                $('#content_div').show();

            return false;
                    
                
                });
$('#value').change(function(){
             // var buid = $('#from_type').val();
             var compared_val=parseFloat($('#value').val());
             $("#sub").attr('disabled', false);
             
             <% if @dollar_wallet != nil %>
             if ($('#from_type').val() == "USD")
             {
                
                 
                if (compared_val > "<%= @dollar_wallet.balance %>"){
                    $('#value').val('');
                  $("#sub").attr('disabled', true);
                  $('#failure-messege').text("<%= t("your balance is less than the value") %>");                      
                  $('#failure-popup').show(); 
                 
            
                 }
                }
                <% end %>
                <% if @egp_wallet != nil %>
              if ($('#from_type').val() == "EGP")
             {
                if (compared_val > "<%= @egp_wallet.balance %>")
                {
                    $('#value').val('');
                    $("#sub").attr('disabled', true);
                  $('#failure-messege').text("<%= t("your balance is less than the value") %>");                      
                  $('#failure-popup').show();
                    
            
                 }
                }
                <% end %>
                <% if @sar_wallet != nil %>
              if ($('#from_type').val() == "SAR")
             {
                if (compared_val > "<%= @sar_wallet.balance %>")
                {
                    $('#value').val('');
                    $("#sub").attr('disabled', true);
                  $('#failure-messege').text("<%= t("your balance is less than the value") %>");                      
                  $('#failure-popup').show();
                    
            
                 }
             }
                 <% end %>
                 if (compared_val <= 0)
                 {
                     $('#value').val('');
                    $("#sub").attr('disabled', true);
                  $('#failure-messege').text("<%= t("the value must be greater than zero") %>");                      
                  $('#failure-popup').show();
                 }
            });
});




</script>
            

<div id='before_review'>


<%# form_for UsersWalletsBalance.new,:url => url_for(:controller => 'users_wallets_balances', :action => 'post_wallet_review') , :html => { :multipart => true } do |f| %>

     <%= form_for @users_wallets_balance,:url => url_for(:controller => 'users_wallets_balances', :action => 'walletstransferpost') , :html => { :multipart => true } do |f| %>

    <% content_for :title, t('Wallet Transfer Balance') %>
    <% content_for :icon, 'wallet' %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
    <div class="pos-relative">
        <div class="title-line sm-f-width">
            <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                <i class="ico icon-wallet"></i>
            </h3>
            <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                    <%= t('Wallet Transfer Balance') %>
                </h4>
        </div>
        <div class="self-tabs text-center">
            <ul class="self-tabs-list">
                <li class="active">
                    <a href="#">
                        <span class="ico">
                            <i class="icon-home-icon"></i>
                        </span>
                        <span class="selftbas-title"><%= t('Select Wallet Type') %></span>
                    </a>
                </li>
                <li id="currencytype">
                    <a href="#">
                        <span class="ico">
                            <i class="icon-dollor"></i>
                        </span>
                        <span class="selftbas-title"><%= t('Select Currency') %></span>
                    </a>
                </li>
                <li id="destination">
                    <a href="#">
                        <span class="ico" >
                            <i class="icon-home" ></i>
                        </span>
                        <span class="selftbas-title"> <%= t('converted Value') %></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="pad-top-lg hlf-e-btm">
        <div class="row row-sm">
        <div class="col-md-6 col-lg-5 col-sm-12">
        <div class="row row-sm">

                 <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="scrollbar-inner logos-menu">
                            <div class="logos-list-menu">

                                    <% if @dollar_wallet.is_deleted == 0 %>
                                    
                                <label class="logo-checkbox" id="dollarfrom">
                                    <input type="checkbox" name="checkbox" id="dollarfromch">
                                    <span class="logo-list logo-list2">
                                        <h4>
                                            <img src="<%= format_link(request) %>/assets/imgs/world-white.png" alt="world-white" class="act-img">
                                            <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="world-white" class="off-img">
                                        </h4>
                                        <h5>
                                                <%= t('balance IN Dolar') %>
                                            </h5>
                                        <h6 class="sm-text"><%= @dollar_wallet.balance.to_s + " "+ t('balance IN Dolar') %></h6>
                                    </span>
                                </label>
                                <% end %>
                                
                                <% if @sar_wallet!= nil and @sar_wallet.is_deleted == 0   %>
                                
                                <label class="logo-checkbox" id="rysfrom">
                                    <input type="checkbox" name="checkbox" id="sarfromch">
                                    <span class="logo-list logo-list2">
                                        <h4>
                                            <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="world-white" class="act-img">
                                            <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="world-white" class="off-img">
                                        </h4>
                                        <h5>
                                                <%= t('balance IN Rys') %>
                                            </h5>
                                            <h6 class="sm-text"><%= @sar_wallet.balance.to_s + " "+ t('balance IN Rys') %></h6>
                                        </span>
                                </label>
                                <% end %>

                                <% if @egp_wallet!= nil and @egp_wallet.is_deleted == 0   %>
                                
                                <label class="logo-checkbox" id="egpfrom">
                                    <input type="checkbox" name="checkbox" id="egpfromch">
                                    <span class="logo-list logo-list2">
                                        <h4>
                                            <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="world-white" class="act-img">
                                            <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="world-white" class="off-img">
                                        </h4>
                                        <h5>
                                                <%= t('balance IN Egp') %>
                                            </h5>
                                            <h6 class="sm-text"><%= @egp_wallet.balance.to_s + " "+ t('balance IN Egp') %></h6>
                                        </span>
                                </label>
                                <% end %>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="scrollbar-inner logos-menu">

                            <div class="logos-list-menu" id="dollartoo">
                                    <% if @dollar_wallet.is_deleted == 0 %>
                                    
                                <label class="logo-checkbox" id="dollarto" style="display:none;">
                                    <input type="checkbox" name="checkbox" id="dollartoch">
                                    <span class="logo-list logo-list2">
                                        <h4>
                                            <img src="<%= format_link(request) %>/assets/imgs/world-white.png" alt="world-white" class="act-img">
                                            <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="world-white" class="off-img">
                                        </h4>
                                        <h5>
                                                <%= t('balance IN Dolar') %>
                                            </h5>
                                            <h6 class="sm-text"><%= @dollar_wallet.balance.to_s + " "+ t('balance IN Dolar') %></h6>
                                        </span>
                                </label>
                                <% end %>

                                <% if @sar_wallet!= nil and @sar_wallet.is_deleted == 0   %>
                                
                                <label class="logo-checkbox" id="rysto" style="display:none;">
                                    <input type="checkbox" name="checkbox" id="sartoch">
                                    <span class="logo-list logo-list2">
                                        <h4>
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="world-white" class="act-img">
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="world-white" class="off-img">
                                        </h4>
                                        <h5>
                                                <%= t('balance IN Rys') %>
                                            </h5>
                                            <h6 class="sm-text"><%= @sar_wallet.balance.to_s + " "+ t('balance IN Rys') %></h6>
                                        </span>
                                </label>
                                <% end %>
                                <% if @egp_wallet!= nil and @egp_wallet.is_deleted == 0   %>
                                
                                <label class="logo-checkbox" id="egpto" style="display:none;">
                                    <input type="checkbox" name="checkbox" id="egptoch">
                                    <span class="logo-list logo-list2">
                                        <h4>
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="world-white" class="act-img">
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="world-white" class="off-img">
                                        </h4>
                                        <h5>
                                                <%= t('balance IN Egp') %>
                                            </h5>
                                            <h6 class="sm-text"><%= @egp_wallet.balance.to_s + " "+ t('balance IN Egp') %></h6>
                                        </span>
                                </label>
                                <% end %>
                                
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div id= 'content_div' class="col-md-4 col-sm-12" style="display:none;">
                    <div class="selfform-height-auto">
                        <div class="self-label">
                            <label>
                                <%= f.number_field  :value ,step: :any,  :class=> 'selfinput' ,:id => "value" ,  :required => true %>
                                
                                <span class="placeholder-span"><%= t('Transfered Value') %></span>
                                <span class="text-left-word" id="value_currency"></span>
                            </label>
                        </div>
                        <h4 class="md-lg-fontsize text-dbrand font-weight-normal mrg-top-md hlf-e-btm ">
                            <i class="icon-dollor iblock mrg-left-xs"></i>
                            <span class="english-font md-md-fontsize" id="rate"></span>
                            <span style="display:none;" class="english-font md-md-fontsize" id="rateonly"></span>

                            <span style="display:none;" class="english-font md-md-fontsize" id="tocurrency"></span>

                        </h4>
                        <div class="this-btn text-left mrg-top-lg">
                        <%= f.hidden_field :type_conversion_from ,  :id=> 'from_type' %>
                        <%= f.hidden_field :type_conversion_to ,  :id=> 'to_type' %>
                        
                            <button id="sub" type="button" class="btn md-padding bg-brand hover-bg-blue text-white text-hover-white radius-md"><%= t('Preview Transfer') %> </button>
                            <% end %>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </section>

</div>

<div style="display:none;" id='after_review'>


     <!-- ###########################start review ############################################     -->


     <%# form_for @users_wallets_balance,:url => url_for(:controller => 'users_wallets_balances', :action => 'walletstransferpost') , :html => { :multipart => true } do |f| %>
     
     
     
     <%# f.hidden_field :user_id  ,:value => @users_wallets_balance.user_id %>
     <%# f.hidden_field :type_conversion_from ,  :value=> @users_wallets_balance.type_conversion_from %>
     <%# f.hidden_field :type_conversion_to ,  :value=> @users_wallets_balance.type_conversion_to %>
     <%# f.hidden_field :value , :value=> @users_wallets_balance.value %>
                 
     
     <%# if @users_wallets_balance.type_conversion_from == "USD" %>
     <%# @currency = t('balance IN Dolar')%>
     <%# elsif @users_wallets_balance.type_conversion_from == "EGP" %>
     <%# @currency = t('balance IN Egp')%>
     <%# elsif @users_wallets_balance.type_conversion_from == "SAR" %>
     <%# @currency = t('balance IN Rys')%>
     <%# end %>
     <%# if @users_wallets_balance.type_conversion_to == "USD" %>
     <%# @currency2 = t('balance IN Dolar')%>
     <%# elsif @users_wallets_balance.type_conversion_to == "EGP" %>
     <%# @currency2 = t('balance IN Egp')%>
     <%# elsif @users_wallets_balance.type_conversion_to == "SAR" %>
     <%# @currency2 = t('balance IN Rys')%>
     <%# end %>
     
     
     
                     <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                         <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                           <img src="<%= format_link(request) %>/assets/imgs/trans-confirm.png" alt="trans-confirm">
                         </h3>
                         <div class="clearfix">
                             <div class="pull-right sm-f-width box-shadow-left">
                                 <div class="page-title l-height-md mrg-bottom-md">
                                     <div class="row row-default button-row">
                                         <div class="col-xs-12">
                                             <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                              <%= t('Review Balance Transfer') %>
                                             </h4>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="msg-alert alert box-size border-color-yellow hlf-btm bg-white padding-ver-xs clearfix">
                                     <span class="ico lg-md-fontsize text-yellow">!</span>
                                     <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Review Your Information Now') %></h5>
                                     <p class="sm-md-fontsize text-dgray"><%= t('Please Review Transormation Data Before Submit') %></p>
                                     <span class="alert-close icon-Plus-white"></span>
                                 </div>
                                 <div class="btm-bg-grd">
                                    <div class="scrollbar-inner height-300 mrg-top-lg hlf-e-btm">
                                        <div class="selfscroll-section">
                                             <table class="table sm-md-fontsize">
                                                 <tr id='value_currency_row'>
                                                     <td  class="font-bold text-blue pad-left-xs"><%= t('From Wallet') %>:</td>
                                                     <td id='value_currency_review' class="font-weight-normal text-dgray"><%# @currency %></td>
                                                 </tr>
                                                 <tr id='tocurrency_row' >
                                                     <td class="font-bold text-blue  pad-left-xs"> <%= t('To Wallet') %>:</td>
                                                     <td  id='tocurrency_review' class="font-weight-normal text-dgray"><%# @currency2 %></td>
                                                 </tr>
                                                 <tr>
                                                     <td class="font-bold text-blue  pad-left-xs"> <%= t('User Identification') %>:</td>
                                                     <%# @user_iden = Userd.where("id = ?",current_userd.id).first%>
                                                     <td class="font-weight-normal text-dgray"><%= current_userd.username %></td>
                                                 </tr>   
                                                  <tr>
                                                    <td class="font-bold text-blue  pad-left-xs"></td>
                                                    <td class="font-weight-normal text-dgray"></td>
                                                </tr>

                                                <tr>
                                                        <td class="font-bold text-blue  pad-left-xs"></td>
                                                        <td class="font-weight-normal text-dgray"></td>
                                                    </tr>
                                        
                                                 
                                             </table>
                                         </div>
                                     </div> 
                                 </div>
                             </div>
                             <div class="pull-right box-shadow-right sm-f-width">
                                 <div class="iblock mrg-left-lg mrg-bottom-md">
                                     <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Transfered Balance') %></h5>
                                     <p id='thevalue' class="md-sm-fontsize text-black english-font font-bold"><%# @users_wallets_balance.value.to_d.truncate(2).to_f %></p>
                                     <p id='cu1' class="sm-md-fontsize text-dgray"><%# @currency %></p>
                                 </div>
                                 <div class="iblock mrg-bottom-md">
                                     <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Show Currency') %></h5>
                                     <p id='rate_review' class="md-sm-fontsize text-black english-font font-bold"></p>
                                     <p id='cu2' class="sm-md-fontsize text-dgray"><%# @currency %></p>
                                 </div>
                                 
                                 
                                 <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('The Total Amount') %></p>
                                 <h1 id='all_review' class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
                                     <%# $incresedvalue.round(2) %>
                                 </h1>
                                 <p id='cu3' class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%#  @currency2 %></p>
                                 <div class="mrg-top-md">
                                     
                                     <button type="button" id='submit_review' class="mrg-left-xs btn bg-black radius-md hover-bg-brand text-white text-hover-white md-padding" style="float:left; margin-left: 50px;"> <i class="ico icon-white-logo"></i> <%= t('Confirm Transfer') %>  </button>
                                     <%# end %>
                                     <%# form_for @users_wallets_balance,:url =>wallet_transfer_path , :html => { :multipart => true } do |f| %>
     
     <%# f.hidden_field :user_id  ,:value => current_userd.id %>
     <%# f.hidden_field :type_conversion_from ,  :value=> params[:users_wallets_balance][:type_conversion_from] %>
     <%# f.hidden_field :type_conversion_to ,  :value=> params[:users_wallets_balance][:type_conversion_to] %>
     <%# f.hidden_field :value , :value=> params[:users_wallets_balance][:value] %>
     
             <button type="button" id='edit_data' class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding" style=" background: #fff; padding-bottom:5px; "> <%= t('edit info') %>  </button>
             
     
             <%# end %>                               
                                     
              </div>
               </div> 
               </div>
                     </section>
     
     
                     <!-- ##################################end review ############################# -->

                    </div>
