<div id="new-wallet" class="selfpopup">
        <%= form_for(@users_wallets_balance) do |f| %>
        
    <div class="selfpopup-bg">
    </div>
    <div class="selfpopup-content">
        <div class="selfpopup-inner">
            <div class="selfpopup-middle">
                <div class="padding-all-sm">
                    <div class="cart-balance selfpopup-caption">
                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h5 class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal"><%= t('New Wallet')%></h5>
                           
                            
                            <div class="select-box">
                                <label><%= t('Please Choose the Currency you want to activate') %></label>
                                <%= f.hidden_field :user_id, :value => current_userd.id  %>

                                <div class="field" >
                                <div class="select-box"> 
                                    <select name="users_wallets_balance[currency]" id="users_wallets_balance_currency" >
    	
		<% if @dollar_wallet == nil %>
		<option value="USD"><%= t('US Dollar Wallet')%></option>
		<% end %>

		<% if @egp_wallet == nil %>
		<option value="EGP"><%= t('Egyptian Pound Wallet')%></option>
		<% end %>

		<% if @sar_wallet == nil %>
		<option value="SAR"><%= t('Saudi Riyal Wallet')%></option>
		<% end %>

		<% if @users_wallets_deleted != nil %>
		<% @users_wallets_deleted.each do |wallet| %>
		<option value="<%= wallet.currency %>"><%= t(wallet.wallet_name + ' Wallet' ) %></option>
		<% end %>
		<% end %>

	</select>
                                    <%#f.select :currency, options_for_select( [[t('Dollar Wallet'),"USD"],[t('Riyal Wallet'),"SAR"],[t('Pound Wallet'),"EGP"]])%>
                                    
                                  
                                    </div>
                                     </div>



                                <%# f.hidden_field :wallet_name, :readonly => true  %>
                            </div>
                            <input type="submit" name="submit" value="<%= t('Add Wallet')%>" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm">
                        </div>
                        <div class="crcl-animation">
                            <span class="lg-crcl"></span>
                            <span class="md-crcl"></span>
                            <span class="sm-crcl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>       
</div>


<script>
$(document).ready(function() {
  $("#users_wallets_balance_currency").on('change',function(){
    // console.log($("#users_wallets_balance_wallet_name").val());
        if($(this).val()==="USD"){
          // $("#wallet_name").show();
          $("#users_wallets_balance_wallet_name").val("US Dollar");
          // $('#users_wallets_balance_wallet_name').html('US Dollar');
        
        }
         if ($(this).val()==="EGP"){
          // $("#wallet_name").show();
          $("#users_wallets_balance_wallet_name").val("Egyptian Pound");
          // console.log($("#users_wallets_balance_wallet_name").val());
        }
         if ($(this).val()==="SAR"){
           // $("#wallet_name").show();
          $("#users_wallets_balance_wallet_name").val("Saudi Riyal");
        }
    });
 });
  </script>
