<script>
$('#transactions-id').addClass('active');
</script>
<% content_for :title, t('Balance Operations') %>
<section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                        <i class="ico icon-dollor"></i>
                    </h3>
                    <% @currency =  params[:currency] %>
                        <% if @currency == "USD" %>
                        <% @trans = t('USD Wallet Balance Operations') %>
                        <% @wallet_operations = @USD_wallet_operations %>
                        <% elsif @currency == "EGP" %>
                        <% @wallet_operations = @EGP_wallet_operations %>
                        <% @trans = t('EGP Wallet Balance Operations') %>
                        <% elsif @currency == "SAR" %>
                        <% @trans = t('SAR Wallet Balance Operations') %>
                        <% @wallet_operations = @SAR_wallet_operations %>
                        <% end %>
                    <div class="page-title l-height-md mrg-bottom-md">
                        <div class="row row-default button-row">
                            <div class="col-md-4">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                    <%= @trans %>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="listing-section listing-section2">
                        <div class="content demo-y btm-bg-grd max-before height-490">
                        <div class="row row-sm">
    <% @wallet_operations.each do |transaction| %>
            <% if transaction.w_from_name == "USD" %>
            <% @currency = t('balance IN Dolar')%>
            <% elsif transaction.w_from_name == "EGP" %>
            <% @currency = t('balance IN Egp')%>
            <% elsif transaction.w_from_name == "SAR" %>
            <% @currency = t('balance IN Rys')%>
            <% end %>
            <% @username = Userd.find_by_id(transaction.user_id)%>
            <% @usertoname = Userd.find_by_id(transaction.user_id_to)%>
            <% @controller = transaction.controller.to_s.split('/') %>
                            <div class="col-md-6 col-sm-6">
                                <div class="listing-div hover-b-boxshadow">
                                    <h4 class="icon-section">
                                        <i class="icon-user-check md-lg-fontsize text-red"></i>
                                    </h4>
                                    <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                    	<% if transaction.controller == "users_wallets_ballences_frozens/create" and transaction.user_id == current_userd.id %>
                                    	<%= t("balance was transferred with value of")+ " " + transaction.value_from.to_s + " "+transaction.w_from_name + " " + t("to the user") + " "+  @usertoname.username %>
                                    	<% elsif transaction.controller == "users_wallets_ballences_frozens/create" and transaction.user_id_to == current_userd.id %>
                                    	<%= t("you have recieved") + " " + transaction.value_to.to_s + " " + transaction.w_from_name + " " + t("From User") + " " +  @username.username %>
                                    	<% elsif transaction.controller == "users_wallets_ballences_frozens/approvedbalance" and transaction.user_id == current_userd.id %>
                                    	<%= t("Balance Delivered") + " " + transaction.value_from.to_s + " "+ transaction.w_from_name + " " + t("to the user") + " " + @usertoname.username %>
                                    	<% elsif transaction.controller == "users_wallets_ballences_frozens/approvedbalance" and transaction.user_id_to == current_userd.id %>
                                    	<%= t("Balance Delivered") + " " + transaction.value_to.to_s + " " + transaction.w_from_name + " " + t("From User") + " " +  @username.username %>
                                        <% elsif transaction.controller == "users_wallets_ballences_frozens/deleteOperation" and transaction.user_id == current_userd.id %>
                                        <%= t("balance refunded") + " " + transaction.value_from.to_s + " "+ transaction.w_from_name + " " + t("to the user") + " " +  @usertoname.username %>
                                        <% elsif transaction.controller == "users_wallets_ballences_frozens/deleteOperation" and transaction.user_id_to == current_userd.id %>
                                        <%= t("balance refunded") + " " + transaction.value_to.to_s + " "+ transaction.w_from_name  + " " + t("From User") + " " +  @username.username %>
                                    	<% elsif (@controller[0] == "balances_withdraws" or @controller[0] == "Onlinebanks") %>
                                        <% @withdraw = transaction.description.to_s.split('/') %>
                                        <%= t(@withdraw[0]) + ' '+@withdraw[1]+' '+t(@withdraw[2]) + ' '+@withdraw[3].to_s %>
                                    	<% elsif transaction.controller == "users_wallets_balances/walletstransferpost"  %>
                                        <% @testt = transaction.description.to_s.split('/') %>
                                        <%= t(@testt[0]) + ' '+@testt[1]+' '+t(@testt[2]) + ' '+@testt[3].to_s+ ' '+t(@testt[4])+' '+@testt[5].to_s %>                               
                                        <% elsif transaction.controller == "carts/cartbalancetouser " or @controller[0] == "onlinebanks" or @controller[0] == "carts" %>
                                        <% @testt = transaction.description.to_s.split('/') %>
                                        <%= t(@testt[0]) + ' '+@testt[1] %>
                                    	<% else %>
                                        <%= transaction.description %>
                                        <% end %>
                                    </h5>
                                    <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                        <i class="ico icon-calendar"></i> <%= transaction.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                                    </p>
                                    <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <% if transaction.transaction_id != nil %>
                                                <li><a ticket_status = "<%= transaction.ticket_opend %>" data-tran = "<%= transaction.transaction_id %>" class = "report_problem" href="#"><%= t('Report a problem')%></a>
                                                </li>
                                                <% end %>
                                                <% @test = transaction.controller %>
                                                <% if (@test == "carts/cartbalancetouser")  %>
                                                <li><a  href=<%= "/addbalance_show/" + transaction.id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@controller[0] == "carts") %>
                                                <li><a id="cart_details" href=<%= "/cartgen/" + transaction.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@controller[0] == "Onlinebanks")  %>
                                                <li><a  href=<%= "/onlinebanks/" + transaction.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                 
                                                <% elsif (@controller[0] == "users_wallets_ballences_frozens")  %>
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + transaction.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@controller[0] == "balances_withdraws")  %>
                                                <li><a  href=<%= "/balances_withdraws/" + transaction.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif @test == "users_wallets_balances/walletstransferpost" %>
                                                <li><a  href=<%= "/showtransfer/" + transaction.id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% else %>
                                                <li><a href="#"><%= t('Show details')%></a>
                                                </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    </div>
                </section>

                <div id="data" >

        </div>


        <script>
                $(document).ready(function(){

                $("#cart_details").click(function()
                {



              // $("#cart-balance").show();
               var id =  $("#cart_details").attr('href');
               var re= id +" "+ "#cart-balance";
              //$( "#data" ).load(re);


              $( "#data" ).load( re , function() {



                      $.getScript("/assets/js/app.js");



                  });



               //console.log(id);
               return false;

                });

                $(".report_problem").click(function() {

                    var status = $(this).attr('ticket_status');
                    
                    if(status == 1){
    
                        var url = $(".ticket_disabled").attr('ticket_script');
    
                    $('#success-messege').text(url);
    
                    $('#success-popup').show();
    
                    } else {
                            
                    $('#freshdesk_trans_id').val($( this ).attr('data-tran'));
    
                    $('#user_ticket_data').show();
                    return false;
                    }
    
                        });

                });


            </script>
