<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
                    <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
                        <div class="row row-default button-row">
                            <div class="col-md-5">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                   <%= t("Balance Transfer")%>
                                </h4>
                            </div>
                            <%= form_tag  url_for(:controller => 'users_wallets_balances', :action => 'searchposts1'), :method => 'post' do %>
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <div class="search-div radius-md bg-white b-boxshadow">
                                        <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder="<%= t('Search') %>">
                                        <button type="submit" class="search-btn"><i class="icon ic-search-1"></i></button>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                                        <%= select_tag(:searchtime, options_for_select([[t('last hour'),'last hour'],[t('last day'),'last day'], [t('last week'),'last week'], [t('last month'),'last month'],[t('last year'),'last year']]),:include_blank => ' date', class: 'selectpicker' )  %>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs ppicker">
                                        <%= select_tag(:operationtyp, options_for_select([[t('Confirmed Transfers'),'Confirmed Transfer'],[t('UnConfirmed Transfers'),'UnConfirmed Transfer'], [t('Recieved Balances'),'Received transfers'],[t('Frozen Transfers'),'Frozen transfers']]),:include_blank => t('Conversion Type'),  class: 'selectpicker' )   %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="mak-vis-scrl">
                        <div class="table-section content demo-x">
                            <div class="first-row text-black">
                                <table class="self-table">
                                    <tr>
                                        <td><%= t("Process ID")%></td>
                                        <td><%= t("From Wallet")%></td>
                                        <td><%= t("Balance Before")%></td>
                                        <td><%= t("Balance After")%></td>
                                        <td><%= t("converted Value")%></td>
                                        <td><%= t("from user")%></td>
                                        <td><%= t("to user")%></td>
                                        <td><%= t("Administrative expenses")%></td>
                                        <td><%= t("Deliverd Balance")%></td>
                                        <td><%= t("Transfer Status")%></td>
                                        <td><%= t("Process Time")%></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="self-table-content english-font content demo-y btm-bg-grd height-230">
                                <table class="self-table">
                                <% if @transferid != nil %>
                                <% @report2 = UsersWalletsBalancesFrozen.where("id = ?",@transferid.foreign_id).first%>
                                    <% @name = Userd.where("id = ?",@report2.user_id).first%>
                                    <% @uname = Userd.where("id = ?",@report2.user_id_to).first%>
                                  <tr>
                                        
                                        <td><%=@transferid.transaction_id%></td>
                                        <td><%=@report2.currency%></td>
                                        <% if @report2.user_id == current_userd.id %>
                                        <td><%=@transferid.w_from_balance_before%></td>
                                        <td><%=@transferid.w_from_balance_after%></td>
                                        <% elsif  @report2.user_id_to == current_userd.id%>
                                        <td><%=@transferid.w_to_balance_before%></td>
                                        <td><%=@transferid.w_to_balance_after%></td>
                                        <% end %>
                                        <td><%=@report2.balance%></td>
                                        <td><%=@name.username%></td>
                                        <td><%=@uname.username%></td>
                                        <td><%=@report2.ratio_company%></td>
                                        <td><%=@report2.netbalance%></td>
                                        <% if @report2.approve == 1 %>
                                        <td><%=" Approved "%></td>
                                        <% else %>
                                        <td><%=" Not Approved "%></td>
                                        <% end %>
                                        <td><%=@transferid.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>
                                        
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                   <% else %>
                                    <% @reports.each do |report2| %>
                                    <%# @conf_trans = Transaction.where("foreign_id = ? and controller = ?",report2.id,"users_wallets_ballences_frozens/approvedbalance").first %>


                                    <% @controller_names = "users_wallets_ballences_frozens" %>
                                    <% @conf_trans = Transaction.where("foreign_id = :foreign_id AND (controller LIKE :search)",{  :foreign_id => report2.id   ,:search => "%#{@controller_names}%"}).first %>

                                    <% @name = Userd.where("id = ?",report2.user_id).first%>
                                    <% @uname = Userd.where("id = ?",report2.user_id_to).first%>
                                    <% if @conf_trans != nil%>
                                    <tr>
                                        
                                        <td><%=@conf_trans.transaction_id%></td>
                                        <td><%=report2.currency%></td>
                                        <% if report2.user_id == current_userd.id %>
                                        <td><%=@conf_trans.w_from_balance_before%></td>
                                        <td><%=@conf_trans.w_from_balance_after%></td>
                                        <% elsif  report2.user_id_to == current_userd.id%>
                                        <td><%=@conf_trans.w_to_balance_before%></td>
                                        <td><%=@conf_trans.w_to_balance_after%></td>
                                        <% end %>
                                        <td><%=report2.balance%></td>
                                        <td><%=@name.username%></td>
                                        <td><%=@uname.username%></td>
                                        <td><%=report2.ratio_company%></td>
                                        <td><%=report2.netbalance%></td>
                                        <% if report2.approve == 1 %>
                                        <td><%=" Approved "%></td>
                                        <% else %>
                                        <td><%=" Not Approved "%></td>
                                        <% end %>
                                        <td><%=@conf_trans.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>
                                        
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <% else %>
                                    <tr>
                                        
                                        <td></td>
                                        <td><%=report2.currency%></td>
                                        <td></td>
                                        <td></td>
                                        <td><%=report2.balance%></td>
                                        <td><%=@name.username%></td>
                                        <td><%=@uname.username%></td>
                                        <td><%=report2.ratio_company%></td>
                                        <td><%=report2.netbalance%></td>
                                        <% if report2.approve == 1 %>
                                        <td><%=" Approved "%></td>
                                        <% else %>
                                        <td><%=" Not Approved "%></td>
                                        <% end %>
                                        <td><%=report2.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>
                                        
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <% end %>
                                    <% end %>
                                    <% end %>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>