<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
                    <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
                        <div class="row row-default button-row">
                            <div class="col-md-5">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                   <%= t("Cart Charge")%>
                                </h4>
                            </div>
                            <%= form_tag  url_for(:controller => 'users_wallets_balances', :action => 'searchcartpost'), :method => 'post' do %>
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <div class="search-div radius-md bg-white b-boxshadow">
                                        <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder=<%= t("Search")%>>
                                        <button class="search-btn"><i class="icon ic-search-1"></i></button>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                                        <%= select_tag(:searchtime, options_for_select([[t('last hour'),'last hour'],[t('last day'),'last day'], [t('last week'),'last week'], [t('last month'),'last month'],[t('last year'),'last year']]),:include_blank => ' date', class: 'selectpicker' )  %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="mak-vis-scrl">
                        <div class="table-section content demo-x">
                            <div class="first-row text-black">
                                <table class="self-table">
                                    <tr>
                                        <td><%= t("Process ID")%></td>
                                        <td><%= t("To Wallet")%></td>
                                        <td><%= t("Payment Method")%></td>
                                        <td><%= t("Card Value")%></td>
                                        <td><%= t("Balance Before")%></td>
                                        <td><%= t("Balance After")%></td>
                                        <td><%= t("Process Time")%></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="self-table-content english-font content demo-y btm-bg-grd height-230">
                                <table class="self-table">
                                   <% if @cartdetails != nil %>
                                        <td><%=@cartdetails.transaction_id%></td>
                                        <td><%="USD"%></td>
                                        <td><%=@cartdetails.w_to_name%></td>
                                        <td><%=@cartdetails.value_from%></td>
                                        <td><%=@cartdetails.beforecharge%></td>
                                        <td><%=@cartdetails.w_to_balance_after%></td>
                                        <td><%=@cartdetails.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>
                                   <% else %>
                                    <% @cartreports.each do |report6| %>
                                    <% @charge_cart = Transaction.where("foreign_id = ? and controller = ?",report6.id,"carts/cartbalancetouser ").first %>
                                    <% if @charge_cart != nil%>
                                    <tr>
                                        
                                        <td><%=@charge_cart.transaction_id%></td>
                                        <td><%="USD"%></td>
                                        <td><%=@charge_cart.w_to_name%></td>
                                        <td><%=@charge_cart.value_from%></td>
                                        <td><%=@charge_cart.beforecharge%></td>
                                        <td><%=@charge_cart.w_to_balance_after%></td>
                                        <td><%=@charge_cart.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>
                                        
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <% else %>
                                    <tr>
                                        
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <% end %>
                                    <% end %>
                                    <% end %>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>