<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
                    <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
                        <div class="row row-default button-row">
                            <div class="col-md-5">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                   <%= t("Wallet Conversion Reports")%>
                                </h4>
                            </div>
                            <%= form_tag  url_for(:controller => 'users_wallets_balances', :action => 'searchposts'), :method => 'post' do %>
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <div class="search-div radius-md bg-white b-boxshadow">
                                        <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder="<%= t('Search') %>">
                                        <button type="submit" class="search-btn"><i class="icon ic-search-1"></i></button>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                                        <%= select_tag(:searchtime, options_for_select([[t('last hour'),1.hour.ago],[t('last day'), 1.day.ago], [t('last week'), 7.days.ago], [t('last month'),1.month.ago],[t('last year'),1.year.ago]]),:include_blank =>  t('Define the period') )  %>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs ppicker">
                                        <%= select_tag(:operationtyp, options_for_select([[t('Dollar Conversions'),'USD'],[t('Pound Conversions'),'EGP'], [t('Riyal Conversions'),'SAR']]),:include_blank => t('wallet'),  class: 'selectpicker' )   %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="mak-vis-scrl">
                        <div class="table-section content demo-x">
                            <div class="first-row text-black">
                                <table class="self-table">
                                    <tr>
                                        <td><%= t("Process ID")%></td>
                                        <td><%= t("From Wallet")%></td>
                                        <td><%= t("Balance Before")%></td>
                                        <td><%= t("Balance After")%></td>
                                        <td><%= t("converted Value")%></td>
                                        <td><%= t("To Wallet")%></td>
                                        <td><%= t("Balance Before")%></td>
                                        <td><%= t("Balance After")%></td>
                                        <td><%= t("Process Value")%></td>
                                        <td><%= t("Process Time")%></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="self-table-content english-font content demo-y btm-bg-grd height-230">
                                <table class="self-table">
                                <% if @walletreports != nil %>
                                <tr>
                                        <td><%= @walletreports.transaction_id %></td>
                                        <td><%=@walletreports.w_from_name %></td>
                                        <td><%=@walletreports.w_from_balance_before %></td>
                                        <td><%=@walletreports.w_from_balance_after %></td>
                                        <td><%=@walletreports.value_from %></td>
                                        <td><%=@walletreports.w_to_name %></td>
                                        <td><%=@walletreports.w_to_balance_before %></td>
                                        <td><%=@walletreports.w_to_balance_after %></td>
                                        <td><%=@walletreports.value_to %></td>
                                        <td><%=@walletreports.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <% else %>
                                    <% @reports.each do |report1| %>
                                    <tr>
                                        <td><%= report1.transaction_id %></td>
                                        <td><%=report1.w_from_name %></td>
                                        <td><%=report1.w_from_balance_before %></td>
                                        <td><%=report1.w_from_balance_after %></td>
                                        <td><%=report1.value_from %></td>
                                        <td><%=report1.w_to_name %></td>
                                        <td><%=report1.w_to_balance_before %></td>
                                        <td><%=report1.w_to_balance_after %></td>
                                        <td><%=report1.value_to %></td>
                                        <td><%=report1.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <% end %>
                                    <% end %>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>