<% content_for :title, t('Review Balance Transfer') %>
<% content_for :icon, 'wallet' %>
<%# form_for @users_wallets_balance,:url => url_for(:controller => 'users_wallets_balances', :action => '') , :html => { :multipart => true } do |f| %>


            

<% if @transfer.w_from_name == "USD" %>
<% @currency = t('balance IN Dolar')%>
<% elsif @transfer.w_from_name == "EGP" %>
<% @currency = t('balance IN Egp')%>
<% elsif @transfer.w_from_name == "SAR" %>
<% @currency = t('balance IN Rys')%>
<% end %>
<% if @transfer.w_to_name == "USD" %>
<% @currency2 = t('balance IN Dolar')%>
<% elsif @transfer.w_to_name == "EGP" %>
<% @currency2 = t('balance IN Egp')%>
<% elsif @transfer.w_to_name == "SAR" %>
<% @currency2 = t('balance IN Rys')%>
<% end %>



                <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                      <img src="<%= format_link(request) %>/assets
/imgs/trans-confirm.png" alt="trans-confirm">
                    </h3>
                    <div class="clearfix">
                        <div class="pull-right sm-f-width box-shadow-left">
                            <div class="page-title l-height-md mrg-bottom-md">
                                <div class="row row-default button-row">
                                    <div class="col-xs-12">
                                        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                         <%= t('Review Balance Transfer') %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="msg-alert alert box-size border-color-green hlf-btm bg-white padding-ver-xs clearfix">
                                <span class="ico icon ic-right text-green"></span>
                                <h5 class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm font-bold"><%= t('Successful replacement process') %></h5>
                                <p class="sm-md-fontsize text-dgray"><%= t('currency replacement process cannot be returned') %></p>
                                <span class="alert-close icon-Plus-white"></span>
                            </div>
                            <div class="btm-bg-grd">
                               <div class="content demo-y height-300 mrg-top-lg hlf-e-btm">
                                    <div class="selfscroll-section">
                                        <table class="table sm-md-fontsize">
                                            <tr>
                                                <td class="font-bold text-blue pad-left-xs"><%= t('From Wallet') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @currency %></td>
                                            </tr>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('To Wallet') %>:</td>
                                                <td class="font-weight-normal text-dgray"><%= @currency2 %></td>
                                            </tr>
                                            <tr>
                                                <td class="font-bold text-blue  pad-left-xs"> <%= t('User Identification') %>:</td>
                                                <% @user_iden = Userd.where("id = ?",current_userd.id).first%>
                                                <td class="font-weight-normal text-dgray"><%= @user_iden.username %></td>
                                            </tr>  
                                             <tr>
                                                    <td class="font-bold text-blue  pad-left-xs"></td>
                                                    <td class="font-weight-normal text-dgray"></td>
                                                </tr>

                                                <tr>
                                                        <td class="font-bold text-blue  pad-left-xs"></td>
                                                        <td class="font-weight-normal text-dgray"></td>
                                                    </tr>
                                         
                                            
                                        </table>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="pull-right box-shadow-right sm-f-width">
                            <div class="iblock mrg-left-lg mrg-bottom-md">
                                <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Transfered Balance') %></h5>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= @transfer.value_from %></p>
                                <p class="sm-md-fontsize text-dgray"><%= @currency %></p>
                            </div>
                            <div class="iblock mrg-bottom-md">
                                <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= t('Administrative expenses') %></h5>
                                <p class="md-sm-fontsize text-black english-font font-bold"><%= 0.00 %></p>
                                <p class="sm-md-fontsize text-dgray"><%= @currency %></p>
                            </div>
                            
                            
                            <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= t('The Total Amount') %></p>
                            <h1 class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
                                <%= @transfer.value_to.round(2) %>
                            </h1>
                            <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= @currency2 %></p>
                            <div class="mrg-top-md">
                                <a ticket_status = "<%= @transfer.ticket_opend %>" data-tran = "<%= @transfer.transaction_id %>" href="#" class="mrg-left-xs btn border-blue radius-md hover-bg-brand text-blue text-hover-white md-padding report_problem">
                                    <%= t('Report a problem') %>
                                </a>                                
                                
                            </div>
                        </div> 
                    </div>
                </section>

                <script>
                $(document).ready(function() {
              
                    $(".report_problem").click(function() {

                        var status = $(this).attr('ticket_status');
                        
                        if(status == 1){
        
                            var url = $(".ticket_disabled").attr('ticket_script');
        
                        $('#success-messege').text(url);
        
                        $('#success-popup').show();
        
                        } else {
                                
                        $('#freshdesk_trans_id').val($( this ).attr('data-tran'));
        
                        $('#user_ticket_data').show();
                        return false;
                        }
        
                            });
                                        })
        
                </script>
