<section class="section mrg-bottom-lg padding-hor-lg bg-white pad-top-lg pad-bottom-lg hlf-e-btm s-boxshadow radius-light">
                    <div class="page-title l-height-md mrg-bottom-lg hlf-e-btm">
                        <div class="row row-default button-row">
                            <div class="col-md-5">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                   <%= t("Withdraw Requests")%>
                                </h4>
                            </div>
                            <%= form_tag  url_for(:controller => 'users_wallets_balances', :action => 'withdrawsearchpost'), :method => 'post' do %>
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <div class="search-div radius-md bg-white b-boxshadow">
                                        <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder=<%= t("Search")%>>
                                        <button class="search-btn"><i class="icon ic-search-1"></i></button>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                                        <%= select_tag(:searchtime, options_for_select([[t('last hour'),'last hour'],[t('last day'),'last day'], [t('last week'),'last week'], [t('last month'),'last month'],[t('last year'),'last year']]),:include_blank => ' date', class: 'selectpicker' )  %>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs ppicker">
                                        <%= select_tag(:operationtyp, options_for_select([[t('Completed Request'),'Completed Request'],[t('UnCompleted Request'),'UnCompleted Request']]),:include_blank => t('Order Status'),  class: 'selectpicker' )   %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="mak-vis-scrl">
                        <div class="table-section content demo-x">
                            <div class="first-row text-black">
                                <table class="self-table">
                                    <tr>
                                        <td><%= t("Process ID")%></td>
                                        <td><%= t("From Wallet")%></td>
                                        <td><%= t("Payment Method")%></td>
                                        <td><%= t("net sum")%></td>
                                        <td><%= t("withdraw sum")%></td>
                                    
                                        <td><%= t("Balance Before")%></td>
                                        <td><%= t("Balance After")%></td>
                                        <td><%= t("Order Status")%></td>
                                        <td><%= t("Process Time")%></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="self-table-content english-font content demo-y btm-bg-grd height-230">
                                <table class="self-table">
                                    <% if @withdrawid != nil %>
                                    <% @report7 = BalancesWithdrawsStatus.where("id = ?",@withdrawid.foreign_id).first%>
                                    <% if @report7.status == 5 %>
                                     <% @req_status = t("approve withdraw") %>
                                     <% else %>
                                     <% @req_status = t("waiting withdraw") %>
                                     <% end %>

                                   <tr>
                                        
                                        <td><%=@withdrawid.transaction_id%></td>
                                        <td><%=@withdrawid.w_from_name%></td>
                                        <td><%=@withdrawid.w_to_name%></td>
                                        <td><%=@withdrawid.value_from%></td>
                                        <td><%=@withdrawid.value_to%></td>
                                        
                                        <td><%=@withdrawid.w_from_balance_before%></td>
                                        <td><%=@withdrawid.w_from_balance_after%></td>
                                        <td><%=@req_status%></td>
                                        <td><%=@withdrawid.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>
                                        
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <% else %>

                                    <% @withdrawreports.each do |report7| %>
                                    <% @controller_name = "balances_withdraws" %>
                                    <% @comp_withdraw = Transaction.where("foreign_id = :foreign_id AND (controller LIKE :search)",{  :foreign_id => report7.id   ,:search => "%#{@controller_name}%"}).first %>
                                     <% if report7.status == 5 %>
                                     <% @req_status = "Completed" %>
                                     <% else %>
                                     <% @req_status = "Not Completed" %>
                                     <% end %>
                                    <% if @comp_withdraw != nil%>
                                    <tr>
                                        
                                        <td><%=@comp_withdraw.transaction_id%></td>
                                        <td><%=@comp_withdraw.w_from_name%></td>
                                        <td><%=@comp_withdraw.w_to_name%></td>
                                        <td><%=@comp_withdraw.value_from%></td>
                                        <td><%=@comp_withdraw.value_to%></td>
                                        
                                        <td><%=@comp_withdraw.w_from_balance_before%></td>
                                        <td><%=@comp_withdraw.w_from_balance_after%></td>
                                        <td><%=@req_status%></td>
                                        <td><%=@comp_withdraw.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></td>
                                        
                                        <td>
                                            <div class="upd-column">
                                                <span class="three-dot">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <% end %>
                                    <% end %>
                                    <% end %>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                