<p id="notice"><%= notice %></p>

<h1>Listing Roles</h1>

									<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
		<td>
		<div class="visible-md visible-lg hidden-sm hidden-xs text-left padding-left-10">
			<%= link_to '<i class="fa fa-eye"></i>'.html_safe, role, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Show' } %>					
			<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_role_path(role), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
			<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, role, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Destroy'} %>
		</div>
		<div class="visible-xs visible-sm hidden-md hidden-lg text-left">
			<div class="btn-group dropdown ">
				<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right dropdown-light" role="menu">
					<li>
						<%= link_to 'Veiw'.html_safe, role %>
					</li>
					<li>
						<%= link_to 'Edit'.html_safe, edit_role_path(role) %>
					</li>
					<li>
						<%= link_to 'Remove'.html_safe, role, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
					</li>
				</ul>
			</div>
		</div>
		</td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('New Role')}</button>".html_safe, new_role_path , { :class=>'linktop' } %>

