<p id="notice"><%= notice %></p>
<div class="col-md-4">
	<ul class="list-group">
		<li class="list-group-item">
			<span class="badge"><%= @role.name %></span>
			Name
		</li>
		<li class="list-group-item">
			<span class="badge"><%= @role.caption %></span>
			Caption
		</li>
	</ul>
</div>	
												



<div class="col-md-12">
<%= t('Users')   %>
	<div class="table-rep-plugin">
	<div class="table-responsive" data-pattern="priority-columns">
		<table id="datatable" class="table  table-stylish">
			<thead>
				<tr>
				  <th><%= t('user name') %></th>
				  <th><%= t('email') %></th>

				  <th colspan='3'></th>

				</tr>
			</thead>

			<tbody>
			<% @users.each do |user| %>
			  <tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td>
				<div class="visible-md visible-lg hidden-sm hidden-xs text-left padding-left-10">
					<%= link_to '<i class="fa fa-eye"></i>'.html_safe, user, { :class=>'btn btn-transparent btn-xs tooltips', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Show' } %>					
					<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user), { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-placement' =>'top', 'title' =>'Edit'} %>
					<%= link_to '<i class="fa fa-times fa fa-white"></i>'.html_safe, user, { :class=>'btn btn-transparent btn-xs', 'data-toggle' => 'tooltip', 'data-confirm' => 'Are you sure you want to delete this ?', 'data-method' => 'delete', 'data-placement' =>'top', 'title' =>'Destroy'} %>
				</div>
				<div class="visible-xs visible-sm hidden-md hidden-lg text-left">
					<div class="btn-group dropdown ">
						<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right dropdown-light" role="menu">
							<li>
								<%= link_to 'Veiw'.html_safe, user %>
							</li>
							<li>
								<%= link_to 'Edit'.html_safe, edit_user_path(user) %>
							</li>
							<li>
								<%= link_to 'Remove'.html_safe, user, method: :delete, data: { confirm: 'Are you sure you want to delete this ?' } %>
							</li>
						</ul>
					</div>
				</div>
				</td>
			  </tr>
			<% end %>
			</tbody>
		</table>
	</div>
	</div>
</div>

<div class="col-md-12">
	<% if current_userd.role_id == 1  %>
	<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-pencil'></i> </span>#{t('Edit')}</button>".html_safe, edit_role_path(@role) , { :class=>'linktop' } %>
	<% end %>
	<%# link_to t('Back'), carts_path %>
	<%= link_to "<button type='button' class='btn btn-wide btn-primary'> #{t('Back')} <i class='fa fa-angle-left'></i></button>".html_safe, roles_path , { :class=>'linktop' } %>
</div>
