<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>Welcome to <%= @site_name %></h2>
<p>
 <%= @messag %> . <br/>
</p>
 
<p>Thanks for joining and have a great day!</p>
</body>
</html>