Add User Bank
<%= @greeting %>
payerz Address
Welcome
---------------------------------------------

UserBank Has Been Added

---------------------------------------------

(rest of file omitted)
Next we’ll write our HTML ve