@font-face {
    font-family: Font;
    src: url(../../src/assets/fonts/frutiger/bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Font;
    src: url(../../src/assets/fonts/frutiger/med.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Font;
    src: url(../../src/assets/fonts/frutiger/light.ttf);
    font-weight: lighter;
}
html{
  direction: rtl;
  width: 100vw;
  overflow-x: hidden;
}
