


<%     @result = EmailTemplate.get_template(@resource,'reset_password_instructions') %>
<!DOCTYPE html>
<html>
<head>
    <title>Email template</title>
    <style type="text/css">
        @font-face{
            font-family: "Arabic-font";
            src: url('<%= Rails.application.secrets.app_host %>/other/med.ttf') format("truetype");
            font-weight: 400;
            font-style: normal;
        }
        @font-face{
            font-family: "English-font";
            src: url('<%= Rails.application.secrets.app_host %>/other/Gotham-Medium.otf') format("opentype");
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>
<body style="margin:0px;padding: 0px;">
    <div style="background: -webkit-linear-gradient(left, #f2f4f7, #f7f8fa);background: -o-linear-gradient(right, #f2f4f7, #f7f8fa);background: -moz-linear-gradient(right, #f2f4f7, #f7f8fa);background: linear-gradient(to right, #f2f4f7, #f7f8fa);padding: 145px 15px;font-family: 'Arabic-font', sans-serif;">
        <div class="div-wrapper" style="max-width: 1052px;margin: auto;direction: rtl;">
            <table class="whole-cotent" style="border-collapse: collapse;background: #ffffff;border-radius: 15px;width: 100%;">
                <tr>
                    <td>
                        <table class="table-100" style="border-collapse: collapse;width: 100%;margin-bottom: 70px;">
                            <tr>
                                <td class="text-right logo-td" style="text-align: right;vertical-align: top;padding-right: 80px;">
                                    <a href="#" class="logo-a" style="width: 160px;background: #08c4ff;border-radius: 100px;display: inline-block;text-align: center;padding: 80px 0;margin-top: -80px;">
                                        <img src="<%= Rails.application.secrets.app_host %>/other/logo.png" alt="logo" class="logo-img" style="width: 75px;">
                                    </a>
                                </td>
                                <td class="number-table text-left" style="text-align: left;vertical-align: top;font-family: &quot;English-font&quot;;padding: 35px;font-size: 12px;font-weight: 700;color: #888888;line-height: 18px;">
                                    <%= Time.now %> <br>Payers System Automatic Email
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="text-right text-block" style="text-align: right;padding-right: 80px;padding-left: 15px;">
                        <!-- <h4 style="color: #3d4565;font-size: 30px;font-weight: 400;margin-top: 0px;margin-bottom: 20px;"><%# t('.greeting', recipient: @resource.username, default: "Welcome #{@resource.email}!") %></h4> -->
                        <h4 style="color: #3d4565;font-size: 30px;font-weight: 400;margin-top: 0px;margin-bottom: 20px;">  <%= @result[0].to_s  %> <%= @resource.username %> </h4>

                        <h4 style="color: #3d4565;font-size: 30px;font-weight: 400;margin-top: 0px;margin-bottom: 20px;"><%=  @content = @result[2].to_s %></h4>

                        <p style="font-size: 16px;font-weight: 400;color: #99a3b1;line-height: 36px;margin-top: 0px;margin-bottom: 20px;">
                                <%# t('.instruction', default: 'Someone has requested a link to change your password, and you can do this through the link below.') %>
                               <%#  @content = @result[2].to_s %>

                        </p>
                      
                        <%= link_to t('.action', default: 'Change my password'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale),{:style=>'padding: 0 30px;height: 45px;text-decoration: none;margin-left: 15px;margin-bottom:20px;border-radius: 45px;line-height: 45px;font-size: 14px;font-weight: 700;display: inline-block;background: #08c4ff;color: #ffffff;'} %>
                       
                        
                    </td>
                </tr>
                <tr>
                    <td class="custome-footer" style="width: 100%;border-top: 2px solid #efefef;">
                        <table class="cutome-table" style="border-collapse: collapse;width: 100%;">
                            <tr>
                                <td class="social-td" style="padding-right: 80px;">
                                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social1.png" alt="social"></a>
                                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social2.png" alt="social"></a>
                                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social3.png" alt="social"></a>
                                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social4.png" alt="social"></a>
                                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social5.png" alt="social"></a>
                                    <a href="https://www.facebook.com/PayersLTD" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social6.png" alt="social"></a>
                                    <a href="#" style="display: inline-block;margin-left: 20px;"><img src="<%= Rails.application.secrets.app_host %>/other/social7.png" alt="social"></a>
                                    <a href="#" style="display: inline-block;"><img src="<%= Rails.application.secrets.app_host %>/other/social8.png" alt="social"></a>
                                </td>
                                <td>
                                    <table class="footer-logo" style="border-collapse: collapse;width: 100%;margin: 30px 0;">
                                        <tr>
                                            <td class="footer-img-detail text-left" style="text-align: left;vertical-align: middle;padding-left: 10px;">
                                                <h5 style="font-size:18px;font-family:'English-font', sans-serif;color: #232323;margin: 0px;line-height: 28px;font-weight: 400;">Payers.net</h5>
                                                <p style="margin: 0px;font-size: 12px;color: #999999;font-family:'English-font', sans-serif;">Payers</p>
                                            </td>
                                            <td class="footer-img" style="vertical-align: middle;width: 60px;padding-left: 20px;">
                                                <img src="<%= Rails.application.secrets.app_host %>/other/logo-color.png" alt="logo-color" style="margin-top: 5px;">
                                            </td>
                                        </tr>
                                    </table>
                                </td>	
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p style="font-size: 13px;margin: 0px;padding: 15px 0;color: #999999;font-weight: 700;"><%= t('If You Recieve This Email By Mistake Please Inform Us From') %></p>
        </div>
    </div>
</body>
</html>





