<%= form_tag  downloads_path(format: "xls"), :method => 'post' do %>


  <%= hidden_field_tag :statustyp, params[:transactionsearch][:statustyp] %>
  
  <%= hidden_field_tag :searchtime, params[:transactionsearch][:searchtime] %>
  
  
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center">Download Xls </button>
</div>
  
<% end %>
<br>



<%= form_tag  downloads_path(format: "csv"), :method => 'post' do %>
  
  
    <%= hidden_field_tag :statustyp, params[:transactionsearch][:statustyp] %>
    
    <%= hidden_field_tag :searchtime, params[:transactionsearch][:searchtime] %>
    
    
      <div class="actions  text-center"> 
   
  <button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center">Download CSV </button>
  </div>
    
  <% end %>



<%# debug @posts%>
<%# debug params[:transactionsearch]%>



<p>
  Download:
  <%# link_to "CSV", downloads_path(format: "csv"),:method => :post %> |
  
  <%# link_to "CSV", downloads_path(format: "csv"),:method => :post %> |
  <%# link_to "Excel", downloads_path(format: "xls") %>
</p>