<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="buy cart transactions">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"> Transaction ID</Data></Cell>
        <Cell><Data ss:Type="String"> Foreign ID</Data></Cell>
        <Cell><Data ss:Type="String">Cart Value</Data></Cell>
        <Cell><Data ss:Type="String">Payment Method</Data></Cell>
        <Cell><Data ss:Type="String">Details</Data></Cell>
        <Cell><Data ss:Type="String">Created_at</Data></Cell>
      </Row>
    <%= @posts.each do |posts| %>
       <% if posts.controller == "onlinebanks/paypalconfirm "  %>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.transaction_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.foreign_id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_from %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_to_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.created_at %></Data></Cell>
      </Row>
    <% end %>
    <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="add balance from cart">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"> Transaction ID</Data></Cell>
        <Cell><Data ss:Type="String"> Foreign ID</Data></Cell>
        <Cell><Data ss:Type="String"> Cart Value</Data></Cell>
        <Cell><Data ss:Type="String">Payment Method</Data></Cell>
        <Cell><Data ss:Type="String"> Balance Before Charge</Data></Cell>
        <Cell><Data ss:Type="String">Balance After Charge</Data></Cell>        
        <Cell><Data ss:Type="String">Details</Data></Cell>
        <Cell><Data ss:Type="String">Created_at</Data></Cell>
      </Row>
    <% @posts.each do |posts| %>
    <% if posts.controller == "carts/cartbalancetouser " %>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.transaction_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.foreign_id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_from %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_to_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.beforecharge %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_after %></Data></Cell>        
        <Cell><Data ss:Type="String"><%= posts.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.created_at %></Data></Cell>
      </Row>
    <% end %>
    <% end %>
    </Table>
  </Worksheet>


  <Worksheet ss:Name="Wallets Balance Conversions ">
    <Table>
      <Row>
        <<Cell><Data ss:Type="String"> Transaction ID</Data></Cell>
        <Cell><Data ss:Type="String"> Transfered Value</Data></Cell>
        <Cell><Data ss:Type="String"> From Wallet</Data></Cell>
        <Cell><Data ss:Type="String"> Wallet Balance Before Conversions</Data></Cell>
        <Cell><Data ss:Type="String">Wallet Balance After Conversions</Data></Cell>
        <Cell><Data ss:Type="String">Converted Value</Data></Cell>
        <Cell><Data ss:Type="String">To Wallet</Data></Cell>
        <Cell><Data ss:Type="String">Wallet Balance Before Delivery</Data></Cell>
        <Cell><Data ss:Type="String">Wallet Balance After Delivery</Data></Cell>
        <Cell><Data ss:Type="String">Details</Data></Cell>
        <Cell><Data ss:Type="String">Created_at</Data></Cell>
      </Row>
    <%= @posts.each do |posts| %>
       <% if posts.controller == "users_wallets_balances/walletstransferpost"  %>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.transaction_id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_from %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_from_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_after %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_to %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_to_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_after %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.created_at %></Data></Cell>
      </Row>
    <% end %>
    <% end %>
    </Table>
  </Worksheet>

  <% if current_userd.role_id == 1 %>
  <Worksheet ss:Name="Conversions Between Users ">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"> Transaction ID</Data></Cell>
        <Cell><Data ss:Type="String"> Foreign ID</Data></Cell>
        <Cell><Data ss:Type="String">From User</Data></Cell>
        <Cell><Data ss:Type="String">To User</Data></Cell>
        <Cell><Data ss:Type="String"> Transfered Value</Data></Cell>
        <Cell><Data ss:Type="String"> From Wallet</Data></Cell>
        <Cell><Data ss:Type="String"> Wallet Ballance Before Conversions</Data></Cell>
        <Cell><Data ss:Type="String">Wallet Ballance After Conversions</Data></Cell>
        <Cell><Data ss:Type="String">Converted Value</Data></Cell>
        <Cell><Data ss:Type="String">To Wallet</Data></Cell>
        <Cell><Data ss:Type="String"> Wallet Ballance Before Delivery</Data></Cell>
        <Cell><Data ss:Type="String">Wallet Ballance After Delivery</Data></Cell>
        <Cell><Data ss:Type="String">Conversion Status</Data></Cell>
        <Cell><Data ss:Type="String">Details</Data></Cell>
        <Cell><Data ss:Type="String">Created_at</Data></Cell>
      </Row>
    <%= @posts.each do |posts| %>
    <% @uid = Userd.where("id =?",posts.user_id).first%>
    <% @uidto = Userd.where("id =?",posts.user_id_to).first%>
    <% @status = UsersWalletsBalancesFrozen.where("id =?",posts.foreign_id).first%>
       <% if posts.controller == "users_wallets_ballences_frozens/create" or posts.controller == "users_wallets_ballences_frozens/approvedbalance"%>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.transaction_id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.foreign_id %></Data></Cell>
        <%if @uid != nil %>
        <Cell><Data ss:Type="String"><%= @uid.name %></Data></Cell>
        <% else%>
        <Cell><Data ss:Type="String"><%= " " %></Data></Cell>
        <% end %>
        <%if @uidto != nil %>
        <Cell><Data ss:Type="String"><%= @uidto.name %></Data></Cell>
        <% else%>
        <Cell><Data ss:Type="String"><%= " " %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="Number"><%= posts.value_from %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_from_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_after %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_to %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_to_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_after %></Data></Cell>
        <%if @status != nil %>
        <% if @status.approve == 1%>
        <Cell><Data ss:Type="String"><%= " completed " %></Data></Cell>
        <% else%>
        <Cell><Data ss:Type="String"><%= " Frozen " %></Data></Cell>
        <% end %>
        <% else%>
        <Cell><Data ss:Type="String"><%= " " %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= posts.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.created_at %></Data></Cell>
      </Row>
    <% end %>
    <% end %>
    </Table>
  </Worksheet>


  <% else %>
  <Worksheet ss:Name="Conversions To Users ">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"> Transaction ID</Data></Cell>
        <Cell><Data ss:Type="String"> Foreign ID</Data></Cell>
        <Cell><Data ss:Type="String">To User</Data></Cell>
        <Cell><Data ss:Type="String"> Transfered Value</Data></Cell>
        <Cell><Data ss:Type="String"> From Wallet</Data></Cell>
        <Cell><Data ss:Type="String"> Wallet Ballance Before Conversions</Data></Cell>
        <Cell><Data ss:Type="String">Wallet Ballance After Conversions</Data></Cell>
        <Cell><Data ss:Type="String">Converted Value</Data></Cell>
        <Cell><Data ss:Type="String">To Wallet</Data></Cell>
        <Cell><Data ss:Type="String">Conversion Status</Data></Cell>
        <Cell><Data ss:Type="String">Details</Data></Cell>
        <Cell><Data ss:Type="String">Created_at</Data></Cell>
      </Row>
    <%= @posts.each do |posts| %>
    <% @uidto = Userd.where("id =?",posts.user_id_to).first%>
    <% @status = UsersWalletsBalancesFrozen.where("id =?",posts.foreign_id).first%>
       <% if posts.controller == "users_wallets_ballences_frozens" and posts.user_id == current_userd.id  %>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.transaction_id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.foreign_id %></Data></Cell>
        <%if @uidto != nil %>
        <Cell><Data ss:Type="String"><%= @uidto.name %></Data></Cell>
        <% else%>
        <Cell><Data ss:Type="String"><%= " " %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="Number"><%= posts.value_from %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_from_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_after %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_to %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_to_name %></Data></Cell>
        <%if @status != nil %>
        <% if @status.approve == 1%>
        <Cell><Data ss:Type="String"><%= " completed " %></Data></Cell>
        <% else%>
        <Cell><Data ss:Type="String"><%= " Frozen " %></Data></Cell>
        <% end %>
        <% else%>
        <Cell><Data ss:Type="String"><%= " " %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= posts.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.created_at %></Data></Cell>
      </Row>
    <% end %>
    <% end %>
    </Table>
  </Worksheet>

  <Worksheet ss:Name="Conversions From Users ">
    <Table>
      <Row>
        <<Cell><Data ss:Type="String"> Transaction ID</Data></Cell>
        <Cell><Data ss:Type="String"> Foreign ID</Data></Cell>
        <Cell><Data ss:Type="String">From User</Data></Cell>
        <Cell><Data ss:Type="String"> Transfered Value</Data></Cell>
        <Cell><Data ss:Type="String"> From Wallet</Data></Cell>
        <Cell><Data ss:Type="String">Delivered Value</Data></Cell>
        <Cell><Data ss:Type="String"> Wallet Balance Before Conversions</Data></Cell>
        <Cell><Data ss:Type="String">Wallet Balance After Conversions</Data></Cell>
        
        <Cell><Data ss:Type="String">Conversion Status</Data></Cell>
        <Cell><Data ss:Type="String">Details</Data></Cell>
        <Cell><Data ss:Type="String">Created_at</Data></Cell>
      </Row>
    <%= @posts.each do |posts| %>
    <% @uid = Userd.where("id =?",posts.user_id).first%>
    <% @status = UsersWalletsBalancesFrozen.where("id =?",posts.foreign_id).first%>
       <% if posts.controller == "users_wallets_ballences_frozens/create" and posts.user_id_to == current_userd.id  %>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.transaction_id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.foreign_id %></Data></Cell>
        <%if @uidto != nil %>
        <Cell><Data ss:Type="String"><%= @uid.name %></Data></Cell>
        <% else%>
        <Cell><Data ss:Type="String"><%= " " %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="Number"><%= posts.value_from %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_from_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_to %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_after %></Data></Cell>        
        <%if @status != nil %>
        <% if @status.approve == 1%>
        <Cell><Data ss:Type="String"><%= " completed " %></Data></Cell>
        <% else%>
        <Cell><Data ss:Type="String"><%= " Frozen " %></Data></Cell>
        <% end %>
        <% else%>
        <Cell><Data ss:Type="String"><%= " " %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= posts.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.created_at %></Data></Cell>
      </Row>
    <% end %>
    <% end %>
    </Table>
  </Worksheet>
    <% end%>

  <Worksheet ss:Name="Balance Withdraw Requests ">
    <Table>
      <Row>
        <<Cell><Data ss:Type="String"> Transaction ID</Data></Cell>
        <Cell><Data ss:Type="String"> Foreign ID</Data></Cell>
        <Cell><Data ss:Type="String"> Bank Name</Data></Cell>
        <Cell><Data ss:Type="String"> Requested Value</Data></Cell>
        <Cell><Data ss:Type="String"> From Wallet</Data></Cell>
        <Cell><Data ss:Type="String">Net Value</Data></Cell>
        <Cell><Data ss:Type="String"> Wallet Balance Before Conversions</Data></Cell>
        <Cell><Data ss:Type="String">Wallet Balance After Conversions</Data></Cell>        
        <Cell><Data ss:Type="String">Details</Data></Cell>
        <Cell><Data ss:Type="String">Created_at</Data></Cell>
      </Row>
    <%= @posts.each do |posts| %>
       <% if posts.controller == "balances_withdraws/save_western_gram"  %>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.transaction_id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.foreign_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_to_name %></Data></Cell>    
        <Cell><Data ss:Type="Number"><%= posts.value_from %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_from_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_to %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_after %></Data></Cell>        
        <Cell><Data ss:Type="String"><%= posts.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.created_at %></Data></Cell>
      </Row>
    <% end %>
    <% end %>
    </Table>
  </Worksheet>

  </Workbook>