<%= form_tag  url_for(:controller => 'transactions', :action => 'downloadpost'), :method => 'post' do %>

<div class="field">
  <%= select_tag(:statustyp, options_for_select([['inner_transactions'],['outer_transactions']],:selected => params[:option]),:required => true,  class: 'form-control' )   %>
  </div>

  <br>
  <div class="field">
  <%= select_tag(:searchtime, options_for_select([['last hour'],['last day'], ['last week'], ['last month'],['last year']],:selected => params[:option]), :required => true,  class: 'form-control' )   %>
  </div>
  
	<br>
  
    <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Search') %> </button>
</div>
  
<% end %>



<!-- 
<p>
  Download:
  <%# link_to "CSV", downloads_path(format: "csv"),:method => :post %> |
  <%# link_to "Excel", downloads_path(format: "xls"),:method => :post %>
</p> -->