
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
        <%# @posts=params[:posts] %>

    <Table>
      <Row>
        <Cell><Data ss:Type="String"> Transaction ID</Data></Cell>
        <Cell><Data ss:Type="String">from</Data></Cell>
        <Cell><Data ss:Type="String">to</Data></Cell>
        <Cell><Data ss:Type="String">value_from</Data></Cell>
        <Cell><Data ss:Type="String">w_from_name</Data></Cell>
        <Cell><Data ss:Type="String"> w_from_balance_before</Data></Cell>
        <Cell><Data ss:Type="String">w_from_balance_after</Data></Cell>
        <Cell><Data ss:Type="String">value_to</Data></Cell>
        <Cell><Data ss:Type="String">w_to_name</Data></Cell>
        <Cell><Data ss:Type="String">w_to_balance_before</Data></Cell>
        <Cell><Data ss:Type="String">w_to_balance_after</Data></Cell>
        <Cell><Data ss:Type="String">beforecharge</Data></Cell>
        <Cell><Data ss:Type="String">description</Data></Cell>
        <Cell><Data ss:Type="String">created_at</Data></Cell>
      </Row>
    <% @posts.each do |posts| %>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.transaction_id %></Data></Cell>
        <% @uid = Userd.where("id =?",posts.user_id).first%>
        <% @uidto = Userd.where("id =?",posts.user_id_to).first%>
        <Cell><Data ss:Type="String"><%= @uid.name %></Data></Cell>
        <%if @uidto != nil %>
        <Cell><Data ss:Type="String"><%= @uidto.name %></Data></Cell>
        <% else%>
        <Cell><Data ss:Type="String"><%= " " %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="Number"><%= posts.value_from %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_from_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_from_balance_after %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.value_to %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.w_to_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_before %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.w_to_balance_after %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.beforecharge %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= posts.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>