

                <%# debug (@link ) %>
<% content_for :title, t('Balance Operations') %>
<% content_for :icon, 'dollor' %>
            <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
            <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                <i class="ico icon-dollor"></i>
            </h3>
            <div class="page-title l-height-md mrg-bottom-md">
                <div class="row row-default button-row">
                    <div class="col-md-3">
                        <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">

                       <%= t('Balance Operations') %>
                     
                        </h4>
                    </div>
                    <%= form_tag  url_for(:controller => 'transactions', :action => 'searchpost') do %>

                            <div class="col-md-8">
                                <div class="clearfix">
                                    <div class="search-div radius-md bg-white b-boxshadow">
                                        <input type="text" id="transid" name="search" class="text-dgray sm-md-fontsize" placeholder="<%= t('Search') %>" >
                                        <a href="" id="linkto" class="search-btn"><i class="icon ic-search-1"></i></a>
                                        
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                                        <%= select_tag(:searchtime,options_for_select([[t('last hour'),'lasthour'],[t('last day'),'lastday'], [t('last week'),'lastweek'], [t('last month'),'lastmonth'],[t('last year'),'lastyear']]),:include_blank => ' date', id: 'searchtime' )  %>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs ppicker">
                                        <%= select_tag(:operationtyp, options_for_select([[t('Buy Cart'),'onlinebanks'],[t('Cart Charge'),'carts'], [t('approved transfers'),'approved_transfers'],[t('notapproved transfers'),'notapproved_transfers'],[t('Refunded Balance Transfer'),'refunded_requests'], [t('Delivered Balance'),'users_wallets_ballences_frozens/approvedbalance'], [t('Frozen Balance'),'users_wallets_ballences_frozens/create'],[t('Balance Delivered Refunded'),'refunded_delivered'], [t('Balance Transfer Between Wallets'),'users_wallets_balances/walletstransferpost'],[t('Withdraw Requests'),'balances_withdraws']]),:include_blank => ' operation type',id: 'operationtyp' )   %>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <% end %>
            <% if @ticketss != nil %>
<% if @ticketss.w_from_name == "USD" %>
<% @currency = t('balance IN Dolar')%>
<% elsif @ticketss.w_from_name == "EGP" %>
<% @currency = t('balance IN Egp')%>
<% elsif @ticketss.w_from_name == "SAR" %>
<% @currency = t('balance IN Rys')%>
<% end %>
<% @username = Userd.find_by_id(@ticketss.user_id)%>
<% @usertoname = Userd.find_by_id(@ticketss.user_id_to)%>
<% @controller = @ticketss.controller.to_s.split('/') %>
                <div class="listing-section listing-section2">

        <!-- in case of search with transaction id that doesnot need loop -->
        <div class="row row-sm">                                       
            <div class="col-md-6 col-sm-6 padding-hor-sm">
                      
                <div class="listing-div hover-b-boxshadow tck-name">
                    <h4 class="icon-section">
                        <img src="<%= format_link(request) %>/assets/imgs/user-notification.png" alt="usr" class="imagecover">
                </h4>
                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                            <% if @ticketss.controller == "users_wallets_ballences_frozens/create" and @ticketss.user_id == current_userd.id %>
                            <%= t("balance was transferred with value of") + " " + @ticketss.value_from.to_s + " "+@ticketss.w_from_name + " " + t("to the user") + " "+ @usertoname.username %>
                            <% elsif @ticketss.controller == "users_wallets_ballences_frozens/create" and @ticketss.user_id_to == current_userd.id %>
                            <%= t("you have recieved") + " " + @ticketss.value_to.to_s + " "+ @ticketss.w_from_name + " " + t("From User") + " " +  @username.username %>
                            <% elsif @ticketss.controller == "users_wallets_ballences_frozens/approvedbalance" and @ticketss.user_id == current_userd.id %>
                            <%= t("Balance Delivered") + " " + @ticketss.value_from.to_s + " "+ @ticketss.w_from_name + " "+ t("to the user") + " " +  @usertoname.username %>
                            <% elsif @ticketss.controller == "users_wallets_ballences_frozens/approvedbalance" and @ticketss.user_id_to == current_userd.id %>
                            <%= t("Balance Delivered") + " " + @ticketss.value_to.to_s + " "+ @ticketss.w_from_name + " " + t("From User") + " " +  @username.username %>
                            <% elsif @ticketss.controller == "users_wallets_ballences_frozens/deleteOperation" and @ticketss.user_id == current_userd.id %>
                            <%= t("balance refunded") + " " + @ticketss.value_from.to_s + " "+ @ticketss.w_from_name + " " + t("to the user") + " " +  @usertoname.username %>
                            <% elsif @ticketss.controller == "users_wallets_ballences_frozens/deleteOperation" and @ticketss.user_id_to == current_userd.id %>
                            <%= t("balance refunded") + " " + @ticketss.value_to.to_s + " "+ @ticketss.w_from_name  + " " + t("From User") + " " +  @username.username %>
                            <% elsif ( @controller[0] == "Onlinebanks") %>
                            <% @withdraw = @ticketss.description.to_s.split('/') %>
                            <%= t(@withdraw[0]) + ' ' + t('number') + ' ' + @withdraw[1]+' '+t(@withdraw[2]) + ' '+@withdraw[3].to_s %>
                            <% elsif (@controller[0] == "balances_withdraws" ) %>
                            <% @withdraw = @ticketss.description.to_s.split('/') %>
                            <%= t(@withdraw[0]) + ' '+@withdraw[1]+' '+t(@withdraw[2]) + ' '+@withdraw[3].to_s %>
                            <% elsif @ticketss.controller == "users_wallets_balances/walletstransferpost"  %>
                            <% @testt = @ticketss.description.to_s.split('/') %>
                            <%= t(@testt[0]) + ' '+@testt[1]+' '+t(@testt[2]) + ' '+@testt[3].to_s+ ' '+t(@testt[4])+' '+@testt[5].to_s %>
                            <% elsif @ticketss.controller == "carts/cartbalancetouser " or @controller[0]== "onlinebanks" or @controller[0] == "carts" or transaction.controller == "users_wallets_balances/admin_wallet_edit_post"%>
                            <% @testt = @ticketss.description.to_s.split('/') %>
                            <%= t(@testt[0]) + ' '+@testt[1] %>
                            <% else %>
                            <%= @ticketss.description %>
                            <% end %>
                
                </h5>
                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                    <i class="ico icon-calendar"></i><%= @ticketss.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                </p>
                    <div class="do-small-action">
                            <div class="dosm-visi text-left pointer">
                                <span class="iblock bg-gray radius-crlc"></span>
                                <span class="iblock bg-gray radius-crlc"></span>
                                <span class="iblock bg-gray radius-crlc"></span>
                            </div>
                            <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                <ul class="dosmall-action-ul">
                                    <li><a  href="/help_center"><%= t('Report a problem')%></a></li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                    </li>
                                    <% @test = @ticketss.controller %>

                                    <% if (@test1 || @test.to_s.split('/')[0] == "onlinebanks") %>

                                    <li><a id="cart_details" href=<%= "/cartgen/" + @ticketss.foreign_id.to_s %>><%= t('Show details')%></a>
                                    </li>
                                        <% elsif (@test == "carts/cartbalancetouser")  %>
                                    <li><a  href=<%= "/addbalance_show/" + @ticketss.id.to_s %>><%= t('Show details')%></a>
                                    </li>
                                    <% elsif (@test1 || @test.to_s.split('/')[0] == "users_wallets_ballences_frozens")  %>
                                    <li><a  href=<%= "/users_wallets_balances_frozens/" + @ticketss.foreign_id.to_s %>><%= t('Show details')%></a>
                                    </li>
                                    <% elsif (@test1 || @test.to_s.split('/')[0] == "balances_withdraws")  %>
                                    <li><a  href=<%= "/balances_withdraws/" + @ticketss.foreign_id.to_s %>><%= t('Show details')%></a>
                                    </li>
                                    <% elsif @test == "users_wallets_balances/walletstransferpost" %>
                                    <li><a  href=<%= "/showtransfer/" + @ticketss.id.to_s %>><%= t('Show details')%></a>
                                    </li>
                                    <% elsif @test == "users_wallets_balances/admin_wallet_edit_post" %>
                                    <li><a  href=<%= "/edit_balance/" + @ticketss.id.to_s %>><%= t('Show details')%></a>
                                    </li>
                                    <% else %>
                                    <li><a href="#"><%= t('Show details')%></a>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                            
                        </div>
                    </div>
                </div>
            </div>

             <% else %>
              <% if @froz_bal != nil %>
                <div class="listing-section listing-section2">
              <div class="content demo-y btm-bg-grd max-before height-490">
                <div class="row row-sm">
                <% @froz_bal.each do |frozen| %>
<% if frozen.w_from_name == "USD" %>
<% @currency = t('balance IN Dolar')%>
<% elsif frozen.w_from_name == "EGP" %>
<% @currency = t('balance IN Egp')%>
<% elsif frozen.w_from_name == "SAR" %>
<% @currency = t('balance IN Rys')%>
<% end %>
<% @username = Userd.find_by_id(frozen.user_id)%>
<% @usertoname = Userd.find_by_id(frozen.user_id_to)%>
                <% @is_frozen = UsersWalletsBalancesFrozen.where("id = ?" ,frozen.foreign_id).first %>
                    <% if @is_frozen.approve == 0 and @is_frozen.deleted == 0  %>
                    <div class="col-md-6 col-sm-6">
                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                
                           <%= t("you have recieved") + " " + frozen.value_to.to_s + " "+ frozen.w_from_name + " " + t("From User") + " " +  @username.username %>
                            
                            </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= frozen.created_at %>
                            </p>
                             <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <li><a ticket_status = "<%= frozen.ticket_opend %>" data-trans_id = "<%= frozen.transaction_id %>" class = "report_ticket" href="#"><%= t('Report a problem')%></a></li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                </li>
                                                <% @test = frozen.controller %>
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + frozen.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            
                        </div>
                    </div>
                    <% end %>
                    <% end %>                  
                </div>
            </div>
            </div>
              <% elsif @deliv_bal != nil %>
                <div class="listing-section listing-section2">
              <div class="content demo-y btm-bg-grd max-before height-490">
                <div class="row row-sm">
                <% @deliv_bal.each do |frozen| %>
<% if frozen.w_from_name == "USD" %>
<% @currency = t('balance IN Dolar')%>
<% elsif frozen.w_from_name == "EGP" %>
<% @currency = t('balance IN Egp')%>
<% elsif frozen.w_from_name == "SAR" %>
<% @currency = t('balance IN Rys')%>
<% end %>
<% @username = Userd.find_by_id(frozen.user_id)%>
<% @usertoname = Userd.find_by_id(frozen.user_id_to)%>
                <% @is_delivered = UsersWalletsBalancesFrozen.where("id = ?" ,frozen.foreign_id).first %>
                    <% if @is_delivered != nil and @is_delivered.approve == 1 and @is_delivered.deleted == 0 %>
                    <div class="col-md-6 col-sm-6">
                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                
                           <%= t("Balance Delivered") + " " + frozen.value_to.to_s + " "+ frozen.w_from_name + " "+ t("From User") + " " +  @username.username %>
                            
                            </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= frozen.created_at %>
                            </p>
                             <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <li><a ticket_status = "<%= frozen.ticket_opend %>" data-trans_id = "<%= frozen.transaction_id %>" class = "report_ticket" href="#"><%= t('Report a problem')%></a></li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                </li>
                                                <% @test = frozen.controller %>
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + frozen.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                </div>
            </div>
            </div>


            <% elsif @refun_bal != nil %>
                <div class="listing-section listing-section2">
              <div class="content demo-y btm-bg-grd max-before height-490">
                <div class="row row-sm">
                <% @refun_bal.each do |refund| %>
<% if refund.w_from_name == "USD" %>
<% @currency = t('balance IN Dolar')%>
<% elsif refund.w_from_name == "EGP" %>
<% @currency = t('balance IN Egp')%>
<% elsif refund.w_from_name == "SAR" %>
<% @currency = t('balance IN Rys')%>
<% end %>
<% @username = Userd.find_by_id(refund.user_id)%>
<% @usertoname = Userd.find_by_id(refund.user_id_to)%>
                <% @is_refunded = UsersWalletsBalancesFrozen.where("id = ?" ,refund.foreign_id).first %>
                    <% if @is_refunded != nil and  @is_refunded.deleted != 0 %>
                    <div class="col-md-6 col-sm-6">
                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">

                           <%= t("balance refunded") + " " + refund.value_to.to_s + " "+ refund.w_from_name  + " " + t("From User") + " " +  @username.username %>  
                            </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= refund.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                            </p>
                             <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <li><a ticket_status = "<%= refund.ticket_opend %>" data-trans_id = "<%= refund.transaction_id %>" class = "report_ticket" href="#"><%= t('Report a problem')%></a></li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                </li>
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + refund.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            
                        </div>
                    </div>
                    <% end %>
                    <% end %>                   
                </div>
            </div>
            </div>
                
            <% elsif @tickets != nil %>
            
            <div class="listing-section listing-section2">
              <div class="content demo-y btm-bg-grd max-before height-490">
                <div class="row row-sm">
                <% @tickets.each do |ticket| %>
<% if ticket.w_from_name == "USD" %>
<% @currency = t('balance IN Dolar')%>
<% elsif ticket.w_from_name == "EGP" %>
<% @currency = t('balance IN Egp')%>
<% elsif ticket.w_from_name == "SAR" %>
<% @currency = t('balance IN Rys')%>
<% end %>
<% @username = Userd.find_by_id(ticket.user_id)%>
<% @usertoname = Userd.find_by_id(ticket.user_id_to)%> 
                 <% if ticket.controller == "users_wallets_ballences_frozens/create" %>
                 <% @notapproved = UsersWalletsBalancesFrozen.where("id = ?" ,ticket.foreign_id).first %>
                    <% if @notapproved != nil and @notapproved.approve == 0 and @notapproved.deleted == 0  %>
                    <div class="col-md-6 col-sm-6">                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">

                           <%= t("balance was transferred with value of")+ " " + ticket.value_from.to_s + " "+ticket.w_from_name + " " + t("to the user") + " " +  @usertoname.username %> 
                            </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= ticket.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                            </p>
                             <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <li><a ticket_status = "<%= ticket.ticket_opend %>" data_trans_id = "<%= ticket.transaction_id %>" class = "report_ticket" href="#"><%= t('Report a problem')%></a></li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                </li>
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + ticket.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            
                        </div>
                    </div>
                    <% end %>
                    <% elsif ticket.controller == "users_wallets_ballences_frozens/approvedbalance"%>
                 <% @approved = UsersWalletsBalancesFrozen.where("id = ?" ,ticket.foreign_id).first %>
                    <% if @approved != nil and  @approved.approve == 1 and @approved.deleted == 0  %>
                    <div class="col-md-6 col-sm-6">                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">

                           <%= t("Balance Delivered") + " " + ticket.value_from.to_s + " "+ ticket.w_from_name + " " + t("to the user") + " " +  @usertoname.username %> 
                            </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= ticket.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                            </p>
                             <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <li><a ticket_status = "<%= ticket.ticket_opend %>" data-trans_id = "<%= ticket.transaction_id %>" class = "report_ticket" href="#"><%= t('Report a problem')%></a></li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                </li>                                 
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + ticket.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                            
                        </div>
                    </div>
                    <% end %>
                    <% elsif ticket.controller == "users_wallets_ballences_frozens/deleteOperation"%>
                 <% @refund = UsersWalletsBalancesFrozen.where("id = ?" ,ticket.foreign_id).first %>
                    <% if @refund.deleted != 0  %>
                    <div class="col-md-6 col-sm-6">                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">

                           <%= t("balance refunded") + " " + ticket.value_from.to_s + " "+ ticket.w_from_name + " " + t("to the user") + " " +  @usertoname.username %>
                            </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= ticket.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>
                            </p>
                             <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <li><a ticket_status = "<%= ticket.ticket_opend %>" data-trans_id = "<%= ticket.transaction_id %>" class = "report_ticket" href="#"><%= t('Report a problem')%></a></li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                </li>
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + ticket.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                            
                        </div>
                    </div>
                    <% end %>
                    <% else %>
                    <div class="col-md-6 col-sm-6">                    
                 <% @controller = ticket.controller.to_s.split('/') %>
                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="<%= format_link(request) %>/assets
/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                    <% if (@controller[0] == "balances_withdraws" or @controller[0] == "Onlinebanks") %>
                    <% @withdraw = ticket.description.to_s.split('/') %>
                                        <%= t(@withdraw[0]) + ' '+@withdraw[1]+' '+t(@withdraw[2]) + ' '+@withdraw[3].to_s %>
                                        <%# t("withdraw request") + " " + ticket.value_from.to_s + " "+ ticket.w_from_name  + " " + t("Transaction ID") + " " +  ticket.transaction_id %>
                    <% elsif ticket.controller == "users_wallets_balances/walletstransferpost"  %>
                                        <% @testt = ticket.description.to_s.split('/') %>
                    <%= t(@testt[0]) + ' '+@testt[1]+' '+t(@testt[2]) + ' '+@testt[3].to_s+ ' '+t(@testt[4])+' '+@testt[5].to_s %>
                    <% elsif ticket.controller == "carts/cartbalancetouser " or ticket.controller.to_s.split('/')[0] == "onlinebanks" or @controller[0] == "carts" %>
                                        <% @testt = ticket.description.to_s.split('/') %>
                                        <%= t(@testt[0]) + ' '+@testt[1] %>

                    <% else %>
                                     <%= ticket.description %>
                    <% end %>
                    </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= ticket.created_at %>
                            </p>
                             <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <li><a ticket_status = "<%= ticket.ticket_opend %>" data-trans_id = "<%= ticket.transaction_id %>" class = "report_ticket" href="#"><%= t('Report a problem')%></a></li>
                                                        <!-- <li><a href="#"><%# t('Download bill')%></a> -->
                                                </li>
                                                <% @test = ticket.controller %>
                                                <% if (@test1 == "carts/cartbalancetouser")  %>
                                                <li><a  href=<%= "/addbalance_show/" + ticket.id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@controller[0] == "carts") %>
                                                
                                                <li><a id="cart_details" href=<%= "/cartgen/" + ticket.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@controller[0] == "Onlinebanks")  %>
                                                <li><a  href=<%= "/onlinebanks/" + ticket.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                
                                                <% elsif (@controller[0] == "users_wallets_ballences_frozens")  %>
                                                <li><a  href=<%= "/users_wallets_balances_frozens/" + ticket.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@controller[0] == "balances_withdraws")  %>
                                                <li><a  href=<%= "/balances_withdraws/" + ticket.foreign_id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% elsif (@test == "users_wallets_balances/walletstransferpost") %>
                                                <li><a  href=<%= "/showtransfer/" + ticket.id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% else %>
                                                <li><a href="#"><%= t('Show details')%></a>
                                                </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                            
                        </div>
                    </div>
                    <% end %>
                   <% end %>
                </div>
            </div>
            </div>
            <% end %>
            <% end %>
            
        </section>
        <div id="data" >
           
        </div>


 <script>
                $(document).ready(function(){
                    
                $("#cart_details").click(function()
                {
                                    

               
              // $("#cart-balance").show();
               var id =  $("#cart_details").attr('href');
               var re= id +" "+ "#cart-balance";
              //$( "#data" ).load(re);
                

              $( "#data" ).load( re , function() {
                
                     
                   
                      $.getScript("/assets/js/app.js");
                    
                 
                  
                  });          
                
               //console.log(id);
               return false;
               
                }); 

                $(".report_ticket").click(function() {

                var status = $(this).attr('ticket_status');
               
                if(status == 1){

                    var url = $(".ticket_disabled").attr('ticket_script');

                $('#success-messege').text(url);

                $('#success-popup').show();

                } else {
                      
              $('#freshdesk_trans_id').val($( this ).attr('data-trans_id'));

              $('#user_ticket_data').show();
                return false;
                }

                    });

                });


            </script>










        <script>



var btn = document.getElementById("linkto");
btn.onclick = function() {
tim = document.getElementById("searchtime").value;
typ = document.getElementById("operationtyp").value;
tranid = document.getElementById("transid").value;
btn.href = "/searchpost?time=" + tim + "&type=" + typ + "&search=" +  tranid ;
}
</script>