<!-- 
            <section id="main" class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
            <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                <i class="ico icon-Support"></i>
            </h3>
            <div class="page-title l-height-md mrg-bottom-md">
                <div class="row row-default button-row">
                    <div class="col-md-3">
                        <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">

                       <%= t('Balance Operations') %>
                     
                        </h4>
                    </div>
                    <%= form_tag  url_for(:controller => 'transactions', :action => 'searchpost'), :method => 'post' do %>
                        
                    <div class="col-md-9">
                        <div class="clearfix">
                            
                            <div class="search-div radius-md bg-white b-boxshadow">
                                <input type="text" name="search" class="text-dgray sm-md-fontsize" placeholder=<%= t('Search') %>>

                                <button type="submit" class="search-btn"><i class="icon ic-search-1"></i></button>
                                
                            </div>
                            <div class="self-select bg-white radius-md mrg-left-xs datepicker">
                                        <%= select_tag(:searchtime, options_for_select([[t('last hour'),'last hour'],[t('last day'),'last day'], [t('last week'),'last week'], [t('last month'),'last month'],[t('last year'),'last year']],:selected => params[:option]),:include_blank => ' date' , class: 'selectpicker' )   %>
                                    </div>
                                    <div class="self-select bg-white radius-md mrg-left-xs ppicker">
                                        <%= select_tag(:operationtyp, options_for_select([[t('Buy Cart'),'onlinebanks'],[t('Cart Charge'),'carts'], [t('Balance Transfer To Other Users'),'users_wallets_balances_frozens'], [t('Balance Transfer Between Wallets'),'users_wallets_balances'],[t('Withdraw Requests'),'balances_withdraw']],:selected => params[:option]),:include_blank => ' operation type',  class: 'selectpicker' )   %>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>

            <% if @tickets != nil %>
            
            <div class="listing-section listing-section2">
              
                <div class="row row-sm">
                <% @tickets.each do |ticket| %>
                  
                    <div class="col-md-6 col-sm-6 padding-hor-sm">
                      
                        <div class="listing-div hover-b-boxshadow tck-name">
                            <h4 class="icon-section">
                                <img src="resources/imgs/user-notification.png" alt="usr" class="imagecover">
                            </h4>
                            <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                
                            <%= ticket.description %>
                            
                            </h5>
                            <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                <i class="ico icon-calendar"></i><%= ticket.created_at.strftime('%H:%M:%S%p at %d/%m/%Y') %>
                            </p>
                            <div class="do-small-action">
                                        <div class="dosm-visi text-left pointer">
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                            <span class="iblock bg-gray radius-crlc"></span>
                                        </div>
                                        <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                            <ul class="dosmall-action-ul">
                                                <li><a href="/help_center"><%= t('Report a problem')%></a>
                                                </li>
                                                <li><a href="#"><%= t('Download bill')%></a>
                                                </li>
                                                <% if params[:operationtyp] == "onlinebanks" %>
                                                <li><a id="cart_details" href=<%= "/cartgen/" + ticket.id.to_s %>><%= t('Show details')%></a>
                                                </li>
                                                <% else %>
                                                <li><a href="#"><%= t('Show details')%></a>
                                                </li>
                                                 <% end %>
                                                 
                                            </ul>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <% end %>
                    <%# will_paginate @tickets, :previous_label => t("previous"), :next_label => t("next") %>
                    <%# will_paginate @tickets,:param_name => 'page', :previous_label => t("previous"), :next_label => t("next") %>
                   
                </div>
            </div>
            <% end %>
        </section>
        
        <div id="data" >
           
        </div>


        <script>
                $(document).ready(function(){
                    
                $("#cart_details").click(function()
                {
                                    

               
              // $("#cart-balance").show();
               var id =  $("#cart_details").attr('href');
               var re= id +" "+ "#cart-balance";
              //$( "#data" ).load(re);
                

              $( "#data" ).load( re , function() {
                
                     
                   
                      $.getScript("/assets/js/app.js");
                    
                 
                  
                  });
                
                  
                
               //console.log(id);
               return false;
               
                });

                });
            </script> -->