<p id="notice"><%= notice %></p>

<br>

<%# @token1 %><br>
<%# @number %><br>
<%# @trans_id2 %><br>
<%# @trans_id4 %><br>

<% if @transactions != nil %>
<h1>سجل عمليات لتحويل من محفظه لمحفظه</h1>

<div class="table-rep-puginl"><table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th>Transaction ID</th>
      
      <th>description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_id %></td>
        
        <td><%= transaction.description %></td>
        
        <td><%= link_to 'Show', transaction %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination">
<%= will_paginate @transactions,:param_name => 'page', :previous_label => t("previous"), :next_label => t("next") %>
</div>
<% end %>
<br>

<%= link_to 'bac', account_settings_path %>
