<body id="login-page">

   <link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-rtl.css" />

<div class="bannerpage bg-white min-f-height-vh pos-relative">
    <div class="logo-postion pos-absolute">
        <div class="logo-section">
            <a href="/" class="b-boxshadow">
            <img src="<%= format_link(request) %>/assets/imgs/white-logo.png" alt="white-logo" class="f-width">
        </a>
        </div>
    </div>
    <div class="bannersection pos-absolute f-height">
        <figure>
            <img src="" class="imagecover pos-absolute">
        </figure>
        <div class="pos-absolute f-width padding-hor-lg bannersection-caption clearfix">
        </div>
    </div>
    <div class="formsection padding-hor-md box-size">
        <div class="formwrap pad-left-sm f-width pad-right-sm hlf-e-btm">
        <%= form_for(resource, :as => resource_name, :url => [resource_name, :checkga], :html => { :method => :put }) do |f| %>
            <%= f.hidden_field :tmpid, {:value => @tmpid} %>
            
            <div class="self-label">
                <label>
                    <%= f.text_field :gauth_token, :autocomplete => :off ,class: 'selfinput' %>                    
                    <span class="placeholder-span">رمز التاكيد</span>
                </label>
            </div>
            <a href="#" class="mrg-top-sm db-block sm-md-fontsize font-bold text-dgray text-hover-blue"> برجاء فحص تطبيق Google Authenticator لأدخال رمز التأكيد</a>
            <div class="row row-default l-height-md padding-ver-md">
                <div class="col-xs-12">
                    <div class="text-left">
                        <%= f.submit I18n.t('submit_token', {:scope => 'devise'}), class: 'btn-shadow radius-md btn text-white text-hover-brand bg-black hover-bg-blue md-padding' %>
                        <% end %>
                        
                    </div>
                </div>
            </div>
        </div>
        <footer class="formfooter padding-hor-lg hlf-btm sr-only-sm-xs">
        <p class="footer-copyright sm-sm-fontsize font-bold text-blue mrg-bottom-xs hlf-e-btm">
                        <%= t('All Rights Reserved Owned by Payers')%> @ <%= Time.current.year%>
                    </p>
            <ul class="footer-ul sm-sm-fontsize font-bold">
				<li><a href="https://support.payers.net/support/solutions" target="_blank"><%= t('How To Use') %></a></li>
			<li><a href="https://www.payers.net/privacy.html" target="_blank"><%= t('Privacy Policy') %></a></li>
			<li><a href="https://www.payers.net/money-laundry.html" target="_blank"><%= t('Money Landury') %></a></li>
		    </ul>

    </footer>
    </div>
</div>



<!-- || footer scripts start || -->
<script src="<%= format_link(request) %>/assets/js/app.min.js"></script>
<!-- || footer scripts ends || -->
</body>
<script>
    $(document).ready(function(){

        function bannerGen() {

        function randomPicture() {
            var min=1;
            var max=13;
            var picture=Math.floor(Math.random()*(max-min+1))+min;
            return picture;
        }

                var imageSrc = "<%= format_link(request) %>/backgrounds/"+randomPicture()+".jpeg";         
                $(".imagecover").attr('src', imageSrc);
    
        }
        bannerGen();
    });

    </script>