<%= form_for(@email_template) do |f| %>
  <% if @email_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>

      <ul>
      <% @email_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :greeting_en %><br>
    <%= f.text_field :greeting_en %>
  </div>
  <div class="field">
    <%= f.label :greeting_ar %><br>
    <%= f.text_field :greeting_ar %>
  </div>
  <div class="field">
    <%= f.label :subject_en %><br>
    <%= f.text_field :subject_en %>
  </div>
  <div class="field">
    <%= f.label :subject_ar %><br>
    <%= f.text_field :subject_ar %>
  </div>
  <div class="field">
    <%= f.label :en_content %><br>
    <%= f.text_area :en_content %>
  </div>
  <div class="field">
    <%= f.label :ar_content %><br>
    <%= f.text_area :ar_content %>
  </div>
  <div class="field">
    <%= f.label :class %><br>
    <%= f.text_field :class %>
  </div>
  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
