<p id="notice"><%= notice %></p>

<h1>Listing Email Templates</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Greeting en</th>
      <th>Greeting ar</th>
      <th>Subject en</th>
      <th>Subject ar</th>
      <th>En content</th>
      <th>Ar content</th>
      <th>Class</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_templates.each do |email_template| %>
      <tr>
        <td><%= email_template.key %></td>
        <td><%= email_template.greeting_en %></td>
        <td><%= email_template.greeting_ar %></td>
        <td><%= email_template.subject_en %></td>
        <td><%= email_template.subject_ar %></td>
        <td><%= email_template.en_content %></td>
        <td><%= email_template.ar_content %></td>
        <td><%= email_template.class %></td>
        <td><%= email_template.action %></td>
        <td><%= link_to 'Show', email_template %></td>
        <td><%= link_to 'Edit', edit_email_template_path(email_template) %></td>
        <td><%= link_to 'Destroy', email_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email template', new_email_template_path %>
