<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @email_template.key %>
</p>

<p>
  <strong>Greeting en:</strong>
  <%= @email_template.greeting_en %>
</p>

<p>
  <strong>Greeting ar:</strong>
  <%= @email_template.greeting_ar %>
</p>

<p>
  <strong>Subject en:</strong>
  <%= @email_template.subject_en %>
</p>

<p>
  <strong>Subject ar:</strong>
  <%= @email_template.subject_ar %>
</p>

<p>
  <strong>En content:</strong>
  <%= @email_template.en_content %>
</p>

<p>
  <strong>Ar content:</strong>
  <%= @email_template.ar_content %>
</p>

<p>
  <strong>Class:</strong>
  <%= @email_template.class %>
</p>

<p>
  <strong>Action:</strong>
  <%= @email_template.action %>
</p>

<%= link_to 'Edit', edit_email_template_path(@email_template) %> |
<%= link_to 'Back', email_templates_path %>
