<%= form_for(@frontendpage) do |f| %>
  <% if @frontendpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frontendpage.errors.count, "error") %> prohibited this frontendpage from being saved:</h2>

      <ul>
      <% @frontendpage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= f.label :pagename ,t('page name') %><br>
    <%= f.text_field :pagename,  :class => 'form-control' %>
  </div>
 <div class="field">
    <%= f.label :title ,t('title') %><br>
    <%= f.text_field :title,  :class => 'form-control' %>
  </div>
 <div class="field">
    <%= f.label :pagecontent ,t('content') %><br>
    <%= f.text_area :pagecontent,  :class => 'form-control' %>
  </div>

<p > --------------------- </p>

<div class="field">
    <%= f.label :pagename_en ,t('page name') %> _ en<br>
    <%= f.text_field :pagename_en,  :class => 'form-control' %>
  </div>
 <div class="field">
    <%= f.label :title_en ,t('title') %> _ en<br>
    <%= f.text_field :title_en,  :class => 'form-control' %>
  </div>
 <div class="field">
    <%= f.label :pagecontent_en ,t('content') %> _ en<br>
    <%= f.text_area :pagecontent_en,  :class => 'form-control' %>
  </div>


      <div class="actions  text-center"> 
 
<button type="submit" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= t('Save') %> </button>

  </div>
<% end %>
