 <div class="single-service black Two singlePage">

   <div class="homeArea">
     <div class="container">
       <div class="row">
         <div class="col-md-6 col-sm-6">
           <div class="singlePgTitle">
             <h1> من نحن </h1>
           </div>
         </div>
         <div class="col-md-6 col-sm-6">
           <ul class="pageIndicate">
             <li><a href=""> الرئيسية </a></li>
             <li><a href=""> من نحن </a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>

   <!-- ======= /19.01 single-about One Area ====== -->

 <!-- ====== 3.01 StartUpOne About Area ====== -->

 <div class="aboutArea StartUpOne sectionPadding">
   <div class="aboutWrep relative">
     <div class="about_bg">
       <div class="aboutLeftBg"></div>
       <div class="aboutRightBg">
         <img src="site/img/about-bg-3.jpg" alt="">
       </div>
     </div>
     <div class="aboutOuter">
       <div class="container">
         <div class="row">
           <div class="col-md-7 col-sm-7">
             <div class="aboutContent">
               <div class="singleAbout">
                 <h2> تصميم عصري </h2>
                 <p> هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
               </div>
               <div class="singleAbout">
                 <h2> دعم محترف </h2>
                 <p> هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
               </div>
               <div class="singleAbout">
                 <h2> الشراء اون لاين </h2>
                 <p> هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <!-- ====== /3.01 StartUpOne About Area ====== -->

<!-- ====== 3.05 CorporateTwo About Area ====== -->

 <div class="aboutArea CorporateTwo sectionPadding padTopNone">
   <div class="aboutWrep relative">
     <div class="about_bg">
       <div class="aboutLeftBg"></div>
       <div class="aboutRightBg"></div>
     </div>
     <div class="aboutOuter">
       <div class="container">
         <div class="row">
           <div class="col-md-5 col-sm-12">
             <div class="aboutWrep">
               <div class="aboutContent">
                 <p> هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص </p>
               </div>
             </div>
           </div>
           <div class="col-md-3 col-sm-5">
             <div class="vision">
               <h2> رؤيتنا </h2>
               <ul>
                 <li><img src="site/img/iconImg/about-check.png" alt=""> خلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً </li>
                 <li><img src="site/img/iconImg/about-check.png" alt=""> خلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً </li>
                 <li><img src="site/img/iconImg/about-check.png" alt=""> خلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً </li>
                 <li><img src="site/img/iconImg/about-check.png" alt=""> خلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً </li>
                 <li><img src="site/img/iconImg/about-check.png" alt=""> خلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً </li>
                 <li><img src="site/img/iconImg/about-check.png" alt=""> خلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً </li>
                 <li><img src="site/img/iconImg/about-check.png" alt=""> خلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً </li>
               </ul>
             </div>
           </div>
           <div class="col-md-4 col-sm-7">
             <div class="aboutSkill">
                 <h2> مهاراتنا </h2>
               <div class="skillWrep clearfix">
                 <div class="barfillerWrep">
                   <div class="barfiller skillOne">
                     <span class="tip"></span>
                     <span class="fill" data-percentage="50"></span>
                   </div>
                 </div>
                 <div class="barHeadding">
                   <h3> تطوير شبكة الويب </h3>
                 </div>
               </div>
               <div class="skillWrep clearfix">
                 <div class="barfillerWrep">
                   <div class="barfiller skillTwo">
                     <span class="tip"></span>
                     <span class="fill" data-percentage="60"></span>
                   </div>
                 </div>
                 <div class="barHeadding">
                   <h3> التصميم الجرافيكي </h3>
                 </div>
               </div>
               <div class="skillWrep clearfix">
                 <div class="barfillerWrep">
                   <div class="barfiller skillThree">
                     <span class="tip"></span>
                     <span class="fill" data-percentage="30"></span>
                   </div>
                 </div>
                 <div class="barHeadding">
                   <h3> تطوير التطبيقات النقالة </h3>
                 </div>
               </div>
               <div class="skillWrep clearfix">
                 <div class="barfillerWrep">
                   <div class="barfiller skillFour">
                     <span class="tip"></span>
                     <span class="fill" data-percentage="90"></span>
                   </div>
                 </div>
                 <div class="barHeadding">
                   <h3> التسويق الشبكي </h3>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <!-- ====== /3.05 CorporateTwo About Area ====== -->

 <div class="testimonialArea CorporateTwo sectionPadding">
       <div class="container">
           <div class="row">
               <div class="col-md-8 col-md-offset-2">
                   <div class="tstSlider owl-carousel">
                       <div class="singleTstSlide">
                           <div class="tstIcon">
                               <i class="fa fa-quote-right"></i>
                           </div>
                           <div class="tstTxt">
                             <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. <br>  إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة </p>
                           </div>
                           <span class="clientName"> أحمد جمعة </span>
                           <span class="position">CEO, CodeClub</span>
                       </div>
                       <div class="singleTstSlide">
                           <div class="tstIcon">
                               <i class="fa fa-quote-right"></i>
                           </div>
                           <div class="tstTxt">
                             <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. <br>  إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة </p>
                           </div>
                           <span class="clientName"> كريم فهمي </span>
                           <span class="position">CEO, CrazyFox</span>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <!-- ======= /7.04 CorporateTwo testimonial Area ====== -->


   <!-- ======= 10.03 CTA Three Area ====== -->

   <div class="ctaArea Three">
       <div class="container">
           <div class="row">
               <div class="col-md-10 col-md-offset-1 ctaCol">
                   <div class="cta">
                       <div class="h3"> هناك حقيقة مثبتة منذ زمن طويل وهي  <span> أن المحتوى المقروء </span></div>
                       <a href="#" class="ctaBtn"> الشراء الأن </a>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <!-- ======= /10.03 CTA Three Area ====== -->

   <!-- ======= 17.01 Social One Area ====== -->

 <div class="socialArea Three">
   <div class="singleSocial">
     <a href="#" class="icofont icofont-social-facebook"></a>
   </div>
   <div class="singleSocial">
     <a href="#" class="icofont icofont-social-twitter"></a>
   </div>
   <div class="singleSocial">
     <a href="#" class="icofont icofont-social-google-plus"></a>
   </div>
   <div class="singleSocial">
     <a href="#" class="icofont icofont-brand-linkedin"></a>
   </div>
 </div>

   <!-- ======= /17.01 Social One Area ====== -->


 </div>
