<!doctype html>
<html dir='rtl' lang="ar">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>Homepage | Dashboard</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="" />
    <link rel="publisher" href="" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="assets/imgs/content-covre.png" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="assets/imgs/content-covre.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:image:src" content="assets/imgs/content-covre.png" />

    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://payers.net/" />
    <meta property="og:image" content="assets/imgs/content-covre.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />

    <!-- Schema -->
    <script type="application/ld+json">
        { "@context": "http://schema.org", "@type": "webSite", "url": "http://www.crtivo.studio", "name": "12 Cups Website", "description": "for selling coffee " }
    </script>

    <!-- other SEO info -->
    <meta name="revisit-after" content="5 days">
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="general" />
    <meta name="author" content="" />
    <meta name="copyrights" content="" />
    <meta name="alexaVerifyID" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rsslink" />

    <!-- FavsIcons -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="assets/imgs/icon.png" />
    <link rel="apple-touch-startup-image" href="assets/imgs/home.png" />

    <!-- Head Inc -->
    <!-- <script data-pace-options='{ "ajax": false, "elements": false, "restartOnRequestAfter": false, "restartOnPushState":false }' src="resources/js/pace.js"></script> -->
    <link rel="stylesheet" href="/assets/css/style-rtl.css" />
    <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->

    <!-- Google Analytices Code -->
    <script>
    </script>

</head>
<!-- || head area end || -->

<!-- || page body start || -->

<body id="home-page">
    <div class="wholepage pos-relative min-f-height-vh f-width ">
        <div class="mobile-header">
            <div class="logo-section">
                <a href="#" class="l-boxshadow">
                    <img src="assets/imgs/white-logo.png" alt="white-logo" class="f-width">
                </a>
            </div>
            <div class="mobile-header__content">
                <div class="mobile-menu">
                    <span></span>
                </div>
                <div class="mobile-notifications">
                    <span class="icon-bell"></span>
                    <span class="numbers">8</span>
                </div>
                <div class="profile-image">
                    <img src="assets/imgs/user-notification.png" alt="">
                </div>
            </div>
        </div>
        <div class="mobile-dropdown-menu">
            <ul>
                <li><a href="#" title="الرئيسية">الرئيسية</a></li>
                <li class="has-sub"><a href="#" title="المحافظ">المحافظ</a>
                    <ul>
                        <li><a href="https://www.google.com/" title="المحفطة رقم 1">المحفطة رقم 1</a></li>
                        <li><a href="https://www.google.com/" title="المحفطة رقم 2">المحفطة رقم 2</a></li>
                        <li><a href="https://www.google.com/" title="المحفطة رقم 3">المحفطة رقم 3</a></li>
                        <li><a href="https://www.google.com/" title="المحفطة رقم 4">المحفطة رقم 4</a></li>
                    </ul>
                </li>
                <li><a href="#" title="التحويلات">التحويلات</a></li>
                <li><a href="#" title="المستفيدين">المستفيدين</a></li>
                <li><a href="#" title="التنبيهات">التنبيهات</a></li>
                <li><a href="#" title="شراء بطاقات الرصيد">شراء بطاقات الرصيد</a></li>
                <li><a href="#" title="المساعدة و الدعم">المساعدة و الدعم</a></li>
            </ul>
        </div>
        <div id="dashboard-menu" class="pull-right sr-only-sm-xs">
            <div class="mainmenu">
                <div class="logo-section">
                    <a href="#" class="l-boxshadow">
                        <img src="assets/imgs/white-logo.png" alt="white-logo" class="f-width">
                    </a>
                </div>
                <div class="mainmenu-navigation">
                    <ul class="mainmenu-nav">
                        <li class="active">
                            <a href="#"><span class="icon-Dashboard"></span></a>
                            <ul>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="icon-wallet"></span></a>
                            <ul class="bg-white">
                                <li>
                                    <a href="#">
                                        <img src="assets/imgs/wicon1.png" alt="wicon1"> ةظفحم رلاودلا
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/imgs/wicon2.png" alt="wicon2"> ةظفحم لايرلا
                                    </a>
                                </li>
                                <li class="ba-inline">
                                    <a href="#">
                                        <img src="assets/imgs/wicon3.png" alt="wicon3"> ةظفحم هينجلا
                                    </a>
                                    <a href="#" class="btn sm-padding radius-md border-black hover-bg-brand text-black text-hover-white">ةظفحم</a>
                                    <div class="text-left">
                                        <a href="#" class="btn mrg-top-xs mrg-bottom-sm hlf-e-btm md-padding radius-md bg-black hover-bg-brand text-white text-hover-white">ةظفحم هينجلا</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="icon-dollor"></span></a>
                            <ul>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="icon ic-icons-88"></span></a>
                            <ul>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="icon-bell"></span></a>
                            <ul>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="icon-home"></span></a>
                            <ul>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="icon-History"></span></a>
                            <ul>
                                <li><a href="#">رابط الدمية</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="icon-Support"></span></a>
                            <ul>
                                <li><a href="#">رابط الدمية</a></li>
                                <li><a href="#">رابط الدمية</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="dashboard-content" class="pull-left box-size pad-hor-md hlf-btm pos-relative">
            <header class="dashboard-header padding-ver-md clearfix">
                <div class="page-direct pad-top-sm padding-hor-md pull-right">
                    <span class="icon-Dashboard md-lg-fontsize text-color vr-align text-black"></span>
                    <a href="#" class="text-black sm-lg-fontsize mrg-right-xs hlf-e-btm">ةحول  مكحتلا</a>
                    <span class="icon text-dbrand ic-icons-515 sm-sm-fontsize mrg-right-xs"></span>
                    <a href="#" class="text-dbrand sm-lg-fontsize mrg-right-xs hlf-e-btm">ةحول  مكحتلا</a>
                </div>
                <div class="pull-right notification-div padding-hor-md pull-left sr-only-sm-xs">
                    <div class="pos-relative notification-wrap border-gray border-width-thin radius-lg l-boxshadow bg-white padding-all-sm box-size">
                        <figure class="mrg-left-xs pull-right">
                            <img src="assets/imgs/user-notification.png" class="radiu-crlc imagecover" alt="user-notification">
                        </figure>
                        <div class="pull-right notification-by">
                            <h5 class="sm-md-fontsize font-bold mrg-bottom-xs hlf-e-btm text-dbrand">دمحأ دمحم محأ..</h5>
                            <h6 class="sm-sm-fontsize font-light text-dgray"><a href="#">تادادعإ باسحلا  <i class="icon ic-icons-503 sm-xs-fontsize"></i></a></h6>
                        </div>
                        <div class="pull-left notification-power mrg-left-xs hlf-e-btm">
                            <a href="#" class="notification-power-a">
                                <img src="assets/imgs/power.png" alt="power">
                            </a>
                        </div>
                        <div class="pull-left notification-alert pad-left-sm hlf-e-btm">
                            <span class="icon-bell md-lg-fontsize vr-align text-dbrand"></span>
                            <span class="number-notification text-white text-center sm-sm-fontsize">4</span>
                        </div>
                    </div>
                    <div class="notification-dropdown">
                        <ul class="notifications-menu">
                            <li>
                                <a href="#">
                                    <figure>
                                        <img src="assets/imgs/user-notification.png" alt="user-notification" class="radiu-crlc imagecover">
                                    </figure>
                                    <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm">دمحأ دمحم محأ..</h5>
                                    <p class="sm-md-fontsize text-dgray font-weight-normal">دمحأ دمحم محأ</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure>
                                        <img src="assets/imgs/user-notification.png" alt="user-notification" class="radiu-crlc imagecover">
                                    </figure>
                                    <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm">دمحأ دمحم محأ..</h5>
                                    <p class="sm-md-fontsize text-dgray font-weight-normal">دمحأ دمحم محأ</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure>
                                        <img src="assets/imgs/user-notification.png" alt="user-notification" class="radiu-crlc imagecover">
                                    </figure>
                                    <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm">دمحأ دمحم محأ..</h5>
                                    <p class="sm-md-fontsize text-dgray font-weight-normal">دمحأ دمحم محأ</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure>
                                        <img src="assets/imgs/user-notification.png" alt="user-notification" class="radiu-crlc imagecover">
                                    </figure>
                                    <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm">دمحأ دمحم محأ..</h5>
                                    <p class="sm-md-fontsize text-dgray font-weight-normal">دمحأ دمحم محأ</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure>
                                        <img src="assets/imgs/user-notification.png" alt="user-notification" class="radiu-crlc imagecover">
                                    </figure>
                                    <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm">دمحأ دمحم محأ..</h5>
                                    <p class="sm-md-fontsize text-dgray font-weight-normal">دمحأ دمحم محأ</p>
                                </a>
                            </li>
                            <li class="options">
                                <a href="#" class="btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding">
                                    ةظفحم لايرلا
                                </a>
                                <a href="#" class="btn radius-md border-black hover-bg-brand bg-black mrg-left-xs text-white text-hover-white sm-padding">
                                    ةظفحم لايرلا
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="padding-hor-md">
                <div class="row row-sm">
                    <div class="col-md-7 padding-hor-md hlf-btm mrg-bottom-sm col-sm-12">
                        <section class="section mrg-bottom-md padding-hor-lg bg-white pad-top-md pad-bottom-sm s-boxshadow radius-light">
                            <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                <i class="icon-wallet"></i>
                            </h3>
                            <div class="page-title l-height-md mrg-bottom-md">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                    ديصر ىباسح
                                </h4>
                                <a href="#" class="btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding active">
                                    ةظفحم لايرلا
                                </a>
                                <a href="#" class="btn radius-md border-black hover-bg-brand bg-black mrg-left-xs text-white text-hover-white sm-padding">
                                    ةظفحم لايرلا
                                </a>
                                <a href="#" class="dotted-plus"></a>
                            </div>
                            <div class="lng-portion clearfix mrg-bottom-lg hlf-e-btm">
                                <div class="lng-side pull-right mrg-left-md">
                                    <h6 class="sm-sm-fontsize text-blue mrg-bottom-sm hlf-e-btm">ةلمع ضرعلا </h6>
                                    <ul class="sm-sm-fontsize english-font font-bold">
                                        <li>
                                            <a href="#">EGP</a>
                                        </li>
                                        <li>
                                            <a href="#">USD</a>
                                        </li>
                                        <li>
                                            <a href="#">SAR</a>
                                        </li>
                                    </ul>
                                </div>
                                <h1 class="pull-right xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book">
                                  443328
                                </h1>
                            </div>
                            <div class="btn-group-section mrg-bottom-md">
                                <a href="#" class="btn md-padding radius-md iconic text-blue text-hover-white hover-bg-brand bg-white border-blue">
                                    <i class="ico icon-arrowup"></i> ليوحت ىلإ ةظفحم ىرخأ
                                </a>
                            </div>
                            <div class="bdr-md-top pad-bottom-xs bdr-solid border-color-gray pad-top-md hlf-e-btm">
                                <div class="row row-default button-row">
                                    <div class="col-xs-4">
                                        <h4 class="l-height-md sm-lg-fontsize text-blue font-bold">
                                          تايلمع تايلمع
                                        </h4>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="text-left">
                                            <a href="#" class="btn mrg-left-sm md-padding radius-md iconic border-blue hover-bg-brand text-hover-white text-blue"><i class="ico icon-dollor-icon"></i> نحشإ كباسح</a>
                                            <a href="#" class="btn text-hover-white text-white bg-black border-black md-padding radius-md hover-bg-brand iconic drak bgbtn"><i class="ico icon-white-logo"></i> عفدإ عفدإ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="row row-sm">
                            <div class="col-sm-6 col-xs-12">
                                <section class="section home-bottom-detail bg-white s-boxshadow radius-light sr-only-sm-xs">
                                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                        <i class="icon-Support"></i>
                                    </h3>
                                    <div class="page-title l-height-md">
                                        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                           تايلمعلا ةريخلأا
                                        </h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h5 class="font-weight-normal english-font text-black md-sm-fontsize l-height-1">34</h5>
                                            <h6 class="font-weight-normal text-blue sm-md-fontsize"> نحشإ كباسح</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-left">
                                                <a href="#" class="self-icon-crcl text-hover-white mrg-left-xs bg-dgray hover-bg-brand text-white sm-lg-fontsize">0</a> 
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <section class="section home-bottom-detail bg-white s-boxshadow radius-light sr-only-sm-xs">
                                    <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                        <i class="icon ic-icons-88"></i>
                                    </h3>
                                    <div class="page-title l-height-md">
                                        <h4 class="iblock md-lg-fontsize text-dbrand font-weight-normal">
                                           تايلمعلا ةريخلأا
                                        </h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h5 class="font-weight-normal english-font text-black md-sm-fontsize l-height-1">3</h5>
                                            <h6 class="font-weight-normal text-blue sm-md-fontsize"> نحشإ كباسح</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-left">
                                                <a href="#" class="self-icon-crcl text-hover-white icon-Plus-white mrg-left-xs bg-blue hover-bg-brand text-white sm-lg-fontsize"></a> 
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 padding-hor-md hlf-btm col-sm-12">
                        <section class="padding-hor-lg bg-white pad-top-md pad-bottom-sm hlf-btm hlf-e-btm s-boxshadow radius-light sr-only-sm-xs">
                            <div class="padding-hor-lg hlf-btm mrg-bottom-md">
                                <h3 class="page-icon lg-sm-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                                  <i class="icon-History"></i>
                                </h3>
                                <div class="page-title l-height-md">
                                    <div class="row row-default">
                                        <div class="col-xs-6">
                                            <h4 class="md-lg-fontsize text-dbrand font-weight-normal l-height-md">
                                                تايلمعلا ةريخلأا
                                            </h4>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="text-left">
                                                <a href="#" class="btn md-padding radius-md iconic text-blue text-hover-white border-blue bg-white hover-bg-brand">
                                                    <i class="icon-Support"></i>ةمدخ ءلامعلا
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content demo-y height-546 btm-bg-grd">
                                <div class="listing-section">
                                    <div class="row row-sm">
                                        <div class="col-xs-12 padding-hor-sm">
                                            <div class="listing-div hover-b-boxshadow">
                                                <h4 class="icon-section">
                                                    <i class="icon-arrowup md-lg-fontsize text-yellow"></i>
                                                </h4>
                                                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                                 ةلواحم ليجست لوخد ةلشاف نم نم "ضايرلا".
                                                </h5>
                                                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                    <i class="ico icon-calendar"></i> 12/11/2018 at 02:12 PM
                                                </p>
                                                <div class="btn-self-group">
                                                    <div class="text-left">
                                                        <a href="#" class="btn sm-padding bg-white border-blue hover-bg-brand radius-sm text-blue text-hover-white mrg-left-xs">
                                                            ةلواحم ريغ ةنمأ
                                                        </a>
                                                        <a href="#" class="btn sm-padding bg-black border-black hover-bg-brand text-white radius-sm text-hover-white">
                                                            ةلواحم ريغ ةنمأ
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="do-small-action">
                                                    <div class="dosm-visi text-left pointer">
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                    </div>
                                                    <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                        <ul class="dosmall-action-ul">
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 padding-hor-sm">
                                            <div class="listing-div hover-b-boxshadow">
                                                <h4 class="icon-section">
                                                    <i class="icon-user-check md-lg-fontsize text-green"></i>
                                                </h4>
                                                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                                 ةلواحم ليجست لوخد ةلشاف نم نم "ضايرلا".
                                                </h5>
                                                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                    <i class="ico icon-calendar"></i> 12/11/2018 at 02:12 PM
                                                </p>
                                                <div class="btn-self-group">
                                                    <div class="text-left">
                                                        <a href="#" class="btn sm-padding bg-white border-blue hover-bg-brand radius-sm text-blue text-hover-white mrg-left-xs">
                                                            ةلواحم ريغ ةنمأ
                                                        </a>
                                                        <a href="#" class="btn sm-padding bg-black border-black hover-bg-brand text-white radius-sm text-hover-white">
                                                            ةلواحم ريغ ةنمأ
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="do-small-action">
                                                    <div class="dosm-visi text-left pointer">
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                    </div>
                                                    <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                        <ul class="dosmall-action-ul">
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 padding-hor-sm">
                                            <div class="listing-div hover-b-boxshadow">
                                                <h4 class="icon-section">
                                                    <i class="icon-dollor md-lg-fontsize text-red"></i>
                                                </h4>
                                                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                                 ةلواحم ليجست لوخد ةلشاف نم نم "ضايرلا".
                                                </h5>
                                                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                    <i class="ico icon-calendar"></i> 12/11/2018 at 02:12 PM
                                                </p>
                                                <div class="btn-self-group">
                                                    <div class="text-left">
                                                        <a href="#" class="btn sm-padding bg-white border-blue hover-bg-brand radius-sm text-blue text-hover-white mrg-left-xs">
                                                            ةلواحم ريغ ةنمأ
                                                        </a>
                                                        <a href="#" class="btn sm-padding bg-black border-black hover-bg-brand text-white radius-sm text-hover-white">
                                                            ةلواحم ريغ ةنمأ
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="do-small-action">
                                                    <div class="dosm-visi text-left pointer">
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                    </div>
                                                    <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                        <ul class="dosmall-action-ul">
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 padding-hor-sm">
                                            <div class="listing-div hover-b-boxshadow">
                                                <h4 class="icon-section">
                                                    <i class="icon-arrowup md-lg-fontsize text-black"></i>
                                                </h4>
                                                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                                     ةلواحم ليجست لوخد ةلشاف نم نم "ضايرلا".
                                                </h5>
                                                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                    <i class="ico icon-calendar"></i> 12/11/2018 at 02:12 PM
                                                </p>
                                                <div class="do-small-action">
                                                    <div class="dosm-visi text-left pointer">
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                    </div>
                                                    <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                        <ul class="dosmall-action-ul">
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 padding-hor-sm">
                                            <div class="listing-div hover-b-boxshadow">
                                                <h4 class="icon-section">
                                                    <i class="icon-user-check md-lg-fontsize text-orange"></i>
                                                </h4>
                                                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                                     ةلواحم ليجست لوخد ةلشاف نم نم "ضايرلا".
                                                </h5>
                                                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                    <i class="ico icon-calendar"></i> 12/11/2018 at 02:12 PM
                                                </p>
                                                <div class="do-small-action">
                                                    <div class="dosm-visi text-left pointer">
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                    </div>
                                                    <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                        <ul class="dosmall-action-ul">
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 padding-hor-sm">
                                            <div class="listing-div hover-b-boxshadow">
                                                <h4 class="icon-section">
                                                    <i class="icon-user-check md-lg-fontsize text-brand"></i>
                                                </h4>
                                                <h5 class="list-title text-blue font-bold sm-lg-fontsize mrg-bottom-xs">
                                                    ةلواحم ليجست لوخد ةلشاف نم نم "ضايرل <img src="assets/imgs/user-notification.png" alt="">ا".
                                                </h5>
                                                <p class="listing-d pos-relative english-font font-bold color-gray pad-right-sm sm-sm-fontsize mrg-bottom-xs">
                                                    <i class="ico icon-calendar"></i> 12/11/2018 at 02:12 PM
                                                </p>
                                                <div class="do-small-action">
                                                    <div class="dosm-visi text-left pointer">
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                        <span class="iblock bg-gray radius-crlc"></span>
                                                    </div>
                                                    <div class="dosmall-action-div  bg-white l-shadow radius-lighter">
                                                        <ul class="dosmall-action-ul">
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                            <li><a href="#">ةلواحم ريغ ةنمأ</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <footer class="dashboard-footer sr-only-sm-xs">
                <div class="footer-language"><a href="#"><i></i> English</a></div>
                <p class="footer-copyright sm-sm-fontsize font-bold text-blue pull-left">
                    Payers Copyrights appears here © 2017
                </p>
                <ul class="footer-ul pull-right sm-sm-fontsize font-bold">
                    <li><a href="#">تامولعم صيخرتلا .</a>
                    </li>
                    <li><a href="#">طورشلا و fاكحلا .</a>
                    </li>
                    <li><a href="#">ةيفيك fادختسلا .</a>
                    </li>
                </ul>
            </footer>
        </div>
        <!--<div class="rocket-section">-->

            <!--<div class="rocket-section-content">-->
                <!--<ul class="rocket-list">-->
                    <!--<li>-->
                        <!--<a href="#" class="btn sm-padding l-boxshadow bg-white text-blue radius-sm text-hover-white border-white  hover-bg-brand text-hover-white">ةمدخ ءلامعلا</a>-->
                        <!--<a href="#" class="icon-a">-->
                            <!--<i class="ico icon-Support"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#" class="btn sm-padding l-boxshadow bg-white text-blue radius-sm text-hover-white border-white  hover-bg-brand text-hover-white">ءارش ترك نحش</a>-->
                        <!--<a href="#" class="icon-a">-->
                            <!--<i class="ico icon-dollor"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="rocket-icon">-->
                <!--<i class="ico icon-rocket"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="alertmsg-10">-->
            <!--<div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">-->
                <!--<span class="ico icon text-red">X</span>-->
                <!--<h5 class="sm-lg-fontsize text-dgray font-bold">ةيلمع ةحجان !</h5>-->
                <!--<p class="sm-md-fontsize text-mgray">ىوتحم ةلاسرلا ةرهاظلا ليمعلل نوكي انه.</p>-->
                <!--<span class="alert-close icon-Plus-white"></span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!-- || footer scripts start || -->
    <script src="/assets/js/app.min.js"></script>
    <!-- || footer scripts ends || -->

</body>
<!-- || page body ends || -->

</html>