<!doctype html>
<html dir='rtl' lang="ar">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO -->
    <title>404 </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="" />
    <link rel="publisher" href="" />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="assets/imgs/content-covre.png" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="assets/imgs/content-covre.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:image:src" content="assets/imgs/content-covre.png" />
    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://payers.net/" />
    <meta property="og:image" content="assets/imgs/content-covre.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />
    <!-- Schema -->
    <script type="application/ld+json">
    { "@context": "http://schema.org", "@type": "webSite", "url": "http://www.crtivo.studio", "name": "12 Cups Website", "description": "for selling coffee " }
    </script>
    <!-- other SEO info -->
    <meta name="revisit-after" content="5 days">
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="general" />
    <meta name="author" content="" />
    <meta name="copyrights" content="" />
    <meta name="alexaVerifyID" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rsslink" />
    <!-- FavsIcons -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/assets/imgs/icon.png" />
    <link rel="apple-touch-startup-image" href="/assets/imgs/home.png" />
    <!-- Head Inc -->
    <!-- <script data-pace-options='{ "ajax": false, "elements": false, "restartOnRequestAfter": false, "restartOnPushState":false }' src="resources/js/pace.js"></script> -->
    <link rel="stylesheet" href="/assets/css/style-ltr.css" />
    <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->
    <!-- Google Analytices Code -->
    <script>
    </script>
</head>
<!-- || head area end || -->
<!-- || page body start || -->

<%# debug (params[:id]) %>

<% @log = ErrorsLog.where(:id => params[:id]).first %>

<%# debug (@log.error_code) %>

<body id="home-page">
    <div class="wholepage pos-relative min-f-height-vh f-width">
        <div class="page-404 min-f-height-vh">
            <div class="content-page-404 padding-hor-md text-center">
                <figure>
                    <svg width="100px" height="76px" viewBox="0 0 100 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
                        <title>Error </title>
                        <desc>Created with .</desc>
                        <defs></defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Error-">
                                <path d="M30.6553549,75.7618526 C41.7073291,75.7834263 52.3669445,71.6665601 60.5353549,64.2218526 C61.1271185,63.6629378 61.4191213,62.8567278 61.3225277,62.0484954 C61.2259341,61.240263 60.752165,60.5255721 60.0453549,60.1218526 C55.4667611,57.5852405 50.5460386,55.7227082 45.4353549,54.5918526 C45.339187,54.5683207 45.2725176,54.4808171 45.2753549,54.3818526 L45.2753549,51.3818526 C47.0371613,49.0830559 48.3531512,46.4748183 49.1553549,43.6918526 C51.1553549,41.6918526 52.0453549,38.5818526 52.5153549,36.8918526 C53.2953549,34.1518526 54.0753549,30.1818526 51.9253549,27.3418526 L51.8353549,27.2218526 C52.8353549,22.2218526 54.1553549,10.4718526 45.2153549,4.51185264 C46.2621172,3.44759417 46.8322719,2.00416448 46.7953549,0.51185264 C46.7850837,0.367782128 46.7164588,0.234144146 46.6053549,0.14185264 C46.4924817,0.0517734615 46.3491733,0.00878093182 46.2053549,0.0218526399 C46.0953549,0.0218526399 34.9053549,1.29185264 29.5253549,0.18185264 C24.1453549,-0.92814736 17.9253549,3.23185264 16.6753549,7.53185264 C14.586043,7.80535818 12.6852076,8.88130274 11.3753549,10.5318526 C8.93535487,13.5318526 8.18535487,18.3318526 9.15535487,24.7618526 C9.21535487,25.5918526 9.32535487,26.4018526 9.46535487,27.2418526 L9.36535487,27.3618526 C7.23535487,30.1418526 8.01535487,34.1218526 8.79535487,36.8518526 C9.27535487,38.5418526 10.1553549,41.6718526 12.1553549,43.6418526 C12.9558694,46.4457543 14.2753633,49.074566 16.0453549,51.3918526 L16.0453549,54.3918526 C16.0481921,54.4908171 15.9815227,54.5783207 15.8853549,54.6018526 C10.7826627,55.7283745 5.86886381,57.5840998 1.29535487,60.1118526 C0.588544748,60.5155721 0.114775664,61.230263 0.0181820342,62.0384954 C-0.0784115955,62.8467278 0.213591291,63.6529378 0.805354872,64.2118526 C8.96461548,71.6532045 19.6123878,75.7731968 30.6553549,75.7618526 Z M30.6553549,65.3918526 C25.9215489,65.4452498 21.4529207,63.2109357 18.6553549,59.3918526 C19.8795429,58.7103698 20.8116192,57.6039739 21.2753549,56.2818526 C22.5234956,57.1067992 23.8665132,57.778308 25.2753549,58.2818526 C28.7660761,59.5164381 32.5746336,59.5164381 36.0653549,58.2818526 C37.4727712,57.7749747 38.8154027,57.103659 40.0653549,56.2818526 C40.5222429,57.6210003 41.4592589,58.7432818 42.6953549,59.4318526 C39.8809433,63.247417 35.3959999,65.4675385 30.6553549,65.3918526 L30.6553549,65.3918526 Z M13.5853549,35.5018526 C12.5853549,32.0218526 13.0153549,30.7618526 13.3553549,30.3218526 C13.596471,30.022093 13.9725077,29.8641576 14.3553549,29.9018526 L14.5353549,29.9018526 C14.8245756,29.9190407 15.0739987,29.7007955 15.0953549,29.4118526 C15.0953549,29.3318526 15.7153549,21.8418526 20.1553549,19.1418526 C22.3753549,17.7918526 25.2253549,17.8418526 28.6253549,19.2918526 C35.6253549,22.2918526 40.7653549,22.0718526 43.9153549,21.3718526 C47.5153549,24.0218526 46.4753549,28.2718526 46.2353549,29.0918526 L46.2353549,29.1918526 C46.1755324,29.3613041 46.2056479,29.5495259 46.3153549,29.6918526 C46.427444,29.8345947 46.6047783,29.9100561 46.7853549,29.8918526 C47.2266109,29.808524 47.6790694,29.964413 47.9753549,30.3018526 C48.3053549,30.7418526 48.7253549,32.0018526 47.7453549,35.4818526 C46.4853549,39.9418526 45.4553549,40.3618526 45.1753549,40.3818526 C44.9287336,40.3986951 44.7280568,40.5868296 44.6953549,40.8318526 C43.9653549,45.5818526 40.1853549,51.4818526 34.3853549,53.5718526 C31.9789176,54.426102 29.3517922,54.426102 26.9453549,53.5718526 C20.9453549,51.4418526 17.3853549,45.4718526 16.6653549,40.8118526 C16.6290998,40.5686749 16.4303637,40.3823597 16.1853549,40.3618526 C15.8753549,40.3818526 14.8453549,39.9518526 13.5853549,35.5018526 Z" id="Shape" fill-opacity="0.89954144" fill="#0C101A" fill-rule="nonzero"></path>
                                <path d="M80.5353549,10.2718526 C75.3009239,10.0790599 70.213146,12.0232005 66.4411352,15.6575328 C62.6691245,19.2918652 60.5372364,24.3038727 60.5353549,29.5418526 L60.5353549,46.4318526 C60.5273542,47.0674496 60.772878,47.6800505 61.2176326,48.1341881 C61.6623872,48.5883256 62.2697294,48.8465838 62.9053549,48.8518526 L79.7953549,48.8518526 C90.4489276,49.0561978 99.2510092,40.5854253 99.4553546,29.9318526 C99.6596999,19.2782799 91.1889276,10.4761982 80.5353549,10.2718526 Z" id="Path" fill="#08C4FF"></path>
                                <path d="M86.8053549,36.5618526 L86.8053549,36.5618526 C85.7438952,37.6196458 84.0268146,37.6196458 82.9653549,36.5618526 L79.7953549,33.3918526 L76.6253549,36.5618526 C75.5489367,37.5184728 73.9134439,37.4703284 72.8951615,36.452046 C71.8768791,35.4337636 71.8287347,33.7982708 72.7853549,32.7218526 L75.9553549,29.5518526 L72.7853549,26.3818526 C71.8287347,25.3054345 71.8768791,23.6699417 72.8951615,22.6516593 C73.9134439,21.6333768 75.5489367,21.5852324 76.6253549,22.5418526 L79.7953549,25.7118526 L82.9653549,22.5418526 C84.041773,21.5852324 85.6772658,21.6333768 86.6955482,22.6516593 C87.7138307,23.6699417 87.7619751,25.3054345 86.8053549,26.3818526 L83.6353549,29.5418526 L86.8053549,32.7118526 C87.3164759,33.2220867 87.6036954,33.9146452 87.6036954,34.6368526 C87.6036954,35.3590601 87.3164759,36.0516186 86.8053549,36.5618526 Z" id="Path" fill="#F7F7F9"></path>
                            </g>
                        </g>
                    </svg>
                </figure>
                <h4 class="mrg-top-sm mrg-bottom-sm font-weight-normal md-md-fontsize text-blue">
                <%= t('Error Happened')%>
                </h4>
                <p class="font-weight-normal sm-md-fontsize text-blue"><%= t ('Sorry For You') %><br></p>
                <br>
                
                <p class="font-weight-normal sm-md-fontsize text-blue"><%= t('error code') %></p>
                
                <p class="font-weight-normal sm-md-fontsize text-blue"><%= @log.error_code %><br></p>
                <br>

                <% if Rails.application.config.show_error_msg == 1 %>

                <p class="font-weight-normal sm-md-fontsize text-blue"><%= t('error message') %></p>
                
                <p class="font-weight-normal sm-md-fontsize text-blue">
                
                <%= @log.error_msg %><br>
                </p>

                <% end %>    


                <a href="/" class="btn md-padding radius-md text-white text-hover-white bg-black hover-bg-brand mrg-top-lg hlf-e-btm"> <%= t('Back To') %> <%= t('Home page') %> </a>
                <a href="#" class="btn md-padding radius-md text-brand text-hover-white border-brand hover-bg-brand mrg-top-lg hlf-e-btm mrg-right-md"><%= t('Cancel') %></a>
            </div>
        </div>
    </div>
    <!-- || footer scripts start || -->
    <script src="/assets/js/app.min.js"></script>
    <!-- || footer scripts ends || -->
</body>
<!-- || page body ends || -->

</html>