<h1><%= t('New page') %></h1>

<%= render 'form' %>

<%= link_to "<button type='button' class='btn btn-wide btn-primary'><span class='btn-label'><i class='fa fa-plus'></i> </span>#{t('Back')}</button>".html_safe, frontendpages_path , { :class=>'linktop' } %>
