           <% content_for :title, t('Help') %>
           <% content_for :icon, 'Dashboard' %>
                <section class="section mrg-bottom-sm padding-hor-lg bg-white pad-top-md pad-bottom-md s-boxshadow radius-light">
                    <h3 class="page-icon lg-md-fontsize text-dbrand mrg-bottom-sm hlf-e-btm">
                        <i class="icon ic-icons-313"></i>
                    </h3>
                    <div class="page-title l-height-md mrg-bottom-md">
                        <div class="row row-default button-row">
                            <div class="col-xs-12">
                                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                                   <%= @frontendpage.title%>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="content demo-y height-546 btm-bg-grd text-black mrg-bottom-sm">
                        <p>
                            <%= @frontendpage.pagecontent%>
                        </p>
                    </div>
                    <div class="self-btn-group">
                        <a href="#" class="btn md-padding radius-md text-brand text-hover-white border-brand hover-bg-brand mrg-left-xs mrg-bottom-xs">ديدج معدلا </a>
                        <a href="#" class="btn md-padding radius-md text-white text-hover-white bg-black hover-bg-brand mrg-left-xs mrg-bottom-xs">ديدج معدلا </a>
                        <a href="#" class="btn md-padding radius-md text-white text-hover-white bg-dgray hover-bg-brand mrg-bottom-xs">ديدج معدلا </a>
                    </div>
                </section>
