<%= form_for(@currencies_withdraw_ratio) do |f| %>
  <% if @currencies_withdraw_ratio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currencies_withdraw_ratio.errors.count, "error") %> prohibited this currencies_withdraw_ratio from being saved:</h2>

      <ul>
      <% @currencies_withdraw_ratio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :currency_id %><br>
    <%= f.select :currency_id, CurrenciesWithdrawType.all.collect {|p| [ p.name, p.id ] },{ :prompt => t('Select a With Draw Currency')}, {  :class => 'form-control' } %>


  </div>
  <p>
    <%= f.label t('صورة لوجو') %><br />
    <%= f.file_field  :ima,:class => 'form-control' %>
  </p>
  
  <div class="field">
    <%= f.label :hint %><br>
    <%= f.text_field :hint %>
  </div>
  <div class="field">
    <%= f.label :ratio_bank %><br>
    <%= f.text_field :ratio_bank %>
  </div>
  <div class="field">
    <%= f.label :ratio_company %><br>
    <%= f.text_field :ratio_company %>
  </div>
  <div class="field">
    <%= f.label :additional_expenses %><br>
    <%= f.text_field :additional_expenses %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
