<p id="notice"><%= notice %></p>

<h1>Listing Currencies Withdraw Ratios</h1>

<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns">

<table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th>Name</th>
      <th>Withdraw type</th>
      
      <th>Hint</th>
            <th>image</th>

      <th>Ratio bank</th>
      <th>Ratio company</th>
      <th>Additional expenses</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies_withdraw_ratios.each do |currencies_withdraw_ratio| %>
      <tr>
      <%       @currencies_withdraw_type = CurrenciesWithdrawType.find_by_id(currencies_withdraw_ratio.currency_id) %>

        <td><%= currencies_withdraw_ratio.name %></td>
        <td><%= @currencies_withdraw_type.name %></td>
        <td><%= currencies_withdraw_ratio.hint %></td>
    <td><%= image_tag currencies_withdraw_ratio.ima.url %></td>

        <td><%= currencies_withdraw_ratio.ratio_bank %></td>
        <td><%= currencies_withdraw_ratio.ratio_company %></td>
        <td><%= currencies_withdraw_ratio.additional_expenses %></td>
        <td><%= link_to image_tag('/style/images/icon_'+currencies_withdraw_ratio.status.to_s+'.png') %></td>
        <td><%= link_to 'Show', currencies_withdraw_ratio %></td>
        <td><%= link_to 'Edit', edit_currencies_withdraw_ratio_path(currencies_withdraw_ratio) %></td>
        <td><%= link_to 'Destroy', currencies_withdraw_ratio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>

<br>

<%= link_to 'New Currencies withdraw ratio', new_currencies_withdraw_ratio_path %>





