<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currencies_withdraw_ratio.name %>
</p>
        <%       @currencies_withdraw_type = CurrenciesWithdrawType.find_by_id(@currencies_withdraw_ratio.currency_id) %>

<p>
  <strong>Withdraw type:</strong>

  <%= @currencies_withdraw_type.name %>
</p>


<p>
  <strong>Hint:</strong>
  <%= @currencies_withdraw_ratio.hint %>
</p>

<p>
  <strong>Ratio bank:</strong>
  <%= @currencies_withdraw_ratio.ratio_bank %>
</p>

<p>
  <strong>Ratio company:</strong>
  <%= @currencies_withdraw_ratio.ratio_company %>
</p>

<p>
  <strong>Additional expenses:</strong>
  <%= @currencies_withdraw_ratio.additional_expenses %>
</p>

<p>
  <strong>Status:</strong>
  <%= @currencies_withdraw_ratio.status %>
</p>

<%= link_to 'Edit', edit_currencies_withdraw_ratio_path(@currencies_withdraw_ratio) %> |
<%= link_to 'Back', currencies_withdraw_ratios_path %>
