<p id="notice"><%= notice %></p>

<h1>Listing Currencies Withdraw Ratios</h1>

<div class="table-rep-plugin"><div class="table-responsive" data-pattern="priority-columns">

<table id="datatable" class="table  table-stylish">
  <thead>
    <tr>
      <th>Name</th>
      <th>Withdraw type</th>
      
            <th>image</th>

      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies_withdraw_ratios.each do |currencies_withdraw_ratio| %>
      <tr>
      <%       @currencies_withdraw_type = CurrenciesWithdrawType.find_by_id(currencies_withdraw_ratio.currency_id) %>

        <td><%= currencies_withdraw_ratio.name %></td>
        <td><%= @currencies_withdraw_type.name %></td>

        
    <td><%= image_tag currencies_withdraw_ratio.ima.url %></td>

        <td><%= link_to image_tag('/style/images/icon_'+currencies_withdraw_ratio.status.to_s+'.png') %></td>
        <td><%= link_to 'استخدم هذه الطريقة', new_balances_withdraw_path(:country => @currencies_withdraw_type.country_code,:id => currencies_withdraw_ratio.id) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>

<br>






