 <%= debug  @uinbox  %>
 

<div class="app-content">
				<!-- start: TOP NAVBAR -->
				<header class="navbar navbar-default navbar-static-top">
					<!-- start: NAVBAR HEADER -->
					<div class="navbar-header">
						<button href="#" class="sidebar-mobile-toggler pull-right btn no-radius hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
							<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" href="/"> <img src="/adminstyle/images/logo.png"  alt="Packet"/> </a>
						<a class="navbar-brand navbar-brand-collapsed" href="/"> <img src="/adminstyle/images/logo-s.png" alt="" /> </a>

						<button class="btn pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse" data-toggle-class="menu-open">
							<i class="fa fa-folder closed-icon"></i><i class="fa fa-folder-open open-icon"></i><small><i class="fa fa-caret-down margin-left-5"></i></small>
						</button>
					</div>
					<!-- end: NAVBAR HEADER -->
					<!-- start: NAVBAR COLLAPSE -->
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-left hidden-sm hidden-xs">
							<li class="sidebar-toggler-wrapper">
								<div>
									<button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg">
										<i class="fa fa-bars"></i>
									</button>
								</div>
							</li>
							<li>
								<a href="#" class="toggle-fullscreen"> <i class="fa fa-expand expand-off"></i><i class="fa fa-compress expand-on"></i></a>
							</li>
							<li>
								<form role="search" class="navbar-form main-search" action="admin/products/search" >
									<div class="form-group">
										<input type="text" placeholder='<%= t("Enter search text here") %>'  name="squery" class="form-control">
										<button class="btn search-button" type="submit">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</form>
							</li>
						</ul>
						<ul class="nav navbar-right">
							<!-- start: MESSAGES DROPDOWN -->
							<li class="dropdown">
								<a href class="dropdown-toggle" data-toggle="dropdown"> <span class="badge"> <%= 
								
								if @uinbox != nil
								@uinbox.length.to_s 
								end
								
								%> </span> <i class="fa fa-envelope"></i> </a>
								<ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
									<li>
										<span class="dropdown-header"> <%= t("Unread messages") %></span>
									</li>
									<li>
										<div class="drop-down-wrapper ps-container">
											<ul>
											<%	if @uinbox != nil	-%>
												
																						 <% 
																						 
																						 @uinbox.each do |usinbox| 
																							
																							-%>

												<li class="unread">
													<a href="javascript:;" class="unread">
													<div class="clearfix">
														<div class="thread-image">
															<i class='fa fa-user'> </i>  
														</div>
														<div class="thread-content">
															<span class="author"><%= usinbox.user_id %></span>
															<span class="preview"><%= usinbox.subject %>...</span>
															<span class="time"> <%= usinbox.created %></span>
														</div>
													</div> </a>
												</li>

                                                                                        <% end -%>
                                                                                        <% end -%>
																						

											</ul>
										</div>
									</li>
									<li class="view-all">
										<a href="/userinboxtos">  <%= t('See All') %></a>
									</li>
								</ul>
							</li>
							<!-- end: MESSAGES DROPDOWN -->
							<!-- start: ACTIVITIES DROPDOWN -->
							<li class="dropdown">
								<a href class="dropdown-toggle" data-toggle="dropdown"><span class="badge"> <%= 
								if @unote != nil
								@unote.length.to_s 
								end
								%> </span> <i class="fa fa-bell"></i> </a>
								<ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
									<li>
										<span class="dropdown-header"> <%= t('You have new notifications') %></span>
									</li>
									<%	if @unote != nil	-%>
									
                                                                     <% @unote.each do |usnote| -%>

									<li>
										<div class="drop-down-wrapper ps-container">
											<div class="list-group no-margin">
 												<a class="media list-group-item" href=""> <span class="media-body block no-margin"> <%= usnote.stats %></small> </span> </a>
											</div>
										</div>
									</li>
																  <% end -%>
												 <% end -%>
																  

									<li class="view-all">
										<a href="/notifications">  <%= t('See All') %> </a>
									</li>
								</ul>
							</li>
							<!-- end: ACTIVITIES DROPDOWN -->
							<!-- start: LANGUAGE SWITCHER -->
							<li class="dropdown">
								<a href class="dropdown-toggle" data-toggle="dropdown"> <i class="flag-icon flag-icon-us"></i> English </a>
								<ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
									<li><%= link_to t("English"), '?locale=en' %>  </li>
                                        				<li><%= link_to t("Arabic"), '?locale=ar' %> </li>
								</ul>
							</li>
							<!-- end: LANGUAGE SWITCHER -->
						</ul>
						<!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
						<div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
							<div class="arrow-left"></div>
							<div class="arrow-right"></div>
						</div>
						<!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
					</div>
					<button class="sidebar-mobile-toggler dropdown-off-sidebar btn hidden-md hidden-lg"  data-toggle-class="app-offsidebar-open" data-toggle-target="#app" data-toggle-click-outside="#off-sidebar">
						&nbsp;
					</button>
					<button class="dropdown-off-sidebar btn hidden-sm hidden-xs" data-toggle-class="app-offsidebar-open" data-toggle-target="#app" data-toggle-click-outside="#off-sidebar">
						&nbsp;
					</button>
					<!-- end: NAVBAR COLLAPSE -->
				</header>
				<!-- end: TOP NAVBAR -->
                              
                               <div class="main-content" >

                                       <div class="wrap-content container" id="container">
						<!-- start: BREADCRUMB -->
						<div class="breadcrumb-wrapper">
							<h4 class="mainTitle no-margin">Welcome to Payerz</h4>
							<span class="mainDescription"><%= yield(:title) %></span>
							<ul class="pull-right breadcrumb">
								<li>
									<a href="index.html"><i class="fa fa-home margin-left-5 text-large text-dark"></i><%= t('Dashboard') %></a>
								</li>
								<li>
								<%= yield(:title) %>ddd	
								</li>
							</ul>
						</div>
	<!-- end: BREADCRUMB -->
						<!-- start: FIRST SECTION -->
						<div class="container-fluid container-fullw padding-bottom-10">
							<div class="row">
								<div class="col-sm-12">