              </div>
			</div>
                           </div>
                      </div>
			</div>
                           </div>
			<!-- start: FOOTER -->
			<footer>
				<div class="footer-inner">
					<div class="pull-right">
						<div class="copy-rights">&copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Payerz LLC. All rights reserved</span></div>
					</div>
					<div class="pull-left">
						<span class="go-top"><i class="ti-angle-up"></i></span>
					</div>
				</div>
			</footer>


			<!-- start: SETTINGS -->
			<div class="settings panel panel-default hidden-xs hidden-sm" id="settings">
				<button data-toggle-class="active" data-toggle-target="#settings" class="btn btn-default">
					<i class="fa fa-spin fa-gear"></i>
				</button>
				<div class="panel-heading">
					Style Selector
				</div>
				<div class="panel-body">
					<!-- start: FIXED HEADER -->
					<div class="setting-box clearfix">
						<span class="setting-title pull-left"> Fixed header</span>
						<span class="setting-switch pull-right">
							<input type="checkbox" class="js-switch" id="fixed-header" />
						</span>
					</div>
					<!-- end: FIXED HEADER -->
					<!-- start: FIXED SIDEBAR -->
					<div class="setting-box clearfix">
						<span class="setting-title pull-left">Fixed sidebar</span>
						<span class="setting-switch pull-right">
							<input type="checkbox" class="js-switch" id="fixed-sidebar" />
						</span>
					</div>
					<!-- end: FIXED SIDEBAR -->
					<!-- start: CLOSED SIDEBAR -->
					<div class="setting-box clearfix">
						<span class="setting-title pull-left">Closed sidebar</span>
						<span class="setting-switch pull-right">
							<input type="checkbox" class="js-switch" id="closed-sidebar" />
						</span>
					</div>
					<!-- end: CLOSED SIDEBAR -->
					<!-- start: FIXED FOOTER -->
					<div class="setting-box clearfix">
						<span class="setting-title pull-left">Fixed footer</span>
						<span class="setting-switch pull-right">
							<input type="checkbox" class="js-switch" id="fixed-footer" />
						</span>
					</div>
					<!-- end: FIXED FOOTER -->
					<!-- start: THEME SWITCHER -->
					<div class="colors-row setting-box">
						<div class="color-theme lyt1-theme-1">
							<div class="color-layout">
								<label>
									<input type="radio" name="setting-theme" value="lyt1-theme-1">
									<span class="fa fa-check-circle lyt-check text-extra-large"></span> <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"><i class="color-button"></i></span> </span> <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span> </label>
							</div>
						</div>
						<div class="color-theme lyt1-theme-2">
							<div class="color-layout">
								<label>
									<input type="radio" name="setting-theme" value="lyt1-theme-2">
									<span class="fa fa-check-circle lyt-check text-extra-large"></span> <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"><i class="color-button"></i></span> </span> <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span> </label>
							</div>
						</div>
					</div>
					<div class="colors-row setting-box">
						<div class="color-theme lyt1-theme-3">
							<div class="color-layout">
								<label>
									<input type="radio" name="setting-theme" value="lyt1-theme-3">
									<span class="fa fa-check-circle lyt-check text-extra-large"></span> <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"><i class="color-button"></i></span> </span> <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span> </label>
							</div>
						</div>
						<div class="color-theme lyt1-theme-4">
							<div class="color-layout">
								<label>
									<input type="radio" name="setting-theme" value="lyt1-theme-4">
									<span class="fa fa-check-circle lyt-check text-extra-large"></span> <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"><i class="color-button"></i></span> </span> <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span> </label>
							</div>
						</div>
					</div>
					<div class="colors-row setting-box">
						<div class="color-theme lyt1-theme-5">
							<div class="color-layout">
								<label>
									<input type="radio" name="setting-theme" value="lyt1-theme-5">
									<span class="fa fa-check-circle lyt-check text-extra-large"></span> <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"><i class="color-button"></i></span> </span> <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span> </label>
							</div>
						</div>
						<div class="color-theme lyt1-theme-6">
							<div class="color-layout">
								<label>
									<input type="radio" name="setting-theme" value="lyt1-theme-6">
									<span class="fa fa-check-circle lyt-check text-extra-large"></span> <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"><i class="color-button"></i></span> </span> <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span> </label>
							</div>
						</div>
					</div>
					<!-- end: THEME SWITCHER -->
					<div class="panel-footer">
						<button class="btn btn-primary ladda-button btn-squared btn-sm btn-o" data-style="slide-up" data-spinner-size="10" data-spinner-color="#999999" id="reset-layout">
							<span class="ladda-label">Reset</span>
						</button>
						<button class="btn btn-primary ladda-button pull-right btn-squared btn-sm btn-wide" data-style="slide-up" data-spinner-size="10" id="save-layout">
							<span class="ladda-label">Save</span>
						</button>
					</div>
				</div>
			</div>
			<!-- end: SETTINGS -->
