


<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
                <div class="sidebar app-aside" id="sidebar">
				<div class="sidebar-container perfect-scrollbar">
                    <!--- Divider -->
                    <div>
                                        <!-- start: SEARCH FORM -->
						<div class="search-form hidden-md hidden-lg">
							<a class="s-open" href="#"> <i class="ti-search"></i> </a>
							<form class="navbar-form" role="search">
								<a class="s-remove" href="#" target=".navbar-form"> <i class="ti-close"></i> </a>
								<div class="form-group">
									<input type="text" class="form-control" placeholder='<%= t("Enter search text here") %>...' >
									<button class="btn search-button" type="submit">
										<i class="ti-search"></i>
									</button>
								</div>
							</form>
						</div>
						<!-- end: SEARCH FORM -->
						<!-- start: USER OPTIONS -->
						<div class="nav-user-wrapper">
							<div class="media">
								<div class="media-left">
									<a class="profile-card-photo" href="#">
										<%= image_tag current_userd.avatar.url(:thumb) %>
									</a>
								</div>
								<div class="media-body">
									<span class="media-heading text-white"><%= current_userd.username %></span>
									<div class="text-small text-white-transparent">
										<%= current_userd.role.name %>
									</div>
								</div>
								<div class="media-right media-middle">
									<div class="dropdown">
										<button href class="btn btn-transparent text-white dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-caret-down"></i>
										</button>
										<ul class="dropdown-menu animated fadeInRight pull-right">
											<li>
											<a href="javascript:void(0)"><i class="ti-user m-r-5"></i>  <%= t("Logged in as") %> : <%= current_userd.username %>  </a>
 											</li>
											<li>
											<%= link_to (  "<i class='ti-user m-r-5'></i> " +t("Account Settings") ).html_safe , account_settings_path %> 
 											</li>
 				

											<%= link_to (  "<i class='ti-user m-r-5'></i> " + t("edit user data") ).html_safe , edit_userd_registration_path %>
 											</li>
										 
											<li class="divider"></li>
											<li>
											<%= link_to ( "<i class='ti-power-off m-r-5'></i> "+ t("Log out") ).html_safe , destroy_userd_session_path, :method => :get %> 
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- end: USER OPTIONS -->

						<nav>
							<!-- start: MAIN NAVIGATION MENU -->
							<div class="navbar-title">
								<span> </span>
							</div>
 							<ul class="main-navigation-menu">

			                     <li class=" <% if controller.controller_name == "homepages" && controller.action_name == "home" %>active open<%end%> ">
			                     	<a href="<%=root_path%>">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-home"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Home') %></span>
										</div>
									</div> </a>
									
 			 					</li>
			                     <li class=" <% if controller.controller_name == "notifications"  %>active open<%end%> ">
								    	<a href="/notifications">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-bell"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Notifications') %></span>
										</div>
									</div> </a>
									
 			 					</li>
			                     <li class=" <% if controller.controller_name == "settings" || controller.controller_name == "departments" || controller.controller_name == "banks_lists" %>active open<%end%> ">
			 					<a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-cog"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Settings') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
									<ul class="sub-menu">
									<li > <%= link_to t("General Settings"), :controller => :settings %> </li>
									  <li> <%= link_to t("Staff Departments"), :controller => :departments %></li>
								     <li  ><%= link_to t("العملات"), :controller => :currencies_withdraw_ratios %> </li>
									 <li  ><%= link_to t("انواع طرق السحب"), :controller => :currencies_withdraw_types %> </li>
									 <li  ><%= link_to t("تحويل رصيد من عضو لاخر"), :controller => :users_wallets_balances_frozens %> </li>

									</ul>
								</li>
									
									
									
									
			                       
			                     <li class=" <% if controller.controller_name == "tm_tasks_activities"  ||controller.controller_name == "tm_tasks"  || controller.controller_name == "tm_tasks_completeds" || controller.controller_name == "tm_tasks_notifications" %>active open<%end%> ">
								<a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-bookmark"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Team Tasks') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
									
							 
								  <ul class="sub-menu">
									   <li > <%= link_to t("tasks"), :controller => :tm_tasks %> </li>
									   <li> <%= link_to t("tasks activities"), :controller => :tm_tasks_activities %></li>
			  						   <li  ><%= link_to t("tasks completed"), :controller => :tm_tasks_completeds %> </li>
			  						   <li  ><%= link_to t("tasks notifications"), :controller => :tm_tasks_notifications %> </li>

								  </ul>
								</li>

			                     <li class=" <% if controller.controller_name == "homepages" && controller.controller_name == "frontendpages" %>active open<%end%> ">
			  					 <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-globe"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Front End') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
									
							 
								  <ul class="sub-menu">
									   <li > <%= link_to t("Home page"), :controller => :homepages %> </li>
									   <li> <%= link_to t("Frontend pages"), :controller => :frontendpages %></li>
									   <li><%= link_to t("customdata"), :controller => :customsdata ,:action => :index %> </li>
											<li>
						

			 
								  </ul>
								</li>
			                     <li class=" <% if controller.controller_name == "userinboxtos"   %>active open<%end%> ">
				                    <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-envelope"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Inbox') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
									
								 
								  <ul class="sub-menu">
									   <li > <%= link_to t("ALL inbox"), :controller => :userinboxtos %> </li>
									   <li> <%= link_to t("Inbox"), :controller => :userinboxtos %></li>
									  <li> <%= link_to t("Message to all"), :controller => :userinboxtos ,:action => :mesgall %></li>

			 
								  </ul>
								</li>


			                     <li class=" <% if controller.controller_name == "users" ||controller.controller_name == "roles" || controller.controller_name == "role_privileges"  || controller.controller_name == "users_groups" %>active open<%end%> ">
			                          <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-users"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Users') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
									
 
								  <ul class="sub-menu">
									   <li><%= link_to t("Users"), allusers_path %></li>
									   <li><%= link_to t("Roles"), :controller => :roles %> </li>
			 						   <li><%= link_to t("Role Privileges"), :controller => :role_privileges %> </li>
									   <li><%= link_to t("Users Groups"), :controller => :users_groups %> </li>
								       <li><%= link_to t("تفعيل حسابات الاعضاء"), :controller => :user_verifications ,:action => :admin_panel %> </li>


			 					  </ul>
								</li>	

			                     <li class=" <% if controller.controller_name == "company_balances"|| controller.controller_name == "company_banks" %>active open<%end%> ">
			                                   <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-laptop"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Company') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
 
								  <ul class="sub-menu">
			                           <li > <%= link_to t("company banks"), :controller => :company_banks %></li>
									   <li > <%= link_to t("Company Balances"), :controller => :company_balances %> </li>
								  </ul>
								</li>

			                     <li class=" <% if controller.controller_name == "coupons"  %>active open<%end%> ">
				                            <a href="/coupons">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-heart"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Coupones') %></span> </i>
										</div>
									</div> </a>
									
 			 					</li>

			                     <li class=" <% if controller.controller_name == "balances_withdraws"  || controller.controller_name == "users_banks"  %>active open<%end%> ">
				                          <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-money"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Users Balances') %></span> <i class="icon-arrow"></i>
										</div>
									</div> </a>
									
	 
								  <ul class="sub-menu">
									   <!-- <li> <%# link_to t("Users Balances"), :controller => :users_balances %></li> -->
									  <li> <%= link_to t("Users Balances"), :controller => :users_wallets_balances ,:action => :userswallets %></li> 


									   									   
									   <li> <%= link_to t("Balances Withdraws"), :controller => :balances_withdraws %></li>
									   <li > <%= link_to t("Users Banks List"), :controller => :users_banks %> </li>

								  </ul>
								</li>

			                     <li class=" <% if controller.controller_name == "tickets"  %>active open<%end%> ">
			                          <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-tags"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Tickets') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
									
 
								  <ul class="sub-menu">
									   <li><%= link_to t("Tickets Review") + " " + @pindingticket.to_s + "   "+t("Pending") , adminticket_path %>    </li>
			                           <li> <%= link_to t("All Tickets"), :controller => :tickets %> </li>
								  </ul>
								</li>


			                     <li class=" <% if controller.controller_name == "carts"  %>active open<%end%> ">
			                           <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-credit-card"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Carts') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
									
 
								  <ul class="sub-menu">
									   <li ><%= link_to t("Carts"), :controller => :carts %></li>
									   <li><%= link_to t("Carts Generation"), generatecarts_path %></li>
									   <li><%= link_to t("Buy Cart"), buycart_path %></li>
								  </ul>
								</li>

			                     <li class=" <% if controller.controller_name == "balance_actions" || controller.controller_name == "balances_operations" %>active open<%end%> ">
			                         <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-file-text-o"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Balances Actions') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
 
								  <ul class="sub-menu">
			                                                   <li> <%= link_to t("Balance Operations"), :controller => :transactions %> </li>
									   <li> <%# link_to t("Balance Actions"), :controller => :balance_actions %> </li>
								  </ul>
								</li>


			                     <li class=" <% if controller.controller_name == "helpfaqs" || controller.controller_name == "helpcomments" %>active open<%end%> ">
			                           <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-life-ring"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Help Center') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
									
								   
								  <ul class="sub-menu">
									   <li ><%= link_to t("Help Center"), :controller => :helpfaqs %></li>
									   <li  ><%= link_to t("Help Center Comments"), :controller => :helpcomments %> </li>
			 
									    
								  </ul>
								</li>


			                     <li class=" <% if controller.controller_name == "services" || controller.controller_name == "service_operations" %>active open<%end%> ">
			                          <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-rocket"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Services') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>
							 
								  <ul class="sub-menu">
									   <li><%= link_to t("Services"), :controller => :services %></li>
									   <li><%= link_to t("Service Operations"), :controller => :service_operations %> </li>
			 
									    
								  </ul>
								</li>					 


			                                     


			                     <li class=" <% if controller.controller_name == "balances_operations"  %>active open<%end%> ">
			                            <a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-suitcase"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('Add Balance') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>  
			                       
 
								  <ul class="sub-menu">

									 <li><%= link_to t("Add Balance From Cart"), cartbalance_path %></li>
			                           <li> <%= link_to t("Add Balance from paypal"), paypal_path %></li>
				 					<li> <%= link_to t("Add Balance from cashu"), cashu_path %></li>
									<li> <%= link_to t("Add Balance from perfect Money"), perfectmoney_path %></li>
									<li> <%= link_to t("Add Balance from Web Money"), webmoney_path %></li>
									<li> <%= link_to t("Add Balance from One Card"), onecard_path %></li>
			 					       <li>  <%= link_to t("Add Balance from Visa"), visa_path %></li>
									    
								  </ul>
								</li>	
			                     <li class=" <% if controller.controller_name == "watchdogs"  %>active open<%end%> ">
			                          <a href="/watchdogs">
									<div class="item-content">
										<div class="item-media">
											<i class="fa fa-street-view"></i>
										</div>
										<div class="item-inner">
											<span class="title"> <%= t('the watchdog') %></span><i class="icon-arrow"></i>
										</div>
									</div> </a>  
 			 					</li>
					 
              </ul>
              <!-- sidebar menu end-->
			  <nav>
          </div>
      </div>
 </div>

 
