    <!-- ======= 15.07 Footer Seven Area ====== -->

	<footer class="footer Seven">
		<div class="footerTop sectionPadding">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-5">
						<div class="footerInfo widget">
							<a href="" class="footerLogo"><img src="img/footer/footer-logo-1.png" alt=""></a>
							<div class="footerTxt">
								<p>Ut wisi enim ad minim veniam, exerci <br>tation ullamcorper suscipit aliquip <br>ex ea commodo.</p>
							</div>
							<ul class="footerSocial">
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="footerInfo widget">
							<div class="h4">Useful Links</div>
							<ul class="footerLinks">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Private Policy</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Career</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
					    <div class="contactInfo widget">
					        <div class="call">
					            <div class="icon"><i class="icofont icofont-phone"></i></div>
					            <div class="contactRight">
					                <p><%=   t('phone') %></p>
					                <span><%=   @phone.value %></span>
					            </div>
					        </div>
					        <div class="address">
					            <div class="icon"><i class="icofont icofont-social-google-map"></i></div>
					            <div class="contactRight">
					                <p><%=   t('address') %></p>
					                <span><%=   @address.value %></span>
					            </div>
					        </div>
					        <div class="email">
					            <div class="icon"><i class="icofont icofont-envelope"></i></div>
					            <div class="contactRight">
					                <p><%=   t('email') %></p>
					                <span><%=   @semail.value %></span>
					            </div>
					        </div>
					    </div>
					</div>
					<div class="col-md-3 col-sm-12">
						<div class="footerInfo widget">
							<div class="h4">Flickr</div>
							<div class="flickr-badge">
							    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footerBottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="cpTxt">
							<p>Copyright  &copy;2016 by CrazyCafe &nbsp;  | &nbsp;  All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="topScrl"><i class="icofont icofont-thin-up"></i></a>
		</div>
	</footer>
    
    <!-- ======= /15.07 Footer Seven Area ====== -->
	