
   <!-- ======= 19.01 single-about One Area ====== -->

		<header class="singleHead">
			<div class="headerTop">
				<div class="container">
					<div class="row">
						<div class="col-md-12 clearfix">
							<ul class="headerInfo">
								
							</ul>
							<ul class="joinForm">
		<% if current_userd  %>

 				 <li class="logIn"><a href="javascript:void(0)"> <%= t("Logged in as") %> : <%= current_userd.email %>  <i class="ti-user m-r-5"></i></a> </li>
			 	 <li class="joinUs hvr-bounce-to-right"><%= link_to (  t("Account Settings")+"<i class='ti-user m-r-5'></i> " ).html_safe , account_settings_path %> </li>

                                 <li class="logIn" > <%= link_to (  t("edit user data")+"<i class='ti-user m-r-5'></i> " ).html_safe ,  edit_userd_registration_path %>   </li>

                                  <li class="logIn" ><%= link_to (  t("Log out")+"<i class='ti-power-off m-r-5'></i> " ).html_safe , destroy_userd_session_path, :method => :get %>  </li>



		<% else %>
                                 <li class="logIn"><%= link_to (  t("Log in")+"<i class='ti-power-off m-r-5'></i> " ).html_safe , new_userd_session_path %> </li>
			 	 <li class="joinUs hvr-bounce-to-right"><%= link_to (  t("Register")+"<i class='ti-power-off m-r-5'></i> " ).html_safe , new_userd_registration_path %></li>
		<% end %>






							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="headerBottom">
				<div class="container relative">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-4">
							<a href="#" class="logo">
								<img src="/site/img/hero/logo-black.png" alt="logo">
							</a>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-8 static">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									<span class="fa fa-navicon"></span>
								</button>
							</div>
							<nav id="navbar" class="navbar-collapse collapse">
								<ul class="nav navbar-nav navbar-right">
									<li class="current-menu-item"><a href="/"><%= t("Home") %></a>

									</li>
									<li><a href="/servicesf"><%= t("Services") %></a>

									</li>

									<li><a href="#"><%= t("About Us") %></a>
										<ul class="sub-menu">
											<li><a href="/frontendpages/1"><%= t("About Us") %></a></li>
											<li><a href="/frontendpages/5"><%= t("Know about Us") %></a></li>

										</ul>
									</li>
									<li><a href="/faq"><%= t("Faq") %></a>

									</li>

									<li><a href="/frontendpages/3"><%= t("Contact Us") %></a>

									</li>
 				<li  >
                                    <a href="" title=""> <%= t("Language") %> </a>
                                    <ul class="sub-menu">
                                         <li><%= link_to t("English"), '?locale=en' %>  </li>
                                        <li><%= link_to t("Arabic"), '?locale=ar' %> </li>
                                    </ul>
                                </li>


								</ul>
							</nav>
							<div class="searchWrep">
								<span class="searchIcon"><i class="fa fa-search"></i></span>
								<div class="searchBox">
									<form action="#">
										<i class="icofont icofont-close-line-circled"></i>
										<input type="search" placeholder="<%= t("SEARCH HERE") %>...">
										<span class="searchSpan hvr-bounce-to-right"><input type="submit" value="Search"></span>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->
