    <!-- ======= 15.07 Footer Seven Area ====== -->

	<footer class="footer Seven">
		 
		<div class="footerBottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="cpTxt">
							<p>Copyright  &copy;2016 by CrazyCafe &nbsp;  | &nbsp;  All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="topScrl"><i class="icofont icofont-thin-up"></i></a>
		</div>
	</footer>
    
    <!-- ======= /15.07 Footer Seven Area ====== -->
	