 
   <!-- ======= 19.01 single-about One Area ====== -->
    
		<header class="singleHead">
			<div class="headerTop">
				<div class="container">
					<div class="row">
						<div class="col-md-12 clearfix">
							<ul class="headerInfo">
								<li><%= t("NEED HELP? PLEASE CALL") %> &nbsp;&nbsp;&nbsp;&nbsp; <span><%=  @phone.value  %></span></li>
								<li><%= t("email") %> &nbsp;&nbsp;&nbsp;&nbsp; <span><%=   @semail.value %></span></li>
							</ul>
							<ul class="joinForm">
		<% if userd_signed_in?  %>
		
		
 				 <li class="logIn"><a href="javascript:void(0)"> <%= t("Logged in as") %> : <%= current_userd.email %>  <i class="ti-user m-r-5"></i></a> </li>
			 	 <li class="joinUs hvr-bounce-to-right"><%= link_to (  t("Account Settings")+"<i class='ti-user m-r-5'></i> " ).html_safe , account_settings_path %> </li>

                                 <li class="logIn" > <%= link_to (  t("edit user data")+"<i class='ti-user m-r-5'></i> " ).html_safe ,  edit_userd_registration_path %>   </li>

                                  <li class="logIn" ><%= link_to (  t("Log out")+"<i class='ti-power-off m-r-5'></i> " ).html_safe , destroy_userd_session_path, :method => :get %>  </li>


								  
		<% else %>
                                 <li class="logIn"><%= link_to (  t("Log in")+"<i class='ti-power-off m-r-5'></i> " ).html_safe , new_userd_session_path %> </li>
			 	 <li class="joinUs hvr-bounce-to-right"><%= link_to (  t("Register")+"<i class='ti-power-off m-r-5'></i> " ).html_safe , new_userd_registration_path %></li>
		<% end %>
								


							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="headerBottom">
				<div class="container relative">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-4">
							<a href="/" class="logo">
							 <img src="/adminstyle/images/logo.png" />
							</a>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-8 static">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									<span class="fa fa-navicon"></span>
								</button>
							</div>
							<nav id="navbar" class="navbar-collapse collapse">
								<ul class="nav navbar-nav navbar-right">
									<li class="current-menu-item"><a href="/"><%= t("Home") %></a>
									 
									</li>

								

									<li><a href="#"><%= t("security verifications") %></a>
										<ul class="sub-menu">
										<li><%= link_to t('qr verification') , userd_displayqr_path %></li>
										<li > <%= link_to t("account verification"), user_verifications_path  %> </li>
										<li > 	<span>طلب كود يرسل للايميل عند الدخول</span>
										<%= link_to image_tag('/style/images/icon_'+current_userd.active_otp_secret.to_s+'.png')  , active_otp_secret_path(:id => current_userd.id) %> 
										</li>
										
										</ul>
									</li>
								 
									<li><a href="#"><%= t("financial") %></a>
										<ul class="sub-menu">
										<li><%= link_to t('users wallets') , users_wallets_balances_path %></li>
										<li><%= link_to t('wallet transfer') , walletstransfer_path %></li>
										<li > <%= link_to t("Users Banks List"),users_banks_path  %> </li>
										<li  ><%= link_to t("user balance transfer"), users_wallets_balances_frozens_path %> </li>
										<li> <%= link_to t("Balances Withdraws"),balances_withdraws_path %></li>										
										<li><%= link_to t("Carts Details"), usercarts_path %></li>
										<li><%= link_to t("Buy Cart"), buycart_path %></li>
										<li><%= link_to t("Add Balance From Cart"), cartbalance_path %></li>
										
										</ul>
									</li>
									<li><a href="#"><%= t("others") %></a>
										<ul class="sub-menu">
										<li> <%= link_to t("All Tickets"), tickets_path %> </li>
										<li ><%= link_to t("Notifications"), notifications_path %></li>											
										<li><%= link_to t("Service Operations"), service_operations_path %> </li>
										<li><%= link_to t("Service"), services_path %></li>				
										</ul>
									</li>
									<li><a href="#"><%= t("Help") %></a>
										<ul class="sub-menu">
										<li ><%= link_to t("Help Center"), helpfaqs_path %></li>
										
										</ul>
									</li>
									<li><a href="/frontendpages/3"><%= t("Contact Us") %></a>
									 
									</li>
 				<li  >
                                    <a href="" title=""> <%= t("Language") %> </a>
                                    <ul class="sub-menu">
                                         <li><%= link_to t("English"), '?locale=en' %>  </li>
                                        <li><%= link_to t("Arabic"), '?locale=ar' %> </li>
                                    </ul>
                                </li>


								</ul>
							</nav>
							<div class="searchWrep">
								<span class="searchIcon"><i class="fa fa-search"></i></span>
								<div class="searchBox">
									<form action="#">
										<i class="icofont icofont-close-line-circled"></i>
										<input type="search" placeholder="<%= t("SEARCH HERE") %>...">
										<span class="searchSpan hvr-bounce-to-right"><input type="submit" value="Search"></span>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->
		<div class="homeArea">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="singlePgTitle">
							<h1><%= t('User Panel'); %></h1>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul class="pageIndicate">
							<li><a href=""><%= t('Home'); %></a></li>
							<li><a href=""><%= t('User Panel'); %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


 
   
   