<!DOCTYPE html>
<html>
<head>
  <title>High Service Panel </title>
  
   <%= javascript_include_tag "application"  %>

<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />


  <%= stylesheet_link_tag("/adminstyle/bower_components/bootstrap/dist/css/bootstrap.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/css/custom.css") %>

  <%= stylesheet_link_tag("/adminstyle/bower_components/font-awesome/css/font-awesome.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/themify-icons/themify-icons.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/flag-icon-css/css/flag-icon.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/animate.css/animate.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/switchery/dist/switchery.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/ladda/dist/ladda-themeless.min.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/slick.js/slick/slick.css") %>
  <%= stylesheet_link_tag("/adminstyle/bower_components/slick.js/slick/slick-theme.css") %>
  <%= stylesheet_link_tag("/adminstyle/css/styles.css") %>
  <%= stylesheet_link_tag("/adminstyle/css/plugins.css") %>
  <%= stylesheet_link_tag("/adminstyle/css/rtl.css") %>
  <%= stylesheet_link_tag("/adminstyle/css/themes/lyt1-theme-1.css?id=skin_color") %>


  <%# stylesheet_link_tag("/style_#{I18n.locale}.css") %>

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


   <%= csrf_meta_tags %>
</head>

 <body  >


   <!-- Begin page -->
<div id="app">
   

 <%= render :partial => 'layouts/adminside' %>

   <%= render :partial => 'layouts/adminheader' %>



                   <% flash.each do |name, msg| %>
                       <%= content_tag :div, msg, :id => "flash_#{name}" %>
                  <% end %>
 
               <%= yield %>
               
 
 <%= render :partial => 'layouts/adminfooter' %>
	
	  	
				
 </div>
        <!-- END wrapper -->

	<!-- start: MAIN JAVASCRIPTS -->
		<script src="/adminstyle/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/adminstyle/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/adminstyle/bower_components/components-modernizr/modernizr.js"></script>
		<script src="/adminstyle/bower_components/js-cookie/src/js.cookie.js"></script>
		<script src="/adminstyle/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
		<script src="/adminstyle/bower_components/jquery-fullscreen/jquery.fullscreen-min.js"></script>
		<script src="/adminstyle/bower_components/switchery/dist/switchery.min.js"></script>
		<script src="/adminstyle/bower_components/jquery.knobe/dist/jquery.knob.min.js"></script>
		<script src="/adminstyle/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
		<script src="/adminstyle/bower_components/slick.js/slick/slick.min.js"></script>
		<script src="/adminstyle/bower_components/jquery-numerator/jquery-numerator.js"></script>
		<script src="/adminstyle/bower_components/ladda/dist/spin.min.js"></script>
		<script src="/adminstyle/bower_components/ladda/dist/ladda.min.js"></script>
		<script src="/adminstyle/bower_components/ladda/dist/ladda.jquery.min.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="/adminstyle/bower_components/Chart-js/Chart.min.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: Packet JAVASCRIPTS -->
		<script src="/adminstyle/js/letter-icons.js"></script>
		<script src="/adminstyle/js/main.js"></script>
		<!-- end: Packet JAVASCRIPTS -->
		<!-- start: JavaScript Event Handlers for this page -->
		<script src="/adminstyle/js/index.js"></script>

 <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
  <script src="/adminstyle/bower_components/ckeditor/ckeditor.js"></script>
  <script src="/adminstyle/bower_components/ckeditor/adapters/jquery.js"></script>
   <script src="/adminstyle/js/form-text-editor.js"></script>
 
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Index.init();
				TextEditor.init();

			});
		</script>
		<!-- end: JavaScript Event Handlers for this page -->
	</body>


</body>
</html>
