<!DOCTYPE html>
<html>
<head>
  <title>High Service Panel </title>
 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tag %>
  
<%= javascript_include_tag params[:controller] %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
<%= javascript_include_tag :defaults %> #Rails 3.0.x

<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>

  <%= stylesheet_link_tag("/style/plugins/timepicker/bootstrap-timepicker.min.css") %>
  <%= stylesheet_link_tag("/style/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css") %>
  <%= stylesheet_link_tag("/style/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css") %>
  <%= stylesheet_link_tag("/style/plugins/clockpicker/dist/jquery-clockpicker.min.css") %>
  <%= stylesheet_link_tag("/style/plugins/bootstrap-daterangepicker/daterangepicker.css") %>
  <%= stylesheet_link_tag("/style/plugins/morris/morris.css") %>
  <%= stylesheet_link_tag("/style/plugins/sweetalert/dist/sweetalert.css") %>
  <%= stylesheet_link_tag("/style/css/bootstrap.min.css") %>
  <%= stylesheet_link_tag("/style/plugins/morris/morris.css") %>
  <%= stylesheet_link_tag("/style/css/core.css") %>
  <%= stylesheet_link_tag("/style/css/components.css") %>
  <%= stylesheet_link_tag("/style/css/icons.css") %>
  <%= stylesheet_link_tag("/style/css/pages.css") %>
  <%= stylesheet_link_tag("/style/css/responsive.css") %>
  <%= stylesheet_link_tag("/style/css/icons.css") %>

   

  <%# stylesheet_link_tag("/style_#{I18n.locale}.css") %>

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


 <script src="/style/js/modernizr.min.js"></script>
		
		
		
		   <script src="/style/js/jquery.min.js"></script>
        <script src="/style/js/bootstrap.min.js"></script>
		


  <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>

</head>

 <body class="fixed-left">


   <!-- Begin page -->
 <div id="wrapper">
   
 <%= render :partial => 'layouts/header' %>

 <%= render :partial => 'layouts/site' %>

 
 
   <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                      
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

					
					
   <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="page-title">   </h4>
                                <p class="text-muted page-title-alt"> </p>
                            </div>
                        </div>


                   <% flash.each do |name, msg| %>
                       <%= content_tag :div, msg, :id => "flash_#{name}" %>
                  <% end %>
 
               <%= yield %>
               

			   </div> <!-- end content-page -->


                    </div> <!-- container -->
                               
                </div> <!-- content -->

	
	  <footer class="footer">
                    2016 © Service High.
                </footer>
				
				
 </div>
        <!-- END wrapper -->






   
        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
    

 
        <script src="/style/js/detect.js"></script>
        <script src="/style/js/fastclick.js"></script>
        <script src="/style/js/jquery.slimscroll.js"></script>
        <script src="/style/js/jquery.blockUI.js"></script>
        <script src="/style/js/waves.js"></script>
        <script src="/style/js/wow.min.js"></script>
        <script src="/style/js/jquery.nicescroll.js"></script>
        <script src="/style/js/jquery.scrollTo.min.js"></script>
        <!-- jQuery  -->
        <script src="/style/plugins/moment/moment.js"></script>


        <script src="/style/plugins/morris/morris.min.js"></script>
        <script src="/style/plugins/raphael/raphael-min.js"></script>

         <script src="/style/plugins/sweetalert/dist/sweetalert.min.js"></script>

        <!-- Todojs  -->
        <script src="/style/pages/jquery.todo.js"></script>

        <!-- chatjs  -->
        <script src="/style/pages/jquery.chat.js"></script>

        <script src="/style/plugins/peity/jquery.peity.min.js"></script>
		
		<script src="/style/js/jquery.core.js"></script>
        <script src="/style/js/jquery.app.js"></script>

		<script src="/style/pages/jquery.dashboard_2.js"></script>
		
 
     	<script src="/style/plugins/timepicker/bootstrap-timepicker.min.js"></script>
     	<script src="/style/plugins/mjolnic-bootstrap-colorpicker/dist/style/js/bootstrap-colorpicker.min.js"></script>
     	<script src="/style/plugins/bootstrap-datepicker/dist/style/js/bootstrap-datepicker.min.js"></script>
     	<script src="/style/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
     	<script src="/style/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        
        <script>
			jQuery(document).ready(function() {

				// Time Picker
				jQuery('#timepicker').timepicker({
					defaultTIme : true
				});
 
				//colorpicker start

                $('.colorpicker-default').colorpicker({
                    format: 'hex'
                });
                $('.colorpicker-rgba').colorpicker();
                
                // Date Picker
                 jQuery('#datepicker-autoclose').datepicker({
                	autoclose: true,
                	todayHighlight: true
                });
                 
                
                //Clock Picker
                $('.clockpicker').clockpicker({
                	donetext: 'Done'
                });
                
                $('#single-input').clockpicker({
				    placement: 'bottom',
				    align: 'left',
				    autoclose: true,
				    'default': 'now'
				});
				$('#check-minutes').click(function(e){
				    // Have to stop propagation here
				    e.stopPropagation();
				    $("#single-input").clockpicker('<button type="button" class="btn btn-primary waves-effect waves-light "><i class="fa fa-eye"></i></button>'.html_safe)
				          .clockpicker('toggleView', 'minutes');
				});
	
			});
		</script>


</body>
</html>
