<!doctype html>
<html dir='ltr' lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title><%= yield :title %></title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="" />
    <link rel="publisher" href="" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:image:src" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />

    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://payers.net/" />
    <meta property="og:image" content="<%= format_link(request) %>/assets/imgs/content-covre.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />

    <!-- Schema -->
    <script type="/application/ld+json">
        { "@context": "http://schema.org", "@type": "webSite", "url": "http://www.crtivo.studio", "name": "12 Cups Website", "description": "for selling coffee " }
    </script>

    <!-- other SEO info -->
    <meta name="revisit-after" content="5 days">
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="general" />
    <meta name="author" content="" />
    <meta name="copyrights" content="" />
    <meta name="alexaVerifyID" content="" />
    <link rel="alternate" type="<%= format_link(request) %>/application/rss+xml" title="RSS 2.0" href="rsslink" />

    <!-- FavsIcons -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="shortcut icon" type="image/png" href="/icon2.png"/>
    <link rel="apple-touch-startup-image" href="home.png" />

    <%# javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>



   
<% @locale = I18n.locale.to_s %>


    <% if @locale == 'ar' %>
    <link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-rtl.css" />


<% end %>


<% if @locale == 'en' %>

    <link rel="stylesheet" href="<%= format_link(request) %>/assets/css/style-ltr.css" />

<% end %>

    <!-- this line is responsible for destroy go to show -->
    <%= javascript_include_tag "application"  %>

    <%# javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>

        <%# javascript_include_tag "/assets/js/app.min.js"  %>


   <%= csrf_meta_tags %>

    
    <script src="<%= format_link(request) %>/assets/js/app.min.js"></script>
    <script src="<%= format_link(request) %>/assets/js/headerfix.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script> -->

    <script src="<%= format_link(request) %>/jquery.lazyload.js"></script>

    

    <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->

    <!-- Google Analytices Code -->
    <script>


    </script>



   <%# javascript_include_tag :defaults %>
   <%# javascript_include_tag :application %>
   <%# csrf_meta_tag %>

</head>






<body id="home-page">
<div class="wholepage pos-relative min-f-height-vh f-width ">
        <% @user_varification = UserVerification.where('user_id = ?' , current_userd.id).first %>


 <div class="mobile-header">
            <div class="logo-section">
                <a href="<%= format_link(request) %>" class="l-boxshadow">
                    <img src="<%= format_link(request) %>/assets/imgs/white-logo.png" alt="white-logo" class="f-width">
                </a>
            </div>
            <div class="mobile-header__content">
                <div class="mobile-menu">
                    <span></span>
                </div>
                <div class="mobile-notifications">
                    <span class="icon-bell"></span>
                    <span class="numbers">
                    
                    <% if current_userd.f_name == nil || current_userd.l_name == nil || current_userd.nationality == nil || @user_varification.address_line1 == nil || current_userd.f_name == "" || current_userd.l_name == "" || current_userd.nationality == "" || @user_varification.address_line1 == "" || @user_varification.all_verified == 0 %>
                    <%= @notifications.count+1 %>
                    <% else %>
                    <%= @notifications.count %>
                    <% end %>        
                    </span>
                </div>
                <div class="profile-image">


                        <a href="/user_profile">

                 <% if current_userd.avatar == nil %>



                                <img src="<%= format_link(request) %>/blank-profile-pic.png" alt="user-notification" class="imagecover">

                <% else%>
                <%= image_tag  get_attachment(request,current_userd.avatar,"img"),:class => "imagecover" ,:alt => 'user-notification'%>
                <%end %>
            </a>

                </div>
            </div>
        </div>
        <div class="mobile-dropdown-menu">
            <ul>
                <li><a href="<%= format_link(request) %>" title="الرئيسية">الرئيسية</a></li>
                <li class="has-sub"><a href="<%= format_link(request) %>" title="<%= t('Wallets')%>"><%= t('Wallets')%></a>
                    <ul>

                  <% if @dollar_wallet != nil and  @dollar_wallet.is_deleted == 0 %>
                        <li><a href="<%= format_link(request) %>/dollar_wallet" title="<%= t('Dollar Wallet') %>"> <%= t('Dollar Wallet') %></a></li>
                    <% end %>

                        <% if @sar_wallet != nil and @sar_wallet.is_deleted == 0 %>
                        <li><a href="<%= format_link(request) %>/sar_wallet" title="<%= t('Riyal Wallet') %>"> <%= t('Riyal Wallet') %></a></li>
                    <% end %>

                    <% if @egp_wallet != nil and @egp_wallet.is_deleted == 0 %>
                        <li><a href="<%= format_link(request) %>/egp_wallet" title="<%= t('Pound Wallet') %>"> <%= t('Pound Wallet') %></a></li>
                    <% end %>


                    </ul>
                </li>

                <li><a href="<%= format_link(request) %>/buycart" title="<%= t('Add Balance') %>"><%= t('Add Balance') %></a></li>

                <li><a href="<%= format_link(request) %>/balances_withdraws_main" title= "<%= t('Withdraw Requests')%>" ><%= t('Withdraw Requests')%></a></li>
                <li><a href="<%= format_link(request) %>/users_banks" title="<%= t('Bank Accounts') %>"><%= t('Bank Accounts') %></a></li>
                <li><a href="<%= format_link(request) %>/transactions" title="<%= t('Balance Operations') %>"><%= t('Balance Operations') %></a></li>

                <li><a href="<%= format_link(request) %>/notifications" title = "<%= t('Notifications Log') %>"><%= t('Notifications Log') %></a></li>

                <li><a href="<%= format_link(request) %>/help_center" title="<%= t('Help Center')%>"><%= t('Help Center')%></a></li>

                
            </ul>
        </div>




    <div id="dashboard-menu" class="pull-right sr-only-sm-xs">
        <div class="mainmenu">
            <div class="logo-section">
            <a href="<%= format_link(request) %>" class="l-boxshadow">
                    <img src="<%= format_link(request) %>/assets/imgs/white-logo.png" alt="white-logo" class="f-width">
                </a>
            </div>
            <%# debug (@rstoegp) %>
            <%#     @dollar = UsersWalletsBalances.where("user_id = ? and currency = ?",current_userd.id,'USD').first %>
            <%#     @egp = UsersWalletsBalances.where("user_id = ? and currency = ?",current_userd.id,'EGP').first %>
            <%#     @sar = UsersWalletsBalances.where("user_id = ? and currency = ?",current_userd.id,'SAR').first %>

            <div class="mainmenu-navigation">
            <ul class="mainmenu-nav">
            <li id="dashboard-icon" >
                <a href="/user_profile"><span class="icon ic-icons-88"></span></a>
            </li>
           <li id="wallet-icon">
                <a href="#"><span class="icon-wallet"></span></a>
                <ul >
                    <% if @dollar_wallet != nil and  @dollar_wallet.is_deleted == 0 %>
                    <li class="ba-inline">
                                    <a href="/dollar_wallet">
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon1.png" alt="wicon1"> <%= t('Dollar Wallet') %>
                                    </a>
                                    
                        </li>
                        <% end %>

                        <% if @sar_wallet != nil and @sar_wallet.is_deleted == 0 %>
                        <li class="ba-inline">
                                    <a href="/sar_wallet">
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon2.png" alt="wicon2"> <%= t('Riyal Wallet') %>
                                    </a>
                                    
                        </li>
                        <% end %>

                        <li class="ba-inline">
                        	<% if @egp_wallet != nil and @egp_wallet.is_deleted == 0 %>
                                    <a href="/egp_wallet">
                                        <img src="<%= format_link(request) %>/assets/imgs/wicon3.png" alt="wicon3"> <%= t('Pound Wallet') %>
                                    </a>
                                    
                            <% end %>
                            <% if @dollar_wallet == nil or @dollar_wallet.is_deleted == 1 or
                                  @sar_wallet == nil or @sar_wallet.is_deleted == 1 or
                                  @egp_wallet == nil or @egp_wallet.is_deleted == 1 %>

                                    <div class="text-left">
                                        <a id="add_wallet"  href="#" class="btn mrg-top-xs mrg-bottom-sm hlf-e-btm md-padding radius-md bg-black hover-bg-brand text-white text-hover-white"><%= t('Add New Wallet') %></a>
                                   

                                    </div>
                                    <% end %>
                        </li>


                    </ul>
            </li>
            <li id='transactions-id'>
                    <a href="#"><span class="icon-dollor"></span></a>
                    <%# link_to "<span class='icon-dollor'></span>".html_safe, transactions_path  %>

                <ul>
                    <li><a href="<%= format_link(request) %>/userwallet_frozen"><%= t('Pay') %></a></li>
                    <li><a href="<%= format_link(request) %>/buycart"><%= t('Add Balance') %></a></li>
                    <li><a href="<%= format_link(request) %>/cartbalance"><%= t('Charge Account') %></a></li>

                    

                    

                </ul>
            </li>
            <li id='bank-account'>
                <a href="#"><span class="icon-Dashboard"></span></a>
                <ul>
                    <li><a href="<%= format_link(request) %>/users_banks"><%= t('Bank Accounts') %></a></li>
                    <li><a href="<%= format_link(request) %>/credit_cards"><%= t('Credit Cards') %></a></li>

                    <li><a href="<%= format_link(request) %>/users_banks_main"><%= t('Add New Account') %></a></li>


                    
                </ul>
            </li>
            <li id='notification-id'>
                <a href="/notifications"><span class="icon-bell"></span></a>
                <ul>
                     <!-- <li><a href="#">رابط الدمية</a></li> -->
                    <li><a href="/notifications"><%= t('Notifications Log') %></a></li>

                </ul>
            </li>
            <li id='home-id'>
                    <a href="#"><span class="icon-home"></span></a>


                 <%# link_to "<span class='icon-home'></span>".html_safe, balances_withdraws_main_path  %>
                 <ul>
                     <li><a href="/balances_withdraws_main"><%= t('Withdraw Requests')%></a></li>
                     <!-- <li><a href="#">رابط الدمية</a></li> -->
                     <!-- <li><a href="#">رابط الدمية</a></li> -->
                </ul>
            </li>
            <li>
                <a href="#"><span class="icon-History"></span></a>
                <ul>
                    <li><a href="/transactions"><%= t('Balance Operations') %></a></li>
                    <li><a href="/balancereports"><%= t('Balances Actions') %></a></li>
                    <li><a href="/userstatistics"><%= t('statistics') %></a></li>                </ul>
            </li>
            <li id='support-id'>
                    <%# link_to "<span class='icon-Support'></span>".html_safe, tickets_path  %>
                    <a href="#"><span class="icon-Support"></span></a>

                    <ul>
                            
                     <li><a href="/help_center"><%= t('Help Center')%></a></li>
                     <li><a href="https://support.payers.net/support/solutions"><%= t('Common Questions')%></a></li>
                     <!-- <li><a href=""><%# t('Tickets')%></a></li> -->
                     
                </ul>


            </li>
        </ul>
            </div>
        </div>
    </div>
    <div id="dashboard-content" class="pull-left box-size pad-hor-md hlf-btm pos-relative">
    <header class="dashboard-header padding-ver-md clearfix">
        <div class="page-direct pad-top-sm padding-hor-md pull-right">



        <div class="text-black sm-lg-fontsize mrg-right-xs hlf-e-btm">
                <!-- <span class="icon-Dashboard md-lg-fontsize text-color vr-align text-black"></span> -->
                <!-- <title><%= yield :title %></title> -->
                <span class="icon-<%=yield :icon%> md-lg-fontsize text-color vr-align text-black"></span>


                <%= render_breadcrumbs :separator => '<span class="icon text-dbrand ic-icons-515 sm-sm-fontsize mrg-right-xs"></span>   ' %>

        </div>

    </div>
    <div class="pull-right notification-div padding-hor-md pull-left sr-only-sm-xs">
            <div class="pos-relative notification-wrap  border-width-thin radius-lg l-boxshadow bg-white padding-all-sm box-size">
                    <figure class="mrg-left-xs pull-right">

                 <% if current_userd.avatar == nil %>
                                <img src="<%= format_link(request) %>/blank-profile-pic.png" alt="user-notification" class="imagecover">

                <% else%>
                <a href="<%= get_attachment(request,current_userd.avatar,"link") %>" id="profilepop"><%= image_tag  get_attachment(request,current_userd.avatar,"img"),:class => "imagecover" ,:alt => 'user-notification'%></a>
                <%end %>
            </figure>
            <div class="pull-right notification-by">
                    <h5 class="sm-md-fontsize font-bold mrg-bottom-xs hlf-e-btm text-dbrand"><%= current_userd.f_name %> <%= " "%> <%= current_userd.l_name %></h5>
                    <h6 class="sm-sm-fontsize font-light text-dgray"><a href="/user_profile"><%= t('Account Settings') %><i class="icon ic-icons-88 sm-xs-fontsize"></i></a></h6>

            </div>

            <div class="pull-left notification-power mrg-left-xs hlf-e-btm">
                <a href="/userds/sign_out" class="notification-power-a">
                    <img src="<%= format_link(request) %>/assets/imgs/power.png" alt="power">
                </a>
            </div>
            <div class="pull-left notification-alert pad-left-sm hlf-e-btm">
                    <span class="icon-bell md-lg-fontsize vr-align text-dbrand"></span>
                    <% if current_userd.f_name == nil || current_userd.l_name == nil || current_userd.nationality == nil || @user_varification.address_line1 == nil || current_userd.f_name == "" || current_userd.l_name == "" || current_userd.nationality == "" || @user_varification.address_line1 == "" || @user_varification.all_verified == 0 %>
                    <span class="number-notification text-white text-center sm-sm-fontsize"><%= @notifications.count+1 %></span>
                    <% else %>
                    <span class="number-notification text-white text-center sm-sm-fontsize"><%= @notifications.count %></span>
                    <% end %>
                </div>

                <!-- <div class="pull-left notification-power mrg-left-xs hlf-e-btm">
                        <a href="/userds/sign_out" class="notification-power-a">
                            <img src="<%= format_link(request) %>/assets/imgs/power.png" alt="power">
                        </a>
                    </div> -->

        </div>


        <div class="notification-dropdown">
            <ul class="notifications-menu">
                
                <% if current_userd.f_name == nil || current_userd.l_name == nil || current_userd.nationality == nil || @user_varification.address_line1 == nil || current_userd.f_name == "" || current_userd.l_name == "" || current_userd.nationality == "" || @user_varification.address_line1 == ""  %>
                <li>

                    <a id="" >

                        <figure>
                                <% if current_userd.avatar == nil %>
                                <img src="<%= format_link(request) %>/blank-profile-pic.png" alt="user-notification" class="imagecover">

                               <% else%>
                                <%= image_tag  get_attachment(request,current_userd.avatar,"img"),:class => "imagecover" ,:alt => 'user-notification'%>
                                <%end %>
                         </figure>
                        <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= link_to t('complete your data')  , user_profile_path(:id => current_userd.id) %></h5>
                    </a>
                </li>
                
                <%# end %>
                <% elsif  @user_varification.all_verified == 0 %>
                <li>

                    <a id="" >

                        <figure>
                                <% if current_userd.avatar == nil %>
                                <img src="<%= format_link(request) %>/blank-profile-pic.png" alt="user-notification" class="imagecover">

                               <% else%>
                                <%= image_tag  get_attachment(request,current_userd.avatar,"img"),:class => "imagecover" ,:alt => 'user-notification'%>
                                <%end %>
                         </figure>
                        <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= link_to t('activate your account')  , all_verifications_path(:id => current_userd.id) %></h5>
                    </a>
                </li>

                <% elsif @notifications.count == 0 %>

                        <li>

                        <a id="" >

                            <figure>
                                      <% if current_userd.avatar == nil %>
                                <img src="<%= format_link(request) %>/blank-profile-pic.png" alt="user-notification" class="imagecover">

                               <% else%>
                                <%= image_tag  get_attachment(request,current_userd.avatar,"img"),:class => "imagecover" ,:alt => 'user-notification'%>
                                <%end %>
                             </figure>
                            <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= t('No Notifications') %></h5>
                        </a>
                        </li>

                        <% end %>

                


                            <% @notifications.limit(5).each do |notification| %>



                            <% @status = notification.stats.to_s.split('/') %>
        <% if notification.controller == "User_wallet_ballence/walletstransferpost" or notification.controller == "User_wallet_ballence_frozen"  %>   
        <% @shown_msg = t(@status[0]) + ' '+@status[1]+' '+t(@status[2]) + ' '+@status[3].to_s+ ' '+t(@status[4])+' '+@status[5].to_s %>
       
        <% elsif notification.controller == "balances_withdraws" or notification.controller == "chargecart" %> 
        <% @shown_msg = t(@status[0]) + ' '+@status[1]+' '+t(@status[2]) + ' '+@status[3].to_s %>

        <% elsif notification.controller == "users_bank" or notification.controller == "buycart" or notification.controller == "User_wallet_ballence/admin_wallet_edit_post" or notification.controller == "update_suspension_period" %>        
        <% @shown_msg = t(@status[0]) + ' '+ @status[1]  %>
       
        <% elsif notification.controller == "User_wallet_ballence"  %>   
        <% @shown_msg = t(@status[0]) + ' '+t(@status[1])  %>
        
        <% elsif notification.controller == "admin/edit_profile"  %>
        <% @shown_msg = t(@status[0])  %>

        <% elsif notification.controller == "userd"  %>
        <% @shown_msg = t(@status[0]) + ' '+ @status[1]  %>

        <% elsif notification.controller == "carts/cartbalancetouser" or notification.controller.to_s.split('/')[0] == "carts" %>
        <% @shown_msg = t(@status[0]) + ' '+ @status[1]  %>
        
        <% elsif notification.controller.to_s.split('/')[0] == "Onlinebanks"  %>
         <% if @status[0] == "payment request" %>
         <% @shown_msg = t(@status[0]) + ' ' + t('number') + ' ' + @status[1] + ' ' + t(@status[2]) + ' ' + @status[3] + ' USD' %>
         <% else %>
               <% @shown_msg = t(@status[0]) + ' ' + t('number') + ' ' + @status[1] %>              
         <% end %>
       

        <% elsif notification.controller == "failed signin" %>      
        <% @shown_msg = t(@status[0])+' ' + 'IP'+' ' + @status[1] +' '+ t('Device Type') + ' '+ @status[2]+' ' + t('Operating System') + ' '+ @status[3]+' '+ @status[4] +' '+t('Browser')+' '+ @status[5]%>  
        
        <% elsif notification.controller == "edit_not_activate_account" %>
           <% @shown_msg = "" %>
          <% if @status[1] != nil and @status[1] != "" %>
                <% @shown_msg +=  t(@status[1]) + " : " + @status[2] + " - " %>
          <% end %>
          <% if @status[4] != nil and @status[4] != "" %>
                <% @shown_msg +=  t(@status[3]) + " : " + @status[4] + " - " %>
          <% end %>
          <% if @status[6] != nil and @status[6] != "" %>
                <% @shown_msg +=  t(@status[5]) + " : " + @status[6] + " - " %>
          <% end %>
        <% else %>
        <% @shown_msg = notification.stats %>
        <% end %>



                <li class="notification_show" data= <%="/notifications/#{notification.id}"%> data2 = "<%= @shown_msg %>" notification-date="<%= notification.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>">


                            <a  href= '#'>

                                <figure>
                                        <% if current_userd.avatar == nil %>
                                <img src="<%= format_link(request) %>/blank-profile-pic.png" alt="user-notification" class="imagecover">

                               <% else%>
                                <%= image_tag  get_attachment(request,current_userd.avatar,"img"),:class => "imagecover" ,:alt => 'user-notification'%>
                                <%end %>
                                 </figure>
    <% @test = notification.controller %>
    <% if @test == "buycart" %>
    <a id="cart_details" href=<%= "/cartgen/" + notification.foreign_id.to_s %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
    
    <% elsif @test == "chargecart" %>
    <a href=<%= "/addbalance_show/" + notification.trans_id.to_s %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
    
    <% elsif (@test.to_s.split('/')[0] == "Onlinebanks")  %>
    <a  href=<%= "/onlinebanks/" + notification.foreign_id.to_s %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
   
    <% elsif (@test == "User_wallet_ballence_frozen" or @test == "update_suspension_period")  %>
    <a  href=<%= "/users_wallets_balances_frozens/" + notification.foreign_id.to_s %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
    
    <% elsif (@test.to_s.split('/')[0] == "balances_withdraws")  %>
    <a  href=<%= "/balances_withdraws/" + notification.foreign_id.to_s %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
    
    <% elsif (@test == "admin/edit_profile")  %>
    <a  href=<%= "/user_profile" %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>

    <% elsif (@test.to_s.split('/')[0] == "carts")  %>
    <a  href="<%= "/cart_preview?id=" + notification.foreign_id.to_s %>"><%= @shown_msg.first(25) + '...' %></a>
    
    <% elsif @test == "User_wallet_ballence/walletstransferpost" %>
    <a  href=<%= "/showtransfer/" + notification.trans_id.to_s %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>

    <% elsif @test == "User_wallet_ballence/admin_wallet_edit_post" %>
    <a  href=<%= "/edit_balance/" + notification.trans_id.to_s %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
   
    <% elsif @test == "userd" %>
    <a  href=<%= "/user_profile" %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
  
   <% elsif @test == "edit_activate_account" %>
    <a  href=<%= "/user_profile" %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= t(@shown_msg).first(25) + '...' %></a>
    
    <% elsif @test == "edit_not_activate_account" %>
    <a  href=<%= "/all_verifications" %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>

    <% elsif @test == "users_bank" %>
        <% @bank = UsersBank.find_by_id(notification.foreign_id) %>

        <% if (@test and notification.stats.to_s.split('/')[0] == "you have deleted this bank account")%>
        <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm deleted_wallet"><%= @shown_msg.first(25) + '...' %>
        <% end %>

        <% if @bank != nil %>
        <a  href=<%= "/users_banks/" + notification.foreign_id.to_s %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
        <% end %>

    <% elsif @test == "User_wallet_ballence" %>
        <% if (@test1 || notification.stats.to_s.split('/')[0] == "you have created")%>
            <% @wallet = UsersWalletsBalance.find_by_id(notification.foreign_id) %>
            <% if @wallet.is_deleted == 0 and @wallet.currency == 'USD'%>
            <a  href=<%= "/dollar_wallet" %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
            
            <% elsif @wallet.is_deleted == 0 and @wallet.currency == 'SAR'%>
            <a  href=<%= "/sar_wallet" %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
            
            <% elsif @wallet.is_deleted == 0 and @wallet.currency == 'EGP'%>
            <a  href=<%= "/egp_wallet" %>><h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%= @shown_msg.first(25) + '...' %></a>
            
            <% end %>
        <% end %>
        <% end %>

    <% if (@test == "User_wallet_ballence"  && notification.stats.to_s.split('/')[0] == "you have deleted")%>
        <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm deleted_wallet"><%= @shown_msg.first(25) + '...' %>
    <% end %>
    <% if notification.controller == "failed signin" %>   
       <h5 id ="failed_login" dd="<%= @shown_msg%>" class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm failed_signin"><%= @shown_msg.first(25) + '...' %>
    <% end %>

                <!--    <h5 class="text-blue font-bold sm-md-fontsize mrg-bottom-xs hlf-e-btm"><%# @shown_msg.first(25) + '...' %></h5> -->


                                <!-- <p id="fulltext" style="display:none;"><%= notification.stats %></p> -->

                                <p  class="sm-md-fontsize text-dgray font-weight-normal"><%= notification.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></p>
                            </a>



                           

                        </li>
                        <% end %>
                        <li class="options">
                            <%# debug (locale) %>
                                <%= link_to t('Mark all as Read'),  '/allread' , :class=>"btn text-blue text-hover-white hover-bg-brand mrg-left-xs radius-md border-blue sm-padding"  %>  
                                    
                                    
                               
                            <%# link_to "Arabic",  '?locale=ar' , :class=>"btn radius-md border-black hover-bg-brand bg-black mrg-left-xs text-white text-hover-white sm-padding"  %>  

                            
                        </li>

            </ul>
        </div>
    </div>
</header>
        <div class="padding-hor-md">
        <%# render :partial => 'layouts/upanelheader' %>



          <!-- ============================================================== -->
                   <!-- Start right Content here -->
                   <!-- ============================================================== -->

                  

                        
                         <%= yield %>
                           <%# render :partial => 'layouts/upanelside' %>

        <%# render :partial => 'layouts/upanelfooter' %>


        </div>


        <footer class="dashboard-footer sr-only-sm-xs">
                <div class="footer-language">
                    
                    <% if current_userd.locale == "ar" %>

                    <a href="/change_locale?locale=en"><i></i> English</a>

                    <% else %>
                    <a href="/change_locale?locale=ar"><i></i> عربي</a>

                    <% end %>

                
                </div>


                                                    
                                                    
                                               
                


                <p class="footer-copyright sm-sm-fontsize font-bold text-blue pull-left">
                        <%= t('All Rights Reserved Owned by Payers')%> @ <%= Time.current.year%>
                    </p>
            <ul class="footer-ul sm-sm-fontsize font-bold">
				<li><a href="https://support.payers.net/support/solutions" target="_blank"><%= t('How To Use') %></a></li>
			<li><a href="https://www.payers.net/privacy.html" target="_blank"><%= t('Privacy Policy') %></a></li>
			<li><a href="https://www.payers.net/money-laundry.html" target="_blank"><%= t('Money Landury') %></a></li>
		    </ul>

            </footer>


    </div>
    <div class="rocket-section">

        <div class="rocket-section-content">
            <ul class="rocket-list">
                <li>
                    <a href="<%= format_link(request) %>/help_center" class="btn sm-padding l-boxshadow bg-white text-blue radius-sm text-hover-white border-white  hover-bg-brand text-hover-white"><%= t('customer service')%></a>
                    <a href="" class="icon-a">
                        <i class="ico icon-Support"></i>
                    </a>
                </li>
                <li>
                    <a href="<%= format_link(request) %>/buycart" class="btn sm-padding l-boxshadow bg-white text-blue radius-sm text-hover-white border-white  hover-bg-brand text-hover-white"><%= t('Add Balance')%></a>
                    <a href="/buycart" class="icon-a">
                        <i class="ico icon-dollor"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="rocket-icon">
            <i class="ico icon-rocket"></i>
        </div>
    </div>


<!-- </div> -->



  <!-- <div class="alertmsg-10">
                        <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">
                            <span class="ico icon text-red">X</span>
                            <h5 class="sm-lg-fontsize text-dgray font-bold">ةيلمع ةحجان !</h5>
                            <p class="sm-md-fontsize text-mgray">ىوتحم ةلاسرلا ةرهاظلا ليمعلل نوكي انه.</p>
                            <span class="alert-close icon-Plus-white"></span>
                        </div>
                    </div>
                
                    -->


                     

<% flash.each do |name, msg| %>
<div class="alertmsg-10">
        <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs pull-left clearfix">
    <span class="ico icon ic-right text-green"></span>
    <h5 class="sm-lg-fontsize text-dgray font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h5>
    <p class="sm-md-fontsize text-mgray"><%= notice %></p>

    <span class="alert-close icon-Plus-white"><%# alert %></span>

    <!-- <span class="alert-close icon-Plus-white"><%# devise_error_messages! %></span> -->
    

    
    
</div>
</div>
<% end %>



<div id="failure-popup" class="selfpopup" style="display:none;">
    <div class="selfpopup-bg">
    </div>
    <div class="selfpopup-content">
        <div class="selfpopup-inner">
            <div class="selfpopup-middle">
                <div class="padding-all-sm">
                    <div class="cart-balance selfpopup-caption">
                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h4 class="icon-img-pp mrg-bottom-sm">
                                <img src="<%= format_link(request) %>/assets/imgs/error.png" alt="error">
                            </h4>
                            <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"> <%= t('Error Happened') %></h5>
                            <p id ="failure-messege" class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">

                                    <%# t("Data Entered Not For This Country") %>
                            </p>
                            <!-- <a href="#" class="btn md-padding radius-md border-brand text-brand text-hover-white hover-bg-brand">ةفاضإ ديصرلا</a> -->
                        </div>
                        <div class="crcl-animation">
                            <span class="lg-crcl"></span>
                            <span class="md-crcl"></span>
                            <span class="sm-crcl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="profile-popup" class="selfpopup" style="display:none;">
  <div class="selfpopup-bg">
  </div>
  <div class="selfpopup-content">
      <div class="selfpopup-inner">
          <div class="selfpopup-middle">
              <div class="padding-all-sm">
                  <div class="cart-balance selfpopup-caption">
                      <span class="close-popup"><i class="icon-Plus-white"></i></span>
                      <div class="pad-right-md pad-left-md radius-lighter" style = "max-height: 500px !importatnt;
                      max-width: 650px !importatnt;" >


                            <!-- <img id = "show_image" src="" alt=""> -->
                            <div id="img_div_load">


                            </div>
                      <%# image_tag  get_attachment(request,current_userd.avatar,"img"),:class => "imagecover",:alt => 'user-notification'%>

                      </div>
                      <div class="crcl-animation">
                          <span class="lg-crcl"></span>
                          <span class="md-crcl"></span>
                          <span class="sm-crcl"></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



  <div id="success-popup" class="selfpopup" style="display:none;">
    <div class="selfpopup-bg">
    </div>
    <div class="selfpopup-content">
        <div class="selfpopup-inner">
            <div class="selfpopup-middle">
                <div class="padding-all-sm">
                    <div class="cart-balance selfpopup-caption">
                        <span class="close-popup"><i class="icon-Plus-white"></i></span>
                        <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h4 class="icon-img-pp mrg-bottom-sm">
                                <img src="<%= format_link(request) %>/assets/imgs/check.png" alt="check">
                            </h4>
                            <h5 id ="success-messege" class="md-md-fontsize text-black font-bold mrg-bottom-sm"><%= t('Success Operation')%></h5>
                            <p id="success-messege-p" class="sm-sm-fontsize text-dgray font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">

                            </p>
                            <!-- <a href="#" class="btn md-padding radius-md border-brand text-brand text-hover-white hover-bg-brand">ةفاضإ ديصرلا</a> -->
                        </div>
                        <div class="crcl-animation">
                            <span class="lg-crcl"></span>
                            <span class="md-crcl"></span>
                            <span class="sm-crcl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="withdraw_note" class="selfpopup" style="display:none;">
<div class="selfpopup-bg">
</div>
<div class="selfpopup-content">
    <div class="selfpopup-inner">
        <div class="selfpopup-middle">
            <div class="padding-all-sm">
                <div class="email-config cart-balance selfpopup-caption">
                    <span class="close-popup"><i class="icon-Plus-white"></i></span>
                    <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h4 class="icon-img-pp mrg-bottom-sm">
                                    <img src="<%= format_link(request) %>/assets/imgs/error.png" alt="check">
                                </h4>

                               
                                <p class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
                                       
                                        <%= t('Before Withdraw Note') %>

        
                                            </p>

                    </div>
                    <div class="crcl-animation">
                        <span class="lg-crcl"></span>
                        <span class="md-crcl"></span>
                        <span class="sm-crcl"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div id="wallet_popup" >

             </div>


<div id="user_ticket_data" class="selfpopup problem" style= "display:none;">
        <div class="selfpopup-bg">
        </div>
            <div class="selfpopup-inner">
                <div class="selfpopup-middle">
                    <div class="padding-all-sm">
                        <div class="cart-balance selfpopup-caption">
                            <span class="close-popup"><i class="icon-Plus-white"></i></span>
                            <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <%= form_for :freshdesk , :url => freshdesk_path,:html => { :multipart => true } do |f| %>
                                <h5 class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal"><%= t('Problem Details Here') %></h5>
                                <div class="row">
                                <%=  f.hidden_field :trans_id, :required => true , step: :any, class: 'selfinput'%>
                                <div class="col-sm-10 col-xs-12">
                                    <div class="self-label">
                                            <label>
                                                <%=  f.text_field :title , :required => true , step: :any, class: 'selfinput'%>
                                                <span id="ticket_title_label" class="placeholder-span"><%= t('Ticket Address') %></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-xs-12">
                                        <div class="self-label">title
                                            <label>
                                                <%=  f.text_area :description , :required => true , step: :any, class: 'selfinput'%>
                                                <span class="placeholder-span"><%= t('description') %></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                    <button type="submit" class="btn md-padding radius-md border-brand hover-bg-brand text-hover-white text-brand bg-white"><%= t('Send Order Now') %>  </button>
                                <% end %>
                            </div>
                            <div class="crcl-animation">
                                <span class="lg-crcl"></span>
                                <span class="md-crcl"></span>
                                <span class="sm-crcl"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<div id="smss-form" class="selfpopup" style="display:none;">
<div class="selfpopup-bg">
</div>
<div class="selfpopup-content">
    <div class="selfpopup-inner">
        <div class="selfpopup-middle">
            <div class="padding-all-sm">
                <div class="email-config cart-balance selfpopup-caption">
                    <span class="close-popup"><i class="icon-Plus-white"></i></span>
                    <div class="bg-white padding-ver-lg pad-right-md pad-left-md radius-lighter">
                            <h4 class="icon-img-pp mrg-bottom-sm">
                                    <img src="<%= format_link(request) %>/assets/imgs/check.png" alt="check">
                                </h4>

                            
            

             <h5 class="md-md-fontsize text-black font-bold mrg-bottom-sm"><%= t("Verification Code has been sent")%></h5>

             <p class="sm-lg-fontsize text-black font-weight-normal mrg-bottom-md hlf-e-btm l-height-2">
             <%# t('to complete withdraw process to your number')%> 
             <span style='direction:ltr;' id="tel2"><%#current_userd.tel%></span>                                        

                 </p>


                          <!-- <div id="send" class="text-left">
                            <input id='sendcode' type="button" name="button" value="ارسال الكود" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm">
                        </div>
                         -->

                        <div id="resend" class="text-left" style=''>
                <input id='resendcode' disabled type="button" name="button" value="" class="btn-shadow radius-md btn text-white text-hover-white bg-black hover-bg-brand md-padding">
                        </div>
                        


                        <div id="timer" style="color:#000;" style="display: none;"></div>


                        <div id="verify_form" >

                                  <div class="self-label">
                                    <label>

                                        
                                        <input class="selfinput" id="entercodee" type="text" >
                                        <span class="placeholder-span">الكود</span>
                            <span id='wrong-messege' style="color:red;font-weight:bold ;display:none"></span>
                             <span id='true-messege' style="color:green;font-weight:bold ;display:none"></span>

                                    </label>
                                </div> 
                                
                                

                                <div class="text-left">
                                    <input type="button" id='verifycodee' name="button" value='<%=t("Activate")%>' class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-lg hlf-e-btm">
                                </div>

                                
                        </div>

                       

                        <%# end %>
                        
                    </div>
                    <div class="crcl-animation">
                        <span class="lg-crcl"></span>
                        <span class="md-crcl"></span>
                        <span class="sm-crcl"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    



<% @ticket_scriptt = t('Sorry this transaction has already been reported Please review your support center account') %>
<a ticket_script="<%= t('Sorry this transaction has already been reported Please review your support center account') %>" class="ticket_disabled" ></a>

 
             <div id="dataa" >

        </div>

<!-- || footer scripts start || -->








<!-- || footer scripts ends || -->


</body>


</html>

<div id="notification_form">


</div>



<script>

    $(document).ready(function() { 


        $("#profilepop").click(function()
        {

        var img =  $("#profilepop").attr("href");
        var all = img + " #img_div"


            $( "#img_div_load" ).load( all, function() {

                        $('#profile-popup').show();

                    });



        return false;
            
        });

$("#add_wallet").click(function() {


    $( "#wallet_popup" ).load( "/users_wallets_balances/new #new-wallet", function() {
        jQuery('select').niceSelect();
        
              $.getScript("<%= format_link(request) %>/assets/js/app.js");
    });
    return false;

    });

      


    var cart = "<%= params[:card_charged] %>";
   // console.log(cart);
    if (cart == "false" && cart != '') {

      $('#failure-messege').text("<%= flash[:error] %>");
      
      $('#failure-popup').show();


    }

        if (cart == "true" && cart != ''){

        $('#success-messege-p').text("<%=  flash[:alert]  %>");
        $('#success-popup').show();
        $('#failure-popup').hide();

        }

    // if (cart == '') {
      
    //     var success = "<%= @success_msg %>"
    //     var fail = "<%= @fail_messege %>"

        
    //     if (success != ''){

    //         $('#success-messege-p').text("<%=  @success_msg  %>");
    //         $('#success-popup').show();
    //         $('#failure-popup').hide();

    //     }

    //     if (fail != ''){

    //         $('#failure-messege').text("<%=  @fail_messege  %>");
    //         $('#failure-popup').show();
    //         $('#success-popup').hide();

    //     }
           
      
      
    //       }
  




        $(".notification_show").click(function()
        {

            var url = $(this).attr('data');
            var last=url+" #cart-balance"
            $( "#notification_form" ).load( last , function() {
                //$.getScript("/assets/js/app.min.js");

                });

        });


        $(".deleted_wallet").click(function()
        {

         var url = $('.notification_show').attr('data2');

        $('#success-messege').text(url);

        $('#success-popup').show();


           var url = $(this).attr('data');
            var last=url+" #cart-balance"

           $( "#notification_form" ).load( last , function() {

            });
        });


        $(".failed_signin").click(function()
        {

         var url = $(this).attr('dd');

        $('#failure-messege').text(url);

        $('#failure-popup').show();


        });
                            

        // $("#add_wallet2").click(function() {
        //     var urll = $(this).attr('href');
        //     var lastt =urll+" #new-wallet"
        //     alert(urll);
            
        //       $( "#wallet_popup" ).show();

        //   $( "#wallet_popup" ).load( lastt, function() {
        //     jQuery('select').niceSelect();
        //     $.getScript("<%= format_link(request) %>/assets/js/app.js");
        //                             });
        //                 return false;
        //                         });

    });


    $("img").lazyload();



</script>


<script>
  window.intercomSettings = {
    app_id: "llwmnt8f"
  };
</script>


<script>
  window.intercomSettings = {
    app_id: "llwmnt8f",
    name:  "<%= current_userd.username %>", // Full name
    email: "<%= current_userd.email %>", // Email address
    created_at: "<%= current_userd.created_at %>" // Signup date as a Unix timestamp
  };
  </script>
<script>
(function(){var w=window;var ic=w.Intercom;
if(typeof ic==="function"){ic('reattach_activator');
    ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};
    i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');
    s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/llwmnt8f';
    var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);
    }
    if(w.attachEvent){w.attachEvent('onload',l);
    }else{w.addEventListener('load',l,false);
    }}})()
    </script>
